[2020-04-08 14:19] mkukulka opened #4468 "Till when?"
Great promo. But till when it is available for deploy?

[2020-04-08 15:20] vphimmasone commented on #4449
Hi,
I have the same issue too -please advise

[2020-04-08 15:26] nomorephones commented on #3867
@scanum I'm not aware of any changes to data collection practices in Teams vs. Skype for Business.  Suggest reaching out to the client team for details here.

[2020-04-08 15:28] andocromn opened #4471 "64-bit installer should not install on 32-bit systems"
The machine wide 64-bit installer actually installs itself onto 32-bit systems, then the second stage fails to install because DUH - such bad code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version Independent ID: 86172986-6cc8-eee5-1309-704d9de0dcd0
* Content: [Install Teams

[2020-04-08 15:33] LanaChin commented on #4194
Followed up with PM.

[2020-04-08 15:34] LanaChin commented on #4179
Followed up with PM.

[2020-04-08 15:42] LanaChin commented on #4181
Followed up with PM.

[2020-04-08 15:46] LanaChin commented on #4228
Followed up with PM.

[2020-04-08 16:27] c016smith opened #4472 "Partner eCDN Support for Teams Live Events not present"
I have a RAMP eCDN installed and it does not work with Teams Live Events, purportedly because that endpoint is still using older Skype Meeting Broadcast backend. Can someone confirm if that is old information, because it isn't working for me with Ramp, and Ramp has told me it's a known issue with Microsoft and work that's in progress but not completed yet.
We are working out logistics right now fo

[2020-04-08 16:28] rburte-isp opened #4473 "Add info for Chromebook use"
Hi there,
given quarantine measures for the SAR-CoV-2/Coronovirus 2020 pandemic driving the use of Chromebooks, can you add official guidance on how to use Teams on them? Even if it's "Use the Android app" or "Use the web app".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Versio

[2020-04-08 16:28] TomoharuMisawa commented on #3569
Please give me System Audio Output Settings Capture at Chrome...

[2020-04-08 16:57] djuricin00 opened #4474 "Microsoft Teams possible error messages"
I would love to help people in this forum through this spreadsheet. You can see some of the most common errors that occur with Microsoft teams here: https://devicebase.net/en/microsoft-teams/questions/what-are-all-the-possible-mistakes-when-signing-up-for-teams/3w5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8c

[2020-04-08 17:22] tangx007 opened #4475 "The PowerShell command to update MTR software is not work"
https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-operations#to-update-using-powershell

## wrong powershell:
Add-AppxPackage -Update -ForceApplicationShutdown -Path '\\<share>\$oem$\$1\Rigel\x64\Ship\AppPackages\*\*.appx' -DependencyPath (Get-ChildItem '\\<share>\$oem$\$1\Rigel\x64\Ship\AppPackages\*\Dependencies\x64\*.appx' | Foreach-Object {$_.FullName})

after I run this command on M

[2020-04-08 17:54] BrianTJackett opened #4477 "Add note on "Manage via PowerShell" script that it enables other plans previously disabled"
The sample script for disabling Teams for all users has the inadvertent side effect of re-enabling any other plans that were previously disabled since they are not in the new list for -DisabledPlans.  I would recommend adding / expanding a note to call out this point.

For ref: https://docs.microsoft.com/en-us/microsoftteams/user-access#manage-via-powershell

---
#### Document Details

⚠ *Do not e

[2020-04-08 18:22] Air-Git opened #4478 "Misleading Heading"
The first sub-heading says: "to federate with Office 365". The details enable federation with ANY third party, and not specifically with "Office 365". Furthermore, they enable users of Skype for Business on premises to connect remotely into internal users.
If an organisation does not allow federation with third parties, what specific federation needs to be enabled for the Office 365 tenant?

---
#

[2020-04-08 19:07] Air-Git opened #4479 "Hybrid confusion."
The documentation is extremely confusing about whether you need to implement a SfB hybrid or not.
Co-existence modes only apply to chat and calls. In every co-existence mode except "Teams Only", chat and calls go to the SfB client. Hybrid implementation is not required for this (see page on [Meetings First](https://docs.microsoft.com/en-us/microsoftteams/meetings-first)

---
#### Document Details

[2020-04-08 19:36] mcantin opened #4480 "Correction on pin order"
https://docs.microsoft.com/en-us/microsoftteams/teams-app-setup-policies#can-users-change-the-order-of-apps-pinned-through-a-policy

I can reorder any app using drag and drop, regardless of if it's in a app setup policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f91604a-35b0-dfbb-55b2-b601cb0841b0
* Version Indepe

[2020-04-08 19:40] mcantin opened #4481 "Presedence on user pinning"
This documentation doesn't specify what can take precedence if users have personally pinned/unpinned apps before and after a new app setup policy is pushed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f91604a-35b0-dfbb-55b2-b601cb0841b0
* Version Independent ID: 84bcd0d7-b4ed-f13e-c84b-2ec6a7661ae9
* Content: [Mana

[2020-04-08 19:43] EricaToelle opened #4482 "eDiscovery Table is incorrect"
Hello, in the eDiscovery table, there are two products listed: in-place eDiscovery and Advanced eDiscovery. There is no product called in-place eDiscovery - I think you mean Core eDiscovery (E3). Both Core and Advanced eDiscovery use in-place eDiscovery, so this is very confusing as it implies Advanced eDiscovery is not in-place.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-04-08 19:58] CDCB0 commented on #4232
Similar to this, we had an issue last Friday through Teams meeting - some participants lost the ability of 'chat' function in Teams meeting. Does Teams meeting have any limitation on chat function when it goes over certain number of participants? We had about 50+ participants in the meeting.

[2020-04-08 20:11] glenrmag opened #4483 "Unclear what "Directory Tasks" mean on Statement 2"
"Guest users permissions are limited: This policy determines permissions for guests in your directory. Select Yes to block guests from certain directory tasks, like enumerating users, groups, or other directory resources. Select No to give guests the same access to directory data as regular users in your directory."
Q: What does "enumerating users, groups, or other directory resources." exactly do

[2020-04-08 20:19] Karspi commented on #4311
Please let me add my 2 cents here as I had a customer request regarding Microsoft Teams calendar with Exchange on-premises. I was able to access the user's calendar, create edit delete or join a meeting through Microsoft Teams with the mailbox on Exchange on-premises and no Exchange Full or Minimal hybrid configuration.
Many articles or colleagues pointing to implement Exchange hybrid to get the c

[2020-04-08 20:51] dariomws commented on #4079
Hi @rajkumardas2701, thank you for your feedback.

@CarolynRowe @jambirk could you kindly help to confirm? Thanks!

[2020-04-08 22:12] mariabarsema commented on #3785
Just like everyone else, I'm wondering why this feature is not available. As we are all now jumping in Teams due to COVID-19, it is maddening not knowing if a Team already exists. We have already had several instances of people creating new Teams unnecessarily because they were not Discoverable.

[2020-04-08 22:43] felgar73 commented on #4311
Thanks for the input Spikar!
My lab is showing strange results because I don’t have OAuth configured, but I do have hybrid and it works with Teams fine. That is just adding to my confusion.

-Felix G.

From: Karspi <notifications@github.com>
Sent: Wednesday, April 8, 2020 4:20 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Felix Garcia <felgar

[2020-04-08 22:59] jvolp commented on #4310
@scanum 10K+ accounts.  20 at a time not logistically possible.  Need another solution yesterday.  Why can't these be applied dynamically to Groups?

[2020-04-08 23:49] MicrosoftHeidi commented on #3540
@MSFTTracyP can you take a look at this? Is this now covered/surpassed by the Teams Security Guide? Thanks!

[2020-04-09 05:55] TakumaNakagame opened #4485 "Header display is wrong in Japanese"
## About
The following header is not displayed correctly.
It also occurred in the secret mode of the browser.

En: `Using the Microsoft Teams admin center`
Ja: `Microsoft teams 管理センターを使用した microsoft teams ロゴを示すアイコン`

![image](https://user-images.githubusercontent.com/5129906/78861972-27739200-7a71-11ea-890d-bd845e08d792.png)

## Envirouments
- Windows10 1909
- Chrome 80.0.3987.163

---
#### ドキュメント

[2020-04-09 07:49] teodordeaconescu commented on #4311
I might me wrong, but isn't this hybrid without running the HCW?
Anyway, imho it's easier to just run HCW :)

[2020-04-09 09:41] waelschakaki opened #4486 "Manage external IP mask"
Hello,
in all 3 examples you have used mask 32, and in the article it is stated
For IPv4, use mask 32. For IPv6, use mask 128
so i am not really sure if it is supported to use different bitmask to add ip range ? or must we use bitmask 32 for IPv4?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad0130c8-4343-ba04-cd55-0

[2020-04-09 10:07] Sdean1234 opened #4487 "Link does not resolve"
This link does not provide the page stated.

https://support.microsoft.com/office/change-participant-settings-for-a-teams-meeting-53261366-dbd5-45f9-aae9-a70e6354f88e

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92fcb1f6-5cc2-f6bd-cfa9-11d811f1dbf1
* Version Independent ID: 9a571e6d-8cb3-9ff8-a5c2-62deab1

[2020-04-09 10:10] Karspi commented on #4311
@felgar73 this is normal because when you configure Exchange Hybrid OAUTH is going to be automatically configured in the background. The main question here is if the implementation of Exchange minimal or full Hybrid is required to get that work, and with that I mean, being able to see your calendar over MS Teams client when your mailbox resides on-premises.

@teodordeaconescu yes and no, with thos

[2020-04-09 10:17] hyoshioka0128 commented on #3799
@OfficeGlobal, "Microsoft Teams ミーティング" needs to be replaced with "Microsoft Teams Rooms"

[2020-04-09 10:23] keijikomatsu opened #4488 "日本語誤記の修正依頼"
以下の誤記を修正お願いいたします。日本語トランスレートで誤記が発生しております。
誤記）この度の特別な E1 試用"板"ライセンスをご用意しています。
正) この度の特別な E1 試用版ライセンスをご用意しています。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 779619a7-95a8-c775-0538-4f07abb7067e
* Version Independent ID: cf930116-3d9d-2075-5291-f819cb17a234
* Content: [無料の Office 365 E1 試用版を管理する - Microsoft Teams](https://docs.microsoft.com/ja-jp/micro

[2020-04-09 10:24] hyoshioka0128 opened #4489 "[LOC]Back-Translation "Microsoft Teams ミーティング"→"Microsoft Teams Rooms""
related:"https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3799"

ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/rooms-lifecycle-support
![rooms-lifecycle-support_j](https://user-images.githubusercontent.com/40815708/78885373-6f0d1480-7a97-11ea-8c09-6a981bcf1a18.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-lifecycle-support
![rooms-lifecycl

[2020-04-09 10:30] hyoshioka0128 opened #4490 "[LOC]Back-Translation "Microsoft Teams ミーティング"→"Microsoft Teams Rooms""
related:"https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3800"

ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/rooms-release-note
![ooms-release-note_j](https://user-images.githubusercontent.com/40815708/78885967-7123a300-7a98-11ea-9e60-de18d574e48d.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-release-note
![ooms-release-note_e](https://u

[2020-04-09 10:31] hyoshioka0128 commented on #3800
@OfficeGlobal, Back-Translation "Microsoft Teams ミーティング"→"Microsoft Teams Rooms"

related:"https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/4490"

[2020-04-09 10:59] iamalexmang commented on #4181
@LanaChin, by PM are you referring to Program Manager or a Private Message which I'm not seeing anywhere?

[2020-04-09 11:14] jordi-j opened #4491 "Update storage section to include private channels"
Each private channel has its own separate SharePoint site collection, so the following assumption in the storage section is incorrect: "Each team in Microsoft Teams has a team site in SharePoint Online, and each channel in a team gets a folder within the default team site document library".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-04-09 12:21] c016smith opened #4492 ""Try it" button doesn't launch Teams app or website"
Error message is...
Skype for Business
Cannot perform the action because the related web page was not available from your Internet browser. If you have not selected a default web browser, please specify one in the Control Panel. Otherwise, if the problem continues, please contact your support team.
&lt;OK&gt;

I have enabled the notification policy for this particular user using a new so the notif

[2020-04-09 12:49] AlexJonesPP opened #4493 "Custom App in Teams Mobile"
Is there any method to add a custom app (canvas app) to Teams mobile application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b51eda6c-168c-7d99-7cc1-992b3d8feef2
* Version Independent ID: 118a1b8f-f4b7-a778-70b1-d3161fc548ab
* Content: [Manage app permission policies in Microsoft Teams - Microsoft Teams](https://do

[2020-04-09 12:55] estiller opened #4494 "Add a prerequisite - assign Microsoft as the audio conferencing provider"
I followed the steps on this guide; however, it resulted in various issues causing the assigned license not to work. After a lot of troubleshooting with Microsoft support, it turns out that the problem originated from the fact that the affected users had another audio conferencing provider set several years ago. This page should list setting Microsoft as an audio conferencing provider as a prerequ

[2020-04-09 12:59] aalejandroaraujo commented on #4454
Greganth is right, please fix this ASAP. Thanks!

[2020-04-09 13:14] uhcel opened #4495 "When will Cisco SBCs be Certified for Direct Routing"
Hello Team,
Do you know when Cisco SBCs will finally be certified for Direct Routing with MsTeams?
As per this doc, the certification has started but I'm interested to know when it will be on the list above?

https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-amp-cisco-partner-to-simplify-meetings-and-calling-for/ba-p/971835

Leszek

[2020-04-09 13:14] uhcel opened #4496 "When will Cisco SBCs be Certified for Direct Routing"
Hello Team,
Do you know when Cisco SBCs will finally be certified for Direct Routing with MsTeams?
As per this doc, the certification has started but I'm interested to know when it will be on the list above?

https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-amp-cisco-partner-to-simplify-meetings-and-calling-for/ba-p/971835

Leszek

---
#### Document Details

⚠ *Do not edit thi

[2020-04-09 13:48] kw-work commented on #4409
Yes, more details would be helpful. We do not have Stream enabled and users are recording in Teams.  Recordings are available in Teams, but for how long?  Where are they stored?  Can they shared/downloaded/moved to OneDrive? If they expire, how long are they available via eDiscovery?

[2020-04-09 13:56] felgar73 commented on #4311
I have mixed Exch with 2010, so OAuth was not configured. I confirmed this by checking intraorg connector settings (blank) and checking for Auth server (‘get-authserver’ also blank).

I don’t get the calendar tab in Teams client as expected, but I can create meetings via Outlook Proplus.

-Felix G.

From: Spiros Karampinis <notifications@github.com>
Sent: Thursday, April 9, 2020 6:11 AM
To: Micros

[2020-04-09 14:00] olamer opened #4497 "How to update the purchase order in auto-recharge scenarios for EA customers?"
The documentation says for EA customers, "you will also be given an opportunity to specify a purchase order number to associate with the enterprise agreement number (if applicable)". But in scenario where there is "auto-recharge" enabled and over years the specified purchase order is no more valid, it seems it cannot be updated. What is the process in that case to ensure it can be invoiced on corr

[2020-04-09 14:00] weyCC81 commented on #4184
@Reeced40 Which commit are you talking about? I can not find any changes which relate to new powershell scripts/commands.

[2020-04-09 15:35] krisztian-andre opened #4498 "Set-CsOnlineVoiceApplicationInstance: command not found"
I am connected to Teams and can execute get-team, but

PS C:\WINDOWS\system32&gt; Set-CsOnlineVoiceApplicationInstance
Set-CsOnlineVoiceApplicationInstance : The term 'Set-CsOnlineVoiceApplicationInstance' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
A

[2020-04-09 17:19] Dmitresky opened #4499 "What about a bot? Is it possible to make the bot built-in?"
Is it possible to create a bot that is a member of each chat inside of the tenant? Group chat or private, it doesn't matter. I need a possibility to type to the bot from any channel and bot should answer me on that channel. What is more, I shouldn't install the bot myself. It should be built-in or should be added automatically when a channel is created.

---
#### Document Details

⚠ *Do not edit t

[2020-04-09 17:52] #3539 closed

[2020-04-09 18:22] MSFTTracyP commented on #4369
Thank you so much @smearp! The author, herself, logged in and fixed it. That OAuth information wound up threaded across the document. Thank you for your sharp eyes and that catch!

[2020-04-09 18:29] pabloemmanueldeleo commented on #4320
When you think that option is done? Is very important.

[2020-04-09 19:23] krisztian-andre commented on #4498
You can mark this as closed now. The cause was that voice functions are still in the Skype module not in the Teams module.

To configure a call queue you need to:

1. Create a Resource Account of Call Queue type
2. Create a service number
3. Purchase a Phone System - Virtual User license in Purchase service ->bottom of the page -> addons
4. Assign the license to the Resource Account
5. Set the loc

[2020-04-09 20:28] stevengibbszions opened #4500 "Control Bar blocks content when screen sharing"
When viewing screen shares the content is repeatedly and frequently blocked by the fix audio control bar in the bottom center of the screen.  Is there an open issue for this already?  I could not find one.  Is this on the radar to be fixed?

Expected result:  A user can toggle the control bar on/off or dock to one side or the other.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-04-09 22:10] FrankCarius opened #4503 "172.16.x.x as sample for a public IP is misleading"
You should not use private ip addresses in samples like

New-CsTenantTrustedIPAddress -IPAddress 172.16.240.110 -MaskBits 32 -Description "Vietnam site trusted IP"
New-CsTenantTrustedIPAddress -IPAddress 172.16.240.120 -MaskBits 32 -Description "Indonesia site trusted IP"
New-CsTenantTrustedIPAddress -IPAddress 172.16.240.130 -MaskBits 32 -Description "Singapore site trusted IP"

You should use "s

[2020-04-09 22:32] dstrome commented on #4079
Yes, Lync 2013 is supported.

[2020-04-09 22:32] #4079 closed

[2020-04-09 23:01] dstrome commented on #4297
You can use PowerShell to grant a policy package to multiple users. See https://docs.microsoft.com/en-us/powershell/module/teams/grant-csuserpolicypackage?view=teams-ps

Policy packages can't be renamed, and new packages can't be created. You can change the configuration of policies added to a policy package by first assigning to a user and then going to Policy packages > (package name) > (policy

[2020-04-09 23:01] #4297 closed

[2020-04-09 23:09] dstrome commented on #4015
hi @trudolf-msft - Thanks for the feedback. We don't document developer scenarios in this content. Please see https://docs.microsoft.com/en-us/microsoftteams/platform/ for developer content. thanks.

[2020-04-09 23:09] #4015 closed

[2020-04-09 23:17] dstrome commented on #3935
hi @jstrong013 Thanks for the feedback. The required network ports, protocols, and IP address ranges can be found by following this link in the Firewall considerations section

For more information, including details about ports and protocol requirements, see [Office 365 URLs and IP address ranges](https://go.microsoft.com/fwlink/p/?LinkId=252942).

[2020-04-09 23:17] #3935 closed

[2020-04-09 23:32] dbetlow opened #4505 "Preview still?"
When will this come out of preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5920152-5fee-41ed-56df-ad7b51b25cc2
* Version Independent ID: 88cfc850-5e36-48ee-ba99-088b2b653f1e
* Content: [Manage discovery of private teams in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/manag

[2020-04-10 00:15] #4369 closed

[2020-04-10 00:19] LanaChin commented on #4194
Thanks for your feedback and helping to improve our docs, @adyst.  @Reeced40, thanks for your research into this.  Both articles have been updated to reflect limits for tags:

- https://docs.microsoft.com/microsoftteams/limits-specifications-teams#tags
- https://docs.microsoft.com/microsoftteams/manage-tags

[2020-04-10 00:19] #4194 closed

[2020-04-10 07:06] mitanabe opened #4506 "Issue of "User Profile Photos" is resolved now"
In the following UserVoice, it was announced that the issue of "User Profile Photos" was resolved.
Uploading user profile photo can be controlled with OWA Mailbox Policy setting now.

https://microsoftteams.uservoice.com/forums/555103-public/suggestions/18600505-disable-user-ability-to-change-profile-photos

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-04-10 07:38] bkeski commented on #4379
I have >600 customers (tenants), none of them have EA - so how long this Teams Exploratory lasts? How is possible to make Teams Exploratory available to all customers but not to know how long this trial lasts (except for EA cutomers)?

[2020-04-10 10:51] lindspea commented on #4449
@vnewbaker-bw thank you for reaching out and helping to improve MS Docs. The article was updated 2 days ago. Please let me know if you need any more assistance.

[2020-04-10 12:32] lindspea commented on #4379
@LolaJacobsen could you perhaps assist with the answer please?  Is it the same 1 -year trial as the Microsoft Teams Commercial Cloud Trial was?

[2020-04-10 16:53] lsmorgan opened #4507 "Typos in blue 'important' box under "Configure user experiences using policies""
1) "Automatically admin people" should be "Automatically admit people"
2) ."...non-authenticated users are must..." should just be "must"
3) For EDU, the student scenario should also be addressed here, not just non-authenticated users

Current text: For meeting policies assigned to any users, we recommend setting the "Automatically admin people" setting to "Everyone in your organization". This set

[2020-04-10 17:06] LanaChin commented on #4181
Hi @iamalexmang - I'm referring to the Program Manager. :-)

[2020-04-10 18:26] wcvanzyl opened #4508 "Notes section error"
In the notes section discussing the difference between ALLUSERS=1 and ALLUSER=1 the last sentence is confusing:
"...and the ALLUSER=1 parameter is used only in VDI environments to specify a per-machine installation". Generally VDI is used in the context of a persistent "Personal Desktop" and without this reference the sentence is misleading. The per-machine based installed refers to RDSH/Pooled WV

[2020-04-10 19:05] MicrosoftHeidi commented on #4507
I've updated this.

[2020-04-10 19:05] #4507 closed

[2020-04-10 21:51] MSFTTracyP commented on #3540
@GiantCrocodile First, thanks for your question! It just so happens that some of the questions in this thread are already tackled in the Teams Security Guide, here: https://docs.microsoft.com/en-us/microsoftteams/teams-security-guide. There is a dedicated Encryption section that goes into Teams methodology. While its somewhat difficult to put a pin in a changing and growing service, this guide doe

[2020-04-10 23:03] scanum commented on #4459
@tangx007 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-10 23:03] #4459 closed

[2020-04-10 23:03] scanum commented on #4461
@bgpaglia thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-10 23:03] #4461 closed

[2020-04-10 23:03] scanum commented on #4463
@adamabbate-q thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-04-10 23:03] #4463 closed

[2020-04-10 23:03] scanum commented on #4464
@robinwhittleton thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-10 23:03] #4464 closed

[2020-04-10 23:04] scanum commented on #4468
@mkukulka thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-10 23:04] #4468 closed

[2020-04-10 23:07] scanum commented on #4471
@andocromn thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-10 23:07] #4471 closed

[2020-04-10 23:07] scanum commented on #4472
@c016smith thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-10 23:07] #4472 closed

[2020-04-10 23:08] scanum commented on #4474
@djuricin00 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-10 23:08] #4474 closed

[2020-04-10 23:24] scanum commented on #4475
@tangx007 duplicate

[2020-04-10 23:49] scanum commented on #4506
@mitanabe thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-10 23:49] #4506 closed

[2020-04-10 23:50] scanum commented on #4505
@dbetlow thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-10 23:50] #4505 closed

[2020-04-10 23:50] scanum commented on #4500
@stevengibbszions thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-10 23:50] #4500 closed

[2020-04-10 23:50] scanum commented on #4499
@Dmitresky thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-10 23:50] #4499 closed

[2020-04-10 23:50] scanum commented on #4498
@krisztian-andre thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-10 23:50] #4498 closed

[2020-04-10 23:50] scanum commented on #4497
@olamer thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-04-10 23:50] #4497 closed

[2020-04-10 23:50] scanum commented on #4496
@uhcel thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-04-10 23:50] #4496 closed

[2020-04-10 23:51] scanum commented on #4495
@uhcel thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-04-10 23:51] #4495 closed

[2020-04-10 23:51] scanum commented on #4493
@AlexJonesPP thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-10 23:51] #4493 closed

[2020-04-10 23:51] scanum commented on #4492
@c016smith thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-10 23:51] #4492 closed

[2020-04-10 23:52] scanum commented on #4490
@officeglobal Could you please help with this issue? thanks!

[2020-04-10 23:52] scanum commented on #4489
@officeglobal Could you please help with this issue? thanks!

[2020-04-10 23:52] scanum commented on #4488
@officeglobal Could you please help with this issue? thanks!

[2020-04-10 23:53] scanum commented on #4487
@Sdean1234 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-10 23:53] scanum commented on #4486
@waelschakaki thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-04-10 23:53] #4486 closed

[2020-04-10 23:54] scanum commented on #4485
@officeglobal Could you please help with this issue? Thanks.

[2020-04-10 23:55] scanum commented on #4460
@nielsbrinch2  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4467
@LoremanReturns  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4473
@rburte-isp  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4475
@tangx007  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4477
@BrianTJackett  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4478
@Air-Git  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4479
@Air-Git  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4480
@mcantin  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4481
@mcantin  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4482
@EricaToelle  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4483
@glenrmag  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:55] scanum commented on #4487
@Sdean1234  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:56] scanum commented on #4491
@jordi-j  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:56] scanum commented on #4494
@estiller  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:56] scanum commented on #4503
@ Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-10 23:56] scanum commented on #4508
@wcvanzyl  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-11 06:36] sowjanya365 commented on #3854
Hi @richeklund

Thank you for reaching out!

I would suggest you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please keep us posted here on t

[2020-04-11 06:51] sowjanya365 commented on #4057
Hello @Petri-X

Thank you for reaching out.

For more details on this topic, please refer to the following documentation.

https://docs.citrix.com/citrix-virtual-apps-desktops/multimedia/opt-ms-teams.html

Hope this helps. Thank you!

[2020-04-11 07:07] sowjanya365 commented on #4058
Hi @Larryngolog

Thank you for reaching out!

We see that the links are working fine on our end. Could you please recheck and let us know if you still see this issue on your end.

Thank you so much for your patience. Looking forward to your response. Thank you!

[2020-04-11 07:08] sowjanya365 commented on #4059
Hi @aamillerMSFT

Thank you for reaching out!

We see that the links are working fine on our end. Could you please recheck and let us know if you still see this issue on your end.

Thank you so much for your patience. Looking forward to your response. Thank you!

[2020-04-11 07:47] sowjanya365 commented on #4063
Hi @MaxiPigna

Thank you for reaching out!

As per the following roadmap document, we should be able to see this feature by now. Could you please recheck and let us know your feedback.

https://www.microsoft.com/microsoft-365/roadmap?filters=Microsoft%20Teams&searchterms=manage%2Capps

Looking forward to your response. Thank you!

[2020-04-11 08:25] arsham84 opened #4509 "Guest User Teams Licences..."
I need to invite about 30 people to my team as guests. Do I need to buy licences for them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048930a4-fdf2-9a90-3b47-46af66db3db4
* Version Independent ID: 8d6a2c84-94e9-b17e-f5c1-91191187ce4e
* Content: [What the guest experience is like - Microsoft Teams](https://docs.micr

[2020-04-11 10:03] tangx007 commented on #4475
Thanks to reopen it.

[2020-04-11 10:09] tangx007 commented on #4459
Would you pls reopen this issue? My concern is : this page is not list the latest MTR version (4.4.25.0) for the reader to reference, they would confuse what OS build they should use to create the MTR imgae.

Under that page, the latest MTR version showed is 4.2.4.0, but from CreateSrsMedia.ps1 now only can download MTR version is 4.4.25.0

[2020-04-11 10:11] tangx007 commented on #4384
Thanks, and pls help to improve it.

[2020-04-11 10:11] tangx007 commented on #4319
any update ?

[2020-04-11 13:18] BTaino opened #4510 "link is not working for he Netherlands (non-geographic numbers)"
this link is not working for the Netherlands (non-geographic numbers)
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/downloads/LOA-forms/letter-of-authorization-(loa)-for-the-netherlands-(non-geographic-numbers)-(v.2.0)-(nl-nl).pdf?raw=true

Is there another way to get it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-11 13:31] andocromn commented on #4471
@scanum I do not require "**service**" and **"I"** do not have an issue, the issue is Microsoft's and I was merely trying to help.  This is also the 3rd time I've made attempts in this manor and every response I've received I would categorize as **Denial of Responsibility**.

_Quite frankly if you don't want to drink the water there is also the glue factory_

[2020-04-11 14:24] richeklund commented on #3854
Hello, I did reach out to support for the Logitech Tap and was told it is currently not supported by the script. So if one of these systems require re-imaging there is no proper fix. Logitech provided a workaround, but the end result is not identical to the OEM image and they won’t support the issues with their workaround.

[2020-04-11 14:38] giterdn opened #4511 "Dial pad"
This article should describe what to do if the number you call, to add a participant, requires you to open the dial pad to navigate through an IVR menu in order to get to the individual’s line. I find that once I’ve entered the 10-digit phone number and am connected to the IVR the dial pad is available to me but pressing and of the dial pad buttons does nothing and I don’t understand why

---
####

[2020-04-11 17:11] Karspi commented on #3735
@larsdemo123 please provide us the article were states that Teams and Exchange on-premise without hybrid is not supported. Allow me to add my two cents regarding that, you can have the calendar in MS Teams with Exchange on-premises and without any hybrid configuration, this is not needed therefore not stated in this article. The following steps are needed to get that work :

What here truly is nee

[2020-04-11 17:33] larsdemo123 commented on #3735
like i write before
If you watch this video from 54:00
https://www.youtube.com/watch?v=V6B4KraD-FM
You see that Teams and Exchange on-premise without hybrid is not supported according to Microsoft
It is the last line in the picture in 54:00

[2020-04-11 17:40] larsdemo123 commented on #4311
![image](https://user-images.githubusercontent.com/62933188/79050730-42d6cc80-7c2c-11ea-8888-e3169ad77dbf.png)

[2020-04-11 18:12] challengelogic opened #4512 "Isnt it 'Advanced' not 'Advance' Threat Protection"
Isnt it 'Advanced' not 'Advance' Threat Protection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca579d63-182b-d6f5-8777-79248fa27ed9
* Version Independent ID: b4c27d1b-b2f1-41ac-b15c-d12b448a539e
* Content: [Overview of security and compliance - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/securit

[2020-04-11 19:40] Ayanmullick opened #4513 "IP camera configuration"
How could one use an IP camera with Teams? Is there a way to specify the IP cam details in the `SkypeSettings.xml` configuration file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a70665-5bf1-14f7-1df0-7596effcaf48
* Version Independent ID: 813cf005-2777-9419-d1ce-3f9401ac267c
* Content: [Remotely manage Microsoft

[2020-04-11 20:44] dariomws commented on #3735
From the video:
![image](https://user-images.githubusercontent.com/33589238/79054538-013e2580-7c1c-11ea-9410-990ddad46496.png)

@dstrome could you kindly help us? Thanks!

[2020-04-12 06:18] hyoshioka0128 opened #4514 "[LOC]Back-Translation "ごみ箱"→"Yealink""
ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/requirements
![requirements_j](https://user-images.githubusercontent.com/40815708/79061967-b9c5a100-7cd0-11ea-8f0b-0ef4f7daa62d.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/requirements
![requirements_e](https://user-images.githubusercontent.com/40815708/79061970-c0541880-7cd0-11ea-8d84-d3f9783a4734.png)

---
#### ドキュ

[2020-04-12 06:32] tangx007 commented on #4316
any update?

[2020-04-12 06:33] tangx007 commented on #4317
any update?

[2020-04-12 17:32] sowjanya365 commented on #4078
Hi @rajkumardas2701

Thank you for reaching out!

Yes, as mentioned in the article cloud auto attendants can be configured with Skype for Business Server 2019, 2015, and 2013.

Hope this clarifies your query. Thank you!

[2020-04-12 17:39] sowjanya365 commented on #4085
Hi @AlexSchwerzmann

Thank you for reaching out!

Kindly refer to the following article for the supported browsers.

https://support.microsoft.com/en-us/office/use-teams-on-the-web-33f84aa9-2e8b-47ac-8676-02033454e385?ui=en-us&rs=en-us&ad=us

Thank you!

[2020-04-12 17:46] sowjanya365 commented on #4100
Hi @OfficeGlobal @scanum

Link is navigating to the correct article and I don't find any issue now. Kindly verify and let me know if there are any issues. Thank you!

[2020-04-12 17:58] sowjanya365 commented on #4107
Hi @scanum

Good Day!

Could you please let the document owner know that the link to "Network Readiness Assessment"(https://go.microsoft.com/fwlink/?linkid=855800) doesn't work.

Thank you!

[2020-04-12 18:02] sowjanya365 commented on #4076
Hi @gkens

Thank you for reaching out!

Please refer to the following article for how a guest joins a team.

https://docs.microsoft.com/microsoftteams/guest-joins#how-a-guest-becomes-a-member-of-a-team

Hope this helps. Thank you!

[2020-04-12 18:07] sowjanya365 commented on #4066
Hi @rickleye

Thank you for reaching out!

This doesn't apply to the Mac OS systems.

Hope this clarifies. Thank you!

[2020-04-12 18:09] rickleye commented on #4066
Okay. Noted. Could a Note be included on the article as such.

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: sowjanya365 <notifications@github.com>
Sent: Sunday, April 12, 2020 2:08:06 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Richard Ojeleye <richard@voltronlions.com>; Mention <mention@noreply.

[2020-04-12 18:22] sowjanya365 commented on #3268
Hi @kjulson

Thank you for reaching out!

Hope your query is clarified. Let me know if you are still looking for help. Thank you!

[2020-04-12 18:25] sowjanya365 commented on #3847
Hi @AlexanderSaad

Thank you for reaching out!

I see that the PR(#3846) status as merged now. Hope this helps. Thank you!

[2020-04-12 20:08] EliasKaplan opened #4515 "Instructions to enable Teams en Microsoft 365 admin center are incorrect, also incorrect for Teams admin"
The new experience in Admin Center is quite different,
Need to
1) Expand
2) Settings
3) Setting again (Not  in Add-Ins?)

Experience is very very hard for users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5473bf0-ba2d-6c42-d57d-b61af64452d3
* Version Independent ID: 7195478d-3ef4-be8c-2920-3fdba3e70c7e
* Content: [

[2020-04-12 20:09] EliasKaplan commented on #4115
Please update with correct instructions for old and new admin center.
Also teams instructions are incorrect, only expereinced users can find it

[2020-04-12 20:14] EliasKaplan commented on #4515
In teams admin center there is no way to turn on Teams for all users, there is no "services and add-ins", mixed with instyructions fro M365

[2020-04-13 01:57] seanyb88 opened #4516 "Cannot use Planner with Private Channel"
Re-posting this question as it seems no official response from Microsoft on an ETA.

It has been over 9months since Private Channel functionality was brought in, but still no Support for Planner.

On MS Teams UserVoice, there is over 1600 Votes for this feature and nearly 300 Comments, yet still no official acceptance by Microsoft if this is currently being worked on and any potential ETA.

https:

[2020-04-13 08:06] scanum commented on #4511
@giterdn Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:06] scanum commented on #4510
@BTaino Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:07] scanum commented on #4512
@challengelogic Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:07] scanum commented on #4513
@Ayanmullick Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-13 08:07] scanum commented on #4513
@Ayanmullick thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-13 08:07] #4513 closed

[2020-04-13 08:08] scanum commented on #4515
@EliasKaplan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-13 08:08] #4515 closed

[2020-04-13 08:08] scanum commented on #4516
@seanyb88 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-13 08:08] #4516 closed

[2020-04-13 08:08] scanum commented on #4514
@officeglobal Could you please help on this issue? Thanks!

[2020-04-13 11:09] LoremanReturns commented on #4467
@scanum thanks for your response, in the meanwhile i investigated the configuration. Different from Skype for Business, these settings are applied per-user. This means that the setting, such as "allow an external participant to give or request control", is applied to the Teams User for any internal or external meeting. I solved my doubt, thanks!

[2020-04-13 12:27] algalakt commented on #4107
hello colleagues, same query here - the link to Network Readiness Assessment does not work (https://www.skypeoperationsframework.com/Offers?pageState=NetworkReadiness). I have seen that it was under the investigation a month ago, is there any ETA yet? Thank you

[2020-04-13 13:42] teomonda opened #4518 "Licensing for Guest presenters in a live event"
Please add information regarding Guest presenter capabilities and licensing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-60a2cf999f69
* Version Independent ID: 6878c954-e248-94c2-7602-47437ec7a2dd
* Content: [Plan for live events in Microsoft Teams - Microsoft Teams](https://docs.microsoft.co

[2020-04-13 13:59] vnewbaker-bw commented on #4449
I looked over the docs and I still don't see any mention of direct routing phone numbers and where to find them in the teams admin portal.

[2020-04-13 14:43] aamillerMSFT commented on #4059
they look good now. thanks.

[2020-04-13 14:43] #4059 closed

[2020-04-13 15:48] kenwith commented on #4293
@TorrenManson thank you for taking the time to open an issue. The docs get better when experts like you share your knowledge and feedback. I appreciate it. I have added Linux to the list of scenarios where Mac and mobile are called out as those environments don't use group policy. Here is a link to the PR: https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/4519 Thanks again and let

[2020-04-13 15:48] #4293 closed

[2020-04-13 16:11] HernanTovar commented on #4447
Is there any way to set the video screen to see more than 4 participants?

[2020-04-13 16:27] GASPowered commented on #4518
I also need this information on this. We experienced login issues with our guest presenters. They described a "login loop" on their end.

[2020-04-13 16:57] trudolf-msft commented on #4015
Thanks for your response. It's not a question for devs but network admin which ports are needed (ExO Hybrid scenario).

[2020-04-13 17:46] GASPowered commented on #4518
I found a workaround. I created a Team just to invite the guest presenters. Once they connected to the Team, their guest accounts were added to our tenant. They were then able to join the Live Event as presenters.

I would love to see the recommended procedure for ensuring that guest presenters are able to join Live Events without this step.

[2020-04-13 19:23] j0rt3g4 opened #4521 "¿es 4, 5 ó 4.5? (is it 4, 5 or 4.5?)"
Cantidad máxima de eventos simultáneos en vivo por cada inquilino de Office 365 4,5
Maximum live event in parallel with O365, is it 4, 5 or 4,5 ?

How do we get this limit if it's 4 or 5, and in case that is required, how can this be increased?
(since it has been increased the demand of Ms Teams worldwide with the Coronavirus).

---
#### Detalles del documento

⚠ *No edite esta sección. Se requier

[2020-04-13 20:28] taromielnaz opened #4522 "Automatically admit people"
Hello,
Although I set the policy to "Everyone in your organization and federated organizations" in Global(Org-Wide default) policy, individual users see this setting to everyone in their meeting option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc665475-f843-e4c1-0ca6-0b83873abb54
* Version Independent ID: 95d3259

[2020-04-13 23:24] v-chwebb commented on #4058
Could someone please clarify the statement about 'pay-per-minute' licenses and Communication Credits licensing? The 1st reference mentions having licensing assigned for each user, and the 2nd reference mentions 'no CommCredit' licenses need be assigned for Pay-per-min'  (possibly, meaning only the 'pay-per-min' licenses need assigned for each user, thus a restructure of the sentence should end wit

[2020-04-13 23:25] v-chwebb commented on #4058
"…Pay-per-minute requires a license assigned to each user, and for your organization to have Communications Credits enabled, in order for Audio Conferencing to work…"

[2020-04-13 23:29] LanaChin commented on #4208
@geektbee - thanks so much for your feedback and helping us to improve our docs. These articles have been updated to clarify which reporting access for admin roles:

- https://docs.microsoft.com/microsoftteams/teams-analytics-and-reports/teams-reporting-reference
- https://docs.microsoft.com/MicrosoftTeams/using-admin-roles

[2020-04-13 23:29] #4208 closed

[2020-04-14 03:27] scanum commented on #3268
@kjulson https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3384

[2020-04-14 03:27] #3268 closed

[2020-04-14 03:27] scanum commented on #3412
@LanaChin Any update? Thanks!

[2020-04-14 03:28] scanum commented on #3540
@GiantCrocodile Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:28] #3540 closed

[2020-04-14 03:28] scanum commented on #3562
@CarolynRowe Hi could you please assist with this issue? Thanks!

[2020-04-14 03:29] scanum commented on #3581
@ruizoscar - Any updates on this? Thanks

[2020-04-14 03:29] scanum commented on #3590
@kenwith Hi Ken! Any update on this issue? Thanks!

[2020-04-14 03:29] scanum commented on #3602
@LanaChin Were you able to find anything out?

[2020-04-14 03:30] scanum commented on #3798
@hyoshioka0128 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:30] #3798 closed

[2020-04-14 03:31] scanum commented on #3801
@OfficeGlobal Any update on this? Thanks!

[2020-04-14 03:31] scanum commented on #3847
@AlexanderSaad Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:31] #3847 closed

[2020-04-14 03:31] scanum commented on #3851
@MicrosoftHeidi Hi! any updates on the issue? Thanks!

[2020-04-14 03:32] scanum commented on #3854
@richeklund thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-14 03:32] #3854 closed

[2020-04-14 03:34] scanum commented on #3867
@nomorephones Thank you! Will do.

[2020-04-14 03:34] scanum commented on #3884
@LanaChin any update yet?

[2020-04-14 03:36] scanum commented on #4057
@Petri-X thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-14 03:36] #4057 closed

[2020-04-14 03:36] scanum commented on #4063
@techmastermike thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-14 03:36] #4063 closed

[2020-04-14 03:36] scanum commented on #4066
@rickleye thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-14 03:36] #4066 closed

[2020-04-14 03:37] scanum commented on #4076
@gkens thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-04-14 03:37] #4076 closed

[2020-04-14 03:37] scanum commented on #4078
@rajkumardas2701 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-14 03:37] #4078 closed

[2020-04-14 03:37] scanum commented on #4085
@AlexSchwerzmann thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-14 03:37] #4085 closed

[2020-04-14 03:38] scanum commented on #4107
@LanaChin Hi Lana! The link to "Network Readiness Assessment"(https://go.microsoft.com/fwlink/?linkid=855800) doesn't work. Could you please aid with next steps? Thanks!

[2020-04-14 03:41] scanum commented on #4157
@officeglobal Could you please help with this issue? Thanks

[2020-04-14 03:41] scanum commented on #4175
@jackhammer84 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:41] #4175 closed

[2020-04-14 03:43] scanum commented on #4221
@anwarmahmood1 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:43] #4221 closed

[2020-04-14 03:43] #4225 closed

[2020-04-14 03:44] scanum commented on #4267
@OfficeGlobal  Any update on this issue? Thanks

[2020-04-14 03:45] scanum commented on #4320
@officeglobal Could you aid with this issue? Thanks!

[2020-04-14 03:46] scanum commented on #4355
@sohailmerchant Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:46] #4355 closed

[2020-04-14 03:46] scanum commented on #4360
@eschrader Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:46] #4360 closed

[2020-04-14 03:47] scanum commented on #4375
@aosolis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:47] #4375 closed

[2020-04-14 03:47] scanum commented on #4377
@Cdenby We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:47] #4377 closed

[2020-04-14 03:48] scanum commented on #4381
@fvanrijt Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:48] #4381 closed

[2020-04-14 03:49] scanum commented on #4388
@kevinpartington-tr Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:49] #4388 closed

[2020-04-14 03:49] scanum commented on #4402
@YuriHerman Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:49] #4402 closed

[2020-04-14 03:49] scanum commented on #4405
@TheResearcher-Hub We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:49] #4405 closed

[2020-04-14 03:49] scanum commented on #4411
@callit Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:49] #4411 closed

[2020-04-14 03:50] scanum commented on #4424
@joturans  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:50] #4424 closed

[2020-04-14 03:50] scanum commented on #4432
@lysmyers  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:50] #4432 closed

[2020-04-14 03:50] scanum commented on #4440
@cycloidmike Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:50] #4440 closed

[2020-04-14 03:50] scanum commented on #4444
@Air-Git Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:50] #4444 closed

[2020-04-14 03:50] scanum commented on #4447
@kahoggo thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-14 03:50] #4447 closed

[2020-04-14 03:51] scanum commented on #4449
@vnewbaker-bw Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-14 03:51] #4449 closed

[2020-04-14 03:52] scanum commented on #4518
@teomonda Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-14 03:52] scanum commented on #4521
@j0rt3g4 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-14 03:52] scanum commented on #4522
@taromielnaz Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-14 03:56] scanum commented on #4509
@arsham84 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-14 03:56] #4509 closed

[2020-04-14 05:09] Hillbi11y commented on #1529
I just found this on daughters PC.   It's still there.  It's hard not to say bad things about MS...

[2020-04-14 05:39] anwarmahmood1 commented on #4221
How? Nothing in these comments addresses my question; the page hasn't been updated in any way either.  Manuela, please clarify what you mean.

[2020-04-14 05:49] anwarmahmood1 commented on #4221
Apologies Manuela. I can see now that draft changes are in progress.  Feel free to close this feedback item.

[2020-04-14 06:09] ronaldborman opened #4523 "Teams Roadmap link doesn't filter."
The 'Teams Roadmap' link calls the Microsoft 365 Roadmap page, but the value of the query string parameter 'filters' is empty so no filtering is applied. When you manually append the value in the browser address bar, filtering is happening. BTW the 'searchterms' parameter is omitted completely, but is not necessary IMHO.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-04-14 07:21] joturans commented on #4424
The existing screenshots are outdated. They show the old Blue themed Teams admin portal, it's now purple.

[2020-04-14 07:25] almacho opened #4524 "Link to "Office 365 License Reporting and Management Tool -Assign Remove Licenses in Bulk" is not working any more."
Refers to https://gallery.technet.microsoft.com/Office365-License-cfd9489c which is not available any more. Couldn't find the "new" target.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cccdd91a-7f05-abd5-ed94-e82152b86914
* Version Independent ID: 3532d0a8-119c-f7d0-0d4f-a865ad32570f
* Content: [Manage user access to

[2020-04-14 08:17] hyoshioka0128 opened #4525 "[LOC]Back-Translation "Microsoft Teams ミーティング"→"Microsoft Teams Rooms""
related: "https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3798"
ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/rooms-plan
![rooms-plan_j](https://user-images.githubusercontent.com/40815708/79188291-9c700e80-7e59-11ea-8407-09dd99142d31.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-plan
![rooms-plan_e](https://user-images.githubusercontent.c

[2020-04-14 08:20] amitpawar74 opened #4526 "Difference between web and desktop app"
The language that the web client is full functional client can be misleading as we have already identified 2 differences between the web client and the desktop app in the table under the web client section of this page with a superscript 1 and 2. Is it really fair to call this full functional web client ?

 The web client (https://teams.microsoft.com) is a full, functional client that can be used

[2020-04-14 09:19] mitanabe commented on #4506
Hi Manuela

Thank you for your response. Excuse me for contacting you after the ticket
was closed.

I don't mean I have problem in my tenant.

There was a design change related to changing user profile picture within
teams.
As MS dev team mentioned in User Voice, we can control the user operation
of changing picture within teams with OWA mailbox policy setting
"-SetPhotoEnabled" now.

This design

[2020-04-14 09:43] lindspea commented on #4458
@thx1200 thank you for reaching out and helping improve MS Docs. Please hae a look at this link and let me know if it helps at all. https://techcommunity.microsoft.com/t5/microsoft-teams-blog/why-can-t-i-see-the-microsoft-teams-meeting-add-in-for-outlook/ba-p/174630

[2020-04-14 09:49] lindspea commented on #4457
@jspcstl thank you for pointing this out and helping improve MS Docs. Please have a look at these links and let me know if they help at all - https://techcommunity.microsoft.com/t5/microsoft-teams/ms-team-voicemail/m-p/328596 and https://docs.microsoft.com/SkypeForBusiness/troubleshoot/hybrid-phone-system/voicemails-not-delivered

[2020-04-14 09:53] lindspea commented on #4456
@tomlaciano thank you for reaching out and helping improve MS Docs. Please have a look at these two articles and let me know if you need further help - https://docs.microsoft.com/microsoftteams/manage-teams-skypeforbusiness-admin-center and https://docs.microsoft.com/MicrosoftTeams/using-admin-roles

[2020-04-14 10:00] lindspea commented on #4454
@greganth1 @aalejandroaraujo thank you for pointing this out and helping improve MS Docs. Just to clarify, should I remove the "Important" note at the top of the article?

[2020-04-14 10:06] lindspea commented on #4450
@TorrenManson thank you for reaching out and helping improve MS Docs.  I work on the editing/writing side of the articles. Please can you clarify which part of the article needs to be updated.

[2020-04-14 10:15] lindspea commented on #4447
@HernanTovar @kahoggo thank you for reaching out. The team is working on this and the first update to view nine participants simultaneously should be ready by the end of April. The team is continuing work to increase this limit even further.

[2020-04-14 10:39] lindspea commented on #4434
@LolaJacobsen please could you assist? Do the settings for participants and external users also apply to anonymous users?

[2020-04-14 10:54] lindspea commented on #4428
@Larryngolog thank you for reaching out and helping improve MS Docs. The official list of supported browsers is here - https://docs.microsoft.com/MicrosoftTeams/get-clients

[2020-04-14 10:57] Air-Git opened #4528 "Meet Now"
There are two ways to arrange a Teams meeting: Meet Now, and New Meeting.
Is the Meet Now part of the Meetings functionality available in Meetings First mode, or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12d73609-83a4-cdd4-8461-59fc1a9152fc
* Version Independent ID: b72ffa6e-f060-c296-e42d-eb3815a932ea
* Cont

[2020-04-14 12:21] Larryngolog commented on #4428
Hi Lindsay. The same information is provided on the "get-clients" page as on the limits page. It states on both articles that chrome and edge on chromium is supported on iOS and Addroid  (as these browsers are officially supported), which based on my tests is not correct. I think that both documents need correction and more details about supportabilit of the web app on mobile. If the document "get

[2020-04-14 12:29] jspcstl commented on #4457
unfortunately those articles do not provide any information pertaining to what elements should be used to exception CVM mails from our spf fail transport rule.

for now we are using the following exception, but no way to tell its enough or too much...

sender ip addresses belong to one of these ranges: '52.112.0.0/14'

[2020-04-14 12:31] lindspea commented on #4457
@LolaJacobsen could you please assist?

[2020-04-14 13:15] greganth1 commented on #4454
@lindspea Yes. The fix recently rolled out no longer has the requirement to have Skype for Business installed.

[2020-04-14 13:20] kjulson commented on #3268
A. A PowerShell answer to a GUI interface is poor at best.
B. There is no mention of this in either this article or in the article linked on the page "Turn on or turn off guest access to Microsoft Teams"
C. Article closed by scanum without actually checking if this was resolved.

So a whole bunch of fail on Microsoft's part.

[2020-04-14 13:34] Richsaunds commented on #4379
@lindspea we also need an answer on this for several of our customers who are also all CSP based, with no EA.

Thanks
Rich

[2020-04-14 13:38] sinky40 opened #4530 "Admin Credentials"
Any idea when a user logs in and Teams installs it asks for admin credentials? Is this related to the outlook addin? At the end of the installation it asks for this twice, seems to want to run --register-im-provider-lm? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version

[2020-04-14 14:11] vnewbaker-bw commented on #4449
If you could quote the specific section that describes managing direct routing phone numbers from the admin portal, or a note indicating that this is not an option that would be sufficient.  Thanks.

[2020-04-14 14:41] Bernard-Vesy opened #4531 "Restore "Global" application Policy for the whole Group Members."
Hello, I have execute the following command successfully   :

Grant-CsTeamsAppPermissionPolicy -Global -PolicyName "LEMO - Standard"

But Now i will come back to the standard and it's does't work

Grant-CsTeamsAppPermissionPolicy -Global -PolicyName "Global"

Any idears ?

Thanks in advance.
Bernard Vésy

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.m

[2020-04-14 15:16] tomlaciano commented on #4456
Hi Lindspea,
Sorry but the content you offered is not relevant to my comment. Your content focuses on permissions where this article was describing how to use Azure to monitor equipment. At Ignite 2019, there was a session - MTG30 https://youtu.be/rL9fXZJSnog?t=2158 starting at 35:58 that shows the new Teams Admin Center capabilities to manage and monitor Teams Rooms which should make this Azure c

[2020-04-14 15:40] randyhchapman opened #4532 "Supported Cameras"
Hi.  The supported cameras section links back to the main page with all supported cameras for MTR.  There isn't a specific list of supported content cameras on the list.  However, I know that there are currently only 3 certified cameras that support content camera.  The Huddly IQ, Logitech C930e and Brio on specific firmware.

When I saw that the page had been updated to point at the full list I g

[2020-04-14 16:07] reharta commented on #3549
Same issue, I really want this functionality. I am a teacher and it will be perfect for tracking individual student data in breakout tutoring.

[2020-04-14 16:07] kenwith commented on #3590
Yes, I have contacted the product team and they are working out the best way to tackle a supported list. I will keep after this and get the documentation updated as soon as possible.

[2020-04-14 16:08] reharta opened #4533 "invite select people in private channel"
Hi, I would like to be able to invite a subgroup of people only from a team into a private channel. I this functionality in the works?

[2020-04-14 18:22] cichur commented on #4434
@StephenY-Titian Thank you for your question. External participants in Teams meetings can be categorized as follows:
Anonymous user
Guest users
B2B user
Federated user
Therefore, settings that reference External participants can mean any of the users in the list.

[2020-04-14 19:31] kjanaprik opened #4536 "Running MTR as a standalone system"
Hello,

Is it possible to run an MTR system on a All-in-One system without a dock or control panel?
I would just like to use the built-in touchscreen or a mouse and keyboard.

[2020-04-14 19:50] j0rt3g4 commented on #4521
Hello @scanum
I think it was already cleared part of the issue
https://www.microsoft.com/en-us/microsoft-365/roadmap?featureid=63341

Now what is missing is if it's 4, 5 (or 4.5?) and how would you determine this?

[2020-04-14 20:01] CarolynRowe commented on #4450
I will follow up with the PM about the IP addresses.

[2020-04-14 20:34] StephenY-Titian commented on #4434
@cichur Thank you for the explanation.  Is there a Teams documentation page which contains that definition / categorization of external users?  Given your explanation that anonymous users are a subset of external users, the introduction to this page which says "anonymous or external users" is a bit misleading (at least to me), and might be worth changing.

[2020-04-14 20:45] cichur commented on #4434
Hi @StephenY-Titian Please see this article https://docs.microsoft.com/en-us/microsoftteams/meeting-policies-in-teams for additional information. You are correct--that introduction is a bit contradictory. I will edit that. Thank you. Cindy

[2020-04-14 22:14] sm709 commented on #4379
Hi any update here? i have CSP customers asking the same question!!

[2020-04-15 01:55] MySkypeLab opened #4538 "Images broken"
There are a couple of images in this document that appear to be broken. They are being displayed as:

![Screenshot showing the Add a domain page](media/direct-routing-2-sbc-add-domain.png)
![Screenshot showing domains with status of Setup complete](media/direct-routing-14-sbc-setup-complete.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-15 02:25] scanum commented on #4317
Hi @tangx007 we thank you for submitting feedback!
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-15 02:25] #4317 closed

[2020-04-15 02:25] scanum commented on #4319
Hi @tangx007 we thank you for submitting feedback!
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-15 02:25] #4319 closed

[2020-04-15 02:26] scanum commented on #4384
Hi @tangx007 we thank you for submitting feedback! This issue has been solved. However, for your other questions I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/

[2020-04-15 02:26] #4384 closed

[2020-04-15 02:26] scanum commented on #4385
Hi @tangx007 we thank you for submitting feedback! This issue has been solved as well. However, for additional questions I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.micros

[2020-04-15 02:26] #4385 closed

[2020-04-15 02:26] scanum commented on #4475
@tangx007 Hi @tangx007 we thank you for submitting feedback!
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-product

[2020-04-15 02:26] #4475 closed

[2020-04-15 02:27] scanum commented on #4316
Hi @tangx007 we thank you for submitting feedback!
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-15 02:27] #4316 closed

[2020-04-15 06:47] OfficeGlobal commented on #3801
@scanum , @hyoshioka0128  correct and approved translation for Microsoft Teams Rooms is Microsoft Teams ミーティング. The article was updated and published live

[2020-04-15 06:48] OfficeGlobal commented on #4157
Working on a fix

[2020-04-15 06:49] clusterb0mb commented on #4522
I set AutoAdmittedUsers from EveryoneInCompany to Everyone in the Global(Org-Wide default) policy but nothing changed for external users.

[2020-04-15 06:57] OfficeGlobal commented on #4214
@scanum article is being HumanTranslated, but it seems the question is related to an author of the article. Could you please check it one more time?

_Akackk's Question:_
Can I get a complete list of limitations and features of the free version?
How many people can take part in one videoconference, what is the duration of conferences in hours at a time, and in general per month, etc.

[2020-04-15 06:59] OfficeGlobal commented on #4267
@eudaele , @scanum the affected text was updated by "Utilisateur Teams"

[2020-04-15 07:02] OfficeGlobal commented on #4485
Working on a fix

[2020-04-15 07:05] OfficeGlobal commented on #4488
Working on a fix

[2020-04-15 07:06] OfficeGlobal commented on #4514
Working on a fix

[2020-04-15 07:22] OfficeGlobal commented on #4488
@keijikomatsu I was not able to find a mentioned error, could you please check the article and share the screen if the typo is still repro? Thank you

[2020-04-15 09:03] lindspea commented on #4428
@LolaJacobsen please could you have a look at this issue.

[2020-04-15 09:07] lindspea commented on #4428
@LolaJacobsen please could you have a look at this issue?

[2020-04-15 09:07] gabororsi commented on #3245
The Manage Users option still not visible.

[2020-04-15 09:18] hyoshioka0128 opened #4540 "[LOC]Back-Translation "Logitech タップ"→"Logitech Tap""
ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/requirements

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5bf01435-a73b-4bf2-5845-e4cf50c4c3a2
* Version Independent ID: 166e1800-80b1-2496-7160-3040c5b23c3d
* Content: [Microsoft Teams の会議室の要件 - Microsoft Teams](https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/requirements)
* Content

[2020-04-15 09:22] simonjpearson commented on #4516
This is also a problem for me.  I am considering using Trello now instead, which does support private channels (subject to investigation). This ultimately will cost more money, but might be my only option.

[2020-04-15 09:23] davemidd opened #4541 "SipSignalingPort cannot be 0"
According to this page, SipSignalingPort can be "0 to 65535".
If I try and enter the value 0, I get the error:
"SipSignalingPort must be greater than or equal to 1."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7d5051-1177-c5cf-bf28-8639d7b6fbd1
* Version Independent ID: 2a9aa4e1-3767-cd46-50fe-f9dd8b0997be
* Conte

[2020-04-15 09:26] lindspea commented on #4379
@LolaJacobsen under admin portal, billing > Products & Services, Microsoft Teams Exploratory Trial, it says it expires 5/23/53. Please could you let us know how long the trial lasts?

[2020-04-15 09:31] lindspea commented on #4449
@vnewbaker-bw please have a  look at this article - https://docs.microsoft.com/microsoftteams/direct-routing-plan

[2020-04-15 09:49] lindspea commented on #4456
@dstrome please could you assist?

[2020-04-15 09:51] VLG17 commented on #4460
@nielsbrinch2 Thank you for this valid feedback. I would say the answer is yes, but this needs to be a coordinated effort, because all the docs need to be changed to reflect this, not just the doc you mentioned. Keeping this in mind, i don't think it makes sense to change only this doc, since all the others will still talk about Office 365 Groups.

@scanum could we ask the authors if/when there wi

[2020-04-15 10:08] VLG17 commented on #4467
@LoremanReturns These policies and configurations control the type of meetings that users can create or the features that they can access while in a meeting. It also helps determine how meetings deal with anonymous or external users.

I'm happy to hear you solved your doubt.

[2020-04-15 10:14] virginij opened #4542 "Incorrect link text on the French version of this article "Permettez à votre petite entreprise d’utiliser des à distance""
The link text "Permettez à votre petite entreprise d’utiliser des à distance" is incorrect, there is a word missing after "des". Globally, the wording is not correct, the best is to use the title of the linked article which is, in French "Dynamisez votre petite entreprise avec le télétravail"
Thanks

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.micros

[2020-04-15 10:23] virginij opened #4543 "URL for non English versions is giving a 404"
In a non English version of this article, the link to https://www.microsoft.com/microsoft-365/blog/2020/03/12/top-9-ways-microsoft-it-enabling-remote-work-employees/ (link text = "Les 9 principaux moyens que Microsoft IT utilise pour activer le travail à distance de ses employés" in the French article) is giving a 404 :-(.
The language ID en-us should be added in the URL to point explicitely to :

[2020-04-15 11:05] michael-clover commented on #4522
I've seen both of these
The meeting options seem to took about 24 hours to update to match the assigned policy for the user

For organisers with on-prem exchange mailboxes external users (particularly dialin users) were left  in the lobby regardless of the setting of AutoAdmittedUsers. This seems to have improved for me.

[2020-04-15 11:09] VLG17 commented on #4473
@rburte-isp The Teams app is available on Chromebooks for a while now - [more details here](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/31380832-chromebook-support-in-the-android-app-please?page=2&per_page=20#{toggle_previous_statuses}). I'll add a note about that.

For the Web client, i think it's already covered. The Teams Web client is supported on all operating system

[2020-04-15 12:02] Zairians commented on #4541
Hey Dave, it means the port needs to be between 0 to 65535. Standard practice is 5067 or 5061, but really as long as it matches what port the SBC is using to communicate with Teams it shouldn't cause any issues.

[2020-04-15 12:23] KazuyDarklight opened #4545 "Message Type Clarificiation"
There is a lack of clarity regarding the difference between a channel message and a post message.  At first I thought perhaps channel messages was a combined count of post and reply, but that does not add up when looking at the totals shown in my environment. (If it IS a combined count and there is just an issue with my reporting, I think that should be clarified since so many other metrics are st

[2020-04-15 13:03] nunesric opened #4546 "Microsoft Teams issue in Android"
Most of the schools now are starting to use Microsoft Teams to interact with the students. There's an issue with Android App as it doesn't show the files for a team. Desktop app and IOS app works and shows the files. Can this be fixed a.s.a.p.? Thanks

[2020-04-15 13:06] davemidd commented on #4541
Thanks for the quick response, Zairians.
I wasn't very clear.
The documentation says that the port can be any value between 0 and 65535.
if I try and set the value to to 0 ( a valid number according to the documentation) powershell gives the error I mentioned.  So either the documentation is incorrect or there's a technical issue with configuring the gateway.  I'm not sure which one of the two it

[2020-04-15 16:20] Zairians commented on #4541
Hey David,

I think the documentation is a bit misleading. The SipSignalingPort as far as I'm aware needs to be static as it sits idle and listening for inbound traffic, this is why its common for SIP to use 5060 (or 5061 for SIPS). It seems Teams/SFB are using 5067/5061 for TLS communication.

The only static port you would be using is for the SIP signalling. During the SIP signalling the call wo

[2020-04-15 16:51] jgwinner opened #4548 "Dialin numbers for Teams conferences"
I ended up on this page. I don't have phone numbers assigned to users, I'm just looking for a local dialin number. Teams consistently gives me a San Diego number, and I'm based in Los Angeles. I can't seem to fix this. This page doesn't tell me how, exactly.

This is not a service request issue - it's a documentation issue. There are several critical things this page doesn't address.

1) How to ge

[2020-04-15 16:59] pepecheyenne commented on #4518
I also found that, at this moment, the only client allowing Guest presenters is Teams over Windows. Teams in MacOS and iOS doesn't work for this, and any web browser (tested Edge based in Chromium, Chrome, Firefox & Safari) works either.

[2020-04-15 17:59] SwissChoko opened #4550 "Teams - Skype Consumer interop"
Despite having turned on the "Users can communicate with Skype users" option for several weeks, it is still not possible to communicate with a Skype user based on its live account email (@hotmail.com)

is there any specific tricks to solve the issue or any logs to identify the problem ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-04-15 18:10] VLG17 commented on #4477
@BrianBlanchard Thank you for providing this feedback. Are you saying the note at the top of the paragraph is not enough and would like another note added after the last line of the script?

![image](https://user-images.githubusercontent.com/41186174/79371660-61570380-7f5d-11ea-9d2a-28de3daa87f6.png)

[2020-04-15 18:16] nicknnator opened #4551 "Cannot use Wiki on Private Channels in Teams"
I created a private channel in Teams and was not able to add a Wiki tab. I added additional public channels and Wiki was available. I tried deleting and re-adding the private channel and still no luck. Is there maybe a Powershell cmd I can run to add it? I know in the past that Powershell had to be used to add features in SharePoint.
Thanks,
Nick

[2020-04-15 18:39] VLG17 commented on #4478
@Air-Git thank you for providing this feedback. I created a PR for it. Related to your last question, i added a note to [this article](https://docs.microsoft.com/en-us/skypeforbusiness/manage/federation-and-external-access/federation-support/configuring-federation-support) which described what's needed to federate with an Office 365 tenant. Hope this is enough.

I also changed the values of the pa

[2020-04-15 18:56] VLG17 commented on #4479
@Air-Git I guess you are refering to this statement, right?

If you go to the [mentioned link](https://docs.microsoft.com/en-us/MicrosoftTeams/migration-interop-guidance-for-teams-with-skype), the hybrid requirement is explained in detail:

[2020-04-15 19:09] VLG17 commented on #4480
@mcantin thank you for pointing this out. I've tested it and indeed on mobile and desktop it works. On web it still doesn't.

[2020-04-15 19:16] VLG17 commented on #4480
@mcantin Actually, i think i spoke too soon. The fact that you can controll the pinning order comes from a parameter which was added a while back:

![image](https://user-images.githubusercontent.com/41186174/79378751-8d2ab700-7f66-11ea-9543-a03b7d5bdbcc.png)

I assume for the tenant where i tested the web client this is set to Off. So i'll change the PR to include web client also.

[2020-04-15 19:25] VLG17 commented on #4481
@mcantin Although not an official Microsoft doc, i think [this article](https://office365itpros.com/2020/02/04/teams-adds-control-over-user-pinning-of-apps/) describes the behavior quite well.

If the Teams App Setup policy assigned to an account is updated to block user app pinning, Teams removes any apps pinned to the left-hand navigation bar. If the policy is then updated to allow user app pinn

[2020-04-15 19:35] mcantin commented on #4481
If that's true, it solidifies the expected functionality if documentation is from Microsoft. Please consider incorporating that information here.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: VLG17 <notifications@github.com>
Sent: Wednesday, April 15, 2020 2:25:59 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.

[2020-04-15 21:03] Air-Git commented on #4479
I think the issue is that you might assume that a hybrid is in some way a requirement to begin to migrate from SfB on-premise to Teams. Only a very close reading of the documents would tell you that this is not the case.
The second sentence of [this page](https://docs.microsoft.com/en-us/SkypeForBusiness/hybrid/plan-hybrid-connectivity?toc=/SkypeForBusiness/sfbhybridtoc/toc.json) is: "Setting up h

[2020-04-15 21:40] clcpolevaulter opened #4555 "Support tags in private channels."
&gt;Tags are not yet supported in private channels.

This is honestly one of the biggest features. We like to keep channels to a minimum and organize public (enterprise wide) and teams specific communication into few channels. We want to summon a subset of those people to certain message. Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-04-16 00:06] Alexp2019 opened #4558 "Unable to retrieve Private Channel SharePoint URL"
Hi,

I'm unable to retrieve the SharePoint URL of a private channel through any of the methods listed (PowerShell or Graph API)
Graph Example:

![image](https://user-images.githubusercontent.com/38928645/79400469-a9137480-7fc9-11ea-8d0f-c204fb0c3673.png)

![image](https://user-images.githubusercontent.com/38928645/79400537-d3653200-7fc9-11ea-8a75-011848a17535.png)

[Enter feedback here]
![image](h

[2020-04-16 02:17] scanum commented on #4523
@ronaldborman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 02:17] scanum commented on #4524
@almacho Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 02:17] scanum commented on #4525
@officeglobal Can you please help with this? Thanks!

[2020-04-16 02:18] scanum commented on #4526
@amitpawar74
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-16 02:18] #4526 closed

[2020-04-16 02:18] scanum commented on #4528
@Air-Git
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-16 02:18] #4528 closed

[2020-04-16 02:18] scanum commented on #4530
@sinky40
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-16 02:18] #4530 closed

[2020-04-16 02:18] scanum commented on #4531
@Bernard-Vesy
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-04-16 02:18] #4531 closed

[2020-04-16 02:18] scanum commented on #4533
@reharta
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-16 02:18] #4533 closed

[2020-04-16 02:18] scanum commented on #4536
@kjanaprik
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-16 02:18] #4536 closed

[2020-04-16 02:20] scanum commented on #4540
@officeglobal Could you please help with this issue? Thanks!

[2020-04-16 02:20] scanum commented on #4541
@davemidd
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-16 02:20] #4541 closed

[2020-04-16 02:20] scanum commented on #4542
@officeglobal Could you please help with this issue? Thanks!

[2020-04-16 02:21] scanum commented on #4546
@nunesric
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-16 02:21] #4546 closed

[2020-04-16 02:21] scanum commented on #4550
@SwissChoko
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-16 02:21] #4550 closed

[2020-04-16 02:21] scanum commented on #4551
@nicknnator
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-16 02:21] #4551 closed

[2020-04-16 02:21] scanum commented on #4555
@clcpolevaulter
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-16 02:21] #4555 closed

[2020-04-16 02:21] scanum commented on #4558
@Alexp2019
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-16 02:21] #4558 closed

[2020-04-16 02:22] scanum commented on #4538
@MySkypeLab Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 02:22] scanum commented on #4532
@randyhchapman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 02:22] scanum commented on #4543
@virginij Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 02:22] scanum commented on #4545
@KazuyDarklight Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 02:22] scanum commented on #4548
@jgwinner Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-16 02:24] LanaChin commented on #4107
Hi @DrLippert, @sowjanya365, and @algalakt  - The topic is deprecated and replaced by https://docs.microsoft.com/microsoftteams/prepare-network. Thank you.

[2020-04-16 02:24] #4107 closed

[2020-04-16 03:22] hyoshioka0128 opened #4559 "[LOC]Back-Translation "Microsoft Teams ミーティング"→"Microsoft Teams Rooms""
ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/rooms-licensing
![rooms-licensing](https://user-images.githubusercontent.com/40815708/79410878-79ba3300-7fdc-11ea-83ec-05adcd8d5463.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-licensing
![rooms-licensing_e](https://user-images.githubusercontent.com/40815708/79410983-b423d000-7fdc-11ea-86d1-e7d0640ef621.png)

--

[2020-04-16 03:27] hyoshioka0128 opened #4560 "[LOC]Back-Translation "Microsoft Teams のルーム"→"Microsoft Teams Rooms""
ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/azure-monitor-plan
![azure-monitor-plan_j](https://user-images.githubusercontent.com/40815708/79411312-88edb080-7fdd-11ea-88ce-d10fe43026af.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/azure-monitor-plan
![azure-monitor-plan_e](https://user-images.githubusercontent.com/40815708/79411322-8db26480-7fdd-11ea-8bd7-5f015a2

[2020-04-16 05:25] MySkypeLab opened #4561 "Clarification"
At the end of the page there is a reference to:

For each tenant, add the FQDNs for two different SBCs. For example:

customer1.sbc1.contoso.com
customer2.sbc2.contoso.com

I believe for a single customer this should be:

customer1.sbc1.contoso.com
customer1.sbc2.contoso.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-16 06:55] omerahm opened #4562 "Unable to access Teams/Groups during Live Event"
Hi there! After enabling it works for us in a good way but the drawback we are facing is in configuring Live Events. Before enabling it groups/teams were visible and we were adding them and after enabling all are gone.
The scenario, we are using it in Education and due to some reason we have to use the Live Event feature for almost every class and it is not possible to add individuals one after an

[2020-04-16 07:55] adamvdb opened #4563 "Conference ID Length Incorrect"
Conference ID contains 9 digits - not 7 digits as mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f63c7ec-b784-d302-51e9-f359b2c8f89b
* Version Independent ID: 0442ca74-d4f0-e00f-714c-bcd5ad4161f1
* Content: [Reset a conference ID for a user in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en

[2020-04-16 08:39] TomasAEVI opened #4564 "Unable to access Whiteboard in MS Teams"
Hi,

i am a bit strugling with seting up MS Whiteboard in MS Teams. I got it allowed for whole organization but still when trying to share whiteboard in call i got this message:
Error
An error occurred while processing your request
Something went wrong retrieving your board

Did someone solved it and can share their solution?
Thank you

[2020-04-16 08:56] Reeced40 commented on #3980
@anwara-ms Hi, we are just waiting for the author to merge the PR and then it will go live.

[2020-04-16 08:58] Reeced40 commented on #3980
@MicrosoftHeidi @scanum Could you please assist.

[2020-04-16 09:01] lindspea commented on #4454
@scanum this can be closed thank you.

[2020-04-16 09:30] rrgonzalezz opened #4565 "Is it really possible to limiti the capability to create Teams only to administrators withouth the requirement of Azure AD Premium license?"
In the table under the section "Group and team creation, naming, classification, and guest access", it is listed that the capability of "Team creation" can be limited to administrators without the requirement of Azure AD Premium license. To my understanding, this is incorrect, as it is not possible to lockdown Teams creation without Azure AD Premium. Could you please clarify and / or correct this

[2020-04-16 09:56] davemidd commented on #4541
Thanks. I've checked the documentation on this page:
https://docs.microsoft.com/en-us/microsoftteams/direct-routing-connect-the-sbc
and it's still incorrect. Will it take a while for the corrected version to show up?

![image](https://user-images.githubusercontent.com/1181083/79442775-e4657180-7fd0-11ea-96c0-b0ec487f7f9b.png)

David

[2020-04-16 10:55] DevJonBirkett opened #4566 "What licensing will be required after the promotion period ends?"
Hi,
Can details be added to this page to clarify what licensing will be needed after the promotional period ends please?
Lack of this information is making future planning regarding the priority notifications feature difficult. Don't want to include a feature into LoB processes only to find out we aren't licensed for it.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-16 13:24] KapilaMunaweera opened #4568 "Conditional Access support"
No other conditional access policies are supported - is this limitation is only for now or never?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f7e3603-9bec-acfc-1854-2c1275950cde
* Version Independent ID: 2aed2376-277a-3e93-5000-e509ff53434d
* Content: [Authentication in Microsoft Teams Rooms - Microsoft Teams](http

[2020-04-16 15:02] ZugBug opened #4569 "This page still has conflicting information."
Per the other closed comment this page advises that Audio Conferencing is not available in India but numbers can be automatically assigned in Chennai and Mumbai.

Additionally this page allows Indian customers to buy audio conferencing: https://products.office.com/en-in/microsoft-teams/online-meeting-solutions#customerstoryregion2

But after purchasing Audio Conferencing directly Indian customers

[2020-04-16 15:13] v-olduch opened #4570 "Where is the Live Event recording stored?"
When a live event has concluded, the producers can download the recording and reports from the Teams Calendar item for that live event. The recording and reports are not attached to the Outlook calendar item, nor are they on Stream. Where is the actual location of that data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-16 16:18] davidplesinger opened #4571 "Max users number drop to 200 from 250"
Hi, I met this error yesterday - Teams stop receiving users over quota 200 - and 250 is mentioned above - please what is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for M

[2020-04-16 16:28] ZugBug opened #4572 "The regional availability is incorrect."
Live Events are not available in Germany, I have received confirmation of this from engineering.

Based on my testing it appears that live events are also not available in South Africa or France.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-60a2cf999f69
* Version Independent ID: 6878c954-e248-

[2020-04-16 16:28] davidplesinger opened #4573 "Max number people in lobby is 50 only"
please, nowhere is mentioned Teams lobby capacity. Yesterday I met error when number rise to 50 people. It was error or it is so? (it is error, in my oppinion)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [L

[2020-04-16 17:30] nburtniak opened #4574 "Unable to delete private channel"
I am using Teams as part of my organization's enterprise license, and have found that it is impossible to delete a private channel. There are only two members, and we are both 'owners' of the channel, but we get a "unable to delete this channel, please try again" message every time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-04-16 17:31] invirtuteDei commented on #4157
Please list correct licenses that work.  M365 licenses work for live events (M365 E5) for example.

[2020-04-16 18:00] rachoksh opened #4575 "Site Storage allocation and management"
Can we update this private channels page to specify the default site collection size for a private channel is 25 TB and how to change that allocation using the UI or PowerShell? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Version Independent ID: 9ddeb6f4-f30a-1e72-fc94-a

[2020-04-16 18:46] ChrisH82 commented on #4463
@adamabbate-q did you manage to get a resolution on this point or not - I have been playing with this and simalarly have the same issue with a policy package assigned to a user that i would prefer was reverted to none again

[2020-04-16 19:46] grahammw commented on #3834
Here is the correct PS command to update the software.  Just need to remove the -Update from the script.  Correct script is

Add-AppxPackage -ForceApplicationShutdown -Path '\\<share>\$oem$\$1\Rigel\x64\Ship\AppPackages\*\*.appx' -DependencyPath (Get-ChildItem '\\<share>\$oem$\$1\Rigel\x64\Ship\AppPackages\*\Dependencies\x64\*.appx' | Foreach-Object {$_.FullName})

[2020-04-16 19:49] AnanyaNataraj opened #4576 "missing permission for custom app uploading"
not able to upload custom app due to some permission missing. facing issue finding the permission to be given because of old documentation and change in ui.

[2020-04-16 19:58] get-itips commented on #3834
Thanks for this feedback @grahammw
@LanaChin Lana, can you please confirm so I can impact the article? Sadly I do not have a Teams Rooms System to test this myself. I appreciate.

[2020-04-16 20:15] grahammw commented on #3834
For some reason, it dropped out the <share>

Add-AppxPackage -ForceApplicationShutdown -Path '\\<share>\$oem$\$1\Rigel\x64\Ship\AppPackages\*\*.appx' -DependencyPath (Get-ChildItem '\\<share>\$oem$\$1\Rigel\x64\Ship\AppPackages\*\Dependencies\x64\*.appx' | Foreach-Object {$_.FullName})

[2020-04-16 20:56] kstario opened #4577 "No Discovery Settings in Teams"
Oddly, everything under "Set whether existing private teams are discoverable" is not true. The PS script does not make a team appear in search, and there is no "Team Discovery" section under the Team settings tab. Did something change since this was written?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5920152-5fee-

[2020-04-16 22:02] adamabbate-q commented on #4463
@ChrisH82 I have a ticket open with support at the moment, they originally provided some PowerShell cmdlets to fix this but that didn't work so they are still investigating.

For the moment, I've just manually changed all the individual policies back to the default for the user I applied the Policy Package.

![image](https://user-images.githubusercontent.com/55467213/79510398-a758b800-8080-11ea-9c

[2020-04-16 23:47] BWMerlin commented on #3753
I am likewise getting this error message.

Here is my code
`$channelowners = @(
 "person1@email.com"
 "person2@email.com"
 "person3@email.com"
)

$teamname = "The team"

$team = Get-Team -DisplayName $teamname

$channelnames = Get-TeamChannel -GroupId $team.GroupId

foreach ($channel in $channelnames) {

    foreach ($owner in $channelowners) {
    Add-TeamChannelUser -GroupId $team.GroupId -Displ

[2020-04-17 04:21] mitanabe commented on #4506
This design change was reflected in the following page.

How Exchange and Microsoft Teams interact
https://docs.microsoft.com/en-us/MicrosoftTeams/exchange-teams-interact

******
8 Teams honors the Outlook on the web mailbox policy setting that's configured by tenant admins to control whether users can change their profile picture. If the -SetPhotoEnabled setting is turned off in the policy, users

[2020-04-17 08:00] cnb2412 commented on #4566
I second this request. We also need the information.

[2020-04-17 09:01] gabrielepardo opened #4578 "Personalizzazione inviti email"
Sarebbe molto utile poter personalizzare la parte superiore dell'invito che viene mandato per email.
In questo momento si possono inserire dei testi soltanto all'interno dell'invito alla singola riunione (dal calendario) ma sarebbe utile avere uno spazio personalizzabile nell'interfaccia amministratore e che venisse prima della riga e dell'invito a partecipare.

---
#### Dettagli del documento

⚠

[2020-04-17 13:02] rachoksh commented on #4143
Can this documentation be improved?

We could improve this line that reads "2. Under Participants, turn on Anonymous users can join a meeting."

It could say something like anonymous is not actually anyone without authentication but invited users outside the tenant like gmail.com, outlook.com email addresses.

[2020-04-17 13:03] rachoksh opened #4580 "Usage of the word anonymous is misleading and confusing for who can join the meeting."
Can this documentation be improved?

We could improve this line that reads "2. Under Participants, turn on Anonymous users can join a meeting."

It could say something like anonymous is not actually anyone without authentication but invited users outside the tenant like gmail.com, outlook.com email addresses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-04-17 13:36] Larryngolog commented on #4143
Anonnymous according to this documentation https://docs.microsoft.com/en-us/microsoftteams/teams-security-guide means - "The term anonymous users means users that are not authenticated to the organizations tenant. In this context all external users are considered anonymous. Authenticated users include tenant users and Guest users of the tenant." - we should include this statement in this document

[2020-04-17 14:08] apospa opened #4581 "org-wide distribution list"
i have an org-wide team and i need to send e-mail to all members (tipycally published news post on sharepoint). Its not working. Should it work or not? i hope it should..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf
*

[2020-04-17 14:33] TheresASnakeInMyBoots opened #4582 "Max number of people that can be set to "Notify when available" is 15"
One of our users is new to Teams and was setting people in their contact list to show a notification to the user when their status was switched to available. In Skype the setting did not appear to have a limit. Once you get to 15 people in your chat/contact list with this setting on, you see an error message pop up in the bottom right corner of Windows saying that the action can't be performed, wi

[2020-04-17 14:48] chrisblackstonedart opened #4583 "Reference in Footnote 1 to technical limitation that we're planning to fix"
Footnote 1 references a technical limitation that we (Microsoft) is trying to fix. Is there an ETA for that fix? There is nothing listed in the Teams uservoice for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* C

[2020-04-17 14:59] Stocktradingview commented on #4545
**Real traders best chatroom since 2017, It’s turned $1.1M in the last 5 Months, Join with 7k+ active traders & Improve your trading performance. Join our trading chatroom today [https://discord.gg/sC3sw4s](https://discord.gg/sC3sw4s)**

![www](https://user-images.githubusercontent.com/63863580/79582986-246c4780-80ea-11ea-9334-5f9fed41a578.JPG)

[2020-04-17 15:09] tkalaj commented on #4309
I'd like have this information as well. Any update to share on this?

[2020-04-17 16:54] leewegener commented on #4522
I am also experiencing these same issues. Regardless of policy settings, external users are unable to bypass the lobby or start the meeting without the meeting organizer admitting them. This prevents users from scheduling a meeting and joining a conference call without an organizer admitting participants from the Teams application.

[2020-04-17 17:05] ibillwilson opened #4584 "Incorrect username identified as initiator when someone has been removed from a Team"
Teams, in the "General" channel feed for a particular Team, is showing that I deleted two people from a Team yesterday. I know that I did no such thing... unless I am doing this in my sleep or have become the Manchurian Admin.

I wonder if it's related to this previously known issue that was cleared in December (via https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/3686)?

<img wid

[2020-04-17 17:11] brucesp1 opened #4585 "Uninstall example using powershell"
This page says there are 2 ways to uninstall the VDI MSI for Teams, PowerShell, and MSIEXEC command line.  You give an example for the MSIEXEC but not for PowerShell.  Please provide a PowerShell Script like you did MSIEXEC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version I

[2020-04-17 17:37] vnewbaker-bw commented on #4354
Tested with the Android client and iOS client.  Both get address information based on subnet and not WAP so far.

[2020-04-17 17:55] heaths opened #4586 "Where do we find them?"
This article reads,
&gt; The debug logs are automatically downloaded to the following folders.
&gt; * Windows: %userprofile%\Downloads

Okay, but how do we "download" them? Normally, logs are produced when some setting is configured or trace performed and put somewhere. Not sure what you mean by "downloaded" here. As written, this page does not help me troubleshoot calling issues at all.

---
####

[2020-04-17 18:36] tomashpetr opened #4587 "MS teams limitations per licence"
Multiple microsoft official help pages reffer to this page as description of MS teams service limitations per specific licence.. I see no such information here. Only the mention that "CORE teams features are available across all licences". No specification what are the CORE features and what the other..

Especially cooperation via scheduled meetings, audio conferences, etc. are of the question. AS

[2020-04-17 21:00] AveryBaker opened #4591 "Teams chat, channel, and files data are NOT retained forever by default."
The below statement is misleading becuase while by default teams messages are not deleted automatically, they can still be deleted manually and are not being explcitily retained.

"By default, Teams chat, channel, and files data are retained forever. As an admin, you can set up Teams retention policies for chat and channel messages and decide proactively whether to retain the data, delete it, or r

[2020-04-17 21:41] LanaChin commented on #3975
@norman-v, @bamslib. Thanks so much for your feedback and helping to improve our docs. The article has been updated to provide more clarity around the cmdlet and the PowerShell module that's needed.  Thank you.

[2020-04-17 21:41] #3975 closed

[2020-04-17 22:06] desarrollocdb opened #4592 "Grant-CsTeamsChannelsPolicy' is not recognized as the name of a cmdlet"
I get this error when executing

The term 'Grant-CsTeamsChannelsPolicy' is not recognized as the name of a cmdlet, function, script file or program
executable. Please check if you spelled the name correctly or if you included a path, check that the path is correct and try again.

My script

$GroupName = "Permitir_crear_grupos"
$PolicyName = "Docentes"

$credential = Get-Credential
Connect-AzureAD

[2020-04-17 22:18] kstario commented on #4577
We can probably put a pin in this for now. I opened a ticket with support, they are "researching". They said the following: That Preview features are rolled out by Datacenter, so if the Preview hasn't reached my tenant's DC yet then they won't see it. They also said that they can "turn on" Preview for my tenant, but they wanted to see what it will do to the tenant. So...?
I thought I had Preview o

[2020-04-17 23:13] scanum commented on #4559
@Officeglobal - Hi! Could you please help with this issue? Thanks!

[2020-04-17 23:13] scanum commented on #4560
@Officeglobal - Hi! Could you please help with this issue? Thanks!

[2020-04-17 23:13] scanum commented on #4562
@omerahm thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-17 23:13] #4562 closed

[2020-04-17 23:14] scanum commented on #4564
@TomasAEVI thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-17 23:14] #4564 closed

[2020-04-17 23:14] scanum commented on #4565
@rrgonzalezz thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-17 23:14] #4565 closed

[2020-04-17 23:14] scanum commented on #4568
@KapilaMunaweera thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-17 23:14] #4568 closed

[2020-04-17 23:14] scanum commented on #4570
@v-olduch thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-17 23:14] #4570 closed

[2020-04-17 23:14] scanum commented on #4571
@davidplesinger thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-17 23:14] #4571 closed

[2020-04-17 23:15] scanum commented on #4573
@davidplesinger thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-17 23:15] #4573 closed

[2020-04-17 23:15] scanum commented on #4574
@nburtniak thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-17 23:15] #4574 closed

[2020-04-17 23:15] scanum commented on #4576
@AnanyaNataraj thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-17 23:15] #4576 closed

[2020-04-17 23:15] scanum commented on #4578
@gabrielepardo thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-17 23:15] #4578 closed

[2020-04-17 23:15] scanum commented on #4581
@apospa thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-04-17 23:15] #4581 closed

[2020-04-17 23:16] scanum commented on #4582
@TheresASnakeInMyBoots thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
P

[2020-04-17 23:16] #4582 closed

[2020-04-17 23:16] scanum commented on #4583
@chrisblackstonedart thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Ple

[2020-04-17 23:16] #4583 closed

[2020-04-17 23:16] scanum commented on #4584
@ibillwilson thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-17 23:16] #4584 closed

[2020-04-17 23:17] scanum commented on #4592
@desarrollocdb thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-17 23:17] #4592 closed

[2020-04-17 23:17] scanum commented on #4591
@AveryBaker  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:17] scanum commented on #4587
@tomashpetr  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:17] scanum commented on #4586
@heaths  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:17] scanum commented on #4585
@brucesp1  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:17] scanum commented on #4580
@rachoksh  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:17] scanum commented on #4577
@kstario  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:17] scanum commented on #4575
@rachoksh  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:18] scanum commented on #4572
@ZugBug  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:18] scanum commented on #4569
@ZugBug  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:18] scanum commented on #4566
@DevJonBirkett  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:18] scanum commented on #4563
@adamvdb  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-17 23:18] scanum commented on #4561
@MySkypeLab  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-18 13:34] Egal512 opened #4594 "Best trading community"
### Most profitable traders and investors community since 2016. We're providing high quality alerts with 95% success rate!!! Gain access and experience with the best live trading room for day and swing traders. Free join our trading chatroom today: [https://discord.gg/JSUSndE](https://discord.gg/JSUSndE)

<img width="741" alt="eee" src="https://user-images.githubusercontent.com/63651343/79639403-3

[2020-04-18 15:57] tecdisol commented on #3832
@julie174 we really have fun too.

[2020-04-18 18:54] techlogik opened #4596 "Why don't you update the article to tell people how to track who added it?"
MIght want to update the article to tell people where to find who signed up.

[2020-04-18 23:50] pamelamontes01 opened #4597 "Link to [Steering Committee Template – Link to sample PPT template] is missing"
The link to the  [Steering Committee Template – Link to sample PPT template] is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb4be65-f72b-54ae-0168-a2c721f4d88e
* Version Independent ID: cbf0ca70-508f-9f10-7f50-3a4d3a20366b
* Content: [Steering committee for cloud voice deployment - Microsoft Teams](https:/

[2020-04-19 07:42] turbon13 commented on #4379
Great, wish this was published around the place more. I would expect that expiration to be accurate.

As an on prem customer and non O365 customer or EA holder, I would expect nothing less when others can access a freemium version.

We're under 100 seat thankfully, but think that user limit should also be given consideration to have another zero added to it or the limit totally removed.

Anything

[2020-04-20 02:22] GlennMillerNZ opened #4600 "Team Limits"
When can we expect the limits to be raised? We are just over the limit but would like an Org-Wide team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf
* Content: [Create an org-wide team in Microsoft Teams - Microsoft Te

[2020-04-20 03:13] hyoshioka0128 opened #4601 "[LOC]Inappropriate japanese "た microsoft teams ロゴを示すアイコン""
ja-jp:https://docs.microsoft.com/ja-jp/microsoftteams/teams-live-events/set-up-for-teams-live-events
![set-up-for-teams-live-events_j](https://user-images.githubusercontent.com/40815708/79710546-43442700-8300-11ea-95b5-bdb7f61ff825.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b9aa4676-855a-fddb-bb0b-96b7095c695e
* Version Independent ID: 7c39f

[2020-04-20 07:05] sare-MS opened #4602 "List of known issues lost"
Hi team, This page used to host a list of known issues and their workarounds. I no longer see that. Was this removed or moved elsewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa5a49f-c440-95a8-83a1-9d38bdaeda39
* Content: [Known issues for Microso

[2020-04-20 08:25] mattou07 commented on #1529
I was about to submit my own issue but will add my contribution to this thread:

![image](https://user-images.githubusercontent.com/11179749/79730112-429f9680-82e8-11ea-9c18-f0b4c715b940.png)
Is this a valid Start up entry for Microsoft Teams seems a little odd to me? Especially the misplaced " in the path.

Additionally its targeting the wrong program files folder, when I look on disk its located

[2020-04-20 10:07] VLG17 commented on #4481
@mcantin I'll create a request to get that info added.

[2020-04-20 10:19] NathanJohnNelson opened #4603 "Diable group chat"
Hello,
I would like to disable the ability for a user to create group chats with multiple users.
I wish them to be able to use 1 to 1 private chats but not a private group chat. Reading through the documentation and on the teams admin platform I have not been able to locate a policy which will allow me to limit this kind of interaction. Does it exist or is it's creation pending?
Thanks.

---
####

[2020-04-20 10:35] rrgonzalezz commented on #4565
Hi,

thanks for the update. No worries, I do not have the need to open a support ticket, I know the answer to my own question, I was just surprised to find this incorrect and misleading information in this documentation.

From licensing perspective, the only possible way to limit the capability to create Teams only to administrators is with Azure AD Premium licenses. But anyhow you can check this

[2020-04-20 11:37] K4S1 commented on #4309
@scanum Could you please provide an time EST. On when the investigation are done and ready.
For us to see how to prober decommission the LFE.
I would guess just to uninstall it. but I'm afraid the uninstallation will remove properties from AD users, that will be synced to Microsoft and destroy a setup. and have not been able to find any other documentation that describe this correctly.
If I need t

[2020-04-20 13:02] v-olduch commented on #4570
Hi!

Actually, this is not a situation that I am facing myself. Rather, I am assisting customers onboarding to Office 365 and Teams and that is a question that some of them are having concerning Live Events and is not actually a concern for support in the sense that the Live Event recordings and reports are located in Teams, and you can download them as the documentation mentions. The actual ask i

[2020-04-20 13:37] JeroenDijkman commented on #4181
@LanaChin  @scanum  Any update on this issue? We are facing the same problem.
Any feedback is highly appreciated.

[2020-04-20 13:40] alexbreadcrumb opened #4605 "Teams live events and Skype Meeting Broadcast (On YouTube Live / Facebook Live)"
I've a question more than an issue...
anyone know if is possible host a live event from Microsoft Teams to YouTube or Facebook like Zoom does?
Here a capture of the options that give you Zoom:
![Zoom Streaming Options](https://user-images.githubusercontent.com/47953802/79758053-df633380-82ea-11ea-9c35-18ad2792bd41.png)

[2020-04-20 14:13] Tricia911 opened #4606 "I noticed that"
Can you clarify "Conferenced in but are muted" notification format? The description implies that the Notification is a chat, but says recipients "can listen (but not participate)."  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66544770-c56b-ad8a-5b67-9e20cbc945f1
* Version Independent ID: d69667d5-d486-4b99-5

[2020-04-20 16:52] danmyhre opened #4608 "Public vs Private IP"
Does this take into account both the private IP address of the client and the public internet egress IP that the Teams service sees?  If not, this should note that there can be overlaps and reports will not be accurate on where the client is.  For example, the clients internal IP address at a starbucks might be the same as one of the IP subnets that is used at an internal branch office.  Same with

[2020-04-20 17:29] hadenodom commented on #3590
I have installed teams on two computers:  One laptop running Ubuntu and one desktop running Arch Linux.  Both are on the latest approved stable version, and both are running the latest version of Teams, straight from the MS website as of today.

On the Ubuntu machine, it's running fine and I've run into no issues.  On the desktop running Arch, though, it shows a "We're still developing Teams for L

[2020-04-20 17:45] kenwith commented on #3590
I just wanted to send a quick update that the product team is in the process of releasing a Snap for Teams. I will be updating the documentation here with links and also on the requirements page once it is released. I also sent the feedback about the issue @hadenodom surfaced regarding the login page and will update this issue and the docs based on info I get.

[2020-04-20 18:31] azaricstefan opened #4610 "No access to calendar for teams exploratory experience user"
Why does user not have access to calendar for teams in this license called exploratory experience?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f897ae9b-852a-b617-7de0-d76dbd9f1820
* Version Independent ID: 161b1845-53fd-8912-a5f9-737d3bcdaadc
* Content: [Manage the Microsoft Teams Exploratory experience - Microsoft

[2020-04-20 18:35] leedsteam opened #4611 "Can we see live call data?"
Can I see what calls are happening on teams live?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dedf646c-c5dc-5645-54a2-1bca0d406f45
* Version Independent ID: 9a52f0b1-2970-559e-2d18-8e565662ca26
* Content: [Call Analytics and Call Quality Dashboard - Microsoft Teams](https://docs.microsoft.com/

[2020-04-20 18:47] abkaberi commented on #2481
Can anyone please confirm the license requirement for "when you have EXCH on prem 2016 CU11+ running in a hybrid environment with EXO" which means AAD connect is by default provisioned--> In this scenario, do we still need to assign EXO license to the synced user when his/her mailbox resides in Oprem EXCH 2016 server to leverage Calendar feature within Teams?

[2020-04-20 19:29] todmccoy commented on #4602
These were broken up into smaller pages and can be found here:
https://docs.microsoft.com/MicrosoftTeams/troubleshoot/teams

[2020-04-20 19:43] jvolp opened #4614 "First item is inaccurate"
Every single issue we've encountered where a user cannot log on to Teams has been when they are already logged into O365 and are able to successfully launch every other app.  Teams is absolutely doing something ELSE not shared with the rest of the O365 suite and we desperately need accurate documentation indicating what that is.  We've had several users that simply cannot log into Teams via web or

[2020-04-20 19:57] Pineapple87 commented on #3735
@Karspi Thank you for your concise explanation.  We run Exchange 2016 on Prem and want the Calendar button in Teams.  I have gone through the steps of enabling Exchange Hybrid Deployment and running through steps 1-5 in the referenced Oauth article and am still not seeing any Calendar button appear.  Not quite sure what to make of it.  I do see you note that Exchange on-premises must be accessible

[2020-04-20 20:22] Karspi commented on #3735
@Pineapple87 your Exchange infrastructure has to be accessible over port TCP443 from the Microsoft Teams IP addresses, if you have a firewall rule any -> public IP exchange -> TCP443 -> exchange on-premises, that should be ok. Check if your public DNS has an entry for autodiscover.contoso.org and that points to your exchange public IP address. Don't forget to check for the calendar button over a b

[2020-04-20 20:25] LolaJacobsen commented on #4379
@Balu-msft please review this PR. Let me know if you approve and I'll merge.

[2020-04-20 20:29] #4594 closed

[2020-04-20 20:29] scanum commented on #4596
@techlogik thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-20 20:29] #4596 closed

[2020-04-20 20:29] scanum commented on #4600
@GlennMillerNZ thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-20 20:29] #4600 closed

[2020-04-20 20:31] scanum commented on #4603
@NathanJohnNelson thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-04-20 20:31] #4603 closed

[2020-04-20 20:31] scanum commented on #4605
@alexbreadcrumb thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-20 20:31] #4605 closed

[2020-04-20 20:32] scanum commented on #4610
@azaricstefan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-04-20 20:32] #4610 closed

[2020-04-20 20:32] scanum commented on #4611
@leedsteam thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-20 20:32] #4611 closed

[2020-04-20 20:33] LolaJacobsen commented on #4368
Thanks for the heads up. I clarified the title and added a link from the Windows section of the article.

[2020-04-20 20:33] #4368 closed

[2020-04-20 20:33] scanum commented on #4601
@OfficeGlobal Hi! Could you please support the following issue? Thanks

[2020-04-20 20:33] GlennMillerNZ commented on #4600
Are you saying this is a fault that we can't use Org-Wide Teams?

[2020-04-20 20:33] scanum commented on #4597
@pamelamontes01 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-20 20:34] scanum commented on #4602
@sare-MS Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-20 20:34] scanum commented on #4606
@Tricia911 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-20 20:34] scanum commented on #4608
@danmyhre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-20 20:34] scanum commented on #4614
@jvolp Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-20 20:37] LolaJacobsen commented on #4232
I'm checking with PM Nakul Madaan.

[2020-04-20 21:00] cesquivel1990 opened #4617 "remote team"
Hello.
I have problem with the desktop remote. because when an user shared me desktop and I run .exe with admin privilege the screen freeze.
note: I need run with admin privilege because the user has not permission of install

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 9ce30163-6327-899b-281d-d4ef982fc

[2020-04-20 21:43] LolaJacobsen commented on #3901
@anwara-ms please review this issue, let me know what documentation updates are needed.

[2020-04-20 21:47] LolaJacobsen commented on #3856
@marclauinger can you review this issue and let me know what documentation updates might be needed?

[2020-04-20 21:47] LolaJacobsen commented on #3553
@anwara-ms please review and let us know whether we need to make any documentation updates.

[2020-04-20 22:36] bedwell84 opened #4619 "Confirm Exchange Online requirement"
This page says an Exchange Online mailbox is required to schedule a Live Event. I have tested with an Exchange 2016 on-premises mailbox with the required OAuth integration configured, and I was successfully able to schedule and produce a Live Event in Teams through the integrated Calendar.
Can it please be confirmed if this is a supported feature where the required integration is configured with o

[2020-04-20 23:24] Pineapple87 commented on #3735
@Karspi I've checked our firewall and autodiscover DNS records and all looks good.  I've also tried logging in and out of the Win 10 client, as well as logging in on the web from a PC I don't normally use.  Any chance MFA for OWA could be coming into play?  I'm assuming there's no need to restart any Exchange services?  Thanks again.

[2020-04-21 00:10] dstrome commented on #4311
An Exchange hybrid deployment is required when integrating Teams with an on-premises Exchange deployment. This is in addition to version-specific requirements for some features. The article has been updated to reflect this requirement.

[2020-04-21 00:10] #4311 closed

[2020-04-21 00:10] dstrome commented on #3735
An Exchange hybrid deployment is required when integrating Teams with an on-premises Exchange deployment. This is in addition to version-specific requirements for some features. The article has been updated to reflect this requirement.

[2020-04-21 00:10] #3735 closed

[2020-04-21 00:32] dstrome commented on #4619
This article was updated this afternoon to reflect the Exchange hybrid deployment requirement needed to enable Teams and Exchange integration.

[2020-04-21 00:32] #4619 closed

[2020-04-21 02:08] sare-MS commented on #4602
Thank you Tod. Much appreciate your quick response on this.

Best Regards
Sashi

From: Tod McCoy <notifications@github.com>
Sent: Tuesday, April 21, 2020 1:00 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Sashi Reddy <sare@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] List of known

[2020-04-21 07:10] scanum commented on #3797
@hyoshioka0128 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:10] #3797 closed

[2020-04-21 07:11] scanum commented on #3801
@hyoshioka0128 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:11] #3801 closed

[2020-04-21 07:12] scanum commented on #4058
@Larryngolog Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:12] #4058 closed

[2020-04-21 07:12] scanum commented on #4100
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:12] #4100 closed

[2020-04-21 07:12] scanum commented on #4115
@gezakukoda Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:12] #4115 closed

[2020-04-21 07:12] scanum commented on #4123
@danone1985 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:12] #4123 closed

[2020-04-21 07:12] scanum commented on #4157
@officeglobal Any update on this? Thanks

[2020-04-21 07:13] scanum commented on #4211
@franklesniak Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:13] #4211 closed

[2020-04-21 07:13] scanum commented on #4214
@OfficeGlobal Thanks for letting us know! Appreciate your help.

[2020-04-21 07:14] scanum commented on #4267
@eudaele Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:14] #4267 closed

[2020-04-21 07:15] scanum commented on #4488
@keijikomatsu  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:15] #4488 closed

[2020-04-21 07:16] scanum commented on #4523
@ronaldborman Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-04-21 07:16] #4523 closed

[2020-04-21 07:16] scanum commented on #4617
@cesquivel1990
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-21 07:16] #4617 closed

[2020-04-21 08:56] OfficeGlobal commented on #4157
@AlexHill90 , @scanum we have HumanTranslated the latest received update and publish it live

[2020-04-21 08:58] OfficeGlobal commented on #4601
@hyoshioka0128 article was HumanTranslated and published live

[2020-04-21 09:02] OfficeGlobal commented on #4559
Working on a fix

[2020-04-21 09:02] OfficeGlobal commented on #4560
Working on a fix

[2020-04-21 11:13] VLG17 commented on #4479
@Air-Git I think the confussion comes from not making a distinction between coexistence and interoperability, which are covered in the article you mentioned when oppening this issue, and federation, which is mentioned in other articles, in relation to Skype for Busines and transitioning to Teams.

![image](https://user-images.githubusercontent.com/41186174/79744301-c5d3e300-830e-11ea-9736-8a9c189b

[2020-04-21 11:26] Air-Git commented on #4479
I agree. If you go through the documents carefully, then you can work out that hybrid is not required until the final step of migrating to Teams Only; and only if you don't just move everyone at once, when again you don't need it.
I'd suggest perhaps amending this statement: "Read this topic to learn how to plan hybrid connectivity between Skype for Business Server and Teams or Skype for Business

[2020-04-21 11:28] VLG17 commented on #4483
@glenrmag It means that guests (external users) added to Teams will not be able to search/find other users, groups (and implicitely teams) within Teams. They will be limited to the team that you added them to in Teams and everything related to only that team and people involved.

[2020-04-21 12:44] BrianTJackett commented on #4477
Sorry, I missed the note at the top of Manage via PowerShell section.  For some reason the blue box didn't pop out as a "must read this before continuing on".  Closing issue, thanks.

[2020-04-21 12:44] #4477 closed

[2020-04-21 12:59] OfficeGlobal commented on #4320
@scanum original question via Bing translator "I have created a private channel, I would now like to make it open to the team: is it possible?"

The current version of the article is HumantTranslated, in case there will be an updated based on the  question, we will pick it up for loc.

[2020-04-21 13:50] JBernklev opened #4625 "Teams Live Events"
We want to have multiple live video displayed of our presenters in Teams live events. So if we have 6 presenters we can see them all at the same time. Similar to that of Got To Webinar. Is that available?

[2020-04-21 14:55] LanaChin commented on #4228
@testad  - thanks for your feedback. The blog has been updated to clarify that the Meeting Room resource account can be used for Intune enrollment but not for Windows logon on the device.

[2020-04-21 14:55] #4228 closed

[2020-04-21 15:56] shivtorov opened #4626 "how "Users can override the caller ID policy"?"
The article says:
"Users can override the caller ID policy: Turn on this setting to let users override the settings in the policy regarding displaying their number to callees or not. This means that users can choose whether to display their caller ID."

Please add a note explaining HOW users can choose whether to display their caller ID.
It is natural to assume that this setting can be changed som

[2020-04-21 19:49] franklesniak commented on #4211
Hey all, thanks for taking a crack at this. I don't feel it's been addressed, though. The page now reads, "Surface Pro devices require one of the following docking station options **to secure a tablet to the meeting room table**."

I think this is still unclear. Surface Pro devices require a docking station **because the software insists upon it**; it's not just because it secures the Surface Pro

[2020-04-21 19:52] LolaJacobsen commented on #4379
We updated the article in response to the issue yesterday - check it out:
https://docs.microsoft.com/microsoftteams/teams-exploratory

[2020-04-21 19:52] #4379 closed

[2020-04-21 19:54] LolaJacobsen commented on #4232
Working with PM Alan Xie (referred by NakulM).

[2020-04-21 20:39] Dippie-WP opened #4632 "MS teams add-in for outlook"
I read many articles in the community forum none seems to help.

I cant find the teams add-in for outlook. its not even in the registry.

MS office 2019- has the latest updates.
Windows 10- has latest updates
Teams-updated today as well

can you please assist

[2020-04-21 21:16] dariomws commented on #4524
Hi @almacho, thank you for your feedback.

This tool/script is not available anymore. You can use the Admin Center to manage license in bulk now.

[2020-04-21 21:20] dariomws commented on #4532
Hi @randyhchapman, thank you for your feedback.

If I go to the link in the article I can see what cameras support content camera use:
![image](https://user-images.githubusercontent.com/33589238/79915078-b29f4100-83fc-11ea-8c12-9ca9ce4c971a.png)

Maybe I don't understand you. Please, let me know. Thanks!

[2020-04-21 21:28] randyhchapman commented on #4532
Okay. I now see the ticks in the content camera support column. Thanks

[2020-04-21 21:28] #4532 closed

[2020-04-21 21:56] TorrenManson opened #4636 "Table should be updated to include Local Media Optimization support"
The table should be updated to include Local Media Optimization support as detailed here https://docs.microsoft.com/en-us/MicrosoftTeams/direct-routing-media-optimization-configure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1a1c01-10a9-7f69-1c7b-1a566b0f5112
* Version Independent ID: 329ee759-40fc-98fb-b91e-87786

[2020-04-21 22:14] seanjb opened #4637 "How do we access the in preview feature : Install apps on behalf of users?"
Hi There, is there a way for us to access the "in preview" feature: Install apps on behalf of users?
It does not appear to be on our tennant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f91604a-35b0-dfbb-55b2-b601cb0841b0
* Version Independent ID: 84bcd0d7-b4ed-f13e-c84b-2ec6a7661ae9
* Content: [Manage app setup po

[2020-04-21 22:15] mdhare commented on #4458
Since Teams is not compatible with a remote desktop environment, there does not seem to be a way to install the Teams Addin on Outlook for Remote Desktop. Please fix.

[2020-04-22 00:23] kandersonkings opened #4638 "Restrict members of a channel from Joining a Meeting"
Hi, is there a way to restrict members of a channel when the owner hasn't started a meeting? I'm working in a school environment and we're finding it difficult when the kids are starting meetings without their teachers present. But I can't find a setting for this.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc665475

[2020-04-22 04:00] mnp3 opened #4639 "Assign a custom app permission policy to users in a group"
I have tried with both AzureAD and AzureADPreview to assign a custom app permission policy to users in a group (yes I have uninstalled the one I am not using & yes each module has a different connection command-let). So I am able to connect.
I am able to get my requested group with $group = Get-AzureADGroup -SearchString "&lt;"My Group Name"&gt;". I am able to get members of the group with $member

[2020-04-22 04:14] mnp3 commented on #4639
OK I see that running get-command -module AzureAD does not list Grant-CsTeamsAppPermissionPolicy. So where is it?

[2020-04-22 04:54] mnp3 commented on #4639
Grant-CsTeamsAppPermissionPolicy is part of SkypeForBusiness.
I have downloaded and installed https://www.microsoft.com/en-us/download/details.aspx?id=39366
Import-Module SkypeOnlineConnector
Grant-CsTeamsAppPermissionPolicy is not in this module.
What module do I need to import?

[2020-04-22 06:56] lindspea commented on #4458
@mdhare this article was updated yesterday. "Under some circumstances, the Teams add-in is not available in Outlook. See Upgrade from Skype for Business to Teams for details - https://docs.microsoft.com/microsoftteams/upgrade-to-teams-on-prem-overview#meetings."Please let me know if you still need assistance.

[2020-04-22 07:04] AlexanderSaad opened #4640 "Org-Wide app policies vs Custom permission policies"
I find some information on the article contradictory.
On one hand you say that "Org-wide app settings override the global policy and any custom policies that you create and assign to users." and on the other "If you want to control the apps that are available for different groups of users in your organization, create and assign one or more custom app permission policies."
How can the custom policy

[2020-04-22 07:06] AlexanderSaad opened #4641 "Pin an app when "Org wide app settings" are OFF"
If we set "Org wide app settings" to "Off" for all types of apps, is it still possible to pin one of these apps to Teams?
Aren't those settings related to which apps users can add, and not which apps Admins can pin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f91604a-35b0-dfbb-55b2-b601cb0841b0
* Version Independen

[2020-04-22 07:35] teomonda commented on #4572
From what i know this is related to Azure Media Services not being yet available in these new datacenters.
However as per this list, it is there in South Africa and France, while it is not in Germany and Switzerland:
https://azure.microsoft.com/en-us/global-infrastructure/services/?products=media-services&regions=france-central,france-south,switzerland-north,switzerland-west,south-africa-north,sou

[2020-04-22 09:20] AlexHill90 opened #4643 "Page is outdated pertaining to limits"
Hi, the limit of 4 hours has been raised to 8. Can this be amended? https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#teams-live-events

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content:

[2020-04-22 09:49] joturans opened #4644 "Org wide Teams still rolling out?"
This feature has been mentioned in blog posts since October 2018 but is still marked as rolling-out on this page. Is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf
* Content: [Create an org-wide team in Mic

[2020-04-22 10:44] nick-cloud-maker-ai opened #4645 "Clarification over domain for Resource Account"
Hey team,

Under "Create a resource account in Microsoft Teams admin center" where it says under step 1: "To create a new resource account click + Add. In the pop-up, fill out the Display name, Username (the domain name should populate automatically)" it should be specified that the resource account *must* use the &lt;domain&gt;.onmicrosoft.com domain name. It is not possible to use another domain

[2020-04-22 10:52] MohammedAlrozzi opened #4646 "confusing information"
it is mentioned somewhere that anyone with non-microsoft account can join Teams but then in point 4 it says that they should have a Microsoft account or create a new one. This is confusing and I hope you can change the wording. cheers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754022e3-49eb-dbd5-e4f5-891c8ebeb491

[2020-04-22 10:57] navjotghai opened #4647 "Send urgent messages using priority notifications"
looks like this feature only works when your single group chat window contains up to 20 users, if your group chat is over 20 users, the (! Urgent) option disappears.
Any ideas? i cant see any restrictions on the webpage if this feature only works for upto 20 users in a single group chat window.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-22 10:59] navjotghai commented on #4603
looks like this feature only works when your single group chat window contains up to 20 users, if your group chat is over 20 users, the (! Urgent) option disappears.
Any ideas? i cant see any restrictions on the webpage if this feature only works for upto 20 users in a single group chat window.

[2020-04-22 11:45] keijikomatsu commented on #4488
ja-jp https://docs.microsoft.com/ja-jp/microsoftteams/e1-trial-license

![キャプチャ](https://user-images.githubusercontent.com/29809532/79977630-8d343500-84d9-11ea-84cd-88bd5ea8a394.PNG)

en-us https://docs.microsoft.com/en-us/microsoftteams/e1-trial-license
![en-us](https://user-images.githubusercontent.com/29809532/79978036-3418d100-84da-11ea-9a55-cc6131c2ef5f.PNG)

[2020-04-22 11:53] EliWallic opened #4648 "Guest name change in AAD not reflected in Teams"
Having the issue that after adding an guest to an Team its displayed with the email first part and after editing the guests information in AAD its not updates in Teams.

[2020-04-22 11:59] gitralf opened #4649 "Link loop"
in paragraph "Compliance Standards", the link in "Details can be found in the ..." in the very last sentence points to the current document, but not to more details.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: ca579d63-182b-d6f5-8777-79248fa27ed9
* Version Independent ID: b4c27d1b-b2

[2020-04-22 11:59] AlexanderSaad opened #4650 "Clarification about "Who can join scheduled live events""
Could you please clarify what do you mean by "Org-wide permission" in the following sentence:
"This setting enables the Org-wide permission type in Teams when a user schedules a live event."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9aa4676-855a-fddb-bb0b-96b7095c695e
* Version Independent ID: 7c39f08c-0d56-6d29-

[2020-04-22 12:14] keijikomatsu opened #4651 "日本語誤記の修正依頼 E1 試用版ライセンス → E1 Trial license"
以下の誤記を修正お願いいたします。日本語トランスレートで誤記が発生しております。
誤記）この度の特別な E1 試用"板"ライセンスをご用意しています。
正) この度の特別な E1 試用版ライセンスをご用意しています。

ja-jp https://docs.microsoft.com/ja-jp/microsoftteams/e1-trial-license

![キャプチャ](https://user-images.githubusercontent.com/29809532/79977630-8d343500-84d9-11ea-84cd-88bd5ea8a394.PNG)

en-us https://docs.microsoft.com/en-us/microsoftteams/e1-trial-license
![en-us](https://user-images.github

[2020-04-22 13:41] AlexanderSaad opened #4652 "Event organiser has "Allow IP Video" set to "off""
Can an event oraniser that has a "Messaging policy" with "Allow IP Video" set to "OFF" still record a live event, if the "Live event policy" setting "Who can record an event" is set to "Always record" or "Oganizer can record"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: becbf3ca-b88c-b033-a145-9a1af201ced3
* Version

[2020-04-22 14:52] arifC opened #4653 "The cmdlet is not available"
The cmdlets mentioned in this article are not part of the SfBO Powershell Module. Could you help me finding it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf3bc26-4cac-56c0-8669-6540adf3c502
* Version Independent ID: bd7cd483-e40e-88c2-b9ee-b21a9ea73005
* Content: [Manage feedback policies in Microsoft Teams - Mic

[2020-04-22 15:14] callit opened #4654 "How can we delete a tag?"
There's no explanation here about deleting/disabling/archiving a tag

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b16e659e-cf07-268a-e224-fa444749ac29
* Version Independent ID: ee822a8d-b331-998f-e336-b1fa510f35c0
* Content: [Manage tags in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoft

[2020-04-22 15:41] c016smith opened #4655 "Transfer phone numbers back to local carrier"
Where would a Microsoft subscriber find all the pertinent billing information to manage a migration of phone number(s) to another carrier? We don't get a traditional "phone bill" from Microsoft in the same way, so who would we talk to if a number needs to be moved back to customer's carrier (or a new carrier), such as when moving from Calling Plan methods to a Direct Routing situation and need to

[2020-04-22 15:44] ewillman commented on #4644
Does a setting need to be turned on to enable this?  I am a global admin at a client in the GCC High cloud, and Org-wide Teams do not appear to be available.

[2020-04-22 15:46] rsoakford opened #4656 "What's the difference between two "Office 365 Education for Faculty" SKUs?"
The table on https://docs.microsoft.com/en-us/MicrosoftTeams/sku-reference-edu lists:

Plan name 	SkuPartNumber 	SkuID
Office 365 Education for Faculty 	STANDARDWOFFPACK_FACULTY 	94763226-9b3c-4e75-a931-5c89701abe66
Office 365 Education for Faculty 	STANDARDWOFFPACK_IW_FACULTY 	78e66a63-337a-4a9a-8959-41c6654dfb56

SKU 94763226-9b3c-4e75-a931-5c89701abe66 appears as "Office 365 A1 for faculty" in

[2020-04-22 15:48] rsoakford opened #4657 "SKU e82ae690-a2d5-4d76-8d30-7c6e01e6022e missing from page?"
The table on https://docs.microsoft.com/en-us/MicrosoftTeams/sku-reference-edu lists:
314c4481-f395-4525-be8b-2ec4bb1e9d91 which appears in the admin center as "Office 365 A1 for students" and via Get-MsolAccountSku as "STANDARDWOFFPACK_STUDENT".

However, the same page does not list:
e82ae690-a2d5-4d76-8d30-7c6e01e6022e which appears in the admin center as "Office 365 A1 Plus for students" and vi

[2020-04-22 18:19] cichur commented on #4033
@darionws I've fixed the mentions of Go Local and published the revision. Cindy

[2020-04-22 18:57] #4602 closed

[2020-04-22 19:02] EZ-BZ opened #4658 "Application crashes when selecting video background"
#### Application crashes and restarts after selecting a video background before joining a meeting. This is consistently reproduced in Windows when using Teams versions higher than 1.3.00.3564 (this version works fine).
#### [Teams_logs.txt](https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/files/4518724/Teams_logs.txt)
---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-04-22 19:18] Pineapple87 commented on #3735
@dstrome Does a "Exchange hybrid deployment" consist of merely enabling "Exchange Hybrid Deployment" in the Azure AD Connect utility or is there more to it?  Still struggling getting the calendar button to appear in Teams.

[2020-04-22 19:44] dariomws commented on #4033
Thank you @cichur!

What about the license requirements? Could you double-check it?

[2020-04-22 20:01] pcunite commented on #101
Please respect the security of the environment. Allow Teams to run from a locked down directory. Thank you.

[2020-04-22 20:28] LolaJacobsen commented on #4232
Hi, @thomasbinder. Thanks for pointing this out. I've updated our limits-specifications-teams.md file. Changes should go live later this afternoon. Cheers!

[2020-04-22 20:28] #4232 closed

[2020-04-22 20:52] LolaJacobsen commented on #4643
Checking with PM Ashwin Appiah

[2020-04-22 20:56] LolaJacobsen commented on #4491
Checking with PM Suparno Chakrabarti

[2020-04-22 20:58] LolaJacobsen commented on #4428
Checking with PM Neeraj Jain.

[2020-04-22 21:00] LolaJacobsen commented on #4359
We updated the content. Thanks everyone!
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/4446

[2020-04-22 21:00] #4359 closed

[2020-04-22 21:04] LolaJacobsen commented on #4339
Checking with PM Alan Xie

[2020-04-22 21:05] LolaJacobsen commented on #4330
Checking with PM Neeraj Jain.

[2020-04-22 21:07] LolaJacobsen commented on #4321
Checking with PM Arun Das.

[2020-04-22 21:08] LolaJacobsen commented on #4214
@Balu-msft can you confirm that the free versions of Teams have all the capabilities/limitations of the paid version?

[2020-04-22 21:11] LolaJacobsen commented on #4339
@najacobo @Nakulm - Alan asked me to check with you on this.

[2020-04-22 21:16] LolaJacobsen commented on #4214
@Akackk  thanks for your inquiry. For Teams Exploratory and the recent free E1 Teams trial, all capabilities are the same. For Teams Free, there are differences. Check out the comparison in this article:

https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/compare-microsoft-teams-options

[2020-04-22 21:16] #4214 closed

[2020-04-22 21:26] alexDrinkwater opened #4659 "Activity notifications disappear after viewing one item in feed"
Steps to reproduce:

1. Have multiple mention notifications in Activity feed for the same channel and be on Teams tab.
2. Click to activity tab
3. Read top notification in activity feed. (note that all the notifications (red bubble number) above Activity disappear even though I only read one notification.)
4. Click back to Teams tab
5. Click back to Activity tab, now all unread notifications are n

[2020-04-22 22:38] ddub555 opened #4660 "Where is the list of known issues?"
Per one of the closed items, it's now being broken up here:
https://docs.microsoft.com/en-us/MicrosoftTeams/troubleshoot/teams

but that link doesn't have any content in the body. yes there are links down the left side, but this is poorly designed. This current page: https://docs.microsoft.com/en-us/MicrosoftTeams/known-issues is labeled "known issues" but contains 'helpful items' and the new page

[2020-04-22 23:06] scanum commented on #4625
@JBernklev thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-22 23:06] #4625 closed

[2020-04-22 23:06] scanum commented on #4632
@Dippie-WP thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-22 23:06] #4632 closed

[2020-04-22 23:07] scanum commented on #4637
@seanjb thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-04-22 23:07] #4637 closed

[2020-04-22 23:07] scanum commented on #4638
@kandersonkings thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-22 23:07] scanum commented on #4639
@mnp3 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-04-22 23:07] #4639 closed

[2020-04-22 23:07] scanum commented on #4641
@AlexanderSaad thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-22 23:07] #4641 closed

[2020-04-22 23:08] scanum commented on #4644
@joturans thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-04-22 23:08] #4644 closed

[2020-04-22 23:08] scanum commented on #4647
@navjotghai thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-04-22 23:08] #4647 closed

[2020-04-22 23:08] scanum commented on #4648
@EliWallic thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-22 23:08] #4648 closed

[2020-04-22 23:19] kandersonkings commented on #4638
Great - I knew there would be something somewhere for me to do this. I'm new to the office admin side.

[2020-04-22 23:27] scanum commented on #4658
@EZ-BZ thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-04-22 23:27] #4658 closed

[2020-04-22 23:27] scanum commented on #4656
@rsoakford thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-22 23:27] #4656 closed

[2020-04-22 23:27] scanum commented on #4655
@c016smith thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-04-22 23:27] #4655 closed

[2020-04-22 23:27] scanum commented on #4654
@callit thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-04-22 23:27] #4654 closed

[2020-04-23 01:59] scanum commented on #4626
@shivtorov Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 01:59] scanum commented on #4636
@TorrenManson Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 01:59] scanum commented on #4640
@AlexanderSaad Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 01:59] scanum commented on #4643
@AlexHill90 Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 01:59] scanum commented on #4645
@nick-cloud-maker-ai Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 01:59] scanum commented on #4646
@MohammedAlrozzi Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 01:59] scanum commented on #4649
@gitralf Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 01:59] scanum commented on #4650
@AlexanderSaad Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 02:00] scanum commented on #4651
@officeglobal Hi! Could you please help with this issue? Thanks

[2020-04-23 02:00] scanum commented on #4653
@arifC thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-04-23 02:00] #4653 closed

[2020-04-23 02:00] scanum commented on #4652
@AlexanderSaad thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-04-23 02:00] #4652 closed

[2020-04-23 02:00] scanum commented on #4660
@ddub555 Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-04-23 02:06] scanum commented on #4657
@rsoakford  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-04-23 02:06] MonroB commented on #4522
We gave up waiting on this.
If you create a new policy (not Org-Wide default), the change will apply.
Alternatively it is possible to create a new policy using PS. But this is a bit difficult in a hybrid environment.

[2020-04-23 02:06] scanum commented on #4659
@alexDrinkwater thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-04-23 02:06] #4659 closed

[2020-04-23 02:40] voravut77 opened #4664 "Microsoft Teams calling plan for Thailand"
Hello,

I am from Thailand and using MS. Teams. Suppose that the company I am working with is US based, and they assign the Microsoft Teams calling plan to my account in Thailand. They found the error that "Microsoft does not offer end user phone numbers for Thailand. The numbers offered are: Call queue (Toll) & Auto attendant (Toll) for phone systems and Dedicated conference bridge (Toll) numbers

[2020-04-23 05:17] anwarmahmood1 opened #4665 "If 64 bit Windows but 32 bit Office (because that was the longstanding advice), then 32 bit or 64 bit Teams"
If I have 64 bit Windows, then I suppose I should install 64 bit Teams.
But I have 32 bit Office 365 ProPlus, because up until last year this was the recommended option and the default.  Let's assume I didn't install Teams with Office.
Should I use 32 bit Teams or 64 bit Teams?  Teams adds extensions to Office, so I don't know.  This page doesn't offer any guidance either.

What should I do?

---

[2020-04-23 05:18] anwarmahmood1 commented on #4665
It seems that 64 bit Teams integrates fine with 32 bit Office (maybe 64 bit Teams contains both 32 bit and 64 bit addins for Teams?)

Anyway, would be helpful to clarify here.

[2020-04-23 05:25] bkeski commented on #4379
I can't see any new information about ending for non-EA customers

[2020-04-23 06:52] KristofferCF opened #4666 "Porting out from Teams is missing"
That section seems to have been removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a17293e0-4c49-0e97-d5da-b48322f10928
* Version Independent ID: c38c0726-5dec-d374-6948-2188d43025ef
* Content: [What's a port order? - Microsoft Teams](https://docs.microsoft.com/en-us/MicrosoftTeams/phone-number-calling-plans/port-

[2020-04-23 07:19] royalhomemilk commented on #4379
Neither do I see anything about non EA subscribers.. Also even the
customers with EA licesenses see 2085 expiration date... Does it mean the
subscription will last until 2085?

On Thu, Apr 23, 2020, 2:25 PM bkeski <notifications@github.com> wrote:

[2020-04-23 07:26] royalhomemilk commented on #4379
Will the EA license customers lose access to Teams Exploratory after January 2021? (Even with the product & services tab showing the expiration year of 2085.) If so, shouldn't it be fixed or something on the portal webpage..... The customers will think the subscription lasts forever.

[2020-04-23 07:43] wouterfovel opened #4667 "Microsoft Teams Activity Reports API"
Hi,

concerning Microsoft Teams Activity Reports (like user activity report, ...).
Currently, in the Teams Admin center, you can generate these - and export to csv.
However, we would like to interpret this data - make an analysis what teams do over time .... .
Are there plans to put this team analytics data behind an API ?
If not, would it somehow be possible to get this data in an automated way?

[2020-04-23 08:56] boxdoy94 commented on #4545
Is there already an explanation about this question?
we have the same one.

[2020-04-23 10:18] causeway74 commented on #3735
Would it be possible to add more detail on exactly what the user experience would be like where certain features aren't supported? What about a table that includes feature support by Exchange on-prem version?

[2020-04-23 11:31] Larryngolog opened #4668 "Requirements for Outlook Mobile and Exchange on-prem/other mail solutions"
Is is supported to plan Teams meetings from Outlook Mobile on iOS/Android if mailbox is hosted on Exchange Server or non Exchange mail solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e10f52-d726-d29a-e0a8-93729a32dfae
* Version Independent ID: 83555f80-a8ca-ee85-c1fc-e39891029758
* Content: [Use the Microsof

[2020-04-23 12:58] causeway74 commented on #4311
Footnote 1 (Exchange 2016 CU3 and above supported.) in the table in this article isn't referenced anywhere. Does the table need an update? It's unclear what happens if we have hybrid, but something other than 2016. What about 2013 mode for example?

[2020-04-23 13:54] Jmartinez589 opened #4670 "Forever, really?"
I'm out on the frontline and away from all of that Redmond air, but I have to challenge this sentence "By default, Teams chat, channel, and files data are retained forever." Will it still be there after the Channel is deleted? If the Group is deleted? If the tenant is de-provisioned? If you put this sentence in an article, customer will expect that Microsoft will help them to find that one chat wh

[2020-04-23 14:05] O365scripts opened #4671 "F1 > F3"
Can we add the F3 given it has changed name from it's previous F1 name at the start of this month?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35057f71-792b-a4e2-a2ee-a4908c11f3a4
* Version Independent ID: 7e23f067-1dcd-16f0-3f9a-ff8d13c1f659
* Content: [What is Microsoft 365 Business Voice? - Microsoft Teams](https

[2020-04-23 14:51] O365EDU commented on #4409
We only allow a few users to record to Stream, the rest record and download it.     We are unable to delete any of the non Stream recordings.  How do you delete the recording or the message about the recording ?

[2020-04-23 15:10] joshbrown-wsna commented on #4643
Hi  the message we are seeing is that teamlive events can be 16 hours.  Can you please confirm?  Next week we will be using Live Events for an all day conference and want to make sure this is accurate.

<img width="2011" alt="length_TL_Event" src="https://user-images.githubusercontent.com/64213088/80115522-b1276300-8539-11ea-9510-908c1ed8f031.png">

[2020-04-23 15:43] dariomws commented on #4545
Hi @KazuyDarklight, thank you for your feedback.

I experienced the same behaviour:
![image](https://user-images.githubusercontent.com/33589238/80119200-c3b49300-855f-11ea-8532-865fc6e03384.png)

@LanaChin Could you kindly help us to find an explanation for this? Thanks!

[2020-04-23 15:53] dariomws commented on #4548
Hi @jgwinner, thank you for your feedback.

This article is to assign phone numbers to users. If you want a phone number to call into a meeting, please check this article:
https://docs.microsoft.com/microsoftteams/set-up-audio-conferencing-in-teams

[2020-04-23 16:21] dariomws commented on #4591
Hi @AveryBaker, thank you for your feedback.

This article is under review. There are more similar or same issues:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/4670
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/2803
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3901

@LanaChin @LolaJacobsen @prvijay @anwara-ms if you want I can try

[2020-04-23 16:49] anwara-ms commented on #4591
Hi
I am running behind on a couple of these asks. I will find time and do
these reviews soon. I have these in my queue.

On Thu, Apr 23, 2020 at 9:21 AM Dario Woitasen <notifications@github.com>
wrote:

--
Anwar

[2020-04-23 17:08] dariomws commented on #4587
Hi @tomashpetr, thank you for your feedback.

I think all is in the article:
"In terms of Teams core functionalities, there are no differences between the subscriptions. The availability of the compliance capabilities does rely on the correct subscription level. To learn more, read Overview of security and compliance in Teams. For a detailed list of features available in each subscription, see the

[2020-04-23 17:21] dariomws commented on #4586
Hi @heaths, thank you for your feedback.

The debug logs are produced/downloaded using the following OS-specific methods:
- Windows: Keyboard shortcut: Ctrl + Alt + Shift + 1
- Mac OSX: Keyboard shortcut: Option + Command + Shift+1

When you use this keyboard shortcut, you will see a "1 file downloaded" notification. Then you should go to the specified location to get the file.

[2020-04-23 17:29] R4D10Active opened #4677 "PS Variables"
So many undefined variables in the examples makes it hard to copy paste examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05282aa8-ae14-117b-5885-7d851ee66b89
* Version Independent ID: 85abe13c-d34c-f42c-e273-a69be8cd991e
* Content: [Deploy Microsoft Teams Rooms with Microsoft 365 or Office 365 - Microsoft Teams

[2020-04-23 17:40] dariomws commented on #4585
Hi @brucesp1, thank you for your feedback.

The script is not available anymore, please use the MSIEXEC method. I am updating the article, thank you for pointing it out.

[2020-04-23 18:03] heaths commented on #4586
Thank you. Can you add that to the page as well?

[2020-04-23 18:12] CIGAdmin commented on #101
@pcunite, are you using the machine-specific installation of Teams? If so, it's normally run under "C:\Program Files (x86)\Microsoft\Teams\current". That folder is read-only to my users and they're using Teams on RDS with UPD and SRP. See earlier instructions on how to get machine-specific Teams installed on your RDS server.

If you are using the user-specific installation of Teams (by far, the de

[2020-04-23 18:14] dariomws commented on #4580
Hi @rachoksh, thank you for your feedback.

"Anonymous users can join a meeting" is an option in the Teams Admin Center and I cannot change it. Anyway, anonymous users can join Teams meeting without an account, just writing their name:
https://support.microsoft.com/office/join-a-meeting-without-a-teams-account-c6efc38f-4e03-4e79-b28f-e65a4c039508?ui=en-us&rs=en-us&ad=us

[2020-04-23 18:27] dariomws commented on #4586
It´s in the article actually :)

[2020-04-23 18:30] heaths commented on #4586
Ugh 🤦‍♂️, you're right. I somehow missed that. Thank you for pointing that out.

[2020-04-23 18:30] #4586 closed

[2020-04-23 20:25] lindspea commented on #4379
@Lumute This applies to any agreement or renewal post Jan 2021.

[2020-04-23 21:00] NGOmarty opened #4681 "Teams Meetings - Customize your meeting invitations"
The title is a little misleading, as you not actually able to directly edit email greetings. We would like to edit the text of meeting invitations. At the moment, our dial-in number is incorrect and we would like to change it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470478ed-3b4e-ced8-0e28-6cda545b8400
* Version

[2020-04-23 21:01] Difladrmaus opened #4682 "Teams Rooms in GCC-High"
"Microsoft Teams Rooms is not supported in Office 365 operated by 21Vianet, or in GCC-High, or DoD environments."

Any update on if/when?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bf01435-a73b-4bf2-5845-e4cf50c4c3a2
* Version Independent ID: 166e1800-80b1-2496-7160-3040c5b23c3d
* Content: [Microsoft Teams Rooms re

[2020-04-23 21:19] goldengun opened #4683 "Teams: Error when attempting to show a channel"
Hello,

We are having an issue with Microsoft Teams where we get an error when we attempt to show a channel in a Team.
The channels are set as Hidden, clicking the link opens a list of channels where I can click 'Show' on one of them:
![image](https://user-images.githubusercontent.com/36398292/80149810-1f851900-856c-11ea-8397-f6563f9b91b0.png)

However when 'Show' is clicked, Teams throws the foll

[2020-04-23 21:20] goldengun commented on #4683
Whoops. Looks Like I need to find the github for Teams. Issue closed.

[2020-04-23 22:04] SerdarSoysal commented on #4518
Thanks everybody for your feedback on this. @GASPowered your workaround is actually pretty cool. I just tested this with another customer and it worked very well. It also allows the guest presenters to collaborate leading up to and after the event.

@pepecheyenne currently you need to use desktop Teams app to present or produce a live event. Web browser and mobile apps currently only work for atte

[2020-04-23 22:42] nandomx3 opened #4684 "Is posible to set recordings not public in the organization?"
Is posible to set default that my recording ll not be public for the organization , we want our users to control their own videos by themselfs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976b8a9b-5a3e-1f3b-b848-d1dfbfd3389d
* Version Independent ID: 2b13a471-3baf-0086-439a-f94abb162fd6
* Content: [Teams cloud meetin