[2019-03-19 16:58] sowjanya365 commented on #1689
Hi @PhilFancy

Thanks for reaching out.

Yes, each Microsoft Team can have a maximum of 5000 members per team. And it is documented in the content source.

Kindly share with us the link which you are referring to now (Max team member limit is 2500). It would help us to understand it better.

Thank you.

[2019-03-19 17:22] sowjanya365 commented on #1698
Hi @thedrum808

Thanks for reaching out! We are not able to find the mentioned issue details on the "Content Source" link. Kindly let us know the link which you are referring to now. It would help us to clarify your query.

Thank you.

[2019-03-19 17:29] ivanja81 opened #1837 "Update"
Can you make an extra note that when adding servers to the pool the admin must deploy the server immediately and run bootstrapper? You can't add servers and not deploy wizard. It seems a bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8480732-de6a-92b0-2c9f-4cc1eba51c08
* Version Independent ID: 3ea7d917

[2019-03-19 17:40] Rick-Kirkham commented on #1687
@sowjanya365
Thanks. But the crucial thing here is that you need to **add this information to the article**. Because currently you have an article titled "Add a guest to a team" that does _not_ say how to add a guest to a team!

[2019-03-19 17:48] sowjanya365 commented on #1701
Hi @AndresCgaehd

Thanks for reaching out!

Please refer to the link below. It explains how to publish apps to the Microsoft teams tenant apps catalog.

https://docs.microsoft.com/en-us/microsoftteams/tenant-apps-catalog-teams

Hope this clarifies your query. Kindly confirm.

Thanks.

[2019-03-19 18:01] sowjanya365 commented on #1687
Hi @Rick-Kirkham

Thanks for your valuable suggestions. We really appreciate them.

The "Content Source" document is listed with what are all the ways to add guest to a team. And for the detailed explanation to add guests to a team you can refer to the link below.

https://support.office.com/en-gb/article/add-guests-to-a-team-fccb4fa6-f864-4508-bdde-256e7384a14f

Hope this helps. Kindly confirm.

[2019-03-19 18:57] netlander1 opened #1839 "Option #1 for Starting a meeting when using a phone to dial-in"
We are being told by Microsoft Tech Support that option #1, for starting a meeting when using a phone to dial in, is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad892c60-f7e4-0790-66f7-219d28f44ee6
* Version Independent ID: 36e86cca-c5a3-eb4d-477e-1fb7b0b5d7f1
* Content: [Audio Conferencing common que

[2019-03-19 20:47] Petri-X commented on #1371
@scanum
The document says;
"_11/14/2018 4 minutes to read Contributors_"
So I believe the document has not change at all yet, or correct me if I'm wrong.

If you say the document has not been updated yet, then how you could say "**the issue has been resolved**"?

[2019-03-19 20:54] get-itips commented on #1371
@Petri-X How are you? Hope you are doing good! As my reply in this thread says, _we appreciate your feedback and we will improve this article based on your comments_, I already created a pull request yesterday to clarify the information on this article based on your feedback (That's why @scanum consider this as resolved), but it takes time for these changes to go on the live version of the article

[2019-03-19 20:59] Rick-Kirkham commented on #1687
@sowjanya365
This is a not a good solution. You have an article on docs.microsoft.com titled "Add a guest to a team", which is actually about "_Ways to_ add a guest to a team", and which does _not_ contain practical steps for adding a guest to a team. Instead, you refer me to a _support_ article on support.office.com which does have those practical steps. And the first article doesn't even so much

[2019-03-20 07:17] DriveHeart commented on #767
@AndreaBarr Yeah~,I also found the issue said by @youseeadam .When  I gone to the end of step 8, the command "**Install-CsDatabase -Update**"could not work perfectly.Error message is "**Install-CsDatabase : Parameter set cannot be resolved using the specified named parameters.**" Thanks

[2019-03-20 10:44] tmaheshwar opened #1840 "First party vs third party"
First party templates are these going to appear via General Tab, which are 3rd party Templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb17d752-d62d-1d41-fa98-5eafe2c057d9
* Version Independent ID: 3ced31b7-2ac5-e140-b848-f97eee63a52f
* Content: [Get started with Teams templates for Healthcare organizations](htt

[2019-03-20 12:45] joaoalhinho opened #1842 "MFA"
If the admin account is MFA enabled (Hybrid Modern Auth) you can't bypass the credentials in a variable. Correct move Cmdlet will be
Move-CsUser -Identity username@contoso.com -Target sipfed.online.lync.com -HostedMigrationOverrideUrl $url

In that way a login window will appear to enter credentials and 2nd factor. Please update the manual. Thks

---
#### Document Details

⚠ *Do not edit this sect

[2019-03-20 14:43] dariomws306 commented on #1222
Hi @Deusly , thank you for your comment.

You should use retention policies to achieve what you need:
https://docs.microsoft.com/microsoftteams/retention-policies

Also there are messaging policies to avoid message edition/deletion:
https://docs.microsoft.com/en-us/microsoftteams/messaging-policies-in-teams

[2019-03-20 15:24] nicknow opened #1843 "How to create user cohorts?"
Under Upgrade Users in Stages under Step 1 it says "To create your user cohorts (Add link to user selection page)" but there is no more information on how to create user cohorts.

It does not appear that you can create any type of user cohort or groups to apply the Teams Upgrade policies too, that they must be applied per-user or org-wide.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-03-20 15:40] scanum commented on #1732
@officedocsbot open

[2019-03-20 16:22] jambirk commented on #1646
Just verified that the link is working now.

[2019-03-20 16:22] #1646 closed

[2019-03-20 16:27] jambirk commented on #1714
I honestly don't know. If you skip step 7 and your environment works, great.

[2019-03-20 16:33] tonysmit commented on #800
The SFBO admin center wasn't 'rolled' into the Teams Admin Center. However, currently they need to use the Legacy portal link in the Teams Admin Center to get and port phone numbers. This will be changing in the future.

[2019-03-20 16:33] #800 closed

[2019-03-20 16:52] kenwith commented on #1707
I am getting page not found on the en-au link too. @OfficeGlobal could this be a translation issue where link is not coming through for en-au language? If we switch to other language the link works fine.

[2019-03-20 17:11] thedrum808 opened #1845 "New announcements"
Given the announcements on Legal Hold here: https://techcommunity.microsoft.com/t5/Microsoft-Teams-Blog/What-s-new-in-Microsoft-Teams-the-Enterprise-Connect-feature/ba-p/376255 I think this page requires a content update on legal hold with Exchange on-prem, if it indeed applies as the linked article suggests. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-03-20 19:20] MaximAeon opened #1846 "eDiscovery of guest-to-guest chats how-to?"
Thank you for pointing out that there is a mechanism to index guest-to-guest chats. Would it be possible to provide content that shows how to configure AAD Guest accounts so their chats go to cloud/phantom mailbox?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 840dd36b-8c29-9738-4adc-ea9a7d277fd0
* Version

[2019-03-20 19:59] scanum commented on #1707
@officedocsbot assign @officeglobal

[2019-03-20 22:46] Chukaka opened #1847 "Broken Link"
In the "Teams certified IP phones" section, the link to the "See Currently certified IP Phones for current supported devices." is broken.

Current link it points to:
https://docs.microsoft.com/en-us/SfbPartnerCertification/certification/teams-ip-phones.md#currently-certified-ip-phones?toc=/MicrosoftTeams/toc.json&bc=/microsoftteams/breadcrumb/toc.json

However the one in "See also" at the bottom i

[2019-03-20 23:31] jambirk commented on #1847
The fix for this was implemented earlier today, it just hasn't propagated to the web yet.

[2019-03-20 23:37] #1847 closed

[2019-03-21 00:13] ChrisLGardner opened #1848 "The link to this PowerShell reference fails from the main Teams page"
On the main Teams overview on Docs (https://docs.microsoft.com/en-gb/MicrosoftTeams/Microsoft-Teams#pivot=home&panel=home-all) the PowerShell link is a 404 (https://docs.microsoft.com/en-gb/powershell/module/teams/?view=teams-ps) and should almost certainly go to this page instead. The suggestions even point to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-21 02:35] HaasHe opened #1849 "How about Teams federated with pure on premise SfB?"
Hi Team, according to this article, almost covered all scenario, not sure about the specific scenario when Teams user get federated with their partner who is still using SfB On Premise ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 169a20a6-ebf7-1093-3cb1-fb438b9b7e13
* Version Independent ID: b2074fd8-724e-75fa-bafb

[2019-03-21 03:39] hyoshioka0128 commented on #1756
@OfficeGlobal Thanks.
Close #1756

[2019-03-21 03:39] #1756 closed

[2019-03-21 07:29] hyoshioka0128 commented on #1771
@OfficeGlobal Thanks.
Close #1771

[2019-03-21 07:29] #1771 closed

[2019-03-21 07:31] hyoshioka0128 opened #1850 ""ar SA" needs to be replaced with "ar-SA""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cd03c696-b6c1-9033-ce8a-dbaf427706b5
* Version Independent ID: 956891fd-7496-cada-d2cb-0b7c6b724db6
* Content: [電話会議でサポートされている言語](https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages)

[2019-03-21 07:32] hyoshioka0128 opened #1851 ""bg BG" needs to be replaced with "bg-BG""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cd03c696-b6c1-9033-ce8a-dbaf427706b5
* Version Independent ID: 956891fd-7496-cada-d2cb-0b7c6b724db6
* Content: [電話会議でサポートされている言語](https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages)

[2019-03-21 07:33] hyoshioka0128 opened #1852 ""zh-(香港)" needs to be replaced with "zh-HK""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cd03c696-b6c1-9033-ce8a-dbaf427706b5
* Version Independent ID: 956891fd-7496-cada-d2cb-0b7c6b724db6
* Content: [電話会議でサポートされている言語](https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages)

[2019-03-21 07:34] hyoshioka0128 opened #1853 ""zh TW" needs to be replaced with "zh-TW""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cd03c696-b6c1-9033-ce8a-dbaf427706b5
* Version Independent ID: 956891fd-7496-cada-d2cb-0b7c6b724db6
* Content: [電話会議でサポートされている言語](https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages)

[2019-03-21 07:35] hyoshioka0128 opened #1854 ""hr HR" needs to be replaced with "hr-HR""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cd03c696-b6c1-9033-ce8a-dbaf427706b5
* Version Independent ID: 956891fd-7496-cada-d2cb-0b7c6b724db6
* Content: [電話会議でサポートされている言語](https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages)

[2019-03-21 09:27] OfficeGlobal commented on #1707
Hello @scanum, we have checked the article, mentioned link is hardcoded as _https://products.office.com/skype-for-business/audio-conferencing#Requirements_ therefore if you click the link it redirects to target page based on your browser settings.

[2019-03-21 12:05] d1bjo0 opened #1856 "Needs a "bolded" statement about no voicemail support"
Common Area Phones do not support voicemail. However this is often missed by customers and creates confusion. Please make a bolded or "important note" statement declaring that there is no support for voicemail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ab5215-f24f-75cf-bb92-16ac0ff5e5ca
* Version Independent ID:

[2019-03-21 12:43] Petri-X commented on #1714
Let me ask the original question:
How this document takes care of situation where Exchange hybrid is already setup? As these instructions overlay very strongly with the work what Exchange Hybrid Wizard has done.

I hope your team just not overlook this issue by "Exchange is not our problem" as these two products are so close to each others.

[2019-03-21 13:03] Petri-X commented on #1371
@get-itips
Yes, that clarifies the case and I have heard same explanation from other issues as well. But step on my shoes: Until your process has finalized and the "pull request" has pushed something out, the issue is not solved for your customers.

This is much more of philosophic question than a real technical issue :) If you keep this issue open till updates are done, you make this much more tr

[2019-03-21 15:11] scanum commented on #1184
@billvolt  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:12] scanum commented on #1198
@DeanGross  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:12] scanum commented on #1200
@Arcass  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:14] jambirk commented on #1849
@FrancoiD can you answer that?

[2019-03-21 15:15] scanum commented on #1207
@TorrenManson  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:26] scanum commented on #1214
@lyncjp  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:36] scanum commented on #1222
@Deusly  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:37] scanum commented on #1230
@Kosmosas  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:38] scanum commented on #1231
@danieldhudson  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-21 15:38] scanum commented on #1239
@mazhagiah  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-21 15:39] scanum commented on #1248
@munrobasher We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-21 15:39] scanum commented on #1255
@jupfeiff  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:39] scanum commented on #1265
@rolandfalcon Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:39] scanum commented on #1270
@justinthorne Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-21 15:40] scanum commented on #1277
@SteffanH We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-21 15:41] scanum commented on #1278
@saubermfg  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-03-21 15:41] scanum commented on #1300
@davidshq We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-21 15:41] scanum commented on #1300
@officedocsbot close

[2019-03-21 15:41] #1300 closed

[2019-03-21 15:41] scanum commented on #1278
@officedocsbot close

[2019-03-21 15:42] #1278 closed

[2019-03-21 15:42] scanum commented on #1277
@officedocsbot close

[2019-03-21 15:42] #1277 closed

[2019-03-21 15:42] scanum commented on #1270
@officedocsbot close

[2019-03-21 15:42] #1270 closed

[2019-03-21 15:42] scanum commented on #1265
@officedocsbot close

[2019-03-21 15:42] #1265 closed

[2019-03-21 15:42] scanum commented on #1255
@officedocsbot close

[2019-03-21 15:42] #1255 closed

[2019-03-21 15:42] scanum commented on #1248
@officedocsbot close

[2019-03-21 15:42] #1248 closed

[2019-03-21 15:42] scanum commented on #1239
@officedocsbot close

[2019-03-21 15:42] #1239 closed

[2019-03-21 15:42] scanum commented on #1231
@officedocsbot close

[2019-03-21 15:42] #1231 closed

[2019-03-21 15:42] scanum commented on #1230
@officedocsbot close

[2019-03-21 15:42] #1230 closed

[2019-03-21 15:43] scanum commented on #1222
@officedocsbot close

[2019-03-21 15:43] #1222 closed

[2019-03-21 15:43] scanum commented on #1214
@officedocsbot close

[2019-03-21 15:43] #1214 closed

[2019-03-21 15:43] scanum commented on #1207
@officedocsbot close

[2019-03-21 15:43] #1207 closed

[2019-03-21 15:43] scanum commented on #1200
@officedocsbot close

[2019-03-21 15:43] #1200 closed

[2019-03-21 15:43] scanum commented on #1198
@officedocsbot close

[2019-03-21 15:43] #1198 closed

[2019-03-21 15:43] scanum commented on #1184
@officedocsbot close

[2019-03-21 15:43] #1184 closed

[2019-03-21 16:07] kenwith commented on #1371
@Petri-X - this is great feedback for improving transparency. My mission is to open source these docs and make process fully transparent. We are making progress. :)

To get any updates the community makes to 'live' site on docs.microsoft.com there is one more step. There is a private GitHub repository (it is just the same repository with the -pr at the end of name but you have to be on Microsoft c

[2019-03-21 16:10] kenwith commented on #1371
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/1829

[2019-03-21 16:11] kenwith commented on #1371
I merged and as soon as sync happens with that private repo I will merge master to live and it should go to docs.microsoft.com and date should update with new publish.

[2019-03-21 16:13] kenwith commented on #1707
@OfficeGlobal - the issue we are seeing though is that if someone is   'en-au'   Austrialian English language, then there is a 404. Others seem to work fine though.

I confirmed by going directly to redirect to en-au language: https://products.office.com/en-AU/skype-for-business/audio-conferencing#Requirements

Is this something you could help with?

[2019-03-21 16:28] jambirk commented on #1714
As you say, this page has heavy overlap with exchange content, and since it is expressly oriented to Skype for Business Online admins, why it is located in the SFB server content set is a question worth answering. We're having internal discussions about either moving the page or taking it down completely. We'll let you know soon what the determination is.

[2019-03-21 16:32] hyoshioka0128 commented on #1755
@OfficeGlobal Thanks.
Close #1755

[2019-03-21 16:32] #1755 closed

[2019-03-21 17:27] Petri-X commented on #1371
@kenwith
Oh ! That was amazing reply! Big thanks to share it. And yes, I know the troubles on large companies =)
Thumps up and lets make the world a bit better place step by step!

[2019-03-21 17:37] Petri-X commented on #1714
@jambirk
Ok, sounds interesting. While having that discussing, keep in mind that we seems to missing the documentation which have a direct path to the goal. Especially when the target is to have hybrid for both Exchange and Skype. Good luck for the work!

[2019-03-21 17:38] scanum commented on #1379
@officedocsbot assign @scanum

[2019-03-21 17:59] YuriySamorodov commented on #1689
@sowjanya365 Here is an article showing up that there is a limit of 2500 members per Team:
https://docs.microsoft.com/en-us/microsoftteams/create-an-org-wide-team

[2019-03-21 18:10] rishire opened #1858 "Private chat limit"
There are some exceptions documented here (Dec 17th 2018)
https://support.office.com/en-us/article/what-s-new-in-microsoft-teams-d7092a6d-c896-424c-b362-a472d5f105de

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Conte

[2019-03-21 19:49] alanbmhs opened #1859 "Assigning a meeting policy to a user"
Apparently "You can also do this by going to Microsoft Teams admin center &gt; Meetings &gt; Meeting policies. Select the policy and then select Manage users. In the Manage users pane, search for the user by display or user name. Select the name and select Add. When you are finished adding users, select Save." There is no 'Manage users' option available in this view to select.

---
#### Document D

[2019-03-21 20:28] kenwith opened #1861 "Table of Contents Bug!"
When I am in the Skype for Business Server 2019 Table of Contents (TOC) and I click an article sometimes I automatically go to the 2015 TOC.

I know this is a known issue that is being worked on but I wanted to open an issue to track it.

@shanehoey - thanks for the great MVP feedback today and great to meet you in person! If you know the GitHub alias of the other MVP's feel free to add them here.

[2019-03-21 20:46] kenwith commented on #1861
Here is my understanding of bug, if anyone can add on that would be appreciated:

There is a serious bug in the Skype for Business TOC. The issue is that the TOC jumps from 2015 content to 2019 content TOC.

This can be reproduced many different ways, but one way: Go to the 2015 content set: https://docs.microsoft.com/en-us/SkypeForBusiness/skype-for-business-server-2015  -> Click the 4th link in

[2019-03-21 21:03] dariomws306 commented on #1364
Hi @swakhlu , thank you for your feedback.

Are you talking about these links?

![image](https://user-images.githubusercontent.com/33589238/54784880-a77b4f80-4c03-11e9-9c59-5c7303e7f064.png)

[2019-03-21 21:05] dariomws306 commented on #1364
I see that you only are redirected if you click on "Skype for Business downloads and updates". But it looks good because it's the same for 2015 and 2019.

[2019-03-21 21:24] dariomws306 commented on #1348
Hi @SusanKocerka , thank you for your feedback.

I think you just not add these networks to the file. And then you know if it's not clasified, it's not some of your networks.

[2019-03-22 01:24] FrancoiD commented on #1849
@HaasHe, as mentioned in the article, you need to be more specific in that question. The article is very clear on what information you need in order to determine the routing.

The TeamsUpgrade mode of the recipient
The client used by the sender
Whether the conversation is new, or part of an existing thread
Whether the conversation is in-tenant or federated
Whether the conversation is possible

In

[2019-03-22 01:25] FrancoiD commented on #1477
@Stubeck32 do you still see the issue?

[2019-03-22 01:26] StuBeck32 commented on #1477
Yep. Support gave up on trying to help

[2019-03-22 02:43] swakhlu commented on #1364
Hi Dario
I was referring to a wider set of tabs then "Skype for Business downloads
and updates" under Skype for Business 2015 online documentation.
But the reason you give could in that case equally apply to those tabs. For
example - going down to > Plan , > Deploy etc many of the sub-tabs go back
to 2019.

This becomes confusing because one is browsing between tabs on the left of
page starting wi

[2019-03-22 07:13] OfficeGlobal commented on #1759
@samanthaw , @hyoshioka0128  The article has been HumanTranslated and published live. The issue is fixed

[2019-03-22 07:19] OfficeGlobal commented on #1534
@samanthaw , @hyoshioka0128 The article has been HumanTranslated and published live. Issue is fixed + issues listed above as related issues

[2019-03-22 07:25] OfficeGlobal commented on #1634
@hyoshioka0128 The article has been re-processed, all paragraphs are transalted

[2019-03-22 09:20] gerybtiscca commented on #1804
I may add that, through Azure AD Connect, disabled users are also added to the team, which is very annoying.

[2019-03-22 13:46] rkreienbuehl commented on #1236
I also have the same problem. I added the domain yesterday and the setup was completed. The I added a user with that domain. Now I am waiting since about 22 hours, trying from time to time to add the SBC, but I always get the same error: Can not use the "xxx.xxx.com" domain as it was not configured for this tenant.
Is this normal that this takes so long?

[2019-03-22 13:53] RapotOR commented on #1445
After clearing the cache, it solved the issues on my side. It looks like Teams doesnt understand the correct routing after any mode change.
https://blog.valeconsulting.co.uk/2018/09/28/clear-the-microsoft-teams-client-cache/

[2019-03-22 14:17] OfficeGlobal commented on #1707
@kenwith We're not able to fix the redirection from our side. But we recommend to add "/en-us/" to the link --> https://products.office.com/en-us/skype-for-business/audio-conferencing#Requirements

Note: in such case all MachineTranslated markets will redirect to ENG page

[2019-03-22 14:44] piqueora opened #1863 "How to remove a dead device from the Devices management ?"
All the possible actions described above assume the device is working and online. But this is not the case for one of our phone, which is now full dead and will never be online.
As there is no Delete or Remove action possible on a offline device, how can we remove this dead device from the list of the devices in the GUI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-22 14:55] piqueora opened #1864 "device management with cmdlets"
this page describes the management using the Teams Admin GUI (and there is at least the Delete action which is missing currently: see #1863), but there is no description of what can be managed with other means : cmdlets at least, maybe a Graph API, or any other way (Intune ?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-22 15:03] whitgroves commented on #1687
I got the "we can't find any matches" error, but since I'm an admin I figured I could just go into Teams settings and allow guest access using this (https://docs.microsoft.com/en-us/microsoftteams/set-up-guests) guide. Well, I've enabled guest access in the organization but still get that error. Either 1 of 2 things are true: (a) it takes time for the updated setting to propagate, which should be

[2019-03-22 15:29] oldkingcolemsscna opened #1865 "Missing critical step"
After step 10, this article should refer the reader to install Skype For Business Server 2019 before proceeding with the "Verify pilot pool..." step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ec4d122-ff87-2c4b-6caa-299795190dc5
* Version Independent ID: de2481bd-8b21-b5d7-3898-1a4b40d0bfd2
* Content: [Deploy pilo

[2019-03-22 15:31] oldkingcolemsscna opened #1866 "Missing important comments"
This article should mention that those migrating from Skype For Business Server 2015 should follow the steps under Migrate before installing as a migration does not want to create a new topology

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f4e937-e0cb-bc45-2876-d1f76a33d116
* Version Independent ID: ae02a73f-0968-6

[2019-03-22 15:34] quickclix75 opened #1867 "Logo URL"
When you configure the Logo URL in the Teams admin center, the example in the field uses .png and I was also able to apply and use a png file.. How strict a rule is the "Remember that it must be in JPG format!" comment above ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470478ed-3b4e-ced8-0e28-6cda545b8400
* Version

[2019-03-22 16:06] piqueora opened #1868 "Teams IP-Phones deployment requirements must be indicated somewhere, for Internet access especially"
This page well described the current features offered by Teams devices for users or marketing people. Another page describes how to currently "Manage your devices in Microsoft Teams".
Nowhere it is described how such devices can be deployed and provisioned in a enterprise using a proxy for controling all Internet accesses.
From our tests, we conclude that all Teams devices in the current release v

[2019-03-22 16:09] jambirk commented on #1831
which version of Active Directory do you have? if you've imported AzureAD 2.0 I would expect the commands to fail.  The procedure assumes AzureAD 1.0, https://docs.microsoft.com/en-us/powershell/module/?view=azureadps-1.0 

[2019-03-22 16:46] LisaJo48 opened #1869 "Please add an explanation that defines External Access options more thoroughly"
What is the difference between 'External Access' and 'Users can communicate with external Skype for Business Users'?

Also, it appears that this screen shot and its explanation needs to be updated. My admin portal now says 'Users can communicate with Skype for Business Users and Teams users'; it no longer offers 'External Users'

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-03-22 18:49] scanum commented on #1767
@systopher We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-22 18:49] scanum commented on #1767
@officedocsbot close

[2019-03-22 18:49] #1767 closed

[2019-03-22 20:29] wakeyyc commented on #1831
I'm using 1.0, I already noticed that you must be using 1.0 for this.

[2019-03-22 20:45] jambirk commented on #1831
You may need to file a support ticket then, sorry.

[2019-03-22 21:43] LolaJacobsen commented on #1732
Good question, @Hitchcock3 . @phecdalouie - can you tell us whether archived teams count toward the per-tenant limit?

[2019-03-23 04:45] hyoshioka0128 commented on #1634
@OfficeGlobal Thanks.
Close #1634

[2019-03-23 04:45] #1634 closed

[2019-03-23 04:49] hyoshioka0128 commented on #1534
@OfficeGlobal Thanks.
Close #1534 | #1533 | #1532 | #1531 | #1530

[2019-03-23 04:49] #1534 closed

[2019-03-23 04:49] hyoshioka0128 commented on #1530
@OfficeGlobal Thanks.
Close #1530

[2019-03-23 04:49] #1530 closed

[2019-03-23 04:49] hyoshioka0128 commented on #1531
@OfficeGlobal Thanks.
Close #1531

[2019-03-23 04:49] #1531 closed

[2019-03-23 04:50] hyoshioka0128 commented on #1532
@OfficeGlobal Thanks.
Close #1532

[2019-03-23 04:50] #1532 closed

[2019-03-23 04:50] hyoshioka0128 commented on #1533
@OfficeGlobal Thanks.
Close #1533

[2019-03-23 04:50] #1533 closed

[2019-03-23 04:51] hyoshioka0128 commented on #1759
@OfficeGlobal Thanks.
Close #1759

[2019-03-23 04:51] #1759 closed

[2019-03-23 12:05] shanehoey commented on #1861
@kenwith  thanks for having a session with us, we all enjoyed it, I've reached out to a couple of the MVP's  /cc @StaleHansen

[2019-03-23 23:48] oldkingcolemsscna opened #1876 "Incorrect information"
Documentation above says "You configure Cloud Voicemail as the hosting provider on the Edge Server by using the New-CsHostingProvider cmdlet with the following parameters:"

This is incorrect. You configure the hosting provider on a FE server, not Edge. Edge PS cannot configure any aspect of the S4B infrastructure other than its own services

---
#### Document Details

⚠ *Do not edit this section.

[2019-03-25 16:05] jambirk commented on #1868
@kruthikaponnusamy Can you please comment? Sounds like we might need to create some new content here.

[2019-03-25 18:23] hmank opened #1879 "Database mirroring"
Database mirroring is not supported in Skype for Business 2019, it is only supported in Skype for Business Server 2015. Can you please update the document to reflect this information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8c5958a-c5e5-5aba-211a-2886c86ba831
* Version Independent ID: e53ed9d2-4ee4-346a-054b-6c

[2019-03-25 21:23] scanum commented on #1879
@officedocsbot assign @scanum

[2019-03-25 21:24] scanum commented on #1876
@officedocsbot assign @scanum

[2019-03-25 21:24] scanum commented on #1869
@officedocsbot assign @scanum

[2019-03-25 21:25] scanum commented on #1868
@officedocsbot assign @scanum

[2019-03-25 21:26] scanum commented on #1867
@officedocsbot assign @scanum

[2019-03-25 21:26] scanum commented on #1866
@officedocsbot assign @scanum

[2019-03-25 21:28] scanum commented on #1865
@officedocsbot assign @scanum

[2019-03-25 21:29] scanum commented on #1863
@officedocsbot assign @scanum

[2019-03-25 21:30] scanum commented on #1863
@piqueora  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-25 21:30] scanum commented on #1863
@officedocsbot close

[2019-03-25 21:30] #1863 closed

[2019-03-25 21:31] scanum commented on #1861
@officedocsbot assign @scanum

[2019-03-25 21:31] scanum commented on #1859
@officedocsbot assign @scanum

[2019-03-25 21:32] scanum commented on #1858
@officedocsbot assign @scanum

[2019-03-25 21:33] scanum commented on #1856
@officedocsbot assign @scanum

[2019-03-25 21:33] scanum commented on #1854
@Officedocsbot assign @OfficeGlobal

[2019-03-25 21:33] scanum commented on #1854
@OfficeGlobal Could you please take a look? Thanks!

[2019-03-25 21:33] scanum commented on #1853
@Officedocsbot assign @OfficeGlobal

[2019-03-25 21:34] scanum commented on #1853
@officeglobal could you please take a look? Thanks!

[2019-03-25 21:34] scanum commented on #1852
@Officedocsbot assign @OfficeGlobal

[2019-03-25 21:34] scanum commented on #1852
@OfficeGlobal Could you please take a look? Thanks!

[2019-03-25 21:34] scanum commented on #1851
@Officedocsbot assign @OfficeGlobal

[2019-03-25 21:35] scanum commented on #1851
@officeglobal could you please take a look? Thanks!

[2019-03-25 21:35] scanum commented on #1850
@Officedocsbot assign @OfficeGlobal

[2019-03-25 21:35] scanum commented on #1850
@OfficeGlobal Could you please take a look? Thanks!

[2019-03-25 21:37] scanum commented on #1849
@HaasHe  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-25 21:37] scanum commented on #1849
@officedocsbot close

[2019-03-25 21:37] #1849 closed

[2019-03-25 21:38] scanum commented on #1848
@officedocsbot assign @scanum

[2019-03-25 21:43] scanum commented on #1846
@officedocsbot assign @scanum

[2019-03-25 21:43] scanum commented on #1845
@officedocsbot assign @scanum

[2019-03-25 21:44] dariomws306 commented on #1347
Hi @PSPally , thank you for your feedback.

I am applying an update on this article.

[2019-03-25 21:44] scanum commented on #1845
@officedocsbot assign @scanum

[2019-03-25 21:56] scanum commented on #1843
@officedocsbot assign @scanum

[2019-03-25 21:56] scanum commented on #1842
@officedocsbot assign @scanum

[2019-03-25 21:58] scanum commented on #1839
@officedocsbot assign @scanum

[2019-03-25 21:58] scanum commented on #1837
@officedocsbot assign @scanum

[2019-03-25 21:59] scanum commented on #1835
@officedocsbot assign @scanum

[2019-03-25 22:00] dariomws306 commented on #1345
Hi @jahaney , thank you for your valuable feedback.

"Scaled consolidated Skype for Business Server Edge pool, with DNS load balancing and public IP addresses" is the same image as "Scaled consolidated Skype for Business Server Edge pool, with hardware load balancing".

First one is wrong, I will try to get the right image.

[2019-03-25 22:02] kruthikaponnusamy commented on #1868
This is mostly a partner work item, but we should have a backlog for this. How is this done?

Thanks,
Kruthika

From: James Birkinshaw <notifications@github.com>
Sent: Monday, March 25, 2019 9:06 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Kruthika Ponnusamy <kponnus@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2019-03-25 22:04] dariomws306 commented on #1345
@MicrosoftHeidi could you help me with this?

Plan_LyncServer_Edge_Scenario_ScaledConsolidatedEdgeDNSLBPublicIP.jpg is the same image as Plan_LyncServer_Edge_Scenario_ScaledConsolidatedEdgeHLB.jpg. Do you have the original images?

[2019-03-25 22:20] scanum commented on #1840
@officedocsbot assign @scanum

[2019-03-25 22:21] scanum commented on #1832
@piqueora - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-25 22:22] scanum commented on #1832
@officedocsbot close

[2019-03-25 22:22] #1832 closed

[2019-03-25 22:22] scanum commented on #1831
@wakeyyc  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-25 22:22] scanum commented on #1831
@officedocsbot close

[2019-03-25 22:22] #1831 closed

[2019-03-25 22:22] scanum commented on #1830
@officedocsbot assign @scanum

[2019-03-25 22:23] scanum commented on #1820
@officedocsbot assign @scanum

[2019-03-25 22:25] scanum commented on #1817
@officedocsbot assign @officeglobal

[2019-03-25 22:25] scanum commented on #1817
@officeglobal Could you please take a look. Thanks!

[2019-03-25 22:25] scanum commented on #1816
@officedocsbot assign @officeglobal

[2019-03-25 22:26] scanum commented on #1816
@officeglobal Could you please take a look? Thanks!

[2019-03-25 22:26] scanum commented on #1815
@officedocsbot assign @officeglobal

[2019-03-25 22:26] scanum commented on #1815
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:26] scanum commented on #1814
@officedocsbot assign @officeglobal

[2019-03-25 22:27] scanum commented on #1814
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:27] scanum commented on #1813
@officedocsbot assign @officeglobal

[2019-03-25 22:27] scanum commented on #1813
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:27] scanum commented on #1811
@officedocsbot assign @officeglobal

[2019-03-25 22:27] scanum commented on #1811
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:28] scanum commented on #1810
@officedocsbot assign @officeglobal

[2019-03-25 22:28] scanum commented on #1810
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:28] scanum commented on #1809
@officedocsbot assign @OfficeGlobal

[2019-03-25 22:28] scanum commented on #1809
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:28] scanum commented on #1808
@officedocsbot assign @OfficeGlobal

[2019-03-25 22:28] scanum commented on #1808
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:29] scanum commented on #1804
@officedocsbot assign @scanum

[2019-03-25 22:29] scanum commented on #1793
@officedocsbot assign @scanum

[2019-03-25 22:29] scanum commented on #1791
@officedocsbot assign @scanum

[2019-03-25 22:30] scanum commented on #1790
@officedocsbot assign @scanum

[2019-03-25 22:34] scanum commented on #1789
@officedocsbot assign @scanum

[2019-03-25 22:34] scanum commented on #1788
@officedocsbot assign @OfficeGlobal

[2019-03-25 22:34] scanum commented on #1788
@officeglobal could you please take a look at this? Thanks!

[2019-03-25 22:35] scanum commented on #1782
@officedocsbot assign @scanum

[2019-03-25 22:35] scanum commented on #1776
@officedocsbot assign @scanum

[2019-03-25 22:36] scanum commented on #1757
@hyoshioka0128  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-25 22:36] scanum commented on #1757
@officedocsbot close

[2019-03-25 22:36] #1757 closed

[2019-03-25 22:37] scanum commented on #1728
@Larryngolog  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-03-25 22:37] scanum commented on #1728
@officedocsbot Close

[2019-03-26 00:54] dariomws306 commented on #1344
Hi @PJMarcum , thank you for your feedback.

Could you let me know the article you are talking about? Thanks.

[2019-03-26 00:56] dariomws306 commented on #1343
Hi @walkercz , thank you for your feedback.

Could you let me know tha article or product you are talking about? Thanks.

[2019-03-26 03:08] hyoshioka0128 opened #1884 "Paragraphs returned from Japanese to English."
After #1757, paragraph containing "Guest" is returning from Japanese to English

https://docs.microsoft.com/ja-jp/skypeforbusiness/optimizing-your-network/security-guide-for-skype-for-business-online

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 283fb363-d163-1d92-ef82-41d35e8206d3
* Version Independent ID: 0fc4982a-91de-b60f-9170-c4cb4579842b
* Con

[2019-03-26 06:42] JonesMikael opened #1885 "Azure Monitor vs OMS"
Seems like the same article as with OMS ([link](https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-clients/with-oms)). Any plans to merge the Azure Monitor/OMS documentation? It somewhat brings confusion which solution to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd80c884-93f3-8dac-f94d-a131fd79b

[2019-03-26 06:56] OfficeGlobal commented on #1854
related issues: #1853 | #1852 | #1851  | #1850
___
@samanthaw Working on a fix (Bug 3248900)

[2019-03-26 07:01] JonesMikael opened #1886 "Logs (classic) no longer available"
In **Map custom fields** section, the **Logs (classic)** is no longer available. Should be updated to reflect the new **Logs** with screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd80c884-93f3-8dac-f94d-a131fd79bba7
* Version Independent ID: e82ae6e4-4b10-fe5d-6ece-641a6375a085
* Content: [Deploy Skype Roo

[2019-03-26 07:48] Larryngolog commented on #1728
Hello. I do not understand your comment. I have no issue that could be resolved by support. I just asked to update the document to reflect the fact that you can edit connectors event without exo mailbox. I see that document was updated so this case can be closed.

[2019-03-26 07:48] #1728 closed

[2019-03-26 08:17] walkercz commented on #1343
Hello,
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/iw-trial-teams.md

Question is about what happen to user data when teams trial expires.

[2019-03-26 15:39] jambirk commented on #1885
The older OMS method is no longer supported, the OMS content was unlinked from the TOC. The OMS articles should be gone completely by end of day.

[2019-03-26 15:39] #1885 closed

[2019-03-26 15:50] gschilten commented on #1553
Same problem. I can only define a group, but if I want to use serial routing, how can I define the order If I don't see the agents?

[2019-03-26 15:59] dariomws306 commented on #1343
Thank you @walkercz.

The same apply to all licenses:
"When you remove or delete a license, the user's old email, contacts, and calendar are retained for 30 days, then permanently deleted. If you remove or delete a license but don't delete the account, the content in the user's OneDrive will remain accessible to you even after 30 days. "

[2019-03-26 17:44] thedrum808 opened #1890 ""If your organization has no more than 1,000 users, you can create an org-wide team""
The limit has since been raised to 5,000 for org-wide teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06059d07-6687-2924-7d0a-3c03220a1650
* Version Independent ID: bb293f92-9394-b156-2e08-0baead5c3bbe
* Content: [Overview of teams and channels in Microsoft Teams](https://docs.microsoft.com/en-US/microsoftteams/t

[2019-03-26 19:36] MicrosoftHeidi commented on #1345
The original images may not exist, I can check around with any of my colleagues who may have been here at that time.

[2019-03-26 21:36] dariomws306 commented on #1345
Thank you @MicrosoftHeidi !

[2019-03-26 21:41] scanum commented on #1713
Hi @danieledwardgeorgehitchcock we do not have all available codes listed anywhere. This is an issue that the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/ad

[2019-03-26 22:20] dariomws306 commented on #1341
Hi @thommck , thank you for your feedback.

CAP license doesn't include Teams license neither SfBO license. It's a special license for CAP wich include Phone System license and you need to add calling plans.

[2019-03-26 22:27] dariomws306 commented on #1339
Hi @ThomasBIDAULT , thank you for your feedback.

Could you elaborate further on this issue? Thanks!

[2019-03-26 22:32] thommck commented on #1341
That's not accurate. We are using the CAP bundle on all our SRS bundle  (this approach was recommended by our Microsoft rep at the time). Anyway, in answer to my own question, Teams got included in CAP earlier in the month

[2019-03-26 23:01] dariomws306 commented on #1341
Hi @thommck , it includes the SfBO/Teams services to connect a CAP to Office 365 but it's not a standard SfBO/Teams license that you can assign to users. That is the reason why I think I cannot add something like "it includes a SfBO/Teams license".
Let me double check with the author or product group.

Also I see that SRS articles should be updated to include the new "Meeting Room System Licence".

[2019-03-26 23:03] dariomws306 commented on #1341
Hi @lolaj, Could you kindly help us with this? Thanks in advance!

[2019-03-27 08:34] OfficeGlobal commented on #1816
@hyoshioka0128 The article has been re-processed and it's displayed translated at live site

[2019-03-27 08:44] hyoshioka0128 commented on #1816
@OfficeGlobal Thanks.
Close #1816

[2019-03-27 08:44] #1816 closed

[2019-03-27 08:48] hyoshioka0128 opened #1894 "Showing " [deploy-apps-microsoft-teams-landing-page.md] を参照･･･" (Markdown notation)"
After #1816,  Showing " [deploy-apps-microsoft-teams-landing-page.md] を参照･･･" (Markdown notation)

アプリ
アプリは、Teams (ファーストパーティ アプリ、または既定のアプリ) によって、またはサードパーティ (外部アプリ) によって提供される、タブ、コネクタ、ボットまたはそれらの 3 つを任意に組み合わせたのものです。[アプリ] の下で、既定のアプリを有効または無効にしたり、外部アプリを制御する設定を構成したりすることができます。Teams のアプリ、ボット、コネクタ、およびタブのロールアウトについては、(アプリ、ボット、およびコネクタ) [deploy-apps-microsoft-teams-landing-page.md] を参照してください。

https://docs.micr

[2019-03-27 09:19] eworthington1 commented on #1236
Also agree. We are at 48 hours now, still cannot run the command. Double and triple checked (inc peer review) documentation to ensure we have completed every step.

[2019-03-27 09:53] rkreienbuehl commented on #1236
@eworthington1 for your Info: On Friday after about 24 hours it also didn't work on our installation. On the weekend and on Monday I was not able to try if it worked, but when I tried yesterday morning, I was able to add the SBC. I cannot say how long it really took, but after 4 days I was able to add the SBC.

[2019-03-27 10:08] OfficeGlobal commented on #1853
The language codes were updated and published live

[2019-03-27 10:08] OfficeGlobal commented on #1852
The language codes were updated and published live

[2019-03-27 10:08] OfficeGlobal commented on #1851
The language codes were updated and published live

[2019-03-27 10:08] OfficeGlobal commented on #1850
The language codes were updated and published live

[2019-03-27 10:08] OfficeGlobal commented on #1854
@samanthaw , @hyoshioka0128 The language codes were updated and published live

[2019-03-27 10:15] hyoshioka0128 commented on #1852
@OfficeGlobal Thanks.
Close #1852

[2019-03-27 10:15] #1852 closed

[2019-03-27 10:15] eworthington1 commented on #1236
@rkreienbuehl Thanks for the info. I'll keep trying.

[2019-03-27 10:15] hyoshioka0128 commented on #1851
@OfficeGlobal Thanks.
Close #1851

[2019-03-27 10:15] #1851 closed

[2019-03-27 10:16] hyoshioka0128 commented on #1850
@OfficeGlobal Thanks.
Close #1850

[2019-03-27 10:16] #1850 closed

[2019-03-27 10:18] hyoshioka0128 commented on #1854
@OfficeGlobal Thanks.
Close #1854

[2019-03-27 10:18] #1854 closed

[2019-03-27 12:10] hyoshioka0128 commented on #1853
@OfficeGlobal Thanks.
Close #1853

[2019-03-27 12:10] #1853 closed

[2019-03-27 13:04] sowjanya365 commented on #1580
Hi @dgonzaITpro

Thank you for reaching out.

Soon after the 30 day grace period, your trial account information and data is permanently erased.

Hope this information is helpful. Kindly confirm and thank you for your patience.

[2019-03-27 13:32] moreaboutmatt opened #1895 "Too many 9s in the port range..."
Under "Requirements for using Transport Relays" the port range is listed as "50 000 – 59 9999" - too many 9s

Thanks...

Matt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b198f4-9576-a14d-4359-1e8cc0319cda
* Version Independent ID: ba7c3252-21d4-9be1-2a84-de2d51646f7b
* Content: [Plan for media bypass with Direct R

[2019-03-27 14:02] morphmax commented on #1664
Is there any way to restrict access on a channel to selected team members within a team?

[2019-03-27 14:24] JefTek opened #1897 "Should AllowGuestAccessToGroups be AllowGuestsToAccessGroups setting name"
I believe the setting referenced in this document should be "AllowGuestsToAccessGroups" and not "AllowGuestAccessToGroups" as per this document https://docs.microsoft.com/en-us/office365/admin/create-groups/manage-guest-access-in-groups?view=o365-worldwide#use-powershell-to-control-guest-access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-27 15:05] ttorrisi opened #1899 "Ability to add a specific sheet from Excel workbook"
My use case is as follows: I have a Excel workbook stored in Sharepoint with a master sheet, and client specific sheets. I want to be able to add a specific sheet to a specific channel. Is this possible, or on the roadmap at least? Having to keep multiple workbooks updated and living in Teams is not ideal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-03-27 15:42] jambirk commented on #1895
@scanum this is an easy typo to confirm, please remove an extra 9 and republish.

@CarolynRowe Do you concur?

[2019-03-27 15:47] scanum commented on #1236
@rkreienbuehl @eworthington1  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-busine

[2019-03-27 15:48] scanum commented on #1236
@officedocsbot close

[2019-03-27 15:48] #1236 closed

[2019-03-27 16:10] Refalm opened #1901 "Open application in background"
Where is the option to set "open application in background"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version Independent ID: 86172986-6cc8-eee5-1309-704d9de0dcd0
* Content: [Install Microsoft Teams using MSI via SCCM](https://docs.microsoft.com/en-us/microsoftteams/msi-depl

[2019-03-27 17:37] CarolynRowe commented on #1895
Thanks for your feedback.  I've already fixed this and it will be published soon.  Closing this issue.

[2019-03-27 17:37] #1895 closed

[2019-03-27 17:48] get-itips commented on #1879
Hello @hmank How are you?
Thanks for your feedback.
Actually, this article is also used for previous versions like SfB 2015, and depending on how you get to it, you will see in navigation Skype For Business 2019 or 2015.
That's the reason this article as a Special Note that says:

Thank you

[2019-03-27 17:55] get-itips commented on #1876
Hello @oldkingcolemsscna thanks for your feedback. I created a PR to correct the article.

Thank you

[2019-03-27 17:58] hmank commented on #1879
I understand the note however it is confusing to the user when there is already a sepearate section for  Skype for business 2015 planning located here:
https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/requirements-for-your-environment/server-requirements#DBs

And this one is for only Skype for Business 2019 see the image as well
https://docs.microsoft.com/en-us/skypeforbusine

[2019-03-27 18:17] o-l-a-v commented on #1901
Press your profile picture (top right), then settings.
![image](https://user-images.githubusercontent.com/6450056/55101698-fffb9280-50c4-11e9-8302-e0e5b3389651.png)

[2019-03-27 21:09] kenwith commented on #1062
@scanum - I believe @LanaChin is working on this one and can coordinate with you. I believe PM has pushed back on associated PR so we will need to loop with the PM to find out how to resolve this issue. @LanaChin please coordinate with @scanum and @get-itips .

[2019-03-27 21:17] kenwith commented on #1879
hi @hmank - thanks for taking the time to provide this feedback. This is a known issue we are working to resolve. The reason it is happening is that many of the articles are 'evergreen' meaning that they apply to both 2015 and 2019. But not all of them. There is a TOC file for 2015 and one for 2019. And in some articles the 2019 points to the evergreened article and it causes problems in the TOC r

[2019-03-27 21:17] #1879 closed

[2019-03-27 23:12] kenwith commented on #1364
hi @swakhlu  - thanks for taking the time to provide this feedback. This is a known issue we are working to resolve. The reason it is happening is that many of the articles are 'evergreen' meaning that they apply to both 2015 and 2019. But not all of them. There is a TOC file for 2015 and one for 2019. And in some articles the 2019 points to the evergreened article and it causes problems in the TO

[2019-03-27 23:12] #1364 closed

[2019-03-28 01:56] Mike-Crowley opened #1903 "dead link: Plan your Phone System in Office 365 (Cloud PBX) solution:"
this link doesn't work: "Plan your Phone System in Office 365 (Cloud PBX) solution: "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33bc456f-7b95-8779-3970-e3f476a5a4fb
* Version Independent ID: f0549691-87ab-e7d8-d00d-a5169a8cddb7
* Content: [Here's what you get with Phone System in Office 365](https://docs.microsoft

[2019-03-28 03:00] davidchenrsg opened #1904 "The download link is not working"
https://www.microsoft.com/en-us/download/details.aspx?id=39366

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27364aed-dc10-dcaf-8446-bc93e39bd4ca
* Version Independent ID: 907a29a6-6ff3-5c91-5c74-cf98cf71ad88
* Content: [Download and install the Skype for Business Online Connector module](https://docs.microsoft.com/en

[2019-03-28 07:45] bament-hun opened #1905 "Add Exchange Server 2013 or later into this document"
As many other article for SfB Server 2015/2019 contains that we have the same requirements for Exchange 2013 as Exchange 2013 later, this article should be also updated with the information that what we can find here is valid for Exchange Server 2013 or later as well.
reference:
https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/clients-and-devices/compatibility-with-office#exc

[2019-03-28 07:47] sowjanya365 commented on #1626
Hi @elenanakhmanson

Thanks for reaching out.

Kindly refer to the below link for more details on the "Manage meeting policies in Teams".

https://docs.microsoft.com/en-us/microsoftteams/meeting-policies-in-teams

Hope this article helps you with the required information. Kindly confirm. Thank you.

[2019-03-28 08:08] sowjanya365 commented on #1629
Hi @2009gautamkumar

Thanks for reaching out.

Therese is a below link mentioned in the document. It explains how to install Skype for Business Server 2015 on Windows Server 2016.

https://support.microsoft.com/en-gb/help/4015888/how-to-install-skype-for-business-server-2015-on-windows-server-2016

Hope this information is helpful. Kindly confirm.

[2019-03-28 10:10] sowjanya365 commented on #1638
Hi @OE10

Thanks for reaching out!

If your organization is planning to migrate to Skype 2019 you should define the new SBA under Skype 2019 folder.

Hope this information is helpful. Kindly confirm. Thank you.

[2019-03-28 10:20] Ruud-Mens commented on #101
I have the same issue as @kfl64, Teams is installed the **c:\programdata\<username>\**Microsoft\Teams and not in the Local AppData as the documentation suggests. I searched everywhere, but can't find anything on why it install in the programdata\username folder.

The only thing I can think of is that our Software Restriction Policy. We block every .exe in the user profiles, so Teams can't install

[2019-03-28 10:34] piqueora commented on #1868
@kruthikaponnusamy  answered "This is mostly a partner work item, but we should have a backlog for this. How is this done?"
On the 1st point, the partner responded something like "this is Microsoft code, it's up to Microsoft to document their product, ask them".
On the 2nd point "how this done ?", that's precisely the point ! Thanks

[2019-03-28 10:40] sowjanya365 commented on #1645
Hi @shivtorov

Thanks for reaching out!

There is no official confirmation on the Lync server 2013 support with .Net 4.7.x versions. So please read it as unsupported.

Hope this information helps you. Kindly confirm.

[2019-03-28 10:48] OE10 commented on #1638
Hi,
So maybe there is a mistake on the link: Skype/SfBServer2019/migration/connect-a-survivable-branch-appliance.md
Because you can see the below steps that talk about legacy SBA (for Skype 2019 need to use the same SBA for Skype 2015 – which means a legacy SBA)

To associate the legacy SBA to the Skype for Business Server 2019 Front End pool:
i.	Expand the branch site that has been created.
ii.	R

[2019-03-28 10:50] sowjanya365 commented on #1674
Hi @DeanGross

Thanks for reaching out!

Would you be so kind to elaborate more on this? It will help us to understand the requirement and take appropriate action.

Thank you.

[2019-03-28 14:58] scanum commented on #1899
@ttorrisi  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-28 14:59] scanum commented on #1894
@officedocsbot assign @officeglobal

[2019-03-28 14:59] scanum commented on #1894
@officeglobal Could you please take a look at this? Thanks!

[2019-03-28 15:00] scanum commented on #1884
@officedocsbot assign @officeglobal

[2019-03-28 15:00] scanum commented on #1884
@officeglobal Could you please take a look at this? Thanks!

[2019-03-28 15:33] salmanPadder commented on #100
Hey tcanter,

Can you please share the procedure that you followed to mitigate this.

[2019-03-28 15:57] jambirk commented on #1868
I believe @kruthikaponnusamy was addressing me, and didn't realize the comment was going to GitHub as well as email. She'll get back to you when she has an answer for your question.

[2019-03-28 16:29] scanum commented on #808
@dariomws306  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-28 16:29] scanum commented on #808
@Officedocsbot close

[2019-03-28 16:32] scanum commented on #870
@TobieFysh We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-28 16:32] scanum commented on #870
@officedocsbot close

[2019-03-28 16:32] #870 closed

[2019-03-28 16:36] scanum commented on #826
@nsshommo Following up on this issue. Any updates?

[2019-03-28 16:37] scanum commented on #824
@nsshommo Following up on this issue, could you please investigate this issue? Thanks

[2019-03-28 17:38] get-itips commented on #1869
Hello @LisaJo48
Thanks for your feedback! I created a PR to improve the article based on your comments.
Thank you

[2019-03-28 18:01] get-itips commented on #1867
Hello @quickclix75 thanks for your feedback, I created Pull Request to improve the documentation.
Thanks

[2019-03-28 18:11] get-itips commented on #1866
Hello @oldkingcolemsscna
**Thank you to taking the time to submit feedback.**

Actually, this article is for SfB 2015.
If you started browsing content related to SfB 2019 and ended up in this page, this is known issue described here https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/1861 and is currently being taken care of.
Thank You!

[2019-03-28 18:55] jambirk commented on #1674
Hi @DeanGross

Is your issue with the devices or the UX for Teams admin center?  Adding @tonysmit in case of the latter.

[2019-03-28 18:57] get-itips commented on #1864
Hello @piqueora
**Thanks for your feedback.**

Currently, there is no cmdlet or GraphAPI function to manage devices of Microsoft Teams but I am pretty sure the Team is working on them.
If you want, kindly visit https://microsoftteams.uservoice.com/forums/555103-public to make suggestions.

Thank you

[2019-03-28 19:37] teharia opened #1909 "Two points Needs attention"
Important
If Communications Credits haven't been set up, Audio Conferencing won't work for any users with pay-per-minute licenses.

 Note
If you have Audio Conferencing pay-per-minute licenses, you don't have to assign Communications Credits licenses separately to each user specifically for Audio Conferencing usage (you might still need to assign them for other services).

These two appears to be

[2019-03-28 20:20] DeanGross opened #1910 "Capabilities granted to anonymous users"
Please provide information about what an Anonymous user in a meeting is allowed to do and an explanation of their experience in the mobile, web, and desktop app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c8aee4f-05cd-85bf-8e8a-e11fa62b4f08
* Version Independent ID: addd3d3c-e615-67e1-0678-c1d4dc451815
* Content: [

[2019-03-28 22:38] MySkypeLab opened #1912 "Language Clarity"
The language used in the Storage table for "File upload limit" could be misinterpreted as being a bandwidth limit. Whereas, I believe it's referring to "Max file size per file" which I think would be clearer language to use here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Vers

[2019-03-28 22:57] MySkypeLab opened #1913 "Language Clarity"
"Each Files tab in Teams runs on a SharePoint Online backend, so the storage limits above apply to each Channel within a Team." - I believe that this line could be misinterpreted as meaning that each channel gets the full limit within the table, However, Channels share the storage limits of the team that they belong to. So clearer language might be something more like this: "Public Channels are ba

[2019-03-29 00:56] lyncjp commented on #1214
Thanks!

[2019-03-29 07:00] sowjanya365 commented on #1689
Hi @YuriySamorodov

Thanks for your comments. You are right.

Maximum number of members in a team is 5,000 and Maximum number in an org-wide team is 2,500.

Hope this information is helpful. Kindly confirm.

Thank you.

[2019-03-29 07:02] OfficeGlobal commented on #1894
@scanum The broken link is a source issue, could you please update the source?
![image](https://user-images.githubusercontent.com/47977325/55215104-e8252b00-51f8-11e9-9f17-8803898c2146.png)

[2019-03-29 10:02] eino-makitalo opened #1915 "No explanation about do I have to add domains or block them to make external usage possible"
Your page is showing nice pictures but no explanation what is the meaning of adding domains to Add Domain list :-(

If I allow external usage is it then open to every domain
and I can block hostile ones?
If I dont allow ... then I can block?

This is not very logical and intuitive so add some description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-29 12:47] rimroot opened #1917 "Listener healthcheck"
Please change KnownServersCount to KnownServerCount

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a4a6b7-573d-8b5b-c3d5-b728439c19f6
* Version Independent ID: 234fec3b-22a0-24d7-a4ce-b64623a0a749
* Content: [Deploy Statistics Manager for Skype for Business Server](https://docs.microsoft.com/en-us/skypeforbusiness/ma

[2019-03-29 15:41] scanum commented on #1677
@junterpfe  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 15:41] scanum commented on #1677
@officedocsbot close

[2019-03-29 15:41] #1677 closed

[2019-03-29 15:43] scanum commented on #1645
@shivtorov  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 15:43] scanum commented on #1645
@officedocsbot close

[2019-03-29 15:43] #1645 closed

[2019-03-29 15:47] LanaChin commented on #1062
@scanum, @get-itips - I reached out to the PM who confirmed that the current statement should not be changed. The links are partner implementations, not supported by Microsoft.

[2019-03-29 15:47] scanum commented on #1703
@almertes  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 15:47] scanum commented on #1701
@AndresCgaehd  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 15:48] scanum commented on #1698
@thedrum808  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 15:48] scanum commented on #1696
@chall324 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 15:48] scanum commented on #1685
@theangellmethod We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 15:48] scanum commented on #1686
@TomoharuMisawa  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 15:49] scanum commented on #1703
@officedocsbot close

[2019-03-29 15:49] #1703 closed

[2019-03-29 15:49] scanum commented on #1701
@officedocsbot close

[2019-03-29 15:49] #1701 closed

[2019-03-29 15:49] scanum commented on #1698
@officedocsbot close

[2019-03-29 15:49] #1698 closed

[2019-03-29 15:49] scanum commented on #1696
@officedocsbot close

[2019-03-29 15:49] #1696 closed

[2019-03-29 15:49] scanum commented on #1685
@officedocsbot close

[2019-03-29 15:49] #1685 closed

[2019-03-29 15:49] scanum commented on #1686
@officedocsbot close

[2019-03-29 15:49] #1686 closed

[2019-03-29 15:59] scanum commented on #1917
@officedocsbot assign @scanum

[2019-03-29 16:00] scanum commented on #1915
@officedocsbot assign @scanum

[2019-03-29 16:00] scanum commented on #1913
@officedocsbot assign @scanum

[2019-03-29 16:02] scanum commented on #1912
@officedocsbot assign @scanum

[2019-03-29 16:02] scanum commented on #1910
@officedocsbot assign @scanum

[2019-03-29 16:02] scanum commented on #1909
@officedocsbot assign @scanum

[2019-03-29 16:07] ChristianSchn opened #1918 "Screenshot is not available"
Please reactivate the screenshot. I am not an admin but need to know what kind of metrics this report has to offer. Thanks.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 5b138331-2f10-a05d-7e88-68e62e0b3e4f
* Version Independent ID: f923b648-ffe4-8a8a-c189-6e31f1032c10
* Content: [Micr

[2019-03-29 16:11] scanum commented on #1905
@officedocsbot assign @scanum

[2019-03-29 16:11] scanum commented on #1904
@officedocsbot assign @scanum

[2019-03-29 16:11] scanum commented on #1901
@Refalm  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:11] scanum commented on #1901
@officedocsbot close

[2019-03-29 16:11] #1901 closed

[2019-03-29 16:11] scanum commented on #1899
@officedocsbot close

[2019-03-29 16:11] #1899 closed

[2019-03-29 16:12] scanum commented on #1897
@officedocsbot assign @scanum

[2019-03-29 16:14] scanum commented on #1890
@officedocsbot assign @scanum

[2019-03-29 16:14] scanum commented on #1886
@officedocsbot assign @scanum

[2019-03-29 16:15] scanum commented on #1918
@officedocs assign @scanum

[2019-03-29 16:18] scanum commented on #957
@mrbuckingham  We appreciate any feedback that improves the content in the Microsoft docs, since the issue seems to have been resolved and we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 16:18] scanum commented on #957
@officedocsbot close

[2019-03-29 16:18] #957 closed

[2019-03-29 16:19] scanum commented on #987
@olavase - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-29 16:19] scanum commented on #987
@officedocsbot close

[2019-03-29 16:19] #987 closed

[2019-03-29 16:20] scanum commented on #1043
@ThomasBIDAULT  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:20] scanum commented on #1043
@officedocsbot close

[2019-03-29 16:20] #1043 closed

[2019-03-29 16:21] scanum commented on #1058
@obhayes  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:23] scanum commented on #1062
@nicolasbroisin  Thank you for submitting this feedback.

From our understanding the issue has been resolved, since no changes should be made to statements. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:23] scanum commented on #1062
@officedocsbot close

[2019-03-29 16:23] #1062 closed

[2019-03-29 16:24] scanum commented on #1162
@ndambrosio  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:25] scanum commented on #1162
@officedocsbot close

[2019-03-29 16:25] #1162 closed

[2019-03-29 16:25] scanum commented on #1199
@DeanGross Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:25] scanum commented on #1199
@officedocsbot close

[2019-03-29 16:25] #1199 closed

[2019-03-29 16:26] scanum commented on #1238
@akkawamu  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 16:26] scanum commented on #1238
@officedocsbot close

[2019-03-29 16:26] #1238 closed

[2019-03-29 16:26] scanum commented on #1244
@NicholasBurkhammer  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 16:26] scanum commented on #1244
@officedocsbot close

[2019-03-29 16:27] scanum commented on #1245
@CrystalThomasMS

[2019-03-29 16:27] scanum commented on #1249
@zweckj Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:27] scanum commented on #1249
@officedocsbot close

[2019-03-29 16:27] #1249 closed

[2019-03-29 16:28] scanum commented on #1266
@NicholasBurkhammer  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:28] scanum commented on #1266
@officedocsbot close

[2019-03-29 16:28] #1266 closed

[2019-03-29 16:28] scanum commented on #1268
@NicholasBurkhammer Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:28] scanum commented on #1268
@officedocsbot close

[2019-03-29 16:28] #1268 closed

[2019-03-29 16:28] scanum commented on #1301
@eijis2017  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:29] scanum commented on #1301
@officedocsbot close

[2019-03-29 16:29] #1301 closed

[2019-03-29 16:30] scanum commented on #1334
@zehawki  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-29 16:31] scanum commented on #1334
@officedocsbot close

[2019-03-29 16:31] #1334 closed

[2019-03-29 16:32] scanum commented on #1339
@ThomasBIDAULT  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 16:32] scanum commented on #1339
@officedocsbot close

[2019-03-29 16:32] #1339 closed

[2019-03-29 16:32] scanum commented on #1343
@walkercz  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:33] scanum commented on #1343
@officedocsbot close

[2019-03-29 16:33] #1343 closed

[2019-03-29 16:33] scanum commented on #1344
@PJMarcum  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.  

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-03-29 16:33] scanum commented on #1344
@officedocsbot close

[2019-03-29 16:33] #1344 closed

[2019-03-29 16:33] scanum commented on #1347
@PSPally  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:34] scanum commented on #1347
@officedocsbot close

[2019-03-29 16:34] #1347 closed

[2019-03-29 16:34] scanum commented on #1348
@SusanKocerka  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:34] scanum commented on #1348
@officedocsbot close

[2019-03-29 16:34] #1348 closed

[2019-03-29 16:35] scanum commented on #1351
@get-itips Andres could you please look at this? Thanks!

[2019-03-29 16:35] scanum commented on #1355
@oradcliffe  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:35] scanum commented on #1355
@officedocsbot close

[2019-03-29 16:35] #1355 closed

[2019-03-29 16:35] scanum commented on #1356
@webstaff  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-29 16:36] scanum commented on #1356
@officedocsbot close

[2019-03-29 16:36] #1356 closed

[2019-03-29 16:37] ThomasBIDAULT commented on #1339
In this article, there is no clear statement about the supported role for user homed on-premises using broadcast Meeitng. For instance, is it supported for an on-premises user to organize a broadcast meeting ? Is it supported for an on-premises user to produce or present a broadcast meeting ?

[2019-03-29 17:06] theangellmethod commented on #1685
@scanum what kind of a response did you expect?  There is no question in the comment back to me.  There is no resolution for where to get the cmdlet.  The cmdlet is still not available.  Why would you close this?

[2019-03-29 17:14] angellmethod opened #1919 "Reference to cmdlet but link to where the code is not available"
Reopening #1685 since it was closed without resolution.

In the first note it mentions that a cmdlet will be provided: "For customers that want to continue with the existing behavior of showing these groups in Outlook, an Exchange Online PowerShell cmdlet will be provided which can enable the group for the Outlook experience."

How can we access the cmdlet?

---
#### Document Details

⚠ *Do not ed

[2019-03-29 17:38] DeanGross opened #1920 "Exporting"
how can we export the data used in these reports?
how can we use this data in PowerBI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78ade1a4-092c-1132-44df-ee2c683fdd33
* Version Independent ID: 396b1aee-2f40-9895-9b00-07e38d11d31b
* Content: [Microsoft Teams analytics and reporting](https://docs.microsoft.com/en-us/

[2019-03-29 17:42] DeanGross opened #1921 "Missing Downloads"
Where is the Report Download feature shown in the screenshot,? we don't have that in our tenant.
Please label screenshots with the status of the feature if it not yet deployed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b138331-2f10-a05d-7e88-68e62e0b3e4f
* Version Independent ID: f923b648-ffe4-8a8a-c189-6e31f1032

[2019-03-29 17:50] DeanGross commented on #1674
The problem is that there does not seem to be any documentation for the settings shown on this page https://admin.teams.microsoft.com/company-wide-settings/client-settings. There should be a page in the documentation that aligns with this page to describe the options for each of the configuration settings.

[2019-03-29 17:52] jimbchoi commented on #1579
To be clear, only version SfB/Lync would get impacted due to EXUM online retirement is 2010, right? Lync server 2013 and SfB server 2015 already working with ExUM Online should be still supported with Cloud Voice without any manual intervention, I assume. Would someone please confirm this? Thanks a lot!

[2019-03-29 17:55] ASunday47 opened #1922 "Mic icon remains active on local view, but turns off on other attendees' views."
During a Skype4B meeting the microphone icon is deceiving for the user. It leads the user to believe their microphone is picking up sounds when it is not.
For the following example, I'm considering an inactive mic icon to be the blue mic icon with no lines around it. An active icon is the blue mic icon with the small vertical lines around it symbolizing activity.

Example -&gt;
 - User A dials int

[2019-03-29 17:55] scanum commented on #1919
@officedocs assign @scanum

[2019-03-29 17:55] scanum commented on #1920
@officedocs assign @scanum

[2019-03-29 17:55] scanum commented on #1921
@officedocs assign @scanum

[2019-03-29 17:56] scanum commented on #1922
@ASunday47  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-03-29 17:57] scanum commented on #1922
@officedocsbot close

[2019-03-29 17:57] #1922 closed

[2019-03-29 18:22] SusanKocerka commented on #1348
Well if you ask me:

No it's still a Case! @dariomws306 : I've added the networks to the / a file, but the only thing it's worth for seems to be the "call quality dashboard".
Within S4B everybody had the chance to "Setup" the location / site / whatever… in Teams is no Option available actually. As an Administrator, I thought: ok, give "Locations" a Chance, but NO... Just "call Quality Dashboard" a

[2019-03-29 18:23] scanum commented on #1348
@officedocsbot reopen

[2019-03-29 18:47] scanum commented on #178
@tonysmit Any updates on this issue? Thanks!

[2019-03-29 18:49] scanum commented on #260
@David201406 @mplwork thank you for submitting feedback.

As Ken mentioned,  the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-busin

[2019-03-29 18:49] scanum commented on #260
@officedocsbot close

[2019-03-29 18:49] #260 closed

[2019-03-29 18:50] scanum commented on #461
@tonysmit Hi Tony, any updates on this issue? Thanks!

[2019-03-29 18:51] scanum commented on #522
@kenwith Any updates on this issue? Thanks!

[2019-03-29 18:55] scanum commented on #612
@jambirk Any updates on this issue? Thanks!

[2019-03-29 18:56] scanum commented on #664
@MicrosoftHeidi Any updates on this issue? Thanks!

[2019-03-29 18:56] scanum commented on #669
@MicrosoftHeidi Any updates on this issue? Thanks!

[2019-03-29 18:57] scanum commented on #678
@MicrosoftHeidi Any updates on this issue? Thanks!

[2019-03-29 18:57] scanum commented on #691
@tonysmit Any updates on this issue? Thanks!

[2019-03-29 18:57] scanum commented on #693
@tonysmit and @AndreaBarr any updates to this issue? Thanks!

[2019-03-29 18:58] scanum commented on #696
@jambirk @MicrosoftHeidi Any updates on this issue? Thanks!

[2019-03-29 18:58] scanum commented on #696
@jinlianhanzi thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-03-29 19:00] scanum commented on #775
@Kettenhund   - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-03-29 19:00] scanum commented on #775
@officedocsbot close

[2019-03-29 19:00] #775 closed

[2019-03-29 19:01] #808 closed

[2019-03-29 19:01] scanum commented on #890
@nsshommo Any updates on this? Thanks

[2019-03-29 19:03] scanum commented on #1007
@MicrosoftHeidi Any updates on this? Thanks!

[2019-03-29 19:03] scanum commented on #1020
@jambirk Any updates on this? Thanks!

[2019-03-29 19:04] scanum commented on #1044
@jambirk Any updates on this issue? Thanks!

[2019-03-29 19:04] scanum commented on #1058
@officedocsbot close

[2019-03-29 19:04] #1058 closed

[2019-03-29 19:04] kenwith commented on #522
@scanum - yes, the article now has download to PowerShell 5.1. This can be closed now. Thanks for follow up!

[2019-03-29 19:04] scanum commented on #1061
@Turgayo Any updates on this issue? Thanks!

[2019-03-29 19:05] scanum commented on #1142
@chuckedmonson Any updates on this? Thanks!

[2019-03-29 19:10] jambirk commented on #612
Update tempo by @sohailta  seems to have addressed this. all previously mentioned lags are included in current version.

[2019-03-29 19:10] #612 closed

[2019-03-29 19:18] jambirk commented on #1020
@davgroom @Travis-Snoozy @gregbari This seems like a very minimal but needed correction to the posted script. Can we get this change made alongside the next MSI update?

[2019-03-29 19:19] jambirk commented on #1044
Looks like the needed update was merged a while ago. Closing.

[2019-03-29 19:19] #1044 closed

[2019-03-29 19:24] jambirk commented on #1061
Turgayo is no longer with the group. We will need to address this once the rebrand work is finished.

The heart of the answer is that we don't document the required OS version for each SRS installer version. It changes with every MSI release, and the guidance is to run the console setup script once to determine the best OS version for a given MSI.

[2019-03-29 22:09] dariomws306 commented on #1339
@ThomasBIDAULT Do you find some limitations for onpremises users?

Skype Meeting Broadcast service should be the same for online and onpremises users. Both should enter to the portal and they should have the same experience:
https://support.office.com/en-us/article/what-is-a-skype-meeting-broadcast-c472c76b-21f1-4e4b-ab58-329a6c33757d?ui=en-US&rs=en-US&ad=US

Enable it for online are onpremises ar

[2019-03-29 22:46] dariomws306 commented on #1348
Hi @SusanKocerka , please help me to understand.

Do you think it's an issue in the documentation or your concern is that there isn't a place with a simple and unique interface to add locations?

Thank you so much!

[2019-03-29 23:44] dariomws306 commented on #1312
Hi @KDawg05 , thank you for your feedback.

For example, if when you have configured the license for this user you chose India as location, calls to Indian numbers will be treated as local. You can see this information here:
https://docs.microsoft.com/en-us/microsoftteams/calling-plans-for-office-365#pricing-information

[2019-03-30 17:23] SusanKocerka commented on #1348
Hi @dariomws306 ,

Thank you for your reply

I think, that there should be a note in the documentation, that the location data added there, is just for the "Call Quality Dashboard".

Although it would be a good opportunity to integrate these locations (by networks) into Teams apps. Maybe there is a way to add that for contacts (right behind or beneath the name).

[2019-03-31 15:00] get-itips commented on #1865
Hello @oldkingcolemsscna
Thanks for your feedback, we really appreciate it.
I created a Pull Request to improve the article adding the missing step.
Thank you

[2019-03-31 15:12] get-itips commented on #1837
Hello @ivanja81
Thanks for your feedback.
I created a Pull Request to improve the article based on your comments.
Thank you

[2019-04-01 06:18] MarniHall opened #1925 "cmdlet Move-StaffHubTeam doesn't exist."
The cmdlet Move-StaffHubTeam doesn't exist in the powershell module listed as a prerequisite.  Without this cmdlet, none of the instructions above will result in a Staffhub team being moved to Shifts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f64dee1-c968-9d64-757e-7ca3263a4fc4
* Version Independent ID: a3157a8b-

[2019-04-01 10:37] Sean0029 opened #1926 "preview or early release feature"
Hi

I do not have these options in the Teams admin center on my tenant. How do we go about getting access to these?

Sean

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f91604a-35b0-dfbb-55b2-b601cb0841b0
* Version Independent ID: 84bcd0d7-b4ed-f13e-c84b-2ec6a7661ae9
* Content: [Manage app setup policies in Microsoft

[2019-04-01 11:23] mcbainsr commented on #1477
@StuBeck32  - have you tried asking your users to log out and back in?  In extreme cases we also asked them to clear their local cache in Teams by deleting these folders

%appdata%\Microsoft\teams\application cache\cache
%appdata%\Microsoft\teams\blob_storage
%appdata%\Microsoft\teams\Cache
%appdata%\Microsoft\teams\databases
%appdata%\Microsoft\teams\GPUcache
%appdata%\Microsoft\teams\IndexedDB
%

[2019-04-01 12:15] StuBeck32 commented on #1477
Yep, gone through all of that multiple times. My hunch is its caused by the switch over from SFB to Teams as the default, as we can no longer set users to "Org Wide settings" as it produces an error. We had no problems with this with moving two users over last year, but now that its "ready" we're having a lot more issues.

I was planning to have everyone switched over to Teams by now, but rather t

[2019-04-01 12:25] sowjanya365 commented on #1674
Hi @DeanGross

The following link describes the options present on the the "client-settings" page.

https://docs.microsoft.com/en-us/microsoftteams/enable-features-office-365

Hope this information is helpful. Kindly confirm. Thank you.

[2019-04-01 12:59] sowjanya365 commented on #1607
Hi @martinagrom

Thanks for reaching out! Please refer to the below link. It describes "Who can create live events".

https://support.office.com/article/get-started-with-microsoft-teams-live-events-d077fec2-a058-483e-9ab5-1494afda578a

Hope this information is helpful. Kindly confirm. Thank you for your patience.

[2019-04-01 14:28] scanum commented on #1876
@oldkingcolemsscna  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:30] scanum commented on #1876
@officedocsbot close

[2019-04-01 14:30] #1876 closed

[2019-04-01 14:31] scanum commented on #1869
@LisaJo48  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:31] scanum commented on #1869
@officedocsbot close

[2019-04-01 14:31] #1869 closed

[2019-04-01 14:32] scanum commented on #1867
@quickclix75  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:32] scanum commented on #1866
@oldkingcolemsscna  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:32] scanum commented on #1864
@piqueora  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:33] scanum commented on #1837
@ivanja81  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-01 14:33] scanum commented on #1837
@officedocsbot close

[2019-04-01 14:33] #1837 closed

[2019-04-01 14:33] scanum commented on #1864
@officedocsbot close

[2019-04-01 14:33] #1864 closed

[2019-04-01 14:43] scanum commented on #1866
@officedocsbot close

[2019-04-01 14:43] #1866 closed

[2019-04-01 14:45] scanum commented on #1867
@officedocsbot close

[2019-04-01 14:45] #1867 closed

[2019-04-01 15:02] scanum commented on #1865
@oldkingcolemsscna Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-01 15:02] #1865 closed

[2019-04-01 15:48] otravers commented on #1835
This does need clarification! I have O365 ProPlus and as of today Teams is not available in my tenant, nor is it listed in the plan's page:
https://products.office.com/en/business/office-365-proplus-business-software

[2019-04-01 19:26] thedrum808 opened #1930 "VoIP users + Exchange On-premises"
Per the announcement that voicemail would be coming to all VoIP users, and that voicemail is stored in the Exchange Online mailbox, will users with on-premises Exchange be able to use voicemail features (using the shadow Exchange Online mailbox) or will it be unavailable altogether?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-04-01 19:35] dariomws306 commented on #1348
Hi @SusanKocerka , thank you again for your feedback.

I think there is a text wich specify that:
"This file is used by Call Analytics and Call Quality Dashboard for generating reports"

To generete a request to add this feature or similar the right place to do it is User Voice:
https://microsoftteams.uservoice.com/forums/555103-public

Thank you.

[2019-04-01 21:16] dariomws306 commented on #1348
Don't worry!

It's the same article:
https://docs.microsoft.com/en-us/microsoftteams/learn-more-about-site-upload

[2019-04-02 00:23] thedrum808 commented on #1830
Nevermind, ninja edits happened after I posted. Article has been edited to reflect that an SfB license is not needed for Teams live events. Thanks!

[2019-04-02 00:45] tonysmit commented on #1674
I updated the code with the correct URL. Thanks.
________________________________
From: sowjanya365 <notifications@github.com>
Sent: Monday, April 1, 2019 5:25 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness
Cc: Tony Smith; Mention
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] Missing information (#1674)

Hi @DeanGross<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fg

[2019-04-02 00:55] jarrodmast commented on #1925
yeah same here, checked the staffhub powershell site and its not even listed as a valid command!

[2019-04-02 03:03] MySkypeLab opened #1933 "Typo in diagram"
The first diagram says "Skype for Business 2019 with Clound voicemail", should be "Cloud"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469ac0c8-5c06-7f7f-fe1d-8cadb205572a
* Version Independent ID: 5c9987d5-4c98-8115-55c8-f629dbd25799
* Content: [Plan Cloud Voicemail service for on-premises users](https://docs.micros

[2019-04-02 03:23] MySkypeLab opened #1934 "Broken link"
The following link is broken (404): "Set up a Phone System auto attendant" - https://docs.microsoft.com/en-us/MicrosoftTeams/create-a-phone-system-auto-attendant.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63f7281d-e17d-c4e8-ced8-f4d695785e6c
* Version Independent ID: 40876324-10aa-e412-e1c2-868d1be2b9b1
* Conten

[2019-04-02 04:09] tonysmit commented on #1142
@ruizoscar - Can you help on this issue? And then let us know how to correct this in the article? Thanks, Tony

[2019-04-02 04:14] tonysmit commented on #691
@AndreaBarr or @scanum -  Yes, we can change the version to 4.7.

[2019-04-02 04:14] #691 closed

[2019-04-02 04:19] tonysmit commented on #461
I can help here if someone can condense this entire lengthy thread.

External access lets your Teams and Skype for Business users communicate with other users that are outside of your organization. By default, your organization can communicate with all external domains. If you add blocked domains, all other domains will be allowed but if you add allowed domains, all other domains will be blocked.

[2019-04-02 04:20] tonysmit commented on #461
@nomorephones - tagging this if you have time.

[2019-04-02 04:24] tonysmit commented on #178
@knssub - SFB Plan 1 doesn't allow any cloud voice features, so we focus on SP2 because of this. For some Business plans you can add SP2 then add voice features to it, however, we recommend upgrading to an E3/E5 plan because you will end up with more features that SP2 and it may cost less in the long run depending on what you are adding to SP2.

[2019-04-02 04:24] #178 closed

[2019-04-02 08:12] nsshommo commented on #824
You cannot join meetings in Teams from Skype/S4B. Hopefully, Microsoft is working on this but as of now, it is not possible. If you want to join Teams meeting or message teams people, they need to setup a free Teams and they would have to invite you to their team or vise Versa as a guest. For more information, you can see the following link:

https://docs.microsoft.com/en-us/microsoftteams/coexist

[2019-04-02 08:24] nsshommo commented on #826
Nothing yet.

[2019-04-02 08:25] nsshommo commented on #890
Nothing yet.

[2019-04-02 08:27] hkusulja commented on #890
It is very bad from customer perspective that Microsoft does not want to communicate how service works and where is data stored....

[2019-04-02 09:18] OfficeGlobal commented on #1811
related issues: #1812 | #1813 | #1814
____
Working on a fix

[2019-04-02 13:24] faron05 commented on #1925
I agree! It looks like an updated module is needed for the new cmdlets!

[2019-04-02 15:19] sowjanya365 commented on #1635
Hi @Arcass

Thanks for reaching out!

Yes, external domain access list is shared between Microsoft Teams and Skype for Business Online. So you can manage the teams external list using the "New-CsEdgeAllowList" cmdlet as well.

Hope this information is helpful. Looking forward to your confirmation. Thank you.

[2019-04-02 15:50] rrgonzalezz opened #1936 "Does Teams CAP work with Direct Routing?"
Does the CAP license work with Teams and Direct Routing. All the documentation I have encountered so far only makes reference to the set up of Teams / SfB Online CAPs with Calling Plans, but I have been searching for Microsoft documentation stating or confirming if Teams CAPs are also supported with Direct Routing to no avail so far.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-04-02 15:52] Shlibidi opened #1937 "No mention of how long it takes for guest access to start working after enabling guest users"
It would be really nice if this documentation (or even better, a warning after enabling it in the Teams Admin Center) mentioned that it takes between 8 and 24 hours until you're able to invite guest users to Teams after enabling Guest Users.
As it is right now: we enable Guest Users and test it and worry that something is wrong with the configuration instead of being aware that it just takes reall

[2019-04-02 17:34] sowjanya365 commented on #1638
Hi @OE10

Thanks for your patience. Appreciate it.

Apologies for creating the confusion. If you are looking for associating the legacy SBA to the Skype for Business Server 2019 Front End pool, you need create a new survivable branch appliance on the legacy version(in this scenario it is Skype for business server 2015).

Hope this information is helpful. Looking forward to your confirmation. Thank

[2019-04-02 18:57] #1716 closed

[2019-04-02 19:02] jambirk commented on #1716
I just made a commit that resolves this, the whole step was removed.

[2019-04-02 19:02] #1714 closed

[2019-04-02 19:02] #1712 closed

[2019-04-02 20:19] thedrum808 commented on #1845
Link has since been updated to reflect features are coming soon. Please close.

[2019-04-02 21:14] scanum commented on #1926
@Sean0029  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-02 21:14] scanum commented on #1926
@officedocsbot close

[2019-04-02 21:14] #1926 closed

[2019-04-02 21:17] scanum commented on #522
@bnicho02  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-02 21:17] #522 closed

[2019-04-03 01:51] SkyTechGit commented on #1903
What Mike said. Dead link

[2019-04-03 02:04] MarniHall commented on #1925
Logged a ticket with microsoft. They confirmed cmdlet not released yet.  These instructions will be valid when the powershell module update is released.  No firm ETA.

[2019-04-03 02:24] dariomws306 commented on #1334
Hi @zehawki , thank you for your feedback.

In your case when you create a Team (and channels under it) owners and members can see all, including tabs added by owners or members.
Teams is based on Office 365 groups, so when you create a Team from an existing Office 365 Group, permissions are inherited.
Please check:
https://docs.microsoft.com/en-us/microsoftteams/assign-roles-permissions

[2019-04-03 06:46] lindspea commented on #1713
@scanum this can be closed.

[2019-04-03 14:47] mhunsberger opened #1943 "User can now set a custom status presence"
Remove this line: "Setting a custom presence status is not enabled for users in Teams." Users can now select their picture (or picture placeholder), and select Set status message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a162ef5c-3099-7f58-4178-d29e3ec2b5a7
* Version Independent ID: 6ca31e56-052d-6c62-1323-b5aaaa

[2019-04-03 16:18] scanum commented on #1312
@KDawg05  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@yiuyu2357  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area

[2019-04-03 16:18] scanum commented on #1312
@officedocsbot close

[2019-04-03 16:18] #1312 closed

[2019-04-03 16:19] scanum commented on #1334
@zehawki Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-03 16:19] scanum commented on #1334
@officedocsbot close

[2019-04-03 16:20] scanum commented on #1339
@ThomasBIDAULT  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-03 16:20] scanum commented on #1339
@officedocsbot close

[2019-04-03 16:22] scanum commented on #1689
@PhilFancy @YuriySamorodov  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-03 16:22] scanum commented on #1689
@officedocsbot close

[2019-04-03 16:22] #1689 closed

[2019-04-03 16:27] tonysmit commented on #1839
@netlander1 - In Teams, go to **Meetings** > **Meeting policies** > under **Participants and guests** > select **Allow people that dial in to start a meeting**.

[2019-04-03 16:27] #1839 closed

[2019-04-03 16:29] scanum commented on #696
@officedocsbot close

[2019-04-03 16:29] #696 closed

[2019-04-03 16:30] scanum commented on #824
@andrescolombia  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-03 16:30] scanum commented on #824
@officedocsbot close

[2019-04-03 16:30] #824 closed

[2019-04-03 16:32] scanum commented on #1220
@PhillipGarding Hi! Any updates on this issue? Thanks!

[2019-04-03 16:34] scanum commented on #1358
@jambirk Hi James, any updates on this issue? Thanks!

[2019-04-03 16:34] scanum commented on #1429
@jambirk Hi James! Any updates on this issue? Thanks!

[2019-04-03 16:37] scanum commented on #1431
@jambirk Hi James, any updates on this issue? Thanks!

[2019-04-03 16:37] scanum commented on #1432
@jambirk Hi James! Any updates on this issue? Thanks.

[2019-04-03 16:38] scanum commented on #1433
@jambirk Hi James! Any updates on this issue? Thanks!

[2019-04-03 16:38] scanum commented on #1435
@jambirk Hi James! Any updates on this issue? Thanks!

[2019-04-03 16:39] scanum commented on #1436
@jambirk Hi James, any updates on this issue? Thanks!

[2019-04-03 16:40] scanum commented on #1457
@jambirk Hi James, any updates on this issue? Thanks!

[2019-04-03 16:40] scanum commented on #1459
@jambirk Hi James, any updates on this issue? Thanks!

[2019-04-03 16:45] jambirk commented on #1358
We just released a rebrand of the doc set to reflect the product rename made in January. We're hoping to get this out of our backlog and into an upcoming spring plan.

[2019-04-03 16:45] scanum commented on #1477
@jambirk Hi James, any updates on this issues? Thanks!

[2019-04-03 16:47] scanum commented on #1490
@davgroom and @sohailta Any updates on this issue? Thanks.

[2019-04-03 16:48] scanum commented on #1514
@jambirk @sohailta Any updates on this issue? Thanks!

[2019-04-03 16:48] scanum commented on #1517
@davgroom, @sohailta any updates on this issue? Thanks.

[2019-04-03 16:50] scanum commented on #1553
@jambirk Hi James, any updates on this issue? Thanks!

[2019-04-03 16:51] scanum commented on #1574
@samanthaw any update on this issue? Thanks!

[2019-04-03 16:55] jambirk commented on #1431
@r-milne can you clarify please? Are you referring to the use of AD 1.0 commands rather than 2.0 equivalents? The older (MSOLUser) commands are used because the 2.0 commands are not yet tested on this device. A test plan to correct that is being crafted, but is still in early stages.

[2019-04-03 16:58] scanum commented on #1579
@TorrenManson  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-03 16:59] jambirk commented on #1429
@r-milne  a colleague who works on Exchange Server/Online made some updates recently, did that fix your issue? I'm not certain what it was that you were saying needed to be referred to as a container.

[2019-04-03 17:00] scanum commented on #1579
@officedocsbot close

[2019-04-03 17:00] #1579 closed

[2019-04-03 17:06] jambirk commented on #1432
@r-milne Those commands are untested on Rigel. @sohailta and @gregbari may be able to comment further.

[2019-04-03 17:08] scanum commented on #1020
@davgroom @Travis-Snoozy @gregbari any updates on this issue? Thanks!

[2019-04-03 17:09] jambirk commented on #1433
It looks like step 4 of "create account" can indeed be safely moved to the next section, where we apply licenses and so on.

[2019-04-03 17:11] scanum commented on #1144
@jambirk Hi James, any updates on this issue? Thanks!

[2019-04-03 17:26] jambirk commented on #1435
Made clarification, publishes later today.

[2019-04-03 17:26] #1435 closed

[2019-04-03 17:44] scanum commented on #1626
@elenanakhmanson  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-03 17:45] scanum commented on #1626
@officedocsbot close

[2019-04-03 17:45] #1626 closed

[2019-04-03 17:45] scanum commented on #1629
@2009gautamkumar  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of

[2019-04-03 17:45] scanum commented on #1629
@officedocsbot close

[2019-04-03 17:45] #1629 closed

[2019-04-03 17:48] scanum commented on #1674
@DeanGross  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-03 17:48] scanum commented on #1674
@officedocsbot close

[2019-04-03 17:48] #1674 closed

[2019-04-03 17:48] scanum commented on #1687
@Rick-Kirkham  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-03 17:49] scanum commented on #1687
@officedocsbot close

[2019-04-03 17:49] #1687 closed

[2019-04-03 17:49] scanum commented on #1713
@officedocsbot close

[2019-04-03 17:49] #1713 closed

[2019-04-03 17:50] scanum commented on #1722
@OfficeGlobal Any updates on this issue? Thanks

[2019-04-03 17:50] scanum commented on #1743
@OfficeGlobal Any updates on this issue? Thanks!

[2019-04-03 17:50] jambirk commented on #1433
moved, closing the issue

[2019-04-03 17:50] #1433 closed

[2019-04-03 17:50] scanum commented on #1758
@OfficeGlobal Any updates on this? Thanks

[2019-04-03 17:51] scanum commented on #1788
@officeglobal any updates on this issue?

[2019-04-03 18:15] samanthaw commented on #1574
@scanum the bug is resolved (3173099), @OfficeGlobal to confirm if it's fixed (I still see some English paragraphs)

[2019-04-03 18:16] scanum commented on #1830
@thedrum808  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-03 18:16] scanum commented on #1830
@officedocsbot close

[2019-04-03 18:16] #1830 closed

[2019-04-03 18:17] scanum commented on #1845
@thedrum808 Thank you for submitting feedback! We strongly appreciate your inputs. Please keep contributing to the docs.

@officedocsbot close

[2019-04-03 18:17] #1845 closed

[2019-04-03 18:22] scanum commented on #1884
@OfficeGlobal Any updates on this issue? Thanks!

[2019-04-03 19:20] CarolynRowe commented on #1930
Please see the following topic and let us know if it doesn't answer your question:  https://docs.microsoft.com/en-us/SkypeForBusiness/hybrid/plan-um-migration

We will also add a link in the Set up Phone System voicemail topic.

[2019-04-03 19:20] #1930 closed

[2019-04-03 19:27] CarolynRowe commented on #1933
Thank you for your feedback.  The diagram has been fixed.

[2019-04-03 19:27] #1933 closed

[2019-04-03 19:47] CarolynRowe commented on #1903
Thank you for your feedback.  This has been fixed and will go live today.

[2019-04-03 19:47] #1903 closed

[2019-04-03 20:00] scanum commented on #1557
@DonPetry-EY  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-04-03 20:01] scanum commented on #1557
@officedocsbot close

[2019-04-03 20:01] #1557 closed

[2019-04-03 20:02] scanum commented on #1663
@abegeman  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-03 20:02] scanum commented on #1663
@officedocspr

[2019-04-03 20:02] #1663 closed

[2019-04-03 20:19] scanum commented on #1859
@alanbmhs  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-03 20:19] scanum commented on #1859
@officedocsbot close

[2019-04-03 20:19] #1859 closed

[2019-04-03 20:22] CarolynRowe commented on #1782
Thank you for your feedback.  This article is updated as soon as a new vendor is certified so please check back often.  However, we are not able to comment on certifications in process in this forum.

[2019-04-03 20:22] #1782 closed

[2019-04-03 20:49] CarolynRowe commented on #1791
Please see the following:  https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinevoiceuser?view=skype-ps

We will update the emergency location article to include a link to the cmdlet description.

[2019-04-03 20:49] #1791 closed

[2019-04-03 22:21] jg11jg opened #1948 "Team apps > Permission policies doesn't exist in Teams admin center!?!"
"In the left navigation of the Microsoft Teams admin center, go to Teams apps &gt; Permission policies."

I'm at https://admin.teams.microsoft.com/teams/manage, the header of the page says "Microsoft Team admin center" and there is a left navigation bar.  However, the left navigation bar does NOT have a "Teams apps" menu item.  It has Dashboard, Teams, Devices, Locations, Users, Meetings, Messagin

[2019-04-03 23:21] jambirk commented on #1517
@ChrisAtkinsonAL we recently refreshed that page with some info from the Exchange doc set, and your typo was fixed along the way. Are you still seeing this problem?

[2019-04-03 23:27] jambirk commented on #1457
We can't really make the diagrams on the web page higher-res than they are, from what I recall. @scanum, I think the fix here is to get the diagrams redone in visio, and make them available as downloads from the page. Please contact me off GH.

[2019-04-03 23:31] jambirk commented on #1459
@LanaChin last updated this article on Feb 11.  I think we can close this, and if @StPhil disagrees we would need to know with a lot of specifics what else needs to be updated.

[2019-04-03 23:33] jambirk commented on #1477
@FrancoiD  please advise on what action to take, or whether to close thi issue.

[2019-04-03 23:35] jambirk commented on #1490
Adding @gregbari, this is something else to make mention of in a post-rebrand update. Please contact me off GH to see what we can do.

[2019-04-03 23:36] jambirk commented on #1514
@danmyhre is this page still an issue? we made a couple updates recently.

[2019-04-03 23:37] jambirk commented on #1514
@danmyhre We posted an update to this file recently, is it better now in your opinion?

[2019-04-03 23:40] jambirk commented on #1553
I'm reasonably sure that the Serial Routing algorhithm itself defines the order, it's not user-configurable. @tonysmit or @waseemhashem might be able to correct me on that.

[2019-04-04 00:18] jambirk commented on #1144
I know it's underway. @LanaChin is assigned to update when this becomes available. I do see the link is there, but it currently points to download center rather than the eval center.

[2019-04-04 03:22] jeffmparker commented on #1910
Could the experience of a user joining a meeting please also be described, and the interactions of the related settings? I have external and guest access set on, but an external invitee could not access a meeting yesterday, and I'm not sure if that is because anonymous is turned off.

[2019-04-04 06:33] OfficeGlobal commented on #1809
related issue: #1810
___
Working on a fix

[2019-04-04 06:59] OfficeGlobal commented on #1817
Working on a fix

[2019-04-04 06:59] OfficeGlobal commented on #1788
Working on a fix

[2019-04-04 06:59] OfficeGlobal commented on #1884
Working on a fix

[2019-04-04 07:43] OfficeGlobal commented on #1808
Working on a fix

[2019-04-04 10:01] WillemVerwijs opened #1950 "how to delete"
This website is about managing teams yet there is not info on how to delete a team via the teams Admin website. what can i do to get that described as well. does anybody ever read comments like this and how can i know they are read

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 3b51b67a-d89c-723f-3520-8

[2019-04-04 12:14] Mzucchi opened #1951 "What permission wins Priority"
What permission is the winning permission when a domain is in the external access domain list, and a  user of the domain is a Guest of a team?

[2019-04-04 12:23] markfay43 opened #1952 "Incorrect syntax"
The corrected syntax is: Stop -CsWindowsService  &lt;== singular.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ecf1e40-c2c9-6a44-7608-0cdf24da4b41
* Version Independent ID: d14f3952-e0a7-169e-69ba-b5a4e2720ecf
* Content: [Lync Server 2013: Add or remove a Front End Server](https://docs.microsoft.com/en-us/lyncserver

[2019-04-04 12:26] ChrisAtkinsonAL commented on #1517
I can see the typo is fixed, which is great.
The error I had related to moving is because new users seem to be created in the correct SIPPool these days, so enabling it and specifying a New pool equal to the value of the Current pool fails the "move operation".  So, it's worth noting that you don't need to specify "-sippool $sippool -sipaddresstype emailaddress" if your new user's sippool already

[2019-04-04 13:04] jantoney opened #1953 "Spelling mistake"
Should be MAKE in the paragraph

You can also use Direct Routing to allow your users to mand and receive PSTN calls. To learn how to set up Direct Routing, read Configure Direct Routing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8354e80d-02da-7f51-a713-e698322e8ec1
* Version Independent ID: ef42d9af-336a-e014-de0a-

[2019-04-04 13:27] danmyhre commented on #1514
There is a broken link to the teams licensing reference page in this section:
https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-clients/with-office-365#requirements

Where it says:
See Microsoft Teams Rooms Licensing for details.

[2019-04-04 13:30] danmyhre commented on #1514
Also, this whole thing should probably get moved under Teams in docs instead of being under sfb

https://docs.microsoft.com/en-us/MicrosoftTeams/Microsoft-Teams

[2019-04-04 13:44] OfficeGlobal commented on #1815
Working on a fix

[2019-04-04 14:21] mhunsberger opened #1954 "Misspelling"
Misspelling: After you create a policy and make your changes, you can then assign "uses" (should be "users") to the policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc665475-f843-e4c1-0ca6-0b83873abb54
* Version Independent ID: 95d32598-c920-ed5c-d665-69394528ca27
* Content: [Manage meeting policies](https://docs

[2019-04-04 14:39] msegura22 opened #1955 "Are there plans for adding username/password sign in for Skype for Business Online phones with MFA?"
Only works with Web Sign in with Polycom VVX phones. Is this in the works where users can just enter the password on the prompt in the computer when paired, without having to do web sign in?

[2019-04-04 15:18] jambirk commented on #1514
@danmyhre  fixing the broken link will be quick, moving the files not so much. Still doable.

[2019-04-04 16:12] nenonix commented on #1954
@mhunsberger  Thanks for pointing this out.

[2019-04-04 16:13] nenonix commented on #1953
@jantoney Thanks for pointing this out.

[2019-04-04 16:42] scanum commented on #1953
@jantoney Thank you for submitting feedback. We strongly appreciate your contributions. We understand that this issue has been resolved, so I am going to go ahead and close it.

@officedcosbot close

[2019-04-04 16:43] scanum commented on #1953
@officedocsbot close

[2019-04-04 16:43] #1953 closed

[2019-04-04 16:44] scanum commented on #1954
@mhunsberger Thanks for submitting feedback, we strongly appreciate your contributions. Please continue to add value to our community. We understand that this issue has been resolved, so we are going to go ahead and close it.

[2019-04-04 16:44] scanum commented on #1954
@officedocsbot close

[2019-04-04 16:44] #1954 closed

[2019-04-04 16:46] get-itips commented on #1141
@jasonfare hello, how are you?
It takes time from the moment a PR is created and  merged and it is actually live.
For example, now the live version shows the correct sentence.
Thanks

[2019-04-04 16:54] get-itips commented on #767
Hello @DriveHeart thanks for your feedback.
As I could not reproduce it, it will be better if you direct your inquiry to support resources https://support.microsoft.com/en-us/supportforbusiness/productselection 
Thank you

[2019-04-04 21:55] jambirk commented on #1452
@waseemhashem  can you comment on this question?

[2019-04-04 22:24] waseemhashem commented on #1452
@nicolasbroisin  the statement "Your organization must have (at a minimum) an Enterprise E3 plus Skype for Business Cloud PBX license or an Enterprise E5 license." is wrong, @jambirk and I replaced in the resource accounts doc with more details that you can borrow:
https://docs.microsoft.com/en-us/MicrosoftTeams/manage-resource-accounts

If you plan to assign a Direct Routing number, you need to a

[2019-04-04 23:46] MySkypeLab opened #1966 "Setting Clarification"
Can some additional information be supplied on this setting "To allow DSCP markings to be used for QoS, turn on Insert Quality of Service (QoS) markers for real-time media traffic." - The Admin center says "If you turn this on, all real-time media traffic for meetings will be marked." - This setting doesn't appear to affect media from clients so is it talking about meeting traffic generated from t

[2019-04-04 23:46] tonysmit commented on #1452
@waseemhashem and @jambirk

If you are going to assign a Direct Routing phone number to a resource account, you must assign an E1/E3 license with a Phone System license or an E5 license to that resource account.

If you are going to assign a service phone number (toll) for Audio Conferencing to a resource account, you must assign an E1/E3 license with a Phone System license or an E5 license and a

[2019-04-05 01:05] sohailta commented on #1490
We are looking at adding Modern authentication support for Microsoft Teams Rooms soon and are working on design for it. MFA is just one feature of the Modern auth. which would not make sense for room systems (As room systems reboot nightly, users in the rooms do not know the password, it is not operationally possible for IT admins to perform MFA across thousands of room using one or two phones and

[2019-04-05 04:07] MySkypeLab opened #1967 "Typo"
"Enusre your SBC has access to the Transport Relays as described below." - Ensure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b198f4-9576-a14d-4359-1e8cc0319cda
* Version Independent ID: ba7c3252-21d4-9be1-2a84-de2d51646f7b
* Content: [Plan for media bypass with Direct Routing](https://docs.microsoft.com/en-us/mic

[2019-04-05 04:27] MySkypeLab opened #1971 "Ice Lite - Typo"
"Media bypass leverages protocols called Interactive Connectivity Establishment (ICE) on the Teams client and ICE light on the SBC. These protocols enable Direct Routing to use the most direct media path for optimal quality. ICE and ICE light are WebRTC standards. For detailed information about these protocols, see RFC 5245." - Should be "ICE Lite"

---
#### Document Details

⚠ *Do not edit this s

[2019-04-05 04:33] MySkypeLab opened #1972 "Link to Call Flows Document"
"The arrows and numeric values of the paths are in accordance with the Microsoft Teams Online Call Flows document." - You should put a link in this text to the call flows document: https://docs.microsoft.com/en-us/microsoftteams/microsoft-teams-online-call-flows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b198f4-9

[2019-04-05 04:39] MySkypeLab opened #1973 "SBC list is out of date"
The listed SBCs on this page for Media Bypass support is out of date. Update to link to this page: https://docs.microsoft.com/en-us/microsoftteams/direct-routing-border-controllers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a65beb81-260d-8b98-b3c3-32e93b728e69
* Version Independent ID: 13c7c654-5182-eaf6-2d66-66b1b

[2019-04-05 04:44] MySkypeLab opened #1974 "Typo"
"Number of instancess worldwide and location" - Instances

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b198f4-9576-a14d-4359-1e8cc0319cda
* Version Independent ID: ba7c3252-21d4-9be1-2a84-de2d51646f7b
* Content: [Plan for media bypass with Direct Routing](https://docs.microsoft.com/en-us/microsoftteams/direct-routi

[2019-04-05 04:49] MySkypeLab opened #1975 "Table - Additional information request"
Can the Media Processors and Transport relay table by updated to give more information about where in the world the Transport Relays are located? Currently is says the are located in "Multiple" locations, what does this mean? For example if this means they are located in every O365/Azure DC then it may be beneficial to turn on Media Bypass and force calls via local relays rather than up to the reg

[2019-04-05 09:28] tiagoroxo opened #1976 "This document it's wrong."
You cannot use the cmdlets "Move-CsRgsConfiguration" to move RGS from 2019 pool to 2019 pool... This document it's wrong.
As you can see in the following article move cannot be used here: https://docs.microsoft.com/en-us/powershell/module/skype/move-csrgsconfiguration?view=skype-ps
Also, seems like this document it's a copy of the 2013 one: https://docs.microsoft.com/en-us/lyncserver/migrate-respo

[2019-04-05 11:25] OfficeGlobal commented on #1811
@hyoshioka0128 The article has been HumanTranslated and published live. Current issue and all linked as related are fixed

[2019-04-05 15:02] #1943 closed

[2019-04-05 15:03] #1952 closed

[2019-04-05 15:07] #1934 closed

[2019-04-05 16:19] jambirk commented on #1490
@sohailta  Since this question has come up a number of times, while other things are in process perhaps we should have an explicit statement in the planning articles. Please message me so we can discuss.

[2019-04-05 16:31] atagliacozzo commented on #1921
Need to download data/report

[2019-04-05 16:35] hyoshioka0128 commented on #1811
@OfficeGlobal Thanks.
Close #1811

[2019-04-05 16:35] #1811 closed

[2019-04-05 16:36] hyoshioka0128 commented on #1812
@OfficeGlobal Thanks.
Close #1812

[2019-04-05 16:36] #1812 closed

[2019-04-05 16:37] hyoshioka0128 commented on #1813
@OfficeGlobal Thanks.
Close #1813

[2019-04-05 16:37] #1813 closed

[2019-04-05 16:37] hyoshioka0128 commented on #1814
@OfficeGlobal Thanks.
Close #1814

[2019-04-05 16:37] #1814 closed

[2019-04-05 16:44] oddhair opened #1982 "Just link the deployment kit, please."
The current version of the script doesn't succeed at downloading the deployment kit, and plenty of articles point here for the deployment kit. There's no good reason to stop people getting at the deployment kit.  Luckily the error has the address for the deployment kit listed, I guess I'll do it manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-04-05 17:22] jambirk commented on #1982
Hi @oddhair

The script is needed to ensure a correct match between the Windows 10 version and the MSI version, mismatches can result in failed installations and malfunctioning devices. Please don't try to do this manually. If you're experiencing issues with the script, we can pass along details of the failure to the product development group if you can provide them.

[2019-04-05 17:49] oddhair commented on #1982
Thanks for that; we were part of the Rigel TAP while it was ongoing so I've built it a number of times over the years. I'm trying to run it now and it seems to have an undefined variable ($LanguagePack) though I'm not great at reading this advanced of Powershell syntax. In any case when I run it it downloads a presumably newer version of the script yet it's failing for me and I don't even need to

[2019-04-05 17:53] jambirk commented on #1982
So far I wouldn't hazard a quess about root cause, but it's worth investigating. Do you have a support case open for this? That might be a really good idea, they'd probably be able to eliminate a lot of other factors.
@Travis-Snoozy  might have some follow-up questions here.

[2019-04-05 18:16] Travis-Snoozy commented on #1982
@oddhair -- Each time the script starts, it will output the name of the log file that it's logging its transcript to. Please run the script, replicate the fault, and paste the contents of that file to this issue so that I can analyze the problem.

Please also make sure you're running the very [latest version of the script](https://go.microsoft.com/fwlink/?linkid=867842), if you have not done so al

[2019-04-05 18:24] oddhair commented on #1982
Thank you Travis, I must admit I didn't think I could address this via a support case; I'm simply chasing down something for a client. Here's the transcript with the failure, it's version 1.4.3 which seems most recent. Line 1232 of the script has the variable I'm referring to:

**********************
Windows PowerShell transcript start
Start time: 20190405114601
Username: <snip>
RunAs User: <snip>

[2019-04-05 18:48] jambirk commented on #1511
Just converted the diagrams from Powerpoint to Visio. @AndreaBarr  and @yogkumgit  please close this out by filing an art request, asking a designer to do minor cleanup

[2019-04-05 19:17] Travis-Snoozy commented on #1982
Do you have one or more CAB files in the same directory as the script? If so, try removing it (or moving the script into an empty directory and running it from there). I think I see the error; I'll double-check that the problem is what I think it is, and put in a corresponding fix.

[2019-04-05 19:32] oddhair commented on #1982
I do in fact have a single cab file, Rigel-StoreApp-0.179.0.cab, along with a stack of other files. I'll try isolating them. edit: that worked, it got past the language pack question and now I just need to find exactly the correct version of Windows 10. Thanks for your help, Travis and jambirk!

[2019-04-05 19:38] jambirk commented on #1982
Thanks @oddhair : it looks like we have a couple small improvements that came out of this, both in the doc and script.

[2019-04-05 19:38] #1982 closed

[2019-04-05 21:27] jambirk commented on #1511
@AndreaBarr I retract the last request. Let's leave the diagrams as they are now. Closing the issue.

@gdfrick Thanks for helping us to make the documentation better. The diagrams are updated and the updates are available in Visio format which can be easily resized without definition loss.

[2019-04-05 21:27] #1511 closed

[2019-04-06 13:47] jwinte opened #1987 "Listed documentation to setup Teams Room does not work"
Thank you for writing a nice, condensed article that covers Microsoft Teams rooms! We have been fighting an issue with sign-in that support does not know how to correct. I have followed your documentation exactly and have ensured we meet all requirements listed. Can you please give me some guidance on how we can move forward?

**Our Environment**

- Exchange 2013 On-Premise w/ SP1 and CU22
- On-pr

[2019-04-06 20:39] crossitwe11 opened #1988 "DST not recognized"
The phones are not adjusting for DST!   I created a configuration and added my audiocodes C450HD phones.   They are showing the right time according to the time zone, but it is not adjusting for DST.    Please help!

[2019-04-08 05:58] OfficeGlobal commented on #1809
@hyoshioka0128 Article has been HumanTranslated and published live. The issue is fixed

[2019-04-08 05:59] OfficeGlobal commented on #1810
Article has been HumanTranslated and published live. The issue is fixed

[2019-04-08 06:27] OfficeGlobal commented on #1808
@hyoshioka0128 Article has been HumanTranslated and published live. The issue is fixed

[2019-04-08 09:15] lcansby opened #1998 "Assign a call park policy"
Looks like the "Manage users" is not available in Teams Admin Center.
The way to assign a Call Part Policy is
1. Go to Microsoft Teams admin center &gt; Users.
2. In the Users page, search for the user by display name or by user name, select the name, and then open user by clicking on the username.
3. In the Assigned policies section click Edit
4. Select the Call park policy from the drop down lis

[2019-04-08 19:01] #1974 closed

[2019-04-08 19:02] #1971 closed

[2019-04-08 19:02] #1967 closed

[2019-04-08 20:50] scanum commented on #1793
@zaicnupagadi  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-08 20:50] #1793 closed

[2019-04-08 20:51] scanum commented on #1789
@NicholasBurkhammer Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-08 20:51] scanum commented on #1790
@thommck Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-08 20:51] #1790 closed

[2019-04-08 20:51] scanum commented on #1791
@tsylvia88 Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-08 20:52] scanum commented on #1804
@jaypatrick Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-08 20:52] #1804 closed

[2019-04-08 20:52] scanum commented on #1820
@pik10 Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-08 20:53] #1820 closed

[2019-04-08 20:53] scanum commented on #1840
@tmaheshwar  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

@officedocsbot close

[2019-04-08 20:53] #1840 closed

[2019-04-09 01:29] radderz opened #2004 "Unclear how to configure direct routing resource account in non hybrid scenario"
Unclear how to add a Direct Routing based endpoint. It says to use New-CsHybridApplicationEndpoint but is it considered hybrid to use direct routing when it isn't a hybrid deployment?

Can you put in a Direct Routing specific example.

[2019-04-09 01:30] radderz commented on #2004
https://docs.microsoft.com/en-us/microsoftteams/manage-resource-accounts

[2019-04-09 01:43] yiuyu2357 commented on #1312
James Rhea <notifications@github.com> 於 2019年1月23日 週三 上午9:38寫道：

[2019-04-09 01:56] yiuyu2357 commented on #1312
bluesky321@netvigator.com,pui.catherine@gmail.com; pui.catherine@gmail.com,
jj01hk@yahoo.com.hk, walodoris@yahoo.com.hk, juliechau@hotmail.com,
kennliu2000@yahoo.com.hk

Dario Woitasen <notifications@github.com> 於 2019年3月30日 週六 上午8:47寫道：

[2019-04-09 04:00] maxpeet commented on #1147
Same here - in the General channel, it announces that all the accounts I previously removed have joined again.  This occurs about a day after I remove them, using the Teams app.  I have over 40 accounts to remove, so it's tedious.

[2019-04-09 09:26] hyoshioka0128 commented on #1808
@OfficeGlobal Thanks.
Close #1808

[2019-04-09 09:26] #1808 closed

[2019-04-09 09:27] hyoshioka0128 commented on #1810
@OfficeGlobal Thanks.
Closed #1810

[2019-04-09 09:27] #1810 closed

[2019-04-09 09:28] hyoshioka0128 commented on #1809
@OfficeGlobal  Thanks.
Close #1809

[2019-04-09 09:28] #1809 closed

[2019-04-09 09:29] OfficeGlobal commented on #1894
Hello @LolaJacobsen, you're mentioned as author of the article. Could you please fix the reported link?

**Current:** (Apps, bots, & connectors)[deploy-apps-microsoft-teams-landing-page.md]
**Expected:** [Apps, bots, & connectors](deploy-apps-microsoft-teams-landing-page.md)
**MD notation:**  \[Apps, bots, & connectors\]\(deploy-apps-microsoft-teams-landing-page.md\)

Thank you

[2019-04-09 20:07] CarolynRowe commented on #1973
Thank you for your feedback, which has been incorporated and will go live today.

[2019-04-09 20:07] #1973 closed

[2019-04-09 20:21] #1972 closed

[2019-04-10 05:10] MySkypeLab opened #2007 "Other considerations update?"
There are many out of date points in the Other Considerations list, eg:

- "Currently, you can only invite people from within your company, as it is not yet possible for external users to join meetings."
- "Some online meeting features, such as recording, polling, and whiteboarding are not yet available."
- "Currently, the Teams Meeting add-in in Outlook is only available for Windows users, but su

[2019-04-10 07:29] EagleAdam commented on #1538
Agreed, I am seeing the same issue. Created a Microsoft Teams private team, it's now 48 hours later and still no Office365 group.

[2019-04-10 08:12] lcansby opened #2008 "Office 365 Meeting Room System Licence"
Missing the option with the new Meeting Room License available in Office 365, please add that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faafee1e-726e-ff90-32bb-59b280a400b3
* Version Independent ID: 82db8cd5-dcd4-1c12-90e0-e5703b760879
* Content: [Microsoft Teams Rooms](https://docs.microsoft.com/en-us/SkypeForBu

[2019-04-10 10:45] OfficeGlobal commented on #1884
(related issue: #1758 )

[2019-04-10 13:13] Polleke66 opened #2011 "HDMI-CEC"
In Front of Room Displays you advise to buy Displays that support HDMI-CEC. The Logitech Smartdock does not support this feature, see https://support.logitech.com/en_us/product/smartdock/faq#link_Does-SmartDock-support-CEC-for-attached-displays so maybe it is better to rephrase this text. I have now 22 Samsung screens with HDMI-CEC support that I can't use.

---
#### Document Details

⚠ *Do not ed

[2019-04-10 14:27] Japeth opened #2012 "Where did blocking numbers go to?"
There used to be a doc for blocking incoming numbers in SfB/Teams.
Now this doc is missing?

https://docs.microsoft.com/en-us/skypeforbusiness/what-are-calling-plans-in-office-365/block-incoming-calls

[2019-04-10 14:40] ThomasBIDAULT opened #2013 "Inconsistent Database mirroring statement"
Looking at the database mirroring version support, it states that the feature is supported with SQL Server 2016 whereas it's listed as deprecated for SQL 2016 https://docs.microsoft.com/en-us/sql/database-engine/deprecated-database-engine-features-in-sql-server-2016?view=sql-server-2016 . Please update this article accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-10 15:02] scanum commented on #1638
@OE10  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 15:02] scanum commented on #1607
@martinagrom  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 15:03] scanum commented on #1580
@dgonzaITpro  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 15:03] scanum commented on #1635
@Arcass  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 15:04] scanum commented on #1635
@officedocsbot close

[2019-04-10 15:04] #1635 closed

[2019-04-10 15:04] scanum commented on #1580
@officedocsbot close

[2019-04-10 15:04] #1580 closed

[2019-04-10 15:04] scanum commented on #1607
@officedocsbot close

[2019-04-10 15:04] #1607 closed

[2019-04-10 15:04] scanum commented on #1638
@officedocsbot close

[2019-04-10 15:04] #1638 closed

[2019-04-10 15:05] scanum commented on #2013
@officedocsbot assign @scanum

[2019-04-10 15:06] scanum commented on #2012
@officedocsbot assign @scanum

[2019-04-10 15:06] scanum commented on #2011
@officedocsbot assign @scanum

[2019-04-10 15:06] scanum commented on #2008
@officedocsbot assign @scanum

[2019-04-10 15:06] scanum commented on #2007
@officedocsbot assign @scanum

[2019-04-10 15:06] scanum commented on #2004
@officedocsbot assign @scanum

[2019-04-10 15:06] scanum commented on #1998
@officedocsbot assign @scanum

[2019-04-10 15:06] scanum commented on #1988
@officedocsbot assign @scanum

[2019-04-10 15:07] scanum commented on #1988
@crossitwe11  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-04-10 15:07] scanum commented on #1988
@officedocsbot close

[2019-04-10 15:07] #1988 closed

[2019-04-10 15:07] scanum commented on #1987
@jwinte  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-04-10 15:08] scanum commented on #1987
@officedocsbot close

[2019-04-10 15:08] #1987 closed

[2019-04-10 15:08] scanum commented on #1976
@officedocsbot assign @scanum

[2019-04-10 15:09] scanum commented on #1975
@officedocsbot assign @scanum

[2019-04-10 15:09] scanum commented on #1966
@officedocsbot assign @scanum

[2019-04-10 15:09] scanum commented on #1955
@msegura22  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-04-10 15:09] scanum commented on #1955
@officedocsbot close

[2019-04-10 15:09] #1955 closed

[2019-04-10 15:10] scanum commented on #1951
@Mzucchi - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-04-10 15:10] scanum commented on #1951
@officedocsbot close

[2019-04-10 15:10] #1951 closed

[2019-04-10 15:10] scanum commented on #1950
@officedocsbot assign @scanum

[2019-04-10 15:11] scanum commented on #1948
@jg11jg  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-04-10 15:11] scanum commented on #1948
@officedocsbot close

[2019-04-10 15:11] #1948 closed

[2019-04-10 15:11] scanum commented on #1937
@officedocsbot assign @scanum

[2019-04-10 15:11] scanum commented on #1936
@officedocsbot assign @scanum

[2019-04-10 15:12] scanum commented on #1925
@officedocsbot assign @scanum

[2019-04-10 15:51] jambirk commented on #2011
@davgroom @sohailta

Please have a look at this comment.  --jambirk

[2019-04-10 16:14] scanum commented on #1220
@officedocsbot assign @scanum

[2019-04-10 16:15] scanum commented on #1623
@officedocsbot assign @scanum

[2019-04-10 16:16] scanum commented on #1664
@officedocsbot assign @scanum

[2019-04-10 16:17] scanum commented on #1722
@officedocsbot assign @OfficeGlobal

[2019-04-10 16:19] scanum commented on #1743
@officedocsbot assign @OfficeGlobal

[2019-04-10 16:20] scanum commented on #767
@DriveHeart  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2019-04-10 16:20] scanum commented on #767
@officedocsbot close

[2019-04-10 16:20] #767 closed

[2019-04-10 16:22] scanum commented on #1141
@jasonfare  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 16:22] scanum commented on #1141
@officedocsbot close

[2019-04-10 16:22] #1141 closed

[2019-04-10 16:24] scanum commented on #1144
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1341
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1345
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1351
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1371
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1452
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1459
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1461
@officedocsbot unassign @yogkumgit

[2019-04-10 16:25] scanum commented on #1467
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1479
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1480
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1483
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1507
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1508
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1512
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1518
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1524
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1529
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1538
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1548
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1552
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1554
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1762
@officedocsbot unassign @yogkumgit

[2019-04-10 16:26] scanum commented on #1762
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1554
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1552
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1548
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1538
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1529
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1524
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1518
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1512
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1508
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1507
@officedocsbot assign @scanum

[2019-04-10 16:27] scanum commented on #1483
@officedocsbot assign @scanum

[2019-04-10 16:28] scanum commented on #1480
@officedocsbot assign @scanum

[2019-04-10 16:28] scanum commented on #1479
@officedocsbot assign @scanum

[2019-04-10 16:28] scanum commented on #1467
@officedocsbot assign @scanum

[2019-04-10 16:28] scanum commented on #1459
@officedocsbot assign @scanum

[2019-04-10 16:28] scanum commented on #1452
@officedocsbot assign @scanum

[2019-04-10 16:29] scanum commented on #1452
@nicolasbroisin  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 16:29] scanum commented on #1452
@officedocsbot close

[2019-04-10 16:29] #1452 closed

[2019-04-10 16:29] scanum commented on #1371
@officedocsbot assign @scanum

[2019-04-10 16:29] scanum commented on #1371
@Petri-X  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-10 16:29] scanum commented on #1371
@officedocsbot close

[2019-04-10 16:29] #1371 closed

[2019-04-10 16:30] scanum commented on #1351
@officedocsbot assign @scanum

[2019-04-10 16:30] scanum commented on #1345
@officedocsbot assign @scanum

[2019-04-10 16:30] scanum commented on #1341
@officedocsbot assign @scanum

[2019-04-10 16:30] scanum commented on #1144
@officedocsbot assign @scanum

[2019-04-10 17:58] guesswho369 opened #2014 "Set coexistence at group-level?"
It would be very useful to have guidance/ability to set coexistence mode at a group level as well as user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffbf0bfd-c15e-b10b-0cc9-6a27ac1e6634
* Version Independent ID: 58575371-9e09-fadb-76f6-7491df8580a3
* Content: [Setting your coexistence and upgrade settings](https:/

[2019-04-10 18:41] AndresCgaehd opened #2015 "Enable Messaging With Bot in Teams"
I have added my Bot in the app catalogue of my company. When some users try to contact the chatbot, they see the message error that I attached in this issue.

**> "Conversation with this bot is not supported"**

![Error](https://user-images.githubusercontent.com/48034631/55904784-460d2780-5b96-11e9-98f0-0527b2318d3a.png)

But when one new user contacts the bot, this error doesn´t appear and they c

[2019-04-10 19:54] DaveVernon opened #2016 "blog post link is dead."
blog post link is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5444a78-4bb2-fbfa-1a91-5af45ad34cad
* Version Independent ID: 0f3e0fff-ca4b-3295-13ea-39da5455a53d
* Content: [GOV, EDU, and non-profit organizations](https://docs.microsoft.com/en-us/microsoftteams/teams-add-on-licensing/gov-edu-and-nonprofit-orga

[2019-04-10 19:57] DaveVernon opened #2017 "'how to buy' information not complete."
The 'how to see prices and buy add-on licenses' section refers you to "See your plan under "License options based on your plan" for more details about which licenses to buy and how to see prices and purchase add-on licenses."

At least for the EDU section, the linked page does not contain information on either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-04-10 21:04] CarolynRowe commented on #2012
Thank you for your feedback.  Please see the following topic:  https://docs.microsoft.com/en-us/skypeforbusiness/what-are-calling-plans-in-office-365/set-the-caller-id-for-a-user

[2019-04-10 21:04] #2012 closed

[2019-04-10 21:40] PhillipGarding commented on #1220
I am not the owner for any documentation for Teams on Mac.  Check with Anirudh Narayan or @Mike RothKugel<mailto:microthk@microsoft.com>.

From: Manuela Scanu <notifications@github.com>
Sent: Wednesday, April 10, 2019 9:15 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Phillip Garding <phillipg@microsoft.com>; Mention <mention@noreply.github.c

[2019-04-11 00:16] radderz opened #2021 "Direct Routing"
Not clear how to setup a non-hybrid Direct Routing endpoint for an auto attendant resource account. New-CsHybridApplicationEndpoint appears to not be part of the CsOnlineSession imported functions and not clear how to use this to create the resource account without skype for business.

Can you please add a example of setting up a direct routing resource account that doesn't use Skype for Business.

[2019-04-11 00:17] radderz commented on #2021
#2004 this is a linked question

[2019-04-11 00:19] radderz commented on #2004
@scanum There is a docs linked issue that this could be merged with #2021

[2019-04-11 07:13] OfficeGlobal commented on #1743
@hyoshioka0128 Article has been HumanTranslated and published live. The issue is fixed

[2019-04-11 07:27] sowjanya365 commented on #1848
Hi @ChrisLGardner

Thanks for reaching out!

We see that the issue is resolved now. Link is working fine and taking us to the correct URL. Please check and let us know if there is any issue. Thank you.

[2019-04-11 07:43] filipkcz opened #2024 "Admin rights when user sharing screen"
Hi,

domain user with standard user rights unable to share screen via Microsoft Teams. When share screen with somebody Windows show authentification form for higher rights. Teams wants user with admin rights.

Any solution?

Teams is deployed by GPO - User, MSI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fd

[2019-04-11 08:18] ChrisLGardner commented on #1848
That link now works correctly.

Thanks

[2019-04-11 08:18] #1848 closed

[2019-04-11 09:43] hyoshioka0128 commented on #1743
@OfficeGlobal Thanks.
Close #1743

[2019-04-11 09:43] #1743 closed

[2019-04-11 10:29] nicolasbroisin opened #2025 "Where are the Powershell commands references ?"
This could be very useful if we could have links references from Powershell cmdlets .. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c8aee4f-05cd-85bf-8e8a-e11fa62b4f08
* Version Independent ID: addd3d3c-e615-67e1-0678-c1d4dc451815
* Content: [Manage meeting settings](https://docs.microsoft.com/en-us/microsof

[2019-04-11 11:39] OfficeGlobal commented on #1884
@hyoshioka0128 Article has been HumanTranslated and published live

[2019-04-11 11:39] OfficeGlobal commented on #1758
@hyoshioka0128 Article has been HumanTranslated and published live

[2019-04-11 12:23] lindspea commented on #1758
@scanum this can be closed once merged.

[2019-04-11 18:11] jwinte commented on #1020
Still not updated. I had to troubleshoot line 334 myself and got it working as grahambird80 specified before. You should post the script on github at the least so it can be branched.

[2019-04-11 18:27] jambirk commented on #1020
The correction was made the other day to the master version of the script. The script is not going to be posted to GH any time soon. The available link is to download center, and the script will be updated the next time there is an MSI update on download center.

[2019-04-12 02:10] EmiliaDeica commented on #1220
@sDaniel This should do it:
https://support.office.com/en-ie/article/teams-meeting-button-is-missing-in-outlook-for-mac-0d6608c7-96a5-4dba-9dc1-55f724ecb543

[2019-04-12 08:12] OfficeGlobal commented on #1788
@hyoshioka0128 , @scanum Article has been HumanTranslated and published live. The issue is fixed

[2019-04-12 08:19] hyoshioka0128 commented on #1788
@OfficeGlobal Thanks.
Close #1788

[2019-04-12 08:19] #1788 closed

[2019-04-12 08:44] hyoshioka0128 opened #2028 "Broken link "https://portal.azure.com""
After #1788, Broken link  "1. [https://portal.azure.com] にサインインします。"

https://docs.microsoft.com/ja-jp/microsoftteams/guest-access-checklist

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f737e278-7c89-e048-b60b-287615a829fb
* Version Independent ID: 1df35258-7360-74c4-680a-e154c54291fe
* Content: [Microsoft Teams のゲスト アクセスのチェックリスト](https://docs.micr

[2019-04-12 10:00] Argon0 opened #2029 "Followed this article but... Are changes instantaneous?"
I set a user up with a policy to allow everyone to dial in, (Automatically admit people  set to everyone), and Allow people that dial in to start a meeting  set to on. But a meeting organised by the user, STILL asks for organiser pin, AND says wait for organiser to admit you.

Does it take a certain amount of time for the changes to take effect, or should it be instantaneous, or only on users ne

[2019-04-12 10:08] Argon0 commented on #1265
Need to reopen this issue as, for my tenant, it is making no difference:

"So is this about the overall lobby bypass or for mobile users only? We see in several tenants that this setting does not fully*affect the lobby bypass* the way it should be."

[2019-04-12 10:50] quickclix75 opened #2030 "Messaging limits..."
I asumme these are in MB ? ta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#feedback

[2019-04-12 14:41] ibachus opened #2031 "Round Robin"
Hi, this page is showing Round Robin style for the distribution method but we cannot find this method anywhere in our Call Queue configuration.  Is this feature coming soon or is it already there?  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b755d9ae-13ac-019f-f5f4-a95b1eee2989
* Version Independent ID: f

[2019-04-12 16:14] d1bjo0 opened #2032 "Pay per minute rate location - "from" and "to""
In the section above, "Dial out from meetings" & "Call me at" Details, it notes that rates are based on the "dial out" to location, regardless of where the person on the bridge is located. What is not clear is what defines the origination location. You need a "from" and "to" in order to accurately get the per minute rate from the rate table.  I am going to assume the originating country is based o

[2019-04-12 17:20] jambirk commented on #2031
@waseemhashem  can you comment here? I thought that was already at GA.

[2019-04-12 19:03] tonysmit commented on #2031
I did look at a Production build and they are available. @waseemhashem - we will need to look further into this and why his organization doesn't see the options.

[2019-04-12 19:23] waseemhashem commented on #2031
Its coming our with the service update we are rolling out, we started the roll out couple of days ago, we expect it to be available to all customers in 2 weeks

[2019-04-12 19:54] ibachus commented on #2031
Thank you very much!!  We will look for it soon! :)

[2019-04-14 03:49] ndambrosio commented on #2030
@quickclix75 the values for **File attachments limit ‡** and **Inline images limit ‡** indicate the maximum number of attachments or images allowable for an email sent to a channel’s email address.  The double dagger ‡ next to both features in the table indicates a footnote is present.  Below is the footnote listed under the table:

*‡ If the number of attachments or images exceeds this limit, the

[2019-04-14 12:18] tony-xia opened #2034 ""在 Microsoft 团队中添加来宾"建议“在 Microsoft Teams中添加来宾”"
"在 Microsoft 团队中添加来宾"建议“在 Microsoft Teams中添加来宾”

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 2492e210-08f9-a476-97ec-008926def961
* Version Independent ID: adcb0dd9-4a3c-b665-6e34-ce3276c89b4d
* Content: [Microsoft Teams 中的来宾访问](https://docs.microsoft.com/zh-cn/microsoftteams/guest-access?view=o365-worldwide#feedback)
* Content Source: [Teams/guest-access.md](http

[2019-04-14 12:20] tony-xia opened #2035 ""来宾随时可以通过 Teams Web 和桌面客户端离开团队“"
建议改成”来宾随时可以通过 Teams 网页和桌面客户端离开团队“

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 754022e3-49eb-dbd5-e4f5-891c8ebeb491
* Version Independent ID: b73a6f64-d36f-298f-d9ac-34860abad42b
* Content: [来宾加入团队的方式](https://docs.microsoft.com/zh-cn/microsoftteams/guest-joins?view=o365-worldwide)
* Content Source: [Teams/guest-joins.md](https://github.com/MicrosoftDocs/OfficeDoc

[2019-04-14 12:22] tony-xia opened #2036 ""每个来宾的姓名旁边显示“GUEST”标签""
建议改成：每个来宾的姓名旁边显示“来宾”标签
目前中文版本Teams上显示的我记得就是”来宾“

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 048930a4-fdf2-9a90-3b47-46af66db3db4
* Version Independent ID: 8d6a2c84-94e9-b17e-f5c1-91191187ce4e
* Content: [来宾体验介绍](https://docs.microsoft.com/zh-cn/microsoftteams/guest-experience?view=o365-worldwide)
* Content Source: [Teams/guest-experience.md](https://github.com/Mi

[2019-04-14 12:25] tony-xia commented on #2036
说错了，是：每个来宾的姓名旁边显示“访客”标签
目前中文版本Teams上显示的我记得就是”访客”

[2019-04-14 12:27] tony-xia opened #2037 ""Azure Active Directory 中的控件来宾访问""
建议翻译成”在Azure Active Directory中控制来宾的访问“

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 2b05e642-c4e5-f1b5-5315-d3ef1690a0cd
* Version Independent ID: 01b7e0b5-3e50-3de0-e3e9-aeeeda43da12
* Content: [在 Microsoft Teams 中授权来宾访问](https://docs.microsoft.com/zh-cn/microsoftteams/teams-dependencies?view=o365-worldwide)
* Content Source: [Teams/Teams-dependencies.md](https:/

[2019-04-14 22:16] rcvengel opened #2038 "Tenant disabled for : Set-CsOnlineVoiceApplicationInstance"
When i try to use the Set-CsOnlineVoiceApplicationInstance command. It says my tenant is disabled for this.
How can i enable my tenant for this?

Your tenant is Disabled for this service. You are not permitted to use this cmdlet.
    + CategoryInfo          : NotSpecified: (:) [Set-CsOnlineVoiceApplicationInstance], BvdCmdletException
    + FullyQualifiedErrorId : TenantNotEnabledPSTN,Microsoft.Rt

[2019-04-14 22:17] rcvengel commented on #2038
And the link for the more information about Set-CsOnlineVoiceApplicationInstance is not working. 404 error

[2019-04-15 01:49] timhaintz opened #2039 "Step 12 screen shot is Skype for Business Server 2015, not 2019"
The final screen shot displays Skype for Business Server 2015 and should be the 2019 screen shot.
Thanks, Tim.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9131450-3053-fff6-0e01-36c7b3fd076f
* Version Independent ID: 0ad5a095-cbfd-5bcb-6f75-6f696b8215e7
* Content: [Prepare Active Directory for Skype for Business Se

[2019-04-15 05:26] sowjanya365 commented on #1548
Hi @nwc01

Thanks for reaching out! Please refer to the below URL for "Pricing for Audio Conferencing".

https://products.office.com/microsoft-teams/online-meeting-solutions

Hope this information helps you. Kindly confirm. Thank you.

[2019-04-15 06:58] sowjanya365 commented on #1467
Hi @AlexHill90

Thanks for reaching out!

"Members can invite" : This means you’ve enabled AzureAD B2B accounts and allowed all the members of your tenant to invite a B2B guest through the Azure Access Panel (myapps.microsoft.com). While AzureAD is the fundamental core of identity for Office 365, it’s also the place where you can publish your own SSO applications. This ‘Members can invite’ permiss

[2019-04-15 08:43] OfficeGlobal commented on #1722
@hyoshioka0128 Article has been HumanTranslated and published live. The issue is fixed

[2019-04-15 08:49] hyoshioka0128 commented on #1722
@OfficeGlobal Thanks.
Close #1722

[2019-04-15 08:49] #1722 closed

[2019-04-15 16:13] jambirk commented on #2038
The feature is still in the process of rolling out.   @waseemhashem may have more detail, and may also know why the documentation for that powershell command isn't live yet.

[2019-04-15 16:34] waseemhashem commented on #2038
looking into it

[2019-04-15 19:31] scanum commented on #2014
@officedocsbot assign @scanum

[2019-04-15 19:34] scanum commented on #2015
@AndresCgaehd  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pl

[2019-04-15 19:34] scanum commented on #2015
@officedocsbot close

[2019-04-15 19:35] #2015 closed

[2019-04-15 19:36] scanum commented on #2024
@filipkcz  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-15 19:36] scanum commented on #2024
@officedocsbot close

[2019-04-15 19:36] #2024 closed

[2019-04-15 19:36] scanum commented on #2029
@Argon0  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-04-15 19:36] scanum commented on #2029
@officedocsbot close

[2019-04-15 19:36] #2029 closed

[2019-04-15 19:38] scanum commented on #2034
@officedocsbot assign @officeglobal

[2019-04-15 19:38] scanum commented on #2035
@officedocsbot assign @officeglobal

[2019-04-15 19:38] scanum commented on #2036
@officedocsbot assign @officeglobal

[2019-04-15 19:38] scanum commented on #2037
@officedocsbot assign @officeglobal

[2019-04-15 19:39] scanum commented on #2037
@OfficeGlobal Hi! Could you please take a look at this issue? Thanks!

[2019-04-15 19:39] scanum commented on #2036
@OfficeGlobal Hi! Could you please take a look at this issue? Thanks!

[2019-04-15 19:39] scanum commented on #2035
@OfficeGlobal Hi! Could you please take a look at this issue? Thanks!

[2019-04-15 19:39] scanum commented on #2034
@OfficeGlobal Hi! Could you please take a look at this issue? Thanks!

[2019-04-15 19:42] scanum commented on #2016
@officedocsbot assign @scanum

[2019-04-15 19:42] scanum commented on #2017
@officedocsbot assign @scanum

[2019-04-15 19:42] scanum commented on #2021
@officedocsbot assign @scanum

[2019-04-15 19:42] scanum commented on #2025
@officedocsbot assign @scanum

[2019-04-15 19:42] scanum commented on #2028
@officedocsbot assign @scanum

[2019-04-15 19:42] scanum commented on #2030
@officedocsbot assign @scanum

[2019-04-15 19:43] scanum commented on #2031
@officedocsbot assign @scanum

[2019-04-15 19:43] scanum commented on #2032
@officedocsbot assign @scanum

[2019-04-15 19:43] scanum commented on #2039
@officedocsbot assign @scanum

[2019-04-15 20:20] scanum commented on #2038
@officedocsbot assign @scanum

[2019-04-15 21:02] Argon0 commented on #2029
Well, when I got to the office this morning it was all working...

Andy

On Mon, 15 Apr 2019, 20:37 Manuela Scanu, <notifications@github.com> wrote:

[2019-04-16 03:20] hyoshioka0128 commented on #1758
@OfficeGlobal Thanks.
Close #1758

[2019-04-16 03:20] #1758 closed

[2019-04-16 03:23] hyoshioka0128 commented on #1884
@OfficeGlobal Thanks.
Close #1884

[2019-04-16 03:23] #1884 closed

[2019-04-16 03:25] hyoshioka0128 opened #2046 "Broken link "https://www.microsoft.com/en-us/sdl/default.aspx""
After #1884, Broken link "https://www.microsoft.com/en-us/sdl/default.aspx"

https://docs.microsoft.com/ja-jp/skypeforbusiness/optimizing-your-network/security-guide-for-skype-for-business-online

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 283fb363-d163-1d92-ef82-41d35e8206d3
* Version Independent ID: 0fc4982a-91de-b60f-9170-c4cb4579842b
* Content

[2019-04-16 03:49] hyoshioka0128 opened #2047 "Broken link "https://support.office.com/en-us/article/Office-365-URLs-and-IP-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2#bkmk_lyo""
After #1884, Broken link "https://support.office.com/en-us/article/Office-365-URLs-and-IP-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2#bkmk_lyo"

https://docs.microsoft.com/ja-jp/skypeforbusiness/optimizing-your-network/security-guide-for-skype-for-business-online

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 283fb363-d163-1d92-ef82-41d35e820

[2019-04-16 06:23] lindspea commented on #2013
@ThomasBIDAULT thank you for reaching out. I'll look into this to have the article updated soonest.

[2019-04-16 06:36] lindspea commented on #2030
@quickclix75 Thank you for reaching out and helping improve MS Docs.  Please see @ndambrosio reply above.  I believe this answers your question.  It's the NUMBER of files/attachment, and not MB, TB, etc.

[2019-04-16 06:49] quickclix75 commented on #2030
Thanks both.. totally missed that! Thanks for clarifying.

[2019-04-16 06:51] lindspea commented on #2030
@scanum this can be closed thank you.

[2019-04-16 08:30] sowjanya365 commented on #1846
Hi @MaximAeon

Thanks for reaching out!

See this article for adding the guest users to the directory

https://docs.microsoft.com/azure/active-directory/b2b/add-users-administrator

And for more details on the cloud-based storage and it's features please refer to the below article.

https://docs.microsoft.com/office365/securitycompliance/search-cloud-based-mailboxes-for-on-premises-users

Hope thi

[2019-04-16 09:39] rcvengel commented on #2038
When does this go live?
We are testing out Direct Routing for a few months now. And we really need the Auto Attendant to work with Direct Routing.

[2019-04-16 12:20] ivanja81 opened #2048 "Wrong documentation"
This documentation is WRONG. See here

We do not, and have never, supported failover by multiple DNS SRV records with different priorities. We support HA by DNS LB across multiple IP addresses published for a single federated partner FQDN – if one edge server goes down then the remaining server(s) will receive all of the inbound traffic.

In general, a given customer can have only one edge pool fo

[2019-04-16 12:55] OfficeGlobal commented on #2034
Working on a fix

[2019-04-16 12:57] OfficeGlobal commented on #2035
Working on a fix

[2019-04-16 12:59] OfficeGlobal commented on #2036
Working on a fix

[2019-04-16 13:00] OfficeGlobal commented on #2037
Working on a fix

[2019-04-16 13:36] OfficeGlobal commented on #2046
@hyoshioka0128 the link formatting was updated and it's displayed properly now. Thank you

[2019-04-16 13:36] OfficeGlobal commented on #2047
@hyoshioka0128 the link formatting was updated and it's displayed properly now. Thank you

[2019-04-16 13:59] MaximAeon commented on #1846
My apologies but I'm not sure what these links have to do with implementing the suggested Exchange method for capturing Guest-to-Guest chats in Teams?

[2019-04-16 14:03] lindspea commented on #1220
@sDaniel Thanks for pointing this out.  Please confirm if this link resolved the issue.  Thanks for that @EmiliaDeica.

[2019-04-16 14:19] lindspea commented on #1623
@Lowell-Syncrety thank you for reaching out.  @cmcatee-MSFT

[2019-04-16 14:26] lindspea commented on #1918
@Office Global

[2019-04-16 14:34] JaredCHS opened #2049 "Auto Updater not working"
We've installed the machine-wide installer using GPO. Our clients are failing to auto update. Users are getting the message "To Keep Using Teams, download the latest update. Having trouble? Contact you IT admin." What should we do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Ve

[2019-04-16 15:34] Polleke66 opened #2050 "Wrong vendor name"
The Sennheiser Evolve 65T should be a Jabra Evolve 65T if you ask me.

regards, Paul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63af828-0b5a-ba28-7fa6-0016b0b9a355
* Version Independent ID: 0e7b881f-f4bd-94b9-cefc-0bcc2040a7c1
* Content: [Phones and Devices for Skype for Business](https://docs.microsoft.com/en-us/

[2019-04-16 15:48] lindspea commented on #1664
@SophieGvB - https://blogs.technet.microsoft.com/skypehybridguy/2017/11/29/microsoft-teams-help-the-team-owner-left-the-company-and-we-dont-know-what-to-do/
Microsoft is working on Channels permission, but I don't think it's available just yet.

[2019-04-16 17:19] scanum commented on #2046
@hyoshioka0128  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 17:19] scanum commented on #2046
@officedocsbot close

[2019-04-16 17:19] #2046 closed

[2019-04-16 17:21] AlexHill90 commented on #1467
Guest inviter role doesn't work for Teams yet, so I don't know what is this referencing.

[2019-04-16 17:25] scanum commented on #2047
@hyoshioka0128  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-04-16 17:25] scanum commented on #2047
@officedocsbot close

[2019-04-16 17:25] #2047 closed

[2019-04-16 17:25] scanum commented on #2048
@officedocsbot assign @scanum

[2019-04-16 17:25] scanum commented on #2049
@JaredCHS  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-16 17:25] scanum commented on #2049
@officedocsbot close

[2019-04-16 17:26] #2049 closed

[2019-04-16 17:30] scanum commented on #2050
@officedocsbot assign @scanum

[2019-04-16 18:27] cmcatee-MSFT commented on #1623
@lindspea These are different from the contact support #s. @tonysmit owns this area and can help find out.

[2019-04-16 19:17] get-itips commented on #2039
Hello @timhaintz
**Thank you to taking the time to submit feedback.**

Actually, this article is for both version, this is known issue described here https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/1861 and is currently in the process of being fixed.

Thank You!

[2019-04-16 19:48] get-itips commented on #2025
Hello @nicolasbroisin
**Thanks for your feedback.**
Currently, there are no Teams-specific cmdlets to set this configurations, you could also add this suggestion to the Teams user voice https://microsoftteams.uservoice.com/forums/555103-public

Hope this information helps you.

[2019-04-16 20:30] SamCosby opened #2052 "Teams Usage Report very inaccurate"
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/teams-analytics-and-reports/teams-usage-report.md#microsoft-teams-usage-report

This needs to be updated and reflected to what's accurrate. Today, there's no option to download reports, or print reports in the Modern Portal. Additionally, there are multiple filters that do not exist that show in the screenshots, which is

[2019-04-16 20:32] scanum commented on #2052
@officedocsbot assign @scanum

[2019-04-16 21:09] scanum commented on #2030
@quickclix75  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-16 21:09] scanum commented on #2030
@officedocsbot close

[2019-04-16 21:09] #2030 closed

[2019-04-17 08:21] aluethi commented on #2038
Any news on this? Or a timeline when this feature will be available?

[2019-04-17 09:51] lindspea commented on #2048
@ivanja81 Thank you for reaching out and helping improve MS Docs.  I can have the content corrected. Could you perhaps give your suggestions for the wording to be amended.  Your help is greatly appreciated.

[2019-04-17 09:53] lindspea commented on #2050
@Polleke66 Thank you for reaching out and helping improve MS Docs.  I'll have the changes made and approved soonest.

[2019-04-17 11:26] lindspea commented on #2048
@ivanja81 Thanks for that information, but please could you clarify which part of the document you suggest needs to be removed and changed/amended.  I will create a PR here which will implement the changes, but I just need more clarity please.

[2019-04-17 11:30] ivanja81 commented on #2048
https://docs.microsoft.com/en-us/lyncserver/lync-server-2013-edge-server-disaster-recovery

“For federation relationships with other organizations running Lync Server, inbound federation requests will continue to work as long as you have configured each Edge pool to have a different priority in your SRV records. Any federation requests that come to an Edge pool that is down will fail back and then

[2019-04-17 11:31] lindspea commented on #2048
@ivanja81 Thanks Ivan.  So you're suggesting adding that information only, and not removing anything from the article?

[2019-04-17 11:33] ivanja81 commented on #2048
Remove the yellow part as that’s the confusing.

From: Lindsay <notifications@github.com>
Sent: Wednesday, 17 April, 2019 13:32
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Ivan Jankovic (SKYPE|TEAMS) <ivanja@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] Wrong documentation (#2048)

[2019-04-17 11:38] lindspea commented on #2048
@ivanja81 Sorry for the confusion.  I don't see anything in yellow. Are you suggesting removing this - “For federation relationships with other organizations running Lync Server, inbound federation requests will continue to work as long as you have configured each Edge pool to have a different priority in your SRV records. Any federation requests that come to an Edge pool that is down will fail ba

[2019-04-17 11:44] ivanja81 commented on #2048
Proposal

For federation relationships with other organizations running Lync Server, inbound federation requests will continue to work as long as you have solutions like Geo-DNS GTM.  It’s important to understand that federation failover does not provide failover with priority in SRV records. Solution earlier provided can help you provide disaster recovery capabilities for (inbound) federation."

[2019-04-17 12:45] get-itips commented on #2021
Hello @radderz how are you?

I can see that currently that feature is in development, I recommend looking into this resources for more information:

https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=queue

https://techcommunity.microsoft.com/t5/Microsoft-Teams/Auto-Attendant-and-Call-Queues-with-Direct-Routing/td-p/269038

As soon as it is released, documentation will be u

[2019-04-17 13:59] Jcoetsee commented on #2016
@tonysmit Can you potentially look at this and provide an alternative link or URL that provides the information so we can add it back to the article?

[2019-04-17 14:03] get-itips commented on #2017
Hello @DaveVernon
Thanks for your feedback, we appreciate it.

The blog post link that should give you more information was broken and fixed in a PR

https://github.com/nenonix/OfficeDocs-SkypeForBusiness/commit/9aad9d0ecd340617f498ee9d7228da686f5358ae

also related to an issue you opened

Here is the link https://www.microsoft.com/en-us/microsoft-365/blog/2017/01/17/advanced-office-365-capabiliti

[2019-04-17 15:42] robertpp opened #2055 "The section "NAT Requirements for External User Access" deserves some simplification"
#### Issue Description:

The article is a bit confusing in its attempt to associate the apparently non-standard denomination ChangeDST/ChangeSRC with various NAT features and names. There is also a lot of repetition in the article.

---

#### Proposed Change:

+ Update the title of the section "[NAT Requirements for External User Access](https://docs.microsoft.com/en-us/lyncserver/lync-server-2013

[2019-04-17 17:17] robertpp commented on #2055
At second thought, the addition marked in bold looks more like an optimization than a requirement. The full NAT should also apply to the media traffic between two federated A/V Edge servers.

[2019-04-17 18:20] waseemhashem commented on #2038
The rollout of the service upgrade that supports DR with AA started already, we are rolling out gradually and it should be available to all customers in couple of weeks.

[2019-04-17 18:22] scanum commented on #2055
@officedocsbot assign @scanum

[2019-04-17 18:35] tonysmit commented on #2016
@MicrosoftHeidi - Adding Heidi. She own .GOV stuff and probably can give you a different URL.

[2019-04-17 18:58] rhymeswithmogul opened #2057 "Can this be created in PowerShell?"
Can an org-wide team be created with PowerShell?  I've seen several links on personal blogs and other websites linking to a page on Microsoft.com that has since be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf

[2019-04-17 19:28] scanum commented on #2057
@officedocsbot assign @scanum

[2019-04-17 22:27] toddjohnson39 opened #2059 "TeamsAppPermissionPolicy"
Is 'TeamsAppPermissionPolicy' available? I can't find any documentation on how to configure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9f904e5-d015-70b0-b809-9b0b62931ab5
* Version Independent ID: aa59fcc6-0a6d-c82f-6b5e-ffb85e08ea8a
* Content: [Manage Teams during the transition to the new Microsoft Teams admin

[2019-04-17 23:30] excelcaptain opened #2060 "On the Chinese translation of the name of General channel"
The English version of "General " is "综合" on the Chinese version, but the Chinese Docs help use "常规", which is wrong

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 6c9902e8-a0b7-b6af-4656-2024849a5e8b
* Version Independent ID: 85beb9a7-2682-b52e-210b-20e598e3dab3
* Content: [在 Microsoft Teams 中创建首批团队和频道](https://docs.microsoft.com/zh-cn/MicrosoftTeams/get-started-wi

[2019-04-18 05:49] OfficeGlobal commented on #1817
@hyoshioka0128 Article has been HumanTranslated and published live. The issue is fixed

[2019-04-18 05:50] clearab opened #2062 "Adding a bot by GUID is for testing only"
We don't recommend adding a bot by GUID for anything other than testing purposes. Doing so severely limits the functionality of a bot. Bots in production use should be added to Teams as part of an app. See:

https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-create
 https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-test

---
#### Document Details

[2019-04-18 08:21] Jcoetsee commented on #2016
Thanks, @MicrosoftHeidi Let me know when you have an alternative URL so I can put in a Pull Request to have the content added please.

[2019-04-18 08:49] OfficeGlobal commented on #1574
@hyoshioka0128  Article is HumanTranslated and published live. The issue is fixed

[2019-04-18 09:24] hyoshioka0128 commented on #1817
@OfficeGlobal Thanks.
Close #1817

https://docs.microsoft.com/ja-jp/microsoftteams/teams-analytics-and-reports/teams-usage-report

[2019-04-18 09:24] #1817 closed

[2019-04-18 10:07] sowjanya365 commented on #1560
Hi @ginevr

Thanks for reaching out!

Credentials of these connected services are not stored in Teams.

The general idea is that the user will be redirected to Dropbox to authorize your app to access their Dropbox data. After the user has approved your app, they'll be sent back to your app with an authorization code. At this point your app will exchange the authorization code for an access token w

[2019-04-18 10:13] sowjanya365 commented on #1846
Hi @MaximAeon

Thank you for your response. The second URL explains how the Guest to Guest chats are stored. Please refer to it and let us know if you are still looking for any clarification. Please include detailed information if you are looking for any particular scenario. This would help us to understand it more clear and assist you with the proper response.

Looking forward to your confirmatio

[2019-04-18 12:09] get-itips commented on #2014
Hello @guesswho369 thanks for your feedback.
You can create that suggestion in [Teams UserVoice](https://microsoftteams.uservoice.com) as the scope of this issue system is documentation.
Thank you

[2019-04-18 12:22] get-itips commented on #1920
Hello @DeanGross How are you? Thanks for your feedback.
Currently, Teams Admin Portal or Teams Powershell do not have an option to export this reports.
You can explore [Microsoft Graph reports API](https://docs.microsoft.com/en-us/graph/reportroot-concept-overview) if it suits your needs. Also, you can make a suggestion in [Teams User Voice](https://microsoftteams.uservoice.com)

Hope this informa

[2019-04-18 12:41] get-itips commented on #1921
@SharS Sent you an email about this as the author of the commit that included that screenshot. Thanks!

[2019-04-18 12:49] get-itips commented on #1925
Hello @LanaChin can you confirm what was told to @MarniHall ? **Thank you.**

[2019-04-18 13:16] OfficeGlobal commented on #1918
Working on a fix

[2019-04-18 14:10] tomtorggler commented on #2013
Is database mirroring supported for Skype for Businesss 2019? If no, why is Database mirroring listed as option for back-end server high availability? Thanks.

[2019-04-18 14:12] jsloanad opened #2064 "Voicemail migration Opt-In"
Hi, When will this option be available and posted on the site?

[2019-04-18 15:51] cistaroj opened #2065 "Dial-in users are not recorded"
There should be a caveat to this document that indicates that a dial-in user is not recorded on the MP4 artifact.  There should be some explanation as to why?  It is curious that when dialed-in, the IVR announce that the recording has started/stopped...Yet the telephone joiners are not actually recorded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-18 16:08] get-itips commented on #1921
Hello @DeanGross thanks for your feedback.
The feature is rolling out gradually, it should appear on your tenant soon.
Hope this information helps you.
Thanks

[2019-04-18 16:17] get-itips commented on #1936
@LolaJacobsen how are you? do you maybe have information about this?
**Thank you**

[2019-04-18 16:59] scanum commented on #2039
@timhaintz  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-04-18 16:59] scanum commented on #2039
@officedocsbot close

[2019-04-18 16:59] #2039 closed

[2019-04-18 18:43] Jcoetsee commented on #2016
@tonysmit If we don't receive a response from Heidi I think I'm going to put in a PR so we have the link removed rather for now so we don't have a link in there since it's not functional.

[2019-04-18 19:05] scanum commented on #2059
@officedocsbot assign @scanum

[2019-04-18 19:05] scanum commented on #2060
@officedocsbot assign @scanum

[2019-04-18 19:05] scanum commented on #2062
@officedocsbot assign @scanum

[2019-04-18 19:05] scanum commented on #2065
@officedocsbot assign @scanum

[2019-04-18 19:06] scanum commented on #2065
@cistaroj  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-18 19:09] JoshuaLowery commented on #1512
I am running into the same.  Could do for an update in the article explaining anticipated propagation time.

[2019-04-18 19:23] scanum commented on #2065
@officedocsbot close

[2019-04-18 19:23] #2065 closed

[2019-04-18 19:33] scanum commented on #2064
@jsloanad  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-04-18 19:38] scanum commented on #2064
@officedocsbot close

[2019-04-18 19:38] #2064 closed

[2019-04-18 21:12] TorrenManson opened #2073 "Blank page"
This page is blank, but it's the first search result from here https://docs.microsoft.com/en-us/search/index?search=cloud+voicemail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283d323b-ac4e-e9a6-9fa2-19f4945a0376
* Version Independent ID: f9b5a089-3fb7-4194-1736-293aea7a753e
* Content: [Cloud Voicemail](https://docs

[2019-04-19 01:51] AmandaAZ opened #2074 "KB 4340904 link is incorrect"
KB 4340904 link is pointing to https://support.microsoft.com/en-us/help/3134260/march-2016-cumulative-update-6-0-9319-235-for-skype-for-business-serve. It should be linked to https://support.microsoft.com/help/4340904.

[2019-04-19 10:21] shinicht opened #2077 "Invalid charactor in the sample script."
in the following line has invalid character of '–'.

        Remove-Item –Path $TeamsPath -Recurse

The '–'  in the –Path argument is invalid. This is not '-' .
Please fix this. Thanks,

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c642df17-1656-7c29-9fc3-04f70689f902
* Version Independent ID: 63bef712-cfb2-9efc-0b62-f68b0968b84c
* Content: [Microso

[2019-04-19 12:16] lindspea commented on #2055
@robertpp Thank you for reaching out and helping improve MS Docs.  Please could you send your final suggestions for wording and I can have the team approve it soonest.

[2019-04-19 12:17] lindspea commented on #2057
@rhymeswithmogul Thank you for reaching out.  Let me check with the team and I'll get back to you soonest.

[2019-04-19 12:21] lindspea commented on #2059
@toddjohnson39 Thank you for reaching out.  I'll have an answer for you in the next couple of days.

[2019-04-19 12:21] lindspea commented on #2060
@Office Global.

[2019-04-19 12:24] lindspea commented on #2062
@clearab Thank you for reaching out.  I'll investigate with the team and add the necessary changes to the information in the document once approved.

[2019-04-19 12:47] rhymeswithmogul commented on #2057
Thank you.  The broken link I'd seen shared around the Internet was: https://www.microsoft.com/en-us/download/details.aspx?id=56501  The link died and there's no redirect to the current documentation; just an error page.

[2019-04-19 13:10] robertpp commented on #2055
**NAT requirements for the Edge service**

The following NAT requirements apply if you choose to configure non-routable private IP addresses for the Edge service:

- NAT can only be used with DNS load-balancing. NAT is not supported with a hardware load balancing (HLB)  Edge topology.
- NAT can only be used on the external Edge interface. NAT is not supported on the internal Edge interface.
- NAT

[2019-04-19 18:30] tonysmit commented on #2016
Sure go ahead.

________________________________
From: JC <notifications@github.com>
Sent: Thursday, April 18, 2019 11:43:12 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness
Cc: Tony Smith; Mention
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] blog post link is dead. (#2016)

@tonysmit<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ftonysmit&data=02%7C01%7

[2019-04-19 19:12] blachole commented on #221
Anyone still having the issue of the plugin not showing up, I posted a fix for forcing it over on Reddit: https://reddit.com/r/MicrosoftTeams/comments/beoh1a/fix_teams_meeting_plugin_for_outlook_on_mac/

[2019-04-20 10:31] hyoshioka0128 opened #2081 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

related: #1403
https://docs.microsoft.com/ja-jp/microsoftteams/guest-experience

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 048930a4-fdf2-9a90-3b47-46af66db3

[2019-04-22 05:19] sowjanya365 commented on #1710
Hi @summone

Thanks for reaching out!

If you set the 3 year retention policy for your "Teams channel messages and Teams chats" and 1 year deletion policy for your SharePoint Online and OneDrive for Business locations, you'll get a "File not found" error. But you can still access the "Teams channel messages and Teams chats."

Hope this information is helpful. Kindly confirm. Thank you.