[2019-02-12 00:41] mortenya commented on #1500
I'm on GCC and Forms and Planner are not options for new tabs.

[2019-02-12 08:41] boehmmic opened #1617 "Add and configure tabs in Exchange on-premises"
In the table it is written that adding and configuring tabs in Teams with Exchange on-premises is not supported. In my company with EX2016 CU11 it is working fine. Why is there a "no" in the table above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8456689d-6f04-fa5e-4f51-f413cb0b9d89
* Version Independent ID: e9b851

[2019-02-12 12:49] j7gordon commented on #1609
+1

[2019-02-12 13:51] get-itips commented on #897
Hi @argumemnon

Thanks for all the shared feedback, we really appreciate it.

I can confirm that the option is present using Global default policy, which has "Allow anonymous users to start meetings" off and "Automatically admit users" to Everyone in your organization, maybe it wasn't present at the time you submitted the issue?

Thanks also to everyone that also commented on this issue.

[2019-02-12 13:58] get-itips commented on #891
Hi @sklinger83

Thanks for sharing your feedback, we really appreciate it.

Meet now functionality is present in comparison chart, you have to look under Conferencing Support chart, option "Start an unscheduled group conversation with multiple participants directly from your client or device "
That option refers to Meet Now functionality.

Hope this information helped you out!

[2019-02-12 14:30] Larryngolog opened #1619 "Meeting limit was raised to 250"
This article states that meetings have limit of 250 users https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams, here we see limit of 80 users per meeting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa5a49f-c440-95a8-83a1-9d38bdae

[2019-02-12 15:14] get-itips commented on #1159
Hi @dipinn26592 can you kindly reference the document you are talking about in this issue?
Thanks for sharing this feedback, we really appreciate it.

[2019-02-12 15:26] get-itips commented on #960
Hi @marktorng Thanks for sharing feedback, we really appreciate it. Your issue does not reference an article in docs, but I think you refer to this one https://docs.microsoft.com/en-us/skypeforbusiness/plan/system-requirements

Server Core is not supported for SFB 2019 as this article confirms https://docs.microsoft.com/en-us/windows-server/get-started-19/app-compat-19

I will improve the referenc

[2019-02-12 15:30] get-itips commented on #929
Hi @NicholasBurkhammer thanks for sharing feedback, we really appreciate it.

Information regarding support in CU7 was added in https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/8a76be75d9b5b3b36ae90cf1c0d9da7fb677eb8e#diff-8ecca33208baf83d736c01615af7a5bd

Thank you.

@yogkumgit I think we can close this one now.

[2019-02-12 16:51] lindspea commented on #1413
@samanthaw

[2019-02-12 20:10] v-calem commented on #1605
Updating text with the link in question.

[2019-02-12 21:25] Lowell-Syncrety opened #1623 "How to find out if we can get a local number"
So 5 cities in Canada are listed where you can get a toll number... how can we find out if we can get a toll number elsewhere, or if we can port over our existing number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae54019f-73df-4e8a-be75-3310fd585a61
* Version Independent ID: 581970cc-d568-b626-2895-3a66ee934f57
*

[2019-02-12 23:15] #1164 closed

[2019-02-13 00:57] samanthaw commented on #1413
looking into it

[2019-02-13 04:04] elenanakhmanson opened #1626 "How to assign a policy"
The article says "assign it to the users you want to manage", but how and where do we do it? Could you provide links to the additional information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce30163-6327-899b-281d-d4ef982fce5e
* Version Independent ID: e61dcbb8-4877-ef6f-1987-981cdd7fc82f
* Content: [Configure des

[2019-02-13 07:09] lindspea commented on #1500
@yogkumgit @AndreaBarr this can be closed thank you.

[2019-02-13 07:13] lindspea commented on #1381
@AndreaBarr @yogkumgit this can be closed thank you.

[2019-02-13 07:33] 2009gautamkumar opened #1629 "incomplete information"
Why no version information is available for

Operating systems for Skype for Business Server 2015 for Windows Server 2016 ???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c475b5d-09ed-7f58-86d4-27f28e33ef7a
* Version Independent ID: f0ad50f3-ea93-9424-6de8-a0b778e90b23
* Content: [Server requirements for Skype for B

[2019-02-13 15:23] hack-o-holic commented on #1439
Yes parameters for all four options in the APPLICATION area of settings are needed!
Auto-Start
Open in background
On Close, leave running
Register Teams as default chat app

[2019-02-13 16:20] BrianMcNeese opened #1630 "PowerShell Typo"
PowerShell cmd is missing an 's':
Set-CsOnlineDialInConferencingTenantSetting**s** -AllowPSTNOnlyMeetingsByDefault $true | $false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f060f3-5817-be29-e8b6-ffb41682c83a
* Version Independent ID: e4831799-4fa0-224f-1d1b-d7bc3ee45971
* Content: [Start an Audio Conference over

[2019-02-13 16:36] kenwith commented on #950
This page was removed due to the update referenced above.

[2019-02-13 16:36] #950 closed

[2019-02-13 16:38] kenwith commented on #986
I see updates as of January 2019 now. Thanks for catch and getting this on the radar of the right person.

[2019-02-13 16:38] #986 closed

[2019-02-13 16:41] kenwith commented on #770
Thank you for this feedback and sorry for the delay in response. This was passed to the team handling education and I heard this discussed in meeting back when it was brought up. If you are stilling seeing issues that can be addressed in the content please go ahead and re-open.

[2019-02-13 16:41] #770 closed

[2019-02-13 17:41] shivtorov opened #1631 ""Lync Basic 2013" incorrectly named as "Lync Basic 2013 Trial""
In the "Lync Basic 2013 Trial Software" section, there are 3 instances of incorrect "Package Name".
It is named here as "Trial". But the software is free. There is no evaluation/trial version of it.
The correct name is on Download Center (https://www.microsoft.com/en-us/download/details.aspx?id=35451) - "Microsoft Lync Basic 2013 (32 Bit)" (without word "Trial")

---
#### Document Details

⚠ *Do n

[2019-02-13 18:37] #1500 closed

[2019-02-13 18:37] #1381 closed

[2019-02-14 08:39] hyoshioka0128 opened #1632 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Microsoft Teams.

https://docs.microsoft.com/ja-jp/microsoftteams/manage-the-shifts-app-for-your-organization-in-teams

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 75

[2019-02-14 13:30] najimaga commented on #1597
Hello Dean,

Thank you for your message, but I cannot agree with this.

The office 365 group is hidden with the parameter -HiddenFromExchangeClients and -HiddenFromAddressListsEnabled. Those commands are for unified group aka office 365 group. A shared mailbox is something different. So the part about the shared mailbox is confusing and not relevant.

Thanks.

[2019-02-14 14:55] yogkumgit commented on #897
@get-itips  Thank you very much for the contribution and sharing this explanation. @argumemnon
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-14 14:58] yogkumgit commented on #891
@get-itips  Thank you very much for the contribution and sharing this explanation. @sklinger83
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-14 16:38] MicrosoftHeidi commented on #990
Environmental requirements is a 2015 article. System Requirements is the 2019 article. There should be nothing in the 2015 article that references 2019.

[2019-02-14 20:40] centretechnologies commented on #800
So...this still hasn't been updated........

[2019-02-14 21:20] #891 closed

[2019-02-14 21:20] #897 closed

[2019-02-14 22:17] jambirk commented on #916
@georgerozgonyigmailcom If i understand this correctly, since the reports are generated from data in a database set up and associated for that purpose, it's not possible to give an answer that will always be correct, since it was user-configured at creation. Your best bet mat be to use the powershell command documented at https://docs.microsoft.com/en-us/powershell/module/skype/get-csreportingconf

[2019-02-14 23:21] CarolynRowe commented on #1243
Thank you for your feedback.  I've checked with one of our Skype for Business engineers... according to the engineer, Skype for Business for MAC still doesn’t have the ability to sync delegates from Exchange via MAPI.  The text should remain as is.

[2019-02-14 23:21] #1243 closed

[2019-02-14 23:22] jambirk commented on #990
@MicrosoftHeidi , this is a deploy article that is shared by both versions. There needs to be a link to both articles.

@Markusott7 the links provided correctly point to different articles: one for server 2015 requirements and one for server 2019 requirements. This is because the article is shared by both versions, and the process is only different in cases like this, when separate links are neede

[2019-02-14 23:22] #990 closed

[2019-02-14 23:57] MicrosoftHeidi commented on #870
Please be clear in what you think is inconsistent between the two pieces of documentation.

[2019-02-15 04:00] hyoshioka0128 opened #1634 "A paragraph containing "Guest" is returning from Japanese to English"
After #715, All the problematic paragraphs returned from Japanese to English.

https://docs.microsoft.com/ja-jp/microsoftteams/teams-dependencies

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2b05e642-c4e5-f1b5-5315-d3ef1690a0cd
* Version Independent ID: 01b7e0b5-3e50-3de0-e3e9-aeeeda43da12
* Content: [Microsoft Teams でのゲスト アクセスを承認する](https://docs.m

[2019-02-15 09:19] Arcass opened #1635 "External domain access list : MS teams and SfBOlnine"
Is the External Domain Access list shared between Microsoft Teams and Skype for Business Online or are they maintained as separate lists?
If they are common, can I use the New-CsEdgeAllowList cmdlet to manage the Microsoft Teams allowed domains list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31588a25-f3ee-e888-aa6

[2019-02-15 11:14] Michal-Witwicki opened #1636 "Standard Edition"
Microsoft announced that there will be no Standard version available in the 2019 edition. Documentation in a few places refers to the Standard edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd40e9bf-6fb5-b597-5494-b9ccc17e4660
* Version Independent ID: 46d0d0a0-2ea9-efbd-1ef8-63686f7fef62
* Content: [System re

[2019-02-15 11:15] rolleddice opened #1637 "Missing information about what happens when a user leaves a team"
When assigning or editing the dynamic group the users should join or leave the group as you define. But I am missing some information about what happens if a user that becomes a member of a group dynamically decides to leave the Team.

Firstly I think that the behavior of this should be the same as in Groups. I cannot decide to leave a group that I am dynamically a member of. In Teams I can and wh

[2019-02-15 12:01] OE10 opened #1638 "Where to define the new SBA in the Topology - in case SBA Skype 2015"
Hi,
Where we need to define the new SBA 2015 on Skype 2019 Topology- under branch site there are subfolders: Lync 2013/Skyoe 2015/Skype2019 - in case its SBA 2015 do we need to put under Skype 2015 or 2019?
Thanks
Erez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e21d998-d4db-a632-6560-ab9a796b5159
* Version Indepen

[2019-02-15 13:13] OfficeGSX commented on #1513
The article has been HumanTranslated and published live. Issue is fixed

Best Regards,
Michal

[2019-02-15 15:45] amstoneberger opened #1639 "Problems with CreateSrsMedia.ps1 script - Fails on downloading driver"
I am needing to load the Skype Room System software on a handful of Surface Pro 6 tablets for a customer of ours. I downloaded the latest version of the script, v 1.4.1, from the Microsoft website (https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-clients/console). The script runs fine until it gets to the step to download the driver. I can see the file it attempts to download when i

[2019-02-15 16:49] dschuette01 opened #1640 "Deleting a policy"
I created a policy called "Test Policy" to govern a specific settings (allowing owners to delete messages). I since created a new policy, correctly named, to do just that. Now I want to delete the "Test Policy" but there is no mechanism to delete an existing policy. How can I delete an existing policy? It is not currently assigned to any user in our organization.

---
#### Document Details

⚠ *Do

[2019-02-15 16:52] dschuette01 commented on #1640
Update: I didn't wait long enough for the manual unassigning to propagate through the system. I was now able to delete the unused policy.

[2019-02-15 17:26] #947 closed

[2019-02-15 17:32] jambirk commented on #1637
@rolleddice Interesting question. I've asked the experts, waiting on an answer from them.

[2019-02-15 17:41] Petri-X commented on #947
Thank you for all !

[2019-02-15 19:26] jambirk commented on #1637
And here's the answer:  "Members of Teams backed by dynamic groups can not leave the team. Owners of these teams can add members. Reason being the membership is locked down and fully controlled by the rules that define team members."

I'll add a not to clarify.

[2019-02-15 19:38] #1637 closed

[2019-02-15 22:39] itthing opened #1642 "List complete?"
Is this list supposed to be complete?  Dell is listing their UC350 headset as Skype for Business Certified at https://www.dell.com/en-us/work/shop/dell-pro-stereo-headset-uc350-skype-for-business/apd/750-aavm/pc-accessories

I'm looking for options, but don't want to narrow the vendor selection further than necessary if there is other legitimate hardware to consider.

---
#### Document Details

⚠

[2019-02-15 22:47] jambirk commented on #1642
My understanding is that this list should be complete and up to date. @dougand-MSFT can you provide more information here?

[2019-02-15 23:24] dougand-MSFT commented on #1642
the list is updated periodically, so the most recently certified devices may not be listed.  In general the best place to look first is: https://products.office.com/en-us/microsoft-teams/across-devices/devices

that site is more curated so will have the most information about devices, though it may not have all devices (especially older ones).

[2019-02-16 02:59] amstoneberger commented on #1639
Tried on my home computer, had no issues. Must be some weird policy issue on my work machine. Sorry for the trouble.

[2019-02-16 02:59] #1639 closed

[2019-02-16 06:15] GageAmes commented on #1340
Thank you for the feedback, @JamesMemmott.  The list of roles that can access CQD were added to the document in 2ac471ed11bf3dad48ebda1243e9b63523fc7d1c.
@yogkumgit that should be sufficient to close the issue.

[2019-02-17 06:24] shivtorov opened #1644 "article has not been updated since 2014 - lots of missing builds"
article says "check out this frequently updated list" - what a joke :)
it has not been updated since 2014.
lots of missing Lync 2013 client builds

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91cb10fb-a51b-edc0-7a3e-75f23f124d70
* Version Independent ID: 3a1965f8-a0b1-da45-545b-a5dd85336d32
* Content: [Lync 2013: Upd

[2019-02-17 07:54] shivtorov commented on #1644
the article should be updated with a link to the page with recent updates https://docs.microsoft.com/en-au/SkypeForBusiness/sfb-client-updates#lync-2013-client-updates

[2019-02-17 07:58] shivtorov commented on #1644
also, all URLs in the "KB article" column are broken:
* labels are correct, e.g. "http://support.microsoft.com/kb/2899507"
* but the actual URLs do not work, e.g. "http://go.microsoft.com/fwlink/p/?linkid=3052%26kbid=2899507"

[2019-02-17 08:03] lindspea commented on #1630
@AndreaBarr @yogkumgit please assign to me.

[2019-02-17 14:42] shivtorov opened #1645 "clarify .Net Framework version support"
Could you please clarify support for .Net Framework versions? Especially for the 4.7.x versions.

For 4.6.x - https://blogs.technet.microsoft.com/nexthop/2016/02/11/on-net-framework-4-6-2-and-skype-for-businesslync-server-compatibility/ - says:
"Both Lync Server 2013 and Skype for Business Server 2015 are supported with the .Net Framework 4.6.2.
Lync Server 2013 must have the November 2016 update,

[2019-02-17 23:40] jaypatrick opened #1646 "Dead Link"
This link is 404: https://docs.microsoft.com/en-us/MicrosoftTeams/phones-for-teams.md#microsoft-teams-phones-feature-set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886ea065-904f-9ee9-e98c-6af2ba3216bc
* Version Independent ID: d3aaba1d-ef63-22ed-2d34-ef267999a84e
* Content: [Phones and Devices for Teams](https://do

[2019-02-18 06:12] yiuyu2357 commented on #1312
sure

________________________________
寄件者: James Rhea <notifications@github.com>
寄件日期: 2019年1月23日 1:38
收件者: MicrosoftDocs/OfficeDocs-SkypeForBusiness
副本: yu kwong yiu wilson; Mention
主旨: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] enq (#1312)

@yiuyu2357<https://github.com/yiuyu2357>, can you say a bit more about what you're trying to do?

—
You are receiving this because you were mentioned.

[2019-02-18 09:16] lindspea commented on #1630
@BrianMcNeese Hi Brian.  Thank you for pointing this out and helping improve MS docs.  Please can you specify where the 's' is missing so I can insert it in the correct place.

[2019-02-18 11:12] yogkumgit commented on #1500
@lindspea Thank you very much for the contribution and updating the documentation with PR. @nphersom Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-18 11:13] yogkumgit commented on #1381
@lindspea Thank you very much for the contribution and updating the documentation with PR. @d1bjo0  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-18 12:22] yogkumgit commented on #947
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-18 17:14] tomlaciano opened #1649 "Desktop Logs - Help menu does not include "Get Logs" option"
Under the Desktop log section for Windows, there are 2 problems:
Problem 1 - There is no Get Logs option inside the Teams Help as suggested
I see no Get Logs option from within the Teams client and this option should be removed or more precise navigation should be provided.
Problem 2 - Teams Help is not a pull-down menu
There are 2 places to find Help (Note: neither of these include a Get Logs opt

[2019-02-18 19:38] dcnoren opened #1650 "External app list no longer showing in O365 Services and Add-Ins"
Environment used to be like screenshot above with things like "Adobe Creative Cloud" showing in the list of External Apps. This list is no longer showing, however all of the other settings are. Where did this list move to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143108bb-d6e6-48a8-a7cb-d11b89ebeaab
* Version Ind

[2019-02-19 03:10] hyoshioka0128 opened #1654 "[Office 365 導入ガイド] replace the link destination from English(en-us) to Japanese(ja-jp)"
https://docs.microsoft.com/ja-jp/microsoftteams/continue-journey

[Office 365 導入ガイド]"https://go.microsoft.com/fwlink/?linkid=859045"
 "https://fto365dev.blob.core.windows.net/media/Default/DocResources/en-us/Office_365_Adoption_Guide.pdf"
 ↓
 "https://fto365dev.blob.core.windows.net/media/Default/DocResources/ja-jp/Office_365_Adoption_Guide.pdf"

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.mic

[2019-02-19 12:43] yogkumgit commented on #927
@get-itips   Thank you very much for the contribution and sharing this explanation. @DEberhardt
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-19 12:46] yogkumgit commented on #916
@jambirk  Thank you very much for the contribution and sharing this explanation. @georgerozgonyigmailcom   Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-19 13:12] OfficeGSX commented on #1604
The article has been HumanTranslated, the issue is fixed.

Best Regards,
Michal

[2019-02-19 16:29] danmyhre opened #1656 "File Path"
The path should be "C:\Program Files (x86)\Microsoft Skype for Business Network Assessment Tool", not "C:\Program Files\Microsoft Skype for Business Network Assessment Tool" in this section: https://docs.microsoft.com/en-us/microsoftteams/upgrade-prepare-environment-prepare-network#test-for-opened-ports

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-02-19 17:29] bryhall commented on #1273
@jackvinson, this sounds like an SIP session timeout which may happen between Teams and Skype. https://docs.microsoft.com/en-us/microsoftteams/coexistence-chat-calls-presence#chats-and-calls-from-pre-existing-threads

[2019-02-19 17:40] jambirk commented on #1656
@Lester-Hewett in Turgay's absence, could you confirm this?

[2019-02-19 17:45] jambirk commented on #1646
You are correct, but I believe that whole page has been removed and its contents redistributed, and other work in this area is still underway. I'll check back on this later today and update the link to the new location.

[2019-02-19 18:50] #929 closed

[2019-02-19 18:50] #927 closed

[2019-02-19 18:51] #916 closed

[2019-02-19 20:09] scanum commented on #1558
@samanthaw @MollyMalone Hi! Could you please aid with this request? Thanks

[2019-02-19 20:12] scanum commented on #1574
@samanthaw @MollyMalone Hi! Can you please aid with this issue?

[2019-02-19 20:29] samanthaw commented on #1594
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are investigating a solution to fix these issues.

[2019-02-19 20:33] samanthaw commented on #1591
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are investigating a solution to fix these issues.

[2019-02-19 20:34] samanthaw commented on #1590
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:39] samanthaw commented on #1589
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:40] samanthaw commented on #1588
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:40] samanthaw commented on #1587
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:40] samanthaw commented on #1586
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:40] samanthaw commented on #1585
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:41] samanthaw commented on #1584
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:41] samanthaw commented on #1583
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:41] samanthaw commented on #1582
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:41] samanthaw commented on #1581
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 20:46] samanthaw commented on #1413
@MichaelNiederle the issue is fixed

[2019-02-19 20:50] samanthaw commented on #1574
@scanum looking into it

[2019-02-19 20:52] samanthaw commented on #1558
@hyoshioka0128 Thank you for reporting this issue, at this time we will not fix the over-translation of Microsoft Teams. It is a known issue that some of our product names are being unnecessarily translated by the machine translation. We are looking into a solution to fix these issues.

[2019-02-19 21:57] msiriski commented on #1439
Absolutely. We are holding off the roll out because we aren't able to control the behavior in every scenario.

[2019-02-19 23:22] jambirk commented on #1605
this is resolved, closing the issue.

[2019-02-20 02:03] RussC19 commented on #1572
@MySkypeLab - I was assigned to modify this, but it looks as if it's already been done. Would you please confirm?

Thanks.

Russ
![image](https://user-images.githubusercontent.com/47165527/53060816-4f5f0980-34ee-11e9-8a0b-18805c6d71d5.png)

[2019-02-20 02:05] RussC19 commented on #1568
@MollyMalone

Could you please elaborate on 'Test feedback' as I see no test on which to feedback, and no feedback function on which to test?

Thanks,

Russ

![image](https://user-images.githubusercontent.com/47165527/53060886-859c8900-34ee-11e9-9d00-930337e04ad2.png)

[2019-02-20 02:12] MySkypeLab commented on #1572
Hi Russ,

Yep, looks like Shane Hoey already got a change implemented for this one.

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/656e180b5986028dae24d94d38a82bf69979f8ca#diff-c631df4b65d286d1d49fcded934c981f

Thanks,
James

[2019-02-20 02:14] RussC19 commented on #1572
HI James, thanks. I'll close this and initiate the pull request.

Russ

[2019-02-20 04:31] phess67 commented on #1613
Unfortunately not. Without DirSync the CVM (online) service can not discover the mailboxes of the users receiving voicemails.

[2019-02-20 04:32] phess67 commented on #1579
Thanks will get this corrected.

[2019-02-20 10:07] abegeman opened #1663 "How Long Will SFB stay in support"
We are currently still migrating to SFB online as Teams does not have full feature parity. How long will SFB online continue to be supported?

[2019-02-20 12:30] yogkumgit commented on #960
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @marktorng  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-20 15:04] get-itips commented on #870
Hi @MicrosoftHeidi how are you?

I think the user @TobieFysh refers to these points:

In Fully tested and supported servers section:

Docs does not mention this

_Survivable Branch Appliance (SBA) with Sfb Server 2015 CU6 HF2 or higher (it is the vendor's responsibility to package the appropriate CU and provide it, be sure to confirm with your vendor that the updates have been made available for y

[2019-02-20 15:48] michaelwda commented on #957
Part of the way down the page there is blurb about pricing. From what I can tell it's going to be $4/mo for a single add-on license to our O365 E3. That license then needs to be applied to the user who will be creating and hosting the meetings.

This add-on can be purchased through the O365 Admin Center.

[2019-02-20 16:35] SophieGvB opened #1664 "Wenn der Teambesitzer das Unternehmen verlassen hat"
Kann man über den Adminaccount an die Inhalte eines Teams kommen, wenn der einzige Besitzer das Unternehmen verlassen hat?
Oder kann man einrichten, dass der Admin bei jedem Team Besitzer ist?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 20423b44-629b-1bee-280c-fb55680cd33e
* Version

[2019-02-20 17:05] #1492 closed

[2019-02-20 17:33] oradcliffe commented on #1255
Jeff, by default Teams will use 50000-50059 TCP/UDP.

[2019-02-20 18:28] BrianMcNeese commented on #1630
Hi, under "Using Windows Powershell", the cmdlet 'Set-CsOnlineDialInConferencingTenantSetting' should have an 's' on the end, so: 'Set-CsOnlineDialInConferencingTenantSettings'

[2019-02-20 19:58] cervezerg commented on #1606
Hi Everyone,

Yes, it was an Issue with the Microsoft network. After some time, they fixed it. So now the link is working fine, but in any case, I upload the required file to my OneDrive. So if anyone is having the same issue, must download this file and put it in the .\SiteDirectory\Bits\KB2982006 folder

https://1drv.ms/f/s!AhRW9EpDcfF5gbh1LhcmpzpVy1lX1g

best regards,
Javier

[2019-02-20 20:03] #1606 closed

[2019-02-20 20:36] #1630 closed

[2019-02-20 21:15] #960 closed

[2019-02-20 22:53] MollyMalone commented on #1568
@RussC19 Sorry, I was just testing the process for how to leave feedback.   I notice that some users were leaving feedback that links to localized content and I can't figure out how they are doing that as the Feedback control is disabled on the localized pages.  Anyway you can close this.

[2019-02-21 00:09] RussC19 commented on #1568
Will do, thanks.

[2019-02-21 02:55] FrancoiD commented on #1663
Hello @abegeman
What specific capabilities of SfBOnline are you missing in Teams that prevent you from switching to it?
Thank you

[2019-02-21 03:06] FrancoiD commented on #1273
There are multiple aspects.
One, federation follows the upgrade modes but does not require TeamsOnly, see the doc pasted above by @bryhall
Second, when the sender is in Islands mode with SFB onprem, the sender must use SFB for federation. The document is not explicit enough about that, I will modify it.
Third, it is also correct that SIP sessions will time out, in about 10 min, therefore reply fro

[2019-02-21 07:18] lindspea commented on #1413
@AndreaBarr @yogkumgit seems this can be closed thank you.

[2019-02-21 08:27] abegeman commented on #1663
Hi, BYOT isn't fully supported yet in our region, call handling and, call queues still in progress. Our users just want to use it as a phone system and don't like the heavy large interface. Hoping that in the future the option for a snap out smaller client for phone calls will be available. There are more things but these are just a few off the top of my head

[2019-02-21 11:17] tiagoroxo opened #1670 "URL not working http://go.microsoft.com/fwlink/p/?LinkId=285379"
URL not working http://go.microsoft.com/fwlink/p/?LinkId=285379

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad033838-b374-d225-12aa-33504335d70a
* Version Independent ID: 3d8bcc2a-236c-02cf-c144-657108891d72
* Content: [Lync Server 2013: Managing Quality of Service (QoS)](https://docs.microsoft.com/en-us/lyncserver/

[2019-02-21 11:26] tiagoroxo commented on #1629
https://support.microsoft.com/en-gb/help/4015888/how-to-install-skype-for-business-server-2015-on-windows-server-2016

[2019-02-21 11:26] nobyr opened #1671 "Request for additional information on Email integration"
We'd like more details onto how the integrator/connector/bot works with my channel. How often does the bot check on email? Or where to find detailed information on the feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9b7f77-061d-a224-ff1c-8d3e15d21221
* Version Independent ID: 00fa9550-c4c4-3398-ffbb-271cc7240

[2019-02-21 11:56] yogkumgit commented on #870
@MicrosoftHeidi please share your comments on the required clarification, given by @get-itips

[2019-02-21 12:05] yogkumgit commented on #1159
@dipinn26592  Thank you very much for oping the issue. @get-itips could help if  reference document would be available. If you find the one please feel free to reopen this issue. Thanks again for taking out some time to open this issue.

[2019-02-21 12:56] harsco01 opened #1673 "Producer vs Presenter"
In all this documentation I can't see any mention what the difference between Producer vs Presenter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: becbf3ca-b88c-b033-a145-9a1af201ced3
* Version Independent ID: 41a6a9b5-d3dd-d8c9-9e97-920ff2fd1a24
* Content: [What are Microsoft Teams live events?](https://docs.microsof

[2019-02-21 12:59] dipinn26592 commented on #1159
https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/clients-and-devices/desktop-feature-comparison

[2019-02-21 14:36] DeanGross opened #1674 "Missing information"
Please add documentation for the settings shown in the Devices section of the Team Settings page in the Org-wide Area of the Teams Admin Center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd1a01d8-95ab-89d3-d832-1b3ce139be5c
* Version Independent ID: ece856fc-11d9-2220-3646-b6d5f16829e6
* Content: [Phones and Device

[2019-02-21 15:28] FrancoiD commented on #1663
I am not a specialist of Direct Routing, but it was my understanding that you could use it anywhere in the world. Call Queues are available, maybe there is one specific aspect of Call Queues you are looking for? Not sure what you meant by Call Handling. Maybe the situation has evolved and it may be worth reevaluating the Teams readiness? Thanks

[2019-02-21 16:00] NicholasBurkhammer opened #1675 "Needs an update related to DFS shares to specify the RTC groups that should be in place on DFS shares since SfB cannot query them."
Note:  If the file store is hosted on a DFS share, the following warning will be received.

Warning: Unable to access share permissions for "\\&lt;domain&gt;\&lt;share&gt;". This is expected if you are not an administrator on the file server, or if this is a Distributed File System (DFS) share. If the share permissions have already been configured, this warning can be ignored. If it is a new share

[2019-02-21 17:34] jambirk commented on #1674
@dougand-MSFT  please consider this suggestion and respond.

[2019-02-21 17:39] jpwgc opened #1676 "Disabling Teams Features"
"Currently, there are no policy options for turning Teams, or a subset of Teams features, on or off at an individual user level outside of licensing". Actually Chat can be turned on/off per user via policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cccdd91a-7f05-abd5-ed94-e82152b86914
* Version Independent ID: 353

[2019-02-21 18:22] jambirk commented on #1670
@tiagoroxo   It looks like the link target may have been retired.   how about https://docs.microsoft.com/en-us/powershell/module/netqos/?view=winserver2012-ps as a target to point to?

[2019-02-21 20:24] #1413 closed

[2019-02-21 20:28] #1159 closed

[2019-02-21 20:50] #1568 closed

[2019-02-21 21:09] #1572 closed

[2019-02-21 21:10] #1573 closed

[2019-02-21 21:10] #1576 closed

[2019-02-21 22:35] #1575 closed

[2019-02-21 22:35] #1558 closed

[2019-02-21 22:37] #1583 closed

[2019-02-21 22:38] #1584 closed

[2019-02-21 22:38] #1585 closed

[2019-02-21 22:38] #1586 closed

[2019-02-21 22:38] #1587 closed

[2019-02-21 22:39] #1588 closed

[2019-02-21 22:39] #1589 closed

[2019-02-21 22:39] #1590 closed

[2019-02-21 22:39] #1591 closed

[2019-02-21 23:14] Cloud-Writer commented on #1675
@Ken Withee, this update has been approved by Sr. SPM Corbin Meek. Would you please approve this pull request? Nicholas technically requested this about a year ago but the update didn't get made because of the Docs migration. Many thanks!

[2019-02-21 23:18] kenwith commented on #1675
@Cloud-Writer - which Pull Request? This is an Issue. :)

[2019-02-21 23:22] Cloud-Writer commented on #1675
Oops! I thought my comment would be appended to the pull request ☹. It is #1675. https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/1675

Apologies Ken!

--Meera

From: Ken Withee <notifications@github.com>
Sent: Thursday, February 21, 2019 3:18 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Meera Krishna <meerak@microsoft.com

[2019-02-21 23:25] kenwith commented on #1675
No worries, these are all "GitHub Issues" though.. the Pull Requests are on another tab.. here: https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pulls

[2019-02-21 23:35] junterpfe opened #1677 "Powershell linked but no commands found"
for the section "Make changes to the email messages that are sent to them" it links to the powershell ref for teams but none of the commands allow you to change the from address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0cd207e-eec4-11a5-9037-5d72a9ad5044
* Version Independent ID: b3757462-ceca-36ab-1b7a-8568a74

[2019-02-22 08:44] abegeman commented on #1663
Hi FrancoiD thanks for your comments, it's under constant review, it can't do what we need at this time. I do need the original question answered, if anyone from Microsoft has the answer it would take some of the uncertainty away

[2019-02-22 12:39] pmorrisonperform opened #1680 "Performance Issues with Team"
Our organisation uses Teams. Every person I know has terrible issues with performance. Teams is memory hungry and has numerous bugs, such as shuddering in teams pane when typing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa5a49f-c440-95a8-83a1-9d38bda

[2019-02-22 13:28] rafaelfozzy commented on #1019
Hi!
I have a problem with the creation of the media.
I cannot run the script.
I'm using a Surface Pro 4.

Can you help me?

[2019-02-22 16:18] FrancoiD commented on #1663
We would really, really appreciate specifics as what you state is not our perception, and if there are gaps, we would be happy to consider them for investment.

There is no information I can share on your specific question. We have not announced any end of service.

[2019-02-22 17:09] FrancoiD commented on #1676
That is entirely correct, this section is obsolete. @Jambirk

[2019-02-22 17:18] nswetland commented on #1054
Yes.  I just converted a team today from public to Org-Wide.   Originally it did not let me, and kept saying I was unauthorized (I was a Global Admin of O365 and Owner on the Team).   The only change I made recently that might have helped was switching my MS Teams coexistance mode to "Teams Only" (it was Islands, but we killed SfB in Q4 2018).   Not sure if that is what fixed it, but it definitely

[2019-02-22 17:20] jambirk commented on #1664
Translated:  "Can you get to a team's content through the admin account if the only owner has left the company? Or can you set up that the admin is an owner with each team?"

@tonysmit can you comment here? @LolaJacobsen is unavailable

[2019-02-22 17:29] #1640 closed

[2019-02-22 18:48] Travis-Snoozy commented on #1019
@AndreaBarr -- negative, I was never able to repro the issue. My development branch has a change it it that might by pure happenstance resolve the problem, but given I can't induce the described behavior to begin with, I can't actually verify it.

[2019-02-23 15:48] DFLiddle opened #1684 "Controlling "Users" that shouldn't appear in Teams"
Hi! Hopefully this page is an appropriate one to add my observations and questions ...

– I've noticed that 'non-human' objects (e.g. a mailbox used for printers) show up in Teams, such as in the "Suggested" list in the Chat view.
– I've noticed that resources (i.e. rooms and equipment) and shared mailboxes are visible in Teams, too.
– What are the effects of opening a chat with objects that will

[2019-02-23 19:32] theangellmethod opened #1685 "Reference to cmdlet but link to where the code is not available"
In the first note it mentions that a cmdlet will be provided: "For customers that want to continue with the existing behavior of showing these groups in Outlook, an Exchange Online PowerShell cmdlet will be provided which can enable the group for the Outlook experience."

How can we access the cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-02-23 21:50] #1605 closed

[2019-02-24 15:59] TomoharuMisawa opened #1686 "not include *.broadcast.skype.com?"
Do not use * .broadcast.skype.com at the meeting Broadcast?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c7bea6c-13d8-f610-5d8d-47d463841ae3
* Version Independent ID: 739ff101-e66b-ea3e-2079-f9b7a3b303be
* Content: [Set up your network for Skype Meeting Broadcast](https://docs.microsoft.com/en-us/skypeforbusiness/se

[2019-02-24 22:05] Rick-Kirkham opened #1687 "So, ahem, how DO I add a guest to a team?"
This article titled "Add a guest to a team" does not say **how to add a guest to a team**. :-(
Instead, it just gives high level background information about who can be added and who can do the adding.

So, could someone point me to instructions for adding a guest to a team?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-02-25 09:25] JumbaJookiba opened #1688 "Skype or Teams not available"
Using provisioning 0 and 1, I have the preferred application in the Start screen (either Skype or Teams), but the other one is not present anywhere, including All Apps.
Since Skype is not even listed in the Store, I cannot launch it from there.
This does not allow me using both, and this is a problem, because only through Skype I can reach my Videxio rooms.

---
#### Document Details

⚠ *Do not ed

[2019-02-25 09:43] PhilFancy opened #1689 "Team member maximum of 2500"
I think this is outdated. I think max members count is 5000, isn't it?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa5a49f-c440-95a8-83a1-9d38bdaeda39
* Content: [Bekannte Probleme für Microsoft Teams](https://docs.micro

[2019-02-25 12:16] get-itips commented on #1159
Hi @dipinn26592 thanks for sharing the referenced document.
I'll take a look at it and if it needs some edits I'll do it. Thank you again

[2019-02-25 12:29] abegeman commented on #1663
Hello, one of the major pain points for us and what appears to be universally disliked by all our users is that the GUI. We get feedback that it’s too big and clunky. There is no immediate way of just using it is a detachable phone dialler. 90% of the time our SFB users are using it for just this.  There is no compact mode, no detachable chats. When users want a one-off chat they can’t do it witho

[2019-02-25 14:36] JeffBrownTech opened #1690 "Configuring Closed Federation and Hybrid"
Can additional documentation be included to show how to configure hybrid but leave closed federation and manage through allowed/blocked lists? The above command enables partner discovery, which will open a previously closed federation environment to an open federation. Having the closed federation with hybrid scenario documented would be great.

---
#### Document Details

⚠ *Do not edit this secti

[2019-02-25 14:43] StuBeck32 commented on #1477
Just as a followup, we're still having this issue 16 days later. The users have been switched over and this can't be the latency issue as the changes needed are never taking effect.

[2019-02-25 15:15] lindspea commented on #805
@loveunicom thank you for pointing this out and for your contribution in helping improve MS docs. I will investigate the issue.

[2019-02-25 15:16] lindspea commented on #814
@Mike-Crowley Thanks for pointing this out and for your contribution.  I will investigate the issue to correct the typo.

[2019-02-25 15:17] lindspea commented on #828
@alegala Thank you for reaching out and for your valuable contribution.  I will investigate further to correct this as soon as possible.

[2019-02-25 16:11] get-itips commented on #817
Hi @nicolonsky thanks for your feedback and comments, we really appreciate them.
As @danieldhudson says, you do need to install the Teams app as the document says before setting it to default calling and meeting application. You could also use intune to assign it and push it. Hope this information helped you so we can safely close this issue.

[2019-02-25 16:17] get-itips commented on #803
Hi @rtawney13 thanks for the comments and feedback, we really appreciate them,  information was corrected after you opened this issue, (https://docs.microsoft.com/en-us/microsoftteams/msi-deployment#disable-auto-launch-for-the-msi-installer) hope this information helps you out.

[2019-02-25 17:50] get-itips commented on #779
Hi @Garthmj hope you are doing great! thanks for your feedback and comments, we really appreciate them.
QoS Settings for router are present in the Recommended DSCP settings table, are you referring to these settings? If so, please tell me if this information has helped you.

Many thanks

[2019-02-25 17:52] get-itips commented on #777
Hi @janis-veinbergs we appreciate your comments and feedback, thanks.
example cmdlet has been corrected after you created this issue, thank you.

[2019-02-25 18:50] lindspea commented on #828
@yogkumgit @AndreaBarr These changes requested have already been implemented.  This issue can be closed thank you.

[2019-02-25 19:14] lindspea commented on #814
@David-Rosenthal please can you have a look at the troubleshooting guide in the blog from Tushar Pathak. @Mike-Crowley mentions a typo in there in his message above.

[2019-02-25 19:14] get-itips commented on #663
Hi @TheDarkLord123 thanks for your comments and feedback, we appreciate them.
Your issue description does not reference a specific document, but I found one that might be the one https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/requirements-for-your-environment/server-requirements#DBs is this the correct document?

Document has been updated after you created this issue, now i

[2019-02-25 19:19] lindspea commented on #805
@loveunicom Please confirm which two pics are lost at the end of the article? I'm unable to see what is missing.  Perhaps it has been updated since you opened the issue.  Please confirm soonest.

[2019-02-25 19:36] David-Rosenthal commented on #814
I only cover Teams in Gov :) The PM for Guest Access is @somakbhattacharyya

[2019-02-25 19:53] #828 closed

[2019-02-25 22:30] Garthmj commented on #779
Can you share the direct link to the Docs page?

[2019-02-26 00:45] sparkitect opened #1695 "Microphone only works for one meeting"
The microphone on my Surface Headphones will only work for one meeting. After hanging up from the meeting, the microphone doesn't work in my next meeting. Attempting to change the input to the mic built into the Surface Studio causes Microsoft Teams to freeze up; I can still hear others talking, but they can't hear me and the UI is frozen and the app will not close. When this happens, only a reboo

[2019-02-26 03:51] hyoshioka0128 commented on #1594
@samanthaw Thanks.

[2019-02-26 03:51] #1594 closed

[2019-02-26 03:52] hyoshioka0128 commented on #1582
@samanthaw Thanks.

[2019-02-26 03:52] #1582 closed

[2019-02-26 03:52] hyoshioka0128 commented on #1581
@samanthaw Thanks.

[2019-02-26 03:52] #1581 closed

[2019-02-26 06:29] lindspea commented on #814
@somakbhattacharyya could you please assist with above issue.

[2019-02-26 10:45] chall324 opened #1696 "Step 6"
I'm an administrator at work, we don't currently use MS Teams accept for this one user, who is wanting to share a file with a contractor. I have followed each step, however when I reach step 6, those settings simply don't exist. I still cannot find the user when trying to invite them to the team either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-02-26 15:01] bernardw1 commented on #800
You can still get to the Skype for Business Admin center through the Teams admin center (https://admin.teams.microsoft.com/dashboard).

![capture](https://user-images.githubusercontent.com/23319226/53422402-03f0a380-39a5-11e9-903b-b7baa594b560.PNG)

[2019-02-26 16:26] get-itips commented on #774
Hi @tocri thanks for your comments, could yo please explain in more detail what is wrong with the documentation, thank you!

[2019-02-26 16:49] thedrum808 opened #1698 "Teams Update Size"
On average, how large is a desktop Teams update? Is it drawing down the whole ~80MB client again or just a portion?  This is useful to know for enterprise deployment, especially when bandwidth is a big consideration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independe

[2019-02-26 19:17] BrianMcNeese commented on #1456
Hi Lindsay, that sounds correct to me. And the Pool2 FQDN's could be removed out from under CNAME records as well.

[2019-02-26 19:50] get-itips commented on #771
Hi @StPhil Thanks for taking the time to make suggestions.

This information isn't present in the documentation as hardware requirements are always specified with minimum needed. (Server software might be a exception) I suggest you add this feedback to Microsoft Teams User Voice https://microsoftteams.uservoice.com/forums/555103-public

Thank you!

[2019-02-26 20:32] malimal99 commented on #1265
in GCC the option for "Off\On" is not available. only the ones @rolandfalcon listed.

[2019-02-26 20:33] get-itips commented on #834
Hi @rhmclean thanks for your feedback, we really appreciate it.
Document intention isn't to include such error codes so you won't be find this information there. @yogkumgit can you kindly help here?
Thank you!

[2019-02-26 20:36] get-itips commented on #772
Hi @rhmclean can you please explain with more detail what do you want to see in this document? What do you mean how the system performs against those limits?
Thank you

[2019-02-26 21:14] tocri commented on #774
Hi,

Nothing wrong with the documentation. It’s only the french translation who is not perfect.

Anthony LEDUC-PASQUIER
Formateur Admin Rx & Systèmes
Responsable des certifications Microsoft AFPA Bretagne<http://certif22.maformationenligne.bzh/mod/page/view.php?id=54&forceview=1>
Formateur Microsoft Innovative Expert<https://education.microsoft.com/Status/Public?token=Kn1QSXx7>
www.linkedin.com/in

[2019-02-26 21:26] get-itips commented on #774
so it should say barre d'application instead of barre d'applications? thank you!

[2019-02-26 21:40] tocri commented on #774
Section Desktop logs

In English, it says Right-click the Microsoft Teams icon in your application tray, select Get Logs

And in french it says

Cliquez-droit sur l’icône Microsoft équipes dans votre panneau d’applications, sélectionnez Get Logs

You should translate application tray by barre des tâches or zone de notification.

Anthony LEDUC-PASQUIER
Formateur Admin Rx & Systèmes
Responsable des

[2019-02-26 22:28] AndresCgaehd opened #1701 "How to add Company App to Default apps catalog"
I would like to know if is there a way to add a Company App to the default apps section in MS Teams.

I'm trying to add a Bot app to all the company users by default in MS Teams, Is this possible in some way?

![image](https://user-images.githubusercontent.com/48034631/53451111-a760a900-39e3-11e9-9fef-4a8399ba0cc3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-02-27 00:33] get-itips commented on #774
Thanks for the detailed explanation @tocri we'll take care and correct the translation.

[2019-02-27 04:00] loveunicom commented on #805
It works now.

Thanks!

Best regards，
Eric Chen
[signature_865912945]MVP

From: Lindsay <notifications@github.com>
Reply-To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <reply@reply.github.com>
Date: Tuesday, February 26, 2019 at 03:19
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: 中国極道 <loveunicom@outlook.com>, Mention <mention@noreply.github.com>

[2019-02-27 08:21] lindspea commented on #805
@AndreaBarr @yogkumgit This can be closed thank you.

[2019-02-27 12:11] yogkumgit commented on #817
@get-itips  Thank you very much for the contribution and sharing this explanation. @ nicolonsky
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-27 12:13] yogkumgit commented on #803
@get-itips  Thank you very much for the contribution and sharing this explanation. @rtawney13
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-27 12:17] yogkumgit commented on #777
@get-itips  Thank you very much for the contribution and sharing this explanation. @janis-veinbergs
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-27 12:24] yogkumgit commented on #663
@get-itips  Thank you very much for the contribution and sharing this explanation. @TheDarkLord123
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-27 12:28] yogkumgit commented on #805
@lindspea  Thank you very much for the contribution and sharing this explanation. @loveunicom
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-27 15:59] get-itips commented on #949
Hi @Deewood thanks for your comments!
You can find version details for Skype Room System here https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/clients-and-devices/srs2-release-note

Hope this information is useful for you. Thanks

[2019-02-27 16:17] get-itips commented on #809
Hi @aaron-ni Thanks for your comment!
That known issue has been added to the article https://docs.microsoft.com/en-us/microsoftteams/known-issues under the title "URL preview may not show for all URL's "
Thank you

[2019-02-27 16:21] get-itips commented on #799
Hi @waelschakaki thank you for your suggestion, document has been updated after your comment.
Thanks again

[2019-02-27 17:47] get-itips commented on #774
Please @OfficeGlobal I understand you handle the localization version of this article, can you correct it? Thank you!

[2019-02-27 17:59] almertes opened #1703 "Guest Inviter Role not supported (yet?)"
Guest Inviter Role not supported (yet?), but this is not documented here, which is a frequently used one stop shop for issues with TEAMS. Can you add this documentation and whether this is on the roadmap, etc.?  This Ignite session eluded to it coming, but still today it does not work: Real-world best practices for managing Office 365 groups - BRK3274.... https://www.youtube.com/watch?v=Q0uAKigosC

[2019-02-27 18:01] get-itips commented on #763
Hi @greganth1 thanks for taking the time to submit feedback, we really appreciate it.
I did a test in lab and domains added to Skype legacy portal were instantly viewed in Teams Admin portal, maybe at the time you created this issue this wasn't working as expected.
Hope this information helps you.
Thanks.

[2019-02-27 18:28] get-itips commented on #741
Hi @cparker4486 hope you are doing well.
Document was updated after you created this issue, including a note saying that TeamsOnly option will only be present on some organizations. As this is the original issue with the document. I also checked the Teams Admin Portal instructions and they currently match what you see in Teams Admin Portal.

Hope this information has helped you!

Thank you.

[2019-02-27 19:02] get-itips commented on #695
Hi @EvgenyArtemyev Thanks for your comments!
Document intention isn't to specify features in each subscription, but list the ones that enable Teams.

You can see here https://docs.microsoft.com/en-us/office365/servicedescriptions/office-365-platform-service-description/office-365-plan-options that Office 365 Enterprise F1  Includes Skype for Business Online Plan 1.

Hope this information has helpe

[2019-02-27 19:41] get-itips commented on #671
Hi @NickElniff thanks for your feedback!
Document has been updated since you opened this issue and notes about third party conference services has been added to clarify this situation, please review it now.

Hope this information has helped you.

[2019-02-27 19:50] get-itips commented on #659
Hi @jgdolph thanks for your feedback! information regarding expiration is on the same section, "Manage Communications Credits" under "Add funds and manage Communications Credits"

https://docs.microsoft.com/en-us/microsoftteams/add-funds-and-manage-communications-credits

Hope this information has helped you!

Thanks

[2019-02-27 19:53] get-itips commented on #884
Hi @chavesrdj thanks for your feedback!
It's not possible to have a subTeam, maybe the channel feature fills the situation you are describing and it works for you?
If not, please kindly visit Teams UserVoice to propose that idea https://microsoftteams.uservoice.com/

Thank you!

[2019-02-27 20:18] #805 closed

[2019-02-27 20:31] #817 closed

[2019-02-27 20:31] #803 closed

[2019-02-27 20:31] #777 closed

[2019-02-27 20:32] #663 closed

[2019-02-27 21:01] get-itips commented on #837
Hi @tonysmit are you able to provide more info on this scenario? Thank you

[2019-02-27 22:01] joshbarnhillF5 commented on #1687
https://www.youtube.com/watch?v=1daMBDyBLZc

[2019-02-27 22:13] CarolynRowe commented on #837
What is the exact issue?  We are working on a document about media bypass with Direct Routing, which will be published soon.

[2019-02-27 22:18] #1303 closed

[2019-02-27 22:25] get-itips commented on #837
Hi @rossual as @CarolynRowe said, a document with more information will be published soon. Hope this information helps you.
Thank you!

[2019-02-27 22:28] rossual commented on #837
Do you have a time frame? The request has been open for 5 months.

Thanks.

[2019-02-27 22:46] Rick-Kirkham commented on #1687
That video is out-of-date. The UI has changed. As near as I can tell, there is no longer a Members tab. Even if the video worked, the information about how to add a guest should be in the article that is titled "Add a guest to a team".

[2019-02-28 04:28] jason-ra opened #1707 "Dead link - pricing"
Link to pricing page is 404: https://products.office.com/en-AU/skype-for-business/audio-conferencing#Requirements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c6e2b61-656c-a4f8-94a7-ec3c14e4d65e
* Version Independent ID: 77932de0-0312-95c5-f356-89ece9b3aabd
* Content: [Phone numbers for Audio Conferencing in Microso

[2019-02-28 04:48] baluilag opened #1708 "Spelling mistake on page Microsoft Teams analytics and reporting"
Teams reporting reference:

1:1 calls a user **particpated** in
Messages a user posted in a team chat
Messages a user posted in a private chat
Last activity date of a user.

"Particpated" word should be as "participated"

URL: https://docs.microsoft.com/en-us/microsoftteams/teams-analytics-and-reports/teams-reporting-reference

[2019-02-28 04:51] baluilag commented on #1416
Spelling mistake on this page under topic "Teams reporting references".
word "particpated" must be corrected as "participated".

[2019-02-28 07:45] OfficeGlobal commented on #774
@samanthaw Working on a fix (BUG 3193674)

[2019-02-28 11:05] pkaushik23 opened #1709 "section "Use the Office 365 admin portal to manage the Tenant Apps Catalog" not clear"
The section "Use the Office 365 admin portal to manage the Tenant Apps Catalog" does not show under which menu under settings &gt; services & add-ins , the options shown as part of screen shot will be visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbcabee-fa96-2878-e983-3c966f84ee15
* Version Independent ID:

[2019-02-28 11:44] Squuiid commented on #221
February 28th 2019 and we STILL don't have a Teams button in Outlook for Mac.
This is pathetic.

[2019-02-28 12:41] summone opened #1710 "Clarification required here"
Correct me here if I am wrong with the following example.
We apply 3 yr retention policy for eol, spo, od4b. Next, we apply the same retention but form chat and msgs in teams.
Now I delete say Rodgers account after one year.  His files are deleted now but the retention policy says we hold onto his personal data for 3 years for compliance reasons.
So we need the Teams channel msgs and chats retenti

[2019-02-28 13:21] piqueora opened #1711 "what are the Teams IP phones requirements ?"
I don't see in the Teams doc where Teams IP phones requirements are defined : DHCP settings required & optional, access to Teams using NAT / HTTP or socks proxy, ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae4c265a-8df4-647d-fc42-5054e3340c20
* Version Independent ID: 249c7301-9c82-b1c4-8401-54553370302b
* Conte

[2019-02-28 15:45] Petri-X opened #1712 "What is the defination of < your Verified Domain >"
Hi, it looks that this document has been updated in 2017, but e.g. the previous comment "Multiple SIP/SMTP domains" from @rgsteele has been written in 2018. So that comment has been closed, but not implemented?

But to my comment is about defination of "**<  your Verified Domain >**"
On the step 1 you say:

But then on Step 7 you say:

Isn't that 10x easier to say, it is the domains you get by the

[2019-02-28 15:55] danieledwardgeorgehitchcock opened #1713 "Call Flag"
In my CDR database, I am seeing CallFlag's of 64 - Is there a full list somewhere of what these codes map to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99bd4293-407d-98be-740c-8b631527319b
* Version Independent ID: 63f6663c-5698-c7ad-1186-8f160a7d0ed2
* Content: [ConferenceSessionDetails table in Skype for Busines

[2019-02-28 16:00] yogkumgit commented on #949
@get-itips  Thank you very much for the contribution and sharing this explanation. @Deewood
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:07] yogkumgit commented on #809
@get-itips  Thank you very much for the contribution and sharing this explanation. @aaron-ni
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:09] yogkumgit commented on #799
@get-itips  Thank you very much for the contribution and sharing this explanation. @waelschakaki
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:11] yogkumgit commented on #763
@get-itips  Thank you very much for the contribution and sharing this explanation. @greganth1
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:13] yogkumgit commented on #741
@get-itips  Thank you very much for the contribution and sharing this explanation. @cparker4486
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:15] yogkumgit commented on #695
@get-itips  Thank you very much for the contribution and sharing this explanation. @EvgenyArtemyev
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:16] yogkumgit commented on #671
@get-itips  Thank you very much for the contribution and sharing this explanation. @NickElniff
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:18] yogkumgit commented on #659
@get-itips  Thank you very much for the contribution and sharing this explanation. @jgdolph
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-28 16:30] Petri-X opened #1714 "Step 7 when Exchange hybrid is already inplace"
Hi,
Scratching my head a bit with this. When I do have already working Exchange hybrid done I do have (most likely because of the Exchange Hybrid Wizard) the service principal names applied. There are at least followings already:
 - ..000/ews.contoso.com
 - ..000/autodiscover.contoso.com
 - ..000/contoso.com
Is there some other FQDNs needed as your code is adding "*.contoso.com"?

regards
Petri

-

[2019-02-28 16:50] rishire opened #1715 "broken link at the end of the article."
https://docs.microsoft.com/skypeforbusiness/skype-for-business-hybrid-solutions/plan-your-phone-system-cloud-pbx-solution/enable-the-users-for-enterprise-voice-on-premises#special-considerations-when-enabling-users-for-enterprise-voice-on-premises

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73b8da7c-87fe-fde4-ca1f-c

[2019-02-28 17:03] Petri-X opened #1716 "Step 7, what should be replaced"
Hi,
On step you are asking:

Could you explain where you have "contoso.com" on the script? Would be nice to know also what is the "hostname authority" which should be used?

regards
Petri

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d818da-830e-c813-08af-6192eb403ccc
* Version Independent ID: 575c0a11-f6e1-c571-4ad

[2019-02-28 17:36] jambirk commented on #1711
Hi, thanks for your comment. The technical requirements for the phones and other devices are made available to manufacturers, and their equipment is tested and certified for Teams. These devices are available through http://office.com/teamsdevices which is linked in the page.  The particulars are not published, they are shared under an NDA. Manufacturers wishing to obtain them are directed to http

[2019-02-28 17:48] jambirk commented on #1712
Hi Petri,

The comment has been closed in GitHub, and an issue added to our internal backlog, as @kenwith explained: "I was able to get this into the backlog for the Skype team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better."  I can understand frustration with the delay, but we are tracking this internally and will get to it when we're ab

[2019-02-28 17:50] scanum commented on #1715
@rishire Hi Rick! Thank you very much for your feedback. We are currently working on this broken link and we will have this resolved ASAP.

[2019-02-28 17:52] kenwith commented on #1712
Also, this new Issue that was just opened will get picked up by a new process to work on improving articles based on the valuable feedback of people like you @Petri-X . Your knowledge is what makes the docs better so please keep up the great work. Sorry for the long delay before. It took me some time to get a process worked out but we are up and running with it now and working through these issues

[2019-02-28 17:56] Petri-X commented on #1712
Okay, great to hear :)

And @jambirk the "frustration" might be a bit too strong term :D But thanks to share this.

[2019-02-28 19:28] get-itips commented on #779
Hi @Garthmj you will find it under https://docs.microsoft.com/en-us/skypeforbusiness/optimizing-your-network/expressroute-and-qos-in-skype-for-business-online#part-2-expressroute-skype-for-business-qos hope that helps you

[2019-02-28 19:50] jambirk commented on #1631
This correction is on its way, thanks for bringing it to us.

[2019-02-28 19:50] #1631 closed

[2019-02-28 19:59] jambirk commented on #899
@bubbletrouble and @Atreidae  we've made the updates you pointed out to this page. We'll need to sort out ownership of maintenance for this page.

[2019-02-28 20:02] scanum commented on #1715
PR #1717

[2019-02-28 22:05] #949 closed

[2019-02-28 22:05] #809 closed

[2019-02-28 22:06] #799 closed

[2019-02-28 22:07] #763 closed

[2019-02-28 22:07] #741 closed

[2019-02-28 22:08] #695 closed

[2019-02-28 22:08] #671 closed

[2019-02-28 22:08] #659 closed

[2019-03-01 08:49] marielleneomabs opened #1719 "About Enterprise Content Delivery Network (eCDN)"
Is it mandatory to use eCDN, and to choose a partner ?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: becbf3ca-b88c-b033-a145-9a1af201ced3
* Version Independent ID: 41a6a9b5-d3dd-d8c9-9e97-920ff2fd1a24
* Content: [Quelles sont les Teams Microsoft live événements ?](https://docs.microsoft.com/fr-fr/m

[2019-03-01 09:31] bubbletroubles commented on #899
Excellent - the new page looks great :) Thanks for your help!

[2019-03-01 10:56] yogkumgit commented on #814
@lindspea  Thank you very much for the contribution and following with bog owner. @Mike-Crowley  Blog owner has confirmed that he will update this typo. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-01 15:03] howardzhangmsft opened #1720 "Need a clear statement on SFB server 2019 supported SQL AlwaysOn editions/versions"
Please update this section with info below (obtained from PM/PG):
AlwaysOn Availability Groups and AlwaysOn Failover Cluster Instances

SQL Server 2017 Enterprise Edition
SQL Server 2016 Enterprise Edition
SQL Server 2017 Standard Edition with limitations*
SQL Server 2016 Standard Edition with limitations*
SQL server 2014 Enterprise Edition
SQL server 2012 Enterprise Edition

* SQL 2016 and 2017 S

[2019-03-01 15:37] rhmclean commented on #772
There should be something in the system (e.g. reports server) that can be used to compare against the design. So, what report and how do we do convert the report information to do a comparison?

[2019-03-01 15:41] hyoshioka0128 commented on #1195
@samanthaw Thanks!

[2019-03-01 15:41] #1195 closed

[2019-03-01 16:48] #814 closed

[2019-03-01 17:07] get-itips commented on #405
Hi @nsshommo thank you for your feedback.
Clarifications about Pool FQDN had been added after you wrote this comment https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/920a35b7fcf12ee97d6dd68f89e284ca45e74168#diff-df6a3e33f95194a3833afb87b6c29867

Thank You

[2019-03-01 21:45] samanthaw commented on #1632
@OfficeGlobal

[2019-03-01 21:46] samanthaw commented on #1654
@OfficeGlobal

[2019-03-02 09:01] hyoshioka0128 commented on #1604
@OfficeGSX Thanks.

[2019-03-02 09:01] #1604 closed

[2019-03-02 09:02] hyoshioka0128 commented on #1513
@OfficeGSX Thanks.

[2019-03-02 09:02] #1513 closed

[2019-03-02 10:01] eimann commented on #1541
Try https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-skype-for-business-online-with-office-365-powershell

After logging in, this should list some more functions:

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Function        Get-CsOnlinePSTNGateway

[2019-03-03 06:53] hyoshioka0128 commented on #1295
@samanthaw Thanks.
https://docs.microsoft.com/ja-jp/MicrosoftTeams/guest-access-checklist

[2019-03-03 06:53] #1295 closed

[2019-03-03 07:01] hyoshioka0128 commented on #1414
@samanthaw Thanks.
https://docs.microsoft.com/ja-jp/microsoftteams/teams-analytics-and-reports/teams-usage-report

[2019-03-03 07:01] #1414 closed

[2019-03-03 07:23] hyoshioka0128 commented on #1426
@samanthaw Thanks.
https://docs.microsoft.com/ja-jp/microsoftteams/set-up-guests

[2019-03-03 07:23] #1426 closed

[2019-03-03 07:24] hyoshioka0128 commented on #1427
@samanthaw Thanks.
https://docs.microsoft.com/ja-jp/microsoftteams/meeting-policies-in-teams

[2019-03-03 07:24] #1427 closed

[2019-03-03 07:25] hyoshioka0128 commented on #1471
@samanthaw Thanks.
https://docs.microsoft.com/ja-jp/microsoftteams/manage-teams-in-modern-portal

[2019-03-03 07:25] #1471 closed

[2019-03-03 07:45] hyoshioka0128 opened #1722 "Paragraph containing "Guest" is returning from Japanese to English"
After #1471, All the problematic paragraphs returned from Japanese to English.

https://docs.microsoft.com/ja-jp/microsoftteams/manage-teams-in-modern-portal

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3b51b67a-d89c-723f-3520-87cb2dc93b90
* Version Independent ID: 78d10cbc-d75b-2b02-d49c-2c3fe1579807
* Content: [Microsoft Teams 管理センターでチームを管理する](ht

[2019-03-03 07:53] hyoshioka0128 opened #1723 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Microsoft Teams.

https://docs.microsoft.com/ja-jp/microsoftteams/teams-live-events/plan-for-teams-live-events

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-03-03 07:55] hyoshioka0128 opened #1724 "Showing "& #x 2714" (←✔)"
https://docs.microsoft.com/ja-jp/microsoftteams/teams-live-events/plan-for-teams-live-events

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-60a2cf999f69
* Version Independent ID: 6878c954-e248-94c2-7602-47437ec7a2dd
* Content: [Plan for live events in Microsoft Teams](https://docs.microsoft.com/

[2019-03-03 14:14] hyoshioka0128 opened #1725 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Microsoft Teams.
https://docs.microsoft.com/ja-jp/microsoftteams/configure-desktop-sharing

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9ce30163-6327-899b-281d-d4ef98

[2019-03-04 00:03] alanbmhs commented on #987
Another month and still no word on licensing for groups. What was wrong with Settings by user/license type in the old services/addins section? As @Per-Torben says, it can't possibly be that difficult.

[2019-03-04 03:07] hyoshioka0128 opened #1726 ""セット CsTeamsMeetingPolicy" needs to be replaced with "Set-CsTeamsMeetingPolicy""
https://docs.microsoft.com/ja-jp/microsoftteams/configure-desktop-sharing

[Set-CsTeamsMeetingPolicy](https://docs.microsoft.com/ja-jp/powershell/module/skype/set-csteamsmeetingpolicy)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9ce30163-6327-899b-281d-d4ef982fce5e
* Version Independent ID: e61dcbb8-4877-ef6f-1987-981cdd7fc82f
* Content: [Microsof

[2019-03-04 12:37] get-itips commented on #401
Hi @nsshommo thanks for your feedback.
The LCS or Local Configuration Store it's a read only copy of the CMS or Central Management Store that is hosted in another server or pool.
Skype For Business Deployment Wizard will automatically retrieve this information from AD and CMS.
The goal of this specific document is not to show common errors or how the connection is performed, but to mention the spe

[2019-03-04 12:39] get-itips commented on #400
Hi @nsshommo thanks for your feedback.
Information on what to do if doesn't work as expected has been added after your comment
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/79cb6c9214f13800c7f024782b22624d87b010ec#diff-f83f910d6fdfc6a621193a0b09afc0f9

Thanks!

[2019-03-04 12:51] Larryngolog commented on #1617
Also, we state in paragraph above article states "Users hosted on [..] or Exchange on-premises, must be synchronized to Azure Active Directory for Office 365. They can [..] configure tabs".

[2019-03-04 12:52] yogkumgit commented on #834
@rhmclean  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can s

[2019-03-04 12:55] yogkumgit commented on #779
@get-itips  Thank you very much for the contribution and sharing this explanation. @Garthmj
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-04 13:01] get-itips commented on #398
Hi @nsshommo thanks for your feedback, @yogkumgit can you please redirect him to Support services?

[2019-03-04 13:04] get-itips commented on #396
Hi  @nsshommo thanks for your comments.
Referenced document doesn't exists anymore. Here is another document that specifies which clients are supported for MFA https://docs.microsoft.com/en-us/skypeforbusiness/manage/authentication/two-factor-authentication

hope this information has helped you.

Thanks

[2019-03-04 13:04] Larryngolog opened #1728 "Ability to configure connectors without mailbox"
I have tested my environment and with account without EXO assigned (and no mailbox) I can add connectors without issues. The same goes for other limits from the table, that were already submitted - I can manage tabs and schedule meetings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8456689d-6f04-fa5e-4f51-f413cb0b9d

[2019-03-04 13:05] get-itips commented on #772
Hi @rhmclean thanks for your answer, due to the nature of your inquiry, it would be more suitable for another kind of resource, please @yogkumgit can you help here? thanks

[2019-03-04 13:08] yogkumgit commented on #772
@rhmclean  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can s

[2019-03-04 13:18] yogkumgit commented on #837
@get-itips  and @CarolynRowe  Thank you very much for the contribution and sharing this explanation. @rossual  it will be difficult for team to give you the exact time frame. However your valuable feedback is noted and is the part of the implementation plan. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-04 13:19] OfficeGlobal commented on #1654
@samanthaw tracking bug 3201150

@hyoshioka0128 The link target destination was updated and verified on our side and is working as expected.

[2019-03-04 13:32] get-itips commented on #395
Hi @nsshommo thanks for your feedback, we really appreciate it.
Document specifies you to log in using a user member of CSAdministrator role, and as that role will have the SQL permissions described here https://docs.microsoft.com/en-us/lyncserver/lync-server-2013-deployment-permissions-for-sql-server

Hope this information has helped you

thanks!

[2019-03-04 13:41] get-itips commented on #394
Hi @nsshommo
Tasks description on the Publish Topology page of the Deployment Wizard try to be self-explanatory and as the lists of things that need to be ready before proceeding it's so diverse that would be difficult to explain all on the same "Publish Topology" document, but you can find what needs to be done for every one of this bullet points in docs, for example "A file share has been create

[2019-03-04 13:52] get-itips commented on #393
Hi @nsshommo thanks for your feedback.
This document is part of a group of documents that you must follow in order and when you get into this one you already are in the Deployment Wizard, Certificate Request Page, so it's not neccesary to specify.

Thank you.

[2019-03-04 14:03] get-itips commented on #392
Hi @nsshommo  thanks for your feedback.
Due to the nature of your question it is more suitable for another resource, @yogkumgit can you help here?

[2019-03-04 14:08] OfficeGlobal commented on #1632
@samanthaw Working on a fix (Bug 3201201)

[2019-03-04 14:09] get-itips commented on #391
Hi @nsshommo thanks for your feedback.
Skype for Business for Mac has been updated several times after you opened this issue, if you are still experiencing this issue, @yogkumgit can redirect you to other resources for help.

Thanks

[2019-03-04 14:53] jmarks0981 commented on #1687
The video looks like the same UI I have, but when I type in guest names, it says it can't find that person.  There aren't clear directions.  Do I have to add them as an external contact in exchange first?  Do I add them somewhere else?  Is it a matter of waiting a few hours after allowing external and guest users (Yes, I know the difference) before I can see them?

Better documentation would be ap

[2019-03-04 16:17] ivanja81 commented on #1720
The guidance for SQL AG groups is unclear. SFB 2019 seems only supported for 2016 and 2016. Hence the statement shows  "AlwaysOn Availability Groups and AlwaysOn Failover Cluster Instances are supported only on SQL Server 2014 Enterprise Edition and SQL Server 2012 Enterprise Edition. Skype for Business Server supports AlwaysOn Availability Groups only as active/passive, not active/active." This i

[2019-03-04 18:09] #401 closed

[2019-03-04 18:10] #400 closed

[2019-03-04 18:10] #834 closed

[2019-03-04 18:12] kenwith commented on #398
@nsshommo helped me move a bunch of these issues from the old proprietary TechNet feedback system so he wasn't actually the one with the issue. I just wanted to get them in here in case we could capture any knowledge. The original person that opened this long ago solved their problem so will go ahead and close this one out.

[2019-03-04 18:12] #398 closed

[2019-03-04 18:18] #396 closed

[2019-03-04 18:18] #772 closed

[2019-03-04 18:19] #395 closed

[2019-03-04 18:19] #394 closed

[2019-03-04 18:19] #393 closed

[2019-03-04 18:19] #392 closed

[2019-03-04 18:19] #391 closed

[2019-03-04 18:32] CarolynRowe commented on #838
Thank you for the suggestion.  We will consider this for a future release.

[2019-03-04 18:32] #838 closed

[2019-03-04 20:00] seannybgoode opened #1730 "GitHub Tab - Cannot add organization repository to teams tab"
When adding a Github Tab to a teams page, users can only see their private github repos.

Steps:
1. Create a github user that has both private and organization repositories
2. Go to Microsoft Teams and add a tab for Github
3. Login with your github user

Result: User only has access to personal repositories to select for the team tab
Expected Result: User has access to both personal and organizati

[2019-03-04 22:45] TheSharePointProfessional commented on #1650
Since Apps settings have been greyed out from the old Teams > Services & add-ins page. and not replicated anywhere in the new Teams admin center, it seems as if you have taken away the ability to effectively manage these settings #wtf

[2019-03-05 00:02] murray79 commented on #1650
I also have this problem. Was a resolution found?

[2019-03-05 06:39] mpcrossley commented on #1650
Same here - I can't load my app studio app because of this now

[2019-03-05 09:02] dcnoren commented on #1650
For whatever reason, the change seems to be that actually you have to disable sideloading of apps to see the list of the third-party apps. Weird. But, turn off sideloading, and now you can manage third-party apps.

![image](https://user-images.githubusercontent.com/3228595/53793219-59f6b580-3f68-11e9-982d-0e6d96e691fc.png)

Disable it and:

![image](https://user-images.githubusercontent.com/322859

[2019-03-05 12:42] yogkumgit commented on #838
@kmilessmg Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can s

[2019-03-05 13:46] get-itips commented on #389
Hi @nsshommo you will find information about steps required in this section https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-enterprise-voice/configure-trunks
Hope this information has helped you

[2019-03-05 13:49] get-itips commented on #390
Hi thanks for your feedback!
The plugin is mentioned early in the document as Skype for Business Web App browser plug-in
Hope this information has helped you!

[2019-03-05 13:51] get-itips commented on #399
Hi thanks for your feedback.
As this is a procedure document the goal of the document isn't to specify how many repeats will be made, I think maybe the question is more suitable for support services. @yogkumgit

[2019-03-05 13:53] get-itips commented on #386
Hi! Could you please describe what you mean with checking your pin?
Thank You

[2019-03-05 15:04] OfficeGlobal commented on #774
@get-itips , @samanthaw The article has been HumanTranslated and published live

[2019-03-05 17:23] rito2k opened #1731 "Elaborate on what needs exactly to be checked for verifying replication of CMS"
For completeness and better understanding of the last steps, include what needs to be checked after running both Cmdlets, since just executing them does not necessarily mean everything is correct:
- Get-CsManagementStoreReplicationStatus: Check if UpToDate value is showing TRUE for all Replicas.
- Get-CsHostingProvider -LocalStore: doublecheck if the information shown matches the changes committed

[2019-03-05 17:48] Hitchcock3 opened #1732 "Do Archived Teams count against the limit on the total number of Teams in a tenant?"
Would be good to specify if Archived teams do or do not count against the 500,000 limit of the number of teams in a tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microso

[2019-03-05 18:57] TaquiM opened #1733 "Oh no..we can't connect to the Internet"
Mon Dec 10 2018 13:08:26 GMT+0530 (India Standard Time) <22180> -- event -- peakWorkingSetSize: 55500, privateBytes: 43544, sharedBytes: 32324, workingSetSize: 55288, status: success, scenario: f922837a-74a8-41f7-a922-e33d3c09d004, scenarioName: desktop_renderer_preload, name: desktop_renderer_preload, step: stop, sequence: 1, delta: 10, scenarioDelta: 10, elapsed: 2820, Scenario.Name: desktop_ren

[2019-03-05 20:32] jambirk commented on #868
@jansenbro  @shars I've had another look, and that doesn't seem to be completely true according to https://docs.microsoft.com/en-us/powershell/module/msonline/?view=azureadps-1.0  the MSOL comdlets should still work fine IF you have installed the 1.0 module. If you have only installed the 2.0 module, then I'm sure you'd need to use the corresponding 2.0 commands instead.

[2019-03-05 20:38] LanaChin commented on #1081
This article will be replaced by new documentation.

[2019-03-05 20:38] #1081 closed

[2019-03-05 21:57] #779 closed

[2019-03-05 21:57] #771 closed

[2019-03-05 23:11] onimrk commented on #1355
Does this work with any other STS or only ADFS and AAD?

[2019-03-05 23:30] eerstech commented on #1220
..check that ... Authentication requirements

[2019-03-05 23:31] rossual commented on #837
Can we leave this open until it is delivered?

[2019-03-06 11:38] yogkumgit commented on #774
@get-itips  Thank you very much for the contribution and @samanthaw thanks for the translation. @tocri Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:38] yogkumgit commented on #1109
@NMuravlyannikov  Thank you very much for the contribution and sharing this explanation. @jonathanrsantos1 Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:43] yogkumgit commented on #1216
@gtimread Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:46] yogkumgit commented on #1221
@khorne3  Thank you very much for the contribution and updating the documentation with PR. @danmyhre  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:47] yogkumgit commented on #1285
@get-itips  Thank you very much for the contribution and sharing this explanation. @BenGVSU
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:49] yogkumgit commented on #1302
@AlexSchwerzmann  Thank you very much for the contribution and sharing this explanation. @chenxizhang  Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:53] yogkumgit commented on #1313
@yiuyu2357 Request you to log the issues with complete information and help us to refer it in right context.  Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:54] yogkumgit commented on #1340
@GageAmes  Thank you very much for the contribution and sharing this explanation. @JamesMemmott
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 15:57] danmyhre commented on #1221
Not totally clear...so guests can't use dial out?  Those are the ones you would want this capability to easily join audio via phone.

[2019-03-06 15:58] yogkumgit commented on #1382
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @flinchbot Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 16:00] yogkumgit commented on #1455
@jamesr Thank you very much for the contribution and sharing this explanation. @jeffbrushie
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 16:02] yogkumgit commented on #1462
@NMuravlyannikov  Thank you very much for the contribution and sharing this explanation. @vigitalmoe Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 16:03] yogkumgit commented on #1476
@rito2k  Thank you very much for the contribution and sharing this explanation. @ThomasBIDAULT
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-06 17:10] Gustavo935 commented on #1701
Same doubt here, I'm trying to avoid the installation process to the end users and enable Bot App by default to all the Organization.

[2019-03-06 17:15] get-itips commented on #385
Hi, Link for the planning tool is one level up in the document called "Planning tool" https://docs.microsoft.com/en-us/skypeforbusiness/management-tools/planning-tool/planning-tool

[2019-03-06 17:20] get-itips commented on #384
Hi, this article scope (and also section) is about integration of SFB On-Premises to Exchange On-Premises so it won't include SFB Office 365 Subscription-based information.
Thanks

[2019-03-06 17:35] kenwith commented on #837
@yogkumgit - we can leave this open until the content from @CarolynRowe is public and can then add a link here and close.

[2019-03-06 17:38] get-itips commented on #382
Yes, it's available. https://docs.microsoft.com/en-us/windows/desktop/winsat/windows-system-assessment-tool-portal

[2019-03-06 17:41] get-itips commented on #381
Hi,
This section and article only applies to On-Premises versions of Skype for Business and Exchange Servers, as the "Summary" clearly indicates. Thank you.

[2019-03-06 17:43] get-itips commented on #378
Hi, More details on RBAC roles had been added, see https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/f190053e9d67f2cc236697de25fabc64c6a1bbef#diff-e2aab5899d9f6b92e30ef6edbcd5c7b1 thank you!

[2019-03-06 17:45] get-itips commented on #377
Hi,
As this document is under "Monitoring Reports" section, you have to look for instructions there to see how to run and view this report.
Thank you

[2019-03-06 17:45] jambirk commented on #381
@AndreaBarr  Let's consider this issue closed.

[2019-03-06 17:45] #381 closed

[2019-03-06 18:24] get-itips commented on #376
Created a PR to include a link to the information.

[2019-03-06 18:29] Chukaka opened #1736 "Typo"
Found a small typo in the "Step 2: Get and assign licenses" section:

"After you buy the Audio Conferencing licenses, you will ned to assign them..." =&gt; "you will need"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86cb3a85-1dba-b63d-c9a4-f5229c1e462a
* Version Independent ID: c0fb6068-b27b-ff9a-e040-a63891caeb1c
*

[2019-03-06 18:35] hoodahoop commented on #1688
Hi there same issue. Can't see Skype after using provisioning 1. Thoughts on how to get it back/reinstall? Thanks!

[2019-03-06 18:59] #774 closed

[2019-03-06 18:59] #884 closed

[2019-03-06 18:59] #1109 closed

[2019-03-06 19:00] #1216 closed

[2019-03-06 19:00] #1221 closed

[2019-03-06 19:00] #1285 closed

[2019-03-06 19:00] #1302 closed

[2019-03-06 19:01] #1313 closed

[2019-03-06 19:01] #1340 closed

[2019-03-06 19:01] #1382 closed

[2019-03-06 19:01] #1455 closed

[2019-03-06 19:01] #1462 closed

[2019-03-06 19:02] #1476 closed

[2019-03-06 19:23] get-itips commented on #375
Hi thanks for your feedback!
The plugin is mentioned early in the document as Skype for Business Web App browser plug-in
Hope this information has helped you!

[2019-03-06 19:24] get-itips commented on #374
Details of the roles of RBAC had been already added to the document. Thank you!

[2019-03-06 19:27] get-itips commented on #373
Hi.
That information is covered in the same section, at the "Associate a monitoring store"document.
Thank you

[2019-03-06 19:29] get-itips commented on #372
Hi
This article is under "Skype For Business 2015" section and also the title states "Skype for Business Server 2015 Resource Kit Tools"
Thank you

[2019-03-06 19:32] get-itips commented on #369
SfB doesn't include such report, the closest report could be this one. https://docs.microsoft.com/en-us/skypeforbusiness/manage/health-and-monitoring/user-activity-report
Hope this information helps you.

Thanks!

[2019-03-06 19:33] get-itips commented on #368
Hi As this isn't an issue with the article
You can find information about Skype & AD here https://docs.microsoft.com/en-us/skypeforbusiness/plan/system-requirements#AD

Thanks!

[2019-03-06 19:34] get-itips commented on #367
Desktop Sharing is referenced in the article as Application Sharing.
Hope this information helps you.
Thanks

[2019-03-06 19:40] get-itips commented on #366
Hi!
That is not possible to do with SfB Control Panel. But you can search for the list of enabled users with the find filter.
Thank you

[2019-03-06 19:43] get-itips commented on #364
Hi
You can find that information here https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-enterprise-voice/create-an-announcement Thanks

[2019-03-06 19:59] get-itips commented on #363
You can find information on how many users are supported per Persistant Chat Servers pools here https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/persistent-chat-server/persistent-chat-server
thank you

[2019-03-06 20:01] corymcm opened #1737 "App Studio Manifest Editor and Card editor blank"
After installing the App studio I was able to view the app studio manifest editor once now after installing my own hello world sample the manifest and card editor are blank. The hello world tab is also blank and the echo bot doesn't echo back to me. I've tried uninstalling the apps and all of teams as well as using the web application.

[2019-03-06 20:07] get-itips commented on #362
Hi, thanks for your feedback.
Written information is prefered in documents so it favours the indexation of the document.
Thank You.

[2019-03-06 20:11] get-itips commented on #361
Hi! Thanks for your feedback
You can see here support for the versions you mentioned

https://docs.microsoft.com/en-us/sql/sql-server/failover-clusters/windows/windows-server-failover-clustering-wsfc-with-sql-server?view=sql-server-2014

https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2012/hh270278(v=sql.110)

Thanks

[2019-03-06 20:15] get-itips commented on #360
Hi! The document states is referring to a user: "To join a dial-in conference as an authenticated user, a Skype for Business Server user with Active Directory Domain Services (AD DS) credentials " Thank you

[2019-03-06 20:15] #1711 closed

[2019-03-06 20:16] get-itips commented on #359
Hi! thanks for your feedback
There is a whole section dedicated to security here https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/security/security
Thank you

[2019-03-06 20:21] get-itips commented on #358
Hi, thanks for your feedback.
You can find that information in attribute ETLFileFolder that is showed in Get-CsCLSConfiguration, cmdlet described in the referenced article.
Thank you

[2019-03-06 20:25] get-itips commented on #357
Hi, thanks for your feedback.
Written information is prefered in documents so it favours the indexation of the document.
But you can find working examples in Example: Gathering Requirements.
Thank You.

[2019-03-06 20:27] get-itips commented on #354
Hi! Thanks for your feedback
Document has a note saying that if you are using SfB Online please refer to Office 365 URLs and IP address  ranges. You can find the link in the document.
Thank you

[2019-03-06 20:31] get-itips commented on #349
Hi, thanks for your feedback.
You can find information about NAT in Edge of SfB here https://docs.microsoft.com/en-us/lyncserver/lync-server-2013-determine-external-a-v-firewall-and-port-requirements#nat-requirements-for-external-user-access
Thank you

[2019-03-06 20:40] get-itips commented on #345
Hi
The article is created as a part of a guide that starts at Deploy advanced Enterprise Voice Features, if you follow the steps, you will came up configuring the network settings, you can find it at the left of the page in the navigation links.

Thank you

[2019-03-06 20:43] get-itips commented on #344
Hi! Thanks for your feedback.
You can find information on DFS and permissions here https://docs.microsoft.com/en-us/skypeforbusiness/deploy/install/create-a-file-share

[2019-03-06 21:30] jambirk commented on #354
@AndreaBarr @yogkumgit  let's consider this closed.

[2019-03-06 21:30] #354 closed

[2019-03-06 21:33] jambirk commented on #362
@AndreaBarr  @yogkumgit  The examples requested are there, they're presented as tables. Let's consider this closed.

[2019-03-06 21:33] #362 closed

[2019-03-06 21:37] jambirk commented on #372
@AndreaBarr  @yogkumgit It looks like whatever ambiguity was there was fixed. Let's consider this closed.

[2019-03-06 21:37] #372 closed

[2019-03-06 21:38] jambirk commented on #369
@AndreaBarr  @yogkumgit Let's consider this closed.

[2019-03-06 21:38] #369 closed

[2019-03-06 21:39] jambirk commented on #368
@AndreaBarr  @yogkumgit Let's consider this closed.

[2019-03-06 21:39] #368 closed

[2019-03-06 21:39] jambirk commented on #367
@AndreaBarr  @yogkumgit Let's consider this closed.

[2019-03-06 21:39] #367 closed

[2019-03-06 22:13] kenwith commented on #1456
@lindspea - Brian is a expert engineer in this area so he can sign off for us. Go ahead and make update and submit PR and let me know and I will merge it. Thanks all! CC @yogkumgit

[2019-03-07 00:39] chenxizhang commented on #1302
OK, thank You

[2019-03-07 07:46] dstrome3 opened #1742 "Test issue. Ignore."
Test

[2019-03-07 07:46] dstrome3 commented on #1742
@officedocspr close

[2019-03-07 07:47] dstrome3 commented on #1742
@officedocsbot close

[2019-03-07 07:47] #1742 closed

[2019-03-07 09:48] hyoshioka0128 opened #1743 "Paragraph containing "Guest" is returning from Japanese to English"
After #1426, paragraph containing "Guest" is returning from Japanese to English

https://docs.microsoft.com/ja-jp/microsoftteams/set-up-guests

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 042d7ce6-ee22-690f-8188-ff8a4a585847
* Version Independent ID: 3e5bc99c-e08e-44e0-cda3-687ed3633175
* Content: [Microsoft Teams へのゲスト アクセスをオンまたはオフにする](https://doc

[2019-03-07 11:54] yogkumgit commented on #386
As it is an internal transfer of issues, we can close it.

[2019-03-07 12:08] yogkumgit commented on #383
As this is an internal transfer so can be closed

[2019-03-07 12:19] yogkumgit commented on #365
As this is an internal transfer can be closed

[2019-03-07 12:25] yogkumgit commented on #351
As this is an internal transfer so can be closed

[2019-03-07 12:27] yogkumgit commented on #347
As it an internal trasfer from one system to other so can be closed

[2019-03-07 12:28] yogkumgit commented on #346
As this is inter transfer of issues so can be closed

[2019-03-07 13:42] d1bjo0 opened #1744 "Update link to youtube vide for "To learn more about the details on the media path that is chosen...""
Consider updating the YouTube video reviewing media flows to the more recent Ignite 2018 session at https://www.youtube.com/watch?v=1tmHMIlAQdo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43c84773-337e-9df7-7fbd-fc9d94280711
* Version Independent ID: 223a78a0-67fd-8b96-be3f-153bb400101b
* Content: [Microsoft Teams O

[2019-03-07 15:29] get-itips commented on #1057
Hi @kathyfurtado thanks for your feedback.
As you suggested the idea to UserVoice @yogkumgit  will proceed to close this issue.
We really appreciate your comments.
Thanks

[2019-03-07 15:33] #383 closed

[2019-03-07 16:43] #386 closed

[2019-03-07 16:43] #365 closed

[2019-03-07 16:43] #351 closed

[2019-03-07 16:43] #347 closed

[2019-03-07 16:44] #346 closed

[2019-03-07 16:51] #405 closed

[2019-03-07 16:51] #399 closed

[2019-03-07 16:51] #390 closed

[2019-03-07 16:52] #389 closed

[2019-03-07 16:52] #385 closed

[2019-03-07 16:52] #384 closed

[2019-03-07 16:52] #382 closed

[2019-03-07 16:52] #378 closed

[2019-03-07 16:53] #377 closed

[2019-03-07 16:53] #376 closed

[2019-03-07 16:53] #375 closed

[2019-03-07 16:53] #374 closed

[2019-03-07 16:53] #373 closed

[2019-03-07 16:54] #366 closed

[2019-03-07 16:54] #364 closed

[2019-03-07 16:55] #363 closed

[2019-03-07 16:55] #361 closed

[2019-03-07 16:55] #360 closed

[2019-03-07 16:55] #359 closed

[2019-03-07 16:55] #358 closed

[2019-03-07 16:56] #357 closed

[2019-03-07 16:56] #349 closed

[2019-03-07 16:56] #345 closed

[2019-03-07 16:56] #344 closed

[2019-03-07 17:35] jambirk commented on #375
A more detailed answer: the browser plugin self-installs when an external user without a regular client tries to access a meeting via the web. You can't preinstall the plugin, the only way to get it is to try to join a meeting. Most questions of this nature stem from wanting to have the client preinstalled, which isn't a supported scenario.

[2019-03-07 17:58] get-itips commented on #375
Thanks for expanding my answer @jambirk

[2019-03-07 20:00] kenwith commented on #1019
I think it would be best to open a support ticket on this one. It sounds like @Travis-Snoozy on the devices team might have noticed it is already resolved. Support engineers would be able to walk through if it is resolved and if not why it is not resolved on a particular system. Going to go ahead and close this out but please re-open if there is something in the docs that we can fix. Here is the l

[2019-03-07 20:00] #1019 closed

[2019-03-07 20:14] kenwith opened #1749 "TEST BOT ISSUE"
This is only a test.

[2019-03-07 20:15] kenwith commented on #1749
@officedocsbot close this issue.

[2019-03-07 20:15] #1749 closed

[2019-03-07 21:55] get-itips commented on #1082
Hi @eunegut thanks for your feedback.
As @jambirk says, Pending means that Microsoft is still working to certify that feature with SBC vendors.

Hope this information has helped you.
Thank you!

[2019-03-07 22:41] get-itips commented on #1174
Hi @realmnm **thanks for your feedback**.
You can find certified devices in the same section as this document  that is called "Supported Devices", for example https://docs.microsoft.com/en-us/microsoftteams/phones-for-teams and as the document says, _A device is automatically enrolled the first time a user signs in to Teams on the device_.

@aaronhauber this option is not currently present in Team

[2019-03-08 06:34] OfficeGlobal commented on #1632
@samanthaw , @hyoshioka0128 Article is HumanTranslated and published live. The word "guest" is updated as requested

[2019-03-08 06:38] lindspea commented on #1456
Ok done.
[image: Picture]

On Thu, Mar 7, 2019 at 12:13 AM Ken Withee <notifications@github.com> wrote:

[2019-03-08 08:31] hyoshioka0128 commented on #1632
@OfficeGlobal Thanks.

[2019-03-08 08:31] #1632 closed

[2019-03-08 11:35] get-itips commented on #1068
Hi @lyncjp hope you are doing great.
**Thanks for your comments**.
This specific article doesn't mention Accepted Domains, is this maybe the article you are referring to? https://docs.microsoft.com/en-us/microsoftteams/manage-external-access

You can find more information about email integration here https://support.office.com/en-us/article/send-an-email-to-a-channel-in-teams-d91db004-d9d7-4a47-82

[2019-03-08 11:37] get-itips commented on #1092
Hi @Derek-SST thanks for your feedback, we really appreciate it.
It seems that your question is more suitable to Support services, @yogkumgit will gently direct you to that resource.
Thank you

[2019-03-08 11:41] get-itips commented on #1201
Hi @PeteWestlake  **thanks for your feedback, we really appreciate it**.

As this is to inform of issues specific to documentation, it seems that your question is more suitable to User Voice, @yogkumgit will gently direct you to that resource, but if you already created a user voice sugggestion there, I invite you to post the link to it here, so everyone can see it or up vote it.

**Thank you**

[2019-03-08 12:00] yogkumgit commented on #1082
@get-itips  Thank you very much for the contribution and sharing this explanation. @eunegut
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-08 12:07] yogkumgit commented on #1068
@get-itips  Thank you very much for the contribution and sharing this explanation. @lyncjp
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-08 12:22] yogkumgit commented on #1174
@get-itips  Thank you very much for the contribution and sharing this explanation. @realmnm
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-08 12:46] yogkumgit commented on #1092
@Derek-SST  Thank you very much for posting this issue. Considering the nature of the issue  and as advised by @get-itips please open one more service ticket in your tenant and follow with them for the resolution. We understand your disappointment but support is the right platform for this issue. Also appreciate your concluding remark that this issue can be closed.

However,   we will be very happ

[2019-03-08 13:53] get-itips commented on #1073
Hi @AlexHill90 **Thanks for your feedback, we really appreciate it**.

I tested in lab and the "Microsoft Teams Trial" toggle appeared once the first user signed up for it.
So it's true that from that point, you will be able to assign the trial to other users through Admin Portal, I'll create a Pull Request to clarify this.

About PowerShell, you would have to use Office 365 PowerShell cmdlet Set-

[2019-03-08 14:16] papan0x commented on #1439
Something that would prevent the desktop icon would be appreciated.  Also a way to add this to my startlayout.xml.  It seems the application installs as the profile is being built so it gets skipped.

[2019-03-08 14:36] Strick1969 opened #1753 "Confusing in Dubai"
[Enter feedback here]
https://docs.microsoft.com/en-us/microsoftteams/country-and-region-availability-for-audio-conferencing-and-calling-plans/availability-in-india

We say that the TF numbers are available, but also that they are NOT available????

Toll and toll-free numbers for services

Are toll numbers available? | No
-- | --
Are toll-free numbers available? | Yes

---
#### Document Details

⚠

[2019-03-08 15:32] get-itips commented on #1091
Hi @doulouz **Thanks for your feedback, we really appreciate it.**

I tested in a lab the scenario you have described and when a user enabled for teams without Exchange License (onprem or online) tries to use the _Schedule a Meeting_ button, a message saying that the mailbox doesn't exist will show up.

 Hope this information has helped you!

[2019-03-08 15:54] get-itips commented on #1095
Hi @jumpinf00l **Thanks for your feedback**, the document has been improved after your comment, clarifying that the user won't be able to **host** a meeting.

Thank you!

[2019-03-08 16:02] get-itips commented on #1099
Hi @adamoh1 how are you?

There is no article referenced in your issue, besides that, if you refer to the location info you can set using Skype For Business Client, it has no difference with the On-Prem version. See https://support.office.com/en-us/article/customize-your-location-info-in-skype-for-business-a8559d54-e628-43f2-a0f5-2e92bfb9735e

Hope this information helps you.

[2019-03-08 16:26] jumpinf00l commented on #1095
Awesome, thanks guys!

[2019-03-08 16:26] #1095 closed

[2019-03-08 17:32] kenwith commented on #1456
Merged, @BrianMcNeese  and @rimroot let @lindspea know if any other updates. Thanks for the feedback and making the docs better!  @yogkumgit - I am going to go ahead and close this one out. Let me know if I should re-open since you are coordinator on this repo.

[2019-03-08 17:32] #1456 closed

[2019-03-08 18:25] CarolynRowe commented on #1753
Hello,

Thanks for your feedback.  Can you please clarify:  Is this comment about availability in India or the United Arab Emirates (UAE)?

[2019-03-08 18:28] Strick1969 commented on #1753
Apologies, mutli-tasking 😊

UAE

We say no Toll numbers are available, but that toll-free are. Its very confusing to the customer

Very Respectfully,

Duane S Friedlander
Premier Field Engineer
Office 365 | SKype | Teams
Email: duane.friedlander@microsoft.com<mailto:duane.friedlander@microsoft.com>
Office: 954-308-4349

[Logo_test][SummitAward_2018-OutlookSign]

                                Nee

[2019-03-08 18:42] CarolynRowe commented on #1753
Thanks for the clarification.  It sounds like there is confusion about the definition of toll and toll-free.  This is standard terminology, but we will consider adding a definition.

[2019-03-08 18:42] #1753 closed

[2019-03-08 19:06] get-itips commented on #1107
Hi @PhoonHuat How are you? **Thanks for your feedback**.
Currently, you need to join as a member to a public group to participate in it.
Hope this information helps you.

[2019-03-08 19:11] get-itips commented on #1143
Hi @ChrisBell1 we appreciate your comments.
Have you seen the article that @jambirk sent to you? does it answer your question?
Thank You

[2019-03-08 19:13] get-itips commented on #1146
Hi @ang216 as @khorne3 says, do you still face this issue? if yes, I would suggest to contact Support services.
Thank you!

[2019-03-08 19:13] jambirk commented on #1143
There were some delays with release of call queues and auto attendants, but the features should go live later this month.

[2019-03-08 19:27] erlendwtf commented on #1147
I'm having the same issue

[2019-03-08 19:34] get-itips commented on #1147
Hi @thedrum808 How are you?

I tested the scenario that you describe and did not experience the same, as this doesn't seem to be an issue with documentation, @yogkumgit will redirect you to Microsoft Support, they could help you better with the situation you are facing.

**Thank you**

[2019-03-08 20:05] get-itips commented on #1148
Hi @alexalpb How are  you? Hope you are doing just great.

Client initiated deregistration is any action initiated by the user like for example the actions you described. So as you might know, the server can then indicate a caller that the callee is currently unavailable and avoid sending unnecessary packets.
Essentially this action are based on SIP Protocol, the protocol that uses Skype For Busin

[2019-03-08 20:22] get-itips commented on #1149
Hi @dhoegl
**Thanks for your feedback! We really appreciate it!**
I tested the scenario you described and the app showed up with no delay to users, so in this case we do not see the need to update the documentation to reflect some delay.
**Thank You**

[2019-03-08 20:33] get-itips commented on #1150
Hi @PaulKlerkx and @AdamFlowers  How are you? Thanks for your feedback, we appreciate it a lot.
From the issue description, I see that your inquiries are better for Microsoft Support, @yogkumgit will kindly redirect you to it.
**Thank You!**

[2019-03-08 20:40] get-itips commented on #1172
Hi @Root-wuxl **Thanks for your feedback.**

Direct Call Pickup is the action by, dialing the extension of the user that is receiving the call, you pick up the call. Is that what you are talking about ?
Group Call Pickup is different in a way that you have to dial a special virtual extension that have no user or phone assigned to them, that is the only difference, you could also pick up a call of

[2019-03-08 20:46] get-itips commented on #1173
Hi @WithHolm **thanks for your feedback!**

Currently, this functionality is inside Teams client, I suggest you add this idea [here](https://microsoftteams.uservoice.com/forums/555103-public)

Thank you!

[2019-03-08 21:43] TokyoScarab commented on #800
@CarolynRowe  I would love to get your opinion on what would be the best way to go about updating this page and to what degree.  Thanks!

[2019-03-08 21:55] CarolynRowe commented on #800
Please follow up with @tonysmit .  He's the expert on the Teams and SfB Admin centers.

[2019-03-09 09:57] TokyoScarab commented on #800
@tonysmit Yes, I would love your thoughts on this.

[2019-03-09 14:18] rimroot commented on #1456
Hi all,
Thanks for the update. Actually the same change applies for all services - Dialin, Lyncdiscoverinternal, Lyncdiscover and Scheduler. All of them are running on the same servers under the same load balancer.

[2019-03-09 23:46] hyoshioka0128 opened #1754 "Paragraph containing "Guest" is returning from Japanese to English"
After #1298, paragraph containing "Guest" is returning from Japanese to English

https://docs.microsoft.com/ja-jp/microsoftteams/view-guests

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2eeeba05-6633-476f-8f33-4c36af70131f
* Version Independent ID: cb8cebc1-c3cc-66ef-b19d-6441f7ad3c91
* Content: [チームのゲスト ユーザーを表示する](https://docs.microsoft.com/ja-jp/

[2019-03-09 23:50] hyoshioka0128 opened #1755 "Showing "& #x 2714" (←✔)"
https://docs.microsoft.com/ja-jp/skypeforbusiness/plan-your-deployment/clients-and-devices/mobile-feature-comparison

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 257dc4a1-8091-23db-64c4-f46b0519e14e
* Version Independent ID: c5094b34-c69d-9e8d-40cb-9197b924e632
* Content: [Skype for Business のモバイル クライアント機能の比較](https://docs.microsoft.com/ja-jp/skype

[2019-03-09 23:52] hyoshioka0128 opened #1756 "Showing "& #x 2714" (←✔)"
https://docs.microsoft.com/ja-jp/skypeforbusiness/plan-your-deployment/clients-and-devices/meetings-clients

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7ce7a531-5b1f-f404-50a3-58eb285a0a1a
* Version Independent ID: 61d27af3-cfd6-ed7f-102c-072721db0209
* Content: [会議クライアント用の計画 (Web アプリおよび会議アプリ)](https://docs.microsoft.com/ja-jp/skypeforbusiness/pla

[2019-03-10 14:53] hyoshioka0128 opened #1757 "Showing "指定可能な****設定" (Markdown notation)"
https://docs.microsoft.com/ja-jp/skypeforbusiness/optimizing-your-network/security-guide-for-skype-for-business-online

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 283fb363-d163-1d92-ef82-41d35e8206d3
* Version Independent ID: 0fc4982a-91de-b60f-9170-c4cb4579842b
* Content: [Skype for Business Online セキュリティ ガイド](https://docs.microsoft.com/ja-jp/sky

[2019-03-10 14:57] hyoshioka0128 opened #1758 ""テナント リモート パワーシェル" needs to be replaced with "Tenant Remote PowerShell""
https://docs.microsoft.com/ja-jp/skypeforbusiness/optimizing-your-network/security-guide-for-skype-for-business-online

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 283fb363-d163-1d92-ef82-41d35e8206d3
* Version Independent ID: 0fc4982a-91de-b60f-9170-c4cb4579842b
* Content: [Skype for Business Online セキュリティ ガイド](https://docs.microsoft.com/ja-jp/sky

[2019-03-10 15:11] hyoshioka0128 opened #1759 ""*ブロードキャストです officeapps.live.com。" needs to be replaced with "*broadcast.officeapps.live.com""
https://docs.microsoft.com/ja-jp/skypeforbusiness/plan-your-deployment/clients-and-devices/minimum-network-requirements

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2f2b4ce6-d23b-2320-3064-f4537f2736b8
* Version Independent ID: e504bb96-92c3-fde7-3535-1409db82d477
* Content: [Skype 会議アプリの最小ネットワーク要件](https://docs.microsoft.com/ja-jp/skypeforbusiness

[2019-03-10 17:38] lindspea commented on #1456
Ok thank you.  I will amend the others as well.

[image: Picture]

On Sat, Mar 9, 2019 at 4:18 PM rimroot <notifications@github.com> wrote:

[2019-03-10 19:35] dariomws306 commented on #1300
Hi @davidshq , thank you for your comment.

Phone System add-on is not available for Office 365 Business. As you can see at the end of the article, to get this add-on you need to switch to the E1 or E3 plan.

More information:
https://docs.microsoft.com/office365/admin/subscriptions-and-billing/buy-or-edit-an-add-on#available-add-ons

[2019-03-10 19:42] dariomws306 commented on #1293
Hi @RomanMSFT , thank you for your feedback.

There is a line in the article for this:
"The difference being the domain FQDN of the SMTP message is “@email.teams.microsoft.com” for Commerical/Business tenants and "@GCC-email.teams.com" for Government tenants and could be caught by spam filtering."

Do you think it needs more detail?

Thanks!

[2019-03-10 20:46] dariomws306 commented on #1284
Hi @dawander and @zx3-at , thank you four your comment.

It's true, as you can see in a note in next article it's still not supported:
https://docs.microsoft.com/en-us/microsoftteams/let-your-teams-users-communicate-with-other-people

Please consider votting on user voice about this:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/20566714-federation
https://microsoftteams.us

[2019-03-10 21:41] dariomws306 commented on #1277
Hi @SteffanH , thank you for your comment.

Did you try with Grant-CsTeamsUpgradePolicy?

Thanks!

[2019-03-11 03:27] jantoney commented on #1696
This is a little confusing to get to.
Click the team name from the list on the left > Select the General channel
Up the top of the screen, under search, click the team name then Settings tab.
Guest permissions are there

[2019-03-11 05:56] nikitache opened #1760 "Issues with Guest Access via iPhone"
Hi! We have set up guest access for some of the users. Android users can access the Team normally but iPhone users are not able to access it. Guests have access to the team and team's planner. They are able to access Teams from iPhone, but when then need to open the planner (added as a tab to the channel), the Planner app would open neither in browser nor in the app. Have you encountered this issu

[2019-03-11 08:41] alexlushsevernunival opened #1761 "End of life date has been extended to 1st April 2020"
End of life date has been extended to 1st April 2020 as communicated in Message Centre post MC175441. All references to 1st April 2019 need updating to 1st April 2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411be1af-0377-1d2c-0d07-04edb445a42a
* Version Independent ID: 5ad12387-b987-6cda-8c56-052c79274f2c
* Con

[2019-03-11 09:48] yogkumgit commented on #1057
@get-itips  Thank you very much for the contribution and sharing this explanation. @kathyfurtado
Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:02] yogkumgit commented on #1201
@PeteWestlake  Thank you very much for your kind feedback. as you are already aware of Uservoice process, you are following it up, we are sure concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-03-11 10:07] yogkumgit commented on #1091
@get-itips  Thank you very much for the contribution and sharing this explanation. @doulouz
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:10] yogkumgit commented on #1099
@get-itips  Thank you very much for the contribution and sharing this explanation. @adamoh1
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:12] yogkumgit commented on #1107
@get-itips  Thank you very much for the contribution and sharing this explanation. @PhoonHuat
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:15] yogkumgit commented on #1143
@get-itips  and @jambirk  Thank you very much for the contribution and sharing this explanation. @ChrisBell1 Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:17] yogkumgit commented on #1146
@get-itips  Thank you very much for the contribution and guiding the him through. @ang216
Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:18] yogkumgit commented on #1147
@thedrum808 Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can

[2019-03-11 10:20] yogkumgit commented on #1148
@get-itips  Thank you very much for the contribution and sharing this explanation. @alexalpb
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:22] yogkumgit commented on #1149
@get-itips  Thank you very much for the contribution and sharing this explanation. @dhoegl
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:24] yogkumgit commented on #1150
@PaulKlerkx Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can

[2019-03-11 10:25] yogkumgit commented on #1172
@get-itips  Thank you very much for the contribution and sharing this explanation. @Root-wuxl
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 10:30] yogkumgit commented on #1173
@WithHolm  Thank you very much for your kind feedback, as advised by @get-itips please visit the User voice link. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-03-11 11:14] yogkumgit commented on #1284
@dawander  Thank you very much for your kind feedback. As @dariomws306 advised please visit the given User voice links. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback

[2019-03-11 11:17] yogkumgit commented on #1293
@dariomws306  Thank you very much for the contribution and sharing this explanation. @RomanMSFT
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-03-11 11:18] yogkumgit commented on #1300
@dariomws306  Thank you very much for the contribution and sharing this explanation. @davidshq
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 11:22] rossual opened #1762 "Teams only mode"
The teams only mode scenarios don;t seem accurate in the upgrade modes table. comments in {}
They are:

Some users need to stay on Skype for Business {Teams only does not satisfy this}

You’re upgrading your Skype for Business Online users to Teams while keeping Skype for Business on-premises users on Skype for Business Server {Teams only does not satisfy this}

You might have already deployed use

[2019-03-11 11:25] dhoegl commented on #1149
👍🏼

    	Thank you!

On Mon, Mar 11, 2019 at 6:22 AM -0400, "Yogesh Kumar" <notifications@github.com> wrote:

@get-itips  Thank you very much for the contribution and sharing this explanation. @dhoegl

Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

—
You are receiving this because you were mentio

[2019-03-11 11:35] lindspea commented on #1456
Done
[image: Picture]

On Sun, Mar 10, 2019 at 7:38 PM Lindsay Peacock <lindsaypeacock299@gmail.com>
wrote:

[2019-03-11 12:00] dariomws306 commented on #1175
Hi @jonwbstr , thank your for your comment.

Yes, it's true, we still don't have a date when all tenant will get all the upgrade options in the admin center. In this article you can see a note about this:

"If you’re an admin on your Office 365 tenant, you may soon start seeing upgrade options in the Microsoft Teams admin center. Having the option to upgrade doesn’t necessarily mean your organizat

[2019-03-11 12:43] yogkumgit commented on #1456
@kenwith  fresh feedback is received and new  PR is created, please merge it.

[2019-03-11 12:44] dariomws306 commented on #1181
Hi @KatrinW and @MarcoCarampanta , thank your for your comments.

Marco is right, they are still in the process. He explained this in detail.

Thanks!

[2019-03-11 14:02] sm-biz commented on #1709
It's under the "Microsoft Teams" section in Settings > Services & Add-Ins

[2019-03-11 15:28] yogkumgit commented on #1642
@dougand-MSFT  Thank you very much for the contribution and sharing this explanation. @itthing
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-11 16:42] yogkumgit commented on #1654
@samanthaw  Thank you very much for the contribution and sharing this explanation. @hyoshioka0128
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-03-11 17:58] #1054 closed

[2019-03-11 17:58] #1057 closed

[2019-03-11 17:59] #1082 closed

[2019-03-11 18:00] #1092 closed

[2019-03-11 18:01] #1174 closed

[2019-03-11 18:01] #1201 closed

[2019-03-11 18:01] #1068 closed

[2019-03-11 18:01] #1073 closed

[2019-03-11 18:01] #1091 closed

[2019-03-11 18:02] #1099 closed

[2019-03-11 18:02] #1107 closed

[2019-03-11 18:03] #1143 closed

[2019-03-11 18:03] #1146 closed

[2019-03-11 18:03] #1147 closed

[2019-03-11 18:04] #1148 closed

[2019-03-11 18:04] #1149 closed

[2019-03-11 18:05] #1150 closed

[2019-03-11 18:05] #1172 closed

[2019-03-11 18:05] #1173 closed

[2019-03-11 18:06] #1284 closed

[2019-03-11 18:06] #1293 closed

[2019-03-11 19:16] kenwith commented on #1456
Merged.

[2019-03-11 23:32] hyoshioka0128 commented on #1654
Closed #1654.

[2019-03-11 23:32] #1654 closed

[2019-03-11 23:48] get-itips commented on #1104
Thanks for the heads up @dgorgone  . We’ve updated the article and removed the screen shots. We also moved the link to the existing Office 365 Content Search documentation to the top of the article so it’s easier to find full documentation for this feature

[2019-03-12 11:47] PhilFancy commented on #1439
Would support this as well! Would like to deploy and have Teams start hidden.

[2019-03-12 12:53] yogkumgit commented on #1175
@dariomws306  Thank you very much for the contribution and sharing this explanation. @jonwbstr
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-12 12:56] yogkumgit commented on #1181
@dariomws306  and @MarcoCarampanta Thank you very much for the contribution and sharing this explanation. @KatrinW Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-12 13:01] yogkumgit commented on #1104
@dariomws306  Thank you very much for the contribution and sharing this explanation. @dgorgone
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-03-12 14:45] yogkumgit commented on #1762
@officedocsbot assign @yogkumgit

[2019-03-12 15:52] systopher opened #1767 "If you do NOT want Teams as an option when creating meetings in Outlook mobile then you must disable Teams for the entire organization."
Recent enhancement message links to this page when referring to disabling Teams at the org level, but this page shows that disabling access is only possible at the user level.

"If you do NOT want Teams as an option when creating meetings in Outlook mobile, even if select users are enabled for Teams, then you must disable Teams for the entire organization. Please see Additional Information for det

[2019-03-12 17:28] pik10 commented on #1174
I had to factory reset one yealink phone.  After the reset, the phone shows twice.  One is online when I signed in and the other shows offline.  I don't see any option to delete the offline phone.

[2019-03-12 18:02] #1175 closed

[2019-03-12 18:02] #1181 closed

[2019-03-12 18:03] #1104 closed

[2019-03-12 18:03] #1642 closed

[2019-03-12 19:45] scanum commented on #1767
@officedocsbot assign @scanum

[2019-03-12 19:46] scanum commented on #1761
@officedocsbot assign @scanum

[2019-03-12 19:49] scanum commented on #1760
@nikitache  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-03-12 19:49] scanum commented on #1760
@officedocsbot close

[2019-03-12 19:49] #1760 closed

[2019-03-12 19:51] scanum commented on #1758
@officedocsbot assign @scanum

[2019-03-12 19:54] scanum commented on #1744
@officedocsbot assign @scanum

[2019-03-12 19:55] scanum commented on #1737
@corymcm - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-12 19:56] scanum commented on #1737
@officedocsbot close

[2019-03-12 19:56] #1737 closed

[2019-03-12 19:56] scanum commented on #1736
@officedocsbot assign @scanum

[2019-03-12 19:57] scanum commented on #1733
@TaquiM  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-12 19:57] scanum commented on #1733
@officedocsbot close

[2019-03-12 19:57] #1733 closed

[2019-03-12 19:58] scanum commented on #1732
@officedocsbot assign @scanum

[2019-03-12 19:59] scanum commented on #1731
@officedocsbot assign @scanum

[2019-03-12 20:00] scanum commented on #1730
@seannybgoode - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2019-03-12 20:00] scanum commented on #1730
@officedocsbot close

[2019-03-12 20:00] #1730 closed

[2019-03-12 20:01] scanum commented on #1720
@officedocsbot assign @scanum

[2019-03-12 20:03] scanum commented on #1716
@officedocsbot assign @scanum

[2019-03-12 20:04] scanum commented on #1715
@rishire  Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-12 20:04] scanum commented on #1715
@officedocsbot close

[2019-03-12 20:04] #1715 closed

[2019-03-12 20:04] scanum commented on #1714
@officedocsbot assign @scanum

[2019-03-12 20:05] scanum commented on #1713
@officedocsbot assign @scanum

[2019-03-12 20:06] scanum commented on #1712
@officedocsbot assign @scanum

[2019-03-12 20:06] scanum commented on #1710
@officedocsbot assign @scanum

[2019-03-12 20:07] scanum commented on #1709
@officedocsbot assign @scanum

[2019-03-12 20:08] scanum commented on #1708
@officedocsbot assign @scanum

[2019-03-12 20:08] scanum commented on #1707
@officedocsbot assign @scanum

[2019-03-12 20:08] scanum commented on #1703
@officedocsbot assign @scanum

[2019-03-12 20:12] scanum commented on #1701
@officedocsbot assign @scanum

[2019-03-12 20:13] scanum commented on #1698
@officedocsbot assign @scanum

[2019-03-12 20:14] scanum commented on #1696
@officedocsbot assign @scanum

[2019-03-12 20:15] scanum commented on #1695
@sparkitect  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2019-03-12 20:15] scanum commented on #1695
@officedocsbot close

[2019-03-12 20:15] #1695 closed

[2019-03-12 20:15] scanum commented on #1690
@officedocsbot assign @scanum

[2019-03-12 20:16] scanum commented on #1689
@officedocsbot assign @scanum

[2019-03-12 20:16] scanum commented on #1688
@JumbaJookiba and @hoodahoop   - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-busin

[2019-03-12 20:17] scanum commented on #1688
@officedocsbot close

[2019-03-12 20:17] #1688 closed

[2019-03-12 20:17] scanum commented on #1687
@officedocsbot assign @scanum

[2019-03-12 20:18] scanum commented on #1686
@officedocsbot assign @scanum

[2019-03-12 20:19] scanum commented on #1685
@officedocsbot assign @scanum

[2019-03-12 20:21] scanum commented on #1684
@DFLiddle  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-12 20:21] scanum commented on #1684
@officedocsbot close

[2019-03-12 20:21] #1684 closed

[2019-03-12 20:24] scanum commented on #1680
@pmorrisonperform  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-03-12 20:24] scanum commented on #1680
@officedocsbot close

[2019-03-12 20:24] #1680 closed

[2019-03-12 20:25] scanum commented on #1676
@officedocsbot assign @scanum

[2019-03-12 20:26] scanum commented on #1675
@officedocsbot assign @scanum

[2019-03-12 20:26] scanum commented on #1674
@officedocsbot assign @scanum

[2019-03-12 20:27] scanum commented on #1673
@officedocsbot assign @scanum

[2019-03-12 20:29] scanum commented on #1670
@officedocsbot assign @scanum

[2019-03-12 20:31] scanum commented on #1656
@officedocsbot assign @scanum

[2019-03-12 20:31] scanum commented on #1650
@officedocsbot assign @scanum

[2019-03-12 20:32] scanum commented on #1649
@tomlaciano - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2019-03-12 20:32] scanum commented on #1649
@officedocsbot close

[2019-03-12 20:32] #1649 closed

[2019-03-12 20:32] scanum commented on #1646
@officedocsbot assign @scanum

[2019-03-12 20:33] scanum commented on #1645
@officedocsbot assign @scanum

[2019-03-12 20:33] scanum commented on #1644
@officedocsbot assign @scanum

[2019-03-12 20:34] scanum commented on #1638
@officedocsbot assign @scanum

[2019-03-12 20:34] scanum commented on #1636
@officedocsbot assign @scanum

[2019-03-12 20:35] scanum commented on #1635
@officedocsbot assign @scanum

[2019-03-12 20:35] scanum commented on #1629
@officedocsbot assign @scanum

[2019-03-12 20:36] scanum commented on #1626
@officedocsbot assign @scanum

[2019-03-12 20:36] scanum commented on #1619
@officedocsbot assign @scanum

[2019-03-12 20:37] scanum commented on #1617
@officedocsbot assign @scanum

[2019-03-12 20:38] scanum commented on #1613
@DBailey618 Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-12 20:38] scanum commented on #1613
@officedocsbot close

[2019-03-12 20:38] #1613 closed

[2019-03-12 20:39] scanum commented on #1608
@officedocsbot assign @scanum

[2019-03-12 20:44] scanum commented on #1607
@officedocsbot assign @scanum

[2019-03-12 20:45] scanum commented on #1597
@officedocsbot assign @scanum

[2019-03-12 20:46] scanum commented on #1596
@xMarcus  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-12 20:46] scanum commented on #1596
@officedocsbot close

[2019-03-12 20:46] #1596 closed

[2019-03-12 20:46] scanum commented on #1593
@officedocsbot assign @scanum

[2019-03-12 20:47] scanum commented on #1592
@officedocsbot assign @scanum

[2019-03-12 20:48] scanum commented on #1580
@officedocsbot assign @scanum

[2019-03-12 20:48] scanum commented on #1579
@officedocsbot assign @scanum

[2019-03-12 20:49] scanum commented on #755
@KyleSchroeder  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-12 20:49] scanum commented on #755
@officedocsbot close

[2019-03-12 20:49] #755 closed

[2019-03-12 20:52] scanum commented on #1757
@OfficeGlobal

[2019-03-12 20:53] scanum commented on #1756
@OfficeGlobal -Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:53] scanum commented on #1755
@OfficeGlobal -Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:54] scanum commented on #1754
@OfficeGlobal -Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:54] scanum commented on #1743
@OfficeGlobal -Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:54] scanum commented on #1726
@OfficeGlobal -Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:55] scanum commented on #1724
@officedocsbot assign @scanum

[2019-03-12 20:55] scanum commented on #1723
@OfficeGlobal Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:55] scanum commented on #1722
@OfficeGlobal Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:55] scanum commented on #1664
@OfficeGlobal Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:56] scanum commented on #1634
@OfficeGlobal Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-12 20:56] scanum commented on #1595
@OfficeGlobal Thank you for submitting this feedback.

I will get this over to for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-03-13 03:24] hyoshioka0128 opened #1771 "Showing "****言語****","****国/地域****","****カルチャ ID****" (Markdown notation)"
https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cd03c696-b6c1-9033-ce8a-dbaf427706b5
* Version Independent ID: 956891fd-7496-cada-d2cb-0b7c6b724db6
* Content: [ダイヤルイン会議でサポートされる言語](https://docs.microsoft.com/ja-jp/MicrosoftTeams/audio-conferencing-supported-languages

[2019-03-13 05:08] lindspea commented on #1736
@Chukaka thank you for pointing this out and helping improve MS docs.  I'll have this rectified as soon as possible.

[2019-03-13 05:14] lindspea commented on #1708
@baluilag Thank you for pointing this out and making MS docs better.  I'll have this fixed as soon as possible.

[2019-03-13 05:16] lindspea commented on #1708
@scanum @AndreaBarr this can be closed thank you.

[2019-03-13 05:19] lindspea commented on #1707
@jason-ra Thank you for pointing this out.  I have just checked and the link does work.  Please confirm if you're still having an issue with the link.

[2019-03-13 05:24] lindspea commented on #1670
@tiagoroxo please confirm if this issue has been solved. Thank you for reaching out and helping improve MS docs.

[2019-03-13 05:33] lindspea commented on #1761
@alexlushsevernunival thank you for pointing this out and helping improve MS docs.  I will have it fixed as soon as possible.

[2019-03-13 06:42] lindspea commented on #1767
@systopher Thank you for reaching out.  Please could you elaborate where the change should be made.  It's a bit unclear.

[2019-03-13 06:47] lindspea commented on #1731
@rito2k Thanks for helping improve docs.  I'll have this implemented as soon as possible.

[2019-03-13 06:52] lindspea commented on #1720
@howardzhangmsft @ivanja81 Thank you for reaching out. Please confirm if this issue has been sorted or if any changes still need to be made.

[2019-03-13 06:54] lindspea commented on #1719
@marielleneomabs thank you for reaching out.  I'll have an answer for you shortly.

[2019-03-13 06:55] lindspea commented on #1716
@Petri-X I'll do some investigating and let you know soonest.  Thanks for helping improve MS docs.

[2019-03-13 06:57] lindspea commented on #1713
@danieledwardgeorgehitchcock thank you for reaching out.  I'll investigate and get back to you soonest.

[2019-03-13 07:06] lindspea commented on #1609
@labanex Thanks for reaching out and helping improve MS docs.  Please could you confirm where this note appears. Is it in the actual MS doc or in a link?

[2019-03-13 07:06] howardzhangmsft commented on #1720
@lindspea please make the proposed changes, thanks.

[2019-03-13 07:33] lindspea commented on #1744
@d1bjo0 Thank you for pointing this out and helping improve MS docs.  I'll have a look and have the changes implemented soonest.

[2019-03-13 08:18] lindspea commented on #1646
@jaypatrick @jambirk Just need to confirm if this has been updated and issue solved?

[2019-03-13 08:26] lindspea commented on #1619
@Larryngolog Thank you for reaching out and helping improve MS docs.  Please specify what you think should be changed to the MS document.  Just to clarify, 250 is the number of teams a user can create. Just need to be sure of what needs amending in the doc.

[2019-03-13 08:46] wstaelens opened #1776 "admin center name is wrong"
In the section "Enable business-to-business communications for your users". There you have in step 2 "In the Office 365 admin center, go to Admin Centers &gt; Skype for Business".

I don't see this. I need to click "Teams". and in Teams i need to click on "Legacy Portal" behind the skype icon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-03-13 09:01] lindspea commented on #1732
@Hitchcock3 Thank you for reaching out.  I'll look into this and give you an answer as soon as possible.

[2019-03-13 09:17] Larryngolog commented on #1619
Hi @lindspea. I'm talking about this wording: "Attendee maximum for meetings Each Microsoft Teams meeting can have up to 80 attendees.". As I have stated in my original post, this has been raised and documented in the article mentioned: "Number of people in a meeting 250"

[2019-03-13 09:28] lindspea commented on #1619
@Larryngolog So just to confirm this issue has been resolved and there are no changes to be made to the MS doc?

[2019-03-13 09:36] Larryngolog commented on #1619
Hi Lindspea, I'm not sure if I understand your question. When I go to article for which this issue was opened "Known issues for Microsoft Teams" https://docs.microsoft.com/en-us/MicrosoftTeams/known-issues you can find in the "Meetings" paragraph (https://docs.microsoft.com/en-us/MicrosoftTeams/known-issues#meetings) the following issue: "Attendee maximum for meetings " and the behavior is "Each M

[2019-03-13 09:47] lindspea commented on #1619
@Larryngolog Ok great, I understand now.  Thanks for your contribution.  I'll update the article soonest.

[2019-03-13 10:29] hyoshioka0128 commented on #1592
Misunderstanding
Close #1592

[2019-03-13 10:29] #1592 closed

[2019-03-13 10:30] hyoshioka0128 commented on #1593
Misunderstanding
Close #1593

[2019-03-13 10:30] #1593 closed

[2019-03-13 11:23] scanum commented on #1761
@officedocsbot close

[2019-03-13 11:23] #1761 closed

[2019-03-13 11:24] scanum commented on #1761
@alexlushsevernunival  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:26] scanum commented on #1619
@Larryngolog  Thank you for submitting this feedback.

From our understanding, the issue has been resolved and Lindsay has updated the article. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:27] scanum commented on #1619
@officedocsbot close

[2019-03-13 11:27] #1619 closed

[2019-03-13 11:28] scanum commented on #1720
@howardzhangmsft Thank you for submitting this feedback.

From our understanding, the issue has been resolved and Lindsay has updated the section. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:28] scanum commented on #1720
@officedocsbot close

[2019-03-13 11:28] #1720 closed

[2019-03-13 11:28] scanum commented on #1744
@d1bjo0 Thank you for submitting this feedback.

From our understanding, the issue has been resolved and Lindsay has updated the link. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:29] scanum commented on #1744
@officedocsbot close

[2019-03-13 11:29] #1744 closed

[2019-03-13 11:30] scanum commented on #1731
@rito2k  Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:30] scanum commented on #1731
@officedocsbot close

[2019-03-13 11:30] #1731 closed

[2019-03-13 11:30] get-itips commented on #1236
Thanks @IlyaBelovRR @fotsopp for your feedback, based on it, we will add a note to improve the documentation.

[2019-03-13 11:33] scanum commented on #1736
@Chukaka Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:33] scanum commented on #1736
@officedocsbot close

[2019-03-13 11:33] #1736 closed

[2019-03-13 11:45] get-itips commented on #1351
Hi @pgrlopes thanks for your feedback!
The article has been improved including missing SQL Supported Versions after your comment.
Thank you!

[2019-03-13 11:50] scanum commented on #1708
@baluilag Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 11:50] scanum commented on #1708
@officedocsbot close

[2019-03-13 11:50] #1708 closed

[2019-03-13 11:59] lindspea commented on #1709
@pkaushik23 Thank you for reaching out and helping improve MS docs. Please can you clarify what is missing.  Is it a screenshot or wording specifically?

[2019-03-13 12:10] get-itips commented on #1355
Hi @oradcliffe Thanks for your feedback, we really appreciate it. As that is a feature of Office 365 Enterprise, the content to use SfB Onpremises with Azure AD STS is in Office 365 Enterprise section, please see

https://docs.microsoft.com/en-us/office365/enterprise/configure-skype-for-business-for-hybrid-modern-authentication

**Thank You**

[2019-03-13 13:38] tiagoroxo commented on #1670
@lindspea I just tried on the page https://docs.microsoft.com/en-us/lyncserver/lync-server-2013-managing-quality-of-service-qos but the URL "http://go.microsoft.com/fwlink/p/?LinkId=285379" still not working.

[2019-03-13 13:39] lindspea commented on #1670
@tiagoroxo Did you try the link James suggested: https://docs.microsoft.com/en-us/powershell/module/netqos/?view=winserver2012-ps

[2019-03-13 13:41] tiagoroxo commented on #1670
yep the Link that James suggested seems to be ok.

[2019-03-13 13:52] scanum commented on #1670
@tiagoroxo - Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-13 13:53] scanum commented on #1670
@officedocsbot close

[2019-03-13 15:35] oradcliffe commented on #1355
Understood, it might make it helpful to link to that page in this doc and mention that ADFS isn't the only option for implementing MA with SfB on-prem though.  Thanks!

[2019-03-13 15:59] get-itips commented on #1355
Agree, I'll probably make a PR to add a link into the Top-Level Document about SfB Authentication. Thank you.

[2019-03-13 16:29] #1670 closed

[2019-03-13 18:59] uttampcu opened #1782 "Which SBCs are being reviewed now for possible/probably inclusion in the list?"
Cisco is one of the most popular, is it being reviewed for possible/probable inclusion in the list of certified SBCs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1a1c01-10a9-7f69-1c7b-1a566b0f5112
* Version Independent ID: 329ee759-40fc-98fb-b91e-87786c63024b
* Content: [List of Session Border Controllers certifie

[2019-03-13 19:08] scanum commented on #1758
@OfficeGlobal Could you please check and advise? Thanks

[2019-03-13 20:24] tomlaciano commented on #1649
I believe you have misunderstood my feedback. I don't have a problem to be solved, I am stating that the Help content has incorrect or inaccurate references to the UI elements for finding or getting logs.

[2019-03-13 20:48] scanum commented on #1771
@OfficeGlobal Could you please check and advise? Thanks

[2019-03-13 22:14] dariomws306 commented on #1184
@billvolt , Thank you very much for your feedback.

PSTN calls are not considered yet.

Considering your valuable feedback, I suggest that you vote on user voice site. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.
User Voice Link:
https://microsoftteams.uservoice.com/forums/555103-public/sugges

[2019-03-13 22:25] dariomws306 commented on #1198
Hi @DeanGross , thank you for your feedback.

Could you specify in what area in the text you think we should clarify this? I couldn't find references about permissions in the article, it's a plan article so I think you will find this kind of information in a "Deploy" article.

[2019-03-13 22:47] dariomws306 commented on #1200
Hi @Arcass , thank you for your comment.

Teams client aren't listed because they don't support End User Control of Outbound Caller ID yet.

[2019-03-13 22:59] dariomws306 commented on #1207
Hi @TorrenManson , thank you for your feedback.

I have add the article on "related content" sections.

[2019-03-14 01:42] jason-ra commented on #1707
Still not working for me. I've just checked and the actual link in the doc is https://products.office.com/skype-for-business/audio-conferencing which returns a "302 Moved Temporarily" that redirects my browser to https://products.office.com/en-AU/skype-for-business/audio-conferencing.

If I replace 'en-au' with 'en-gb' or 'en-us' it does work. So just seems to be an issue with Australian locale 'e

[2019-03-14 03:07] hyoshioka0128 opened #1788 "Paragraph containing "Guest" is returning from Japanese to English"
After #1295, paragraph containing "Guest" is returning from Japanese to English
https://docs.microsoft.com/ja-jp/microsoftteams/guest-access-checklist

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f737e278-7c89-e048-b60b-287615a829fb
* Version Independent ID: 1df35258-7360-74c4-680a-e154c54291fe
* Content: [Microsoft Teams のゲスト アクセスのチェックリスト](https:/

[2019-03-14 06:09] sowjanya365 commented on #1579
Hi @TorrenManson

We've verified the very first URL that you've referred in the document and we've found that it has been correctly pointing to the URL as you mentioned in the issue description. Kindly recheck and confirm us to close this issue. Thank you.

[2019-03-14 11:34] pkaushik23 commented on #1709
Thanks Lindsay for your email. At glance it was not clear, perhaps if a
screenshot was available with highlighted icon then would have been more
obvious.

Thanks,

On Wed, Mar 13, 2019 at 5:29 PM Lindsay <notifications@github.com> wrote:

--
Thanks and regards
Prerak Kaushik

[2019-03-14 12:01] OfficeGlobal commented on #1595
@hyoshioka0128 The article has been HumanTranslated and published live, no ENG paragraphs

[2019-03-14 12:38] OfficeGlobal commented on #1723
@hyoshioka0128  The article has been HumanTranslated, string "guest" is translated as suggested.
( + issue #1724  it's also fixed)

[2019-03-14 12:46] OfficeGlobal commented on #1754
@hyoshioka0128 The article has been HumanTranslated, no ENG paragraphs

[2019-03-14 13:35] NicholasBurkhammer opened #1789 "Add note under conferencing support that viewing embedded video in PPT isn't supported."
This isn't supported in Skype for Business on Android or iOS per RFC to PG.  Recommend adding a circle with number 3 next to "View shared PowerPoint files" with a note that states, "Viewing embedded video in PowerPoint presentations is not supported."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 257dc4a1-8091-23db-64

[2019-03-14 14:03] OfficeGlobal commented on #1726
@hyoshioka0128 the overlocalized text has been fixed ( + Issue #1725)

[2019-03-14 14:04] OfficeGlobal commented on #1725
@hyoshioka0128 The "guest" string has been updated and it's displayed as suggested

[2019-03-14 15:47] westovsb commented on #1174
@pik10 I have had to do the same thing. It is really annoying to have the same phone listed twice. How did you factory reset your device? I have another device that the screen is blinking "Unfortunately, Teams has stopped." Not sure how to do anything when the screen is dead.

[2019-03-14 16:17] pik10 commented on #1174
I went to the phone's web configuration page by using it's IP address.  If you know the phones IP address you may be able to login.  I used the default user name admin. From there I was able to factory reset the phone.

[2019-03-14 16:17] jambirk commented on #1789
@PhillipGarding can you please comment?

[2019-03-14 16:20] NicholasBurkhammer commented on #1789
Let me know if you need the RFC URL for reference.  Happy to provide it.

Regards,

Nicholas Burkhammer
Microsoft ● Unified Communications ● Support Escalation Engineer
Email: nichburk@microsoft.com<mailto:nichburk@microsoft.com>
Phone: +1 980-776-2946
Hours: Monday-Friday 0900-1800 ET
Manager ● Craig Fischer ● mailto:Craig.Fischer@microsoft.com

[SummitAward_2018-OutlookSign]

From: James Birkins

[2019-03-14 16:20] kenwith commented on #1707
@jason-ra - I wonder if it could be a caching issue? Can you try in an 'in-private' browsing window so that it doesn't look at any cache? I am trying this link: https://products.office.com/en-au/microsoft-teams/online-meeting-solutions#Requirements and it is rendering for me.

There is also a localization team we can check with if it still isn't working for you. Or perhaps something in the redirec

[2019-03-14 16:25] TorrenManson commented on #1579
Hi,

The URL was fixed on Feb 8th.

You can close this issue.

Thanks,
Torren

From: sowjanya365 <notifications@github.com>
Sent: March 13, 2019 11:09 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Torren Manson <Torren@torren.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] URL broken (#1579)

[2019-03-14 16:28] westovsb commented on #1174
All I get when I do that is "This site can’t be reached (IP address) took too long to respond." Could it have been assigned a new ip?

[2019-03-14 17:37] pik10 commented on #1174
You can probably find the IP address in your DHCP server.

[2019-03-14 17:39] thommck opened #1790 "Billing clarification for EA customers"
It isn't clear how an EA customer would get billed. As we have to purchase this separately our reseller wasn't able to advise either.
When I go to the final step of the checkout it already has my EA number selected and an empty box for a purchase order number. Does this mean I will get a separate monthly/quarterly/annual invoice just for the spent credits (with the relevant PO number listed) or it

[2019-03-14 17:43] westovsb commented on #1174
Yes, I just figured that out. Thanks! I will be calling Yealink.

[2019-03-14 20:43] tsylvia88 opened #1791 "Powershell"
How do you assign an emergency location via powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e880ddd3-f279-7293-dbd0-cabce392de31
* Version Independent ID: 7b2d414e-4f05-f744-fddf-965fedfb0349
* Content: [Assign or change the emergency location for a user](https://docs.microsoft.com/en-us/skypeforbusiness/wha

[2019-03-14 21:38] sowjanya365 commented on #1579
Thank you for the confirmation, @TorrenManson.

[2019-03-14 22:22] dariomws306 commented on #1214
Hi @lyncjp , thank your for your feedback.

I have created a Pull Request to modify this.

[2019-03-15 08:39] zaicnupagadi opened #1793 "Intune conditional access and Exchange Online and Teams."
Hey all, when applying conditional access on Exchange Online application the same applies on Teams - when having only Teams on phone need to install company portal, I understand this is because there are some interactions between these two applications, but it is definitely worth mentioning that when applying policy to one of these apps - the other one will also be restricted with conditional acce

[2019-03-15 11:08] hyoshioka0128 commented on #1725
@OfficeGlobal Thanks.
Close #1725

[2019-03-15 11:08] #1725 closed

[2019-03-15 11:11] hyoshioka0128 commented on #1726
@OfficeGlobal Thanks.
Close #1726

[2019-03-15 11:11] #1726 closed

[2019-03-15 11:24] hyoshioka0128 commented on #1754
Misunderstanding
Close #1754

[2019-03-15 11:24] #1754 closed

[2019-03-15 11:28] hyoshioka0128 commented on #1723
@OfficeGlobal Thanks.
Close #1723

[2019-03-15 11:28] #1723 closed

[2019-03-15 11:32] hyoshioka0128 commented on #1724
@OfficeGlobal Thanks.
Close #1724

[2019-03-15 11:32] #1724 closed

[2019-03-15 11:36] hyoshioka0128 commented on #1595
Misunderstanding
Close #1595

[2019-03-15 11:36] #1595 closed

[2019-03-15 11:54] moreaboutmatt opened #1794 "Typo in heading for "Plan or media byass with Direct Routing""
Typo in heading for "Plan or media byass with Direct Routing"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b198f4-9576-a14d-4359-1e8cc0319cda
* Version Independent ID: ba7c3252-21d4-9be1-2a84-de2d51646f7b
* Content: [Plan for media bypass with Direct Routing](https://docs.microsoft.com/en-us/microsoftteams/direct-r

[2019-03-15 12:35] get-itips commented on #1238
Hi @akkawamu how are you? hope you are doing good. Thanks for your feedback, could you please explain what specific information is wrong with the article? Thank you

[2019-03-15 12:46] get-itips commented on #1609
Hi @labanex hope you are doing good, thanks for your feedback.
I think you talk about  [this article](https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/set-unifiedgroup?view=exchange-ps)

I tried the cmdlet with the HiddenFromAddressListsEnabled and HiddenFromExchangeClientsEnabled and it worked.

Is there a chance is working for your tenant now?

Thanks

[2019-03-15 12:51] get-itips commented on #1609
Hi @labanex how are you? Thanks for your feedback. Can you kindly describe what is the exact issue you identified with the article?
Thank you!

[2019-03-15 12:53] get-itips commented on #1617
Hi @boehmmic thanks for your feedback, article was updated and improved.

[2019-03-15 13:12] get-itips commented on #1649
Thanks @tomlaciano the article will be improved after your comment.

[2019-03-15 15:26] CarolynRowe commented on #1794
Hello, I am looking at the live file and not seeing the typo.  Both the title and the TOC say Plan for...   Can you be more specific about where you're seeing this problem?

[2019-03-15 15:39] moreaboutmatt commented on #1794
Hi Carolyn,

Here's a pic of the typo:

[image: image.png]

Thanks...

Matt

On Fri, Mar 15, 2019 at 3:26 PM Carolyn Rowe <notifications@github.com>
wrote:

[2019-03-15 16:16] kenwith commented on #1758
@officeglobal test

[2019-03-15 16:24] lindspea commented on #1758
Test.

[2019-03-15 16:25] lindspea commented on #1758
Test @OfficeGlobal

[2019-03-15 17:05] scanum commented on #1719
@marielleneomabs  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-03-15 17:06] scanum commented on #1719
@officedocsbot close

[2019-03-15 17:06] #1719 closed

[2019-03-15 17:23] scanum commented on #1273
@seaSide974  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2019-03-15 17:23] scanum commented on #1273
@officedocsbot close

[2019-03-15 17:23] #1273 closed

[2019-03-15 17:24] scanum commented on #1368
@JBFulc  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-15 17:24] scanum commented on #1368
@officedocsbot close

[2019-03-15 17:24] #1368 closed

[2019-03-15 17:24] scanum commented on #1445
@cory-rkmi - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-15 17:24] scanum commented on #1445
@officedocsbot close

[2019-03-15 17:24] #1445 closed

[2019-03-15 17:24] scanum commented on #1541
@intared - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-15 17:25] scanum commented on #1541
@officedocsbot close

[2019-03-15 17:25] #1541 closed

[2019-03-15 17:25] scanum commented on #1650
@dcnoren  - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please

[2019-03-15 17:25] scanum commented on #1650
@officedocsbot close

[2019-03-15 17:25] #1650 closed

[2019-03-15 17:26] scanum commented on #1534
@officeglobal Could you please check and advise? Thanks

[2019-03-15 17:58] PhillipGarding commented on #1789
This is correct.  Viewing of video embedded in an uploaded PowerPoint presentation is not supported on iOS and Android.  Please update the documentation appropriately.

[2019-03-15 19:01] jambirk commented on #1716
@scanum :  contoso.com bolded in the comment above needs to be replaced with <your Verified Domain> to match the other procedures. The term "hostname authority" is completely misapplied here, should probably be FQDN instead.

[2019-03-15 19:05] jambirk commented on #1714
@Petri-X  contoso.com is a generic user domain name used in many of our powershell examples. We assume you'll know this because you've read other articles, and when you see it in scripts you'll edit the scripts to reflect the domain name of the actual environment.

[2019-03-15 22:31] get-itips commented on #1369
Hi @DeanGross how are you?
Are this articles answering  your question?

https://docs.microsoft.com/en-us/microsoftteams/guest-experience

https://support.office.com/en-us/article/guest-capabilities-in-teams-d03fdf5b-1a6e-48e4-8e07-b13e1350ec7b?ui=en-US&rs=en-US&ad=US

Thank you

[2019-03-15 22:43] get-itips commented on #1373
Hi @mazhagiah do you have a specific article that you are talking about that needs to be corrected?  I think this article might answer your question https://docs.microsoft.com/en-us/microsoftteams/direct-routing-sbc-multiple-tenants
Hope it helps you.

[2019-03-15 22:44] get-itips commented on #1374
Hi  @robertjacobson thanks for your feedback. Can you kindly give us the reference article that needs to be corrected? is there any issue with documentation? Thank you

[2019-03-15 22:59] get-itips commented on #1478
Thanks @brcallicott for your feedback, we will correct the article as needed.

[2019-03-15 23:48] dariomws306 commented on #1222
Hi @Deusly , thank your for your feedback.

Could you elaborate further? What do you think that it would be helpful to add to this document?

[2019-03-16 01:05] dariomws306 commented on #1230
Hi @Kosmosas , thank you for your feedback.

Are you talking about copy or drag and drop from Teams outside Teams, right?

[2019-03-16 01:06] dariomws306 commented on #1230
![image](https://user-images.githubusercontent.com/33589238/54468740-90091600-476e-11e9-836a-5431264ec062.png)

[2019-03-16 01:09] dariomws306 commented on #1231
Hi @danieldhudson , thank you for your feedback.

Are you sure? It's on the Install Teams clients section...

[2019-03-16 01:14] dariomws306 commented on #1239
Hi @mazhagiah , thank your for your feedback.

Are you following any special document/article to enable enterprise voice?

[2019-03-16 01:52] dariomws306 commented on #1248
Hi @munrobasher , thank your for your feedback.

Based on the last comment, do you think we can improve this article?

[2019-03-16 09:03] jaypatrick opened #1804 "Need Easier Way To Exclude Groups"
In any non-trivial AD deployment, there are going to be hundreds (or even thousands) of types of users who shouldn't be auto-added to the org-wide channel, so there needs to be an easy way to exclude them. For example, we use MAC based authentication accounts, and we put them in a group. These accounts should not be added to Teams, and as it is now, we have to delete them one by one. A mechanism t

[2019-03-16 14:37] dariomws306 commented on #1270
Hi @justinthorne , thank you for your feedback.

Information about 1:1 sessions on SfBO/Teams are found in the Admin Portal under Analytics & reports.

[2019-03-16 15:05] dariomws306 commented on #1265
Hi @rolandfalcon , @jamesrhea and @malimal99 , thank you for your valuable feedback.

I have udpated this article according to this feedback.

[2019-03-16 15:27] dariomws306 commented on #1255
Hi @jupfeiff and @oradcliffe , thank you for your valuable feedback.

About 1:1 communications I understand it will use the same ports:
![image](https://user-images.githubusercontent.com/33589238/54477455-c4b8b400-47e6-11e9-867e-50165700f3c3.png)

Please check this:
https://myignite.techcommunity.microsoft.com/sessions/65521?source=sessions#ignite-html-anchor

[2019-03-16 18:31] sowjanya365 commented on #1709
Hi @pkaushik23

Section "Use the Office 365 admin portal to manage the Tenant Apps Catalog" explains If we want to temporarily enable or disable the app we need to navigate to the Office 365 Admin center > Services & add-ins > Apps. This is explained in the document with the screenshot.

Kindly let us know if you are looking for more information related to this topic.

[2019-03-16 19:03] sowjanya365 commented on #1686
Hi @TomoharuMisawa

Would you be so kind as to elaborate more on this issue? It would help us to understand it better and take appropriate steps to resolve or clarify. Thank you.

[2019-03-16 23:56] hyoshioka0128 opened #1808 ""セット CsTeamsMessagingPolicy" needs to be replaced with "Set-CsTeamsMessagingPolicy""
https://docs.microsoft.com/ja-jp/microsoftteams/inline-message-translation-teams

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 19e91f77-0c01-5d38-0bd4-65ee44aab5cb
* Version Independent ID: 08ea83b3-c241-979c-3afb-3355ab322489
* Content: [Microsoft Teams でインライン メッセージの翻訳を使用する](https://docs.microsoft.com/ja-jp/microsoftteams/inline-message-translation

[2019-03-17 00:01] hyoshioka0128 opened #1809 ""%Localappdata%\Microsoft\チーム" needs to be replaced with "%Localappdata%\Microsoft\Teams""
https://docs.microsoft.com/ja-jp/microsoftteams/get-clients

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Version Independent ID: f5d82846-41cb-3548-6997-ce23bd8f89c6
* Content: [Microsoft Teams のクライアントを取得する](https://docs.microsoft.com/ja-jp/microsoftteams/get-clients)
* Content Source: [Teams/get-clients.md](h

[2019-03-17 00:02] hyoshioka0128 opened #1810 ""%Appdata%\Microsoft\チーム" needs to be replaced with "%Appdata%\Microsoft\Teams""
https://docs.microsoft.com/ja-jp/microsoftteams/get-clients

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Version Independent ID: f5d82846-41cb-3548-6997-ce23bd8f89c6
* Content: [Microsoft Teams のクライアントを取得する](https://docs.microsoft.com/ja-jp/microsoftteams/get-clients)
* Content Source: [Teams/get-clients.md](h

[2019-03-17 00:11] hyoshioka0128 opened #1811 ""a. $session = csonlinesession で新しい" needs to be replaced with "a. $session = new-csonlinesession""
https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6b434530-6bf2-6e00-6eae-6fa043d022ce
* Version Independent ID: caab785f-e3a4-831a-87d8-26934a9f834f
* Content: [Microsoft Teams の管理者ロールを使用して Teams を管理する](https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles)
* Content Source:

[2019-03-17 00:13] hyoshioka0128 opened #1812 ""b. $Session のインポート-pssession" needs to be replaced with "b. Import-pssession $session""
https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6b434530-6bf2-6e00-6eae-6fa043d022ce
* Version Independent ID: caab785f-e3a4-831a-87d8-26934a9f834f
* Content: [Microsoft Teams の管理者ロールを使用して Teams を管理する](https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles)
* Content Source:

[2019-03-17 00:14] hyoshioka0128 opened #1813 ""Get モジュール" needs to be replaced with "Get-Module""
https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6b434530-6bf2-6e00-6eae-6fa043d022ce
* Version Independent ID: caab785f-e3a4-831a-87d8-26934a9f834f
* Content: [Microsoft Teams の管理者ロールを使用して Teams を管理する](https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles)
* Content Source:

[2019-03-17 00:15] hyoshioka0128 opened #1814 ""Get のコマンド ・ モジュール" needs to be replaced with "Get-Command -Module""
https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6b434530-6bf2-6e00-6eae-6fa043d022ce
* Version Independent ID: caab785f-e3a4-831a-87d8-26934a9f834f
* Content: [Microsoft Teams の管理者ロールを使用して Teams を管理する](https://docs.microsoft.com/ja-jp/microsoftteams/using-admin-roles)
* Content Source:

[2019-03-17 00:33] hyoshioka0128 opened #1815 "Showing "**+**" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/microsoftteams/let-your-teams-users-communicate-with-other-people

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID: 1e4d6b87-f57c-fa45-1630-3c32b821d93c
* Content: [他の組織の Teams ユーザーとの通信](https://docs.microsoft.com/ja-jp/microsoftteams/let-your-teams-users-com

[2019-03-17 08:29] Deusly commented on #1222
Scenario:

User 1 sends abusive messages to user 2. User 2 complains about harassment. IT perform investigation but the messages have since been edited/deleted.

IT cannot safeguard our users from online bullying because the user has edited the message. Users need to be able to edit / delete messages due to the nature and size of their posts into channels.

I would like an audit or conversation hi

[2019-03-17 09:54] jason-ra commented on #1707
I've tried from my home PC with the same results. Link of https://products.office.com/skype-for-business/audio-conferencing#Requirements takes me to https://products.office.com/en-AU/skype-for-business/audio-conferencing#Requirements which is 404.

If I replace 'en-au' with 'en-gb', then:
https://products.office.com/en-gb/skype-for-business/audio-conferencing#Requirements redirects me to https://p

[2019-03-17 11:33] hyoshioka0128 opened #1816 "Paragraphs returned from Japanese to English."
https://docs.microsoft.com/ja-jp/microsoftteams/enable-features-office-365

Quote:
アプリ
Apps are tabs, connectors, bots, or any combination of these three, provided by Teams (first-party apps, also known as default apps) or by a third-party (also known as external apps). Under Apps, you can enable and disable default apps and configure settings to control external apps.

---
#### ドキュメントの詳細

⚠ *このセク

[2019-03-17 11:36] hyoshioka0128 opened #1817 "Paragraphs returned from Japanese to English."
After #1414, paragraphs returned from Japanese to English.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5b138331-2f10-a05d-7e88-68e62e0b3e4f
* Version Independent ID: f923b648-ffe4-8a8a-c189-6e31f1032c10
* Content: [Microsoft Teams の使用状況レポート](https://docs.microsoft.com/ja-jp/microsoftteams/teams-analytics-and-reports/teams-usage-report)
* Content S

[2019-03-17 14:47] Petri-X commented on #1714
Hi @jambirk
The question was not about the domain name (contoso.com).

I already have Exchange hybrid up and running. Because of the actions taken with enabling the Exchange hybrid I already have those principal names added (most likely because of Exchange hybrid wizard). So the question to you was: do I still need to run this step? This script add principal name *.contoso.com, while Exchange hybr

[2019-03-17 14:57] Petri-X commented on #1716
Hi @jambirk
I believe you misread me. The text says: "...Replace contoso.com with a hostname authority...". But if you look the lines below that text, there is no "contoso.com" anywhere on there to be replaced.

What should I say about the instructions if even you are saying: "..should probably be..". Does anybody really know how this should be? :)

[2019-03-17 17:30] TomoharuMisawa commented on #1686
I'm sorry. I missed Step2.

[2019-03-17 17:35] DeanGross commented on #1369
Thanks, those pages have good information. I was thinking that it would be good to add some of that information or links to those pages to this specific page to help readers understand how the experience changes for different types of users.

[2019-03-17 17:47] get-itips commented on #1369
Thank you @DeanGross I'll create a new version of the article adding a link to guest experience information.

[2019-03-17 19:04] pik10 opened #1820 "Pay per minute charge"
How does pay per minute charge work?
Let's say I organize a conference with 5 participants.  Would I pay per minute for the conference line or pay per minute times 5 participants?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fac515b-9c6b-c70c-330e-53557dc23fd2
* Version Independent ID: d515841e-f412-286d-1a97-30507b

[2019-03-18 08:28] OfficeGlobal commented on #1534
related issues: #1533 | #1532 | #1531 | #1530
___
@samanthaw We're working on a fix (Bug 3232861)

[2019-03-18 08:47] OfficeGlobal commented on #1759
@samanthaw We're working on a fix (Bug 3232882)

[2019-03-18 09:03] ArttuArstila commented on #1265
"Automatically admit users If you turn this off, then meeting participants will be left in the lobby until someone starts the meeting. If it's on, meeting participants will be allowed to join the meeting automatically."  For this settings, the Teams Admin Center help button says "You can turn on or off if people that dial in using a phone are automatically joined to a meeting.".

So is this about

[2019-03-18 09:42] pkaushik23 commented on #1709
no, i think i am fine with the resolution that is provided. Thanks

On Sun, Mar 17, 2019 at 12:01 AM sowjanya365 <notifications@github.com>
wrote:

--
Thanks and regards
Prerak Kaushik

[2019-03-18 10:07] OfficeGlobal commented on #1755
@hyoshioka0128  entities has been fixed, it's displayed properly at live site

[2019-03-18 11:04] VLG17 commented on #1636
During the last Ignite in September 2018 it was confirmed that Skype for Business Standard Edition is there to say. For reference, the session is called "Everything you need to know about Skype for Business Server".

[2019-03-18 11:24] dariomws306 commented on #1265
Hi @ArttuArstila, thank you for your feedback.

I am applying this update:

**Automatically admit people** Determines what types of participants will automatically be added to meetings organized by this user. Set this to "Everyone in organization" if you would like meetings to place every external user in the lobby but allow all users in the company to join the meeting immediately. Set this to "Ev

[2019-03-18 11:36] OfficeGlobal commented on #1634
@samanthaw  Working on a fix (Bug 3233070)

[2019-03-18 11:36] OfficeGlobal commented on #1722
@samanthaw  Working on a fix (Bug 3233070)

[2019-03-18 11:36] OfficeGlobal commented on #1743
@samanthaw  Working on a fix (Bug 3233070)

[2019-03-18 11:40] OfficeGlobal commented on #1664
@MollyMalone , @scanum - this is not related to INTL content, but it's a question from the end user. Could you please follow up accordingly? Thank you

[2019-03-18 11:48] OfficeGlobal commented on #1758
related issue #1757
___
@samanthaw Working on a fix (Bug 3233087)

[2019-03-18 12:10] OfficeGlobal commented on #1771
Working on a fix

[2019-03-18 12:17] OfficeGlobal commented on #1756
@hyoshioka0128 entities has been fixed, it's displayed properly at live site

[2019-03-18 13:03] sowjanya365 commented on #1703
Hi @almertes

Thank you for your raising your concern here. We appreciate it.

"Teams doesn't support the guest inviter role". This doesn't come under the issue list. It is a good to have feature. That's the reason team had document only in the following URL.

https://docs.microsoft.com/en-us/microsoftteams/teams-dependencies

Hope this is clear now. Thank you.

[2019-03-18 15:20] get-itips commented on #1404
Hi @Larryngolog thanks for your feedback.
I tested in a lab and could not schedule a live event without a mailbox.
Will update the article to add a note about this.
Thank you!

[2019-03-18 16:11] scanum commented on #1390
@funzel1  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Skye for Business better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://www.skypefeedback.com/.

You might find others have made a similar request that you can add to, or you can op

[2019-03-18 16:12] scanum commented on #1390
@officedocsbot close

[2019-03-18 16:12] #1390 closed

[2019-03-18 16:12] scanum commented on #1416
@danielsykes84  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Skye for Business better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice https://www.skypefeedback.com/.

You might find others have made a similar request that you can add to, or you

[2019-03-18 16:12] scanum commented on #1416
@officedocsbot close

[2019-03-18 16:12] #1416 closed

[2019-03-18 16:42] scanum commented on #1449
@cvanoosbree - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2019-03-18 16:43] scanum commented on #1449
@officedocsbot close

[2019-03-18 16:43] #1449 closed

[2019-03-18 16:43] get-itips commented on #1448
Hi @SeaDude Thanks for your feedback, and comments, we really appreciate them.

Article has been improved after you created this issue, I hope the new information fullfills your needs.

Thank you!

[2019-03-18 16:52] scanum commented on #1439
@o-l-a-v - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Please k

[2019-03-18 16:52] scanum commented on #1439
@officedocsbot close

[2019-03-18 16:53] #1439 closed

[2019-03-18 17:15] get-itips commented on #1371
Hi @Petri-X thanks for your feedback.
We really appreciate it.
We will improve the article based on your comments.
Thanks!

[2019-03-18 17:32] get-itips commented on #1539
Hi @jdubyaeber thanks for your feedback.
HTTP Activation belongs to Microsoft .NET Framework Software/Role not IIS.
I can confirm you that listed roles are needed for Edge.
Thank you

[2019-03-18 17:40] scanum commented on #1709
@officedocsbot close

[2019-03-18 17:40] #1709 closed

[2019-03-18 17:43] scanum commented on #1732
@officedocsbot close

[2019-03-18 17:45] scanum commented on #1371
@officedocsbot close

[2019-03-18 18:00] scanum commented on #1478
@officedocsbot close

[2019-03-18 18:00] #1478 closed

[2019-03-18 18:04] scanum commented on #1539
@officedocsbot close

[2019-03-18 18:04] #1539 closed

[2019-03-18 18:06] scanum commented on #1448
@officedocsbot close

[2019-03-18 18:06] #1448 closed

[2019-03-18 18:06] scanum commented on #1404
@officedocsbot close

[2019-03-18 18:06] #1404 closed

[2019-03-18 18:06] scanum commented on #1374
@officedocsbot close

[2019-03-18 18:06] #1374 closed

[2019-03-18 18:06] scanum commented on #1373
@officedocsbot close

[2019-03-18 18:06] #1373 closed

[2019-03-18 18:06] scanum commented on #1369
@officedocsbot close

[2019-03-18 18:06] #1369 closed

[2019-03-18 18:07] scanum commented on #1644
@officedocsbot close

[2019-03-18 18:07] #1644 closed

[2019-03-18 18:07] scanum commented on #1617
@officedocsbot close

[2019-03-18 18:07] #1617 closed

[2019-03-18 18:07] scanum commented on #1609
@officedocsbot close

[2019-03-18 18:07] #1609 closed

[2019-03-18 18:49] Hitchcock3 commented on #1732
My question was not about per user limits but the limit on the number of teams in a tenant, which is 500,000.

Put the question another way, can a tenant have 200,000 active teams and 400,000 archived teams?

[2019-03-18 20:46] thedrum808 opened #1830 "Skype for Business license requirement"
I was able to have a user without a SfB license schedule a Teams live events meeting. Is this by design? What dependencies are there on the Skype for Business license? I am interested to know how this would affect a TeamsOnly organization. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-6

[2019-03-18 21:06] MollyMalone commented on #1664
@scanum or @tonysmit can you help with this?  See @jambirk's translation of the user question above.

[2019-03-18 21:42] wakeyyc opened #1831 "Uniqueness violation"
![error](https://user-images.githubusercontent.com/5334832/54565628-63cede80-4994-11e9-9986-4d3e60dc8690.png)

I keep getting this error on step 7. Everything else works fine and I'm able to login but I can't get this step to work.

[2019-03-18 21:44] wakeyyc commented on #1831
https://docs.microsoft.com/en-us/skypeforbusiness/deploy/integrate-with-exchange-server/oauth-with-online-and-on-premises#feedback

when doing step 7

[2019-03-19 00:38] CarolynRowe commented on #1794
This is fixed.

[2019-03-19 00:38] #1794 closed

[2019-03-19 00:45] CarolynRowe commented on #837
Please see the following docs:
- Plan for media bypass with Direct Routing: https://docs.microsoft.com/en-us/MicrosoftTeams/direct-routing-plan-media-bypass
- Configure media bypass with Direct Routing:  https://docs.microsoft.com/en-us/MicrosoftTeams/direct-routing-configure-media-bypass

[2019-03-19 00:45] #837 closed

[2019-03-19 03:22] sowjanya365 commented on #1685
Hi @theangellmethod

Thank you for reaching out here and raising your concern. We appreciate it. The cmdlet is not yet published on the docs and the team is working on the update. Hope this helps. Thank you.

[2019-03-19 07:23] Petri-X commented on #1371
One additional proposal for your processes. Keep these issues open until they are really fixed. It would be much easier for you to just close the case and like never finalizing the updates. Also it would be easier to show Microsoft management that there are not so many issues open when you are closing these without fix.

[2019-03-19 10:38] piqueora opened #1832 "Tenant settings not understood by the Teams client"
Hello
Our tests show that the tenant settings for the Teams Upgrade Policy are currently not well understood by the current Teams client.
For example if the tenant is in SfBOnly mode, the Teams client will continue to send its IM to the Teams client instead of the Sfb client, so that this IM will be lost.
If this explicit setting is set on the user, the Teams client processes it correcly, so that

[2019-03-19 12:07] msordakis commented on #1351
Always on section still shows that only SQL Server 2014 Enterprise Edition and SQL Server 2012 Enterprise Edition are supported. Could you change that please?

[2019-03-19 14:11] scanum commented on #1371
@Petri-X  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue with details on what information is missing.

[2019-03-19 14:26] scanum commented on #1676
@jpwgc  Thank you for submitting this feedback.

From our understanding, the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-19 14:27] scanum commented on #1676
@officedocsbot close

[2019-03-19 14:27] #1676 closed

[2019-03-19 15:49] StingyJack opened #1835 "I saw a change alert that Pro Plus licensing covers teams."
https://techcommunity.microsoft.com/t5/Change-Alerts/Microsoft-Teams-now-part-of-Office-365-ProPlus/td-p/332379

Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59eff85-a7f1-764b-4716-b79d70c18d18
* Version Independent ID: 49ecb4f7-3e80-c81a-32b6-4f3fda8826dd
* Content: [Office 365 licensing for Micros

[2019-03-19 15:52] sowjanya365 commented on #1696
Hi @chall324

Thank you for reaching out!

If you're a team owner, you can change guest permission settings by going to the team name and clicking More options More options button > Manage team.

Go to the Settings tab, and then click Guest permissions. Currently, you can give guests permission to add or remove channels.

Note: To add or change properties like the guest's display name, phone numbe

[2019-03-19 15:54] scanum commented on #1675
@NicholasBurkhammer Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-19 15:54] scanum commented on #1675
@officedocsbot close

[2019-03-19 15:54] #1675 closed

[2019-03-19 15:54] scanum commented on #1673
@harsco01  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-19 15:55] #1673 closed

[2019-03-19 15:55] scanum commented on #1671
@officedocsbot close

[2019-03-19 15:55] #1671 closed

[2019-03-19 15:55] scanum commented on #1636
@Michal-Witwicki  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-19 15:55] scanum commented on #1636
@officedocsbot close

[2019-03-19 15:55] #1636 closed

[2019-03-19 15:56] scanum commented on #1644
@shivtorov  Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-19 15:56] scanum commented on #1656
@danmyhre Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-19 15:56] scanum commented on #1656
@officedocsbot close

[2019-03-19 15:56] scanum commented on #1608
@kakaroto1234 Thank you for submitting this feedback.

From our understanding the issue has been resolved. If you feel it hasn't been resolved please re-open this issue.

[2019-03-19 15:57] scanum commented on #1608
@officedocsbot close

[2019-03-19 16:36] sowjanya365 commented on #1687
Hi @Rick-Kirkham

Thanks for reaching out!

If you're a team owner, you can now invite guests to your team. Go to the team name, click **More options** > **click on the ellipsis button (...)** > **Add members**, and then enter the guest's email address.

**Notes:**

Guests just need a valid email address.

If you receive a "We didn't find any matches" error while trying to add a guest, your organi