[2018-11-29 06:27] dhoegl opened #1149 "Teams Configuration Latency"
It seems there is a delay in updating the Teams Apps settings when making changes to what apps are viewable from within the Teams site.

Is it possible to find out from the PG whether there is a known time-delay before seeing these changes take effect? I've not waited too long (~5 minutes after changing the settings), but unsure if I should wait xx minutes/hours before seeing the changes take effe

[2018-11-29 06:29] dhoegl commented on #1149
Okay, so I waited about 10 minutes, and noticed that my changes have taken effect. Should this be updated in the documentation? Thanks!

[2018-11-29 07:02] PaulKlerkx opened #1150 "no desktop shortcut"
Neither the last version or this version creates a shortcut to teams for us.  I have tested on 4 different windows 10 computers.   I use the noAutoStart=true switch to deploy from SCCM as we prefer to make usage optional.  There doesn't appear to be anything in the start menu or on the desktop.  I found that if I browse to the exe in program files and run it, a shortcut is then created on the desk

[2018-11-29 08:52] bubbletroubles commented on #899
This article is the "Skype for Business Update History". The updates listed include some CUs, but many are missing. The expectation would be that all CUs are listed, given its the "Update History". KB3061064 is not the "Skype for Business Update History"

[2018-11-29 15:21] YolineN commented on #886
Our issue has been resolved.
The problem was that there was no Teams (Office 365) license assigned the the user that was configured on the Surface Hub.
Hope this will help some of you.

[2018-11-29 16:38] intensite opened #1151 "Outlook Web javascript error preventing the page to complete."
Outlook Web javascript error preventing the page to complete.  As a result the spinning icon on chrome tab never goes away.

I tracked the issue to this page:
https://webpoolbl20a24.infra.lync.com/ucwa/oauth/v1/applications/112963265580/events?ack=52&key=

The page somehow never returns and always has the pending status code.
![image](https://user-images.githubusercontent.com/7981384/49236932-2c2f

[2018-11-29 16:42] Ariantor commented on #899
Please let me know what is missing, we will have to fix the master KB. We should not have missing KBs in the master KBs since it is being used as the reference point.  All info is originating from the master KBs. All the fixes that require KBs are recorded in the master KB - that is our base line, our knowledge starts there :). We create this page so the customers have 1 stop shopping for all KBs

[2018-11-29 17:41] Absoblogginlutely commented on #741
We got an email some time ago saying that our tenant was scheduled for upgrade today.
However when I go to the instructions for the upgrade, I also only have islands or Skype For Business. My initial thought was that we were already upgraded but I checked another client that is scheduled for upgrade next week and they also have Islands/Skype only.
I've had no notifications in the skype app that we

[2018-11-29 17:56] jambirk commented on #1144
@bament-hun That link was put in for the pre-release installations, and now that we've released the target of that link has been removed. We'll remove the link from the page. Going forward, you'd need to go through commercial purchase channels to get the server installers.

[2018-11-29 18:09] bament-hun commented on #1144
Thanks for your response. As the orinial request was coming from a customer, are we able to direct the customers to the proper page, where they can make the commercial purchase? Might be this is still not clear for everybody.

[2018-11-29 22:11] jonathaneckman commented on #579
Is there a UserVoice submission for this we can vote on? I cant find one.

[2018-11-30 01:51] LanaChin commented on #1024
I've followed up with the Teams team and learned that an org-wide team can only be created by using the Teams client. There's not another way to do so outside the Teams client (ie. using PowerShell, Microsoft Graph or any other client).  The team shared two workarounds and the article has been updated with the workaround information. See the FAQ section.  Cheers.

[2018-11-30 01:52] #1024 closed

[2018-11-30 08:01] Dominik-D commented on #579
Hi Jonathan, I created one here: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/34903765-limit-guest-invitation-functionality-to-specified
Did not get much traction yet. I was hoping Microsoft would fix this without UserVoice since the feature already existed up until some months ago.

[2018-11-30 17:02] jonathanrsantos1 commented on #1109
Updated :)

![image](https://user-images.githubusercontent.com/44894877/49303457-a3df8380-f4c1-11e8-8696-1e7f5f99e841.png)

[2018-12-03 09:44] alexlushsevernunival opened #1156 "Link from Message Centre points here but no relevant info on the page."
I got linked to here (https://docs.microsoft.com/en-us/MicrosoftTeams/quality-of-experience-review-guide#diagnostic-alerts) from an O365 Message Centre post.
The issue highlighted was 'Usage of TCP for media transport is causing a poor Skype for Business experience.' however the Diagnostic Alerts section does not mention this issue or provide me more information on it.
Please update this document

[2018-12-03 12:39] a-martirosyan opened #1157 "Clarification regarding sampling rate support for SkypeforBusiness Audio Specification Personal_Devices_Custom_Processing"
I have a question regarding audio sample rate restriction that is set in SkypeforBusiness_AudioSpecification_Personal_Devices_Custom_Processing_3_0_Final.pdf

The document states:
---------------------------------------------------
Skype will enable the offloading only on products verified to provide sufficient quality. The logo specification testing is one and most important input to this decisio

[2018-12-03 13:20] mcousine opened #1158 "Defining custom role"
Within Microsoft Teams there are two user roles: Owner and Member. Is there a way to create more custom roles ? in Azure AD ? and exposed them to TEAM ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20423b44-629b-1bee-280c-fb55680cd33e
* Version Independent ID: a60f6a48-89d7-98b6-4245-4be171fd06fd
* Content: [Assign t

[2018-12-03 15:43] itziktdk commented on #127
Hi,
Can't find CU8 dowload location, CU7 (July 2018) shown as the latest version.

[2018-12-03 17:06] samanthaw commented on #1105
@tony-xia this is fixed

[2018-12-03 19:55] dipinn26592 opened #1159 "Voicemail button not available when user logged in to Basic client"
When a EV enabled user logs in to Skype for Business **Baisc** client and another user searches for this user and Call to voicemail button is missing ( search > right click > call > voicemail button missing )

suggestion for correction :
- we can add granularity of each feature which wont work
Or
- Add a generalized statement " some of the advanced EV feature wont work"

Impact  : user cannot leav

[2018-12-03 20:18] CrystalThomasMS commented on #1124
The article has been revised based on your feedback. Thank you for your contribution!

[2018-12-03 20:18] #1124 closed

[2018-12-03 22:21] jdubyaeber commented on #387
c:\windows\serviceprofiles\networkservice\appdata\local\temp\tracing

see get-csclsconfiguration and
set-csclsconfiguration if you want to change this locaiton

[2018-12-03 22:34] AndreaBarr commented on #1141
@jasonfare Thank you for this inquiry

I will get this request for clarification over to the Teams writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-12-03 22:38] jambirk commented on #387
resolved this in a recent commit, so closing

[2018-12-03 22:38] #387 closed

[2018-12-04 10:17] conceicao-christophe commented on #737
Hi, I'm trying to configure the Guest Access feature in Microsoft Teams based on this article: https://docs.microsoft.com/en-us/MicrosoftTeams/guest-access-checklist, but when I got to Step 3, accessing to Teams & Skype for Business Admin Center and configuring the Guest access settings, the page turns blank or I've this message... Can anyone help me with this?!

Thanks in advance,

![image](https

[2018-12-04 10:51] TotallyInformation commented on #1016
Please note that the referenced article does NOT solve the issue. The MSI install only installs the `setup.exe` application to `program files` and runs it the first time a new user logs in. The application itself still installs to `%userprofile%\AppDaa\Local\Microsoft\Teams`.

[2018-12-04 15:02] CrystalThomasMS commented on #1008
After discussing this with the team, it is expected that it can take up to 2 hours for changes to group membership to reflect in Teams, and that is dependent on there being some activity in that team... so I hope your issue was resolved soon after your posted it. If you can point us to the location in our documentation where you were reading about this feature or hoping to find answers about your

[2018-12-04 19:39] AndreaBarr commented on #1142
@jasonfare Thank you for this feedback

I am not sure why the steps and what you are seeing are different. Let me get this over to the Teams writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

@chuckedmonson Could you take a look at this for us since your covering for so

[2018-12-04 19:48] AndreaBarr commented on #1143
@ChrisBell1 Did what James referred you to resolve your issue?

[2018-12-04 19:49] AndreaBarr commented on #1144
@jambirk Thoughts on this last comment?

[2018-12-04 20:23] ndambrosio opened #1162 "Updated PowerShell Requirements"
Hello, Tony,
I think we need to update the PowerShell and Windows Management Framework requirements for the SfBO module.  PowerShell 5.1 is now a prerequiste for running the latest SfBO Module.  The Windows Management Framework version would also need to be updated depending on the OS as well.

Thanks,
Nick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-12-04 21:14] SharS commented on #1035
Thanks for your feedback. We've revised the document to eliminate the inconsistency.

[2018-12-04 21:14] #1035 closed

[2018-12-04 21:19] jambirk commented on #1144
The link has been put back in place, but is still broken. The PG is working internally on either placing a version of Server 2019 on the Evaluation center or better messaging the download process on the VLSC site. This will take some time to sort out, but is getting attention.

[2018-12-05 00:31] dougand-MSFT commented on #905
@paul-jensen this page reflects certifications that have been completed. Currently the Wi-Fi networking certification is no longer active, therefore newer models will not be added to the page.

[2018-12-05 06:30] dougand-MSFT commented on #1157
Hello @a-martirosyan , if you work for one of our active partners in the certification program please forward questions about the specification through the regular communication that we already have. Otherwise if we believe we can make changes to clarify this question we'll do so on the next release of the specification.

[2018-12-05 07:40] a-martirosyan commented on #1157
@dougand-MSFT I don't have another communication channel. I'm just interested in evaluating my technology to see where it stands in terms of skype test spec. This is one of the questions that was not clear from the doc. I also have another question regarding test vectors that are assumed to be taken as cleen speech examples (page 73). It would be good to have opportunity to clarify these. How can

[2018-12-05 10:00] ChenRahimi opened #1164 "Business Server 2015 with CU8 update"
Hi,
Can't find CU8 download location, CU7 (July 2018) shown as the latest version.

It there any other way to address this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006dc464-2228-0d91-8726-223770c91411
* Version Independent ID: 28877a22-b558-4da6-551b-9bcd9bac96c4
* Content: [Choose your upgrade journey - Microso

[2018-12-05 10:00] hyoshioka0128 opened #1165 "Teams or チーム？"
Teams or チーム？

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 01f00359-e536-fdd5-2c6e-859247d6f578
* Version Independent ID: dbba7a52-9c65-dc96-c0b6-1aed6c414000
* Content: [ユーザーが積極的にマイクロソフトのチームでマイクロソフトのチームでのメリットをもたらします](https://docs.microsoft.com/ja-jp/microsoftteams/continue-journey)
* Content Source: [Teams/continue-journey.md](https://github.com/M

[2018-12-05 10:11] hyoshioka0128 opened #1166 "Remove "& #39""
　アップグレードする旅は、組織 & #39 に適した; ビジネス要件でしょうか。
→アップグレードする旅は、組織に適したビジネス要件でしょうか。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 006dc464-2228-0d91-8726-223770c91411
* Version Independent ID: 28877a22-b558-4da6-551b-9bcd9bac96c4
* Content: [アップグレードの旅では、マイクロソフトのチームを選択します。](https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-and-coexistence-of-skypeforbusin

[2018-12-05 10:30] aThuemmel commented on #1054
As it adds just everyone from you Azure AD, exisiting users will still be member, just all other users will be added to the Office Group behind the Team. Files, Posts etc. dont change. It is the same as you would just add all these members manually.

[2018-12-05 16:03] khorne3 commented on #1166
Hi @hyoshioka0128. Thank you for logging an issue! Would you be able to translate your request to English?

[2018-12-05 16:18] khorne3 commented on #1164
Hi @ChenRahimi. CU7 is the most recent update for Skype for Business Server 2015. I'll fix the doc to reflect this.

[2018-12-05 18:08] jambirk commented on #1166
via Bing translator:
"Upgrade your journey suitable for your organization & #39;
Is it a business requirement? Is the journey to be upgraded a business requirement for your organization?"

[2018-12-05 18:50] dougand-MSFT commented on #1157
Hello @a-martirosyan we currently discuss the specs in detail with our active certification partners, but this is not a breadth program so we are not able to answer general spec questions in this forum.

[2018-12-05 18:57] #1157 closed

[2018-12-05 21:01] SharS commented on #643
Added the channel side loading procedure.

[2018-12-05 21:01] #643 closed

[2018-12-06 03:16] hyoshioka0128 commented on #1166
"Which upgrade journey is suitable to your organization's business requirements?"
　→"organization & #39; s"
"& #39;" is the char code for single quote in HTML

[2018-12-06 06:20] Root-wuxl opened #1172 "Direct call pickup"
Is sfb support direct call pickup？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0d958a-9d50-5320-5601-2479ad501515
* Version Independent ID: 95968d67-8b43-0725-bb8c-b1fbf9a3f277
* Content: [Plan for Group Call Pickup in Skype for Business](https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/enter

[2018-12-06 06:57] ChenRahimi commented on #1164
Hi,

There is any alternative way to move users to Teams smoothly while using
Skype for Business Server 2015?

On Wed, Dec 5, 2018, 18:18 K Horne <notifications@github.com wrote:

[2018-12-06 08:03] a-martirosyan commented on #1157
@dougand-MSFT can you pls point me to the right forum/person who can clarify these things for me?

[2018-12-06 09:04] mregaya commented on #1043
Hello,

Do we have any update regarding this query ?

Thank you.

[2018-12-06 10:51] WithHolm opened #1173 "Avalible in teams admin portal?"
Is there any plans of adding this functionality to admin.teams.microsoft aswell (also no requirement for being group admin, as this site would only be avalibe for org-admins)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43a2187e-570d-f235-3536-69df8eaa906a
* Version Independent ID: da949f22-1617-c737-d5a4-5c51704443

[2018-12-06 13:38] realmnm opened #1174 ""Enrolled in Teams""
Hi,
Could you please elaborate what devices is "certified" and can be expected to show up in the device portal.
When I read the instructions it says:
-"Devices must be certified for Teams and enrolled in Teams. A device is automatically enrolled the first time a user signs in to Teams on the device."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-12-06 15:16] cbujak commented on #755
@kenwith - I attempted to access teams.uservoice.com and it is reported as no longer available.  Where can we go to make our needs known?  I'm looking to deploy Teams in a non-persistent virtual desktop. There is no way I can expect my users to download and install this every day. I need an installer for the master image, and GPOs to help with configuration.

[2018-12-06 15:27] jonwbstr opened #1175 "Coexistance setting not visible for any of our clients"
The Coexistance mode dropdown in this interface lists "Islands" and "Skype for Business only". Opened a ticket with MS Support and they did not have an ETA for when the portal would have these options for all tenants.
Use the powershell commands below to view and change the global policy:

# Current Upgrade Policy
Get-CsTeamsUpgradePolicy -Identity Global

# Change Global Policies
Grant-CsTeamsUpg

[2018-12-06 15:33] jonwbstr commented on #741
Just opened a separate issue not realizing the one titled "Document out of date" was addressing the issue I experienced also.

The command shared by NafzigerA sets the policies for a specific user while the admin interface is intended to configure the policy for all users in the organization. To set the global configuration to be applied to all users moving forward, use the following commands:

Gr

[2018-12-06 16:08] MicrosoftHeidi commented on #1043
Thanks for your follow-up. This is not in my current sprint, I will be looking at it in CY19. I need to identify a good resource to discuss this with.

[2018-12-06 17:17] AndreaBarr commented on #755
@cbujak Here is the url I use and I just checked that it works for me. https://microsoftteams.uservoice.com/forums/555103-public

[2018-12-06 19:47] KatrinW opened #1181 "Manage Teams does not show all the Teams in our Tenant"
I see most but not all of the Teams in our tenant. Is there a bug causing it to not show all Teams? I still need to rely on PowerShell to produce a report of all Microsoft Teams because this admin center does not appear to show complete information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b51b67a-d89c-723f-3520

[2018-12-06 21:06] kenwith commented on #687
It looks like the Exchange article referenced above has been updated and .NET 4.7.2 is supported on Exchange 2016 with CU11.

I am working to confirm with Skype for Business team if 4.7.2 is supported with CU6.

[2018-12-06 23:19] dmoore4 commented on #604
The link published here is still broken:  https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-clients/with-oms#create-a-skype-room-systems-v2-dashboard-by-using-the-import-method

[2018-12-07 00:00] dmoore4 commented on #604
Thanks @jambirk It was failing for me in Chrome on a Mac.  I opened Safari and it works there.  TY

[2018-12-07 10:58] teepirat commented on #1081
Are there any News in this topic?

[2018-12-07 17:01] dariomws306 commented on #735
@skipatrol1, I have added a reference to the article which talk about AD support for SfB 2015. It should be online in a few days.

AD 2016 is not officially supported with Lync Server 2013 because I think that Microsoft didn't test it, but I am pretty sure that it works. Anyway I should recommend that you don't upgrade your AD to 2016 if you have Lync Server 2013.

[2018-12-07 17:40] jambirk commented on #1137
The article was updated recently, this was addressed. Closing the issue.

[2018-12-07 17:40] #1137 closed

[2018-12-07 17:41] jambirk commented on #1138
Addressed this in a recent republish. Closing the issue.

[2018-12-07 17:41] #1138 closed

[2018-12-07 17:58] jambirk commented on #1061
@Turgayo  Please have a look here.

[2018-12-07 18:21] dariomws306 commented on #752
Hi @jbromelow, I am working on it.

[2018-12-07 18:55] dariomws306 commented on #640
@AndreaBarr, Ken have fixed it on Oct 3.

[2018-12-07 18:58] nsshommo commented on #312
The step by step guide is here: https://lucavitali.wordpress.com/2018/01/31/sfb-sfbo-hybrid-setup-quick-guide/

It is based on: https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Skype/SfbServer/skype-for-business-hybrid-solutions/plan-hybrid-connectivity.md

Information on "what to do to actually establish hybrid connectivity between SfB on-premises and online" is already in t

[2018-12-07 19:02] nsshommo commented on #312
@AndreaBarr Please let me know if I can put the step by step guide on the content (cmdlet) and submit a PR.

[2018-12-07 19:33] billvolt opened #1184 "Meeting Recording includes PSTN calls?"
Does this recording feature all recording of typical inbound and outbound PSTN calls or those not considered meetings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976b8a9b-5a3e-1f3b-b848-d1dfbfd3389d
* Version Independent ID: 2b13a471-3baf-0086-439a-f94abb162fd6
* Content: [Teams cloud meeting recording](https://doc

[2018-12-07 19:41] dariomws306 commented on #639
Hi @MichaelLaMontagne , I understand that based on the table:

Mailbox located on Exchange 2013/Exchange 2016 - User located on Skype for Business Server 2019 - Exchange UM will process it.

Here I think it's wrong:
https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/plan-um-migration#skype-for-business-server-2015-to-skype-for-business-server-2019-with-exchange-2013exchange-2016

Could you t

[2018-12-08 02:01] jamesrhea commented on #1006
@AndreaBarr, it looks like a Nov 14th revert by David Strome fixed this issue. The article now shows a Nov 14 last published date: https://docs.microsoft.com/en-us/skypeforbusiness/management-tools/call-quality-dashboard/data-api

Here's the revert commit:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/eac1f54721d4241cd8162c94bbfeb21935400478#diff-541189683fccdfec1554239509cd0

[2018-12-08 14:00] dariomws306 commented on #605
@martinboam it was removed.

[2018-12-08 14:00] dariomws306 commented on #601
@3k09 it was removed

[2018-12-10 15:46] NeilFS opened #1190 "OEM Media is too new"
CreateSrsMedia.ps1 provided early on in this guide is outdated and rejects the media:

Your Windows installation media is version 10.0.17763.107. Your SRSv2 kit requires version 10.0.17134.1.

I am using OEM media provided with the following label info:
CENA_X64FREO-EN-US-DV5.iso - X21-96642 - Win 10 IoT Ent SAC High-End 1809 32/64 EMB English OPK - SW DVD5 Win 10 IoT Ent SAC High-End 1809 64Bit E

[2018-12-10 16:15] vination commented on #908
Thanks for providing a Powershell script, however that opens a new can of worms. By default remote and local Powershell execution is disabled, unless explicitly enabling it via GPOs. It is disabled by default for a reason, and allowing this can potentially allow any malicious Powershell scripts to run on all PCs.

[2018-12-10 17:16] dariomws306 commented on #1043
Hi @ThomasBIDAULT , you should use DFSN and DFSR, install both roles, etc. The article redirect you to https://go.microsoft.com/fwlink/?LinkId=524384 which explains this.

[2018-12-10 17:17] dariomws306 commented on #264
Hi @nsshommo , you should use DFSN and DFSR, install both roles, etc. The article redirect you to https://go.microsoft.com/fwlink/?LinkId=524384 which explains this.

[2018-12-10 17:18] #1006 closed

[2018-12-10 17:30] vination commented on #908
Further to this, in the Powershell script provided the cmdlet "Get-NetFirewallRule" does not exist for Windows 7 computers. This should be stated in the script to avoid confusion.

[2018-12-10 17:35] AndreaBarr commented on #908
@cliffhobbs can you please address this issue?

[2018-12-10 18:49] #1166 closed

[2018-12-10 18:53] jambirk commented on #1190
@Travis-Snoozy  can you comment here? Media script issue.

[2018-12-10 20:55] AdamFlowers commented on #1150
Is there a switch for the MSI to not add a desktop shortcut? I used the base msi options (msiexec /i Teams_windows_x64.msi OPTIONS="noAutoStart=true") and we get the desktop shortcut, but this not the behavior we want.

[2018-12-10 21:19] kenwith commented on #1134
@NormundsKarklins - thank you for taking the time to submit feedback on the content. I can work with you to figure out how to make the content better.

[2018-12-10 21:22] kenwith commented on #1134
@NormundsKarklins - I am reading through the article and thinking what could be done to the article to make it better and address your concern about spoofing. Do you have any suggestions? As you mentioned, any domain could be spoofed to avoid a spam filter.

Perhaps the best thing to do is add a note to the article that if you prefer not to whitelist the domain then you need to make sure your user

[2018-12-11 01:06] dariomws306 commented on #272
Hi @nsshommo , SRTP and TLS are different security protocols.

@vitalizm , I have replaced 2.0 by 1.3 in the article.

[2018-12-11 01:16] dariomws306 commented on #254
Hi @nsshommo , Capacity Planning in this case (and usually) means that these values are the max. supported. If you go beyond them, you are out of support, you need to deploy a new enterprise pool.

[2018-12-11 04:14] hyoshioka0128 opened #1195 "remove "s""
Request:
 'Decide the timeline of your organization's upgrade journey based on messaging, meetings, and calling business requirements.'

Translate:
　組織 & #39; のタイムラインを決める s アップグレードの旅は、メッセージング、会議、およびビジネス要件を呼び出すことに基づきます。
→組織のタイムラインを決めるアップグレードの旅は、メッセージング、会議、およびビジネス要件を呼び出すことに基づきます。

#1 organization's →"organization & #39; s"
　　"& #39;" is the char code for single quote in HTML
#2 "決める s" → "決める" remov

[2018-12-11 05:34] NormundsKarklins commented on #1134
In my humble opinion, Teams ‘as a service’ should not transpose the responsibility to Customers for this matter in first place.

Apologies for being unable to provide a perfect suggestion here – I do not work at Microsoft and I have no experience in interacting with Exchange ‘Forefront’ (aka EOP) or ATP people of Microsoft 365 platform (where the false-positive spam detection apparently can occur)

[2018-12-11 09:41] hyoshioka0128 opened #1196 "Change the scope to link"
"&lt;li&gt;&lt;span data-ttu-id="70885-131"&gt;チーム&lt;a href="https://products.office.com/business/office-365-roadmap?filters=microsoft%20teams" data-linktype="external"&gt;のロードマップ&lt;/a&gt;を監視します。&lt;/span&gt;&lt;span class="sxs-lookup"&gt;&lt;span data-stu-id="70885-131"&gt;Monitor the Teams &lt;a href="https://products.office.com/business/office-365-roadmap?filters=microsoft%20teams" data-linkt

[2018-12-11 09:58] hyoshioka0128 opened #1197 "Change the scope to link"
"&lt;p&gt;&lt;span data-ttu-id="5aa69-108"&gt;ビジネスの Skype に中核となる概念、フレームワーク、およびアップグレード ・ パスを含む、チームのアップグレード旅の概要について&lt;a href="https://aka.ms/UpgradeOverview" data-linktype="external"&gt;の概要&lt;/a&gt;を表示します。&lt;/span&gt;&lt;span class="sxs-lookup"&gt;&lt;span data-stu-id="5aa69-108"&gt;View this &lt;a href="https://aka.ms/UpgradeOverview" data-linktype="external"&gt;overview&lt;/a&gt; for an introdu

[2018-12-11 11:00] DeanGross opened #1198 "Admin Credentials"
What kind of admin credentials are required, Global or SkypeForBusiness? please clarify in the text above

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c88f9f-8e46-966a-30be-5c2506cf578c
* Version Independent ID: 5568a567-2432-f76a-2179-daa43edf257b
* Content: [Plan hybrid connectivity between Skype for Business Ser

[2018-12-11 11:06] DeanGross opened #1199 "Lync Online is Obsolete"
I think that Lync Online is an obsolete term. please update the text as appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c88f9f-8e46-966a-30be-5c2506cf578c
* Version Independent ID: 5568a567-2432-f76a-2179-daa43edf257b
* Content: [Plan hybrid connectivity between Skype for Business Server and Skype for Bus

[2018-12-11 13:26] Arcass opened #1200 "End User Control"
Can the client list be updated to include the Teams client that support the Outbound Caller ID functionality? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a55064a-f85f-6f10-1e3d-be6177868338
* Version Independent ID: cabebb99-c0a7-a147-0c61-5b32cacc0651
* Content: [How can caller ID be used in your organizat

[2018-12-11 13:52] technoseansk commented on #461
I'm experiencing the same issue here that others are.  I have enabled external access in the teams/skype admin center, and I do NOT have any domains listed.  If my understanding is correct, this should mean I can IM all other domains from teams.  I can do this from skype, but teams flips between saying my org isn't connected with the other, and just saying nothing when I search for an external use

[2018-12-11 14:38] PeteWestlake opened #1201 "Whitelisting Teams"
All UK public sector bodies are instructed to follow NCSC End User Device Guidance (which is essentially just good practice) https://www.ncsc.gov.uk/guidance/eud-security-guidance-windows-10-1709#applicationwhitelistingsection which instructs enterprises not to install applications to locations where users can write files - which includes AppData. Opening up AppData to allow users to run any appli

[2018-12-11 17:57] kenwith commented on #1134
@NormundsKarklins - this is great information and I agree with you that there needs to be a better way to handle this. I know the Teams group gets their user information from a place called User Voice ( microsoftteams.uservoice.com ) and they do work across teams to focus on the user experience and not the internal organization. In the past Microsoft was a very different place but now it seems the

[2018-12-11 17:57] #1134 closed

[2018-12-11 20:04] CrystalThomasMS commented on #859
Thanks for your feedback and your patience. This content has been updated and published in the 2015 doc set: https://docs.microsoft.com/en-us/SkypeForBusiness/manage/network-management/qos/configuring-port-ranges-for-your-skype-clients#configure-quality-of-service-policies-for-clients-running-on-windows-10

[2018-12-11 20:04] #859 closed

[2018-12-11 20:11] #1008 closed

[2018-12-11 20:37] get-itips commented on #1199
thank you for taking the time to submit feedback on the content @DeanGross  I'll review your recommendation.

[2018-12-12 00:01] TorrenManson opened #1207 "Is PowerShell content coming?"
The PowerShell "content" here is pretty weak. Any plans to include real steps to accomplish the task? Or maybe link to it here https://docs.microsoft.com/en-us/microsoftteams/change-the-phone-numbers-on-your-audio-conferencing-bridge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76dc173c-0c98-1b94-a2f7-0a34781c985a
*

[2018-12-12 10:41] lyncjp opened #1214 "Is SKU name of Communications Credits correct?"
In this document, SKU name is described "MCOPSTNPP".
However, it is failed to assign license with this SKU name.
In currently, I think "MCOPSTNC" is correct name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f8c5e1-7f2e-3f29-2b97-6472c7fc292c
* Version Independent ID: 0b8e237a-c6b2-fe4a-5236-891658fcf1e2
* Content:

[2018-12-12 10:55] gtimread opened #1216 "Documented Import-Csv example does not work"
The documented example does not work: import-csv subnet.csv | foreach {New-CsNetworkSubnet $_IPAddress -MaskBits $_.mask -Description $_.description -NetworkSiteID $_.NetworkSiteID}. The New-CsNetworkSubnet command requires the Identity parameter.

Instead, you could use the text from Example 2 in this doc, which does work as expected (or adapt example 2 to include a Description in the CSV file an

[2018-12-12 13:12] rriggstx opened #1219 "Example Title Names"
The list of suggested channels includes "How do I ?".  However, channel names cannot contain special characters.  The screen shot shows it correctly as "How do I".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c9902e8-a0b7-b6af-4656-2024849a5e8b
* Version Independent ID: 85beb9a7-2682-b52e-210b-20e598e3dab3
* Content

[2018-12-12 13:32] sDaniel opened #1220 "Documentation is wrong on teams for mac"
It should be possible with the new version.... But I don't see the button when creating an event. Only the Skype button is shown.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 37e10f52-d726-d29a-e0a8-93729a32dfae
* Version Independent ID: 83555f80-a8ca-ee85-c1fc-e39891029758
* Content:

[2018-12-12 13:47] danmyhre opened #1221 "Web Client Participant"
How does a web client (guest) participant receive a dial out to join via phone?  Does the organizer have to call them or can the participant do it themselves?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf7bbd2-ebf4-48e6-c157-8035f976259e
* Version Independent ID: a6897ddf-473b-0109-9f4e-72c59981b631
* Content: [Di

[2018-12-12 13:49] Deusly opened #1222 "Conversation History"
How as Microsoft Teams can we actively monitor chat abuse ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 840dd36b-8c29-9738-4adc-ea9a7d277fd0
* Version Independent ID: b12c43c3-ed81-ace5-dfeb-77cac0f97fe9
* Content: [Conduct an eDiscovery investigation of content in Microsoft Teams](https://docs.microsoft.com/en-us/m

[2018-12-12 18:40] jambirk commented on #850
We believe this issue is resolved by PR 1209. Please let us know if this still needs attention.

[2018-12-12 18:40] #850 closed

[2018-12-12 18:57] charlesrg opened #1225 "Polycom Links are broken"
Please ensure the product links are working, most polycom are broken.

[2018-12-12 19:24] jasonfare commented on #1081
This document is no longer present online and was part of the documentation being provided to a large client converting from Lync On Prem to Teams through their M365 E5 enablement.  Any idea when this document will go back to being available?

[2018-12-12 20:00] AndreaBarr commented on #1081
@heyadamGIT Could you please investigate this issue?

[2018-12-13 00:00] dariomws306 commented on #735
Hi @skipatrol1 , this update is public now. Thank you for your feedback.

[2018-12-13 00:04] dariomws306 commented on #635
Hi @irongeekger , this was updated. Thank you for your feedback.

[2018-12-13 00:07] dariomws306 commented on #603
Hi @semenko , it was updated. If you have Skype for Business Online Standalone Plan 2 you should move to different business plan. You can move to E3 and use add-ons but your best option would be move to E5.

Thank you for your feedback!

[2018-12-13 00:09] dariomws306 commented on #274
Hi @nsshommo , a note was added to clarify this.

Thank you for your feedback!

[2018-12-13 02:46] khorne3 commented on #1225
@AndreaBarr I can tackle this issue.

[2018-12-13 02:46] khorne3 commented on #1221
@AndreaBarr I can tackle this issue.

[2018-12-13 09:08] Kosmosas opened #1230 "Cannot copy image from chat to other places (Request)"
When trying to drag and drop image to site or copy image to other place than "Teams" - it does not work.

Workaround - download image, open it and then use it with drag and drop or copy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa5a49f-c440-95a8-83a1

[2018-12-13 09:12] danieldhudson opened #1231 "Add to Surface Hub Admin Guide"
This guide should be in the Surface Hub Admin Guide, not the Teams guide, as this is specifically about a particular device and not the general Teams client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f256cd5b-3ec8-2d55-9ae4-ff9849d52eae
* Version Independent ID: 52c2271b-df38-5dc9-c2a1-553cdf3b5496
* Content: [Dep

[2018-12-13 17:06] kenwith commented on #461
I was able to get in touch with the product team that owns this feature and it is fully rolled out and should be working as expected. If it is not we really need to open a support service request so they can work with you to figure out if it is something specific to the tenant.

I did get some tips that I am going to add to the article if everyone here finds they might be helpful. Here are the tip

[2018-12-13 17:40] IlyaBelovRR opened #1236 "new domain comment"
After adding a new domain it takes hours to propagate to Teams/Skype for Business systems. Please include that in description. In my case took over 8 hours to allow New-CsOnlinePSTNGateway command for the new FQDN

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb0c2ef-6274-9167-ecc6-3695d7460a8d
* Version Independent

[2018-12-13 17:47] get-itips commented on #1110
I will take this one @AndreaBarr

[2018-12-13 18:38] akkawamu opened #1238 "keeping log duration"
The data mart that is the source of data for this report by default holds the data for ca 365 days since the call end.
However if the user making the call was in location (country code) AU then retention happens after 2190 days. For CA,NO - 150 days, DE,IT,NL, SE 180 days, DK -1825 days and GB 450 days.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID:

[2018-12-13 20:06] Kazzan commented on #461
Hi, the second problem is with the wording in the new portal itself. "By turning this on and adding domains to the allowed list, your users can communicate with other users in other domains and organizations."

So this tells someone if you need to communicate externally you need:

1. Turn this on.
2. AND add domains to the allowed list.
3. Now you can communicate with external parties.

But the re

[2018-12-13 21:04] mazhagiah opened #1239 "Teams take longer time to sync for enterprise voice"
After enabling enterprise voice for Teams user, 'call' button is not immediately available on Teams application. It takes more than 24 hours to sync and get this options. This would affect our customer / user experience with Teams and Direct Routing.

Is there any option to sync forcefully or replicate the changes quick.

Regards
Raja

[2018-12-13 23:43] #822 closed

[2018-12-14 14:26] mjtart opened #1243 "For Mac clients - Lync"
Mac section is incorrect now, delegates can be added directly to delegate group from contact search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0ca278a-2391-087e-8310-1d403496fbc5
* Version Independent ID: 5bb130e6-37c5-37ea-1a99-2f3697ca9916
* Content: [Set up and troubleshoot Skype for Business Online delegation

[2018-12-14 14:51] NicholasBurkhammer opened #1244 "Update documentation to include information on mobile client support for QoS."
Per mobility EEE in PG, this was added in 6.17 version of the mobile clients.  Please reach out to me directly for any reference documentation and to link you over to the EEE if necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b93842e-fc77-0bbe-5933-15f02cfa6f8a
* Version Independent ID: 394e5c67-b5d8-1f0f-ee

[2018-12-14 14:54] NicholasBurkhammer opened #1245 "Update docs with Mobile client version requirement for QoS"
Per mobility EEE in PG, this was added in 6.17 version of the mobile clients. Please reach out to me directly for any reference documentation and to link you over to the EEE if necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2f5a97d-6e1c-d26a-8b51-7f8c73e72f9a
* Version Independent ID: bfac7530-39f1-70eb-ab5

[2018-12-14 15:44] SiloReed opened #1246 "There are typos and inaccuracies in the gpupdate and gpresult command lines"
1. The document reads: "gpudate.exe /force" (it's missing a "p"). It should read:
gpupdate.exe /force

2. "gpresult /H &gt;gp.html" is not valid, the "&gt;" redirector should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c2487c-044d-1349-708a-5841fcb21ab8
* Version Independent ID: b7033454-1a9c-48d4-8004

[2018-12-14 17:16] SharS commented on #797
The script will be replaced soon. In the meantime, you can use the FastTrack iteration of the script available at https://myadvisor.fasttrack.microsoft.com/CloudVoice/Downloads?SelectedIDs=5_2_0_4,5_2_0_5

[2018-12-14 17:16] #797 closed

[2018-12-14 22:10] khorne3 commented on #1246
@AndreaBarr I can work on this.

[2018-12-14 22:10] khorne3 commented on #1245
@AndreaBarr I can work on this.

[2018-12-14 22:11] khorne3 commented on #1244
@AndreaBarr I can work on this.

[2018-12-14 23:10] chuckedmonson commented on #752
@roykuntz -- Can you please reply to this inquiry or direct to someone who can help? Thank you.

[2018-12-15 12:18] munrobasher opened #1248 "Set upgrade options for all users in your organization section"
It does correspond with what you currently see. Only the option to set co-existence mode is there. Nothing about notification, preferred app, background download?

https://i.imgur.com/OSsnF7G.png

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffbf0bfd-c15e-b10b-0cc9-6a27ac1e6634
* Version Independent ID: 58575371-9e09-

[2018-12-17 11:27] zweckj opened #1249 "Wrong Parameter Name"
In command stated above
"Get-CsMeetingMigrationStatus -UserId "ashaw@contoso.com""
the parameter "UserId" is used. However that parameter does not exist and is instead called "-Identity".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 990ca74b-6bba-a14b-071a-d13adb723a4c
* Version Independent ID: 52f55a58-30ce-c140-3ee

[2018-12-17 14:39] BSwagger opened #1254 "Set-csAccessEdgeConfiguration cmdlet syntax needs additional context"
Within the Set-CsAccessEdgeConfiguration cmdlet, the -EnablePartnerDiscovery $True parm/value is specified.  This essentially will make the on-premise deployment "open Federation" meaning the use of allowed domains list is no longer applicable and users can lookup/communicate to any federated partner simply with using DNS lookup, provided the remote deployment is also "open fed".  In the online SF

[2018-12-17 17:10] jupfeiff opened #1255 "Missing P2P comms requirements"
the article misses the information about what protocols and ports need to be opened for peer to peer communications between clients. ICE will be used and without these ports open the media will always hairpin via a Teams Media Relay at Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e8b2651-40bb-0d26-6126-d8

[2018-12-17 18:09] kenwith commented on #461
@Kazzan - I am not positive how the wording can be changed in the product but this is very good feedback and I appreciate it. Let me loop in someone that might be able to help review and update the wording in the product. @LolaJacobsen has done work on the UI strings and might know.

@LolaJacobsen - there seems to be some confusing wording in the Teams UI for federation.. would you be able to help

[2018-12-17 20:00] kenwith commented on #312
Let's ping @CarolynRowe for advice if she would want this documentation added.

[2018-12-17 20:21] AndreaBarr commented on #1245
@khorne3 I got direction to have Crystal work on this one.

@CrystalThomasMS I was directed by James to have you take this one since you were the one who originally worked on it.

[2018-12-18 01:48] greiginsydney commented on #1219
Thanks @rriggstx for pointing that out. 👍

[2018-12-18 13:36] get-itips commented on #1249
Referencing merged PR https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/1253

[2018-12-18 13:41] danmyhre opened #1264 "GitHub Links"
The links for the powershell commands at the bottom are pointing to GitHub instead of docs.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a67695fd-98de-576c-b1cd-e9a63a553bcb
* Version Independent ID: b313b61a-43ef-0fbc-ed23-5ff7e38b6a2b
* Content: [Planning to turn off Legacy authentication methods inter

[2018-12-18 14:08] Hoshimitzu commented on #461
I am having the same problems. Have everything setup but its still not working. If I write someone else in Teams he get the message in SfB, I also get the message that the User is outside the organisation and there are not all teams feature available.
What should I do?

[2018-12-18 15:17] rolandfalcon opened #1265 "automatically admit users is not on/off."
Options are Everyone, Everyone in organization, Everyone in your organization and federated organizations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc665475-f843-e4c1-0ca6-0b83873abb54
* Version Independent ID: 95d32598-c920-ed5c-d665-69394528ca27
* Content: [Meeting policies in Teams](https://docs.microsoft.com/

[2018-12-18 16:23] jyGwx4RwQJ commented on #355
The formatting for Memory and Disk for Tested Hardware Platform is wrong.  Three are two HHD disk specs listed under Memory.

[2018-12-18 16:41] CrystalThomasMS commented on #1245
@NicholasBurkhammer, can you tell me what specific changes need to be made to the documentation?

[2018-12-18 16:54] NicholasBurkhammer commented on #1245
I’ll defer to @Premal Gandhi<mailto:premgan@microsoft.com> who is the EEE with the PG for mobile clients.

@Premal, this is related to explicitly stating which clients, versions, etc., need to be documented in documentation.

Note:  I will be out of the office on holiday 12/19/2018-12/25/2018.  During this time I will not have access to email.  If you need assistance while I am out of the office,

[2018-12-18 17:07] NicholasBurkhammer opened #1266 "Change documentation to reflect a step that is required for changes to take effect."
Recommend putting a note in section (this is confirmed as required by RFC to PG) https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/modern-authentication/turn-on-modern-auth#how-to-get-the-get--and-set-csauthconfig-cmdlets

Note:  After configuring the CsAuthConfig, you must run Enable-CsComputer on each computer in order for the settings to take effect.

---
#### Document Deta

[2018-12-18 17:08] jambirk commented on #1264
I just fixed the source file, changes should be visible later today

[2018-12-18 18:03] AndreaBarr commented on #355
@jamesrhea Could you please investigate this issue?

[2018-12-18 18:11] NicholasBurkhammer opened #1268 "Update supported operating systems"
The following changes should be made to specify Windows Server 2016 is only supported with Skype for Business Server 2019 Call Quality Dashboard.  This is in response to RFC clarifying supportability and the documentation

Under section "Infrastructure Requirements For CQD" (https://docs.microsoft.com/en-us/skypeforbusiness/management-tools/call-quality-dashboard/plan#infrastructure-requirements-f

[2018-12-19 02:46] justinthorne opened #1270 "Metadata from CDR Sessions table in Skype for Business Server missing from Skype online Sessions table."
Is there any way to get session details like what was stored in the CDR database of Skype for Business Server?  Some of the metadata missing from this table for example is in IM's User1MessageCount, User2MessageCount and response time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4785e60-a102-98e3-bf8c-0d0d8d9e961b

[2018-12-19 09:12] seaSide974 commented on #461
Hello,

It doesnt work for me, i've tried the following :

1/ External Access is enabled by default, so i try contacting the user in team via his email, nothing shows. I tested that on 5G connection to avoid firewalls.
2/ In tenant A named domain1.onmicrosoft.com, i've added tenant B named mydomain.com
In tenant B named mydomain.com, i've added tenant A named domain1.onmicrosoft.com.
Same test out

[2018-12-19 13:19] seaSide974 opened #1272 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID: 1e4d6b87-f57c-fa45-1630-3c32b821d93c
* Content: [Communicate with Teams users in another organization](https://docs.microsoft.com/en-us/microsoftteams/let-your-teams-users-communicate-with-other-people)
*

[2018-12-19 13:19] #1272 closed

[2018-12-19 13:22] seaSide974 opened #1273 "External Teams communication not working"
Hello,

By default on a tenant, if we activate the external access, Teams could communicate to each other if I understand the article ? This is not working when i research an email, no email are showing.

So i tried adding each domain (toto.onmicrosoft.com and mydomain.com) to each tenant as allowed domained, still not working.

For both tests I used a 5g connection on my phone, and used the team

[2018-12-19 13:33] get-itips commented on #1266
Thanks Nicholas, I will take this one @AndreaBarr

[2018-12-19 14:48] SteffanH opened #1277 ""Teams Only" not availabe yet"
Org-wide Settings &gt; Teams Upgrade -&gt; Teams Only is not yet an option for all tenants; when will this be GA ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ab9d91-d5c4-be13-660e-10b1fdacadec
* Version Independent ID: efdd6696-1415-26ae-ab56-5e758a34311c
* Content: [Upgrade Basic checklist - Microsoft Teams](htt

[2018-12-19 15:01] saubermfg opened #1278 "Cannot Remove Emergency Location"
I have an incorrect emergency location listed and would like to remove it. I have removed all users from this invalid location I have reassigned them to a valid one. Step 5 under the removal instruction set references a "Remove" link, which does not appear to be available for me. It would be good to be able to remove this location, because right now, it could accidentally be assigned, which would

[2018-12-19 17:34] kenwith commented on #461
I am hearing the feedback and I am trying to reach out to the PM that owns this feature to go through the docs and answer these questions and make it clearer. My main concern right now though is if there is an issue with the feature or with specific tenant and the support service engineers would be able troubleshoot for everyones specific cases. Please open a support ticket and you can please tell

[2018-12-19 19:46] cjecwest opened #1279 "After dialed # connects, cannot dial an extension"
There doesn't seem to be an easy way to pull up the 10 key pad to dial an extension after the initial add participant phone connection is established.  Am I missing something?  I am doing this flow: "Meet Now"  --&gt; Add Participant --&gt; Dial #  --&gt; connect to user at POTS #  --&gt; Cannot dial extension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-12-19 21:15] AndreaBarr commented on #668
@ebmarquez I have updated the link for this. Thank you again for pointing this out.

[2018-12-19 22:03] khorne3 commented on #1244
@NicholasBurkhammer I'm getting started on this; would you please direct me to the reference docs so I know what needs updating?

[2018-12-20 00:05] Travis-Snoozy commented on #1190
That's not an issue with the script -- the script is working as designed.

The MSI indicates which build of Windows is supported. To change that requires that the release team tests with a newer build of Windows, and then releases an MSI with correspondingly updated metadata.

[2018-12-20 05:11] dawander opened #1284 "Two Tenants Both In Teams Only Mode"
Should tenants be able to communicate externally (all settings are on to allow) between teams only tenants?  We can't get this to work and support says "it's like this right now" with not much else to offer.  It used to work between S4B tenants but no longer in teams only mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-20 06:53] dawander commented on #1273
We have the same exact issue and support says "teams isn't quite ready."  I've been trying to get help from different resources.  I don't see what the firewall has to do with it.  If the other tenant uses their mobile phone outside the office as do I, we are still unable to chat.  To me, it seems the issue is on the backend and not the client side.

[2018-12-20 08:02] fracklen commented on #1108
The link is still dead. - Looking for a map of what I can put into my webhook JSON payload.

[2018-12-20 15:47] BenGVSU opened #1285 "Skype for Business Online?"
Does this same documentation apply to Skype for Business Online Rate My Call report?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d678ef9-0f4c-873f-e437-cef92841ebff
* Version Independent ID: 04e7966a-2bee-11a2-c3be-6ef1b0a100cd
* Content: [Rate my Call in Skype for Business Server](https://docs.microsoft.com/en-us/

[2018-12-20 16:34] jamesrhea commented on #1108
@fracklen, is this the doc you're looking for? https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors/connectors

If so, I'll go ahead an update the link. Thanks!

[2018-12-20 16:51] jamiekt commented on #983
I agree with @bartbilliet, the question at the top of this thread "How does this fit in the strategy of using Yammer for enterprise-wide communication" has not been answered.

There is now, very clearly, an overlap between org-wide teams and Yammer (this seems to be endemic in Office 365, see SharePoint & OneDrive for another example). The "inner-loop" versus "outer-loop" rubbish is just marketing

[2018-12-20 17:09] dawander commented on #1273
I forgot to mention that calls (audio and video) both work just fine from/to all platforms.  Only text/chat messaging fails.

[2018-12-20 18:03] kenwith commented on #1279
@cjecwest - thanks for this feedback and finding the area where the article needs to be clearer.

@jamesrhea and I are working on figuring out how to get this resolved in the content.

@chuckedmonson - might be able to help too.

[2018-12-20 18:44] AndreaBarr commented on #172
@brucesa85 The script that caused the error has been removed.

[2018-12-20 19:36] jamesrhea commented on #1279
@cjecwest, you should be able to use extension numbers after the call has been connected. Do you see a Call Controls button in the bottom right of the conference window?

You can see the icon and available options here, which should include the 10-key pad. https://support.office.com/en-us/article/make-and-receive-calls-using-skype-for-business-228e03aa-7361-4997-8dfa-1dd9bdc717f6

[2018-12-20 19:36] get-itips commented on #1285
Hi BenGVSU, I am sorry to inform you that this same doc only applies to Skype For Business On premises. But [Set-CsClientPolicy](https://docs.microsoft.com/en-us/powershell/module/skype/set-csclientpolicy?view=skype-ps) that is used in an example in the document  applies to both versions. @AndreaBarr

[2018-12-20 21:01] chuckedmonson commented on #752
@ruizoscar - Can you please reply to this inquiry? Thank you.

[2018-12-20 21:39] ruizoscar commented on #752
On the legacy portal:
•	The legacy portal is working fine. The “Set languages” link is disabled when a “Shared” number is selected because it isn’t possible to change the language of a shared number (The tooltip of the disabled link outlines that). If a “Dedicated” number is selected, the languages can be changed. There is a note in the article that outlines that languages can only be changed for

[2018-12-20 22:13] #752 closed

[2018-12-21 05:49] fracklen commented on #1108
Nope.
I'm building a custom webhook notification, so i need to build my own json
blob. There seems to be no documentation of what I can put in my json.

tor. d. 20. dec. 2018 17.34 skrev James Rhea <notifications@github.com>:

[2018-12-21 22:54] RomanMSFT opened #1293 "Add coverage for GCC customers"
Allowed domain would need to be gcc-email.teams.microsoft.com for a GCC customer, as opposed to a conventional MT customer...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43bc0cae-682a-7227-35d6-d3c37545a3a4
* Version Independent ID: fbcd00ac-8899-fb95-28aa-dfc523b81c65
* Content: [Add the Microsoft Teams SMTP domain

[2018-12-22 03:38] hyoshioka0128 opened #1294 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6f1d577c-1360-c2c1-a850-9ac6a941ec2f
* Version Independent ID: 346e43d4-22e0-2800-b80d-9fbdac324f75
* Content: [Mi

[2018-12-22 03:39] hyoshioka0128 opened #1295 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f737e278-7c89-e048-b60b-287615a829fb
* Version Independent ID: 1df35258-7360-74c4-680a-e154c54291fe
* Content: [Mi

[2018-12-22 03:41] hyoshioka0128 opened #1296 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2492e210-08f9-a476-97ec-008926def961
* Version Independent ID: adcb0dd9-4a3c-b665-6e34-ce3276c89b4d
* Content: [Mi

[2018-12-22 03:44] hyoshioka0128 opened #1297 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 754022e3-49eb-dbd5-e4f5-891c8ebeb491
* Version Independent ID: b73a6f64-d36f-298f-d9ac-34860abad42b
* Content: [ゲス

[2018-12-22 03:58] hyoshioka0128 commented on #1297
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

[2018-12-22 04:02] hyoshioka0128 commented on #1294
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

[2018-12-22 04:02] hyoshioka0128 commented on #1295
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

[2018-12-22 04:04] hyoshioka0128 opened #1298 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2eeeba05-6633-476f-8f33-4c36af70131f
* Version Independent ID: cb8cebc1-c3cc-66ef-b19d-6441f7ad3c91
* Content: [チー

[2018-12-22 04:05] hyoshioka0128 commented on #1296
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

[2018-12-24 22:07] davidshq opened #1300 "No Phone System Option for Nonprofit Office 365?"
Hi Folks,
It appears that these instructions don't work for Office 365 for nonprofits. The only "Phone System" option I have is, "Common Area Phone (Nonprofit Staff Pricing)" - but this does not appear to be identical to the above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8daf2547-3cd5-a95a-f164-3dd447987e81
* Ve

[2018-12-25 18:02] NeeranjanShettar commented on #1007
@MicrosoftHeidi - Any updated here, it's been long time no response, thanks in advance.

[2018-12-26 04:52] eijis2017 opened #1301 "Messaging: File attachments limit ‡"
The limit of File attachments in chat is 10 not 20.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/limits-specifi

[2018-12-26 14:20] chenxizhang opened #1302 "Can not see the "Teams-Only" option"
I can not see the "Teams-only" option in the Teams admin center. something I missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffbf0bfd-c15e-b10b-0cc9-6a27ac1e6634
* Version Independent ID: 58575371-9e09-fadb-76f6-7491df8580a3
* Content: [Setting your coexistence and upgrade settings](https://docs.microsoft.com/en

[2018-12-26 15:38] NicholasBurkhammer commented on #1244
Sorry for the delayed response as I was OOF.

@Premal Gandhi<mailto:premgan@microsoft.com> states this in original Content Idea at https://vstf-us-wa-28.partners.extranet.microsoft.com:8443/tfs/ContentIdea/ContentIdea/_workitems?id=87316&_a=edit which was to update documentation, but that ended up being third party documentation so we don’t update that.  There is also a Content Idea just for doc b

[2018-12-26 17:22] khojs opened #1303 "Step 9"
Step 9 should be start the start-CSWindowsService ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de48a6d-4cce-eaee-d9e8-7e001d890fea
* Version Independent ID: 3e2ad9ee-3b50-58a9-b78e-8db14387cf29
* Content: [Patch or update a Back End Server or Standard Edition server in Skype for Business Server](https://docs.micro

[2018-12-26 17:53] AndreaBarr commented on #945
@dariomws306 Could you please investigate this?

[2018-12-26 19:13] AndreaBarr commented on #924
@biilmanndk  The pull request has fixed this issue. I am closing this issue.

[2018-12-26 19:13] #924 closed

[2018-12-26 19:17] #989 closed

[2018-12-26 19:19] AndreaBarr commented on #990
@kellipav could you please make the changes listed above?

[2018-12-26 19:34] AndreaBarr commented on #925
@biilmanndk The article has been updated and the screenshot is now current. I am closing this issue at this time. If this issue is not resolved please re-open this issue.

[2018-12-26 19:34] #925 closed

[2018-12-26 19:51] khorne3 commented on #1301
@AndreaBarr I'll take a look at this one.

[2018-12-26 19:53] AndreaBarr commented on #956
@heyadamGIT Could you please investigate this issue?

[2018-12-26 20:21] AndreaBarr commented on #824
@nsshommo Could you investigate this please?

[2018-12-26 20:36] heyadamGIT commented on #956
On it. I will respond today.--Adam
-------- Original message --------From: AndreaBarr <notifications@github.com> Date: 12/26/18  11:53 AM  (GMT-08:00) To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com> Cc: heyadamGIT <adam@hellofromhere.com>, Mention <mention@noreply.github.com> Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] Pricing links don't

[2018-12-26 20:51] nenonix commented on #808
@Mike-Crowley  Thank you for contributing to MS docs. I need to investigate this issue and then I will work with you to improve the content.

[2018-12-26 21:52] dariomws306 commented on #945
Hi @TorrenManson , almost SfB Server articles apply to both: 2015 and 2019. In this case you can see that all apply to both except for Database Mirroring, you have a note there where you can see that it's not supported by 2019.
Also, I am update SQL Server versions.

[2018-12-27 02:50] heyadamGIT commented on #956
@mrbuckingham Agree.

The pricing link should point directly to https://products.office.com/en-US/business/compare-more-office-365-for-business-plans with a special call out saying "This pricing information is for enterprises. To get additional pricing, please click on the links on the left of the destination page. Voice capabilities (domestic and/or international calling) require a voice add-on f

[2018-12-27 07:47] AlexSchwerzmann commented on #1302
Hi chenxizhang
You can use the following cmdlet to set your users to "Teams-only"
Grant-CsTeamsUpgradePolicy -PolicyName tag:UpgradeToTeams
(see also: https://docs.microsoft.com/en-us/powershell/module/skype/grant-csteamsupgradepolicy?view=skype-ps)

[2018-12-27 18:47] #1105 closed

[2018-12-27 18:49] #371 closed

[2018-12-27 18:50] AndreaBarr commented on #357
@kellipav Please investigate this issue.

[2018-12-28 02:36] yiuyu2357 opened #1312 "enq"
how to look up the manu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b07cfcf-8f31-91ed-b1de-c7826a1ab91d
* Version Independent ID: dfbc4212-8f47-326a-f872-8186a915ae1e
* Content: [Country and region availability for Audio Conferencing and Calling Plans](https://docs.microsoft.com/en-us/microsoftteams/country-and-reg

[2018-12-28 02:37] yiuyu2357 opened #1313 "jeanSerri2019"
https://github.com/login?client_id=Iv1.d31913c6812a3ef4&return_to=%2Flogin%2Foauth%2Fauthorize%3Fclient_id%3DIv1.d31913c6812a3ef4%26redirect_uri%3Dhttps%253A%252F%252Fdocs.microsoft.com%252Fapi%252Fgithubauth%252Fauthorized%26state%3Df57e58aa4d0d81219236f357919d9e794c3fab7ee1c41821354ce4a577839936df3e520a3b68e63deff9f5caaefb5a5251f14a00c6510375109f3ef19d75eca5a665ad20f16f985af2aad08cfecb1f9b3042a3

[2018-12-31 13:18] zehawki opened #1334 "Unclear whether a tab added is accessible to all"
I came to this document to understand just one thing, unfortunately that is missing. When a tab is added by a owner or member, is it visible to and accessibly by all? (or is the tab private to the person who added it?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d33f55c-db55-923e-544f-fccb97f3c7a3
* Version Indepen

[2018-12-31 17:52] alisalih1 opened #1335 ""Tip" content table"
Tip content table doesn't format correctly on desktop browser. (Neither mobile)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c43928-84c0-0a75-9354-66aef3b83e46
* Version Independent ID: f95298ae-de58-02eb-0b49-8390ab161d4c
* Content: [Plan for governance in Teams - Microsoft Teams](https://docs.microsoft.com/en-us/

[2018-12-31 21:32] jamesrhea commented on #1108
@fracklen, if your notification uses actionable message cards, this doc might be what you're after:
https://docs.microsoft.com/en-us/outlook/actionable-messages/send-via-connectors

There's also a message card reference doc:
https://docs.microsoft.com/en-us/outlook/actionable-messages/message-card-reference

[2018-12-31 22:14] jamesrhea commented on #1335
@alisalih1 thanks for the feedback. This looks like it's due to the formatting applied when a table is within a note, combined with the lengthy content in the Details column. My updates should resolve the display issues.

[2018-12-31 23:11] khorne3 commented on #1334
Hi @zehawki. When you're adding a tab, it is accessible (or not) based on the permissions you've set for the affiliated Office 365 Group. Hope that helps!

[2019-01-01 12:02] chenxizhang commented on #1302
Thank you

[2019-01-02 09:16] ThomasBIDAULT opened #1339 "Broadcast meeting hybrid supported modalities"
Could you please precise which role are supported with meeting broadcast and a user homed On-premises in the environment described in the article. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98aadf85-9538-d253-04e8-6731aa91f443
* Version Independent ID: a9bc7b52-ccde-6be1-4742-51692a0da938
* Content: [Configu

[2019-01-02 09:30] JamesMemmott opened #1340 "Permissions for access to CQD"
The document describes the level of helpdesk permission (tier 1 & 2) required to access Call Analytics. However, there is no mention of the access levels required to access CQD

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dedf646c-c5dc-5645-54a2-1bca0d406f45
* Version Independent ID: 9a52f0b1-2970-559e-2d18-8e565662c

[2019-01-02 12:47] thommck opened #1341 "CAP licence doesn't include Teams"
The CAP SKU doesn't include a Teams licence, only Skype for Business Online (Plan 2). Is this going to be updated to include a Teams licence?
Either way, I think the documentation should make this point clear

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ab5215-f24f-75cf-bb92-16ac0ff5e5ca
* Version Independent ID: 7

[2019-01-02 13:31] scnbwy commented on #1092
经过我的测试需要在Office365的Teams管理控制中心手动添加要与外部通信的域名，在S4B Online中默认是可以和其余所有Office365外部域名进行通信的，但是Teams看起来不支持。

[2019-01-02 20:23] 541Matt commented on #468
I had the same issue (and with the same version as the OP). I uninstalled the newer version 14.14.26429. I re-ran the Skype connector installer and it installed the version that it needed (the error says it needed 14.10.25008 , but it installed 14.10.25017). You don't need to download the old version from Techspot since the prerequisite version is included in the module installer.

[2019-01-03 12:35] walkercz opened #1343 "What happen after trial expires with users data?"
What happen after trial expires with users data?

[2019-01-03 16:37] khorne3 commented on #1146
Hi @ang216! I just wanted to follow-up with you on this -- I'm sorry for the delay! Are you still seeing this issue? It appears that the Anycast VIP address provided should be responding to all pings, so if this isn't the case, you may need to get in touch with your sysadmin (or your sysadmin may need to escalate to Microsoft support). Thanks!

[2019-01-03 18:00] LolaJacobsen commented on #1056
@islubin - Happy New Year! Pinging you to get this back on your radar.

[2019-01-03 18:00] nenonix commented on #1303
@khojs Thank you for your feedback. I will work with you to improve the content. Can you help me with some more detail? Are you suggesting that we need to add a step or that Step 9 is incorrect?

[2019-01-03 18:05] LolaJacobsen commented on #1070
Article has been updated. Thanks, Debbie.

[2019-01-03 18:05] #1070 closed

[2019-01-03 18:09] LolaJacobsen commented on #1081
@LanaChin - this article is no longer in our docset. Please investigate.

[2019-01-03 21:36] #945 closed

[2019-01-04 14:55] PJMarcum opened #1344 "Can't deploy msi during Autopilot"
The Teams msi does not install during autopilot. Per the documentation. "We recommend that you deploy the package to the computer" however when it's imported in to Intune I see "Execution Context: Per-User" which is a value read from the msi which cannot be changed. When I assign the msi to all devices Autopilot will hang on the teams install, it looks to me like the msi never even launches. I say

[2019-01-04 18:33] manny122 commented on #836
I have SFB Online users in my org, and transitioned my first account to TeamsOnly mode.  It appears that this account in TeamsOnly mode, can receive SFB chats from same tenant and external tenants. However, NOT from consumer Skype clients.  Question #1, when will this work?   Question #2 This Teams user also can NOT add external tenant SFB contacts into his Chat folders as the querying in the Team

[2019-01-04 18:36] kcsportal commented on #836
Yes, I would also like for my education Teams users to be able to connect with Skype consumer. Mostly, this is to support "[Skype in the Classroom](https://education.microsoft.com/skype-in-the-classroom/overview)."

[2019-01-04 18:39] MarcoCarampanta commented on #836
Sorry to have missed your remark...
The fact that the Road Map states "released..." doesn't mean it will instantly reach every single Tenant under Microsoft. (personally i have only seen a few dozens) - out of thousands.

[2019-01-04 19:51] dariomws306 commented on #808
Hi @Mike-Crowley , but if you click on "Find someone or dial a number" and write something, you should get the Skype directory tab, shouldn't you?
And I think it's the screenshot in the article. What do you think?
Thank you!

[2019-01-04 20:35] jahaney opened #1345 "Duplicate graphic"
The Scaled Consolidated Edge with DNS Load balancing appears to use the same graphic as the Scaled Consolidated Edge with Hardware Load Balancing. Information is the same, but it might be more clear to remove the HLB from the DNS LB image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44959660-7464-6f77-6558-d49333fc93

[2019-01-04 23:46] PSPally opened #1347 "The Import-Module command looks unnecessarily complex."
You don't need all the double slashes.  :-)
The document has "Import-Module "C:\\Program Files\\C...", the reason to use double quotes in PowerShell is because you want things inside the quotes evaluated.  Like including a variable.  Since your not doing that single quotes, like ', would be the type to use.  And since you're not  having it evaluated the \\ can be changed to a \.
Although I would e

[2019-01-06 16:51] SusanKocerka opened #1348 "What about Homeoffice or just mobile anywhere?"
There is not always classified network range or something. I mean is there a kind of exception to say: If it is not one of those networks, then this person is on the road or homeoffice.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 2f8119c9-61af-b469-af98-ddd37764c0ca
* Version Indepen

[2019-01-06 21:06] oclaros commented on #826
We have the same issue via intune. Adding /q OPTIONS="noAutoStart=false" or /q OPTIONS="noAutoStart=true" sill results in 'auto-start'. This is quit annoying for the end-user. Still trying to figure out how to deploy via Intune for Education.

[2019-01-07 10:54] PBrawn commented on #1016
Yes, they ignored the part about installing and running from program files directories, fixed everything else and marked it as closed.

[2019-01-07 11:52] Petri-X opened #1349 "MS Online Module is old"
Hi,
As MS says: [https://docs.microsoft.com/en-us/powershell/module/msonline/?view=azureadps-1.0](url) "_Customers are encouraged to use the newer Azure Active Directory V2 PowerShell module instead of this module._"

How this affect to the current instructions when MSOnline module is not available anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-01-07 12:20] Petri-X commented on #1349
Eh...
I mixed connect-MSonline and Connect-AzureAD.

Have a nice day ! :D

[2019-01-07 12:20] #1349 closed

[2019-01-07 14:53] AlexVincent1 commented on #100
Hi - we are having this same issue. Please can you advise what the setting was?

[2019-01-07 17:11] pgrlopes opened #1351 "Doc is not updated with the most recent SQL Server editions"
AlwaysOn section of the Back End High Availability for Skype for Business is outdated, showing that the only supported SQL server versions are 2012 and 2014. This article states that sql server 2016 is supported: https://support.microsoft.com/en-us/help/4100776/sql-server-2016-sp1-is-available-for-the-back-end-servers-of-skype
Sql server 2017 should be too.

Customers are getting confused on this,

[2019-01-07 17:54] islubin commented on #1056
I submitted a PR that I believe makes it more clear - Lola take a look and feel free to edit.

[2019-01-07 18:20] AndreaBarr commented on #836
@heyadamGIT Could you please answer these inquiries?

[2019-01-07 20:01] SusanKocerka commented on #836
@AndreaBarr Thank you vice versa @heyadamGIT :-)
I read the whole docs about "Coexistence modes" multible times, so I guess PS is the only option to change the (Portal) behavior and therefor the associated TeamsUpgradePolicy for now. Right?

[2019-01-07 20:33] #956 closed

[2019-01-07 20:47] heyadamGIT commented on #836
@bjwhalen docs.microsoft.com under Fundamental Concepts | #6 bullet point that reads "assign TeamsOnly mode to that user using either PowerShell or the Teams Admin Center." should read "assign TeamsOnly mode to that user using PowerShell (see Grant-CsTeamsUpgradePolicy help at https://docs.microsoft.com/en-us/powershell/module/skype/grant-csteamsupgradepolicy)."

Reason: confirmed Teams Admin Cent

[2019-01-07 20:51] heyadamGIT commented on #836
@kcsportal Good point about the icon! Can you please submit this via Feedback in the Office Admin portal? Thanks.

[2019-01-07 21:03] heyadamGIT commented on #836
@manny122 Support for Skype consumer has currently been declined by engineering: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/16958347-skype-integration-consumer-federation You can vote up the feature request there.

Furthermore, autofill for external orgs and tenants who are federated is on the convergence roadmap here https://microsoftteams.uservoice.com/forums/555103-pu

[2019-01-08 01:13] oradcliffe opened #1355 "This assumes ADFS"
This is a little confusing, as it assumes only ADFS as STS.  We can also use AzureAD as STS, as this article suggests:
https://techcommunity.microsoft.com/t5/Skype-for-Business-Blog/Hybrid-Modern-Authentication-for-Skype-for-Business/ba-p/134751

We should have this page updated with this information as well so customers don't assume you can only use ADFS as token signer for modern auth with Skype

[2019-01-08 02:50] jinlianhanzi commented on #696
Hi Jambirk， sorry to interrupt but I have a strange issue when configurating our Lync server. Our SfB mobile (iOS and Android) end users are seamlessly auto switched when from internal WiFi to external 4G, IM function works pretty well, but they will drop if they were in a conference and never auto reconnected.
Any suggestion on troubleshooting? Thanks a lot.

[2019-01-08 06:42] nsshommo commented on #826
Okay, I am looking at this issue.

[2019-01-08 13:45] webstaff opened #1356 "Server address is different than one setup by the 365 domain setup wizard."
As titled the address sipdir.online.microsoft.com is different than the one in the domain setup wizard which is sipdir.online.lync.com Which one should you use, not that either one is working for me currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81793c63-4503-3acf-4dd8-3e5548baedd1
* Version Independent ID:

[2019-01-08 14:19] Jason6311 opened #1358 "No Teams documentation? Wow"
How can the Office 365 section of this deployment documentation not have a single mention of Teams? This is a fail. Please address that issue here, or create a separate page dedicated to the transition of SRS rooms from SfBO to Teams. Big miss here folks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41965bc8-45c0-e4e

[2019-01-08 17:34] SharS commented on #868
@jansenbro - here's the answer to your question:

Those (all *Mosl* cmdlets) have all been replaced by the Azure Active Directory 2.0 cmdlets. That one specifically is:

Connect-AzureAD -Credential $cred

https://docs.microsoft.com/en-us/powershell/module/azuread/connect-azuread?view=azureadps-2.0

[2019-01-08 17:34] #868 closed

[2019-01-08 23:56] swakhlu opened #1364 "SfB Server 2015 online documentation flops to SfB Server 2019 pages when links on left are reviewed"
I start with SfB Server 2015 page title on left of screen. But as I select links underneath the page title shifts to SfB Server 2019. So hard to know if I am reading about SfB Server 2019 or 2015 feature.  I am guessing every link after the Whats new is based on common content between the two versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-09 00:38] LolaJacobsen commented on #844
Hi, @itthing and @expiscornovus.

Here's the reply from the feature PM:

We currently don't support creating an org-wide team via PowerShell, and don't have any planned work to support this in the near term.

We don't expect regular users to be able to create an Org-wide team. At this point in time our recommendation is to sign-in with an global admin account to create the org-wide team. In the fu

[2019-01-09 00:38] #844 closed

[2019-01-09 06:53] hkusulja commented on #890
@AndreaBarr any info on this topic?

[2019-01-09 14:10] JBFulc opened #1368 "Changing global policy doesnt work"
I have tried to change the global (org-wide default) policy so that chat is enabled.
The button switched to on and I was able to save. The chat functionality was not enabled.

I created a new policy as a copy of the default and applied it to my account. Chat was enabled within minutes.
This would be OK apart from the fact there is no way that I can see to set this policy to all users. I have to go

[2019-01-09 15:54] JBFulc commented on #1368
So the next problem now that chat is enabled. I get this when trying to chat with another person. They also get the same when they try to chat to me:
![image](https://user-images.githubusercontent.com/41430508/50910892-a325ff80-1426-11e9-9369-b367911ae2be.png)

Going to the old console that manages this I found:
![image](https://user-images.githubusercontent.com/41430508/50910943-bf29a100-1426-11e

[2019-01-09 16:37] DeanGross opened #1369 "Guest Experience"
Please add information about the Guest Experience with SharePoint Online and Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60fd4eb7-6f1a-2dfa-27db-01c3a0d00f30
* Version Independent ID: c1688075-18bf-534d-f402-ee062840d83f
* Content: [How SharePoint Online and OneDrive for Business interact with Microsoft Teams

[2019-01-09 18:14] Chatou7 commented on #1068
Still is unclear about he "Accepted SMTP domains". Is it required or not ??

[2019-01-09 19:09] AndreaBarr commented on #890
@nsshommo  can you please investigate this?

[2019-01-09 20:48] #1219 closed

[2019-01-09 20:52] #1246 closed

[2019-01-09 20:53] #355 closed

[2019-01-09 23:58] Petri-X opened #1371 "Outdated information, and a bit confusing text"
Hi,
This page seems to be very much like outdated. Skype service name is not anymore "Skype for Business Server". The new name seems to be "**Skype for Business Online**". Same goes to Exchange, it is not anymore "Exchange 2013". but most likely "**Office 365 Exchange Online**"

Also this sounds a bit strange: "_...If you later need to delete that certificate..._". Would be nice to see some exampl

[2019-01-10 08:38] hkusulja commented on #890
It seems, that this is normal Office 365 group, also in Azure AD with fixed/dedicated membership, so no dynamic membership is used and no additional license is needed.

Anyhow, which service is in-charge for updating/managing the membership, and more details on this service is needed (how it works, what is included, what is not) and how to manage this service (how to create block list / exclusions

[2019-01-10 15:07] JBFulc commented on #836
I'm stuck in the loop too:
![using skype and disabled](https://user-images.githubusercontent.com/41430508/50977011-3b84b880-14e9-11e9-8860-d839b0b037e4.PNG)
If you click on the start new chat:
![clicking on the skype option](https://user-images.githubusercontent.com/41430508/50977030-46d7e400-14e9-11e9-87f7-5ab94a0b9e0e.PNG)

Cant chat in teams p2p.

[2019-01-10 17:53] mazhagiah commented on #1083
Does it require to provide E5 license for Activation user or just sip address is enough?

[2019-01-10 17:59] mazhagiah opened #1373 "License for activation user in Direct Routing multi tenant"
Does it require to provide E5 license for Activation user or just sip address is enough in customer's tenant for Direct Routing in multi-tenant ?

[2019-01-10 18:23] robertjacobson opened #1374 "Message formatting dropped when originating from the command-bar"
Messages that contain links, markdown, or other text formatting started from the command bar (entire message content is added to the command bar) is not auto-formatted appropriately on Mac OS (10.14.2). Essentially, a new message originating from the command bar that contains a link, the message is formatted as plain text and the link is not click-able.

[2019-01-10 18:42] bjwhalen commented on #836
TeamsOnly is now available to all in the admin UX.   Support for external contacts is in TAP and should be available publicly soon.  Support for Skype Consumer is not officially planned at this point.

[2019-01-10 18:54] TehWez commented on #1368
Have the same exact issue.  I changed the Messaging policy in Microsoft teams for that user, now that user can send chat messages but not relieve them.  Very frustrating.

[2019-01-10 20:32] TorrenManson opened #1375 "Article is missing details on Meeting Migration Service"
Needs updating to include MMS https://docs.microsoft.com/en-us/skypeforbusiness/audio-conferencing-in-office-365/setting-up-the-meeting-migration-service-mms
Sorry, feedback left in wrong article :(
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9144d9e4-1894-e4a3-212b-7e765a8d6079
* Version Independent ID: bb9c62be-58b

[2019-01-10 20:35] TorrenManson opened #1376 "Needs updating to include Meeting Migration Service"
Articled needs to be updated to included MMS https://docs.microsoft.com/en-us/skypeforbusiness/audio-conferencing-in-office-365/setting-up-the-meeting-migration-service-mms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c88f9f-8e46-966a-30be-5c2506cf578c
* Version Independent ID: 5568a567-2432-f76a-2179-daa43edf257b

[2019-01-11 01:19] LanaChin commented on #1081
This article is being reviewed for updates and will be reposted once those updates are made.

[2019-01-11 08:10] JBFulc commented on #836
Unfortunately doesn't change the issues above. Cant chat in Teams... 'Administrator has disabled chat for this user' Even though chat is enabled and settings are teams only. Going to skype takes you to Teams.

[2019-01-11 08:49] JBFulc commented on #836
Yep all enabled.

[2019-01-11 11:37] nenonix commented on #1376
@TorrenManson Thanks for pointing this out.  Is this the right article?  If so, are you suggesting we add the article as a link? Please give me some more details so I can work with you to amend the documentation.

[2019-01-11 13:11] StephanGee commented on #908
I rewrote the powershell to address redirected userprofiles (some ppl use that) and that does not run when powershell version is less then 3.

If ($PSVersionTable.PSVersion.Major -le 2)
    {
        Write-Host "PowerShell Version lower than 3. Stopping Script"
    }
Else
    {
    $currentuserdir = $env:USERPROFILE
    $usersdir = $currentuserdir -replace $env:USERNAME,""
    $users = Get-Childit

[2019-01-11 15:16] liesnys opened #1379 "Adoption Team model - image resolution"
Hi,
would it be possible to publish the Large Scale Corporate Adoption Model image with a higher resolution, please?

Many thanks!
regards,
Liz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3382a91-be9f-bfab-d91f-3197a6655b97
* Version Independent ID: 51459c35-8bb3-1aaa-0da0-2128d29251ea
* Content: [Define outcomes a

[2019-01-11 16:21] TorrenManson commented on #1376
Hi,

Yes, it’s the right article.

The section “User accounts and data”, the very last bullet in the section says “Conferencing data, meeting content, and scheduled meetings…users must reschedule meetings…”

However, the Meeting Migration Service will do this automatically when a user is migrated from SfB server to SfBO or Teams.

Cheers,
Torren

From: Nicole Turner <notifications@github.com>
Sent

[2019-01-11 16:55] JBFulc commented on #836
In a drastic turn of events. 3 users one of which is my own account are able to chat. All three accounts have the same policies applied as the others.

[2019-01-11 20:32] d1bjo0 opened #1381 "Testing for Teams client"
You might want to update the "End User Control" Section to detail the setting on the Teams client. Under Settings-&gt;Calls an end user (if enabled by the admin) can select "Hide my phone number and profile information for all calls" option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a55064a-f85f-6f10-1e3d-be61778

[2019-01-11 21:06] flinchbot opened #1382 "Best Practices Analyzer Deprecated"
The Best Practices Analyzer has not been updated Since Lync 2013 and does not work with Skype for Business 2015 or 2019. Even if it were to still work, the link in the article is to the 2010 tool and not the 2013 tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd894035-9a37-53f0-da27-61c7a6947542
* Version Indepen

[2019-01-11 21:45] AndreaBarr commented on #1141
@get-itips Could you please investigate this issue?

[2019-01-11 23:30] bagobones commented on #836
I can confirm that FINALLY "Teams Only" is now available as a per user migration policy in the portal.

Note to self, that rolling out to call customers / generally available can mean greater than 3 months.

[2019-01-11 23:30] #836 closed

[2019-01-12 01:17] get-itips commented on #1141
Yes. Of Course

[2019-01-13 01:01] dariomws306 commented on #1076
Hi @joaoalhinho , Thanks for submitting feedback. Onprem user don't require a license to use Call Data Connector.

[2019-01-13 16:03] dariomws306 commented on #639
Hi @MichaelLaMontagne , I think if you are in SfB 2015 and Exch 2013/16 and you want to remain onprem, you can migrate to SfB 2019 and the Exchange UM service will process voicemail messages.

But if you don't need to remain onprem in the same scenario, you can migrate to SfB 2019, configure a hybrid environment and enable a hosted voicemail policy. In this case, Cloud Voicemail will process voice

[2019-01-13 20:15] funzel1 opened #1390 "Nothing helpful on typical daily business work"
Still a role missing if you have different IT teams for Exchange, Skye and Teams.
So a Sharepoint admin for example should be abler to set , change Teams owner, members (o365group) and able to run ps get-team against any Team.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 6b434530-6bf2

[2019-01-14 12:46] get-itips commented on #1382
Thank you @flinchbot I will look into that.

[2019-01-14 18:33] gcormier commented on #1273
Not working for us either. A global admin account can do external chats and search for external users, but a regular user is unable to search for external users, or do external chats.

[2019-01-14 19:53] kenwith commented on #1279
@cjecwest - I am going to go ahead and close this out as @jamesrhea posted a link for the 10-key pad icon. Let us know if you don't see it the way the article describes or there is something wrong in either of the articles. @jamesrhea - if you think the article for this issue (first post in thread) should be updated please submit a PR for it too and we can get it merged so we can avoid any confusi

[2019-01-14 19:53] #1279 closed

[2019-01-14 19:56] tonysmit commented on #1273
@nomorephones (Jamie) - any ideas?

[2019-01-14 19:56] kenwith commented on #461
@tonysmit - so glad you are back to help us with this one.. I am not sure if this is a product issue or doc issue or both. :)

[2019-01-14 20:09] jamesKAC commented on #1273
All of my issues took time to resolve themselves.  I created a new tenant and it took about 3-4 days for external chat to start working.  When I enabled guest access it took another couple days for that to start working.  I made no changes on my end (other than turning on guest access).  My external access was set to on by default in new tenant.

[2019-01-14 20:44] kenwith commented on #312
I believe this is already being covered in content that BJ created. Going to close this one out.

[2019-01-14 20:44] #312 closed

[2019-01-14 21:41] tonysmit commented on #461
We are working through a solution for this doc with the PG. I am proposing that we break this into real world scenarios. If you have suggestions, please let us know here. We'd love your input.

[2019-01-14 23:13] LanaChin commented on #1056
Thanks for making the updates @islubin. The changes are live.

[2019-01-14 23:13] #1056 closed

[2019-01-15 02:05] MichaelLaMontagne commented on #639
The original issue with this article was correct October 16, 2018: https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/da5ee58d6c85f1dab645619b81fcd582774c83b2#diff-fe951518a0ab02e0503717b2d7c41245

[2019-01-15 02:05] #639 closed

[2019-01-15 02:11] dariomws306 commented on #639
Thank you!

[2019-01-15 14:40] fotsopp commented on #1236
Seeing the same myself. Added a domain from a SBC provider and I am not able to add the PSTN Gateway since the domain is not propagated. I also tried adding a new user with E5 license to the new domain. That was a suggested sollution to speed up the propagation, but have had no luck so far.

[2019-01-15 16:37] thommck opened #1398 "Confusing tip"
In the "tip" near the top of this page, it says "You might have noticed that we no longer call out specific versions of the drivers, Skype Room Systems v2 client, or Windows 10 Enterprise. This is deliberate".
I find this really confusing. As a VLSC customer, I am able to download 1709, 1803 or 1809. However, from previous experience, the SRS app isn't always supported on the latest versions. I ca

[2019-01-15 17:18] jambirk commented on #1398
Not calling out specific versions is indeed deliberate, because the intention is that you rely on the media creation script which should fetch the drivers etc for you. This is precisely because there are so often support lags and SRS may or may not work with the most recently released versions of driver or OS, but the script _is_ updated when we verify new versions to be compatible with SRS. Let t

[2019-01-15 17:37] thommck commented on #1398
I understand that but the script doesn't download the Win 10 ISO for us.
(as a side note, it would be useful to show an image of the script output or a small video of it running so users know what to expect)

Only by running it, and confirming you already have the WIn10 media available, does it tell you the following information:
		"Validating signature for SRSDeploymentKit-4.0.64.1.msi... success

[2019-01-15 18:19] Travis-Snoozy commented on #1398
ISOs for Enterprise are not publicly available. Because of this, the script cannot download the ISOs on your behalf.

This statement is not wholly accurate. While the instructions to the operator are to "make sure you have all of the following available," with the list including "Windows 10 Enterprise IoT media that matches your SRSv2 deployment kit," Windows 10 media is **not** required up-front

[2019-01-15 18:30] Travis-Snoozy commented on #1398
I concur that the "Tip" is misleading.

The script absolutely does not and can not download the Windows 10 Enterprise ISO. I would strongly recommend simply deleting this "tip."

[2019-01-15 18:33] Travis-Snoozy commented on #1398
... furthermore, the "Note" earlier on the page explicitly calls out a version. I would recommend deleting that as well.

[2019-01-15 18:43] jambirk commented on #1398
I'll update this page later today.

[2019-01-15 18:44] thommck commented on #1398
Deleting the tip is an option. I think when a person comes to this page they want to know what version of the app/windows is going to be installed, so it would be better to say something like: "after you download and run the Script you will be informed what version of the provisioning kit will be used and what version of Windows you'll need to download yourself"
________________________________
Fr

[2019-01-15 21:56] bubbletroubles opened #1400 "January 2019 updates missing"
The January 2019 Cumulative Update for Skype for Business Server 2015 is not listed on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be9f745c-5925-3a7b-9430-b5e61b4384ba
* Version Independent ID: bc23dce3-f38b-9e81-1614-d16aed1d8684
* Content: [Skype for Business Server updates](https://docs.microsoft.com/e

[2019-01-15 21:58] jambirk commented on #1400
@Ariantor can you respond please?

[2019-01-15 23:09] jambirk commented on #1400
Ari added the release, thank you for pointing this out.

[2019-01-15 23:09] #1400 closed

[2019-01-15 23:16] Travis-Snoozy commented on #1398
PR #1402

[2019-01-16 08:21] hyoshioka0128 opened #1403 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 048930a4-fdf2-9a90-3b47-46af66db3db4
* Version Independent ID: 8d6a2c84-94e9-b17e-f5c1-91191187ce4e
* Content: [ゲス

[2019-01-16 14:46] nenonix commented on #1403
@samanthaw

[2019-01-16 16:56] samanthaw commented on #1403
@hyoshioka0128 thank you for the feedback, we're looking into it

[2019-01-16 17:14] Larryngolog opened #1404 "Requirement for Exchange Online mailbox"
Hi! Is it required to have an exchange online mailbox to schedule live event?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-60a2cf999f69
* Version Independent ID: 6878c954-e248-94c2-7602-47437ec7a2dd
* Content: [Plan for live events in Microsoft Teams](https://docs.microsoft.com/en-us/microsoft

[2019-01-16 18:20] #1335 closed

[2019-01-16 19:40] tech4ce opened #1406 "Sway Link Broken"
"View this overview for an introduction to the Skype for Business to Teams upgrade journey, including core concepts, framework, and upgrade paths." - Overview link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b32af2-59db-a872-6ed4-fc7b4cd910b3
* Version Independent ID: 38fd3a1a-ee6d-dd63-0de9-5f726d7419c

[2019-01-17 02:58] jamesrhea commented on #988
Will do, @AndreaBarr.

[2019-01-17 03:35] jamesrhea commented on #1403
@samanthaw The resolution of this issue likely also applies to the following issues: #1294, #1296, #1297, #1298.

[2019-01-17 03:51] jamesrhea commented on #1406
Thanks for catching this, @tech4ce. I'll look into what we can do to resolve the issue, @AndreaBarr.

[2019-01-17 09:23] MichaelNiederle opened #1413 "German Translation"
Product Name "Surface Hub" is translated to "die Fläche Hub", which should not happen.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: f256cd5b-3ec8-2d55-9ae4-ff9849d52eae
* Version Independent ID: 52c2271b-df38-5dc9-c2a1-553cdf3b5496
* Content: [Bereitstellen von Microsoft-Teams für die

[2019-01-17 09:37] hyoshioka0128 opened #1414 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5b138331-2f10-a05d-7e88-68e62e0b3e4f
* Version Independent ID: f923b648-ffe4-8a8a-c189-6e31f1032c10
* Content: [マイ

[2019-01-17 13:32] zx3-at commented on #461
Real world scenario, test with various clients. I have one client who is happy to experiment. Team user can ONLY be "present" on ONE tenant at a time; this means that a federates external Team user will see me as "Unavailable" if I am signed in as my tenant. If they send me a chat, audio call, video call, message or "@" mention me, then from their Team app is appears to have been sent (apart from

[2019-01-17 15:50] danielsykes84 opened #1416 "Filters on teams analytics and reports"
Great product addition, thanks! It would be great to have filter and sort options on all columns on these reports, e.g. Display name, Privacy, Active users, Guests, Active channels, Messages, etc. Or alternatively, an Export to Excel option. This would give us greater ability to process and make interpretations from these useful reports.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-17 17:17] samanthaw commented on #1403
@jamesrhea got it, we'll also take a look at #1294, #1296, #1297, #1298

[2019-01-17 18:20] jambirk commented on #1398
Closing this issue now, please re-open if there's more needed.

[2019-01-17 18:20] #1398 closed

[2019-01-18 03:13] hyoshioka0128 opened #1426 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 042d7ce6-ee22-690f-8188-ff8a4a585847
* Version Independent ID: 3e5bc99c-e08e-44e0-cda3-687ed3633175
* Content: [Mi

[2019-01-18 10:03] hyoshioka0128 opened #1427 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc665475-f843-e4c1-0ca6-0b83873abb54
* Version Independent ID: 95d32598-c920-ed5c-d665-69394528ca27
* Content: [チー

[2019-01-18 10:09] hyoshioka0128 opened #1428 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a3bfee94-e824-3248-f56f-3608e1f5d29e
* Version Independent ID: eec8e5a6-9a5a-a76e-3c21-e2cde8f3d3eb
* Content: [マイ

[2019-01-18 10:45] Arie-Kanarie commented on #1230
+1. Really weird that this isn't possible by default.

[2019-01-18 10:52] zx3-at commented on #1284
To our horror, we too discovered that Teams does NOT allow chat from federated (external domain added and allowed) external tenant! You would have to "switch" login from YOUR tenant to your partner/customer tenant in order to even be aware that the external user was trying to chat with you; this is a deal-breaker, and a renders Teams as useless when compared to Skype (where we can chat with ANYONE

[2019-01-18 13:09] jasonfare commented on #1141
While fixing what mschultz-bcbsne requested looks to be done, what I originally opened this for has not.  The article still says "disabled enabled by default"

[2019-01-18 14:53] r-milne opened #1429 "Folders do not exist in ADUC"
Please refer to them as containers.  You can check the properties of the object.  Look at the DN for example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3c90a8efafb
* Version Independent ID: 52429f1d-39a1-49fb-c9dd-d4bafa19760d
* Content: [Deploy Skype Room Systems v2 with Exchange Online](h

[2019-01-18 14:54] r-milne opened #1430 "Licensing Too Vague"
"assign an Office 365 license'  - what exactly needs to be licensed with this?  This must be specific to ensure that I assign the correct license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3c90a8efafb
* Version Independent ID: 52429f1d-39a1-49fb-c9dd-d4bafa19760d
* Content: [Deploy Skype R

[2019-01-18 14:55] r-milne opened #1431 "Exchange Remote PowerShell"
Why is the current MFA PowerShell missing?  Advocating the use of non-MFA is not secure.  At a minimum you need to provide both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3c90a8efafb
* Version Independent ID: 52429f1d-39a1-49fb-c9dd-d4bafa19760d
* Content: [Deploy Skype Room Systems v2 wit

[2019-01-18 14:56] r-milne opened #1432 "Exhcange Hybrid"
Please add in a detailed technical note stating why your approach does not involve the use of new-remotemailbox or enable-remote-mailbox cmdlets.  These cmdlets are designed for hybrid use.  Is this due to the EnableRoomMailboxAccount parameter ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3

[2019-01-18 14:57] r-milne opened #1433 "Step 4 - Connect to Azure AD"
"You need to connect to Azure AD to apply some account settings. "

There are no documented settings of changes in this section.  Why is this here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3c90a8efafb
* Version Independent ID: 52429f1d-39a1-49fb-c9dd-d4bafa19760d
* Content: [Deploy Skype

[2019-01-18 14:59] r-milne opened #1434 "Typo"
In section
Add an email address for your on-premises domain account

"click New, and the click User"

I suspect that this should have been "click New, and then click Use"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3c90a8efafb
* Version Independent ID: 52429f1d-39a1-49fb-c9dd-d4bafa19760d
*

[2019-01-18 14:59] r-milne opened #1435 "Vague Reference"
In section
"Add an email address for your on-premises domain account"

What cmdlet are you referring to?
"type the display name from the previous cmdlet"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3c90a8efafb
* Version Independent ID: 52429f1d-39a1-49fb-c9dd-d4bafa19760d
* Content: [Deploy

[2019-01-18 15:00] r-milne opened #1436 "Vague Step"
"After you've created the account, run a directory synchronization. When it's complete, go to the users page and verify that the two accounts created in the previous steps have merged."

How do I run this?  Do I need a full or a delta?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9978e48b-5b8d-df59-d8d3-d3c90a8efafb

[2019-01-18 15:00] lindspea commented on #1430
@r-milne Thank you for your valuable contribution to improving MS docs.  Would you suggest perhaps changing the wording to read "Activate the service using your valid Microsoft Office 365 license"...?

[2019-01-18 15:01] r-milne opened #1437 "Language Quesiton"
In section

"Assign an Office 365 license"

The user account needs to have a valid Office 365 license to ensure that Exchange and Skype for Business Server will work. If you have the license, you need to assign a usage location to your user account

It says "IF" I have a license available.  Did it not just say that licenses are required?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-18 15:09] lindspea commented on #1434
@r-milne. Thank you for your help in improving MS docs.  I will work to have the typo fixed as soon as possible.

[2019-01-18 15:13] o-l-a-v opened #1439 "More install parameters for Teams MSI please"
We want to keep Teams from starting up on boot by default.

I thought OPTIONS="noAutoStart=true" would solve this, but this is only for disabling auto start after install success.

* Do you have more install parameters for the Teams MSI installer?
* Where are install parameters documented? If nowhere, please add documentation
* Please don't install teams silently (teams_installer.exe) when using c

[2019-01-18 15:16] lindspea commented on #1437
@r-milne.  Thank you for pointing this out and for your valuable contribution to improving MS docs.  How does this sound? "Use your valid license to assign a usage location to your user account."

[2019-01-18 15:19] lindspea commented on #1428
@MollyMalone

[2019-01-18 17:48] MollyMalone commented on #1428
Sent to the localization vendors to fix. Confirmed that the customer is correct, Yammer uses ゲスト in the UI and the content should be fixed to match.

[2019-01-18 18:25] jambirk commented on #1437
@r-milne, could you please contact me at my Microsoft Alias? Sounds like these issues should all be dealt with in one go, preferably with @davgroom and @sohailta involved.

[2019-01-18 19:43] AndreaBarr commented on #1091
@nsshommo Could you please investigate this issue.

[2019-01-18 19:53] nsshommo commented on #1091
Okay, I am investigating this one.

[2019-01-18 23:26] cory-rkmi opened #1445 "Initiating conversations from Teams to Skype for business users?"
Is it possible to initiate a conversation from within Teams (Teams Only) to someone who is Skype for Business only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d53d0cb0-90a6-5932-f78e-7de6fcc4d481
* Version Independent ID: 3d468027-cc37-5199-32ec-819bf62b2caa
* Content: [Microsoft Teams](https://docs.microsoft.com/e

[2019-01-19 21:29] SeaDude opened #1448 "We need more use-case-based instructions"
Hello,
Up front, docs.microsoft.com is the best documentation offering I've ever seen. Thank you. I would like to suggest Use-case-based instructions for this particular doc.
Rationale:
- I don't know what the ramifications are for allowing "Members can invite" in my Azure AD
- I don't know if I need to configure O365 Groups

If there were use cases such as...
1. Invite External users to join a Mi

[2019-01-21 02:42] cvanoosbree opened #1449 "Connect to the doc"
Hi All, unsure if this is SRSv2 related, but thought I would ask here.

Win10 E  v1809
OS: 17763.292
Doc: Logitech SmartDock

we get as far as the UI advising is to plug into the doc and press next (which I believe is the final step) however, "next" is never enabled .. its always faded (unable to be pressed). We can see the 2nd screen on the TV (this lets us know the HDMI cables work on the Doc..

[2019-01-21 11:04] nicolasbroisin opened #1452 "Call Queue and Auto attendant licensing"
Hello,
I'm a little bit confused about this recommendation :
"Your organization must have (at a minimum) an Enterprise E3 plus Skype for Business Cloud PBX license or an Enterprise E5 license. "

What I saw, Auto Attendant and Call Queue are both features available in the Skype admin center only with E1 + Phone system licenses. This part of the documentation brings some confusions. Is it Something

[2019-01-21 13:14] J-a-k-o-b opened #1453 "Broken Link in Understand the Journey from Skype for Business to Teams"
In the part "Understand the Journey from Skype for Business to Teams" https://docs.microsoft.com/en-us/MicrosoftTeams/tutorial-journey-skypeforbusiness-to-teams?tutorial-step=1 the link to the sway presentation is broken: https://aka.ms/upgradeabstract is not valid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7163e6

[2019-01-21 14:02] polo4096 commented on #1220
Hi , Have you found any solution ?

[2019-01-21 15:25] pkohn-sva commented on #1273
Would be great, if we hear something official have the same problem with two tenants here both "TeamsOnly" ...federated Chat not working

Regards Philipp

[2019-01-21 22:59] aaronhauber commented on #1174
Is there a way to delete devices from the portal after the devices have been retired?

[2019-01-22 07:18] jeffbrushie opened #1455 "Management only with Teams GUI"
To be able to manage devices in this portal user must login by Teams GUI (AudioCodes C450)? If user is logged in by SfB GUI the device will not be listed correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a627b5d-3edc-1add-b921-1dcd49c38653
* Version Independent ID: a2e2bd3a-31c0-471a-05fb-fd64bd942c4a
* Content:

[2019-01-22 11:39] rimroot opened #1456 "DNS disaster recovery table"
I think that DNS disaster recovery table is incorrect. In "CNAME records" column, record should point to GeoDNS record, i.e Meet.contoso.com to Meet-int.geolb.contoso.com for internal, or Meet.contoso.com to Meet-ext.geolb.contoso.com for external.

The folowing article says that as well https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/network-requirements/simple-urls#disaste

[2019-01-22 12:18] Craig-Simonson-Toreon opened #1457 "Request for better quality diagrams"
Is it possible to update this article with higher-quality diagrams (authorize-guest-image1.png and teams_dependencies_image1.png). Very useful diagrams that simplify confusion at customers getting a handle on external sharing, but really not for documentation because of the low quality.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-01-22 15:39] chinster01 opened #1458 "Spelling corrections:"
Cumulative and business is also spelled incorrectly. Also it's on-premises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caf24a35-ba53-0dff-962a-cf08a1cbcb31
* Version Independent ID: 5f40982a-e006-0b12-1b48-c5a3e04375cd
* Content: [Migrate Lync Room System devices to Skype Room System version 2](https://docs.microso

[2019-01-22 15:48] StPhil opened #1459 "Please update"
This has not been updated since the release of Teams Admin roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81440b2f-391b-5856-a216-15866f37082a
* Version Independent ID: cdd15cd4-d4ed-c413-e2b9-ebf6dad8b33b
* Content: [Use activity reports for Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/teams

[2019-01-22 17:30] nenonix commented on #1453
@J-a-k-o-b  Thank you for pointing this out, we really appreciate feedback that improves Microsoft Docs.  We will look into it and fix the link.

[2019-01-22 18:16] #1458 closed

[2019-01-22 18:18] jambirk commented on #1458
Hi @chinster01, thanks for catching those. I've made the corrections and the updated article should be visible later today.

[2019-01-22 18:37] samanthaw commented on #1403
@hyoshioka0128 @jamesrhea this issue and #1294, #1296, #1297, #1298 are now fixed

[2019-01-22 19:04] jambirk commented on #1457
Thanks for your feedback @Craig-Simonson-Toreon

Just to understand better, is the issue that the diagrams/flow charts are inaccurate or (my more likely guess) that they are low-resolution images and difficult to read?

[2019-01-22 21:08] Craig-Simonson-Toreon commented on #1457
@jambirk - indeed it's the low-resolution. the images are too blurry to put in slides/documents to explain the many settings that control external sharing in teams. It would be much appreciated if the pages were updated with the same diagrams in higher quality, or if those images in https://docs.microsoft.com/en-us/microsoftteams/teams-dependencies linked to HQ image.

Thanks for the response!

[2019-01-22 22:32] tpmeredith opened #1460 "Cant enroll phone if android policy requires encryption"
It is impossible to enroll T58 or T56 phones if you have active intune policies requiring encryption on android devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e07e81-0eca-e34c-7997-28b7cb1c86fa
* Version Independent ID: 371c473a-16a1-c6e0-d7da-0fa03ece0786
* Content: [Buying and deploying Microsoft Teams IP

[2019-01-22 23:32] jambirk commented on #1459
We have a plan to update this article in February, great timing!

[2019-01-22 23:34] rogersau opened #1461 "Get Attached Devices - Missing Logitech MeetUp"
The get attached devices script seem to miss the Logitech MeetUp Camera. As in device manager this is under the PNPClass of "Camera" rather than "Image"

Suggest updating to;
gwmi -Class Win32_PnPEntity | where {$_.PNPClass -eq "Image" -or $_.PNPClass -eq "Camera"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f68cba2

[2019-01-22 23:45] #1110 closed

[2019-01-22 23:49] #1125 closed

[2019-01-22 23:54] AndreaBarr commented on #1108
@ChrisHaleyAvanade  It looks like James has resolved your issue. I am going to close this issue at this time. If this issue is not resolved please re-open this issue.

[2019-01-22 23:54] #1108 closed

[2019-01-23 00:36] vigitalmoe opened #1462 "Will you be working with Cisco UC Phone System?"
WOrk for a company that is looking to implement MS Teams and just implemented Cisco UC.  Will there be integration at some point considering Cisco and Lync were integrated.   Curious, can't find any information on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1a1c01-10a9-7f69-1c7b-1a566b0f5112
* Version Indepe

[2019-01-23 00:54] jamesrhea commented on #1455
@jeffbrushie, thanks for the question. The device management mentioned in this article occurs via the Microsoft Teams & Skype for Business Admin Center, which is neither the SfB GUI nor the Teams GUI. You can read more about the Microsoft Teams & Skype for Business Admin Center in this article: https://docs.microsoft.com/en-us/microsoftteams/manage-teams-skypeforbusiness-admin-center

Does this he

[2019-01-23 01:34] jamesrhea commented on #1313
@yiuyu2357, is there something we can help you with? Did you have a recommendation for how to improve the Skype for Business documentation?

[2019-01-23 01:38] jamesrhea commented on #1312
@yiuyu2357, can you say a bit more about what you're trying to do?

[2019-01-23 01:47] jamesrhea commented on #1265
@rolandfalcon, is this an accurate update to the last bullet point?

**Automatically admit users** If you turn this off, then meeting participants will be left in the lobby until someone starts the meeting. To automatically admit some users, select between the following options: _Everyone_, _Everyone in organization_, or _Everyone in your organization and federated organizations_.

[2019-01-23 01:52] yiuyu2357 commented on #1312
xmas and thx

James Rhea <notifications@github.com> 於 2019年1月23日 週三 上午9:38寫道：

[2019-01-23 01:56] jamesrhea commented on #1197
@samanthaw, is this a localization issue?

[2019-01-23 02:12] jamesrhea commented on #988
@AndreaBarr this issue was fixed by @NMuravlyannikov (see comments in #1411) and can be closed.

[2019-01-23 11:20] nduijvelshoff commented on #1445
Same question here. :D

[2019-01-23 13:58] AlexHill90 opened #1467 "The documentation is wrong on AAD dependency on Guest Access for IT Admins only"
Hi, the documentations states that:

"Members can invite: Yes means that non-admin members of your directory can invite guests to collaborate on resources secured by your Azure AD, such as SharePoint sites or Azure resources. No means that only admins can invite guests to your directory."

I also realized that it states that the AAD "Members can Invite" needs to be setup to Yes for correct usage,

[2019-01-23 14:19] AlexHill90 commented on #1467
Hi, I realized I was incorrect, although the documentation is rather unclear on this.

I was able to achieve the scenario in which only admins can add by disabling both O365 Groups guests can invite and the AAD setting for "Members can Invite". I don't understand why it says this latter field has to be set to "Yes" since I was able to redeem correctly the invitation from the guest side..

With thi

[2019-01-23 15:14] ljr55555 commented on #1445
I had assumed so based on "Skype for Business users can chat one-on-one with Teams users, _**and vice versa**_" (emphasis mine). Creating a test account configured with Skype Only, it was my experience as well -- I could initiate a conversation from Teams to this Skype Only account & the message was delivered in Skype. The subsequent three accounts we set to Skype Only, though, worked as if they w

[2019-01-23 15:52] hyoshioka0128 opened #1468 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 20c43928-84c0-0a75-9354-66aef3b83e46
* Version Independent ID: f95298ae-de58-02eb-0b49-8390ab161d4c
* Content: [Te

[2019-01-23 16:11] hyoshioka0128 opened #1471 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3b51b67a-d89c-723f-3520-87cb2dc93b90
* Version Independent ID: 78d10cbc-d75b-2b02-d49c-2c3fe1579807
* Content: [マイ

[2019-01-23 17:28] slate1cronos opened #1472 "Broken Link"
The "Browse all devices Certified for Teams." link is broken.

Is there an updated list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcc58c9c-b20c-0515-55e6-165f23a66dbf
* Version Independent ID: e76e89bc-2e4b-af6f-5518-84435bca70ea
* Content: [Phones and Devices for Skype for Business](https://docs.microsoft.com/en

[2019-01-23 18:04] jambirk commented on #1472
The one at the bottom of the page? I just tried it and it worked.

[2019-01-23 21:39] #988 closed

[2019-01-23 21:43] samanthaw commented on #1197
@jamesrhea looking into it

[2019-01-23 23:18] bjwhalen commented on #901
why is this opened? Teams only is avail in the portal now.

[2019-01-23 23:37] kenwith commented on #901
We must have had a coordinating VSO item that was open. We closed that one and will close this one again now too. Sorry for confusion.

[2019-01-23 23:37] #901 closed

[2019-01-24 02:54] jamesrhea commented on #1403
Thanks. @AndreaBarr, this issue can be closed.

[2019-01-24 02:54] jamesrhea commented on #1294
Fixed along with #1403. @AndreaBarr, this issue can be closed.

[2019-01-24 02:55] jamesrhea commented on #1296
Fixed along with #1403. @AndreaBarr, this issue can be closed.

[2019-01-24 02:55] jamesrhea commented on #1297
Fixed along with #1403. @AndreaBarr, this issue can be closed.

[2019-01-24 02:55] jamesrhea commented on #1298
Fixed along with #1403. @AndreaBarr, this issue can be closed.

[2019-01-24 08:46] Nosferatu-Dk commented on #487
Firefox - Add Blocker Plus
Disable on Teams, and it will work.
If not a death loop will keep reloading the site, with a comment below a teams icon, stating Ups, something went wrong

[2019-01-24 16:58] #1403 closed

[2019-01-24 16:58] #1294 closed

[2019-01-24 16:58] #1297 closed

[2019-01-24 16:58] #1296 closed

[2019-01-24 16:59] #1298 closed

[2019-01-24 18:00] ThomasBIDAULT opened #1476 "CQD 2019 Support with Skype for Business Server 2015"
Could you confirm that CQD 2019 is supported with Skype for Business server 2015 deployment ?

Thanks

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: f91216e8-0b6c-88b1-635a-401529556f78
* Version Independent ID: 0b0e068d-b870-bbd2-550d-07917ec63926
* Content: [Planifier pour le tableau de bord quali

[2019-01-24 18:19] MSFTTracyP commented on #1355
Thank you for this feedback. I'll look into this.

[2019-01-24 18:33] mschultz-bcbsne opened #1477 "Behavior described in Pre-Existing Threads doesn't match user's experience"
The note in the "Chats and calls from pre-existing threads" section indicates that an existing thread between a Teams user (User A) and a Skype for Business user (User B) will become disabled once User B is upgraded to Teams because the interop no longer has a path to deliver the conversation to SfB.

In our experience, though, the old interop thread remains available and active.  Further, in most

[2019-01-24 18:45] brcallicott opened #1478 "Proxy - Step 4"
This step seems to be missing some steps.  Clicking on the HKEY_USER doesn't prompt you for a new key name.  Seems to be a step missing between these two points.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07f79b5a-ff7d-aa85-f909-d8a0e87be892
* Version Independent ID: 4fc74222-3f6d-925e-182a-db2c3b4ca246
* Content:

[2019-01-24 19:16] samanthaw commented on #1428
@hyoshioka0128 @lindspea this issue is fixed

[2019-01-24 19:20] sritodi opened #1479 "Alll the URL in the link below point to the same URL. Doesn't seem to make sense to have this page."
[Enter feedback here]
Alll the URL in the link below point to the same URL. Doesn't seem to make sense to have this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee287a9-c9d1-6275-53b7-57e6a3c4196d
* Version Independent ID: 48e7f5c9-7cac-4033-05b9-d82b7bf891fb
* Content: [The Skype for Business Online cmdlets](

[2019-01-24 19:22] samanthaw commented on #1471
@jamesrhea looking into it

[2019-01-24 19:22] samanthaw commented on #1468
@jamesrhea looking into it

[2019-01-24 19:46] lindspea commented on #1428
Great! Thank you for letting me know.

[image: Picture]

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Thu, Jan 24, 2019 at 9:16 PM samanthaw <notifications

[2019-01-24 22:49] vination commented on #1273
Can someone confirm if the coexistence mode needs to be set to Teams only for both organizations for this to work or not?

[2019-01-24 23:04] sklinger83 opened #1480 "Request for consolidated matrix of configuration settings and policies"
This page covers many available features and what they do, but a matrix of settings and policies that is consolidated into a table would be very helpful for enterprises as they look to adopt Teams and rationalize configurations for their environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9b7f77-061d-a224-ff1

[2019-01-25 00:02] sklinger83 commented on #1480
In addition - this list would not be recommended settings and policies, just what is available to be configured and what they do.

[2019-01-25 13:47] bcraigie opened #1483 "Doesn't work"
I have turned on external access a month ago and just tried to add my personal skype, but it says "We are unable to set up the conversation because the contact you entered wasn't found".  So, the documentation needs to be clearer.  If you can't use teams to communicate with personal skype users, you should make that clear (also make clear when it will become possible) and save us all wasting our t

[2019-01-25 13:54] jackvinson commented on #1273
We are seeing something similar.  We've enabled communication with them.com, and we are able to initiate Chat to them.com users.  But them.com users are unable to initiate chat with us - they get a message that says that we are unavailable.  if we Chat with them first, then they are able to communicate back.  But after a short period of time (15 mins?), they are unable to reply or chat back.

[2019-01-25 14:19] pezlin commented on #1445
I currently experience problems with chats initiated in Teams (by user in TeamsOnly mode) sent to Skype for Business (user in SkypeForBusinessOnly mode and without Teams license) not getting a message. Instead an email is sent to the receiver (a few minutes later) that a message was sent to Teams suggesting to launch Teams. Our org-wide setting is currently Island mode.

[2019-01-25 15:10] Arcass opened #1484 "Required Licenses section"
Could this section be updated to include a break down of the licensing requirement rather than just linking out to other articles? As I understand it a Microsoft Phone system license and a calling plan or Common Area phone license are needed. So two/three bullet points would be great.
It would make the article more complete and a better single point of information about getting Teams IP Phones up

[2019-01-25 16:53] #941 closed

[2019-01-25 16:54] #942 closed

[2019-01-25 17:11] jambirk commented on #1484
@LolaJacobsen : is this article being restructured in one of your efforts? Let's discuss offline.

[2019-01-25 17:14] jambirk commented on #1472
Closing this as fixed.

[2019-01-25 17:14] #1472 closed

[2019-01-25 18:12] tonysmit commented on #693
@MadCabbage - I have an email thread with Andrea so she can update the text. The issue is that this information is buried at the bottom of the page right before the FAQs. I've also contacted marketing to see if we can get the pricing information elevated in the future. I hope this helps. Thanks, Tony  @AndreaBarr - can you add some text to the page in question telling customers it's at the bottom

[2019-01-25 18:50] jackvinson opened #1487 "Federation only partially working"
We are on Office365 (small company - using the Business account).  Our colleagues are still on Skype for Business in a large company.  They are already Office365 and are moving (slowly) to Teams.

We setup federation - External access is enabled on our side. And it seems it is enabled on their side.  From our organization, we can chat with them.  And they can reply to those chat messages.  But if

[2019-01-25 22:06] oddhair opened #1490 "Please mention Modern Auth"
We' keep running into orgs that buy the SRS v2 and then come to us asking if it supports Modern Auth. We were part  of the TAP for Rigel so I'm aware Modern Auth doesn't make sense for a system that reboots every day, but the planning and preparation documentation doesn't seem to mention Modern Auth at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-01-25 22:10] jambirk commented on #1490
@davgroom I can add a note on Modern Auth here if you approve.

[2019-01-28 03:49] hyoshioka0128 opened #1491 ""来園者" needs to be replaced with "ゲスト""
Same as #1428
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Teams.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 78ade1a4-092c-1132-44df-ee2c683fdd33
* Version Independent ID: 396b1aee-2f40-9895-9b00-07e38d11d31b

[2019-01-28 09:01] MarcoCarampanta commented on #1181
@KatrinW
A few steps have just been added to the troubleshooting part of the article, bound to correct this issue.

For now, it would perhaps be best to go through with these steps, until the core issue is adressed.

[2019-01-28 10:48] 3k09 opened #1492 "Dead link "devices Certified for Teams""
The Browse all devices Certified for Teams (http://products.office.com/microsoft-teams/across-devices/devices) does not work. It's pointing to https://products.office.com/de-de/microsoft-teams/across-devices/devices?rtc=1 and results in a 404 not found.

You might change the link to point to https://docs.microsoft.com/en-us/MicrosoftTeams/buying-and-deploying-teams-ip-phones

---
#### Document Det

[2019-01-28 11:48] lordmafi opened #1493 "Skype for Business should be called Communicator in first sentence?"
[...] then you should configure the personal contact store on any client computers running Skype for Business. [..]
Note that this is not required on computers running Skype for Business.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38c5f2da-bdca-d810-2b9e-995aabac63c6
* Version Independent ID: 66be603b-8e20-2499-86c

[2019-01-28 12:04] MadCabbage commented on #693
Hi Tony,
Many thanks for following this up - thanks for pointing out where the information is.  I note the table provides calling plan costs in GBP & USD, but the main costs are only shown in USD?

Please advise..

[2019-01-28 17:50] stvollet opened #1494 "Seems there is an error in "other considerations""
In other considerations third bullet point "Currently, you can only invite people from within your company, as it is not yet possible for external users to join meetings."
this seems to be an outdated statement, please correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e10f52-d726-d29a-e0a8-93729a32dfae
* Versio

[2019-01-28 17:55] jambirk commented on #1492
@dougand-MSFT Would this be your preferred target for this link?

@samanthaw adding as this may be a loc issue

[2019-01-29 13:57] lindspea commented on #1493
@lordmafi Thank you for pointing this out and for your valuable contribution in helping improve MS docs.  Just to get some clarification.  Should the words "Skype for Business" in your quoted sentence be replaced by the word "Communicator"?

@AndreaBarr @scanum please assign to me.

[2019-01-29 14:12] lordmafi commented on #1493
Hi Lindsay,
for me it was an eyecatcher that it stated "you should configure on any client running SfB" and in the next sentence "Not required on computers running SfB"
After further investigation I think only Lync 2010 and older uses HKLM\[...]\Communicator
since Lync 2013 it is set through Policy (New-CsClientPolicyEntry -Name "PersonalContactStoreOverride" -Value "1")
So maybe this can be clari

[2019-01-29 16:22] jambirk commented on #1493
I suspect this passage got a bit mangled a few years ago when we were rebranding in anticipation of SFB server 2015. I'll have a look.

[2019-01-29 16:26] jambirk commented on #1493
Agree that this procedure is only applicable to legacy client users. it may be time to retire this article.

[2019-01-29 16:27] npherson opened #1500 "Need to list Planner"
Planner isn't mentioned specifically, although OneNote is. Can we get a line for Planner? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7faee29-6d56-f3bf-766c-6deaefe92e34
* Version Independent ID: 6029b6f8-7d49-6474-fa40-2793000c74a4
* Content: [Plan for Microsoft 365 Government - GCC deployments - Microsoft

[2019-01-29 16:51] jambirk commented on #1493
Agreed this procedure only applies to client computers using the Lync 2010 client, which should be a tiny proportion at this point. @lindspea please ping me on teams around 10am.

[2019-01-29 16:53] lindspea commented on #1493
Thanks @jambirk.

[2019-01-29 18:20] danieldhudson commented on #817
Yes, you do have to install the Teams app on Surface Hub in order for it to work.

[2019-01-29 19:33] #1493 closed

[2019-01-30 01:07] NMuravlyannikov commented on #1462
Hi you can integrate with Cisco CUCM using one of the supported SBCs now.

[2019-01-30 01:08] NMuravlyannikov commented on #1236
Feedback taken

[2019-01-30 09:59] RapotOR commented on #1445
Same issue. Our default organization configuration is Islands (automatically setup). I assigned the SkypeOnly mode to few users to initiate some tests from my TeamsOnly account. From the documentation, all messages should be routed to Skype but that's not the case. If I try to initiate a chat (from the search bar) with the SkypeOnly users, it opens the full-featured teams chat for all of them exce

[2019-01-30 12:37] mtwelve opened #1507 "What about when Lync is deployed within an environment using Split DNS?"
Hello,

The article indicates that this should be a record added to external DNS only however the validation step 'Log on to a client computer in the domain' indicates that this should be resolvable by internal clients too.

What is the recommended way to configure DNS when Lync has been deployed in an environment with split DNS in place for the domain name used as SIP namespace?

Do we need to ad

[2019-01-30 13:50] mitchelljb opened #1508 "See Option 3"
(Optional) Follow the steps in [Create a dial plan](GET LINK AFTER MIGRATION) through step 11 or [Modify a dial plan](GET LINK AFTER MIGRATION) through step 10.

Missing some links here, guess after migrating the page to the current location the link isn't included yet!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e

[2019-01-30 16:26] SatiricalJack opened #1509 "Dead Link, Correction"
The URL for "See a list of Audio Conferencing numbers." Links to here:
https://docs.microsoft.com/en-us/Teams/phone-numbers-for-audio-conferencing-in-teams.md

This page currently displays a 404 error.

Link should be corrected to here:
https://docs.microsoft.com/en-us/microsoftteams/phone-numbers-for-audio-conferencing-in-teams

[2019-01-30 16:29] SatiricalJack opened #1510 "Dead Link, Correction"
The URL for "See a list of Audio Conferencing numbers." Links to here:
https://docs.microsoft.com/en-us/Teams/phone-numbers-for-audio-conferencing-in-teams.md

This page currently displays a 404 error.

Link should be corrected to here:
https://docs.microsoft.com/en-us/microsoftteams/phone-numbers-for-audio-conferencing-in-teams

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-01-30 17:37] gdfrick opened #1511 "Images fuzzy and hard to read"
Could you provide links the authorization images?  They are fuzzy and hard to read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b05e642-c4e5-f1b5-5315-d3ef1690a0cd
* Version Independent ID: 01b7e0b5-3e50-3de0-e3e9-aeeeda43da12
* Content: [Authorize guest access in Microsoft Teams](https://docs.microsoft.com/en-us/m

[2019-01-30 18:32] LennyDayberry commented on #1487
Is there a status on this post?

[2019-01-30 21:12] lindspea commented on #1487
@jackvinson. Thank you for pointing this out.  I'm investigating further and will update you as soon as I have some feedback. Thanks for your contribution in helping improve MS docs.

[2019-01-30 21:37] jwittner opened #1512 "User coexistence mode changes are not taking effect."
We have changed several individual users from the org-wide setting ( S4B only ), to Islands, but all calls/messages for these users are still being routed through S4B. We have waited over 30 minutes now, and restarted Teams, closed S4B, and restarted the computers, all to no effect. Is there an undocumented step or time frame we're missing here?

---
#### Document Details

⚠ *Do not edit this sect

[2019-01-31 03:07] hyoshioka0128 opened #1513 ""ビジネス オンラインの Skype～" needs to be replaced with "Skype for Business Online～""
"ビジネス オンラインの Skype を施設内でのユーザーの移動" needs to be replaced with "ユーザーをオンプレミスから Skype for Business Online に移動する"

[ユーザーをオンプレミスから Skype for Business Online に移動する](https://docs.microsoft.com/ja-jp/skypeforbusiness/skype-for-business-hybrid-solutions/deploy-hybrid-connectivity/move-users-from-on-premises-to-skype-for-business-online)

https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-to-teams-execut

[2019-01-31 04:21] danmyhre commented on #1358
Separate page for Teams...surprising this was missed given the huge focus on Teams

[2019-01-31 04:22] danmyhre opened #1514 "Licensing Issue"
This part is wrong - it reference plan 3 (don't think that even is a thing)

In the Assign licenses section, you need to select Skype for Business Online (Plan 2) or Skype for Business Online (Plan 3), depending on your licensing and what you've decided in terms of needing Enterprise Voice. You'll have to use a Plan 3

It also does not align with the details here:
https://docs.microsoft.com/en-us/

[2019-01-31 08:46] lindspea commented on #1500
@npherson Thank you for pointing this out.  I will investigate further and have it added to the document.

[2019-01-31 08:49] lindspea commented on #1494
@stvollet Thank you for pointing this out.  Could I ask you what you would suggest to put in place thereof?

[2019-01-31 08:51] lindspea commented on #1490
@jambirk @davgroom Just following up on this issue.  Has the note been added yet, or would you like me to do a PR?

[2019-01-31 08:53] lindspea commented on #1484
@jambirk Hi James.  Just following up on this article as well.  Let me know if you would like me to do a PR for this one as well.

[2019-01-31 08:56] lindspea commented on #1434
@yogkumgit  @AndreaBarr this can be closed

[2019-01-31 09:20] stvollet commented on #1494
I suggest to just remove that particular bullet point . Thank you

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Lindsay <notifications@github.com>
Sent: Thursday, January 31, 2019 8:49:31 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness
Cc: Stefan Vollet; Mention
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] Seems there is an error in "other con

[2019-01-31 13:31] jwittner commented on #1512
Coming back the next day and trying again the changes seem to have taken effect. I think you'd do well to document that these changes may take quite some time to propagate for users.

[2019-01-31 13:42] npherson commented on #1500
Forms, too! :)

________________________________
From: Lindsay <notifications@github.com>
Sent: Thursday, January 31, 2019 2:46:34 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness
Cc: Nash Pherson; Mention
Subject: EX: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] Need to list Planner (#1500)

@npherson<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnpherson&data=

[2019-01-31 13:45] lindspea commented on #1500
@npherson Hi Nash, please see my previous reply and let me know regarding planner and forms.

[2019-01-31 16:22] ChrisAtkinsonAL opened #1517 "At least a Typo..."
Above it says:
Enable-CsMeetingRoom -Identity $rm -RegistrarPool'sippoolbl20a04.infra.lync.com' -SipAddressType EmailAddress

At a minimum, this is missing a space... -RegistrarPool'sippoolbl20a04.infra.lync.com' should be -RegistrarPool 'sippoolbl20a04.infra.lync.com'

Anddddd when the space is added, it gives an error about moving... and this error is not well documented.  I'm stuck.
Cannot move

[2019-01-31 16:22] ChrisAtkinsonAL commented on #1517
Note that I do understand that I need to find another user and change my pool to match them, which I did....

[2019-01-31 16:58] nenonix commented on #1303
Hi @khojs  After consulting with the documents team we feel that the steps are correct as documented and do not need to be changed. Please see here: https://support.microsoft.com/en-us/help/3061064/updates-for-skype-for-business-server-2015 for more detail.
​

[2019-01-31 17:23] jambirk commented on #1490
We need to hear from the PG first. @davgroom and @sohailta please respond to the OP's question about Modern Auth on Rigel.

[2019-01-31 17:42] #1434 closed

[2019-01-31 17:45] Petri-X opened #1518 "What to do when having multiple Skype pools"
Hi,
The document says:
"_To run this script, you must provide the URL for the Skype for Business Server authentication metadata document; this will typically be the fully qualified domain name of the **Skype for Business Server pool** followed by the suffix_"

But it gives no information what shall we do if we have multiple Skype pools deployed. Can we use the simple URLs for AuthMetadataUrl? When

[2019-01-31 21:13] bmtm007 commented on #641
Hi - has this been clarified?

If Exchange 2013 / 2016 can utilise Cloud Voicemail, does this then remove the requirement for a two way trust between  SfB 2019 server resource forest and Exchange 2013/2016 forest?   As this seems to be driven purely by the UM service.

[2019-01-31 21:53] chinster01 opened #1520 "3P?"
I assume 3P should be VTC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 046dec87-2354-a9db-ae19-3bfaa2626bef
* Version Independent ID: 23e7d18f-bbab-75e1-7c85-9b0d0e8f4382
* Content: [Cloud Video Interop for Microsoft Teams](https://docs.microsoft.com/en-us/MicrosoftTeams/cloud-video-interop)
* Content Source: [Teams

[2019-02-01 01:12] nenonix commented on #1453
@yogkumgit @J-a-k-o-b the sway link has been fixed

[2019-02-01 03:38] blgadmin commented on #1445
I am having the same issue. I have switched my account to teams only and when a user sends a message from Skype is starts a thread correctly and I can respond but I cannot start a new thread to a new person using S4B from teams. Need this to work so we can have the option for more testing.

[2019-02-01 12:31] kszicsillag opened #1524 "Trial start date"
As an org admin where can I see the date of the first activation (i.e. the start date of the trial)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28550025-fde2-9a83-a826-f7e3ccb313db
* Version Independent ID: 2a304432-b10c-220f-3453-e19e7a155c67
* Content: [Manage the Microsoft Teams Commercial Cloud Trial offer](htt

[2019-02-01 15:19] lindspea commented on #1491
@MollyMalone

[2019-02-01 15:22] lindspea commented on #1430
@r-milne we would like to resolve this issue for you, so please reach out to us again by opening another issue if we can be of further assistance.

[2019-02-01 15:23] lindspea commented on #1430
@yogkumgit @AndreaBarr This issue can be closed.

[2019-02-01 15:24] lindspea commented on #1437
@AndreaBarr @yogkumgit this issue can be closed.

[2019-02-01 16:22] paulypoteat opened #1525 "In the Phone-Lock section you reference how to disable"
It says "See Set-CsIPPhonePolicy for more details on those settings"
but I think it should say
"See Set-CsUCPhoneConfiguration for more details on those settings"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8473d3c9-66e3-0b24-e614-ddc454ea9554
* Version Independent ID: b14dcf01-eb59-cb18-013c-1bc2f33ca46a
* Content:

[2019-02-01 17:05] #1376 closed

[2019-02-01 17:06] #1453 closed

[2019-02-01 17:20] #1430 closed

[2019-02-01 17:20] #1437 closed

[2019-02-01 17:21] #1494 closed

[2019-02-01 17:47] samanthaw commented on #1197
@hyoshioka0128 this is fixed

[2019-02-01 17:47] samanthaw commented on #1196
@hyoshioka0128 this is fixed

[2019-02-01 17:48] samanthaw commented on #1195
@hyoshioka0128 this is fixed

[2019-02-01 17:49] samanthaw commented on #1165
@hyoshioka0128 this is fixed

[2019-02-01 21:21] eschrader opened #1526 "More phones"
More phones are listed here https://partnersolutions.skypeforbusiness.com/solutionscatalog/ip-phones

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcc58c9c-b20c-0515-55e6-165f23a66dbf
* Version Independent ID: e76e89bc-2e4b-af6f-5518-84435bca70ea
* Content: [Phones and Devices for Skype for Business](https://docs.micr

[2019-02-01 23:50] David201406 commented on #260
I also would like to know how to allow to custom bots without enabling all third party apps. Is following the right way doing it:
- Turn off Allow sideloading of external apps
- Turn off any apps I don't want
- Turn off Enable new external apps by default
- Team Owner uploading a zip file directly to a team.

Right? If not, how to enable in a organisation custom bots, without allowing all availabl

[2019-02-02 00:30] jamesrhea commented on #1406
@tech4ce the link is fixed now. @AndreaBarr, this issue can be closed. Thanks!

[2019-02-02 00:33] jamesrhea commented on #1165
@AndreaBarr this issue can be closed.

[2019-02-02 00:34] jamesrhea commented on #1196
@AndreaBarr this issue can be closed.

[2019-02-02 00:35] jamesrhea commented on #1197
@AndreaBarr this issue can be closed. Thanks!

[2019-02-02 00:44] MollyMalone commented on #1491
@samanthaw (Sam manges the localized Teams content)

[2019-02-02 00:49] hyoshioka0128 commented on #1165
"チーム" needs to be replaced with "Teams"

https://docs.microsoft.com/ja-jp/microsoftteams/continue-journey

[2019-02-02 10:40] rito2k opened #1527 "SQL code Syntax error in section: Define Building Ownership Types (Post-install tasks)"
Need to remove the commas before both closing parenthesis to be successfully run. Corrected code:

INSERT INTO
[dbo].[CqdBuildingOwnershipType]
([OwnershipTypeId],
[OwnershipTypeDesc]
)

VALUES
(1,
'Contoso Owned'
)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e66aa842-2b67-5df9-567e-b0545c7eb0ec
* Version Independen

[2019-02-02 14:18] jamesrhea commented on #1165
@hyoshioka0128, is there a specific location in this article you're referring to? When I search the page for チーム I don't find any instances.

[2019-02-02 15:13] MelQL opened #1529 "Shows up as "Program" under Startup tab of Task Manager"
If you install the machine based teams installer, it adds this to the registry: value name = TeamsMachineInstaller, value data = %ProgramFiles%\Teams Installer\Teams.exe --checkInstall --source=default to Computer\HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Run.  That causes an entry just called "Program" under the Task Manager Startup tab.  It would be helpful if Team

[2019-02-03 01:27] hyoshioka0128 opened #1530 ""許可 CsTeamsUpgradePolicy" needs to be replaced with "Grant-CsTeamsUpgradePolicy""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/migration-interop-guidance-for-teams-with-skype

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 49921e8a-55ac-f547-d4e2-d329f5089c2e
* Version Independent ID: 91c3433a-3684-95cd-3426-4a5877b33106
* Content: [Teams を Skype for Business と一緒に使用する組織向けの移行と相互運用に関するガイダンス](https://docs.microsoft.com/ja-jp/Micros

[2019-02-03 01:28] hyoshioka0128 opened #1531 ""新しい-CsTeamsUpgradePolicy" needs to be replaced with "New-CsTeamsUpgradePolicy""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/migration-interop-guidance-for-teams-with-skype

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 49921e8a-55ac-f547-d4e2-d329f5089c2e
* Version Independent ID: 91c3433a-3684-95cd-3426-4a5877b33106
* Content: [Teams を Skype for Business と一緒に使用する組織向けの移行と相互運用に関するガイダンス](https://docs.microsoft.com/ja-jp/Micros

[2019-02-03 01:29] hyoshioka0128 opened #1532 ""削除 CsTeamsUpgradePolicy" needs to be replaced with "Remove-CsTeamsUpgradePolicy""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/migration-interop-guidance-for-teams-with-skype

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 49921e8a-55ac-f547-d4e2-d329f5089c2e
* Version Independent ID: 91c3433a-3684-95cd-3426-4a5877b33106
* Content: [Teams を Skype for Business と一緒に使用する組織向けの移行と相互運用に関するガイダンス](https://docs.microsoft.com/ja-jp/Micros

[2019-02-03 01:29] hyoshioka0128 opened #1533 ""セット CsTeamsUpgradeConfiguration" needs to be replaced with "Set-CsTeamsUpgradeConfiguration""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/migration-interop-guidance-for-teams-with-skype

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 49921e8a-55ac-f547-d4e2-d329f5089c2e
* Version Independent ID: 91c3433a-3684-95cd-3426-4a5877b33106
* Content: [Teams を Skype for Business と一緒に使用する組織向けの移行と相互運用に関するガイダンス](https://docs.microsoft.com/ja-jp/Micros

[2019-02-03 01:30] hyoshioka0128 opened #1534 ""セット CsTeamsUpgradePolicy" needs to be replaced with "Set-CsTeamsUpgradePolicy""
https://docs.microsoft.com/ja-jp/MicrosoftTeams/migration-interop-guidance-for-teams-with-skype

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 49921e8a-55ac-f547-d4e2-d329f5089c2e
* Version Independent ID: 91c3433a-3684-95cd-3426-4a5877b33106
* Content: [Teams を Skype for Business と一緒に使用する組織向けの移行と相互運用に関するガイダンス](https://docs.microsoft.com/ja-jp/Micros

[2019-02-04 05:34] surajj72 commented on #1111
Has the document been revised? The tables still are not very descriptive.

[2019-02-04 08:37] b34ny1 commented on #987
You've moved the settings from Settings > Services & add-ins > Microsoft Teams, to the new Teams and Skype dashboard and in that process removed the ability to apply settings easily to all our students licenses. Ridiculous

It was super easy back in 2017: https://blogs.technet.microsoft.com/skypehybridguy/2017/08/24/microsoft-teams-disable-private-chat-how-to/

[2019-02-04 09:34] mtwelve commented on #1507
......?

[2019-02-04 14:24] lindspea commented on #1526
@eschrader. Thank you for pointing this out Eric.  I will have the additional information added to the content as soon as possible.

[2019-02-04 14:34] lindspea commented on #1456
@rimroot.  Thank you for pointing this out and for your valuable contribution in helping improve MS docs.  I will investigate further and will implement changes as soon as possible.

[2019-02-04 14:36] lindspea commented on #1413
@samanthaw @MollyMalone

[2019-02-04 14:38] lindspea commented on #1381
@d1bjo0 Hi Bruce.  Thanks for pointing this out.  I will have the changes reviewed and implemented as soon as possible.  Thanks for your valued input in helping improve MS docs.

[2019-02-04 16:06] #1527 closed

[2019-02-04 16:09] #1406 closed

[2019-02-04 16:10] #1165 closed

[2019-02-04 16:10] #1196 closed

[2019-02-04 16:10] #1197 closed

[2019-02-04 16:26] advdberg opened #1538 "Huge delay in syncing the users between Azure AD and Teams"
While this document states that it can take up to two hours for changes to be reflected in Teams, we see at a lot of tenants that it takes much more time to reflect the changes, sometimes even up to more than 12 hours.

Is there a way to speed this up? Can we trigger this synchronisation somehow? Will it take longer if your tenant has an Active Directory sync? Does the amount of users within Azure

[2019-02-04 17:09] jdubyaeber opened #1539 "edge server requirements"
"somebody" should review this document for edge server requirements.  The section "Software that should be installed before a Skype for Business Server 2019 deployment" implies that ALL SfB servers "...need the following."  This includes Edge server I presume.  If so, then I think recommending that IIS be installed to support http activation is in disagreement with running production edge servers

[2019-02-04 18:33] lindspea commented on #1520
@joagonzalez thank you for sending that information. @chinster01 If there are no further questions I will be closing this issue.

[2019-02-04 19:33] intared opened #1541 "Module only has 2 commands"
The SkypeOnlineConnector only has two commands available {New-CsOnlineSession, Set-WinRMNetworkDelayMS}.

Why's everything else missing? - And how do I get them?

PowerShell 5.1.17134.407
SkypeOnlineConnector 7.0.0.0

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3117c408-39c5-df82-7238-3e842e953a64
* Version Independe

[2019-02-04 20:12] TorrenManson opened #1543 "Typo"
There's a typo in step 1 under Enable Location-Based Routing for users - missing the 'e' in 'online'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471f2c60-5cb1-6863-30d5-4692f40d695a
* Version Independent ID: 2c4c5ea5-41e6-514c-b675-0bc2c0b5aaa9
* Content: [Enable Location-Based Routing for Direct Routing](https://do

[2019-02-04 20:21] TorrenManson opened #1544 "typo"
New-Cs-TenantTrustedIPAddress has an extra -, in "Define External Subnets"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c64c973-c329-2cd4-d4c3-258f254fcccd
* Version Independent ID: fb3f5ebd-9bab-0a02-ba1f-d30445450d87
* Content: [Configure network settings for Location-Based Routing](https://docs.microsoft.com/en-u

[2019-02-04 21:24] lindspea commented on #1413
@MichaelNiederle Thank you for pointing this out Michael.  I will work to have this fixed as soon as possible. Thank you for your valuable contribution in helping improve MS docs.

[2019-02-04 21:37] MollyMalone commented on #1413
@lindspea Hi Lindsay, FYI, @samanthaw manages the translated Skype + Teams + Kaizala content.   I own the Office, SharePoint, Exchange, Project content.   Regards Tina (a.k.a. Molly)

[2019-02-04 21:54] dariomws306 commented on #687
Hi @kenwith , it's was fixed on #1519 , I think we can close it.

[2019-02-04 22:52] #687 closed

[2019-02-04 23:08] samanthaw commented on #1491
@hyoshioka0128 this is now fixed

[2019-02-04 23:09] samanthaw commented on #1471
@hyoshioka0128 this is now fixed

[2019-02-04 23:09] samanthaw commented on #1468
@hyoshioka0128 this is now fixed

[2019-02-04 23:10] samanthaw commented on #1428
@AndreaBarr this is already fixed

[2019-02-04 23:10] samanthaw commented on #1427
@hyoshioka0128 this is now fixed

[2019-02-04 23:10] samanthaw commented on #1426
@hyoshioka0128 this is now fixed

[2019-02-04 23:11] samanthaw commented on #1295
@hyoshioka0128 this is now fixed

[2019-02-05 03:04] hyoshioka0128 commented on #1196
＜"の" was deleted＞(Sorry for my poor English.)

　Teams<a href="https://products.office.com/business/office-365-roadmap?filters=microsoft%20teams" data-linktype="external">ロードマップ</a>
→Teamsの<a href="https://products.office.com/business/office-365-roadmap?filters=microsoft%20teams" data-linktype="external">ロードマップ</a>

[2019-02-05 03:06] hyoshioka0128 commented on #1165
@jamesrhea .The problem part has returned from Japanese to English.(Sorry for my poor English.)

[2019-02-05 03:07] hyoshioka0128 commented on #1165
The problem part has returned from Japanese to English.

[2019-02-05 03:08] hyoshioka0128 commented on #1471
The problem part has returned from Japanese to English.

[2019-02-05 03:09] hyoshioka0128 commented on #1426
The problem part has returned from Japanese to English.

[2019-02-05 03:09] hyoshioka0128 commented on #1295
The problem part has returned from Japanese to English.

[2019-02-05 11:59] lindspea commented on #1491
@AndreaBarr this can be closed thanks Andrea.

[2019-02-05 12:00] lindspea commented on #1428
@AndreaBarr this issue can be closed thanks.

[2019-02-05 12:23] Per-Torben commented on #987
I can't understand what possible reason you (Microsoft) have to remove the ability to assign policy to groups or Faculty/Students. You have always taught us to use groups for assigning permissions but in 2018 you suddenly step away from that principle? Also I can't understand why this would take so long to implement, I can't possibly be that difficult.

[2019-02-05 15:19] yogkumgit commented on #1494
@lindspea  Thank you very much for the contribution and updating the documentation with PR. @stvollet  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 15:44] AndreaBarr commented on #1487
I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are dis

[2019-02-05 15:44] #1487 closed

[2019-02-05 15:54] #1428 closed

[2019-02-05 16:00] #1491 closed

[2019-02-05 16:08] DeanGross commented on #1158
This is not currently possible

[2019-02-05 16:49] OfficeGSX opened #1546 "test"
test

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 78ade1a4-092c-1132-44df-ee2c683fdd33
* Version Independent ID: 396b1aee-2f40-9895-9b00-07e38d11d31b
* Content: [Microsoft Teams の分析とレポート](https://docs.microsoft.com/ja-jp/microsoftteams/teams-analytics-and-reports/teams-reporting-reference)
* Content Source: [Teams/teams-analytics-and-reports/teams-

[2019-02-05 16:53] OfficeGSX commented on #1546
Test issue. Closing.

[2019-02-05 16:53] #1546 closed

[2019-02-05 17:21] KDawg05 commented on #1312
A question about Telephony within O365. If the tenant is in a North American DC and the users are geo-dispursed, does the calls made from a user in India within India get treated as local or are they long distance because the tenant is not in India? More specific, how are local and long-distance calls differentiated if the tenant where the user resides is not in their geographic local?

[2019-02-05 19:08] nwc01 opened #1548 "How much does it cost?"
I was interested in possibly adding a voice conferencing plan to my Skype for Business account, but there is nothing here that tells me how much it costs or how to purchase the add-on license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b2f00a-d4ee-28ab-8c9f-fdc858eb30a4
* Version Independent ID: 07d9aa8b-7e6c-a34

[2019-02-05 19:43] SergePoint commented on #987
Any update on assigning policy to a group?

[2019-02-06 04:51] TorrenManson opened #1552 "Poor example subnet (invalid)"
The subnet in the example for the New-CsTenantTrustedIPAddress command is a poor choice. 192.168.0.1 is an RFC1918 address, and is always internal by definition.

The blocks 192.0.2.0/24 (TEST-NET-1), 198.51.100.0/24 (TEST-NET-2), and 203.0.113.0/24 (TEST-NET-3) are provided for use in documentation, and an IP address from one of these ranges should be used instead.

---
#### Document Details

⚠ *

[2019-02-06 07:16] lindspea commented on #1520
@AndreaBarr @yogkumgit this can be closed thank you.

[2019-02-06 08:01] shivtorov opened #1553 "Misleading info in "Add call agents to a call queue" section"
In the "Add call agents to a call queue" section (https://docs.microsoft.com/en-us/skypeforbusiness/what-is-phone-system-in-office-365/create-a-phone-system-call-queue#add-call-agents-to-a-call-queue), the documentation says:

"Call agents (200 maximum) can be:
* An Online user with a Phone System license and enabled for Enterprise Voice or with a Calling Plan
* Online users with a Phone System li

[2019-02-06 13:18] texexpat opened #1554 "Good information, but I hate the links"
There is great information in this article, but the way it it presented is VERY awkward, clumsy, and distracting.  I want to read a single, well organized article.  But this article is arranged with every little piece in bits that the reader has to click on.  That means rather than being able to simply glance back at a previous section, I have to click on something to get there, then click somethi

[2019-02-06 14:00] tsaxfo commented on #1445
Need to be able with Teams only to contact S4b-users and also skype consumer users

[2019-02-06 16:50] #1520 closed

[2019-02-06 16:54] jambirk commented on #1553
@tonysmit please take a look at this and contact me.

[2019-02-06 19:52] DonPetry-EY opened #1557 "Tabs not working since Conditional Access was enabled"
Seeking an update on this.  We are blocked from using Flow and DevOps from Teams Tabs.

[2019-02-07 02:42] jamesrhea commented on #1468
Thanks, @samanthaw. @AndreaBarr, this issue can be closed.

[2019-02-07 04:04] hyoshioka0128 opened #1558 ""電源の BI" needs to be replaced with "Power BI""
https://docs.microsoft.com/ja-jp/microsoftteams/get-started-with-teams-monitor-usage-and-feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd6683c0-a685-d279-538f-f0df86113911
* Version Independent ID: efe3afd1-f9c2-9db4-509f-8caaad6f0be0
* Content: [Monitor usage and feedback in Microsoft Teams](https://docs.mic

[2019-02-07 11:43] lindspea commented on #1543
@TorrenManson Thank you for pointing this out and helping improve MS docs.  I will have the typo fixed as soon as possible.

[2019-02-07 12:15] ginevr opened #1560 "Storage of credentials for connectors to Teams"
Can you say something about how credentials of connected services (ex. DropBox) are stored in Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6383162-7bcd-70cc-f7dd-b818d236bfdf
* Version Independent ID: 34c9897a-29ae-0048-30ce-da5abaffb76a
* Content: [Identity models and authentication in Microsoft Teams](https

[2019-02-07 12:30] lindspea commented on #1544
@TorrenManson thank you for pointing this out.  I will have the extra '-' removed as soon as possible.  Thanks again for your valuable contribution in helping improve MS Docs.

[2019-02-07 14:56] jackvinson commented on #1487
FYI.  Heard back from the helpful support team on Office365.  This is a known issue between organizations already on Teams and those still in Skype for Business.

Quote from support desk:

[2019-02-07 17:28] get-itips commented on #1164
Hi @ChenRahimi at the time, CU8 is available here https://www.microsoft.com/en-us/download/details.aspx?id=47690 thanks

[2019-02-07 18:39] samanthaw commented on #1295
@hyoshioka0128 it's fixed

[2019-02-07 18:39] samanthaw commented on #1471
@hyoshioka0128 it's fixed

[2019-02-07 18:40] samanthaw commented on #1165
@hyoshioka0128 the issue is fixed

[2019-02-07 18:41] samanthaw commented on #1426
@hyoshioka0128 the issue is fixed

[2019-02-07 19:38] dianavank commented on #1526
Solutions Catalog is being deprecated soon, please don't add link from docs.  We are gathering all the necessary information to update docs for SfB, anticipate to have all the updates done by 2/28.

[2019-02-07 19:53] jambirk commented on #1526
Thanks Diana. @eschrader thank you for the suggestion, but for the reasons mentioned we'll keep the page as-is.

[2019-02-07 19:53] #1526 closed

[2019-02-07 20:16] jambirk commented on #1484
Lola and I did discuss this before she left. This article is being removed from the content set in favor of  https://docs.microsoft.com/en-us/skypeforbusiness/certification/devices-ip-phones?toc=/MicrosoftTeams/toc.json&bc=/microsoftteams/breadcrumb/toc.json which is more actively maintained. Time to close this issue.

[2019-02-07 20:16] #1484 closed

[2019-02-07 20:18] jambirk commented on #1460
@tpmeredith This article is about to be removed in favor of another article. Can you suggest another article where mentioning that would be approriate?

[2019-02-07 20:40] #1468 closed

[2019-02-07 20:46] jambirk commented on #1460
Appreciate the technical point, but we're removing this article. Closing the issue.

[2019-02-07 20:46] #1460 closed

[2019-02-07 20:55] jambirk commented on #1492
@3k09

The link works for me, but I notice you're being redirected to a german Loc version of the site, which may not exist. Looking into that.

The alternate link you suggest is to an article that's being removed from the content set.

[2019-02-07 21:02] #1525 closed

[2019-02-07 21:03] #1510 closed

[2019-02-07 21:19] samanthaw commented on #1492
@3k09 we're working on this issue

[2019-02-07 22:13] thedrum808 commented on #1529
Agreed! I've noticed this on a few machines, and it's quite unnerving to see "Program" listed there.

[2019-02-07 22:59] MollyMalone opened #1568 "Test feedback"
Test feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78ade1a4-092c-1132-44df-ee2c683fdd33
* Version Independent ID: 396b1aee-2f40-9895-9b00-07e38d11d31b
* Content: [Microsoft Teams analytics and reporting](https://docs.microsoft.com/en-us/microsoftteams/teams-analytics-and-reports/teams-reporting-reference#feed

[2019-02-07 23:42] kenwith opened #1569 "test de-de"
test from de-de translation

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 2c25f1c5-1e29-86af-fa80-4284e0f2fb84
* Version Independent ID: c98c4747-9c51-0703-1cf9-af71f765baec
* Content: [Was ist Telefonsystem in Office 365?](https://docs.microsoft.com/de-de/MicrosoftTeams/what-is-phone-

[2019-02-07 23:42] #1569 closed

[2019-02-08 06:12] MySkypeLab opened #1572 "Incorrect example flag ReinviteResponceCode"
The example command given in the document is "Set-CSOnlinePSTNGateway -Identity sbc1.contoso.com -ReinviteResponceCode "408""

The flag should be "-FailoverResponceCodes" instead of "-ReinviteResponceCode"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 485ba3d8-4016-aeb6-214c-22645d4ed439
* Version Independent ID: 328e

[2019-02-08 06:51] lindspea commented on #1543
@scanum @AndreaBarr This can be closed thank you.

[2019-02-08 06:53] lindspea commented on #1544
@AndreaBarr  @scanum This can be closed thank you.

[2019-02-08 09:08] pastperfect opened #1573 "Documentation update required to reflect the new Teams & Skype Admin Center"
The section Enable business-to-business communications for your users is no longer valid now that the Admin Center has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee122b1c-c1c6-bb32-38db-a7f7c52c1f28
* Version Independent ID: 1f335848-baeb-9396-f753-8f72017447ce
* Content: [Allow users to contact external S

[2019-02-08 10:30] hyoshioka0128 opened #1574 "paragraphs returned from Japanese to English."
After fix #1468, All the problematic paragraphs returned from Japanese to English.

https://docs.microsoft.com/ja-jp/microsoftteams/plan-teams-governance
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 20c43928-84c0-0a75-9354-66aef3b83e46
* Version Independent ID: f95298ae-de58-02eb-0b49-8390ab161d4c
* Content: [Teams でのガバナンスを計画する - Microsoft Teams](ht

[2019-02-08 11:24] TotallyInformation commented on #1016
I think a new issue should be opened. In the meantime, I'm compiling a list of Teams and Teams client issues for a contact within Microsoft.

[2019-02-08 12:44] MikeParker365 opened #1575 "Org-wide teams"
Maximum number of users in teams is now 5,000

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06059d07-6687-2924-7d0a-3c03220a1650
* Version Independent ID: bb293f92-9394-b156-2e08-0baead5c3bbe
* Content: [Overview of teams and channels in Microsoft Teams](https://docs.microsoft.com/en-gb/MicrosoftTeams/teams-channels-o

[2019-02-08 12:50] 3k09 commented on #1492
@jambirk & @samanthaw Thanks.
Yes, by default I'm on the DE-DE pages. I'd now suggest to point from the de-de source page to en-us page https://products.office.com/en-us/microsoft-teams/across-devices/devices this one seems to work.

[2019-02-08 15:05] sdecker commented on #1054
No, it is not possible to change an existing team to Org-Wide. I've tried and it doesn't work. I even opened a support case and gone round and round with support and they have unequivocally stated it cannot be done. The paragraph in the FAQ that says you can is a lie.

[2019-02-08 15:47] yogkumgit commented on #1003
@dmonti79  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link https://www.youtube.com/watch?v=puuOy0sEg1Y

We will be very happy if you can share the outcome or resolution with us. We will c

[2019-02-08 15:49] yogkumgit commented on #1151
@intensite  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link https://www.youtube.com/watch?v=puuOy0sEg1Y
We will be very happy if you can share the outcome or resolution with us. We will c

[2019-02-08 15:55] yogkumgit commented on #908
@juanand  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link https://www.youtube.com/watch?v=puuOy0sEg1Y
We will be very happy if you can share the outcome or resolution with us. We will cer

[2019-02-08 15:58] yogkumgit commented on #886
@DaStivi  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link https://www.youtube.com/watch?v=puuOy0sEg1Y

We will be very happy if you can share the outcome or resolution with us. We will ce

[2019-02-08 16:02] StuBeck32 commented on #1477
We're currently having the same problem. Unfortunately we've had other issues with documentation here, and it seems like the documentation written is how they want it to work, not actually how it is working.

[2019-02-08 16:27] yogkumgit commented on #983
@bartbilliet   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule.  You can create your own user voice also. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://microsoftteams.uservoice.com/forums/555103-

[2019-02-08 16:31] yogkumgit commented on #905
@dougand  Thank you very much for the contribution and sharing this explanation. @paul-jensen
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-08 16:35] dmoore4 commented on #886
Hi @yogkumgit, or anyone else who might be interested and have the ability to track internal support cases.  Here's my case **#118103119292043] Microsoft Teams is not showing call controls after install on Surface Hub**

It's been open for months.

[2019-02-08 16:43] yogkumgit commented on #958
@AndreaBarr  Thank you very much for the contribution. @Rashantha  Hope to log future issues with complete information. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-08 16:48] yogkumgit commented on #1158
@mcousine  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link https://www.youtube.com/watch?v=puuOy0sEg1Y
We will be very happy if you can share the outcome or resolution with us. We will ce

[2019-02-08 17:08] sdecker commented on #983
We've turned off Yammer as it serves no value in our organization with everyone using Teams. MS needs to help organizations reduce collections points users have to poll for information rather than maintaining an ever growing number of services.

[2019-02-08 17:42] greganth1 opened #1576 "Is there a list of the current firmware versions managed in the online service?"
Would be great to have a link to the current certified firmware versions that matches what an IP Phone would be expected to receive from the online update service.
This article lists approved devices and firmware but doesn't mention whether that's the current firmware being delivered to devices with EnableDeviceUpdate = $true.
https://docs.microsoft.com/en-us/skypeforbusiness/certification/devices

[2019-02-08 17:42] jambirk commented on #1492
@3k09
Hard coding in the locale like that is definitely a last resort. I understand a more comprehensive localization solution is being worked on, but if it's going to take a long time I'll use your suggestion.

[2019-02-08 17:45] #1543 closed

[2019-02-08 17:45] #1544 closed

[2019-02-08 17:52] #1003 closed

[2019-02-08 17:52] #1151 closed

[2019-02-08 17:52] #1011 closed

[2019-02-08 17:53] #938 closed

[2019-02-08 17:53] #908 closed

[2019-02-08 17:53] #886 closed

[2019-02-08 17:54] #872 closed

[2019-02-08 17:54] #905 closed

[2019-02-08 17:54] #1158 closed

[2019-02-08 17:54] #983 closed

[2019-02-08 17:54] #1375 closed

[2019-02-08 17:55] #1264 closed

[2019-02-08 17:55] #958 closed

[2019-02-08 18:06] samanthaw commented on #1196
@hyoshioka0128 the issue is fixed

[2019-02-08 20:31] TorrenManson opened #1579 "URL broken"
Very first URL to the EHLO blog is incorrect, should be https://blogs.technet.microsoft.com/exchange/2019/02/08/retiring-unified-messaging-in-exchange-online/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63f7281d-e17d-c4e8-ced8-f4d695785e6c
* Version Independent ID: 40876324-10aa-e412-e1c2-868d1be2b9b1
* Content: [Ex

[2019-02-08 22:31] dgonzaITpro opened #1580 "User Data after Trail?"
What happens to a users data, files, etc... the trials ends?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28550025-fde2-9a83-a826-f7e3ccb313db
* Version Independent ID: 2a304432-b10c-220f-3453-e19e7a155c67
* Content: [Manage the Microsoft Teams Commercial Cloud Trial offer](https://docs.microsoft.com/en-us/microsoftt

[2019-02-09 05:43] FrancoiD commented on #1477
Thank you for reporting.
The behavior described is accurate and in production. There is no issue with the documentation.
You must be hitting an issue where policies recently changed for a user take a long time to be followed by the client. We are actively working to improve that.
In the interim, you can ask your support person to open an ICM and request urgent whitelisting for the fix.

[2019-02-09 12:23] StuBeck32 commented on #1477
What’s icm?

Also if this is expected there needs to be documentation stating what is expected. We are having it happen for more than 24 hours after switching to teams and a ticket I opened 20 hours ago has gone ignored by Microsoft support.

[2019-02-09 14:34] mschultz-bcbsne commented on #1477
@FrancoiD We have this same problem and are waiting for a response from support on getting “whitelisted” for the fix. Even with this fix, it’s my understanding from the support engineer that it can still take up to 24 hours for the change to fully take effect. That’s nowhere in the docs and needs to be clearly called out, in my opinion. He also didn’t mention that it would block the interop thread

[2019-02-09 15:50] FrancoiD commented on #1477
@mschultz-bcbsne : the reason why the policy aspect is relevant here is that the client will disable the thread and offer a new thread once it knows that the recipient policy has changed. As long as it does not know of the policy change, the client can't do that.
The docs do describe the behavior once the policy is set. The behavior is not rolling out, it is implemented as such, as soon as the cli

[2019-02-09 19:53] StuBeck32 commented on #1477
If it’s relevant please document it. Thanks.

[2019-02-09 19:58] FrancoiD commented on #1477
Hi Stu, what I am saying above is that it's only relevant in the context of the temporary policy latency we are experiencing, not as a matter of the ongoing principle that this documentation is providing (as are other documentations on other behavior also potentially affected by policy latency). If anything, it's not here that policy latency issues should be documented. Let me explore whether we h

[2019-02-09 20:01] StuBeck32 commented on #1477
Thanks. It’s clear we won’t agree about what should be stated way.

There needs to be a central means of showing this is an issue though. It’s likely out of context for here, but this should be on the office 365 portal as an advisory for example or as a notice when making changes. It could also be in the updated documentation for switching to teams as an issue which needs to be known.

[2019-02-09 20:30] FrancoiD commented on #1477
We agree on a central means, let me discuss that internally.

[2019-02-10 01:35] hyoshioka0128 opened #1581 ""マイクロソフト チーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-prepare-it-pros

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 5c924ecf-0941-3f4d-f492-b7559313c2bd
* Version Independent ID: 32d8d9c0-4e0f-7ccc-ac9c-f6ff6b2200c4
* Content: [マイクロソフトのチームのためのトレーニングします。IT サポートの管理の問題](https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-prepare-it-pros)
* Conten

[2019-02-10 01:37] hyoshioka0128 opened #1582 ""マイクロソフトのチーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/retention-policies

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: fb40cf43-557e-d443-578b-49edca4a3179
* Version Independent ID: f78c9566-767f-bfae-7ba0-4e81d313034e
* Content: [マイクロソフトのチームでのリテンション ・ ポリシー](https://docs.microsoft.com/ja-jp/microsoftteams/retention-policies)
* Content Source: [Teams/reten

[2019-02-10 01:40] hyoshioka0128 opened #1583 ""マイクロソフトのチーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/cloud-voice-landing-page

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 50ff4ac0-b84c-1073-2eb4-23c4ed17daf3
* Version Independent ID: 596ed1cd-3104-b4da-0059-8828950ece84
* Content: [マイクロソフトのチームでのクラウドの声](https://docs.microsoft.com/ja-jp/microsoftteams/cloud-voice-landing-page)
* Content Source: [Teams/

[2019-02-10 01:41] hyoshioka0128 opened #1584 ""マイクロソフトのチーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/cloud-voice-landing-page

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b470c840-88bb-5502-1a2e-6ab48de79d99
* Version Independent ID: a99970e7-ad8f-8b8e-c40f-1477a87008ee
* Content: [マイクロソフトのチームでの通話プラン](https://docs.microsoft.com/ja-jp/microsoftteams/calling-plan-landing-page)
* Content Source: [Teams/

[2019-02-10 01:45] hyoshioka0128 opened #1585 ""マイクロソフト チーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-pro

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 026df9e5-514b-1d74-7af3-7ca88a805bfb
* Version Independent ID: 84fdda2b-9288-37c5-aaa9-53d98f6f67bc
* Content: [マイクロソフト チームの Pro をアップグレードします。ロードマップ](https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-pro)
* Content Source: [Teams/upgrade-pr

[2019-02-10 01:47] hyoshioka0128 opened #1586 ""マイクロソフトのチーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/teams-and-skypeforbusiness-coexistence-and-interoperability

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d53d0cb0-90a6-5932-f78e-7de6fcc4d481
* Version Independent ID: 3d468027-cc37-5199-32ec-819bf62b2caa
* Content: [マイクロソフトのチーム。モードのアップグレード、島、のみの相互運用機能のポリシー](https://docs.microsoft.com/ja-jp/microsoftt

[2019-02-10 01:48] hyoshioka0128 opened #1587 ""マイクロソフトのチーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/assign-roles-permissions

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 20423b44-629b-1bee-280c-fb55680cd33e
* Version Independent ID: a60f6a48-89d7-98b6-4245-4be171fd06fd
* Content: [チーム所有者およびマイクロソフトのチームのメンバーを割り当てる](https://docs.microsoft.com/ja-jp/microsoftteams/assign-roles-permissions)
* Content Sou

[2019-02-10 01:49] hyoshioka0128 opened #1588 ""マイクロソフトのチーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/resources-teams-edu

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 214c365c-3550-8fed-b6bf-e3543d504a2e
* Version Independent ID: 9bdd0801-aace-a0a5-8b0a-ca48b3b3ee6d
* Content: [教育管理者向けのマイクロソフトのチーム](https://docs.microsoft.com/ja-jp/microsoftteams/resources-teams-edu)
* Content Source: [Teams/resources-

[2019-02-10 01:51] hyoshioka0128 opened #1589 ""マイクロソフト チームのヘルプを表示します。" needs to be replaced with "Microsoft Teams でヘルプを利用する"."
https://docs.microsoft.com/ja-jp/microsoftteams/get-help-in-microsoft-teams

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4e853a70-3794-7f23-2dba-da09abf822e0
* Version Independent ID: d3dc0161-e075-df4d-d82c-a8f87c58da89
* Content: [マイクロソフト チームのヘルプを表示します。](https://docs.microsoft.com/ja-jp/microsoftteams/get-help-in-microsoft-teams)
* Content Source

[2019-02-10 01:54] hyoshioka0128 opened #1590 ""マイクロソフト チーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/phones-for-teams

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae4c265a-8df4-647d-fc42-5054e3340c20
* Version Independent ID: 249c7301-9c82-b1c4-8401-54553370302b
* Content: [Microsoft Teams 用の電話機](https://docs.microsoft.com/ja-jp/microsoftteams/phones-for-teams)
* Content Source: [Teams/phones-for-tea

[2019-02-10 01:56] hyoshioka0128 opened #1591 ""マイクロソフトのチーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/manage-resource-accounts

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 81fa6268-92b2-546f-9200-f323bb48e90e
* Version Independent ID: 6ce89bc0-ae69-b6f1-df50-532e46b2e67b
* Content: [チーム内のリソース アカウントを管理します。](https://docs.microsoft.com/ja-jp/microsoftteams/manage-resource-accounts?cid=kerryherger)
* Cont

[2019-02-10 02:12] hyoshioka0128 opened #1592 "URL broken. [Plan Cloud auto attendant](～/plan-cloud-auto-attendant.md) → (～/plan-cloud-auto-attendant)"
[Plan Cloud auto attendant]https://docs.microsoft.com/en-us/SkypeForBusiness/hybrid/plan-cloud-auto-attendant.md
↓
[Plan Cloud auto attendant]https://docs.microsoft.com/en-us/SkypeForBusiness/hybrid/plan-cloud-auto-attendant

https://docs.microsoft.com/en-us/microsoftteams/manage-resource-accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-10 02:12] hyoshioka0128 opened #1593 "URL broken. [Configure Cloud auto attendants](～/configure-cloud-auto-attendant.md) → (～/configure-cloud-auto-attendant)"
[Configure Cloud auto attendants]https://docs.microsoft.com/en-us/SkypeForBusiness/hybrid/configure-cloud-auto-attendant.md
↓
[Configure Cloud auto attendants]https://docs.microsoft.com/en-us/SkypeForBusiness/hybrid/configure-cloud-auto-attendant

https://docs.microsoft.com/en-us/microsoftteams/manage-resource-accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-02-10 02:17] hyoshioka0128 opened #1594 ""マイクロソフト チーム" needs to be replaced with "Microsoft Teams"."
https://docs.microsoft.com/ja-jp/microsoftteams/teams-adoption-your-first-teams

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 885bbb1b-81d6-b45e-80b3-335b1213bb23
* Version Independent ID: 00b8e219-cd96-e8ce-bf06-96a03ab82ffc
* Content: [Microsoft Teams で最初のチームを作成する](https://docs.microsoft.com/ja-jp/microsoftteams/teams-adoption-your-first-teams)
*

[2019-02-10 02:21] hyoshioka0128 opened #1595 "Paragraphs returned from Japanese to English."
After fix #1165, All the problematic paragraphs returned from Japanese to English.

https://docs.microsoft.com/ja-jp/microsoftteams/continue-journey

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 01f00359-e536-fdd5-2c6e-859247d6f578
* Version Independent ID: dbba7a52-9c65-dc96-c0b6-1aed6c414000
* Content: [Microsoft Teams ユーザーの導入計画](https://docs.micr

[2019-02-10 07:49] xMarcus opened #1596 "Administratively remove Outlook add-in"
How does an admin remove the Skype Outlook add-in for all users? Specifically the "New Skype Meeting" button in Outlook calendars.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e763c267-2c3a-190d-29e2-b5c81448fc10
* Version Independent ID: 98b73595-54ea-503c-ac3c-9df176543e9e
* Content: [Upgrade Skype for Business Onl

[2019-02-10 10:33] najimaga opened #1597 "Shared Mailbox in Teams"
Hello,

I would like to ask about the Exchange Online Share Mailbox integration. I've test with creating multiple Teams groups and I cannot find this Shared Mailbox associated to the Teams group. It creates an Office 365 group that has a calendar. The Teams application itself has a calendar for scheduling meetings and audio-conferences, but the channel doesn't seem to have a Shared Mailbox or a Ca

[2019-02-10 16:16] FrancoiD commented on #1596
This is done by granting either of the Teams Only or SfBWithTeamsCollabAndMeetings modes. At that point, the Teams application will remove the SFB plugin.

[2019-02-10 16:23] FrancoiD commented on #1596
It may require a restart of both Teams and Outlook. Also note that policy may take a few hours to propagate.

[2019-02-10 19:35] FrancoiD commented on #1111
Yes it has. The tables are also explained in the text.

[2019-02-10 19:36] FrancoiD commented on #1112
Article has been revised and this matter should be closed.

[2019-02-11 07:27] hyoshioka0128 opened #1604 "Paragraphs returned from Japanese to English."
After fix #1294, All the problematic paragraphs returned from Japanese to English.

https://docs.microsoft.com/ja-jp/microsoftteams/manage-guests

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6f1d577c-1360-c2c1-a850-9ac6a941ec2f
* Version Independent ID: 346e43d4-22e0-2800-b80d-9fbdac324f75
* Content: [Microsoft Teams でのゲスト アクセスを管理する](https://docs.m

[2019-02-11 11:36] poz1 opened #1605 "How to Join link"
Make "How to join" a link to the page in the last paragraph: "If you are a vendor seeking to join the certification program, see How to Join for requirements and available programs."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886ea065-904f-9ee9-e98c-6af2ba3216bc
* Version Independent ID: d3aaba1d-ef63-22ed-2d34-ef2

[2019-02-11 12:25] pchatham commented on #1439
I second this. More OPTIONS would be great.
"openAsHidden=true"

[2019-02-11 13:38] get-itips commented on #1156
Hi @alexlushsevernunival thanks for taking the time to submit your valuable feedback.
I checked the information in the document and I found information regarding the impact of using TCP in Skype For Business, please review the information in this section https://docs.microsoft.com/en-us/MicrosoftTeams/quality-of-experience-review-guide#tcp to see if it helps to resolve your problem.

[2019-02-11 14:14] cervezerg opened #1606 "Cannot download file 478232_intl_x64_zip.exe"
Start-CcDownload is having an issue.

When trying to download fix 478232_intl_x64_zip.exe this point to URL https://go.microsoft.com/fwlink/?LinkId=852532
This URL points to:
https://hotfixv4.microsoft.com/Windows%208.1/Windows%20Server%202012%20R2/sp1/Fix514814/9600/free/478232_intl_x64_zip.exe which is invalid due to DNS misconfiguration. This DNS name "hotfixv4.microsoft.com" points to 255.255.

[2019-02-11 15:09] get-itips commented on #926
Thanks @DEberhardt for taking the time to submit feedback.
I checked the matching pattern and the translation rule. If you enter 50100 it will translate to +14255550100 as the documentation says:

You probably know this but ^5(\d{4})$ regex means: Must start with a 5 and keep the next 4 digit numbers so it will remove the first 5, because is not inside the parenthesis, only 0100 will be kept and i

[2019-02-11 15:14] martinagrom opened #1607 "Meetings > Live events settings screenshots not valid as menu item does not exist"
"Meetings &gt; Live events settings" screenshots and description are not valid as menu item does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b358007-ded1-e7e2-01ff-e646a0d8f9b6
* Version Independent ID: ef681dd5-896c-1b48-7009-63cf5847f126
* Content: [Configure live event settings in Microsoft Teams](http

[2019-02-11 15:54] DeanGross commented on #1597
It is hidden, see https://docs.microsoft.com/en-us/microsoftteams/office-365-groups#how-office-365-groups-work

[2019-02-11 16:01] yogkumgit commented on #1164
@get-itips  Thank you very much for the contribution and sharing this explanation. @ChenRahimi
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-11 16:04] yogkumgit commented on #1156
@get-itips  Thank you very much for the contribution and sharing this explanation. @alexlushsevernunival  Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-11 16:07] yogkumgit commented on #926
@get-itips  Thank you very much for the contribution and sharing this explanation. @DEberhardt
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-11 16:15] alexlushsevernunival commented on #1156
@get-itips Thanks for the link, that's the information I was looking for!! I'll go ahead and close this now.

[2019-02-11 16:15] #1156 closed

[2019-02-11 16:38] kakaroto1234 opened #1608 "Teams Service Administrator limitations"
This role has a limitation of 250 teams/groups creation. Only Global Admins are exempt from this rule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b434530-6bf2-6e00-6eae-6fa043d022ce
* Version Independent ID: caab785f-e3a4-831a-87d8-26934a9f834f
* Content: [Use Microsoft Teams admin roles to manage Teams](https://do

[2019-02-11 17:06] jambirk commented on #1594
@samanthaw this looks like one for your team

[2019-02-11 17:20] #1112 closed

[2019-02-11 17:20] #1111 closed

[2019-02-11 17:22] labanex opened #1609 "Outdated I think"
Set-UnifiedGroup -Identity "DISPLAY NAME or EMAIL ID of the group" -HiddenFromExchangeClientsEnabled:$false -HiddenFromAddressListsEnabled:$false
The note above may need to be adjusted. This command works for me. Unless, this is a command -HiddenFromExchangeClientsEnabled:$false that has not been released to all tenants yet.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-02-11 18:54] jambirk commented on #943
page updated in PR 1611, we can close this.

[2019-02-11 18:54] #943 closed

[2019-02-11 19:52] get-itips commented on #927
Hi @DEberhardt
Thanks for taking the time to submit feedback, we really appreciate it.
I analyzed the information you gave us.
Let me tell you that, exactly as you said, Global dial plan is used for analog devices/contacts. Unless you set a Site dial plan, if you set one, the Site Dial Plan will be used.

Hope that information answers your question, and again thanks for your submission.

[2019-02-11 20:26] DBailey618 opened #1613 "SFB 2015 on-premise without hybrid configuration"
We are currently running SFB 2015 on-premise and do not mind the migration to cloud voicemail, but not able to configure hybrid configuration (at this time).  The article states that this is mandatory.  Is there a work around to use cloud voicemail without a hybrid configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-11 22:42] DEberhardt commented on #926
Thank you for the feedback!
So I have learned that only the numbers inside the parent his are kept - good.

Even though the example is correct, may I still ask for it to be changed so that the example is clearer?
(I could have figured it out, I think ;))

Thanks,
David

Best regards,
David

Apologies for the brief nature of this email as it has been sent from my phone.

___________________________

[2019-02-11 22:45] CarolynRowe commented on #926
Thank you for your feedback.  555 is a common usage so that we don't publish a live phone number. I'm going to go ahead and close this.

[2019-02-11 22:45] #926 closed

[2019-02-11 22:49] DEberhardt commented on #926
You can still change the extension....

Best regards,
David

Apologies for the brief nature of this email as it has been sent from my phone.

________________________________
From: Carolyn Rowe <notifications@github.com>
Sent: Monday, February 11, 2019 10:45 pm
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness
Cc: DEberhardt; Mention
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] 5-digit Dia