[2022-09-02 06:01] dariomws commented on #9226
Also very similar to:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/9242

[2022-09-02 06:27] dariomws commented on #9226
@d1bjo0, I'm applying an update to the article. 3000 minutes for the US and Canada.

Do you mean the US instead of the UK?

[2022-09-02 09:50] SamanthaSt opened #9274 "Dark Mode Teams App color"
Hello,

I customized my  Viva Connections to use our organisation color. This is working great in light mode.
Now i realised if I switch Teams to dark mode that my customized color is ignored and we again use the default Teams primary color.

I couldn´t find anything online. So is there a way to customize the teams app color in dark mode also?

---
#### Document Details

⚠ *Do not edit this sectio

[2022-09-02 12:16] lcansby opened #9275 "Auto Attendant and Call Queues not available in Georgia"
Auto Attendant and Call Queue numbers are not available in Georgia, please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04e70e55-6e6f-3c16-ad5d-6368953bd12a
* Version Independent ID: d83a555c-71de-a473-becb-57a4d0a47b2f
* Content: [Availability in Georgia - Microsoft Teams](https://docs.microsoft.com/en-us/mi

[2022-09-02 13:48] jonwbstr opened #9276 "What is the name of this group?"
The **TNS Service Desk** article links to the **Phone Number Service Center** portal.
Is the article right and someone needs to rename the Phone Number Service Center portal.
Or does the article need to be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dfc4d3f-1192-11f2-b6fe-9ecf06bb2563
* Version Independent

[2022-09-02 21:36] #7449 closed

[2022-09-02 21:47] #7487 closed

[2022-09-02 22:10] #7419 closed

[2022-09-02 22:17] tiburd commented on #7491
The article has been updated.

cc: @scanum

[2022-09-02 22:17] #7491 closed

[2022-09-02 22:22] get-itips commented on #9253
Hello @bjk17
Instead of what can be done, the limitations are listed in the article, and for channel meetings it says

So Meet now (and I checked) is available.

Please let me know if I understood your inquiry correctly, thanks

[2022-09-02 22:24] get-itips commented on #9253
I re-read your question and now I understand better, you want to know if a name can be given to the meeting in a private channel, that doesn't seem possible at the moment.

[2022-09-02 22:37] get-itips commented on #9255
Hello @brandonmcclure Brandon,

Does this answers your question?

https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=webhook

Let me know and thanks for your feedback

[2022-09-02 22:41] get-itips commented on #9264
Hello @PStoner3 Paul,
Here, we are limited to documentation issues and fixes, for your inquiry, the best would be to open a support request from your tenant.
Thanks,

[2022-09-03 03:31] srijesh2811 opened #9277 "why is it saying i need an account license i just logged out and want to log in again!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af87d2a8-11f7-5384-0b2e-c1825f591347
* Version Independent ID: 501c7bff-cbf6-0288-d533-8f31dfc296a6
* Content: [Assign Microsoft Teams licenses for education - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/teams-edu-licensing)
* Con

[2022-09-03 12:22] danmyhre opened #9278 "Error in powershell"
Get-CsOnlineUser -Filter {IsSipEnabled -eq $True} | where {UserValidationErrors -ne $null} | fl SipAddress, InterpretedUserType, OnPremHostingProvider, UserValidationErrors

Should be updated to

Get-CsOnlineUser -Filter {IsSipEnabled -eq $True} | where {$_.UserValidationErrors -ne $null} | fl SipAddress, InterpretedUserType, OnPremHostingProvider, UserValidationErrors

---
#### Document Details

[2022-09-05 02:46] akkawamu opened #9279 "Teams Rooms Pro license"
Please add the infomation of Microsoft Teams Room Pro.

https://www.microsoft.com/en-us/microsoft-teams/microsoft-teams-rooms/compare-rooms-plans#office-ContentAreaHeadingTemplate-isehs87

Thank you for your every kind help.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2070d20-21d1-c8bb-bbb4-69

[2022-09-05 03:28] brodiefairhall opened #9280 "Walkie Talkie mode, but still not PTT in meetings?"
I'm not entirely sure who does market research for the MS Teams team, or whether they read the mountains of community feedback about teams. The Walkie Talkie feature seems like something that is dreamed up by a manager who is upset they can't walk into the office of remote workers to "talk at them" (not to be confused with "talk to them"). It's going to be turned off by everyone unless it is force

[2022-09-05 06:47] J-a-k-o-b commented on #9062
Hi,
meanwhile, the Case I've opened (#32350133) was closed with reference to the docs article:

https://docs.microsoft.com/en-us/microsoft-365/solutions/collaborate-teams-direct-connect?view=o365-worldwide
![image](https://user-images.githubusercontent.com/46894290/188381862-2aa5ae83-748e-42a8-a348-f9403491bc74.png)

I assume that the note was added recently. For me it is not straight forward to m

[2022-09-05 21:35] dinocaputo opened #9281 "Meeting Expiration docs page redirecting here - please fix"
Link to this page https://docs.microsoft.com/en-us/microsoftteams/meeting-expiration is redirecting here which is incorrect.
The meeting expiration docs page is inaccessible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6d4c1c-6f16-b1a4-c4a9-be4e6d1f95b7
* Version Independent ID: 50ad835d-ed7f-18c6-34ba-322c1574f9c

[2022-09-06 02:11] scanum commented on #9277
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-06 02:11] #9277 closed

[2022-09-06 05:04] DF9TS opened #9282 "Please provide manual update script for Teams Rooms 4.14.24.0"
Please provide update script for 4.14.24.0 in the update article.

This article describes manual update for Teams Rooms:
https://docs.microsoft.com/en-us/microsoftteams/rooms/manual-update

The article proposes a Porshell script to update Teams Rooms to version 4.13.132.0
The newest version of Teams Rooms now is 4.14.24.0

Tnx

Gerd.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-09-06 13:47] Prasanna050 opened #9283 "Office app update script is not pointing to latest version of Teams rooms app - 4.14.24.0"
Customer trying to update the Teams rooms app to 4.14.24.0 (latest) [Release notes for Microsoft Teams Rooms (Windows) - Microsoft Teams | Microsoft Docs](https://docs.microsoft.com/en-us/microsoftteams/rooms/rooms-release-note#4121390-7142022) to resolve their ongoing issue with zoom / webex call showing very small on MTR device. They are trying to do manual update and the offline app update scri

[2022-09-06 17:32] #9226 closed

[2022-09-06 19:16] bjk17 commented on #9253
Hi @get-itips ,

Yes, this is what I find lacking in the documentation. I do agree that it doesn't _seem_ possible, but to be sure I ended up reading this documentation page. My suggestion is to make it clear in the documentation if or if not it's possible.

[2022-09-06 20:22] get-itips commented on #9253
@bjk17 I'll propose that. Thanks

[2022-09-06 21:31] #8898 closed

[2022-09-06 21:40] get-itips commented on #9264
@scanum

[2022-09-06 21:40] #9264 closed

[2022-09-06 21:41] get-itips commented on #9255
Hello @brandonmcclure Could you see my comment here? thanks

[2022-09-07 08:42] bailey044 opened #9285 "Diagram 5-8 are missing from Plan for Local Media Optimization for Direct Routing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbab466f-88f8-302a-7cda-d53bc743e831
* Version Independent ID: b5634fb3-6627-3fcd-101c-0ebc419d7b19
* Content: [Local Media Optimization for Direct Routing - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/direct-routing-media-optimiz

[2022-09-07 08:42] bailey044 commented on #9285
https://docs.microsoft.com/en-us/microsoftteams/direct-routing-media-optimization

[2022-09-07 09:33] K2Kris commented on #9282
Link has been updated and pointing to the correct file.

[2022-09-07 14:34] aamillerMSFT opened #9287 "This Section Header makes no sense"
This Section Header makes no sense.  There is nothing discussed about console or client, it is Basic vs Pro.

The following tables compare the Teams Rooms Basic and Teams Rooms Pro licenses and show what features are available with each. If a feature isn't available for a license, that feature can't be used on Teams Rooms devices that have been assigned that license. To use a feature on a Teams Ro

[2022-09-08 07:41] mozziemozz opened #9292 "Contradictory wording in License allocation example"
Hi @bjwhalen

This article was updated to state the following:

But the [License Allocation Example](https://docs.microsoft.com/en-us/microsoftteams/teams-add-on-licensing/virtual-user#license-allocation-example) still explicitly only references to call queues and auto attendants which have phone numbers:

Please clarify / correct the License Allocation Example so that it matches what's said at th

[2022-09-08 11:16] Petri-X opened #9293 "Firewall ports requirements from CVI towards Microsoft Teams Infrastructure"
Hi,

There seems to be some confuses on the air what connections are required on here:
![image](https://user-images.githubusercontent.com/43988151/189108202-a264d212-4d9f-4c31-99d4-cb02e0f1cb76.png)

Vendors are referring to Microsoft's requirements: the destination port on where to connect on Microsoft Teams infrastructure should be **any**. This means that all the ports including well-known port

[2022-09-08 13:11] DaniEASmith commented on #9249
@v-schintala and @scanum, the updated page has gone live. I believe we can close this issue now.

Link to the updated page: https://docs.microsoft.com/en-us/microsoftteams/expand-teams-across-your-org/assignments-in-teams#removing-assignments-and-grades.

[2022-09-08 14:23] Teamsgineer opened #9295 "ediscovery/content search is able to get edited messages without a hold, not just the last edited message"
Hi,
the statement:
Edited messages | If the user is on hold, previous versions of edited messages are also preserved.

is not too accurate as when performing a Content Search without a Hold, all the edited messages in a channel/chat are able to be found , and not just the last edited message.

feedback is to provide better written clarity in this doc, of what is able to be discovered in Content Se

[2022-09-08 14:28] Teamsgineer opened #9296 "ediscovery/content search is able to find all edited messages of a chat/channels message without a hold"
Hi,
the statement:
" Important
When a user or group is placed on hold, all compliance copies of messages are preserved. For example, if a user posts a message in a channel and then modifies the message, both copies of the message are preserved. Without the hold, only the latest message is preserved. "

is not too accurate as when performing a Content Search **without a Hold**, all the edited messa

[2022-09-08 18:54] get-itips commented on #9280
Hello @brodiefairhall Brodie, how are you?

Here, we are limited to documentation fixes, like missing information or typos, or errors, to share feedback, the best resource is

https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472

Thank you

[2022-09-08 18:54] #9280 closed

[2022-09-08 18:55] get-itips commented on #9279
Hello @akkawamu
Thanks for your feedback, the article has been updated to include information about Teams Pro licenses.

[2022-09-08 18:55] #9279 closed

[2022-09-08 20:13] get-itips commented on #9275
Hello @lcansby I am looking into this, thanks

[2022-09-08 20:24] get-itips commented on #9242
Article has been updated.

[2022-09-08 20:24] #9242 closed

[2022-09-09 20:48] get-itips commented on #9275
Hello @lcansby
I managed to get more information about this,

The table _Phone System_ in this type of articles is only describing Phone System, it is not scoped only to Calling Plans.

The team is working on improving the clarity of these country availability pages as a whole.

Thanks for your feedback!

[2022-09-09 22:05] #9275 closed

[2022-09-12 09:58] telenet1 opened #9297 "Carrier grade SBC but not certified by MS"
Hello!

What if SBC is from a carrier-grade solution used in a CSP(Mobile Operator) network while not certified by MS? what would be missed in features especially in integration with MS-teams?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1a1c01-10a9-7f69-1c7b-1a566b0f5112
* Version Independent ID: 329ee759-

[2022-09-12 11:03] ne0rrmatrix opened #9298 "Page does not have information I need"
I was directed by help page to this page for information regarding switching from domain account and personal account sign in on teams. This page appears to be just an ad with how to subscribe and why? I would like it when I get a redirect for information that the result be useful and not an ad. I am not running a business. If teams is not longer meant for personal accounts that is fine. Just say

[2022-09-12 13:03] #9253 closed

[2022-09-12 13:54] davidjfriedman opened #9299 "What is the limit for # of moderators?"
If possible, could we please document the max amount of moderators?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Teams - Microsoft Teams](https://docs.micr

[2022-09-12 13:55] davidjfriedman opened #9300 "What is the limit for # of moderators?"
If possible, could we please document the max amount of moderators?  For example, how many moderators can be added to a Teams Channel?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 097ecd40-1157-98ae-f438-96f9208afc03
* Version Independent ID: ea36ff93-46dc-920d-8d52-9b3b81420958
* Content: [Set up and mana

[2022-09-12 14:48] dariomws commented on #9062
@J-a-k-o-b, thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Microsoft products better. They keep a close tab on user feedback and it would be awesome if you could add your voice to the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/.

You might find others have made a similar reque

[2022-09-12 15:12] dariomws commented on #9228
Hi @marcseverino,

Thank you for your feedback. The general rule is that if there is no mention of GCC(H) or DoD, the same limits apply to all the cloud instances. But I think there is an exception here, GCC(H) or DoD cannot use the assistance program and therefore increase the limit to 100.000. I´ll try to confirm.

[2022-09-12 15:38] scottzak opened #9303 "Lack of progress with private channels"
I need to conduct private voting, but can't do it because of this. I've been seeing this message in your docs for about three years now. That makes me think that this either the docs aren't up-to-date, you're making a strategic choice not to offer these features or there's a serious architectural limitation.  Either way, it's a real pain to try to work around.

---
#### Document Details

⚠ *Do not

[2022-09-12 18:00] npherson opened #9304 "Co-Organizers - Meetings using view-only experience"
"The organizer will always be guaranteed space in the main meeting."

Now that the 'co-organizer' feature has been released, it is unclear whether or not the ability to join even when the meeting is full applies to them.

Can this document be updated to explicitly state one way or the other?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-09-12 18:16] LtCmdrKeene opened #9305 "Incorrect License Information"
This page says agents answering calls in the call queue require "An Audio Conferencing license", which they do have. But yet still aren't in the queue. It turns out the users are not enterprise-voice enabled, and this page doesn't explain that this is a requirement or how to accomplish it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-09-12 18:48] BodomOW opened #9306 "Link has 404 Error"
This link is outdated

![image](https://user-images.githubusercontent.com/47012696/189732203-860ca25b-8b5c-440f-bbf2-508635dda485.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caf23f5e-0d33-ed26-50df-fef89bb0a0e4
* Version Independent ID: caf23f5e-0d33-ed26-50df-fef89bb0a0e4
* Content: [Manage the usage of a phon

[2022-09-12 19:00] #9306 closed

[2022-09-12 19:45] dariomws commented on #9240
Hi @jonwbstr, thank you for your feedback.

How the process is different? I think this is a special case and you should the TNS service desk as Carolyn suggested. No special information to add to the article.

[2022-09-12 20:07] dariomws commented on #9238
Hi @mmatijas, thank you for your feedback.

They are two different processes for the provision of devices:

"We are simplifying the experience of setting up Teams Android devices remotely from the Teams Admin Center. Remote provisioning eliminates the need to physically handle devices to sign in. Instead, once the MAC address is added in the Teams Admin Center, technicians just need to install the

[2022-09-13 02:21] marcseverino commented on #9228
Thanks for the reply Dario. My customer would like the piece of mind knowing that features work in GCCH and the documentation is reflecting that. Is the General Rule you mention applicable to all features? I don't know if my customer would accept that generalization. Would it be too difficult to add a line saying that any given article or docs page applies to commercial, GCC, GCCH etc.?

Also, per

[2022-09-13 05:23] prkosh opened #9308 "Correct Language issues"
[Enter feedback here]
I see Language errors in this page - please fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07d46fc-fafd-b775-be7c-667d1e090565
* Version Independent ID: f07d46fc-fafd-b775-be7c-667d1e090565
* Content: [User requests for admins to allow apps - Microsoft Teams](https://docs.microsoft.com/en-us/

[2022-09-13 06:42] dariomws commented on #9228
If you have a Microsoft alias, you can link your accounts in GitHub so that a blue "Microsoft submitter" label appears to any PR's or issue you submit. Guidance on it here: https://docs.opensource.microsoft.com/tools/github/index.html

Here is the site you can use to see the mappings between GitHub and Microsoft aliases: https://repos.opensource.microsoft.com/people?q=marcseverino

[2022-09-13 08:22] kurtvanbalen opened #9310 "Possibility to extract Updates data to excel?"
Is there any way possible to extract the data which is filled in by the users towards excel?

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c19d4972-fa39-2908-c33c-f7e1a84d06c5
* Version Independent ID: c19d4972-fa39-2908-c33c-f7e1a84d06c5
* Content: [Manage the Updates app for your organization - M

[2022-09-13 12:18] TheITguy666 opened #9313 "call forwarding, or simultaneous ring on common area phones"
Although you mentioned on this paragraph that you can configure call forward and simultaneous ring,
These options are not available on accounts with CAP license only.

Teams Admin Agent1.0.0.202205230848.productUp to date
Firmware7.3.2.0182Up to date
Company Portal App5.0.5484.0Up to date
OEM Agent App1.0.24Up to date
Teams App1449/1.0.94.2022062103Up to date

---
#### Document Details

⚠ *Do not

[2022-09-13 15:01] TheITguy666 commented on #9313
Sorry,
If you have a Teams IP Phone Policy with SignInMode=CommonAreaPhoneSignIn, call forward settings it will not appear
New-CsTeamsIPPhonePolicy -Identity 'IPpP-CAP' -Description 'Common Area Phone User Policy' **-SignInMode CommonAreaPhoneSignIn**

[2022-09-13 15:01] #9313 closed

[2022-09-13 16:51] J227668 opened #9314 "GCCH Operator Connect"
Is Operator Connect available to GCCH customers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fbee95-7a4d-7e50-efb2-52726553229c
* Version Independent ID: 60136744-9919-50a1-c371-d3e467700922
* Content: [Plan for Operator Connect - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/operator-connect-pl

[2022-09-13 19:48] cypheredout opened #9315 "Tag this as MTR-W"
[Enter feedback here]
Just curious if this should be tagged for MTR-W's specifically.  Had a customer looking for when we started supporting GCCH on A and all they found was this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1365f9b8-001c-daa7-592e-d88b9bb3a10e
* Version Independent ID: ffba1b4d-1f19-4dac-0b55-0

[2022-09-13 21:08] dstrome commented on #8785
MTR Premium has been absorbed into Teams Rooms Pro, which is available in GCC and GCCH - https://docs.microsoft.com/en-us/microsoftteams/rooms/rooms-licensing. Note that the Microsoft-managed portion of the service will be deprecated Oct 1st 2022. I'm closing the PR as the distinction is no longer needed and availability is called out in the link I pasted above.

[2022-09-13 21:08] #8785 closed

[2022-09-13 22:16] get-itips commented on #9225
I could not get any confirmation or more information about any change to the UK Calling plan minutes, in any case this can be re-opened. Thanks

[2022-09-13 22:16] #9225 closed

[2022-09-13 22:28] get-itips commented on #9255
@scanum

[2022-09-13 22:28] #9255 closed

[2022-09-14 05:07] tommyoo2 opened #9316 "can we deploy the recorder in cx physical machine or VM ?"
I just find the description below in this doc that we can only support deploy the recorder in azure vm, is it necessary to deploy the bot in azure? If yes, could you please provide the explanations why it is a compulsory?
===========
- **_specific requirements that are fundamental for compliance recording scenario are:
-
- Recorder bot must be deployed in Azure
-
- Recorder bot must run on a Windo

[2022-09-14 12:07] lindspea commented on #9146
@scanum this can be closed thank you.

[2022-09-14 12:08] lindspea commented on #9100
@scanum this can be closed thank you.

[2022-09-14 14:01] DaniEASmith commented on #9249
Closing because this has been resolved with the above PR that has been published.

[2022-09-14 14:01] #9249 closed

[2022-09-14 16:54] #9193 closed

[2022-09-14 17:10] get-itips commented on #9283
Hello @Prasanna050
It seems the destination of the link has been updated to the 4.14.24.0 version.

[2022-09-14 17:12] #9072 closed

[2022-09-14 17:14] #9070 closed

[2022-09-14 17:18] get-itips commented on #9287
Hello @aamillerMSFT I am looking into this

[2022-09-14 17:51] #8810 closed

[2022-09-14 18:13] dstrome commented on #8213
Will add this to the topic in a future update.

[2022-09-14 18:13] #8213 closed

[2022-09-14 21:18] dstrome commented on #9287
Thanks for the feedback. Section title is a remanent of a previous iteration of the article.

[2022-09-14 23:09] scanum commented on #9297
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-14 23:09] #9297 closed

[2022-09-14 23:10] scanum commented on #9298
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-14 23:10] #9298 closed

[2022-09-14 23:10] scanum commented on #9300
Closing this issue as it is a duplicate

[2022-09-14 23:10] #9300 closed

[2022-09-14 23:11] scanum commented on #9303
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-14 23:11] #9303 closed

[2022-09-14 23:12] scanum commented on #9310
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-14 23:12] #9310 closed

[2022-09-14 23:12] scanum commented on #9314
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-14 23:12] #9314 closed

[2022-09-14 23:12] scanum commented on #9315
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-14 23:12] #9315 closed

[2022-09-14 23:12] scanum commented on #9316
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-14 23:12] #9316 closed

[2022-09-14 23:16] TinaMcN commented on #9308
@prkosh can you please let us know which language version the errors are in?  The link goes to the English article.
@scanum fyi, I have moved to a new project.  Can you please assign this and future localization issues to @martio instead, thanks!

[2022-09-15 00:17] bbhargavi2020 opened #9318 "Reset pin via USP does not send email, needs to be called out"
When you reset the audio conferencing PIN via USP page,it does not send email to the user. Needs to be called out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401f39f3-f614-6d63-adbd-1ed78ed804f0
* Version Independent ID: 26b45c86-8f6f-8704-d95a-f8c341e569ad
* Content: [Reset the Audio Conferencing PIN in Microsoft

[2022-09-15 00:57] J227668 commented on #9314
@scanum  I did confirm that operator connect is NOT available in GCCH. That should be called out in this document.

[2022-09-15 01:32] prkosh commented on #9308
English language

The team has fixed the issues and the new pr went live yesterday

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tina McNaboe ***@***.***>
Sent: Thursday, September 15, 2022 4:46:46 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness ***@***.***>
Cc: Priya Koshy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusin

[2022-09-15 06:11] martio commented on #9308
@TinaMcN This is probably a bad idea... :smirk:

[2022-09-15 06:11] martio commented on #9308
@TinaMcN This is probably a bad idea... 😏

[2022-09-15 10:05] tiagoroxo opened #9320 "Wrong URL"
The URL to download the POWERBI reports, is poiting to an old zip file.
The right and updated URL should be: https://www.microsoft.com/download/details.aspx?id=102291
This is what is mentioned here: https://docs.microsoft.com/en-us/microsoftteams/cqd-power-bi-query-templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-09-15 12:11] Larryngolog opened #9321 "Support for Audio Conferencing with dialout to US/CAN"
Hi!

Is the on-net conferencing supported with the new SKU for 0$ - AC with dialout to US/CAN (https://www.microsoft.com/en-us/microsoft-teams/audio-conferencing - Microsoft Teams Audio Conferencing with dial-out to USA/CAN)?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d4b1670-ab39-621e-025e-17d7d747cc09
*

[2022-09-15 12:42] get-itips commented on #9293
Hello @Petri-X how are you?
Let me clearly understand, do you mean from the partner point of view, not from the end user/customer, right?
Thanks for clarifying,

[2022-09-15 12:51] Petri-X commented on #9293
@get-itips
We are planning to implementing this service by our own to our own Azure platform, as the vendor is offering such a deployment as well. When reading the deployment guide this FW rule question came up, and it just not make any sense. But as Microsoft makes the requirements to them, they cannot do anything for it. So I thought to ask if here is anybody how could open this puzzle anyhow.

[2022-09-15 13:58] fredphoesh opened #9322 "NO Create Teams button!!"
There is no button on the left side to create a team, so this software has me stumped at step #1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c9902e8-a0b7-b6af-4656-2024849a5e8b
* Version Independent ID: 85beb9a7-2682-b52e-210b-20e598e3dab3
* Content: [Create your first teams and channels - Microsoft Teams](https://

[2022-09-15 14:01] supportguy opened #9323 "can't invite users from German tenant to US teams"
Hello:

Is there some kind of country restrictions with Shared channels? I have a shared channel that when I invite users from a German tenant I get the error "**you can't share this channel with people from this org**"

B2B settings are configure as follows in  both tenants

inbound access setting
- B2B collaboration: Allow Access | All users and groups | All Applications
- B2B direct: Allow Acce

[2022-09-15 14:52] get-itips commented on #9293
Thanks @Petri-X
I could get information that the service can't be implemented on your own at the moment, so I cannot help you any further with the information you are looking for.

[2022-09-15 14:52] #9293 closed

[2022-09-15 15:52] TinaMcN commented on #9308
@martio sorry, I meant to say to assign the localization issues to @MartinOersted instead of you :-)  FYI @scanum

[2022-09-16 08:22] Petri-X commented on #9293
Ok, nice to hear.

Then this must be wrong:
[Planning, prerequisites and firewall ports for your Microsoft Teams integration](https://docs.pexip.com/admin/teams_planning.htm)

...or not, who knows. I believe there could be a tiny possibility that your source does not know all? 😄

[2022-09-16 10:40] ashishguptaiitb commented on #9192
Hello @scanum , this issue is resolved. Shall we close it right away?

[2022-09-16 10:48] BohrenAn opened #9325 "Clarify Permissions"
Hi All,

Can you please clarify the needed Permissions.
Any Application Permissions needed or just add the App to the "Teams Administrator" Role?

Regards
Andres

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32304edf-550b-72a3-57df-6dcc29dba56d
* Version Independent ID: 32304edf-550b-72a3-57df-6dcc29dba56d
* Content:

[2022-09-16 18:15] pbafna03 commented on #9325
Hi @BohrenAn,

Details on the same are added in the doc now - [link](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-application-authentication#:~:text=Assign%20API%20permissions,ReadWrite.All.).

[2022-09-16 19:28] BohrenAn commented on #9325
Perfect. Thank you very much!

Von: Prashant Bafna ***@***.***>
Gesendet: Friday, September 16, 2022 8:16 PM
An: MicrosoftDocs/OfficeDocs-SkypeForBusiness ***@***.***>
Cc: Bohren, Andres ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] Clarify Permissions (Issue #9325)

Hi @BohrenAn<https://che01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.

[2022-09-16 22:39] satish-vm opened #9326 "Teams Admin Center has more settings than this page describes e.g. 'Meet Now in Private Meetings'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4521de2b-1aae-93de-ee1a-222146194700
* Version Independent ID: b4f9087c-e1a3-8b47-917c-7c294d46fcca
* Content: [Manage meeting policies for participants and guests - Microsoft Teams](https://docs.microsoft.com/en-US/microsoftteams/meeting-policies-par

[2022-09-17 14:21] shivtorov opened #9327 "outdated notes about SFBO/Teams PowerShell modules"
`Note` block in the beginning of `Manage policies via PowerShell` section contains outdated statements about `Skype for Business Online Connector` and `MicrosoftTeams` PowerShell modules

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a60f957-8007-280c-4081-aa1930771767
* Version Independent ID: d6e71a44-d4ba-b82c-c2fc

[2022-09-19 05:30] SvenBell opened #9328 "Please clarify if there is a cost to this feature with an example."
Hi, Could you please clarify if there is a cost to using this feature. i.e. could a hostile caller could call unassigned numbers and drain a Microsoft customer's Communications credits by repeatedly calling unassigned numbers if they have been set to re-route via CsTeamsUnassignedNumberTreatment to say the main auto-attendant?

Many thanks

---
#### Document Details

⚠ *Do not edit this section. I

[2022-09-19 07:06] ashishguptaiitb commented on #9192
It'll be resolved via https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness-pr/pull/10100/
Closing this issue.

[2022-09-19 07:06] #9192 closed

[2022-09-19 08:06] orandev opened #9329 "Documentation is not clear regarding "Allow interaction with custom apps" org-wide setting"
Hello,
"Allow interaction with custom apps" description in the Teams admin center and in the docs.microsoft.com page is not clear, based on what we saw by testing the 2 values for this setting (or we do not have the same definition of "Custom App").
Our use case was to forbid users from chatting with externals bots by deeplink (bot apps not uploaded to our tenant by a Teams admin, i.e. this featur

[2022-09-19 15:35] Larryngolog opened #9330 "Clarity on console licensing for Basic license"
Please provide clarity regarding the license requirement for console on MTRoA. In article it states:
"A Teams Rooms Basic license can be used to license a single certified Teams Rooms device in a room. If you want to log into more than one device in a room using the same resource account (**for example, a Teams Rooms console**, a Surface Hub, and a Teams panel), **you need to use a Teams Rooms Pro

[2022-09-19 16:12] jonwbstr commented on #9240
The requested information to submit the port order is different, the wait time to schedule the transfer is different, process for scheduling and completing the transfer is different.

The team involved in performing the transfer is different. What is the same? they both transfer numbers, that is about the only similarity. Hope this helps

[2022-09-19 16:13] jonwbstr commented on #9240
As written the article suggests that inter-tenant ports are not available we can only port numbers into our out of microsoft. Not between two microsoft tenants.

[2022-09-19 18:26] raguravindran opened #9331 "[Admin center] Unable to view Manage Apps on teams admin center as Teams Administrator"
Unable to view "Manage apps" option from [Teams Admin Center](https://admin.teams.microsoft.com)
See screenshot for more information

<img width="1445" alt="Screenshot 2022-09-19 at 11 53 13 PM" src="https://user-images.githubusercontent.com/36010645/191088371-58fb8b74-5d85-4149-a6c9-f52a695a4880.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-09-19 20:15] ashishguptaiitb commented on #9331
I don't see Manage app page in the left sidebar @raguravindran . I'd suggest talking with Microsoft support to resolve this. Could be permissions or license issues?
https://learn.microsoft.com/en-us/microsoft-365/admin/get-help-support?view=o365-worldwide

[2022-09-19 20:18] ashishguptaiitb commented on #9308
The issues were fixed in English. The original comment did not refer to any localized content but EN article.
Let's close this issue. CC  @scanum and @TinaMcN

[2022-09-19 22:47] scanum commented on #9322
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-19 22:47] #9322 closed

[2022-09-19 22:47] scanum commented on #9323
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-19 22:47] #9323 closed

[2022-09-19 22:47] #9325 closed

[2022-09-19 22:49] scanum commented on #9331
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-19 22:49] #9331 closed

[2022-09-20 08:50] yuki-iwagishi opened #9336 "No Android Information on Microsoft Teams Rooms maintenance and operations"
[No Android Information on Microsoft Teams Rooms maintenance and operations]
All information written in this page is based on Microsoft Teams Rooms on Windows.
Better to add "Windows" on the title. Such as Microsoft Teams Rooms on Windows maintenance and operations
In other words, we cannot find Microsoft Teams Rooms on Android maintenance and operations including how to upgrade software. Please c

[2022-09-20 10:16] GeorgiaQian opened #9339 "controll fallback mode"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version Independent ID: 643bcf2f-507b-e449-73db-923d8a368ad9
* Content: [Teams for Virtualized Desktop Infrastructure - Microsoft Teams](https://learn.microsoft.com/en-us/microsoftteams/teams-for-vdi)
* Content

[2022-09-20 10:19] GeorgiaQian commented on #9339
This article states "When users connect from an unsupported endpoint, the users are in fallback mode"
However, the PG of Microsoft said  DisableFallback only applies to optimized Teams.

[2022-09-20 10:19] #9339 closed

[2022-09-20 11:34] dariomws commented on #9240
I understand that you need to create a new service case with the TNS services desk to request any number porting between two Microsoft tenants. Also that Carolyn gave you the same information.

Please let me know if you don't need to open a service case with TNS for this scenario.

[2022-09-20 12:15] jonwbstr commented on #9240
Hi dariomws, you are correct, sorry for the confusion. I didn't mean to suggest that the TNS service desk is not involved.

The TNS service desk has a team that performs port orders from other carriers. That team is not involved with inter-tenant port orders because the numbers are not moving to or from another carrier.

[2022-09-20 12:15] yuki-iwagishi opened #9340 "Rooms up to 5 people in size in Deploy Microsoft Teams Rooms on Android"
These recoomendation are old information when MTRoA was called "Collaboration Bar".
Recently, MTRoA certified devices are up to 16 people(Large). And most of operations don't require Touch Screen.

https://learn.microsoft.com/en-us/microsoftteams/devices/collab-bar-deploy
-Rooms up to 5 people in size
-Touch-enabled displays

https://learn.microsoft.com/en-us/microsoftteams/rooms/teams-devices-fea

[2022-09-20 13:08] HSteindl opened #9341 "AzureAD and MSOL Powershell modules are retired"
Since both AzureAD and MSOL powershell modules are going end-of-life rather soon, this page needs to be updated.
thanks for your consideration.
Best Regards
HST

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 05282aa8-ae14-117b-5885-7d851ee66b89
* Version Independent ID: 85abe13c-d34c-f42c-e273-a69be8cd991e
* Content:

[2022-09-20 13:25] dariomws commented on #9240
Ok, I'll try to confirm what is the procedure to port/move phone numbers between tenants.

[2022-09-20 14:10] SamErde commented on #8896
Noting that I get the warning, but my scripts continue when using version 4.6.0 of the MicrosoftTeams module. (I just noticed that 4.7.0 is available.)

[2022-09-20 15:39] 3017mark opened #9342 "Group Assignment of Policy Not Available - Documentation needs to be updated"
The ability for a customer to assign voicemail policies via groups is not available and documentation is vague and unclear with regards to this ability.  Please update accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 85634d87-7729-6449-9663-556097e75504
* Version Independent ID: b75446bd-07af-a7f2-d346-fe76

[2022-09-20 15:40] lberlau opened #9343 "Teams app version"
Hi,

It would be nice if this site could be updated with the latest Teams app version

Thanks
Lars Berlau

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7ecd6ee6-8850-f346-5684-9c5d2444789f
* Version Independent ID: a55a7a01-211d-147a-5332-b68e1051a2a1
* Content: [Microsoft Teams Rooms app version support - Microsoft

[2022-09-20 15:42] Larryngolog opened #9344 "Link to teams room admin center licensing"
Hello

It would be good to provide a link in the Device management section to the additional details in this article https://learn.microsoft.com/en-us/microsoftteams/rooms/admin-center-license-overview#comparison-of-teams-rooms-feature-availability-by-license.

This additional article provides much more clarity on the management capabilities for both licenses.

---
#### Document Details

⚠ *Do not

[2022-09-20 16:47] get-itips commented on #9328
Hello @SvenBell how are you?

Do you mean to expand/clarify these requirements?

Thanks

[2022-09-20 22:07] jeff-bb opened #9346 "Recordings and full storage quota."
From the FAQ --
"Where does the recording go if the user doesn't have OneDrive for Business or SharePoint, or the storage quota is full?

The recording will land in our temporary storage location where it will be held for 21 days. During that time, the organizer must download the recording. If not downloaded within 21 days, the recording is deleted."

Where is this temporary storage location? How

[2022-09-21 03:54] nahloe opened #9347 "affect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cf54bf5d-1748-46bf-a503-5e978f56126c
* Version Independent ID: 5976a1df-52e9-eb19-fd41-c7b04fce74f8
* Content: [How different technologies effect Microsoft Teams sign-on, including restricting sign-on, and sign-in behaviours. - Microsoft Teams](https

[2022-09-21 06:08] weyCC81 commented on #9233
Did something change here?, now this appearded:
![image](https://user-images.githubusercontent.com/26062079/191427015-5daba8d8-eb11-4cb6-972f-b866a48fb5f9.png)

[2022-09-21 06:38] dariomws commented on #9241
Hi @robinpoulose1, thank you for your feedback.

I think that sentence looks good. It means that Teams Phone Standard and Teams Phone with Calling Plan are both a subscription with Phone System features.

Next paragraph:
"For every 10 user licenses of Teams Phone Standard or Teams Phone with Calling Plan in your organization, one more Teams Phone Resource Account license becomes available."

[2022-09-21 08:56] lindspea commented on #9320
@tiagoroxo thank you for reaching out and helping to improve Microsoft Docs. Just for clarity are you referring to the reports link that must be corrected or the templates link? If you could let me know under which section the correction is needed, I can look into it further. Thanks again.

[2022-09-21 12:15] get-itips commented on #9318
Thanks for your feedback!

[2022-09-21 15:42] #9224 closed

[2022-09-21 16:01] tiagoroxo commented on #9320
Hello

So, the text says the following:
" Use direct queries to view your CQD data in Power BI using customizable
Power BI templates
<https://learn.microsoft.com/en-us/microsoftteams/cqd-power-bi-query-templates>
. Download Power BI query templates for CQD
<https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/downloads/CQD-Power-BI-query-templates.zip?raw=true>
."
If you ch

[2022-09-21 17:23] dariomws commented on #9251
Hi @Atreidae, thank you for your feedback.

The article was updated 2 months ago to fix this sentence:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/8979

[2022-09-22 06:10] dariomws commented on #9268
Hi @Reignmanouseff, thank you for your feedback.

A screenshot with the audit option:
![image](https://user-images.githubusercontent.com/33589238/191671197-746587ee-3371-4116-9c92-691f80739780.png)

[2022-09-22 06:13] dariomws commented on #9276
Hi @jonwbstr, thank you for your feedback.

The article is right, to interact with the TNS service desk, you use the Phone Number Service Center.

[2022-09-22 17:03] ryanhelmer opened #9351 "Links for "what's available in the Teams public preview" show info about general release, not Public Preview"
_Given past experiences: This is strictly a documentation issue/question, so please don't auto-reply to this post saying "I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP"._

"For a list of what's available in the Teams public preview, visit [Microsoft Teams Public Preview tech notes](https://techcommunity.microsoft.com/t5/microsoft-teams-pu

[2022-09-23 07:26] chenguyuan opened #9353 "The content in "Configure mailbox properties" section is a duplicate of section "Turn off password expiration""
The content in "Configure mailbox properties" section is a duplicate of section "Turn off password expiration"
(https://learn.microsoft.com/en-us/microsoftteams/rooms/with-office-365?tabs=m365-admin-center%2Cazure-active-directory2-password#configure-mailbox-properties)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2022-09-23 12:53] andreprakash opened #9354 "Configuring call queues without Teams Administrator role"
We would like to delegate the setup of call queues to our telephony department and assigned them the role "Teams communications administrator" and "global reader" (which does not work within teams).
This works fine expect they are unable to assign a team and channel to the call queue. The option is greyed out and an error message appears: "the user doesn't have permission to view the channel, user

[2022-09-23 21:33] get-itips commented on #9328
Hello @SvenBell
I could get this information

_If you setup unassigned number routing for a CP subscriber number and a call is coming into the number and is being routed per the treatment, we will charge communications credits in the tenant the per-minute dial-in to toll rate from when the call is accepted._

[2022-09-23 21:34] #9283 closed

[2022-09-23 21:36] get-itips commented on #9186
@scanum

[2022-09-23 21:36] #9186 closed

[2022-09-23 21:47] get-itips commented on #9285
Thanks for your feedback!

[2022-09-23 21:51] get-itips commented on #9239
Hello @sgtwtf I am looking into this

[2022-09-26 03:19] scanum commented on #9346
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-26 03:19] #9346 closed

[2022-09-26 03:20] #9347 closed

[2022-09-26 03:20] scanum commented on #9354
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-26 03:20] #9354 closed

[2022-09-26 07:30] JensTrier commented on #9342
Which policies that are available for group policy assignment are tracked via this page https://learn.microsoft.com/en-us/powershell/module/teams/new-csgrouppolicyassignment?view=teams-ps.

I don't think individual policy pages should go into this level of details.

[2022-09-26 07:32] lindspea commented on #9353
@chenguyuan thank you for pointing this out and helping to improve Microsoft Docs. @tiburd please can you contact the author for the correct instructions under the "configure mailbox properties" section of the article.

[2022-09-26 11:49] 3017mark commented on #9342
Less concerned with the referenced page below but more so how some pages are not clear on the use of groups to assign policies via group policy assignment when in fact it is not available.  This has caused confusion with a few customers recently.

***@***.***

Manage Voicemail Policies - Microsoft Teams | Microsoft Learn<https://learn.microsoft.com/en-us/microsoftteams/manage-voicemail-policies>

[2022-09-26 14:21] jeff-bb commented on #9346
Opening a support ticket to update documentation? I was just hoping for a "The impacted user will receive a message in the chat of the meeting, with a link to download the file" type blurb. I assumed that "feedback for documentation" would be handled by a group that was capable of updating documentation, and would not require a support incident.

[2022-09-26 15:58] get-itips commented on #9343
Hello @lberlau
I am not sure I understand sorry, can you please detail what you see is missing from the article you opened the issue for?
Is this instead what you are looking for? https://learn.microsoft.com/en-us/microsoftteams/rooms/rooms-release-note

[2022-09-26 17:14] get-itips commented on #9340
Hello @yuki-iwagishi
I am looking into this.

[2022-09-26 18:22] #9285 closed

[2022-09-26 18:39] brent-smith-msft opened #9358 "Microsoft 365 Ports and URLs doc inaccurate for GCC Customers"
The Product Group made the decision to send all GCC customers' connections for Office Online Services to the GCC High cloud servers. As a result, the current documentation is incomplete/inaccurate for all GCC customers.

We need the public documentation at https://learn.microsoft.com/en-us/microsoftteams/office-365-urls-ip-address-ranges to be updated to reflect that, for GCC customers, they need

[2022-09-26 20:16] tiburd commented on #9353
@dstrome
I sent you email about this - thanks for fixing!

[2022-09-27 12:02] NeeranjanShettar opened #9361 "Update -- Supported devices"
<html>
<body>

***

The below statement is not updated to latest information, it is still showing the surface Hub and MTR Android support coming in the second half of 2021, this has to be reviewed and update it accordingly.

***

Supported devices | Certified Microsoft Teams Rooms systems and their peripherals.
**Surface Hub and MTR Android support coming in the second half of 2021**
-- | --

</bo

[2022-09-27 12:57] ebmgithub opened #9363 "Poor Customer Service"
The response below has been poorly handled.   I've just wasting half a day testing the advice in the main article to find out that it blocks calls/meetings globally.  This should be clearly spelled out in documentation with the appropriate work around to limit only the RDS environment.  Limiting calls/meetings only in the RDS environment (by machine) should have been the primary method.  Limiting

[2022-09-27 14:13] altsou commented on #9361
Thanks for catching this! I've submitted a PR to fix.

[2022-09-27 14:13] #9361 closed

[2022-09-27 18:25] bandwiches opened #9364 "Blocked Numbers Not Doing Anything"
I receive a call from `(800) 123-4567` every single day, so I decide to block it.
Next day, I receive a call from +1 (800) 123-4567 - I block this number too.
Next day, I receive a call from `(800) 123-4567` - I was AFK, missed it (not sure if it rang)
Five minutes later, I receive a call from `+1 (800) 123-4567` - this came through and rang like normal.

I would love to be able to block these cal

[2022-09-27 18:26] StPhil opened #9365 "Teams Room Standard and Premium"
As customers still own Standard and Premium licenses, we need to still have the features of those licenses available for them to review. This page has removed those details and they do not seem to live anywhere else publicly. Please re-add them or add a section. They do not align 1:1 with Basic or Pro.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-09-27 18:57] StPhil opened #9366 "Teams Room Standard and Premium licenses"
The note in this article only mentions that Teams Room Pro licenses are required, but it should work with Teams Room Standard and Premium licenses which customers still own and need to be called out in the documentation.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 27c7b5b4-963e-265b-decf-57fe4a614905
* Version Indep

[2022-09-27 18:58] StPhil opened #9367 "Teams Room Standard and Premium licenses"
The note in this article only mentions that Teams Room Pro licenses are required, but it should work with Teams Room Standard and Premium licenses which customers still own and need to be called out in the documentation.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3138c11c-ca60-4699-f2c6-af0edc2b89a0
* Version Indep

[2022-09-28 01:34] #9364 closed

[2022-09-28 01:34] scanum commented on #9364
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-09-28 10:37] ashishguptaiitb commented on #9017
Closing this issue as answered. Worth calling out that even though end-users can see the apps but admins retain complete control of which users have access to what apps. Also, the controls remain the same.

The only change is that,
* Blocked apps are visible to end-users.
* End-users can request admin approval but admins decide to either act on it or ignore it. More info at https://learn.microsoft

[2022-09-28 10:37] #9017 closed

[2022-09-28 10:40] ashishguptaiitb commented on #8908
Hello @dariomws and @scanum , do we need to keep the doc issue open and wait for further issues to be reported by @dipinn26592 or can we close it for now and rely that @dipinn26592 will re-open as required?

[2022-09-28 10:41] ashishguptaiitb commented on #9005
Hello @dariomws and @scanum , do we need to keep the doc issue open and wait for further issues to be reported by @ulflunqvist or can we close it for now and rely that @ulflunqvist  will re-open as required?

[2022-09-28 13:35] VelinGeorgiev opened #9368 "Number of teams a user can be a member of... is it 1K or 7K?"
According the [Groups limits table](https://learn.microsoft.com/en-us/microsoft-365/admin/create-groups/office-365-groups?view=o365-worldwide#group-limits), the number of Groups a user can be a member of is 7K. According to this current page the number of Teams a user can be a member of is 1K. Is this accurate? I assume the Microsoft Teams limit is based on the Microsoft 365 Groups limit therefore

[2022-09-28 13:38] davidjfriedman opened #9369 "In the "change a license" section, suggest to also add best practice for license changes in a group-based licensing scenario"
In the "change a license" section, suggest to also add best practice for license changes in a group-based licensing scenario

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3275e03f-6c8e-a61f-2d0b-52b0bc45e0d7
* Version Independent ID: 3275e03f-6c8e-a61f-2d0b-52b0bc45e0d7
* Content: [Phone numbers and licensing changes

[2022-09-28 14:57] Michael-Dahlke opened #9370 "Differentiate between Teams Usage report and Teams user activity report"
I have a customer who was looking for an explanation for the discrepancy in the numbers reported for the value: Total Meetings Organized (User activity report) and Total Organized Meetings (Usage report). The definitions in the respective docs are extremely similar and don't give context as to why the numbers can be so vastly different.

User activity report: "Total Meetings organized is the sum o

[2022-09-28 17:59] davidjfriedman opened #9372 "Suggest to add MTR Windows & MTR Android references throughout https://aka.ms/mtrdocs"
Customers would benefit from more specific guidance around which OS MTR docs apply to throughout the pages at https://aka.ms/mtrdocs.  Topics should be covered for both Windows and Android across all Teams Rooms docs, with labels for OS throughout.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1c25c286-2a25-19d1-6847-

[2022-09-28 18:51] ashishguptaiitb commented on #9189
Point #1 is addressed by design. Our open-source docs allow for providing feedback.
As for seeking support, @SerdarSoysal mentioned that our customers are able to find support easily. via the link in the above comment.
Hence, I don't think we should mention adding support contact at an article level.

Closing this issue for now with this resolution. If not acceptable, please re-open.

[2022-09-28 18:51] #9189 closed

[2022-09-28 20:16] get-itips commented on #9366
Hello @StPhil
I am looking into this

[2022-09-28 20:16] get-itips commented on #9367
Duplicate of https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/9366

[2022-09-28 23:09] dstrome commented on #9366
hi @StPhil - I'm discussing this with the product group to see what we can do.

[2022-09-28 23:12] dstrome commented on #9366
Consolidating under #9365

[2022-09-28 23:12] #9366 closed

[2022-09-28 23:39] dstrome commented on #9344
update the doc. will go live on Thursday.

[2022-09-28 23:39] #9344 closed

[2022-09-29 08:20] dariomws commented on #9005
@ashishguptaiitb, we can close it and he'll be able to re-open it if needed.

@scanum, could you close it?

Thanks!

[2022-09-29 08:21] dariomws commented on #8908
@ashishguptaiitb, we can close it and he'll be able to re-open it if needed.

@scanum, could you close it?

Thanks!

[2022-09-29 10:03] AshishOnGit opened #9373 "Old Logical Architecture"
The article and associated logical architecture requires an update on Stream , Call recording scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad3ad624-9792-91b7-c85f-09b839b1ea44
* Version Independent ID: e8288f91-11bd-599b-8a88-074917b315a4
* Content: [Microsoft Teams IT architecture and voice solutions pos

[2022-09-29 16:03] #9328 closed

[2022-09-29 23:10] SvenBell commented on #9328
Thanks for clarifying, much appreciated

[2022-09-30 00:07] SvenBell commented on #9328
It would also be good to clarify that the expected behaviour & cost applies to unassigned Call Plan numbers whether number provider if Microsoft (or Telstra) call plan, Direct route or Operator connect, and, no matter what location/country unassigned number is located.

[2022-09-30 10:33] anamariaaaac opened #9378 "Ability to add Power BI reports/dashboard to a Microsoft Teams Shared channel"
At the moment, this capability is not supported, even though in a normal teams channel this is possible. Also, neither the workaround for this issue, using the website feature where you may add the embedded report link, is not working as expected.

[2022-09-30 20:40] get-itips commented on #9343
@lberlau  Could you see my comment here? thanks

[2022-09-30 20:41] #9342 closed

[2022-09-30 20:51] get-itips commented on #9292
Hello @mozziemozz

It seems the license allocation example paragraph was updated recently here

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/6e187a1d76d2ccb3021a0698987751d16d43fe50

[2022-09-30 20:54] get-itips commented on #9135
@scanum Closing for now as I did not get this confirmed. In any case it can be re-opened.

[2022-09-30 20:54] #9135 closed

[2022-09-30 21:23] #8908 closed

[2022-09-30 21:24] #9005 closed

[2022-10-01 03:03] #9318 closed

[2022-10-03 03:48] scanum commented on #9378
@anamariaaaac Could you please add a related article you are referring to? Thanks!

[2022-10-03 06:19] lberlau commented on #9343
Sorry for the late response.
The Teams app is now on 4.14, which is not in the documentation.
But I now see that it says: **Minimum** application version

[2022-10-03 07:49] anamariaaaac commented on #9378
https://learn.microsoft.com/en-us/microsoftteams/shared-channels

[2022-10-03 08:18] #9308 closed

[2022-10-03 08:37] zumiek opened #9379 "Not possible to use M365 group, policy is not applied to users in group."
You should add a disclaimer that it's not working to use a M365 group to use Teams setup policy. The policy is not applied to the users in the group.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: dcb5cdf7-9a02-cdf2-e152-38db69f0ae79
* Version Independent ID: d8e429a0-296d-1bf9-fb21-1ce13a6a59c3
* Content: [Overview o

[2022-10-03 08:38] #9379 closed

[2022-10-03 14:12] get-itips commented on #9343
Exactly, minimum version.
Thanks

[2022-10-03 14:12] #9343 closed

[2022-10-03 15:47] #9281 closed

[2022-10-03 17:59] #9278 closed

[2022-10-03 23:26] get-itips commented on #9370
Hello @Michael-Dahlke I am looking into this

[2022-10-04 13:46] torstenegebirk opened #9380 "Teams PowerShell command in step 11 is failing: where : The term 'UserValidationErrors' is not recognized as the name of a cmdlet, function, script file, or operable program."
[The last Teams PowerShell command under step/section 11 is faling This one is working: Get-CsOnlineUser -Filter {IsSipEnabled -eq $True} | Where {$_.UserValidationErrors -ne $null} | fl SipAddress,InterpretedUserType,OnPremHostingProvider,UserValidationErrors  ]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5566de7d

[2022-10-05 08:59] mennomenno opened #9382 "Outdated info: bluy my background *is* available with Teams in browser"
"2 Blur my background isn't available when you run Teams in a browser. This feature is only available in the Teams desktop client." - this is no longer true (tested in Chromium on Linux)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c86f401-cff4-93b3-ff69-b9787a87e644
* Version Independent ID: c0808bd3-cf63-0625-4c3

[2022-10-05 11:55] a-goo opened #9383 "Missing limits for Teams name & description"
Missing character limitations for Teams name & description.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Teams - Microsoft Teams](https://learn.microsoft.com/en-us/m

[2022-10-05 12:35] kennethvs opened #9384 "Please rewrite to use the Office 365 Cloud app instead"
[Enter feedback here]
Please modify, so that the "preferred" Office 365 Cloud app is targeted instead of SharePoint Online

https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#office-365

The Office 365 suite makes it possible to target these services all at once. We recommend using the new Office 365 suite, instead of targeting individ

[2022-10-05 14:01] StainlessSteele opened #9385 "Needs rewrite - reads like Stream, needs to read like a Teams Live Event"
This should more read like:
Go to Teams Calendar
Use New Meeting drop down
select Live Event, enter event details and then on the second screen select "Teams Encoder"
Once the meeting is scheduled use the meeting details when opening the event a producer to get the RTMP URL and Key for use in your encoder. The organizer can use the in-meeting options pane to alter the settings to turn off SSL or r

[2022-10-05 14:27] StainlessSteele opened #9386 "Not needed"
This page isn't likely needed as this one exists https://learn.microsoft.com/en-us/MicrosoftTeams/teams-live-events/set-up-for-teams-live-events and we might just want to add encoder settings into it. there aren't admin policy controls for live events RTMP encoder settings specifically.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue l

[2022-10-05 14:58] JeremyTBradshaw commented on #8112
@scanum how is this closed and why is there no explanation.  There have been other issues for the same concern which have been closed because this issue is already here about the topic.  It's still perfectly unclear what this means.  Please re-open.

[2022-10-05 17:13] SaladGoldRancher opened #9387 "What does Detailed System and Configuration Information net the admin?"
I currently don't meet the 25 device threshold to require Pro licensing. I would love it if I had better telemetry for the devices though.

Please go into detail as far as what the Pro license provides for:

- Detailed system and configuration information
- Peripheral health management
- Remote configuration

This is pretty vital to me in order to justify asking for the budget to increase licensin

[2022-10-05 17:35] dstrome commented on #9365
hi @StPhil - We've added the content from the old Standard and Premium licenses article to a new 'legacy licenses' article available here - https://learn.microsoft.com/en-us/microsoftteams/rooms/rooms-legacy-licensing. We also added a link to that article in the main licensing article here - https://learn.microsoft.com/en-us/microsoftteams/rooms/rooms-licensing#switching-from-teams-rooms-standard-

[2022-10-05 17:35] #9365 closed

[2022-10-05 18:44] dstrome commented on #9353
Thanks all. I've fixed this and the article should be updated in the next few minutes.

[2022-10-05 18:44] #9353 closed

[2022-10-06 07:34] Petri-X opened #9389 "When we get rid of the WinRM requirements?"
Hi,
Anybody on here knows when the WinRM requirements can be removed from Teams PS module? Or is there even any plans to this item? I can already see that Exchange team has success this as they are informing on version v3:
_This V3 EXO PowerShell module contains new REST API backed Exchange Online cmdlets which doesn't require WinRM for Client-Server communication. You can now run these cmdlets af

[2022-10-06 09:05] sasikaperera commented on #6026
I dont think this transpired to have updated the document accurately and is still a grey area for many including me.

We raised a ticket with support and they suggested that its either the Teams setting or the GPO update. If you enable the QoS Teams setting then you cannot go granular and specify the DSCP values (but just the port numbers), on the other hand, if GPO is updated, then you could spec

[2022-10-06 11:03] JensTrier commented on #9380
@torstenegebirk thanks! Will fix it.

[2022-10-06 15:13] eomullig opened #9390 "Document refers to a link but no link enabled ""
[Enter feedback here]
Doc states
"If you are running AV software on these devices, you should ensure that AV has exclusions in place for Teams and Skype dlls. See here for more details."

Here - no link exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: dee798c6-ed17-a5ae-e9d5-0fa0958dfa3f
* Version Independent ID

[2022-10-06 16:43] StainlessSteele opened #9394 "Need to add a section on this doc about where recordings live"
We need to add content here about
If in Yammer - SharePoint drive of Yammer community meeting is hosted, both for QuickStart in Yammer and Teams Encoder in Yammer
If on Teams -
If by Encoder, in OneDrive of organizer, if they joined. If they didn't then in OneDrive of first producer joined.
If Public, then in AMS for 180 days

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-10-07 12:41] JorgeALeitao opened #9397 "Discrepancy regarding supported languages for transcription."
[Enter feedback here]
Hi this article needs a partial update

It  indicates that Transcription is only supported in English
"Transcription for recorded meetings is currently only supported for users who set their language to or speak English in Teams meetings.

While true when first GA'ed currently several languages are currently supported as described in
https://learn.microsoft.com/en-us/microsof

[2022-10-07 13:40] JensTrier commented on #9380
feel free to close this issue

[2022-10-07 19:17] #9380 closed

[2022-10-07 21:33] meliss0215 opened #9398 "Misleading documentation regarding SharePoint sites"
The following part in the documentation states:

You can block or limit access for:

- Users in the organization or only some users or security groups.

- All sites in the organization or only some sites.

This needs to be corrected because the proposed conditional access policy applies to all SharePoint sites in the tenant and can never be applied to "some sites only". Therefore, the documentatio

[2022-10-07 21:39] dotson98 opened #9399 "Possible Omission?"
This article (dated 9/22) meshes Teams Meeting recording settings with 1:1 recording settings.  Articles we are reading and through trial and error state that the settings for 1:1 recordings are under Voice -> Calling Policies.  This was changes 5/31/21.
 Can anyone Confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-10-07 23:02] SCIS-guy opened #9400 "English, please"
Please change the title of the article to use proper English by adding an appropriate article. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d45becfa-69d7-b956-cf97-4b14c97ad92c
* Version Independent ID: 81d5bad1-fc63-26dc-5c08-31c8d07c828d
* Content: [What is Phone System - Microsoft Teams](https://learn.mic

[2022-10-07 23:16] CarolynRowe commented on #9400
Thank you for your feedback.  However, Phone System is the name of the product.  This is proper English.  For example, we don't say Here's what you get with The Windows.  Closing this issue.

[2022-10-07 23:16] #9400 closed

[2022-10-10 20:57] LiamSevier opened #9401 "Screenshot update"
Looks like the screenshot for direct guest join options may be out of date (only shows Zoom, when WebEx is also available).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9c62081e-2421-80b9-8ba9-aaf8fd55e432
* Version Independent ID: 5df3c5e5-978f-cfa7-9e5c-3cd7f65fa8ff
* Content: [Enable Teams Rooms devices to join t

[2022-10-11 04:49] scanum commented on #9387
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-11 04:49] #9387 closed

[2022-10-11 04:49] scanum commented on #9389
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-11 04:49] #9389 closed

[2022-10-11 06:46] lindspea commented on #9383
@a-goo thank you for reaching out and helping to improve Microsoft Docs. I'll look into this.

[2022-10-11 07:19] jtrich commented on #8699
Ok thanks!

From: Andres Mariano Gorzelany ***@***.***>
Sent: Thursday, April 7, 2022 2:05 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness ***@***.***>
Cc: Richard Roy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] initial templates agent timelines page shows a blank as a particular agent when filtering (Issue #8699)

CAUTION: This email originated fro

[2022-10-11 07:53] renewableenvoy commented on #9106
I cannot get in; it does not recognize any email option I have.

On Tue, Jul 26, 2022 at 11:10 AM Manuela Scanu ***@***.***>
wrote:

--
Renewable Envoy <https://www.renewableenvoy.com/>
Text/Call 702-625-1302

[2022-10-11 08:52] v-schintala commented on #9249
Thank you so much Dani!

From: Dani Smith ***@***.***>
Sent: Wednesday, September 14, 2022 7:02 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness ***@***.***>
Cc: Sashi Kumar Chintala (ZEN3 INFOSOLUTIONS AMERICA INC) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] To remove Assignments and Grades, both apps should be blocked instead of just Assignments (I

[2022-10-11 08:56] bjwhalen commented on #9292
Thx for flagging. Will get the example fixed to remove the part about “that have phone numbers”.

If more resource account licenses are needed from the allocation, customer should follow up with their MS account rep to purchase more. If customer truly needs more resource account license but do not need more user licenses, they don’t need to purchase 10 more user licenses to get the 1 resource acco

[2022-10-11 16:23] npherson commented on #9304
Sorry, I don't know. That confirmation will need to come from engineering.

[2022-10-12 06:40] Usman-Majeed opened #9403 "Connect-MicrosoftTeams App Only Certificate Based Authentication and New-Team"
I have recently a request from client to convert the token based authentication flow for custom shell scripts to App Only Certificate based authentication. In latest version of Microsoft Teams Shell Module (4.7.1 Preview), I am able to connect to Microsoft Teams and able to run the Get-* commands like Get-Team, Get-TeamChannel etc... But when i run any command with New-* or Set-* i am encountered

[2022-10-12 07:05] dariomws commented on #9304
@CarolynRowe, do you think we can get this information? Thanks!

[2022-10-12 07:09] dariomws commented on #9305
Hi @LtCmdrKeene, thank you for your feedback.

My apologies but I don't understand what is missing in the article. Currently, it contains the following information:

"Agents who receive calls from the call queues **must be Enterprise Voice enabled online** or on-premise users. In addition, if the call queues are using Direct Routing numbers, agents who need to conference or transfer calls also req

[2022-10-12 08:56] dariomws commented on #9295
Hi @Teamsgineer, thank you for your feedback.

When you edit or delete a message in Teams and there is no retention policy to preserve it, it is permanently deleted typically between 1-7 days, not immediately. That's why you can find it using eDiscovery. But after 7 days it's permanently deleted.

For more information:
https://learn.microsoft.com/microsoft-365/compliance/retention-policies-teams

[2022-10-12 11:53] harshdamaniahd commented on #9117
it doesn't work

[2022-10-12 12:00] dariomws commented on #9117
@harshdamaniahd,

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted here on the resolution to feed w

[2022-10-12 12:22] dkiehl opened #9404 "Incorrect/outdated information"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 81fa6268-92b2-546f-9200-f323bb48e90e
* Version Independent ID: 6ce89bc0-ae69-b6f1-df50-532e46b2e67b
* Content: [Manage resource accounts in Teams - Microsoft Teams](https://learn.microsoft.com/en-us/microsoftteams/manage-resource-accounts)
* Content

[2022-10-13 02:48] royalpritpal opened #9406 "Grant-Cs* policy support."
Hi there,

Will there be support coming for 'Grant-CsTenantDialPlan' 'Grant-CsOnlineVoiceRoutingPolicy' and 'Grant-CsTeamsCallingPolicy'?
I have app based authentication working but can't seems to grant these policies.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 32304edf-550b-72a3-57df-6dcc29dba56d
* Version Indepe

[2022-10-13 02:50] royalpritpal commented on #9406
this is what I get.
`Grant-CsOnlineVoiceRoutingPolicy: C:\Users\pritpal.karir\OneDrive - Holmes Group Ltd\Documents\PowerShell\TeamsAutomation.ps1:110:5
Line |
 110 |      Grant-CsOnlineVoiceRoutingPolicy -Identity $upn -PolicyName $Rout …
     |      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Access Denied.

Grant-CsTeamsCallingPolicy: C:\Users\pritpal.karir\OneDrive

[2022-10-13 05:23] pbafna03 commented on #9406
@royalpritpal  - Grant-Cs* cmdlets are currently not supported for Application-based authentication but will be rolled out soon.

[2022-10-13 08:46] orehmann commented on #9403
Same here

**New-Team** throws error (not working in version 4.8.0 neither)

[code]
Either fix the problem or advise which correct API permissions must be set for Graph API. But I think "delegated" is wrong for this use case.

[2022-10-13 15:05] scanum commented on #9403
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-13 15:11] scanum commented on #9404
Hi @dkiehl Hope you are well and thanks for the feedback, could you kindly help me explain a little bit more about what information is incorrect or outdated? Thanks!

[2022-10-13 15:11] scanum commented on #9406
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-13 15:11] #9406 closed

[2022-10-13 15:37] dariomws commented on #9305
Ok, but I think that was not requested in the original comments.

Your new comment was answered here:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/9121

[2022-10-13 19:04] packman83 opened #9407 "Broken Link - Manage Teams setting for your organization"
The link for 'Manage Teams setting for your organization' redirects to the current page. Navigating to the URL directly (https://learn.microsoft.com/en-us/microsoftteams/enable-features-office-365) also does not work. I could not find what the correct link should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: effd

[2022-10-13 19:12] royalpritpal commented on #9406
@scanum  do you think opening a support ticket will help to speed up the process of making Grant-Cs* available to our tenant?

[2022-10-13 19:56] LtCmdrKeene commented on #9305
That page doesn’t seem to answer the question. Please help me understand what I’m missing, but it appears to me that:

  1.  The initial post on that page has a user who shares an anecdote that simply setting a user to voiceEnabled=True by PowerShell “works fine”, but that is not true for us. Yes I can successfully set a user’s EnterpriceVoiceEnabled status in PowerShell, but a user configured thi

[2022-10-13 19:58] LtCmdrKeene commented on #9121
TeamsTechBear shares the anecdote that "simply setting a user to voiceEnabled=True by PowerShell works fine”, but that is not true for us. Yes I can successfully set a user’s EnterpriceVoiceEnabled status in PowerShell, but a user configured this way does not show up in a Call Queue until/unless we also purchase and assign a PTSN phone number to them.

The referenced page _https://learn.microsoft.

[2022-10-13 20:24] CarolynRowe commented on #9407
Thanks for the feedback.  There isn't one all-up settings topic as indicated by the following in the article:
Some manage topics remain under the relevant workload sections. For more information, see the overview articles for the following...

I've removed the erroneous bulleted item and link.  Change should go live today.  Closing this issue.

[2022-10-13 20:24] #9407 closed

[2022-10-13 20:33] JAndre7 opened #9408 "Bad link in Teams Phone Mobile article"
There's a broken link at the top. I have attached a screenshot showing the bad link (404).

![image](https://user-images.githubusercontent.com/69250539/195704244-a329c87d-2715-4fbc-acf4-54ceb2e71766.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d80cd376-5bcb-2548-ae65-14fe0cc62445
* Version Independent ID: d80cd

[2022-10-13 20:40] dariomws commented on #9305
@LtCmdrKeene, my apologies but I only can help with article updates here.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2022-10-13 20:51] LtCmdrKeene commented on #9305
Alright I can do that. Honestly I thought what we observed was “working correctly” and just couldn’t find documentation that was definitive.

So I can tell support that an agent without a PTSN should be able to join a call queue, and this doc confirms that?

[2022-10-13 21:51] CarolynRowe commented on #9408
Thanks for bringing this to our attention.  Fixing now...

[2022-10-13 21:51] #9408 closed

[2022-10-14 09:14] TeamsTechBear commented on #9121
@LtCmdrKeene

**_The reason I asked for what Microsoft's Documentation means/says about their meaning of "Enterprise Voice Enabled" is because I don't want anyone getting into trouble via Microsoft's Terms and License usage agreements via this method. I would ask your Microsoft rep if this is acceptable and ok. I accept no responsibility and use at your own risk. I was just testing to see if we co

[2022-10-14 11:58] get-itips commented on #9370
Hello @Michael-Dahlke an update to the article is coming soon

[2022-10-14 12:37] LtCmdrKeene commented on #9121
Reviewing these steps, it sure looks like the only difference between you and me is that I'm using a teams channel as the method of assigning agents rather than directly. I'm going to experiment later today and see what I can learn here.

Shawn Keene<https://cmdrkeene.com/> | IT Systems Engineer, Cloud Services | ms mvp<https://insider.windows.com/en-us/mvps/shawn-keene> | CmdrKeene.com<http://www

[2022-10-14 12:52] get-itips commented on #9382
Thanks for your feedback!

[2022-10-14 13:22] get-itips commented on #9390
Hello @eomullig thanks for your feedback

[2022-10-14 13:27] get-itips commented on #9398
Hello @meliss0215
how are you?

There is a procedure to do it per site

https://learn.microsoft.com/en-US/sharepoint/control-access-from-unmanaged-devices?WT.mc_id=365AdminCSH_spo#block-or-limit-access-to-a-specific-sharepoint-site-or-onedrive

Please let me know if I understood you correctly.

[2022-10-14 13:28] meliss0215 commented on #9398
Great, thanks. I should be all set.

On Fri, Oct 14, 2022, 8:27 AM Andres Mariano Gorzelany <
***@***.***> wrote:

[2022-10-14 13:37] TeamsTechBear commented on #9121
@LtCmdrKeene

I just tested by creating a new Call Queue with no number assigned (I do not think calling in via the Resource Account directly or a PSTN line would matter much as far as testing the routing functionality to a non-number assigned user.), a brand new team, and channel. It worked as far as routing to "Old Joe" goes. I haven't played around with Calling Queues using the teams' channel m

[2022-10-14 16:50] get-itips commented on #9399
Hello @dotson98
How are you?
I am afraid I don't fully understand your inquiry, can you please detail what you see is wrong with this article?
Thank you!

[2022-10-15 02:34] TeamsTechBear commented on #9121
@LtCmdrKeene

Did you get a chance to test?

[2022-10-15 10:03] flagmanchris opened #9411 "Step 8 may be better using UPN rather than sipaddress?"
On step 8 the recommendation is to use:

[code]

However with our environment I found sipaddress doesn't always match UPN so UPN seems a better fit to ensure the correct user is updated:

[code]

This may also be an issue in step 5 if the sip address in teams doesn't match the on prem sip address. Could possibly update the sip address post move.

---
#### Document Details

⚠ *Do not edit this sect

[2022-10-15 16:16] LtCmdrKeene commented on #9121
I had another similar user to the ones we added to the queue, but whom didn't have a phone number assigned to her. So I added her to the team (from within Teams itself, I just went to "manage team" and added her as a member).

It's been 24 hours but she's still not showing on the Calls tab (and likewise, her ID is not listed in the output of Get-CsCallQueue.

So I went to run **Set-CsPhoneNumberAs

[2022-10-15 21:25] TeamsTechBear commented on #9121
@LtCmdrKeene

Sorry if this is not the case, but it seems like you are missunderstanding how the master license (Bundle) and sub licenses (Bundled) work based on your explaination. I'll explain and hopefully that will help.

In my case I have (Office 365 E5) Master Licenses. I think the new ones are Microsoft 365 E5 licenses now. These are the Master licenses that have a bunch of sub-licenses bund

[2022-10-16 07:12] TeamsTechBear commented on #9305
@dariomws

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/9121

Me and @LtCmdrKeene are discussing this on my issue that you linked and that I relinked above. It's kind of a very gray area that I'm not sure is called out anywhere. Using this method it gets around having to purchase anything extra besides a master license that includes a Teams license, "Phone System license" (N

[2022-10-16 08:23] TeamsTechBear commented on #9121
@LtCmdrKeene

I found out why I can't see the "Calls" tab in the documentation. I was trying to view it in a Teams Browser instance instead of the app. You can't see the "Calls" tab unless your in the Desktop app.

<img width="622" alt="image" src="https://user-images.githubusercontent.com/81427715/196023890-c2ad20a1-13f3-4535-a538-868ca03fb7af.png">

https://learn.microsoft.com/en-us/microsofttea

[2022-10-17 03:28] scanum commented on #9411
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-17 03:28] #9411 closed

[2022-10-18 03:29] SvenBell opened #9413 "Doco clarification"
Could you add clarification around the new Teams Room licenses (Basic/Pro) and user interface. i.e. can adding a Teams room basic satisfy the license entitlement for the MeetingSignIn mode for a Teams certified handset?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 62d58962-9b2f-0231-187b-58c845e52a0c
* Version Indep

[2022-10-18 04:31] ashishguptaiitb commented on #9177
The article was updated for this feedback. Closing the issue.

[2022-10-18 04:31] #9177 closed

[2022-10-18 04:31] ashishguptaiitb commented on #9178
The article was updated for this feedback. Closing the issue.

[2022-10-18 04:31] #9178 closed

[2022-10-18 09:02] dariomws commented on #9330
Hi @Larryngolog, thank you for your feedback.

The paragraph was updated a few days ago to provide clarity. Please check.

[2022-10-18 13:50] #7152 closed

[2022-10-18 13:50] #7161 closed

[2022-10-18 13:51] #7486 closed

[2022-10-18 15:19] #7822 closed

[2022-10-18 15:19] #7835 closed

[2022-10-18 15:25] #8516 closed

[2022-10-18 15:36] #8661 closed

[2022-10-18 15:51] Korbyn72 opened #9415 "Room Basic and Phone Standard"
This page doesn't state one way or another, but can you assign the Phone Standard license with Teams Room Basic account to an account?  Thinking legacy systems that will get no value out of the Rooms Pro, but still need PSTN capability.  I would assume I can, but I currently don't have an environment to test with.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mi

[2022-10-18 16:08] #8817 closed

[2022-10-18 16:10] #8843 closed

[2022-10-18 16:11] #8881 closed

[2022-10-18 16:12] #8931 closed

[2022-10-18 16:12] #8954 closed

[2022-10-18 16:12] #8967 closed

[2022-10-18 16:13] #8987 closed

[2022-10-18 16:13] #8997 closed

[2022-10-18 16:13] #9000 closed

[2022-10-18 16:13] #9003 closed

[2022-10-18 16:13] #9015 closed

[2022-10-18 16:13] #9022 closed

[2022-10-18 16:14] #9062 closed

[2022-10-18 16:14] #9071 closed

[2022-10-18 16:15] #9100 closed

[2022-10-18 16:15] #9101 closed

[2022-10-18 16:16] #9116 closed

[2022-10-18 16:16] #9117 closed

[2022-10-18 16:16] #9132 closed

[2022-10-18 16:17] #9146 closed

[2022-10-18 16:17] #9151 closed

[2022-10-18 16:17] #9158 closed

[2022-10-18 16:17] #9169 closed

[2022-10-18 16:19] #9204 closed

[2022-10-18 16:19] #9213 closed

[2022-10-18 16:21] #9241 closed

[2022-10-18 16:22] #9251 closed

[2022-10-18 16:22] #9271 closed

[2022-10-18 16:22] #9282 closed

[2022-10-18 16:23] #9295 closed

[2022-10-18 16:24] #9320 closed

[2022-10-18 16:37] CarolynRowe commented on #9220
Adding @DaniEASmith ,
@JensTrier, @FilippS:  Can one of you help with this?

[2022-10-18 17:11] DaniEASmith commented on #9220
@JensTrier & @Filipps I emailed last week about this request, for reference.

In the "Activate the domain name" section, the doc lists which acceptable user accounts/licenses can activate the domain name.

The GitHub Issue submitter is stating that the user accounts and subscriptions listed are incorrect, or at least incomplete.

The submitter would like us to add that Microsoft 365 Business Basic

[2022-10-18 17:34] TeamsTechBear commented on #9121
@LtCmdrKeene

Did the above answer your question? Have you decided which method your going to use?

[2022-10-18 18:15] JoshJ-MSFT commented on #8954
Just going to register an objection here.  This is now a published article saying Teams will run on a system with 4GB of ram.  It will start and run, yes.  When users try to use full modalities such as video and desktop sharing it will generate a support ticket.

@dariomws Sorry, just now being notified of your comment in July.  A basic idle Teams client will be less than 1GB ram, yes.    When mod

[2022-10-18 18:47] sschiem commented on #8954
@dariomws I work with Josh Jones, and fully agree with his comments. Customers trying to run Teams on 4 or even 8-gig RAM machines are a substantial part of our case load. Teams will run on 4 gigs RAM, but it will not run well. Also in play are other apps running on the system. No one expects end users to ONLY run Teams. They also run Outlook and sometimes many tabs of Edge or Chrome, for example.

[2022-10-18 21:18] tiburd commented on #8680
Article title has been updated and no longer includes "(öffentliche Vorschau)":
<img width="409" alt="image" src="https://user-images.githubusercontent.com/54688693/196546804-cd1107ee-8c2d-4040-b230-0980a0e1b647.png">

Closing issue.

cc: @scanum

[2022-10-18 21:18] #8680 closed

[2022-10-18 21:29] tiburd commented on #8778
Closing this issue. Translation bug was scheduled with Global Services, who handles it from there.

cc: @scanum

[2022-10-18 21:29] #8778 closed

[2022-10-19 01:58] brianleesmith commented on #8987
Although this does help, just to be clear…”team chat” is a very specific term (in my mind) that conflicts with the term “channel messages.”   Teams are full of _channels_.  The Teams app also has _chats_, which are not _channels_.  Hence the confusion and original my point.  The terms are not aligning with one another.  Either the term “channel messages” needs to be changed OR the phrase “posted i

[2022-10-19 06:56] dariomws commented on #8522
@scanum, you can close this issue. The requested item was added in a different PR.

[2022-10-19 08:55] J-a-k-o-b opened #9416 "Mentions in Lists etc seem not to be possible"
When trying to @ mention an external identity in a shared channel, the external user is not listed and its not possible to mention him.
The external participant can also not use @ mentions to tag members.

As you see here, there are more users that are complaining about this issue
https://techcommunity.microsoft.com/t5/microsoft-teams/mentioning-in-teams-shared-channels-seems-to-be-not-working-or/

[2022-10-19 10:44] J-a-k-o-b commented on #9062
for those who want to support the uservoice:

https://feedbackportal.microsoft.com/feedback/idea/6063f8c6-4a33-ed11-a81b-000d3a7dd504

[2022-10-19 11:24] mamrouni opened #9417 "not possible to reset conference ID"
[Enter feedback here]
I think this article is wrong : it's not possible to reset a conference ID (it was possible before when SFB online conference ID was static)
It's not possible to have this 2 statements true :
- Each meeting that a user schedules will get assigned a unique conference ID
- reset the Conference ID of a user
 Could you please correct that with up to date information ?
Thanks
---

[2022-10-19 13:58] bwilsonms opened #9421 "View Only Mode Enhancements coming"
Need to update information in regards to coming technology like OnePlayer and additions in this space

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf705c2-1f24-bdb5-e712-e8408b941aca
* Version Independent ID: ddedd7e0-7d85-06e0-7f20-8b83b3dccec7
* Content: [View-only meeting experience - Microsoft Teams](https://le

[2022-10-19 14:02] StainlessSteele opened #9422 "update doc to state that View only does not support eCDN today"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

Add content about limitations that eCDN is not supported with view only attendees. leverage this statement from this page "Meetings are not a TLE and will not leverage Microsoft eCDN"
https://learn.microsoft.com/en-us/ecdn/integration/onboarding-checklist-for-tle-customers

---
#### Docum

[2022-10-19 14:09] #9220 closed

[2022-10-19 14:10] DaniEASmith commented on #9220
@fdelavier & @get-itips This issue will be resolved with the publication of this PR today: https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/9420.

[2022-10-19 14:40] KFMjr opened #9423 "Export License Tables"
Can you put the features tables into a separate csv file to make it easier to export the license information? Or provide graphics/image files that break the offers down? Aaron Dinanges GitHub hasn't doesn't provide an overview of Teams (it also hasn't been updated since Jan of this year). I tried using the importhtml function but it fails to parse the page properly. TIA

---
#### Document Details

[2022-10-19 16:33] TAz00 opened #9424 "<DualScreenMode>0</DualScreenMode> does not seem to work, dual screen mode always on"
`<DualScreenMode>0</DualScreenMode>` does not seem to work, dual screen mode always on.

Shows 'Dual Monitor Mode' as disabled in Teams Rooms Settings, and greyed out due to being a Teams Rooms Basic license.

But there is no conference video available, unless plugging in a second display.

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til learn.microsoft.com ➟

[2022-10-19 20:11] bjbroecker opened #9426 "The 'Important' message regarding user licenses needs further clarification"
This message implies that 'Personal Mode' on Microsoft Teams Rooms on Android is no longer supported after 7/1/2023. If this is true, then the message needs to be made explicit. If it is not true, and MTR on Android can still be logged in as a user's personal device, then that also needs to be explicitly stated.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-10-19 21:09] cypheredout commented on #9315
I missed that this was closed.  Can we get the first sentence changed from this:
This article discusses cumulative improvements in Microsoft Teams Rooms.
To this:
This article discusses cumulative improvements in Microsoft Teams Rooms on Windows.

This makes is clearer for the distinction that this is Windows MTR's not Android.

Also I am not a customer. :)
![image](https://user-images.githubuserc

[2022-10-20 14:10] VelinGeorgiev commented on #9368
I can see this marked as doc-bug. Can please someone confirm even in this thread what the actual 'Number of teams a user can be a member of' is? Thanks!

[2022-10-20 15:47] LtCmdrKeene commented on #9121
I think I'm misunderstanding the choice of methods here.

You mentioned you were able to get the agent (old joe) to get mostly configured properly but that he didn't see the Calls tab in the team.  That's not really the major concern as much as Old Joe won't receive any incoming calls that hit that queue either. His phone doesn't ring.  The ability to answer calls in that queue is (apparently) dir

[2022-10-20 17:10] jonathanschneider opened #9429 "Meeting titles can be customized"
The article states that meeting titles within a private channel cannot be customized. At this moment this is indeed possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Version Independent ID: 9ddeb6f4-f30a-1e72-fc94-ae66def91f40
* Content: [Private channels in Microsoft Team

[2022-10-20 20:33] Rangeball opened #9430 "Old references in the PDFs"
Some of these PDF/posters should be updates e.g. for Teams logical architecture Meeting Recordings still references Stream (Classic). This has largely been shifted to OneDrive for Business/SharePoint Online?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad3ad624-9792-91b7-c85f-09b839b1ea44
* Version Independent ID: e

[2022-10-21 11:10] limp15000 opened #9431 "Remove Teams Phone Mobile Add-on SKU which doesn't exist"
Hello,
We still reference Teams Phone mobile add-on SKU which has been cancelled.
Teams phone mobile is available via the Teams Phone System SKU or E5.
Many thanks for fixing,
Thomas
![image](https://user-images.githubusercontent.com/23700466/197182638-70b066b4-c187-405a-a819-6cdc104093ee.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-10-21 18:04] Harold-SPB opened #9432 "New Teams User Activity Report Form"
When exporting a Teams User Activity Report it appears a number of the columns have changed. Could we have the "interpret the report" section of this page updated please?

For example, in the new report audio, video and screen time are now in seconds vs minutes, and there is a new duration column for audio, video and screen time which doesn't provide a value that I would expect. There are number o

[2022-10-21 23:59] TeamsTechBear commented on #9121
That's what I'm saying. I was able to get it to work fine with the method I proposed above. "Old Joe" was not able to see the "Calls" tab in the teams channel but he could still get calls from the call queue and he was still shwoing up as an agent in PowerShell and for others that could see the "Calls" tab in the teams channel. "Old Joe" would see the calls he get's in his "Calls" section in the T

[2022-10-22 02:40] LtCmdrKeene commented on #9121
If the user does not see the Calls tab, they have no way to opt in and out of the queue with that little toggle on-off switch at the bottom right hand corner. Or see other members of the queue and their status. The things the queue members need to have. I just don't want them making or receiving external calls, this is internal people supporting internal users who call the queue "by name".

Shawn

[2022-10-22 06:38] TeamsTechBear commented on #9121
I understand, but from my testing if you want those things for that "Call Queue" then you'll have to assign the licenses and numbers to the users that you want to see the "Calls" tab in the teams channel. The way I was using it, it would funcation like a traditional "Call Queue" in nature but use the team for membership. I also use "Presence-based routing" in my call queue which would mean that if

[2022-10-22 22:00] LtCmdrKeene commented on #9121
Alright that's unfortunate but clear to me the situation then. Sorry if I made you repeat yourself here but I do appreciate the clarification.

[2022-10-23 08:31] TeamsTechBear commented on #9121
No problem! It's a question that I have gotten a few times and have not had time to deep dive into it. Now I know this part in depth and I got around to playing with "Teams channel based Call Queue" membership. Glad that I was able to help answer it one way or the other. Have a wonderful rest of your week!

[2022-10-24 04:42] scanum commented on #9416
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-24 04:42] #9416 closed

[2022-10-24 04:44] scanum commented on #9424
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-24 04:44] #9424 closed

[2022-10-24 04:45] scanum commented on #9426
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-10-24 04:45] #9426 closed

[2022-10-24 08:44] lindspea commented on #9383
@a-goo this has been fixed in another issue and should go live soon.

[2022-10-24 13:25] dariomws commented on #9321
Hi @Larryngolog,

Thank you for your feedback. I understand that you got the information in the following issue:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/8705

[2022-10-24 18:05] J227668 opened #9434 "Specify availability in GCCH"
Please confirm and document if Panels are available/supported in GCCH. If it is not available, it should be noted in this docs page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6d4313-70e2-ac40-0e73-85bdb815c38b
* Version Independent ID: 78f8d192-8018-2988-db5c-44900a60833a
* Content: [Microsoft Teams panels - Mi

[2022-10-24 23:08] jonwbstr commented on #9196
Our account manager is working on adding more transparency to these tickets as well. I will let you know if I hear anything from that conversation.

[2022-10-25 08:50] J-a-k-o-b commented on #9416
Hi @scanum,
i've opened a ticket (#33519103) for this and it was already solved with a link to this list specific user documentation
https://support.microsoft.com/en-us/office/add-and-reply-to-comments-in-list-items-9407aab9-6d43-4756-af72-d38177814a6e
There is one point listed that mentions are not possible for guests & anonymous users.
I think this shared channel feature limitation should also b

[2022-10-25 14:40] oragain opened #9437 "Communication Credits unavailable for PAYG Calling Plan"
Hi,
In the following scenario, you are unable to purchase Communication Credits due to dependency requirements:
* Get a common area phone and associate a user
* Buy the license for the common area phone
* Assign a PAYG license to the common area phone user
* Assign communication credits license to the user -> DOES NOT WORK

Communication Credits only support these 2 dependencies:
* Domestic Callin

[2022-10-25 15:15] taskellood opened #9438 "PhoneNumberType OCMobile does not exist"
It seems like the PhoneNumberType OCMobile value does not exist today. I just tried to assign a user with it and received the following error message. But in the example, it clearly states that OCMobile should be used for assigning Teams Mobile numbers. The module used is 4.8.1-preview.

![image](https://user-images.githubusercontent.com/100134956/197812999-23ba0345-2132-4e4c-a6f2-8d4df5059094.png

[2022-10-25 21:23] simpkinspete opened #9440 "Add details about when an expiration date is updated during autorenewal"
It would be helpful to include details about when a Team's expiration date will update if the group meets the conditions for autorenewal. Proactive Team Owners might be concerned when they see a date and want to know when it will reflect the accurate expiration based on the group's activity.

I'm assuming that the date updates 30 days before expiration to align with the trigger to notify an inacti

[2022-10-25 22:34] dwhitney7 commented on #9156
Hi @get-itips, is there any update you can share back from the article author on if Operator Connect references are planned to be added to this article? Thanks so much!

[2022-10-26 07:47] Robertschv opened #9441 "Powershell command needs a " to work"
The command is writing like this

[code]

fixed

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cccdd91a-7f05-abd5-ed94-e82152b86914
* Version Independent ID: 3532d0a8-119c-f7d0-0d4f-a865ad32570f
* Content: [Manage user access to Microsoft Teams - Microsoft Teams](https://learn.microsoft.com/en-us/MicrosoftTeam

[2022-10-27 07:50] mmistryms opened #9444 "URL contains premium not pro"
Hi - The URL of the Teams Rooms Pro page contains the word Premium.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8f76bc0c-a899-b572-588a-b86acae1b740
* Version Independent ID: 3c5b6414-c796-7e50-9e03-b578c7995071
* Content: [Microsoft Teams Rooms Pro management - Microsoft Teams](https://learn.microsoft.com/en-us/mi

[2022-10-27 15:26] jlatessa opened #9445 "MTRoA vs MTRow"
Looks like some things are missing.
For example, MTRoW supports multiple cameras and MTRoA does not.
Can this document be updated?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64cc650b-b313-cfab-9f45-190b94c128f4
* Version Independent ID: 9e93ac07-3f1b-9fd4-1907-17f0075bd837
* Content: [Teams

[2022-10-27 17:34] get-itips commented on #9145
@FilippSe How are you? Any update on the investigation? Thanks

[2022-10-27 18:09] get-itips commented on #9399
Hello @dotson98 could you see my question here? thanks

[2022-10-27 20:11] dotson98 commented on #9399
My question was a bit poorly worded; sorry.  We were just seeing differences in what we were reading and needed clarification.  No further help is required.

[2022-10-27 20:11] #9399 closed

[2022-10-27 21:50] jonwbstr opened #9446 "Microsoft Teams Audio Conferencing with dial-out to USA/CAN"
Please add the new "Microsoft Teams Audio Conferencing with dial-out to USA/CAN" add-on to the page.

The table of add-on's lists "Audio Conferencing" with a link to see pricing.

That page lists two add-on's. One is free and one is not.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: abae7324-861d-7ca7-7239-a5df8fd927

[2022-10-27 21:57] jonwbstr commented on #9446
Correction, it lists a free add-on, and E5, I do not see the $3 Audio Conferencing add-on listed. What's the story there?

[2022-10-28 14:18] DaniEASmith commented on #9446
@ruizoscar Maybe six months ago, in our Teams add-on licensing doc, we had removed quite a bit of Audio Conferencing plan information because a few things were still in flux. Can you please take a look at this GitHub issue and advise me on how we can update the doc to make sure it's current with what's available for Audio Conferencing options? Thank you, sir!

[2022-10-28 14:52] dariomws commented on #9329
Hi @orandev, thank you for your feedback.

I think it's currently there:
"Interaction with all custom apps is blocked for your organization. **Custom apps can't be uploaded by anyone except a Teams Service Admin or a Global admin**."

[2022-10-28 15:05] orandev commented on #9329
Hello @dariomws
It's not the same thing. There is "Interaction" on one side and "Upload" on the other side.
It says "Interaction is blocked for everyone" and "Custom apps can be uploaded by a Teams admin". For me, the second part does not imply that "interaction is allowed for custom apps uploaded by admins".

[2022-10-28 15:18] dariomws commented on #9336
Hi @yuki-iwagishi, thank you for bringing this to our attention. We've notified the documentation team of similar requests and will send you feedback as well.

[2022-10-28 15:18] dariomws commented on #9372
Hi @davidjfriedman, thank you for bringing this to our attention. We've notified the documentation team of similar requests and will send you feedback as well.

[2022-10-28 15:33] dariomws commented on #9329
Hi @orandev,

Why will an admin upload the app if users cannot interact with it? :)

Anyway, please check the update I have proposed 33 minutes ago.

[2022-10-28 15:49] jonwbstr commented on #9446
My understanding as of this morning,
Audio Conferencing is free for some plans, and $3/user/mo if you don't have a qualifying plan.

The pricing page could use some updates as well, as it doesn't seem to really address "free" with conditions. or $3. It send you to buy it in your tenant, which might tell people something. CSP customers (and partner sales people) would still be hard pressed to find

[2022-10-28 15:57] orandev commented on #9329
In your PR, I would say "If this setting is set to Off, only a Teams Service Admin or a Global admin can upload custom apps and users will be able to interact with them." instead of "Only a Teams Service Admin or a Global admin can upload custom apps and users will be able to interact with them.".

[2022-10-28 16:53] get-itips commented on #9430
Hello @Rangeball
I am looking into this.

[2022-10-28 17:16] get-itips commented on #9431
Hello @limp15000 I am looking into this

[2022-10-28 17:24] bradbrill opened #9448 "GCCH limitations"
PSTN reports don't appear to be available/supported in GCC-H/DoD. Could we include some clarification/documentation on whether PSTN reports are supported in GCCH.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0ad0c889-56d5-35fe-de15-177b6d922d07
* Version Independent ID: e4363647-33e1-b665-5881-169fb619a5b3
* Content

[2022-10-28 17:56] JeremyTBradshaw commented on #5633
Just adding here that there are also MS Learn learning paths/modules which have this same misinformation in them.  They mention that you need to ensure you have a custom domain added, but then nowhere else in Teams' documentation otherwise is there anything about the topic.  I assume it has to do with meeting invitation links, but I believe all Teams links/URLs are using teams.microsoft.com.  Back

[2022-10-28 20:43] dinocaputo opened #9449 "Calling Party Name option missing from this page"
[Enter feedback here]
This option is not displayed here and should be since its part of the policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d2b8aefb-f373-fa6e-dd79-e97cded117e8
* Version Independent ID: 2c73f49c-d34f-c1da-648d-8675f10c0183
* Content: [Manage caller ID policies in Microsoft Teams - Microsoft Tea

[2022-10-30 09:24] ashishguptaiitb commented on #9274
Hi @SamanthaSt , there is no way to do app customization so that it works in the dark mode.

[2022-10-30 09:24] #9274 closed

[2022-10-31 04:58] JMAvenant opened #9450 "Missing information on external users"
Kindly add limitations on external (Guest) user limitations or confirm that this is included in the number of users.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Tea

[2022-10-31 11:01] RobMSP opened #9451 "Distribution by Agent and Call Queue - Average Call Duration Broken"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/20458038/198993201-d28f2f10-f4be-4337-969e-3030e61379f1.png)

The Average call duration caculation is broken.. I suspect this user isn't spending an avergae of 5 hours on a call for 27 calls during a week.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-10-31 13:39] #9390 closed

[2022-11-01 19:54] Antti-Kiviniemi-MSFT opened #9452 "Provide additional information for "Allow chat in meetings" setting"
Allow chat in meetings (https://learn.microsoft.com/en-us/microsoftteams/meeting-policies-in-teams#allow-chat-in-meetings) section could use additional information, as there is now three different settings. At least we should add the information that is available in TAC:

Turn it on for everyone - All users, including anonymous (or unauthenticated) can read and write chat messages
Turn it off for

[2022-11-02 12:50] JensTrier commented on #9449
@dinocaputo Thanks for the feedback. Will fix it. Feel free to close this issue

[2022-11-02 13:25] jerlev-p opened #9453 "Change HER to more inclusive THEIR"
Should "her" gender-specific mentions be changed to more generic words like "their" or something similar?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a162ef5c-3099-7f58-4178-d29e3ec2b5a7
* Version Independent ID: 6ca31e56-052d-6c62-1323-b5aaaae1f04a
* Content: [User presence in Teams - Microsoft Teams](https://lear

[2022-11-02 13:49] bernatagulloesbrina opened #9455 "Multiple-tenant team"
I don't see any mention of multiple-tenant teams
is it possible to create a team that includes all users from 2 AAD tenants and stays in sync?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf
* Content: [Create an organiz

[2022-11-02 15:18] JasonSmith-MS opened #9456 "Teams VDI support for E911 work-from-home?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 961b5563-e3bd-cb77-e411-80958052e0d1
* Version Independent ID: 961b5563-e3bd-cb77-e411-80958052e0d1
* Content: [Emergency addresses for remote locations - Microsoft Teams](https://learn.microsoft.com/en-us/microsoftteams/emergency-calling-dispatchabl

[2022-11-02 15:19] JasonSmith-MS commented on #9456
Will this page be updated to include how the new VDI support (for Citrix and Azure which are rolling out now)? Or will it be added on the Teams for VDI page instead?

[2022-11-02 16:19] ashishguptaiitb commented on #8306
Hi @ivanmaria , for custom apps, the policies don't work as suggested above and as updated in the docs now. Shall we close this issue with this updated info?

[2022-11-02 19:37] MikePlumleyMSFT commented on #9455
@bernatagulloesbrina it's not possible to create a team with members from multiple tenants, but you can use a shared channel within a team to collaborate with people from another tenant. See [Shared channels in Microsoft Teams](https://learn.microsoft.com/microsoftteams/shared-channels) and [Collaborate with external participants in a shared channel](https://learn.microsoft.com/microsoft-365/solut

[2022-11-03 07:32] dariomws commented on #8306
@scanum, please close this issue. Thanks!

[2022-11-03 14:29] ckarawani opened #9458 "Missing Documentation Around Permissions required for Assigning Call Queues to Team Channels"
Seems **Teams Administrators** Cannot Assign/Modify Call Queue assignment to teams channels:

<img width="951" alt="image" src="https://user-images.githubusercontent.com/2483804/199748224-3264cc78-3391-4038-b3f5-b0360a1577c2.png">

(Perhaps this is due to the queue being assigned to a private channel?) It would be good to get some documentation around this.

[2022-11-03 18:52] brent-smith-msft commented on #9358
Any update here? The doc that needs the update is actually here, now: https://learn.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide

[2022-11-04 06:40] dariomws commented on #9351
Hi @ryanhelmer, thank you for your feedback.

Can you please tell us to which article(s) your question applies?

[2022-11-04 07:10] dariomws commented on #9358
Hi @brent-smith-msft, thank you for your feedback.

These articles are updated through an automated process, I cannot manually add this endpoint:

"THIS FILE IS AUTOMATICALLY GENERATED. MANUAL CHANGES WILL BE OVERWRITTEN.
**Please contact the Office 365 Endpoints team with any questions**."

@kelleyvice-msft, maybe you can help.

[2022-11-04 07:55] dariomws commented on #9363
Hi @ebmgithub, thank you for your feedback.

I'm not aware of a way to disable these features only for specific computer (RDS). Here we are limited to documentation issues, and I cannot provide (add to the article) the information that you are requesting.

That's why my colleague suggested to try with support. Or maybe you can contact your technical account.

[2022-11-04 16:12] JDCNS opened #9460 "Android Sign Out"
That's not right. I finally found the sign out myself by going to my face | Settings | Sign Out on Android. More only gives you other apps to run.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a4d56b6e-a220-710c-f051-6e78bf0883fe
* Version Independent ID: d1aa0964-725e-0b99-00c0-7ddcfad46920
* Content: [Sign out of M

[2022-11-04 17:09] dariomws commented on #9368
Hi @VelinGeorgiev, thank you for your feedback.

The limit on this article is correct. These limits are not strictly related to the limits of the M365 groups.

[2022-11-04 17:15] dariomws commented on #9373
Hi @AshishOnGit, thank you for your feedback.

There is work in progress to update this poster. I have no ETA but it should be updated in a few weeks.

Same as:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/9430
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/8685
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/7808
https://github.com/M

[2022-11-04 17:19] ryanhelmer commented on #9351
Thank you, @dariomws. My apologies not to include the link, I had thought I was offering feedback to that page. This is the article I had in mind: https://learn.microsoft.com/en-us/microsoftteams/public-preview-doc-updates.

[2022-11-04 17:21] dariomws commented on #9378
@anamariaaaac - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Microsoft products better. They keep a close tab on user feedback, and it would be awesome if you could add your voice to the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/.

You might find others have made a similar

[2022-11-04 17:21] get-itips commented on #9430
Hello @Rangeball
I could get the information that there is currently a work in progress to update these resources, no ETA yet.
Thanks for your feedback.

[2022-11-04 17:21] #9430 closed

[2022-11-04 17:30] dariomws commented on #9351
@ryanhelmer, thank you for your comment.

All public preview features are announced at [Microsoft Teams Public Preview - Microsoft Tech Community](https://techcommunity.microsoft.com/t5/microsoft-teams-public-preview/bd-p/MicrosoftTeamsPublicPreview). I understand there is no better place to search for public preview features.

[2022-11-04 17:34] ryanhelmer commented on #9351
Thank you, @dariomws. The page says "_For a list_ of what's available in the Teams public preview...." Is there a place that has such a list? I haven't found such a list on that Tech Community page. Even if you search that site, it also doesn't include the recently-released fix I had mentioned.

[2022-11-04 23:26] neilr8133 opened #9463 "Documentation states more phone services are available in Korea than the operators will actually provide"
Page says that calling and phone service is available for (South) Korea, however when you go to Operator Connect it lists 3 companies: Tata Communications, Intrado, and NTT.

* Tata Communications says they will only provide service for 100 employees or more;
* When you try to add Intrado as an Operator, it says they only provide Audio Conferencing dial-in numbers, and not Teams Phone Calling;
* A

[2022-11-05 03:47] EvaTentaciion opened #9464 "Únete a Brisa Alhely Espino Corona en Skype"
A Brisa Alhely Espino Corona le gustaría chatear contigo en Skype. ¡Es gratis!

https://join.skype.com/invite/aYnF8k0ZgkCd

[2022-11-06 11:45] DarkTrick opened #9465 ""Manage Tags": Add Section: How to create/manage tags"
I'm specifically missing the "how you create tags" section.

I feel 90% of the page is explaining the concept and suggestions on how to use tags. But **it doesn't get to the point in a clear way**: How do you actually create/manage tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b16e659e-cf07-268a-e224-fa444749ac

[2022-11-07 05:23] scanum commented on #9451
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2022-11-07 05:23] #9451 closed

[2022-11-07 05:24] #9449 closed

[2022-11-07 05:24] #9455 closed

[2022-11-07 05:24] scanum commented on #9456
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-11-07 05:24] #9456 closed

[2022-11-07 05:25] scanum commented on #9460
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-11-07 05:25] #9460 closed

[2022-11-07 05:26] #9464 closed

[2022-11-07 05:29] scanum commented on #9453
@jerlev-p I know the product teams are always looking for user feedback and how to make Teams better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice

Skype for Business: https://www.skypefeedback.com/.

[2022-11-07 05:29] #9453 closed

[2022-11-07 05:41] ZhangjianEdmond opened #9466 "License for guest access"
Hi,  Need to confirm if guest ascess is available for  Teams Essentials since it is not mentioned here.

I believe there is no License required for guest access since Teams free version can also use guest access.
Partner got confused since only  Microsoft 365 Business Standard, Microsoft 365 Enterprise, and Microsoft 365 Education  is mentioned here.
Could we make it clearer?

Thank you and best r

[2022-11-07 07:22] dariomws commented on #9385
Hi @StainlessSteele, thank you for your feedback.

Could you please share the public link to the article? It seems it's not public yet. If I click the link here in GH, it redirects me to https://review.learn.microsoft.com/.

[2022-11-07 07:34] dariomws commented on #9384
Hi @kennethvs, thank you for your feedback.

Could you provide more detail? My apologies but I don't understand your feedback.

This article is intended to block access to SharePoint files yet allow their employees to use Teams desktop, mobile, and web clients on unmanaged devices.

[2022-11-07 07:36] dariomws commented on #9394
Hi @StainlessSteele, same issue here. It seems that this article is not public yet.

[2022-11-07 07:37] dariomws commented on #9386
Hi @StainlessSteele, same issue here. It seems that this article is not public yet.

[2022-11-07 11:30] #9351 closed

[2022-11-07 11:46] StainlessSteele commented on #9385
@MicrosoftHeidi  is working on these docs.

[2022-11-07 11:51] dariomws commented on #9385
Thanks @StainlessSteele, I think it's better if you provide feedback to Heidi either directly or using an internal tool (not sure if there is one).

[2022-11-07 12:00] MikePlumleyMSFT commented on #9465
@DarkTrick using and managing tags in teams is covered in [Using tags in Teams](https://support.microsoft.com/office/using-tags-in-teams-667bd56f-32b8-4118-9a0b-56807c96d91e). There's a link at the bottom. I'll move it up to make it more prominent.

[2022-11-07 14:13] kennethvs commented on #9384
Hi @dariomws,

So in the CA policy you currently target Office 365 SharePoint Online, while MS best practise is to target the "Office 365" cloud application which contains Office 365 SharePoint Online.

Also another point of feedback, having 2 CA policies automatically created, targeting all users and being on by default is not a really good idea. If you want to create them while modifying the Unm

[2022-11-07 14:16] RobMSP commented on #9451
Uh, I reported the problem 7 days ago.
9 Hours ago, you tagged the problem as 'haven't heard from me' not exactly sure what you were expecting to hear from me.

I guess a bug really is a feature, or cudo's for my staff having an average call duration of slightly more than 5 hours...

[2022-11-07 15:55] dariomws commented on #9384
But following the steps in this article, if you block Office 365, the user will lose access to the entire service. The purpose here is to block access to SharePoint files while the user still has access to Teams.

[2022-11-07 17:30] vlethiec opened #9469 "Could not resolve phoneNumberType 'OCMobile'"
Hi all,

We are working on Teams Phone Mobile, but when we try to execute the cmdlet, we have the following error.

**With TPM 4.7.0**

`PS C:\WINDOWS\system32> set-csphonenumberassignment -Identity  17e10b9c-f9fd-47f7-9791-dbd14770191b -PhoneNumber +33662105560 -PhoneNumberType OCMobile
Microsoft.Teams.ConfigAPI.Cmdlets.internal\Set-CsPhoneNumberAssignment : Could not resolve phoneNumberType 'OCM

[2022-11-07 17:45] santos-haw opened #9470 "Screenshots and Group-Based Licensing"
The screenshots on this page do not match up with the current M365 admin portal. Also, it should be noted that when using group-based licensing in AAD, you cannot add and remove licenses through the M365 admin portal - "This is inherited by group-based licensing and can't be changed here. Manage group-based licenses in the Azure portal."

---
#### Document Details

⚠ *Do not edit this section. It

[2022-11-07 17:52] dariomws commented on #9401
Hi @LiamSevier, thank you for your feedback.

@dstrome, do you think we can update the screenshot? Thanks!

[2022-11-07 20:43] kennethvs commented on #9384
@dariomws. Owh.. then I misinterpreted the scenario. Why in that case not just block access to SharePoint from unmanaged devices in the CA policy, instead of using App Enforced Restrictions with a block on unmanaged as defined globally in the SharePoint Admin Center?

[2022-11-07 22:02] jhall-conp opened #9471 "Only applicable to Commercial Cloud"
The purchase process only works for users with a Commercial Cloud tenant. I have yet to figure out how to obtain a license for GCC, neither Basic nor Pro.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b79d13d8-9f2e-ef35-0459-c3430e5b05a7
* Version Independent ID: b79d13d8-9f2e-ef35-0459-c3430e5b05a7
* Content: [Step

[2022-11-08 07:18] dariomws commented on #9384
@kennethvs, sorry but I don´t have the answer for the last question. Reading the article, I understand that App Enforced Restrictions automatically create the CA policy. Then you modify it to apply only for a subset of users.

[2022-11-08 09:34] vlethiec commented on #9469
The issue has already opened here #9438, but no answer yet.

[2022-11-08 09:54] adrianfleisch commented on #9369
When can we expect the expansion with "best practice for license changes in a group-based licensing scenario"?

[2022-11-08 14:09] dknappettmsft opened #9472 "Incorrect installation path for Teams MSI"
The article states:

"This process installs Teams to the %ProgramFiles(x86)% folder on a 32-bit operating system and to the %ProgramFiles% folder on a 64-bit operating system. At this point, the golden image setup is complete."

This is the wrong way round as %ProgramFiles(x86)% only exists on a 64-bit operating system. Running the 64-bit installer installs to %ProgramFiles(x86)%:

![image](https:

[2022-11-08 17:16] CLYVR commented on #9451
@RobMSP Thanks for bringing this to our attention.  Looking into this now and expect to publish an updated version of the template shortly.

[2022-11-08 17:23] CLYVR commented on #9451
@RobMSP While waiting for the new version to be released, if you would please do the following on your template as I believe this will resolve the issue:

Agent Timeline Tab

- Click in the "Distribution by Agent and Call Queue" box
- In the "Visualizations" field on the right side, find the "Tooltips" box
- Click on the down chevron and select "Average"

Save your template.

If this doesn't resol

[2022-11-09 23:58] get-itips commented on #9431
I was notified that the Teams Phone Mobile Add-on SKU is indeed fully live now.

[2022-11-09 23:58] #9431 closed

[2022-11-10 08:41] cmtk opened #9473 "Zendesk Capitalization"
Zendesk does not appear to capitalize the "D." Should be "Zendesk" instead of "ZenDesk".

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/90c6d2fe8f37afa99b36f50a98bcfdd01bd5ec11/Teams/migrate-slack-to-teams.md?plain=1#L340

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7a81e1e5-3fd5-ff19-4f13-30bc2d

[2022-11-10 12:21] thewrabbit commented on #8953
Can you confirm where the progress is on this please?  I'm trying to confirm the availability of webinars to A1 which previously wasn't licensed - is it now?

[2022-11-10 13:06] FormindGMO opened #9475 "Teams hogging memory troubleshoot in documentation"
Hi, it would be greatly appreciated if the webpage below of Teams memory consumption could contain tips to troubleshoot memory hogging by Teams. It indicates what is problematic memory but not how to treat it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fc21902c-d522-3851-8587-177f01bc085c
* Version Independent ID:

[2022-11-10 16:34] dariomws commented on #9296
Hi @Teamsgineer,

The messages are removed in Teams after 1-7 days if there is not a retention policy. For more information:
https://learn.microsoft.com/microsoft-365/compliance/retention-policies-teams

[2022-11-10 21:48] dariomws commented on #8178
Hi @SvenBell, thank you for your feedback.

Could you share a screenshot? I cannot see that setting in the Participants & guests section.

[2022-11-10 23:58] SvenBell commented on #8178
Teams has changed and improved so much in the last 12 months since I made this comment. I think this has been addressed in the interim with the addition of the link in section: 'Who can present in meeting' to 'Roles in a Teams meeting' - https://support.microsoft.com/office/c16fa7d0-1666-4dde-8686-0a0bfe16e019

[2022-11-10 23:58] #8178 closed

[2022-11-11 12:11] benzini00 opened #9480 "License naming"
'Common Area Phone' license is now called 'Microsoft Teams Shared Devices'

Please update this documentation accordingly.

Many thanks,

Ben

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b4ab5215-f24f-75cf-bb92-16ac0ff5e5ca
* Version Independent ID: 701cc58f-d2ea-cbb6-f5fc-47b9fbfb1119
* Content: [Set up the Common A

[2022-11-11 14:24] DaniEASmith commented on #8953
@thewrabbit New Webinars documentation will be released in December; however, adding Webinars to A1 licenses isn't part of that release. We've yet to hear a plan to add Webinars to the A1 subscription.

[2022-11-11 22:45] dariomws commented on #9422
Thanks @StainlessSteele, same here. I think it's better if you provide feedback to @MicrosoftHeidi either directly or using an internal tool (not sure if there is one).

[2022-11-11 22:52] dariomws commented on #9421
Hi @bwilsonms, thank you for your feedback.

If these features are not yet in general availability, are you sure that we should include them here? If yes, could you provide the information to add?

[2022-11-13 02:40] scanum commented on #9469
Duplicate of #9438

[2022-11-13 02:40] #9469 closed

[2022-11-13 03:31] DarkTrick commented on #9465
Thank you very much for the quick response!

OT: Feature note: Would be nice, if there was a twitter-like tag-feature where no prior managing is needed, people can opt-in themselves and is working in Channels and chats equally

[2022-11-13 03:31] #9465 closed

[2022-11-13 08:30] dariomws commented on #9417
Hi @mamrouni, thank you for your feedback.

I'll be working on this issue. I'll keep you posted.

[2022-11-14 03:12] J227668 opened #9481 "Documenting the correct way to connect outbound"
Hi - The documentation does not have the appropriate information to connect to outbound calling. Can you please update the document with guidance on how to enable outbound calling? I can share how we got this running if needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: baeaf242-70a7-c9c2-1cf3-d66534768235
* Versi

[2022-11-14 03:40] GSaaaam opened #9482 "The part of retention policy is not clear enough"
[Enter feedback here]
The "Recording expiration settings and Microsoft 365 retention policies in Microsoft Purview" part is not clear enough for end users. It is saying when a Purview retention policy is taking place, the recording cannot be deleted, however, in fact the recording will be deleted but be kept in Preservation hold library. Even though it's not permanently deleted, from user's perspe

[2022-11-14 07:35] dariomws commented on #9417
@MicrosoftHeidi, could you review this article? It's not up to date at all and I think we should remove it. There's no point in having it anymore.

[2022-11-14 07:36] dariomws commented on #9415
Hi @Korbyn72, thank you for your feedback.

@dstrome, could you confirm this information? I think it works, but I can't confirm what the official support statement is. Thank you!

[2022-11-14 07:38] dariomws commented on #9413
Hi @SvenBell, thank you for your feedback.

I think the information about the licenses is included in the article:
"The license assigned to the user account must have at least the same license entitlements as the desired user interface. The Common Area Phone license only allows the Common Area phone user interface. The meeting room license allows meeting room and common area phone user interfaces.

[2022-11-14 10:47] vlethiec commented on #9438
Hi @dariomws,

I saw in your commit, you removed the mention of OCMobile from the documentation page. Does it mean it is not available yet?
Thanks in advance for your help.

Regards,

Vincent

[2022-11-14 11:12] dariomws commented on #9438
Hi @vlethiec,

Yes, it is not available, and I can't say if it will be available later. For Teams Phone Mobile, you should also use -PhoneNumberType OperatorConnect.

[2022-11-14 11:53] #9429 closed

[2022-11-14 12:56] bwilsonms commented on #9421
@StainlessSteele do you have one opened on this already?

[2022-11-14 13:01] bwilsonms commented on #9421
After discussion will open later with more information, thanks,

[2022-11-14 13:01] #9421 closed

[2022-11-14 16:48] #9397 closed

[2022-11-14 16:52] dariomws commented on #9434
Hi @J227668, thank you for your feedback.

Teams panels are available for GCCH in the same way that Teams Rooms are available.

[2022-11-14 17:00] J227668 commented on #9434
Hi @dariomws,

Are you saying teams panels are supported in GCCH? If yes, can you please specify the know parity of Teams panels in GCCH?

[2022-11-14 17:58] bradbrill opened #9484 "Teams Meeting Delegation with Exchange On-Prem in GCCH"
I am a SEE that specializes in GCC-H. I have confirmed with the Product Group that Teams meeting delegation isn't supported for Exchange On-Prem in GCCH. Please contact me directly if you need any clarification or supporting ICMs that confirmed this detail.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8456689d-6f04-

[2022-11-14 17:59] bradbrill commented on #9484
Requesting that we document the limitation on this document.

[2022-11-14 18:59] JoanneHendrickson commented on #9484
Thanks Bill!  PR created; revision will publish live this afternoon.  Closing issue.

[2022-11-14 18:59] #9484 closed

[2022-11-14 20:41] CarolynRowe commented on #9434
Hi.  This is about devices, so I recommend following up with @dstrome. I'm sorry, but I'm unable to answer the question.

[2022-11-14 20:45] dariomws commented on #9434
@dstrome, I understand that MTR are supported in GCCH since last year. And the same statement applies to Teams Panels. Could you confirm?

[2022-11-14 21:03] Korbyn72 commented on #9415
I do not have an environment for which to “test” it with, hence me posing the question for clarification.  I too suspect it will work, but I’m not going to tell a customer that.  It’s bad enough as it is that they took the $15 product and made it a $60 product with no added benefit, but here’s something free that’s slightly above nothing.  They could at least say if it will be on par with the prev

[2022-11-14 21:16] Korbyn72 commented on #9415
Tom Arbuthnot appears to have done some testing:

Microsoft Teams Rooms Pro and Microsoft Teams Rooms Basic, everything you need to know. - Tom Talks<https://tomtalks.blog/microsoft-teams-rooms-pro-and-microsoft-teams-rooms-basic-everything-you-need-to-know/>

Can you add a Teams Phone licence and/or AAD P1 licence to Microsoft Teams Rooms Basic if you don’t want to jump to Pro but needed Teams Ph

[2022-11-15 06:17] shtakeda opened #9485 "Remove "Teams Phone Standard license" from "Assign a license" section"
Please remove "Teams Phone Standard license" from "For each resource account, you must assign a Microsoft Teams Phone Resource Account license or Teams Phone Standard license." in "Assign a license" section.

According to this page, don't assign a Teams Phone Standard license to a resource account.
https://learn.microsoft.com/en-us/microsoftteams/teams-add-on-licensing/virtual-user

---
#### Docum

[2022-11-15 06:51] shtakeda opened #9486 "Purchase additional resource account licenses"
Please correct the followings in "Resource Account license allocation" section.
----------
 In the event more Teams Phone Resource Account licenses are required, you can purchase more Teams Phone Resource Account licenses beyond the standard allocation through your Microsoft account representative.
----------

Customer can purchase Teams Phone Resource Account license via EA, EAS, EES, CSP, and We

[2022-11-15 09:14] sgrienen opened #9487 "Teams Phones alerts only for Pro licenses ?"
The new licensing model in Teams forces to use Teams Rooms Pro license for Teams phones if you want to be able to use Device Alerts? Is my assumption correct ? It was not the case before.

Thanks !
Stéphane

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ff254bd5-0d45-79c1-db9e-77768bbf1292
* Version Independent ID: ad

[2022-11-15 10:36] TJ-SH opened #9488 "PTZ cameras written out incorrectly"
PTZ should be written out as "pan-tilt-zoom camera"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f5d3a28c-7a66-831f-e610-9bf7d4edf9eb
* Version Independent ID: 0bc4a251-816e-0d77-efb2-53b7ffccb0f5
* Content: [Manage meeting policies for audio and video - Microsoft Teams](https://learn.microsoft.com/en-us/microsoftte

[2022-11-15 13:35] akrupennikov opened #9490 "The license has been updated to Teams Shared Device lisense"
In the last Ignite it has been written that Microsoft Teams Shared Device license should be seen.
It was expected to appear in December, but one of our customers already got it in the licensing portal.
If it has already been implemented, the naming in the document should be changed accordingly.

-->
Microsoft Teams Shared Device license: As the new way of working has expanded the usage, importance

[2022-11-15 13:46] SchoolITPro opened #9491 "Backwards installer paths?"
[Enter feedback here]
Isn't this backwards? Program Files = 64-bit apps and Program Files (x86) = 32-bit apps

`The Teams MSI places an installer in %SystemDrive%\Program Files\Teams Installer on 32-bit Windows and %SystemDrive%\Program Files (x86)\Teams Installer on 64-bit Windows.`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue link

[2022-11-15 14:07] oragain commented on #9437
Hi,
You can close the question / comment. Microsoft has fixed the dependencies
and is now on par with the provided documentation.
Thanks

On Mon, Nov 14, 2022 at 3:54 PM Dario Woitasen ***@***.***>
wrote:

[2022-11-15 14:09] #9437 closed

[2022-11-15 14:36] DaniEASmith commented on #9490
We're already aware of this renaming and working toward a solution as soon as possible.

[2022-11-15 14:38] DaniEASmith commented on #9480
@dariomws & @scanum This ask is going to require a number of other docs to be updated as well as they reference the previous name. Apparently, the license name change was supposed to happen in December, but some folks are seeing the rename in their purchasing channels already.

[2022-11-15 14:40] akrupennikov commented on #9490
@DaniEASmith thank you!

[2022-11-15 23:05] ne0rrmatrix commented on #9298
Sorry. Please close ticket. I was referring to consumer account being unable to use teams. The solution I found was to wipe and reinstall windows 10. I have abandoned windows 11 because of long standing issues with hardware, and software incompatibility and system instability. Feels like Windows ME all over again.

I have tried upgrading and using windows 11 about 5 or 6 times over the last year a

[2022-11-16 03:07] baf commented on #9347
@scanum Why was this closed? I believe @nahloe was calling attention to the fact that this page’s title incorrectly uses “effect” instead of “affect.” That should be corrected.

[2022-11-16 15:04] Elgwada01 opened #9493 "custom background not showing"
It would be good to also track when the ability to set up custom backgrounds on MTRoA will also be available as a lot of compagnies are waiting on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64cc650b-b313-cfab-9f45-190b94c128f4
* Version Independent ID: 9e93ac07-3f1b-9fd4-1907-17f0075bd837
* Content: [Teams Roo

[2022-11-16 16:36] FunkyCat123 opened #9494 "Using voice cmdlets with app authentication isn't working"
Hello, looking for assistance with https://learn.microsoft.com/en-us/microsoftteams/teams-powershell-application-authentication
Tried connecting using certificate and client secret following the steps in the article.
Application instance is added to Teams Administrator role as well.
The connection is successful, and I am able to run Teams specific cmdlets such as Get-Team.
Howerver cmdlets such as

[2022-11-16 16:46] pbafna03 commented on #9494
Hi @FunkyCat123,

This appears to be an Admin Role related issue, would suggest:

(a) Checking the Admin Role assigned to the app in Azure Active Directory > Roles and administrators > specific role and see if the app is there

(b) If the role is assigned, this could be a case of old auth token. So, try with a fresh Connect-MicrosoftTeams instance.

[2022-11-16 16:50] pbafna03 commented on #9406
@royalpritpal  - This is rolled out now, ref - https://learn.microsoft.com/en-us/microsoftteams/teams-powershell-application-authentication

[2022-11-16 17:05] FunkyCat123 commented on #9494
Hey. I have verified that Teams Admin role is assigned. Tried to re-authenticate several times, however I am still getting the same error.
Same situation in a completely different tenant. Using version 4.9.1 of Teams PS module.
Anything else I should be watching for or assigning permissions in a different way

[2022-11-16 17:31] pbafna03 commented on #9494
@FunkyCat123 - oh couple more things:

(a) This is in Commercial environment, right?

(b) Check if by any chance you have the "application_access_custom_sba_appliance" permission assigned to Skype and Teams Tenant Admin API. If yes, remove it and post removing the permission, after a few minutes please do Disconnect-MicrosoftTeams and then Connect-MicrosoftTeams.

If above is not the case, would s

[2022-11-16 17:41] FunkyCat123 commented on #9494
Thank you! Removing "application_access_custom_sba_appliance" permission did the trick.

[2022-11-16 17:42] FunkyCat123 commented on #9494
Issue resolved

[2022-11-16 19:55] royalpritpal commented on #9406
yup I saw that last week. All working well now, Thanks :)

[2022-11-16 21:08] dariomws commented on #9440
Hi @simpkinspete, thank you for your feedback.

I think you can find all the answers to your question in the following articles:
https://learn.microsoft.com/azure/active-directory/enterprise-users/groups-lifecycle
https://learn.microsoft.com/microsoft-365/solutions/microsoft-365-groups-expiration-policy

For example:
- For example, if an owner or a group member does something like upload a documen

[2022-11-16 21:16] dariomws commented on #9444
Hi @mmistryms, thank you for your feedback.

The article was updated after rebranding from Premium to Pro but the URL update will take some more time.

[2022-11-16 21:20] dariomws commented on #9445
Hi @jlatessa, thank you for your feedback.

It's true that not all the features are included in the article. I'm extracting the following sentence from the article:
"To help guide you as to what features are available on different platforms, you can refer to the chart below, which will be updated periodically. Not all Teams Rooms features will be included on this list, so please continue to consul

[2022-11-16 21:23] dariomws commented on #9448
Hi @bradbrill, thank you for your feedback.

That information is included in the overview article:
https://learn.microsoft.com/microsoftteams/teams-analytics-and-reports/teams-reporting-reference

[2022-11-16 21:30] dariomws commented on #9450
Hi @JMAvenant, thank you for your feedback.

That information is more related to Azure AD:
https://learn.microsoft.com/azure/active-directory/enterprise-users/directory-service-limits-restrictions

- By default, a maximum of 50,000 Azure AD resources can be created in a single tenant by users of the Azure Active Directory Free edition. If you have at least one verified domain, the default Azure AD

[2022-11-16 21:45] dariomws commented on #9463
Hi @neilr8133, thank you for your feedback.

My apologies but I don't understand what is the specific update that you are requestion for the article. Could you provide more detail?

[2022-11-16 22:03] dariomws commented on #9466
Hi @ZhangjianEdmond, thank you for your feedback.

It's not included here because it's not available. For more information, see https://www.microsoft.com/microsoft-teams/compare-microsoft-teams-options.

[2022-11-16 22:13] dariomws commented on #9369
Hi @davidjfriedman, thank you for your feedback.

I'll forward your feedback, but I cannot promise that the content will be added to the article because this is a very specific situation. May I suggest you contact support or your TAM for more proactive help with this issue.

[2022-11-16 22:19] dariomws commented on #9423
Hi @davidjfriedman, thank you for your feedback.

I'll forward your feedback, but I cannot promise that the content will be added to the article. In addition, you can copy and paste the tables to an Excel spreadsheet and save it to a CSV file or another format.

Aaron Dinnage site (https://m365maps.com/) is a third-party site for which Microsoft does not provide any support.

@dstrome, FYI.

[2022-11-17 02:11] billvolt opened #9497 "PSTN limits for Teams Phone with Calling Plan"
Please consider adding the following limits to your document:
How many simultaneous PSTN calls can reach a single Teams Phone with Calling Plan user?  (Meaning if 1000 people called e.g. a radio station at the same time, are some of those calls dropped or forced to voicemail prior to end of the usual ringing period.)
How many PSTN calls can be put on hold or parked by a Teams Phone with Calling Pl

[2022-11-17 09:58] VelinGeorgiev commented on #9368
Thanks, @dariomws!

[2022-11-17 09:58] #9368 closed

[2022-11-17 17:13] pavelgogit opened #9498 "Cross Cloud Anonymous Join in Teams desktop VDI currently is not supported."
Cross Cloud Anonymous Join in Teams desktop VDI currently is not supported in GCC-High cloud. Can we have the following documentation updated with this known limitation? https://learn.microsoft.com/en-us/microsoftteams/teams-for-vdi

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
*

[2022-11-17 23:19] #9490 closed

[2022-11-17 23:47] get-itips commented on #9470
Thanks for your feedback!

[2022-11-18 09:40] dariomws commented on #9493
Hi @Elgwada01, thank you for your feedback.

Custom backgrounds are available in personal mode since April 2021:
https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-teams-rooms-on-android-april-2021-updates/ba-p/2259772

You can track all the features updates for MTR in the following places:
https://techcommunity.microsoft.com/t5/microsoft-teams-blog/bg-p/MicrosoftTeamsBlog/label

[2022-11-18 19:54] #9382 closed

[2022-11-18 21:27] get-itips commented on #9471
Hello @jhall-conp I am looking into this

[2022-11-18 22:25] JG-Robo opened #9501 "Notification Options don't match what is in TAC"
[Enter feedback here]
The notification options for conferencing listed on this page do not match what is in the Teams Admin center. Have noticed this for multiple tenants - not just one.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 66544770-c56b-ad8a-5b67-9e20cbc945f1
* Version Independent ID: d69667d5-d486-4b99-5e0

[2022-11-19 01:13] get-itips commented on #9475
Hello @FormindGMO
I asked and was instructed that Support services might be able to help provide this information, so please open a support request from your tenant to ask for this specific information.
Thank you

[2022-11-19 01:13] #9475 closed

[2022-11-19 06:12] FormindGMO commented on #9475
Hello,

Well, if the page doesn't mention how to troubleshoot memory issues by teams, then the section to help knowing if teams induces memory issues is useless.

At least, add a mention " if you encounter memory problems using teams, please contact support" to end documentation user story.

Still it's could have been better to have troubleshoot tips after the section directly.

[2022-11-20 10:21] fredphoesh commented on #9322
The issue is, apparently, that Teams is dumbed down if you have the basic Office 365, and you have to have a more expensive version before you can actually use teams by creating a team yourself... this is hidden in both the info Microsoft use to sell you their versions, they list Teams as one of the software you can use, but it is not. This is dishonest and deceptive. There should be an asterisk n

[2022-11-21 09:18] HSteindl opened #9503 "Needs some additions"
Hello!
a) Pls add info, that on MTR-Ws (Teams Rooms Systems on windows) the app name is not teams.exe!! So the powershell scripts to setup the QoS will not work.
b) Pls clarify how this relates to the settings of "insert QoS markings for real-time media traffic" in TAC = Teams Administration Center!
Do we need both on Windows? Many people asssume that if one uses the option in TAC one does not nee

[2022-11-21 11:49] Elgwada01 commented on #9493
Hi Dario,

Thank you for your reply. Sorry for not being clear, but i was talking about the actual consistent background, not the one related to video meetings. We would like to be able to use our company background instead of the 5 backgrounds that you get as default with Android. On an MTR on Windows, we are able to upload our own background using an XLM script, but this option is currently not

[2022-11-21 11:56] dariomws commented on #9493
Hi @Elgwada01, thank you for your reply.

In addition to the links I sent you, you can vote and track the ability of custom wallpaper/background for MTRoA in the following site:
https://feedbackportal.microsoft.com/feedback/idea/ae6c0195-8b6c-ec11-a81b-000d3ae5ad05

[2022-11-21 12:25] Dan-Newton opened #9504 "Clarify plans for Cmdlets not supported"
The page no longer mentions whether or not support for these cmdlets will be eventually rolled out. Please clarify if these cmdlets will eventually be supported or if they will always be unsupported, in particular [Get|Set|New|Sync]-CsOnlineApplicationInstance

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 32304edf-55

[2022-11-21 13:38] pbafna03 commented on #9504
Hi @Dan-Newton,

These will be gradually rolled out.

[2022-11-21 14:52] #9441 closed

[2022-11-21 16:19] natakazakova opened #9505 "Disable the automatic Attendance Report message in chats"
In Teams, after every meeting I get these annoying messages in meetings chats:
![image](https://user-images.githubusercontent.com/17986517/203104716-a7c1f0eb-30d1-4ee0-ae3b-dd5981d05351.png)

Is there any way to disable those messages? If I want to get the attendances, I can see the list of them in a separate tab. It is more than enough. I want to keep the chat history clear.

---
#### Document De

[2022-11-22 01:16] #9504 closed

[2022-11-22 01:16] scanum commented on #9505
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-11-22 01:16] #9505 closed

[2022-11-22 10:52] Larryngolog opened #9506 "Licensing exchange mailbox for Teams Room"
Can you please add information that Teams Rooms license covers also rights for the Exchange Online mailbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a2070d20-21d1-c8bb-bbb4-697083efcd20
* Version Independent ID: f4998e3c-74ed-4a2b-fe7c-c55044b9a6b4
* Content: [Microsoft Teams Rooms licenses - Microsoft Teams](ht

[2022-11-22 15:04] get-itips commented on #9472
Hello, I am handling this, thanks for your feedback

[2022-11-22 16:00] rafaelborter opened #9507 "Public vs. shared channels"
Statement: "Only public channels are supported." under Notes.
Can you please clarify this statement? According to several of my test's, shared channels are not supported. Shouldn't it say "standard channels"?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b755d9ae-13ac-019f-f5f4-a95b1eee2989
* Version Independent ID:

[2022-11-22 16:17] #9470 closed

[2022-11-22 17:11] jabangas opened #9508 "The name of the license being used here must be updated since this license is not visible on tenant billing."
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 81fa6268-92b2-546f-9200-f323bb48e90e
* Version Independent ID: 6ce89bc0-ae69-b6f1-df50-532e46b2e67b
* Content: [Manage resource accounts in

[2022-11-22 17:55] DaniEASmith commented on #9508
@jabangas After reviewing this doc, I don't see where we have an incorrect license name. We use the license name that appears in the Microsoft admin center, not what shows on invoices. In the Microsoft admin center, the license is called "Microsoft Teams Phone Resource Account."

[2022-11-22 18:00] DaniEASmith commented on #9485
@shtakeda & @scanum I've made this update to date with this PR https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness-pr/pull/10681. It'll publish today (11/22/22)

[2022-11-22 21:21] CraigChamberlain opened #9509 "Teams Templates for education"
There is a template called EDU_Class which includes a class notebook.  It isn't listed on this page, nor can I find it when I run the PWSH ````Get-CsTeamTemplateList````.  However, it does seem to work if I use the ````-Template```` parameter of ````New-Team````.
E.g

`    New-Team -Template EDU_Class -DisplayName "Your New Team"`

The team template ID seems to look more like this: ````com.microso

[2022-11-22 22:19] dariomws commented on #9497
Hi @billvolt, thank you for your feedback.

For call parking, the limit is defined by the range numbers you set.

I think 999, only the organizer must be an internal user.

@MicrosoftHeidi, could you help/provide more information?

[2022-11-23 07:37] dariomws commented on #9498
Hi @pavelgogit, thank you for your feedback.

Could you please confirm the version of Teams client deployed on your VDI environment?

@dstrome, could you confirm if this is supported?

[2022-11-23 08:23] JoeMok777 opened #9510 "it is possible to add PSTD caller number in the report ?"
Hello,

Thanks for making this amazing power BI report.
it will be prefect to me if this report can show incoming/out calling number.
or is there anyway i can get and match the "Called to" and "Called from"  from this page :
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/teams-analytics-and-reports/pstn-usage-report.md

Thanks
[Enter feedback here]

---
#### Document

[2022-11-23 13:26] dariomws commented on #9498
@pavelgogit, I tested it on my lab environment, and it works with the latest GCCH client version.

[2022-11-23 15:34] pavelgogit commented on #9498
@dariomws I asked my customer to update the GCCH client version to the latest. I will let you know. But, engineering from Product Group mentioned me that is currently unsupported in VDI for GCCH users.

[2022-11-23 15:50] dariomws commented on #9498
If you have a Microsoft alias, you can link your accounts in GitHub so that a blue "Microsoft submitter" label appears to any PR's or issue you submit. Guidance on it here: https://docs.opensource.microsoft.com/tools/github/index.html

Here is the site you can use to see the mappings between GitHub and Microsoft aliases: [https://repos.opensource.microsoft.com/people?q=pavelgogit]

[2022-11-23 16:03] pavelgogit commented on #9498
Thank you @dariomws. I'm currently signed up with my MSFT account:
![image](https://user-images.githubusercontent.com/118470430/203593097-099585d0-bb6a-4c5b-bdfd-0fc0ab56aaa0.png)

[2022-11-23 19:32] fancyHeat opened #9513 "Teams Exploratory EOL/Sunset"
I believe that the Teams Exploratory Licenses have been sunsetted. We cannot get them added to new tenant’s despite meeting all the requirements.

[2022-11-23 19:39] #9513 closed

[2022-11-23 19:40] fancyHeat opened #9514 "Teams Exploratory Licenses are EOL/Sunset"
I believe that the Teams Exploratory Licenses have been sunsetted. We cannot get them added to new tenant’s despite meeting all the requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 28550025-fde2-9a83-a826-f7e3ccb313db
* Version Independent ID: 2a304432-b10c-220f-3453-e19e7a155c67
* Content: [Manage the Mic

[2022-11-23 20:44] ddaanniieell9 opened #9515 "Common Area Phone license is missing on tenants due to name change"
This article details the steps to obtain a Common Area Phone License, however this license was renamed to Microsoft Teams Shared Devices. Customers are opening cases to obtain help getting the license as they search using the old name.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b4ab5215-f24f-75cf-bb92-16ac0ff5e5ca

[2022-11-23 20:48] DaniEASmith commented on #9515
Hey, @ddaanniieell9! We're aware of the name change and have the work slated for December to update all docs that mention the Common Area Phone license to read as the Microsoft Teams Shared Devices license.

[2022-11-23 21:30] dariomws commented on #9481
Hi @J227668, thank you for your feedback.

Could you provide more detail? Are you talking about "Step 4: Define a global voice routing policy to enable the routing of outbound calls from meetings"?

[2022-11-23 22:22] dariomws commented on #9503
Hi @HSteindl, thank you for your feedback.

a) I think you are talking about Microsoft.SkypeRoomSystem.exe. You must include Teams.exe but let me check if you also need to include Microsoft.SkypeRoomSystem.exe.

b) Short answer is both. Long answer: "Even if these settings had nothing directly to do with MTR, you still want to enable this setting. Enabling this tells Android, iOS, and MacOS Teams

[2022-11-23 22:24] dariomws commented on #9503
@flinchbot, maybe you can also help here.

[2022-11-24 10:42] GSaaaam opened #9516 "Global Reader Role unable to export the report"
[Enter feedback here]

Hi team,

As mentioned in the KB, "You must be either a global admin, global reader, or Teams service admin to view the reports in Teams admin center", I will be able to "read" the reports. There is no doubt about this. However, I am not able to "export" reports in Teams admin center with only Global Reader role. According to the test, I need to combine "Global Reader + Repo

[2022-11-25 01:04] patrickpooon02 commented on #9516
To be exact, the breakdown area of the usage report will show "You don't have sufficient permission to view data for this report.", and trying to export to Excel will show the same error and no file is downloaded.

[2022-11-25 06:22] microsoft-github-policy-service[bot] opened #9519 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-25 08:15] HSteindl commented on #9503
Hello!
Indeed I am referring to Microsoft.SkypeRoomSystem.exe.

Asking @flinchbot is never ever wrong! ;-)
HST

[2022-11-25 13:59] scanum commented on #9510
Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2022-11-25 13:59] #9510 closed

[2022-11-25 14:00] #9515 closed

[2022-11-28 07:40] dariomws commented on #9491
Hi @SchoolITPro, thank you for your feedback.

- On Windows 10 32 bits you only have %SystemDrive%\Program Files
- On Windows 10 64 bits or Windows 11 you have %SystemDrive%\Program Files and %SystemDrive%\Program Files (x86). It doesn't matter if you install Teams 32 or 64 bits, it will be installed on %SystemDrive%\Program Files (x86).

[2022-11-28 15:12] dariomws commented on #9423
@davidjfriedman, yes, sure, my apologies for that. I'm wondering why I tagged you by mistake :)

Hi @KFMjr, thank you for your feedback.

I'll forward your feedback, but I cannot promise that the content will be added to the article. In addition, you can copy and paste the tables to an Excel spreadsheet and save it to a CSV file or another format.

Aaron Dinnage site (https://m365maps.com/) is a t

[2022-11-28 15:49] KFMjr commented on #9423
Thanks for getting back. Copying & pasting is what I would rather avoid as I (and I suspect many others) don't want to have to spend additional time reformatting worksheets (or watching multiple YouTube videos on how to) when simply making the charts available in blob would make sense. This is speaking from the perspective of an 'accidental techie' so I'm sure this doesn't apply to power users but

[2022-11-28 16:09] dariomws commented on #9423
@dstrome, FYI.

[2022-11-28 17:23] traya1 commented on #9519
related PR has been merged

[2022-11-28 17:23] #9519 closed

[2022-11-29 01:26] Teamsgineer commented on #9296
hi @dariomws ,
it would be very useful for Teams/M365 admins to see the above note in this document. Any chance it can be added?
Many companies inquire for how long messages are discoverable in ediscovery without a hold, and without a retention policy. This legal hold doc  doesnt have a link to https://learn.microsoft.com/microsoft-365/compliance/retention-policies-teams which make it difficult to

[2022-11-29 13:43] dariomws commented on #9296
Hi @Teamsgineer, thank you for your feedback.

"Learn about retention for Microsoft Teams" and a few more article links are listed at the bottom in the "Recommended content" section.

[2022-11-29 14:12] satish84 opened #9525 "Not just for dialin users"
The article here implies that this option is for only dial-in users to join without a leader (company user). This option also allows for desktop/web based anonymous users to start the meeting. This I believe should be called out, else it may lead to a privacy concern

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4521

[2022-11-29 16:07] lotekjunky opened #9526 "include information for all options"
The documentation has sections for "calling plans" and "operator connect" but doesn't have anything listed for "Direct Routing". I'm to assume the options are not available for Direct Routing? It should be stated as such because there is conflicting information throughout.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-11-29 17:20] CarolynRowe commented on #9526
The article does state that it applies to Calling Plans, Operator Connect, and Teams Phone Mobile.  It then links to an article with more information about Direct Routing:  https://learn.microsoft.com/en-us/microsoftteams/manage-phone-numbers-landing-page.  This is by design.

[2022-11-29 17:20] #9526 closed

[2022-11-30 01:24] scanum commented on #5354
Hi @MicrosoftHeidi Hope you are well. Wanted to follow up here to see if there is an update? Please let us know if there is anything we can do to help. Thanks.

[2022-11-30 03:17] #8306 closed

[2022-11-30 03:27] scanum commented on #8627
hi @KarliStites hope all is well. Wanted to check if there is an update here?

[2022-11-30 03:35] scanum commented on #8675
@cazawideh hope all is well. Wanted to check in to see if there is an update here? Thanks.

[2022-11-30 03:37] scanum commented on #8686
Hi @DaniEASmith hope all is well. Wanted to check if there is an update here.

[2022-11-30 03:50] scanum commented on #8850
Hi @CLYVR Hope all is well. Wanted to check in to see if there is an update here? Thanks.

[2022-11-30 03:55] scanum commented on #8920
@dstrome Hope all is well. Wanted to follow up here. Thanks.

[2022-11-30 04:03] scanum commented on #9143
Hi @MicrosoftHeidi Hope all is well. Wanted to check in to see if there has been an update here? Thanks.

[2022-11-30 04:03] scanum commented on #9145
@FilippSe Wanted to check here if there is any update on this investigation? Thanks!

[2022-11-30 04:06] #9160 closed

[2022-11-30 04:07] scanum commented on #9175
Hi @CarolynRowe hope all is well. Wanted to check if there is an update here? Thanks.

[2022-11-30 04:09] scanum commented on #9196
Hi @CarolynRowe Hope all is well. Is there an update here on this Issue? Thanks.

[2022-11-30 04:10] scanum commented on #9221
@JG-Robo Hope all is well. Does this answer your questions? Thanks

[2022-11-30 04:12] scanum commented on #9228
@MicrosoftHeidi Hope all is well. Wanted to check if there is an update here? Thanks!

[2022-11-30 04:15] scanum commented on #9233
Hi @MikePlumleyMSFT and @JasonLewisMSFT hope all is well. is there an update here? Thanks!

[2022-11-30 04:18] scanum commented on #9296
Hi @Teamsgineer hope all is well. does this answer your question? Thanks.

[2022-11-30 04:20] scanum commented on #9304
Hi @CarolynRowe Hope all is well. Wanted to check if there was an update here? Thanks.

[2022-11-30 04:21] scanum commented on #9305
Hi @dariomws hope all is well. Can this be considered as resolved? Thanks!

[2022-11-30 04:23] #9321 closed

[2022-11-30 04:24] scanum commented on #9330
@Larryngolog Hope all is well. Does this answer your question? Thanks!

[2022-11-30 04:26] scanum commented on #9358
Hi @kelleyvice-msft Hope all is well. Could you please help with this issue? thanks.

[2022-11-30 04:28] scanum commented on #9363
Hi @ebmgithub Hope all is well. Please let us know if there are any additional questions.

[2022-11-30 04:29] scanum commented on #9369
Hi @adrianfleisch Hope all is well. Please let us know if there are any additional questions.

[2022-11-30 04:32] scanum commented on #9373
Hi @AshishOnGit Hope all is well. The documentation has been updated. Please let us know if this answers your request. Thanks.

[2022-11-30 04:34] scanum commented on #9383
Hi @lindspea hope all is well. Could you please link the other issue? Thanks.

[2022-11-30 04:35] scanum commented on #9384
Hi @kennethvs does this answer your question? Thanks.

[2022-11-30 04:37] scanum commented on #9401
@dstrome Hope all is well. Wanted to check in to see if there is an update to this issue? Thanks.

[2022-11-30 04:38] scanum commented on #9404
@dkiehl Hope all is well. Wanted to follow up here. Thanks.

[2022-11-30 04:39] scanum commented on #9413
Hi @SvenBell Does this answer your question? Thanks.

[2022-11-30 04:40] scanum commented on #9415
Hi @dstrome Hope all is well. Wanted to check in with you if there is an update on this issue? Thanks.

[2022-11-30 04:41] scanum commented on #9417
Hi @MicrosoftHeidi Hope all is well. Wanted to check in with you to see if there is an update on what @dariomws suggested? Thanks.

[2022-11-30 04:44] scanum commented on #9440
Hi @simpkinspete Hope all is well. Does this answer your question? Thanks.

[2022-11-30 04:47] scanum commented on #9445
Hi @jlatessa Hope all is well. Does this answer your questions? Thanks.

[2022-11-30 04:49] scanum commented on #9448
Hi @bradbrill Hope all is well. Does this answer your question? Thanks.

[2022-11-30 04:50] scanum commented on #9450
Hi @JMAvenant Hope all is well. Does this answer your question? Thanks.

[2022-11-30 04:51] scanum commented on #9458
Hi @ckarawani Wanted to follow up here one more time before we close this issue. Thanks!

[2022-11-30 04:53] scanum commented on #9463
Hi @neilr8133 Hope all is well. Could you help us clarify the question? Thanks.

[2022-11-30 04:54] scanum commented on #9466
Hi @ZhangjianEdmond Hope all is well. Does this answer your question? Thanks.

[2022-11-30 04:55] #9473 closed

[2022-11-30 04:57] scanum commented on #9481
Hi @J227668 Hope all is well. Wanted to follow up here, could you please clarify the questions @dariomws is asking? Thanks.

[2022-11-30 05:00] scanum commented on #9485
Hi @DaniEASmith Thanks for the help with this issue. I get a 404 error when I try the Pull request link. Could you please confirm that this is the right link? I do see the documentation was updated. Appreciate your time and help.

[2022-11-30 05:03] scanum commented on #9491
Hi @SchoolITPro Could you please confirm this answers your question? Thanks.

[2022-11-30 05:04] scanum commented on #9493
Hi @Elgwada01 Hope all is well. Could you confirm this answers your questions? Thanks.

[2022-11-30 05:08] scanum commented on #9508
Hi @jabangas Hope all is well. Could you please confirm this answers your questions?

[2022-11-30 05:09] ckarawani commented on #9458
hey @scanum sorry for the delay. The doc describing creating/configuring call queues is here:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/create-a-phone-system-call-queue.md

It seemed at the time that being a teams administrator was not sufficient in being able to assign call queue to a teams channel so I was curious on the missing role required.  I must admit tha

[2022-11-30 06:00] bradbrill commented on #9448
Yes it does, thank you.

[2022-11-30 06:00] #9448 closed

[2022-11-30 06:40] JMAvenant commented on #9450
Morning,

  Thank you - since this question was done on behalf of the community, I trust that you made this clarification in the documentation.

  A direct answer to my mailbox was not required - as it is not scalable.

Warm regards,
James M Avenant  | Partner Development Manager - Business Applications | Microsoft South Africa
View my availability or request a meeting ***@***.***/bookings/> on pa

[2022-11-30 07:49] dariomws commented on #9305
Hi @LtCmdrKeene and @TeamsTechBear,

Here is the answer:
"When you assign a phone number the EnterpriseVoiceEnabled flag is automatically set to True."
https://learn.microsoft.com/powershell/module/teams/set-csphonenumberassignment

[2022-11-30 08:19] adrianfleisch commented on #9369
Thanks. but it's not a issue. It's just a suggestion to enhance the documentation with additional information, because a customer asked about it.
@scanum It's ok for me. Have no additional questions.

[2022-11-30 08:52] lindspea commented on #9383
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/8030

[2022-11-30 13:28] SchoolITPro commented on #9491
I understand the comment but the practice described doesn't seem correct either:

Microsoft (in my experience) has historically directed its users to install 64-bit applications in Program Files and 32-bit applications in Program Files (x86). To have a Microsoft application that ignores this guidance seems to be antithetical to the Microsoft ethos.

On a 64-bit operating system, 64-bit Teams shoul

[2022-11-30 13:33] dariomws commented on #9491
Thanks again for your comment @SchoolITPro. Documentation reflects how the product currently works. I was about to update it by mistake, but a colleague helped me realize my mistake. No need to update the article.

I know the product teams are always looking for user feedback and how to make Microsoft products better. They keep a close tab on user feedback and it would be awesome if you could add

[2022-11-30 13:42] SchoolITPro commented on #9491
How right you are that the documentation is the primary source of the application's current state, and that it shouldn't be updated until the application is changed.

Now that I have verified the documentation is accurate to the operation I will offer my feedback in the Portal :-).

[2022-11-30 13:42] #9491 closed

[2022-11-30 15:26] dariomws commented on #9369
@davidjfriedman and @adrianfleisch,

I think the important information for your topic is:

- From this article: "If you need to change a license for a user that involves one of the prerequisite licenses, you should ensure that the licensing changes are made and saved at the same time. This method will ensure that the user keeps their assigned phone number and can continue making and receiving PSTN

[2022-11-30 16:38] LtCmdrKeene commented on #9305
I need to have people be in a queue without assigning a phone number to them personally. I don't want to assign a phone number to call center agents, they aren't to be dialed personally/directly by PTSN, but they need to answer the queue calls.

[2022-11-30 16:44] dariomws commented on #9305
@LtCmdrKeene,

I know the product teams are always looking for user feedback and how to make Microsoft products better. They keep a close tab on user feedback and it would be awesome if you could add your voice to the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/.

You might find others have made a similar request that you can add to, or you can open a new one. Let us k

[2022-11-30 16:47] scanum commented on #9069
Hi @dstrome Hope all is well. Checking if there is an update on this issue? Thanks.

[2022-11-30 17:59] CarolynRowe commented on #9175
According to the PM, yes.  I suggest the submitter contact support for help.  Closing this issue.

[2022-11-30 17:59] #9175 closed

[2022-11-30 18:03] CarolynRowe commented on #8859
The doc was updated to remove references to performing this task in Teams admin center. Closing this issue.

[2022-11-30 18:11] CarolynRowe commented on #7200
This request is over 1 year old.  If there is still an issue, the submitter should resubmit.  Closing this issue.

[2022-11-30 18:11] #7200 closed

[2022-11-30 18:12] scanum commented on #9305
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2022-11-30 18:12] #9305 closed

[2022-11-30 18:21] scanum commented on #9383
Thank you @lindspea!

Closing this issue as a duplicate since it is being handled in another issue. Thanks!

[2022-11-30 18:21] #9383 closed

[2022-11-30 18:22] #9450 closed

[2022-11-30 21:26] pavelgogit commented on #9498
@dariomws Was your test in a VDI environment? With the latest GCCH client version doesn't work either. PG confirmed us that Cross Cloud Anonymous Join in Teams Desktop in a VDI environment is currently unsupported.

[2022-11-30 21:56] npherson opened #9530 "Screen shots out of date"
The screen shots on this page don't reflect the options shown in the product any more and all need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a0c70e2a-c370-01ae-c46a-3a1d0b95fd61
* Version Independent ID: a3d2b15f-8900-491a-c71a-ab16db108376
* Content: [Place a Microsoft Teams user or team on legal

[2022-11-30 22:17] npherson opened #9531 "FireFox support greatly expanded"
I don't think many of these limitations apply to FireFox any more. The April and October updates added all the basic features, including audio and screen sharing.

https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=firefox

Can this article get reviewed/updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-11-30 22:18] npherson opened #9532 "Firefox support greatly expanded"
I don't think many of these limitations apply to FireFox any more. The April and October updates added all the basic features, including audio and screen sharing.

https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=firefox

Can the FireFox section get reviewed/updated?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟