[2019-12-02 17:59] SjoerdV commented on #3286
@scanum I think the statements of @jeffvandyke in his first post were a little confusing "Same issue, same use-case" and "When I open teams in Firefox, it works great.", but I think he meant to say there is still that problem as per his posts after you closed it. I also concur: the links still do not open in Firefox 'on the web', so please reopen the issue as it has not been solved OR the article

[2019-12-02 19:17] msbemba commented on #3507
@dave-007 Thank you for your feedback. We have modified the screenshot via PR # https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/3536

Thanks
Sri

[2019-12-02 19:20] msbemba commented on #3506
@dave-007 Thank you for your feedback. We have added the information to the article via PR # https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/3537

You need to be a Global administrator or a Team's administrator to make these changes.

Thanks
Sri

[2019-12-02 19:27] msbemba commented on #3505
@szymonslipek Thank you for the feedback. This is more of a service request and we will have to find out more about your environment and help you out with a smooth migration. It would be best to contact the support team so that a dedicated engineer can work with you to transition.

@scanum  Can you provide @szymonslipek  with the support contact information?

Thanks
Sri

[2019-12-02 19:30] msbemba commented on #3499
@SjoerdV Thank you for the feedback. We have added the information about private channels limit via PR # https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/3538

Thanks
Sri

[2019-12-02 19:38] msbemba commented on #3496
@tmaheshwar Thank you for the feedback. As far as Microsoft is concerned you will be able to use this article and LBR is supported. But regulations are different for different countries and you need to check that with the local telecom provider.

JFYI.. Telecom regulation authority of India has mentioned in 2017 that if PSTN gateway is located in India, this remains strictly restricted. If the PST

[2019-12-02 19:55] LanaChin commented on #3315
Reached out to localization contact.

[2019-12-02 19:55] LanaChin commented on #3315
Reached out to localization contact.

[2019-12-02 19:56] LanaChin commented on #3313
Reached out to localization contact.

[2019-12-02 20:02] adrianwells opened #3539 "Microsoft 365 Licensing"
Please update the licensing table &lt;https://docs.microsoft.com/MicrosoftTeams/security-compliance-overview#licensing&gt; to include Microsoft 365 licensing (such as Microsoft 365 Business, E3, and E5) and the features that are included in each. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca579d63-182b-d

[2019-12-02 20:07] GiantCrocodile opened #3540 "What about encryption of chat messages in transit and at rest?"
1. How are chat messages encrypted at transit from the beginning to the end?
2. How are chat messages encrypted at rest, again the whole process from the beginning to the end?

I talk about stuff like TLS, AES, etc. and at which steps it takes place, like shown in figure 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-12-02 21:28] TinaMcN commented on #3315
@OfficeGlobal please uplift this topic to human translation for Spanish + Portuguese.

[2019-12-02 21:29] TinaMcN commented on #3314
@OfficeGlobal please uplift this topic to human translation for Spanish.

[2019-12-02 21:30] TinaMcN commented on #3313
@OfficeGlobal please uplift this topic to human translation for Portuguese.

[2019-12-03 09:40] OfficeGlobal commented on #3315
@TinaMcN working on a fix (Bug 3817004)

[2019-12-03 09:40] OfficeGlobal commented on #3314
@TinaMcN working on a fix (Bug 3817004)

[2019-12-03 09:40] OfficeGlobal commented on #3313
@TinaMcN working on a fix (Bug 3817004)

[2019-12-03 12:25] OfficeGlobal commented on #3475
The article was HumanTranslated and published live. But we're not able to edit columns width in the tables

[2019-12-03 13:46] bastienczl opened #3541 "Can't found Teams PSTN Pools"
Hi,

I can't found this dashboard in the Teams administration. I have tested on many tenants but I can have only the Skype version of it (in Legacy Portal). It's not deployed on all tenants yet ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8107d4a3-a55e-4891-ee72-27f79f647a1e
* Version Independent ID: b71f24

[2019-12-03 15:43] richeklund opened #3542 "CreateSRSMedia.ps1 error"
When I run CreateSRSMedia.ps1 under an Administrator PowerShell console, I get an error: “Cannot convert the "System.Object[]" value of type "System.Object[]" to type "System.Version". At line:1 char:1” (Running it from C:\MTR\CreateSRSMedia.ps1).  No useful information on what went wrong provided. Any idea what could be wrong???

I opened a Premier Performance Support ticket, but haven't been abl

[2019-12-03 16:11] LanaChin commented on #3293
Pinged PMs.

[2019-12-03 16:32] MahendarReddyGujjula opened #3543 "Document change request"
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Skype/SfbServer/plan-your-deployment/requirements-for-your-environment/server-requirements.md

Skype for Business Server works with the following Microsoft .NET Framework versions:
• .NET 3.5
• .NET 4.5
• .NET 4.6.x
• .NET 4.7.1 (for Skype for Business Server CU 5 or later releases)

Skype for business also supports 4.7.2 and 4

[2019-12-03 16:52] picklesrein opened #3544 "Unable to use an app-password for MS Teams"
I enabled two-factor on my Office365 account with a nearly-impossible-to-type passphrase. I prefer to use easier-to-type app-specific passwords to authenticate for other apps but the login attempt in Teams continues to fail. Are app-specific passwords not allowed for authentication within MS Teams?

[2019-12-03 17:42] Canis-Lupis opened #3545 ""If users aren't assigned and enabled with SharePoint Online licenses, they don't have OneDrive for Business storage in Office 365.""
This is not true.  We have dozens of users using OneDrive for Business with their E3 licenses but without SharePoint online being enabled for them (we don't want SharePoint enabled for them yet until they are trained).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60fd4eb7-6f1a-2dfa-27db-01c3a0d00f30
* Version Indepen

[2019-12-03 19:28] diegarchovilla commented on #3527
after formatting teams works perfectly but is not a rational option.

so i open a service ticket. bb2

tks

[2019-12-04 00:32] chetgandhi commented on #3492
We dont have this as well.

[2019-12-04 08:53] Rapthor80 commented on #3541
Same here.

[2019-12-04 09:44] OfficeGlobal commented on #3313
@ddaanniieell9 , @TinaMcN the article has been HumanTranslated and published live

[2019-12-04 14:15] NicholasBurkhammer opened #3546 "Documentation needs updated to correct conflicting documentation pieces and updated supportability guidelines for LS2013 and SfB2015"
The line, "Cloud Voicemail only works with Skype for Business Server and Exchange Server 2019 or Exchange Online," is present in the document.  However, immediately after that there is a table showing both Lync Server 2013 and Skype for Business Server 2015 support Cloud VM.  Additionally, Exchange's blog at https://techcommunity.microsoft.com/t5/Exchange-Team-Blog/Retiring-Unified-Messaging-in-Ex

[2019-12-04 14:31] chrism0n commented on #3542
I am getting the same error above as well.  Will update my version of PS and see if that fixes it.

[2019-12-04 14:36] jedimaster1974 opened #3547 "Private channel sharepoint link"
If I open the private channel in sharepoint, it looks like anyone with the link can open that document folder even if they are not a member of that private channel, will this be locked down?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Version Independent ID: 9ddeb6f4-f30a-1e72-

[2019-12-04 16:03] richeklund commented on #3542
I finally figured it out. I have a profile.ps1 in my WindowsPowerShell directory in my documents folder. I didn't use it anymore, but had a "Write-Host" line in there, which I didn't comment out from when I did.

I was able to replicate it by deleting the contents of profile.ps1 and putting write-host "Test" in the file. Launching powershell then gives the error. If I delete, or delete the content

[2019-12-04 17:53] MrHaanMan opened #3549 "Planner tool doesn't work on Private Channels"
Is this an intentional restriction? We'd like to be able to assign tasks to users who have been added to Private channels but the planner tool doesn't come up as an optional tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Version Independent ID: 9ddeb6f4-f30a-1e72-fc94-ae66def

[2019-12-04 20:25] CarolynRowe commented on #3520
This has been fixed and will go live soon.  Thank you for the feedback.

[2019-12-04 20:25] #3520 closed

[2019-12-04 20:59] blakeloring opened #3550 "Usage based on custom dates, not just 7 or 28 days"
Will there be an option to specify custom dates for accessing reports? Only having packaged 7 or 28 day reports is very limited, and seems like an easy fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78ade1a4-092c-1132-44df-ee2c683fdd33
* Version Independent ID: 396b1aee-2f40-9895-9b00-07e38d11d31b
* Content: [Micr

[2019-12-04 22:22] kenwith commented on #3517
@RamlingaReddy we got word from the PM that owns this area, @ruizoscar  that he is not ready to update the doc with PR #3532  yet. Looking at the link that @msbemba provided it seems like it is saying audio conferencing is available but the PM is telling me it is not yet. So, we are tracking this down and will get this figured out. I apologize it is so confusing. We will keep this issue open and u

[2019-12-04 22:56] dstrome commented on #2671
@Ansuman777 - looks like you're the owner of the Tech Community post referenced in this issue. Can you please take a look at the request above and let us know whether the docs article or the Tech Community post is correct?

[2019-12-04 23:36] dstrome commented on #3491
hi @ingd and @scanum - I confirmed the behavior and will update the important note. thanks!

[2019-12-04 23:36] #3491 closed

[2019-12-05 06:03] scanum commented on #3525
@Gweffs Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:03] scanum commented on #3539
@adrianwells Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:03] scanum commented on #3540
@GiantCrocodile Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:03] scanum commented on #3543
@MahendarReddyGujjula Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:04] scanum commented on #3545
@Canis-Lupis Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:04] scanum commented on #3546
@NicholasBurkhammer Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:05] scanum commented on #3547
@jedimaster1974 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:05] scanum commented on #3549
@MrHaanMan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:05] scanum commented on #3550
@blakeloring Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-05 06:05] scanum commented on #3542
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-05 06:05] #3542 closed

[2019-12-05 06:05] scanum commented on #3541
@bastienczl thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2019-12-05 06:05] #3541 closed

[2019-12-05 06:05] scanum commented on #3544
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-05 06:05] #3544 closed

[2019-12-05 06:05] scanum commented on #3542
@richeklund thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2019-12-05 06:05] scanum commented on #3530
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-05 06:05] #3530 closed

[2019-12-05 10:36] jedimaster1974 commented on #3547
Thanks for the update, any further details you need let me know.

[2019-12-05 11:50] vinodupss opened #3552 "Response needs update for channels/<channelId>/filesfolder"
https://graph.microsoft.com/beta/teams/<group_id>/channels/<channel_id>/filesFolder
Response of the above endpoint needs to be updated to

{
    "@odata.context": "https://graph.microsoft.com/beta/$metadata#teams('6affa1b3-d856-435f-8481-fd6781fe9335')/channels('19%3A7cbbb34773a846f694c0dd5a78f4509a%40thread.skype')/filesFolder/$entity",
    "id": "01SSNAZ7JX6XKLOUVI5JFJUHPXMPGT7VVU",
    "created

[2019-12-05 12:12] microsoftsearch opened #3553 "Teams Chat Retention Policy"
I created a retention policy to delete Team's chats for users that is set to 14 days, but the documentation says that duration's shorter than 30 days aren't yet supported. It seems to have worked for one of the users I applied it to, but not the other. Am I understanding this documentation correctly? Is the policy not supposed to work?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-12-05 13:16] richeklund commented on #3542
@scanum I have opened a service ticket, but they did not have any interest in fixing it. Hopefully the feedback here can help others with a similar issue in the future.

[2019-12-05 13:32] labanex opened #3554 "Microsoft Teams stores data"
There is some good information about how Microsoft Teams stores chats and channels. I wish this was somewhere in the Microsoft Teams docs site.
https://www.recordpoint.com/microsoft-teams-compliance-features/
Please add some or all this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e1b8fbb-3047-dd3a-6a9c

[2019-12-05 19:36] dariomws306 commented on #3437
Hi @thetechguy86, thank you for your feedback.

Referece to UK minutes is here:
https://docs.microsoft.com/microsoftteams/country-and-region-availability-for-audio-conferencing-and-calling-plans/availability-in-the-united-kingdom-u-k

[2019-12-05 20:48] baardhermansen opened #3557 "Need clarification regarding local firewall rules"
In Notes that starts with "Windows Firewall configuration will be altered even when the prompt is dismissed by selecting “Cancel”", it states that two blocking rules are created.
Does this mean that if a user cancels the dialog box, two inbound Public Blocking rules are created and if the user accepts, two incoming Domain Allow rules are created?

---
#### Document Details

⚠ *Do not edit this sec

[2019-12-05 21:31] GiantCrocodile commented on #3557
I think this is what it means. I never approved the Windows Firewall dialog and never had connection issues so I can approve by experience that most likely it doesn't matter what you choose.

[2019-12-05 23:02] dariomws306 commented on #3436
Hi @BhaskinsWR, thank you for your feedback.

@LanaChin could you kindly help with this information? Thanks!

[2019-12-06 03:37] oradcliffe commented on #1936
Hey guys just checking in :)

[2019-12-06 04:44] smpettit opened #3558 "TE-SYSTEMS anynode version should be updated to 3.20.7"
Unless you are on anynode version 3.20.7 then call hold is broken since music on hold was released.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1a1c01-10a9-7f69-1c7b-1a566b0f5112
* Version Independent ID: 329ee759-40fc-98fb-b91e-87786c63024b
* Content: [List of Session Border Controllers certified for Direct Routi

[2019-12-06 08:25] JulienP78hk opened #3559 "Wrong version available 1.2.00.27559 instead of 1.2.00.31357"
Hello,
I Have tried to download the 1.2.00.31357 version using the provided links, unfortunately, I get the 1.2.00.27559 with them. How can I get the good one ?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version Independent ID: 643bcf2f-507b-e449-73db-923d8a368ad9
*

[2019-12-06 13:52] rbodeloche commented on #3559
same issue. when the new msi package will be available ?

[2019-12-06 15:42] weq opened #3560 "Why are you using PoshTestGallery?!?!"
Why? This site is not intendend to be used for test modules. This is why you flag the module with correct pre-release tags.
We've have been using powershell since they age of monad all know this. Why can't Microsofts own employees adopt the same best practices as the rest of the powershell community?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-06 15:59] KZebergs opened #3561 "Teams cached content exclusion list for non-persistent setup"
How do you exclude .txt files and files in general from FSLogix containers? I thought you can only exclude folders.. Please add a link to the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version Independent ID: 643bcf2f-507b-e449-73db-923d8a368ad9
* Content: [Teams

[2019-12-06 16:40] BenK89 opened #3562 "Figure 1 in higher resolution available?"
The quality of the image is very low... Do we have it in higher resolution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43c84773-337e-9df7-7fbd-fc9d94280711
* Version Independent ID: 223a78a0-67fd-8b96-be3f-153bb400101b
* Content: [Microsoft Teams call flows - Microsoft Teams](https://docs.microsoft.com/en-us/micros

[2019-12-06 18:44] avogadro23 commented on #3492
This is also not available for my team.
@scanum It's been two weeks, what have you learned?

[2019-12-06 22:26] dariomws306 commented on #3404
Hi @Patrick959, thank you for your feedback.

This section is to improve documentation, to request new features please go to:
https://microsoftteams.uservoice.com/

Thank you!

[2019-12-07 00:34] TorrenManson opened #3568 "FOC entry doesn't make sense for column "Can you edit the order""
The column "Can you edit the order" has "Firm Order Commitment (FOC)" in the row "transfer approved".

Saying "FOC" doesn't answer the question of whether or not I can edit the order. This cell should just say "No".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fd02a2-78ae-519f-ec11-f337debcaf9a
* Version Independen

[2019-12-07 03:24] J-Fedor commented on #3345
Yes, it doesn't appear to be "fully supported" as noted above - there isn't screen control capability when using the browser.  Might need to change the wording or provide a definition of "fully supported".  thanks.

[2019-12-07 03:43] aeb5005 commented on #3345
Following up on this. I had an internal MS incident to try and determine if my inability to give/take control when myself or the user on the other end was using any browser was determined by someone (I could dig up the team) to be a feature gap NOT a bug.

Thanks for the follow up! I submitted a feature request, having this would be amazing.

[2019-12-07 03:46] J-Fedor commented on #3345
Thanks - would be good to have the docs above note that "fully supported" doesn't mean "fully featured" then, and maybe note what the known gaps are so expectations can be set.

[2019-12-07 03:47] aeb5005 commented on #3387
@scanum It was confirmed through a MS internal incident I raised that this was a feature gap and not a bug.

[2019-12-07 06:40] TomoharuMisawa opened #3569 "Chrome and Edge is still not "fully" supported"
Check box to share system audio when sharing screen is not implemented.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Microsoft Teams の制限事項と仕様 - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/limits-specifications-teams)

[2019-12-08 09:09] neilmallon opened #3570 "Issue with license assignment in script SkypeRoomProvisioningScript.ps1"
Hi team,
I have noticed an issue where the SkypeRoomProvisioningScript.ps1 script linked to at the top of the page is not able to assign a license from the list where there are single digits. Eg for my tenant the 'meeting room' sku is #8 in the list. No single digit skus work. They only way for the script to proceed is to enter a double digit sku from 10 upwards, then go and manually add the licen

[2019-12-09 02:11] SarveshDongare commented on #3333
Is this fixed? I don’t see the script modified on Docs?

From: Manuela Scanu <notifications@github.com>
Sent: 02 December 2019 11:14
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Sarvesh Dongare <sarvdon@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] The Script Does not delete Files

[2019-12-09 06:48] scanum commented on #3553
@microsoftsearch Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:49] scanum commented on #3554
@labanex Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:49] scanum commented on #3557
@baardhermansen Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:57] scanum commented on #3558
@smpettit Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:58] scanum commented on #3560
@weq Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:58] scanum commented on #3561
@KZebergs Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:58] scanum commented on #3562
@BenK89 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:58] scanum commented on #3568
@TorrenManson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:58] scanum commented on #3569
@TomoharuMisawa Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:58] scanum commented on #3570
@neilmallon Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-09 06:58] scanum commented on #3570
@neilmallon thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2019-12-09 06:58] #3570 closed

[2019-12-09 07:00] scanum commented on #3559
@thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted h

[2019-12-09 07:00] #3559 closed

[2019-12-09 07:04] scanum commented on #3552
@thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted h

[2019-12-09 07:04] #3552 closed

[2019-12-09 07:08] scanum commented on #3557
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-09 07:08] #3557 closed

[2019-12-09 07:08] scanum commented on #3560
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-09 07:08] #3560 closed

[2019-12-09 07:23] JulienP78hk commented on #3559
Hello,
I am a Microsoft employee, i cannot open a service request on behalf of my customer.
Is there another way to handle it please?
Thanks
Julien

Téléchargez Outlook pour iOS<https://aka.ms/o0ukef>
________________________________
De : Manuela Scanu <notifications@github.com>
Envoyé : Monday, December 9, 2019 8:00:11 AM
À : MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@

[2019-12-09 08:17] mobernberger opened #3571 "Teams Fatclient not supported on Server OS"
In this article you are talking about Server OS requirements but Support and other sources told me, that the Teams Fatclient isn't supported on Server OS. So could you please clarify this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version Independent ID: 643bcf2f-507b-e449-73

[2019-12-09 08:31] neilmallon commented on #3570
Thanks - do doc needs updating (rather it is the script that needs updating) to allow single digit SKUs to be selected.  I am happy to manually resolve inside the tenant (which I have as per my original note).  Can you open / request somebody amends the PS script to work?

Thanks

[2019-12-09 10:51] Coldry opened #3572 "Where's the PowerShell commands for these GUI actions?"
Hi,
When I find a page in the docs looking for help on how to set things up, I expect to see the PowerShell commands that have the same effect as the GUI steps you detail on the page.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a627b5d-3edc-1add-b921-1dcd49c38653
* Version Independent ID: a2e2bd3a-31c0-471a

[2019-12-09 11:43] baardhermansen commented on #3557
@scanum I work for an ISP, without access to the customers tenant. Nor do i have access rights in our company's tenant to open a service ticket. Therefore i'd appreciate if this issue could stay open and be answered.

[2019-12-09 12:42] pendoza commented on #3497
Hi any updates on this? I just installed in on our 2016 Citrix VDA and want to include the right registry and folders but I cannot find it anywhere on the internet.

[2019-12-09 17:28] mileee6 commented on #3412
It is easier to allow us to setup MS Teams with a Windows 10 as kiosk and reuse old hardware. Why it has to be that expensive?

[2019-12-09 18:01] dariomws306 commented on #3403
Hi @Larryngolog, thank you for your feedback.

I think the information is in the article. Synchronization with Azure Active Directory Connect is a requirement for the last row but not Exchange Hybrid deployment.

[2019-12-09 18:01] LanaChin commented on #3299
Merged changes. Thank you.

[2019-12-09 18:01] #3299 closed

[2019-12-09 18:11] dariomws306 commented on #3391
Hi @bmannetje, thank you for your feedback.

Considering the nature of the issue, it is advised that please this feature request here:
https://microsoftteams.uservoice.com/

[2019-12-09 18:22] dariomws306 commented on #3390
Hi @Larryngolog and @JohnE2, thank you for your feedback.

In the article you can say the next sentence:
"Create an image that's no more than 188 pixels wide by 30 pixels tall (it's quite small)."
Also:
"Store the image in a central location that everyone in your organization can access, such as a network share."

Do you think more information should be added?

Thanks!

[2019-12-09 18:22] gi1995 commented on #3546
Further to this, while this documentation says "Cloud Voicemail only works with Skype for Business Server and Exchange Server 2019 or Exchange Online.", the documentation on Skype for Business Server 2015 to Skype for Business Server 2019 with Exchange 2013/Exchange 2016 suggests in step 4: "Set the hosted voicemail policy for each user moved to Skype for Business Server 2019 to use Cloud Voicemai

[2019-12-09 18:24] Anooprayas commented on #3525
Greetings,
Is there a option to make setting as below?
"If anybody of the meeting participant/Organizer starts the meeting recording, it should disable to other participants."

[2019-12-09 18:32] dariomws306 commented on #3379
Hi @Jonathan-Nuttall, thank you for your feedback.

Could you please elaborate further as I don't have a Educational tenant to test it?

Do you still have the option to enable Teams at tenancy level?

[2019-12-09 18:38] kenwith commented on #3333
Let's check if @ninadara updated based on feedback above. I agree that based on the history I don't see an update either. I will shoot an email so he is aware too.

[2019-12-09 18:48] dariomws306 commented on #3378
Hi @Fru-LCF, thank you for your feedback.

As you noticed is not yet available and I cannot provide more information:
https://docs.microsoft.com/en-us/microsoftteams/get-started-with-teams-templates

[2019-12-09 19:24] JohnE2 commented on #3390
The info about the pixel size is great.

The info about storing on a network share is something to reconsider. If the meeting invite is sent external to the organization, the image file will not be accessible if it is stored internally. In this scenario, the image file would need to be stored in a location that can be accessed anonymously and from the internet. Recommending to store this on an int

[2019-12-09 19:30] dariomws306 commented on #3390
With "Store the image in a central location that everyone in your organization can access, such as a network share." I understand that when a user in your organization send a meeting invite the image will be added to the invite from the network location and recipients don't need access the network share.

[2019-12-09 19:47] JohnE2 commented on #3390
@dacowan even better! I thought it sent as a link.

[2019-12-09 23:10] ccygan commented on #3412
You may use old hardware for testing purposes but not for production deployment with dozens or hundreds of meeting rooms to deal with. The price of MTR device is comparable to a high end PC and comes with all the necessary configuration and guarantee Enterprises need. Do you want your users endure challenges with old repurposed hardware when there is 10 people in the room waiting for the meeting t

[2019-12-10 03:46] codelux opened #3576 "Add SSL.com to Public trusted certificate for the SBC"
SSL.com CA is currently a participant of the Microsoft Trusted Root Certificate Program.

Can we add the SSL.com Roots listed in:

https://gallery.technet.microsoft.com/Trusted-Root-Certificate-2696b664/file/180283/1/Trusted%20Root%20Program%20Participants%20As%20of%20Sept%2026%202017.xlsx

to trusted CA listing at https://docs.microsoft.com/en-us/microsoftteams/direct-routing-plan#public-trusted-

[2019-12-10 08:03] tmaheshwar opened #3578 "External NAT Address"
In case of E911 with Direct Routing, when a user works from Home or outside, which will indicate that External NAT Address is not matching with the Corporate office, will still E911 calls be routed as location of the user will be unknown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 634810fc-7a47-f794-7803-9f3941d664d

[2019-12-10 08:51] milevmartin opened #3579 "MSTeams Unable to assign phone number to Resource Account"
I have created a new Resource account from MS Teams admin Center -> Org-Wide settings - Resource accounts - Add :

ExtensionData                          : System.Runtime.Serialization.ExtensionDataObject
AlternateEmailAddresses                : {}
AlternateMobilePhones                  : {}
AlternativeSecurityIds                 : {}
BlockCredential                        : True
City

[2019-12-10 11:01] Jonathan-Nuttall commented on #3379
Yes, and its disabled for students but enabled for staff as standard. so even if you licence the students individually they cant use teams, because its turned off for them centrally.
Which was causing some confusion until we found it.

As you can imagine logging into all 500~ of our schools tenancies manually isn't really an option.

[2019-12-10 11:36] nickheppleston commented on #3540
It would be helpful if there was a clear statement regarding encryption at-rest and in-transit on this page, even if the underlying storage is maintained by different O365 product offerings (OneOne, Sharepoint etc.); it would also be beneficial to reference SOC reports (if these are available).

I am specifically interested to know what underlying product is used to manage keys to support encrypti

[2019-12-10 14:49] dariomws306 commented on #3370
Hi @Variedz97, thank you for your feedback.

Do you have an enterprise or business tenant?

Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will b

[2019-12-10 14:53] dariomws306 commented on #3369
Hi @ddub555, thank you for your feedback.

It was fixed on Nov 8 by Lana.

[2019-12-10 15:06] OfficeGlobal commented on #3314
@ddaanniieell9 , @scanum  the article was HumanTranslated for PTB , ENS and published live

[2019-12-10 15:08] OfficeGlobal commented on #3315
@ddaanniieell9 , @TinaMcN the article was HumanTranslated for PTB, ESN and published live

[2019-12-10 15:20] Larryngolog opened #3581 "Incomplete and misleading information about configuring Pay-per-minute"
Hi!
We are trying to configure audio conferencing pay-per-minute. This article states that "If you have Audio Conferencing pay-per-minute licenses, you don't have to assign Communications Credits licenses separately to each user specifically for Audio Conferencing usage". The article it leads to in point 3 https://docs.microsoft.com/en-us/microsoftteams/set-up-communications-credits-for-your-organ

[2019-12-10 16:27] LanaChin commented on #3315
Thank you @OfficeGlobal. Closing this issue.

[2019-12-10 16:27] #3315 closed

[2019-12-10 16:28] LanaChin commented on #3314
Thank you @OfficeGlobal. Closing this issue.

[2019-12-10 16:28] #3314 closed

[2019-12-10 16:28] LanaChin commented on #3313
Thank you @OfficeGlobal. Closing this issue.

[2019-12-10 16:28] #3313 closed

[2019-12-10 16:49] jacobjohnk commented on #3404
Why don't I see the Holidays under Org-wide settings?

[2019-12-10 16:53] jacobjohnk opened #3583 "What could be the reason that Holidays do not appear under Org-wide settings?"

[2019-12-10 20:48] LanaChin commented on #2726
@umayrsufi, @scanum - both Shifts topics docs have been updated. Thanks so much for your feedback.

[2019-12-10 20:48] #2726 closed

[2019-12-11 01:38] LanaChin commented on #3263
Thanks so much for your input @Naz9mm and @get-itips for the repro and corrections. The updates by @get-itips are merged.

[2019-12-11 01:38] #3263 closed

[2019-12-11 07:34] hrr commented on #3549
@MrHaanMan Was looking for the same feature just now. Seems like they are working on it:
"Currently, private channels support connectors and tabs (except Stream, Planner, and Forms). We're working on full apps support for private channels, including messaging extensions and bots."
https://docs.microsoft.com/en-us/MicrosoftTeams/private-channels#what-you-need-to-know-about-private-channels

[2019-12-11 08:24] weq commented on #3576
What about using the current list instead?
https://ccadb-public.secure.force.com/microsoft/IncludedCACertificateReportForMSFT

ref: https://docs.microsoft.com/en-us/security/trusted-root/participants-list

[2019-12-11 10:40] joaolloureiro opened #3589 "Please add .NET 4.8 (for Skype for Business Server CU 9 or later releases)"
Please add .NET 4.8 (for Skype for Business Server CU 9 or later releases) since .net framework 4.8 is supported starting with CU9

For further questions please contact me or check internal IcM 145317002

[2019-12-11 11:12] legooolas opened #3590 "Supported/tested Linux distros and versions"
Which Linux distros are the packages (both RPM and Deb format) tested and supported on?
A table showing which distros and versions it's tested and/or expected to work on would be very useful, if possible!
I ask because the rpm version doesn't install on CentOS 7.7 as it requires a newer libstdc++ than is provided, so I am wondering if it is only supported on CentOS 8.x as the newest release?
(Cent

[2019-12-11 11:15] legooolas commented on #3590
Even just which glibc and libstdc++ library versions are required for this to work would be useful, since that would allow users to check whether they meet the minimum requirements or need to upgrade or find some sort of workaround to get the client to work  :)

[2019-12-11 13:44] codelux commented on #3576
Yes CCADB is an active and dynamic list so that is also a good source.

[2019-12-11 15:30] Larryngolog commented on #3403
@dariomws306 unfortunately this is not the case. According to documentation below we also need to configure OAuth, but some of my customers claim that only after configuring hybrid we will be able to see the mailbox.
Apart from that let me rephrase my remark - we need information what will not work if we do not have the ability to connect to local Exchange - for example we are on earlier versions

[2019-12-11 15:47] graugans opened #3592 "Add information how to set the proxy for teams on Linux"
Thanks for porting Microsoft Teams to Linux. While playing with this behind a cooperate firewall and a proxy set-up I could not login. It seems you are using somehow a chromium backend and one could easily pass the proxy to the executable:

[code]

Maybe a link to the Microsoft Code network settings page is an option: https://code.visualstudio.com/docs/setup/network#_proxy-server-support

[2019-12-11 16:56] ShaneWhitford commented on #3379
I'm having the same issue, when you say centrally where did you go to manage that? I've been through the teams admin page, sfb admin, and through our O365 tenant settings but cannot find anything related to teams and students. I keep getting pointed back to the teams admin page. Frustrating.

Thank you.

[2019-12-11 17:24] spottedmahn opened #3593 "Hyperlink on Note about Linux"
[Under Linux section:](https://docs.microsoft.com/en-us/microsoftteams/get-clients#linux)

![image](https://user-images.githubusercontent.com/14079228/70644569-46702d80-1c11-11ea-8ef9-5175bbc9de7c.png)

I suspect the intent was that too be a hyperlink but the **notes feature doesn't support it**? 🤔

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-12-11 18:10] dariomws306 commented on #3403
@Larryngolog Than you for your comment.

Yes, Azure AD Connect and OAuth are both a requirement, it's true. If after that there are some customers that still don't have interaction between Teams and Exchange on-premises, they/you should open a support case as here we can help with document improvements, not with specific issues.

About the second paragraph, I understand that if there isn't a hybri

[2019-12-11 18:16] callen-42 opened #3594 "Redirect to voicemail"
Auto attendants in our tenant now show Voicemail as a 3rd option for 'redirect to'. This isn't covered in this article, would like to know more about this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a42f9e2c-aeee-76c4-620a-668cce21ba10
* Version Independent ID: 6ff06eab-9c80-9c30-95ef-c17e157fbea1
* Content

[2019-12-11 18:40] KYTurp opened #3595 "Analytics and Reports in Teams Calling"
when I look at the PSTN usage report, both the Caller and Callee phone numbers are the same for all calls.  whatever number initiated the call, (Caller) has their number in both the caller and callee fields.

We have configured Direct Routing and are trying to figure out why we do not see individual Caller and Callee numbers.

[2019-12-11 19:24] AndrewFrants opened #3596 "Unregister command doesnt work"
The last step

Unregister-CsOnlineDialInConferencingServiceNumber -BridgeName “Conference Bridge” -RemoveDefaultServiceNumber 8005551234

Doesn't work, could it be due to quotes?

Another alternative is to use:

Unregister-CsOnlineDialInConferencingServiceNumber -BridgeId <> -Identity 8005551234

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-11 23:45] Joel-fogue opened #3598 "Use dpkg -i for .deb file not apt install or yum install on Ubuntu"
On Ubuntu, to install .deb, use the following commands:

sudo dpkg -i &lt;teams_1.2.00.32451_amd64.deb&gt;

Thanks for making this available on Linux!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Version Independent ID: f5d82846-41cb-3548-6997-ce23bd8f89c6
* Content: [Get client

[2019-12-12 09:18] Larryngolog commented on #3390
@dariomws306  the text about pixel size is helpful.

As for the image location I have tested and the image is linked, not embeded. I have tried it on my tenant and used image hosted on SPO. Internal users can see the image only after they sign it to SPO and external users cannot, as they do not have access to the image. We also state on the Teams admin page that we need to have public site to host

[2019-12-12 13:24] JensTrier opened #3600 "RegEx invalid"
This regex is invalid For example, ^+?911. It needs to be  ^\+?911

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0a230ba-f141-3a40-12de-03b05a316a52
* Version Independent ID: 402a7d5f-4736-0f8e-7bba-8af03484085e
* Content: [Manage emergency call routing policies in Microsoft Teams - Microsoft Teams](https://docs.micr

[2019-12-12 15:37] evandimsby opened #3602 "Private and Public - extra info"
It may be worth noting that another difference, particulary on the Sharepoint Online side, is that the "Everyone except external users" Group will be added when a Team is set to Public, and that group will have Edit permissions.

Even though the team itself will NOT show in a non-member's Team app, the non-members CAN access the content on the Sharepoint Team Site if they type in the URL with the

[2019-12-12 16:28] LanaChin commented on #3600
Thanks @JensTrier. This is fixed in #3601

[2019-12-12 16:29] #3600 closed

[2019-12-12 17:39] neilmallon opened #3604 "Missing embedded screenshot 'Deploy-Azure-Monitor-1.png'"
After the first few lines in this doc there is some text showing "![Screen shot of sample Log Analytics view for Microsoft Teams Rooms](../media/Deploy-Azure-Monitor-1.png "Sample Log Analytics view for Microsoft Teams Rooms")" where it should show the screenshot. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2019-12-12 17:41] scanum commented on #3571
@mobernberger Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:41] scanum commented on #3572
@Coldry Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:41] scanum commented on #3576
@codelux Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:41] scanum commented on #3578
@tmaheshwar Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:41] scanum commented on #3581
@Larryngolog Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:41] scanum commented on #3589
@joaolloureiro Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:41] scanum commented on #3590
@legooolas Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:42] scanum commented on #3592
@graugans Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:42] scanum commented on #3593
@spottedmahn Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:42] scanum commented on #3594
@callen-42 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:42] scanum commented on #3596
@AndrewFrants Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:42] scanum commented on #3598
@Joel-fogue Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:42] scanum commented on #3602
@evandimsby Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:42] scanum commented on #3604
@neilmallon Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-12 17:53] scanum commented on #3583
@jacobjohnk
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2019-12-12 17:53] #3583 closed

[2019-12-12 17:57] scanum commented on #3579
@milevmartin
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2019-12-12 17:57] #3579 closed

[2019-12-12 17:58] scanum commented on #3595
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-12 17:58] #3595 closed

[2019-12-12 18:42] neilmallon opened #3605 "Re: Issue with license assignment in script SkypeRoomProvisioningScript.ps1"
Opening a new issue as the old one was closed unresolved/misunderstood and I cannot reopen.

*The script at the top of this doc is wrong and needs updating to allow single digit SKUs to be selected.

Ref: previous close notes; I can manually resolve inside my tenant (which I have as per my original note). Can you open / request somebody amends the PS script to work?

Thanks

---
#### Document Deta

[2019-12-12 21:40] dariomws306 commented on #3368
Hi @moegitree, thank you for your feedback.

They are not strictly related. If you set "Admins and users in the guest inviter role can invite" to No and "Members can invite" to Yes, I think that admin can only invite if they are members. I'll test it to confirm.

[2019-12-12 21:49] dariomws306 commented on #3379
Thank you @Jonathan-Nuttall and @ShaneWhitford.

@Jonathan-Nuttall Could you give us more information about how you can enable it at the tenancy level in education?

@LolaJacobsen maybe you can kindly help us with this.

Thanks everyone!

[2019-12-12 22:00] dariomws306 commented on #3390
Ok, I will check if I can add an image to provide more information.

[2019-12-12 22:15] #3437 closed

[2019-12-12 22:15] dariomws306 commented on #3286
Hi @SjoerdV and @jeffvandyke, thank you for your comments.

To provide feedback about an issue you should open a support case:
https://docs.microsoft.com/office365/admin/contact-support-for-business-products

To request features you should go to:
https://microsoftteams.uservoice.com/
I think there is a similar request so you can add a vote:
https://microsoftteams.uservoice.com/forums/555103-public

[2019-12-12 22:31] dariomws306 commented on #3367
Hi @Moun-surfer, thank you for your feedback.

I found this from Jared Spataro (https://www.linkedin.com/in/jaredspa/):
“We define DAU as the maximum daily users performing an intentional action in the last 28-day period across the desktop client, mobile client and web client. Examples of an intentional action includes starting a chat, placing a call, sharing a file, editing a document within team

[2019-12-13 05:38] JohanssonMarkus opened #3612 "Groups in Microsoft 365"
Time to update the poster I guess. There is not mention that O365 groups can be created from Power BI or Stream for instance. Please review and update accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3ad624-9792-91b7-c85f-09b839b1ea44
* Version Independent ID: e8288f91-11bd-599b-8a88-074917b315a4
* Content

[2019-12-13 08:43] SjoerdV commented on #3286
I would just add a limitation to the article called: “Conversation / Channel URL links - originating from automated Teams email notifications”

[2019-12-13 10:36] Reeced40 commented on #3539
@adrianwells Thank you, I will revert soonest.

[2019-12-13 10:43] Reeced40 commented on #3540
@GiantCrocodile Thank you for reaching out, I'm investigating further to answer your questions.

[2019-12-13 10:45] Reeced40 commented on #3525
@Gweffs thank you for reaching out and helping improve MS Docs.  Anything that is not directly mentioned in the article is usually not supported.  Let me double check with the team and get back to you soonest.

[2019-12-13 10:47] Reeced40 commented on #3545
@Canis-Lupis Thank you for reaching out, I will investigate further and come back with an answer.

[2019-12-13 10:49] Reeced40 commented on #3543
@MahendarReddyGujjula Thank you for pointing this out, I will investigate further and will have this document updated.

[2019-12-13 10:51] Reeced40 commented on #3550
@blakeloring Thanks for reaching out, I will have an answer for you soon.

[2019-12-13 10:54] Reeced40 commented on #3549
@MrHaanMan Hi there, please let me know if @hrr has answered your question. If not, feel free to reach out. Thank you.

[2019-12-13 10:57] Reeced40 commented on #3546
@NicholasBurkhammer Thank you for reaching out, I am investigating with the team for further answers on how to solve this problem.

[2019-12-13 10:59] Reeced40 commented on #3547
@jedimaster1974 Thank you for reaching out, I will investigate further and will have an answer for you in no time.

[2019-12-13 11:25] chilme opened #3613 "Typo in text"
Scope directory search in Teams using an Exchange address book policy (APB).

Should be (ABP) not (APB)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84066c98-38a4-e59a-893f-da38a4a11bf3
* Version Independent ID: 890a4978-0e9b-2691-a2ab-8b5512e5e76f
* Content: [Use Microsoft Teams scoped directory search - Microsoft T

[2019-12-13 13:30] CallMeByMyName opened #3614 "Powershell"
Hello, Where is powershell version of Make an archived team active function ?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 5bf689b7-a7c1-121f-578e-029e8a89c4f0
* Version Independent ID: 7e6b449e-bd77-2fc4-2c3d-1f2e364e1b76
* Content: [Archiver ou supprimer une équipe dans Microsoft Teams - Microso

[2019-12-13 14:08] TiggBloomz opened #3615 "Ability to assign Configuration Profile as default for all new devices"
As per title - would be useful rather than adding each device manually.

[2019-12-13 15:12] benstegink opened #3616 "Flow should be updated to Power Automate"
With the recent name change from Flow -&gt; Power Automate, the services included dont' reflect this recent name change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f897ae9b-852a-b617-7de0-d76dbd9f1820
* Version Independent ID: 161b1845-53fd-8912-a5f9-737d3bcdaadc
* Content: [Manage the Microsoft Teams Exploratory e

[2019-12-13 20:44] dariomws306 commented on #3368
Hi @moegitree,

I have tried this and I can confirm that with this configuration a Global Admin cannot invite guest accounts. Member can do.

Thanks!

[2019-12-13 21:27] RipRapRob commented on #3492
Not available here either, one week later.

[2019-12-15 02:44] hyoshioka0128 opened #3618 "[LOC]"諸島" needs to be replaced with "アイランド""
https://docs.microsoft.com/ja-jp/microsoftteams/setting-your-coexistence-and-upgrade-settings

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ffbf0bfd-c15e-b10b-0cc9-6a27ac1e6634
* Version Independent ID: 58575371-9e09-fadb-76f6-7491df8580a3
* Content: [共存およびアップグレードを設定する - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/setting-your-c

[2019-12-15 02:46] hyoshioka0128 opened #3619 "[LOC]"諸島モード" or "孤島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-and-coexistence-of-skypeforbusiness-and-teams

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 006dc464-2228-0d91-8726-223770c91411
* Version Independent ID: 28877a22-b558-4da6-551b-9bcd9bac96c4
* Content: [Skype for Business から Microsoft Teams へのアップグレード - Microsoft Teams](https://docs.microsoft.c

[2019-12-15 03:03] hyoshioka0128 opened #3620 "[LOC]"諸島モード" or "孤島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/teams-and-skypeforbusiness-coexistence-and-interoperability

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d53d0cb0-90a6-5932-f78e-7de6fcc4d481
* Version Independent ID: 3d468027-cc37-5199-32ec-819bf62b2caa
* Content: [Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/te

[2019-12-15 03:18] hyoshioka0128 opened #3621 "[LOC]"諸島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/teams-client-experience-and-conformance-to-coexistence-modes

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4b0bac0e-750f-8ed9-b200-7d3f4f6b5259
* Version Independent ID: aae49dad-0257-3f7f-8a8e-76b9c9b340c1
* Content: [Teams のクライアント エクスペリエンスおよび共存モードへの準拠 - Microsoft Teams](https://docs.microsoft.com/ja-

[2019-12-15 03:20] hyoshioka0128 opened #3622 "[LOC]"諸島" or "孤島" needs to be replaced with "アイランド""
https://docs.microsoft.com/ja-jp/microsoftteams/coexistence-chat-calls-presence

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 169a20a6-ebf7-1093-3cb1-fb438b9b7e13
* Version Independent ID: b2074fd8-724e-75fa-bafb-a0f7966bf593
* Content: [Skype for Business と共存する - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/coexistence-chat-call

[2019-12-15 03:22] hyoshioka0128 opened #3623 "[LOC]"諸島モード" or "孤島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-to-teams-on-prem-overview

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ef367a6e-23ef-0d9c-fbd1-4c2f58fe0a90
* Version Independent ID: 790f1258-f581-09d0-3e77-f7e0d1668633
* Content: [Skype for Business オンプレミス展開から Teams にアップグレードする-Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/ja

[2019-12-15 03:28] hyoshioka0128 opened #3624 "[LOC]"諸島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/pilot-essentials

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6226bed1-d37e-03a6-7e15-6fd5dadd57c5
* Version Independent ID: a43365f4-d1a4-f855-e687-7cb494340e49
* Content: [Skype for Business を使用して Microsoft Teams を試験的に行う - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/pilot-essent

[2019-12-15 03:31] hyoshioka0128 opened #3625 "[LOC]"[諸島モード]" needs to be replaced with "`[アイランドモード]""
https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-to-teams-on-prem-overview

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ef367a6e-23ef-0d9c-fbd1-4c2f58fe0a90
* Version Independent ID: 790f1258-f581-09d0-3e77-f7e0d1668633
* Content: [Skype for Business オンプレミス展開から Teams にアップグレードする-Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/ja

[2019-12-15 03:34] hyoshioka0128 opened #3626 "[LOC]"諸島" or "孤島" needs to be replaced with "アイランド""
https://docs.microsoft.com/ja-jp/microsoftteams/migration-interop-guidance-for-teams-with-skype

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 49921e8a-55ac-f547-d4e2-d329f5089c2e
* Version Independent ID: 91c3433a-3684-95cd-3426-4a5877b33106
* Content: [Teams を Skype for Business と一緒に使用する組織向けの移行と相互運用に関するガイダンス - Microsoft Teams](https://docs.microsof

[2019-12-15 03:38] hyoshioka0128 opened #3627 "[LOC]"諸島モード" or "孤島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/meetings-first

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 12d73609-83a4-cdd4-8461-59fc1a9152fc
* Version Independent ID: b72ffa6e-f060-c296-e42d-eb3815a932ea
* Content: [Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/meetings-first)
* Content Source: [Teams/meetin

[2019-12-15 03:41] hyoshioka0128 opened #3628 "[LOC]"諸島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/configuring-teams-calling-quickstartguide

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8354e80d-02da-7f51-a713-e698322e8ec1
* Version Independent ID: ef42d9af-336a-e014-de0a-b7bf7bb1f87d
* Content: [クイック スタート ガイド: Microsoft Teams での通話プランの設定 - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoft

[2019-12-15 03:42] hyoshioka0128 opened #3629 "[LOC]"諸島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-basic-powershell

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 25f11980-56c3-6000-7f9e-620f9e04a754
* Version Independent ID: 9603c9fa-7963-2bdf-3f96-2d095f84b860
* Content: [基本的なアップグレード PowerShell - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-basic-powershell)
* Co

[2019-12-15 03:43] hyoshioka0128 opened #3630 "[LOC]"諸島" needs to be replaced with "アイランド""
https://docs.microsoft.com/ja-jp/microsoftteams/expand-teams-across-your-org/healthcare/hc-delegates

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 699deaf5-878a-b7e5-f118-54ea9277502a
* Version Independent ID: c8ed4f78-ee6c-0b2c-a4f9-ba3fdd873a3d
* Content: [メッセージの委任 - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/expand-teams-acr

[2019-12-15 03:43] hyoshioka0128 opened #3631 "[LOC]"諸島モード" or "孤島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/teams-add-in-for-outlook

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 37e10f52-d726-d29a-e0a8-93729a32dfae
* Version Independent ID: 83555f80-a8ca-ee85-c1fc-e39891029758
* Content: [Outlook で Microsoft Teams の会議アドインを使用する - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/teams-add-in-f

[2019-12-15 03:44] hyoshioka0128 opened #3632 "[LOC]"諸島モード" needs to be replaced with "アイランドモード""
https://docs.microsoft.com/ja-jp/microsoftteams/upgrade-to-teams-execute-skypeforbusinesshybridonprem

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8d9d75e7-638b-1738-e102-b87d95b5b51d
* Version Independent ID: d7a64df1-2d66-1ab2-9aa3-afab785bf69a
* Content: [Skype for Business オンプレミス展開から Teams にアップグレードする-Microsoft Teams - Microsoft Teams](https://d

[2019-12-15 03:46] hyoshioka0128 opened #3633 "[LOC]"孤島" needs to be replaced with "アイランド""
https://docs.microsoft.com/ja-jp/microsoftteams/expand-teams-across-your-org/shifts/move-staffhub-teams-to-shifts-in-teams

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8f64dee1-c968-9d64-757e-7ca3263a4fc4
* Version Independent ID: a3157a8b-a127-0726-2ee4-8972e773a785
* Content: [StaffHub teams を Microsoft Teams の Shifts に移動する  - Microsoft Teams](ht

[2019-12-15 03:50] hyoshioka0128 opened #3634 "[LOC]"孤島" needs to be replaced with "アイランド""
https://docs.microsoft.com/ja-jp/microsoftteams/manage-external-access

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID: 1e4d6b87-f57c-fa45-1630-3c32b821d93c
* Content: [Microsoft Teams での外部アクセス (フェデレーション) の管理 - Microsoft Teams](https://docs.microsoft.com/ja-jp/microsoftteams/manage-external

[2019-12-15 03:58] hyoshioka0128 commented on #3625
Duplicate #3623
Closed #3625

[2019-12-15 03:58] #3625 closed

[2019-12-15 04:51] hyoshioka0128 opened #3635 "[LOC]"島" needs to be replaced with "アイランド""
https://docs.microsoft.com/ja-jp/skypeforbusiness/hybrid/cloud-consolidation

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4c621a9c-ce55-e3a6-4220-3f9f1192efee
* Version Independent ID: 5e79fabf-8aa3-96b1-3e94-23904e9fd375
* Content: [Teams と Skype for Business のクラウド統合 - Skype for Business Hybrid](https://docs.microsoft.com/ja-jp/skypeforbusiness/hy

[2019-12-15 08:22] tmaheshwar opened #3636 "Multi-Geo aware"
This statement is confusing :"Note that conversations in chats and meeting IM notes within the Teams experience are not Multi-Geo aware and are all kept only inside the central location of the tenant. Typically, chat conversations aren’t applied to data residency needs."

What exactly we are saying:
Is 1-1 chats are not Multi-Geo aware, what about Channels Chats and Teams Chat
is WiKi (Meeting not

[2019-12-15 20:57] JimmyHang opened #3637 "Private channel creation issue in PowerShell"
I'm trying to create a private channel in PowerShell:

New-TeamChannel -GroupId $team.GroupId -DisplayName "100 Internal" -MembershipType Private

****** Error output from PS ****
New-TeamChannel : A parameter cannot be found that matches parameter name 'MembershipType'.
At line:1 char:76
+ ... pId $team.GroupId -DisplayName "100 Internal" -MembershipType Private ...
+

[2019-12-15 22:07] TB-93 commented on #3470
Any updates regarding this question?

[2019-12-16 04:36] gbollardgit opened #3638 "Clarity around Security of Recordings?"
We have teams that discuss very secure matters. We need to be able to assure them that their meetings are protected. I think this article could include at least a link to a means of determining (and changing) the access on a given stream resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976b8a9b-5a3e-1f3b-b848-d

[2019-12-16 05:48] scanum commented on #3605
@neilmallon Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-16 05:48] scanum commented on #3612
@JohanssonMarkus Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-16 05:48] scanum commented on #3613
@chilme Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-16 05:48] scanum commented on #3614
@CallMeByMyName Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-16 05:49] scanum commented on #3615
@TiggBloomz Please link the issue you are referring to. Thanks!

[2019-12-16 05:49] scanum commented on #3616
@benstegink Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-16 05:49] scanum commented on #3618
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:49] scanum commented on #3619
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:49] scanum commented on #3620
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:49] scanum commented on #3621
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:49] scanum commented on #3622
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:49] scanum commented on #3623
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:49] scanum commented on #3624
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:49] scanum commented on #3626
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3627
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3628
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3629
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3630
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3631
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3632
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3633
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3634
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3635
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3636
@officeglobal Could you please take a look at this issue? Thanks!

[2019-12-16 05:50] scanum commented on #3637
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-16 05:50] #3637 closed

[2019-12-16 05:51] scanum commented on #3638
@gbollardgit Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-16 05:51] scanum commented on #3636
@tmaheshwar Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-16 07:55] TiggBloomz commented on #3615
Apologies: https://docs.microsoft.com/en-us/microsoftteams/device-management#use-configuration-profiles-in-teams

[2019-12-16 09:23] bartvermeersch opened #3640 "Video contains dated information"
The video on this page contains dated and incorrect information. Guests don't have to belong to another O365 tenant but can also be MSA or Google accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042d7ce6-ee22-690f-8188-ff8a4a585847
* Version Independent ID: 3e5bc99c-e08e-44e0-cda3-687ed3633175
* Content: [Turn

[2019-12-16 09:44] OfficeGlobal commented on #3634
Working on a fix

[2019-12-16 09:44] OfficeGlobal commented on #3635
Working on a fix

[2019-12-16 09:44] OfficeGlobal commented on #3618
Working on a fix

[2019-12-16 09:44] OfficeGlobal commented on #3619
Working on a fix

[2019-12-16 09:44] OfficeGlobal commented on #3620
Working on a fix

[2019-12-16 09:44] OfficeGlobal commented on #3621
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3622
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3623
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3624
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3626
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3627
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3628
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3629
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3630
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3631
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3632
Working on a fix

[2019-12-16 09:45] OfficeGlobal commented on #3633
Working on a fix

[2019-12-16 12:11] Jonathan-Nuttall commented on #3379
Login to the admin portal
    Settings
        Services & Add-ins
                Microsoft Teams

                in here there is a secttion for enabling settings or licences for specified users/licences (Ive found that students are disabled by default) and id like the powershell to fix this and enable it for students at this level

[2019-12-16 15:47] ShaneWhitford commented on #3379
Well I hate to admit it, But I totally missed the settings for teams. I was looking under T - teams not Microsoft Teams. Once you said they were in settings, I knew I must have missed it.
What I learned?
You must have the global setting turned on or licensed accounts will not work.
Also this is the only setting that is not available in the Teams admin center.
You must turn on teams for students or

[2019-12-16 16:10] jameslear opened #3643 "Please mention that User phone number types cannot be assigned to resource accounts"
If a phone number previously was used directly by a user, it must be first converted to a service number type before this procedure can be completed.  The phone number will not appear in the assignment page, otherwise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81fa6268-92b2-546f-9200-f323bb48e90e
* Version Indepen

[2019-12-16 16:22] dariomws306 commented on #3379
Thank you @ShaneWhitford!

@Jonathan-Nuttall Do you think that this information is useful? Do you still think that there is something to improve in the article?

Thanks!

[2019-12-16 16:39] Jonathan-Nuttall commented on #3379
The article misses out the entire fact that education tenancies still have to enable teams centrally for students and contains no information on how to complete this either manually or using PowerShell.

I'd like the PowerShell commands putting in to the article as originally requested I need to update these settings on 500+ school tenancies and we don't have the man power to do it manually not to

[2019-12-16 17:01] ShaneWhitford commented on #3379
@Jonathan-Nuttall I agree completely! And I would like to add that, I've gone back to the admin center and can confirm the Microsoft Teams option under teams is missing, but only when using the "new admin center" option. If turned off, Microsoft Teams appears as an option under Services and Add-On's in the settings area of the admin center. I was using the "new admin center" view which is why I co

[2019-12-16 19:18] grtaylo opened #3647 "Update DNS info is incorrect for two items"
This article states that CNAMEs for meet.domain.com and dialin.domain.com should be added, pointing to webdir.online.lync.com.  That is not required and will not work.  These items should instead be deleted entirely, since post-migration, meetings and the dialin URL will be hosted by Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-16 20:38] dariomws306 commented on #3379
Sorry if I still don't understand... But you have all your student users/account without the Teams license. You need to enable it of everyone.

You can accomplish this with the admin center:
https://docs.microsoft.com/office365/admin/manage/assign-licenses-to-users?view=o365-worldwide#assign-licenses-to-multiple-users-on-the-active-users-page

I have created a new Education tenant, created some st

[2019-12-16 20:43] LanaChin commented on #3293
@floydpreyes, @TokyoScarab, @darque808 - thanks for your question. I reached out to the PM and received confirmation that the PSTN usage report isn't available through PowerShell. And, currently, there's no plans for availability through PowerShell.

[2019-12-16 20:43] #3293 closed

[2019-12-17 03:07] TorrenManson opened #3649 "screenshot clipping out of date"
The screenshot for creating a new resource account is out of date, the GUI current asks you to also specify if this is for a CQ or AA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81fa6268-92b2-546f-9200-f323bb48e90e
* Version Independent ID: 6ce89bc0-ae69-b6f1-df50-532e46b2e67b
* Content: [Manage resource accounts i

[2019-12-17 03:50] TorrenManson opened #3650 "Powershell onprem required for hybrid"
Consider moving the purple box explaining that hybrid requires onprem powershell New-CsHybridApplicationEndpoint out of the powershell section, and up in to the overview section. People are missing it, because they want instructions for the gui, and aren't reading the powershell section. Perhaps there are also some who want to use the GUI, and are reading the powershell section, but aren't underst

[2019-12-17 04:01] TorrenManson commented on #3650
And on re-reading, I see there's one there... but it's not clear from either of these two callouts that you need to use the on-prem powershell command if you're in a hybrid.

The fact that SfB 2019 is specified is also confusing, as this also applies to Lync 2013 and SfB 2015.

[2019-12-17 04:02] SinghGurd opened #3651 "Retention policies blocking private channel deletion"
Please include the limitation that a Private Channel can't be deleted if corresponding SharePoint site collection is added in a retention policy.

Essentially, if tenant has a retention policy defined that applies to all SharePoint sites then all private channel site collections automatically get included in retention policy. Hence, none of these private channels can be deleted unless site is manu

[2019-12-17 07:39] chenhua2000 opened #3653 "Channel names limitation"
The article mentioned the characters in the ranges of 0 to 1F and 80 to 9F are not allowed in channel name. But doesn't give any explanation. It's quite confusing to customers. Can you provide explanation of what're these characters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
*

[2019-12-17 09:42] Reeced40 commented on #3540
@GiantCrocodile please have a look at this link - https://answers.microsoft.com/en-us/msoffice/forum/msoffice_o365admin-mso_teams/questions-from-security-team-according-to-ms-teams/ba204bc5-bc13-446d-8c8a-36095e6430b3. It might help answer some of your questions. The team advised me that this doc set is being updated and re-written so should feature all the updates soon.  Please let me know if you

[2019-12-17 10:06] Reeced40 commented on #3539
Hi @LolaJacobsen just checking if this update is in the pipeline and if you'd like me to do a PR to include certain information.

[2019-12-17 10:58] GaelleLeC opened #3655 "Max number of owners per team"
The current page mentions "There can be as many as 10 team owners per team."
However here (https://docs.microsoft.com/en-us/MicrosoftTeams/assign-roles-permissions) it says: "A team can have up to 100 owners."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c807f882-de3c-9c30-f92f-43769356f015
* Version Independent ID:

[2019-12-17 11:10] Jonathan-Nuttall commented on #3379
Your Half right yes they need to be licenced for each individual user, but I can do that via Powershell already just like anyother licence.

Students are adminstratively disabled before the individual licence point, and need to be centraly enabled per tenancy in the settings and addons area. which non of your documentation lists or explains either manually (Via UI), or the backend PowerShell. That

[2019-12-17 13:02] lindspea commented on #3215
@SerdarSoysal any update with this yet?

[2019-12-17 13:15] GiantCrocodile commented on #3540
@Reeced40 I'm sorry but this information seems very outdated and was incomplete when it was up to date. Especially the statement

It’s not feasible to configure additional encryption for sending messages in Microsoft Teams, we have specific mechanism to protect these messages. However, the mechanism is confidential due to privacy concern.

is no answer we can respect nor is it valid when we talk a

[2019-12-17 13:18] Erdem-Oz commented on #3145
Thank you for answer everything is clear now :)

[2019-12-17 15:53] bartvermeersch opened #3657 "Office hours -15 or 30 minute intervals?"
According to this page business hours can be defined using a 15 minute interval, but we currently see 30 minute interval in the admin center?

 "To customize start or end time for a day of the week, click on Start at or End at time you wish to reset and select the new time from the list that appears. The list allows you to select business hours in 15-minute intervals, and the business hours you se

[2019-12-17 17:23] dariomws306 commented on #3379
@Jonathan-Nuttall Could you please kindly put a screenshot here as I cannot reproduce it on my demo tenant? Thanks!

I will try to involve more people as I don't have too much experience with Education tenants. (@LolaJacobsen)

[2019-12-17 17:39] dariomws306 commented on #3362
Hi @tophee, thank you for your feedback.

I'm updating it to "Create a new private team or create a new private channel in an existing team after adding the missing users."

[2019-12-17 19:34] dariomws306 commented on #3361
Hi @markgort86 and @kefujino, thank you for your feedback.

@LanaChin Could you kindly help with this? Could we confirm this information?

Reading next information I think it has sense but I want to confirm:

"Membership to the site collection owner and member groups are kept in sync with the membership of the private channel within Teams. Any changes to the membership of Owner or Member groups in

[2019-12-17 20:08] dariomws306 commented on #3358
Hi @shivtorov, thank you for your feedback.

I'll try to get this information. I understand that you need Phone System + Exchange Online Plan 2, but I'll try to confirm.

[2019-12-17 21:23] dariomws306 commented on #3349
Hi @kaosaxis, thank you for your feedback.

Sorry to say but I'm not agree with you. Where would you add that information in this article?

[2019-12-17 22:08] dariomws306 commented on #3358
The article you are looking for:
https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/plan-cloud-voicemail

I understand that you don't need the Phone System license or add-on but I'll try to confirm, as you have an Exchange Mailbox and it's licensed for EXO.

[2019-12-17 22:41] dariomws306 commented on #3346
Hi @bilginbaldji, thank you for your feedback.

I'm adding a column (Endpoint Make).

[2019-12-17 23:01] dariomws306 commented on #3344
Hi @aeb5005, thank you for your feedback.

The article was updated on November 12 and now this information is in place.

[2019-12-17 23:19] dariomws306 commented on #3342
Hi @jeffangama, thank you for your feedback.

There is some information around the web. Do you still think that this is valuable information to add to the article?

[2019-12-17 23:23] dariomws306 commented on #3345
Hi @aeb5005 and @J-Fedor, thank you for your feedback.

@LolaJacobsen What do you think? Screen sharing when browsers are involved isn't supported, even with Chromium browsers.

[2019-12-17 23:27] TorrenManson opened #3663 "Who can be an agent"
I'm a MSFT partner, and have had a number of customers ask if CAPs or Meeting Rooms can be agents in a queue. It would be helpful to explicitly state that only user accounts can be agents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b755d9ae-13ac-019f-f5f4-a95b1eee2989
* Version Independent ID: f7afd8ad-e6e0-6c79-ae

[2019-12-18 07:00] sischanz commented on #3657
The 30 minute intervall seems to be the correct one, based on our documentation for the corresponding powershell cmdlet:
A time range must be aligned with 30/60-minutes boundaries.
https://docs.microsoft.com/en-us/powershell/module/skype/new-csonlinetimerange?view=skype-ps

[2019-12-18 10:32] Jonathan-Nuttall commented on #3379
<img width="960" alt="Microsoft Teams - Services   Add-ins" src="https://user-images.githubusercontent.com/54445536/71078193-c56ce500-2180-11ea-9d95-9347dc408118.PNG">

as you can see its on for "Education - Faculty and Staff" but off for "Education - Students" by default. this is the setting that prevents students from using teams even if they have an individual licence for the product. This sett

[2019-12-18 13:23] dariomws306 commented on #3340
Hi @mtnsec, thank you for your feedback.

I have been testing and I can make calls from Chrome 79 to a single user chat. Also with Edge Chromium.
With Firefox I get the message you experienced.

[2019-12-18 13:45] dariomws306 commented on #3376
Hi @butchmarshall, thank you for your feedback.

I think it's not possible yet. You can pin apps but not messages or messaging extensions. Please, vote it here or create a new idea specific to Messaging Extensions:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/16911532-ability-to-pin-message-files-articles-shared-withi

[2019-12-18 13:52] butchmarshall commented on #3376
Thanks for the response.

FYI for anyone who just wants to force a messaging extensions installation you can do so via the graph API.

1) Use the [delta API](https://docs.microsoft.com/en-us/graph/delta-query-overview) to sync users
2) Check users have the [app installed](https://docs.microsoft.com/en-us/graph/api/resources/teamsappinstallation?view=graph-rest-beta)
3) If they don't, you can [forc

[2019-12-18 13:55] RahulDube commented on #3384
https://en.wikipedia.org/wiki/Network_Effectiveness_Ratio

Above article can help to get correct formula.
Ref:  ITU-T Recommendation E.425

[2019-12-18 14:33] StainlessSteele opened #3665 "Add script to find users who need meetings migrated"
For a tenant who's moved to TeamsOnly or SFBWithCollabandMeetings globally, not per-user, we should suggest to customers how to find all the folks who yet need meetings migrated. Or, we can suggest simply running a command on the entire tenant except for users who are manually in TeamsOnly or SFBwithCollabandMeetings, for only SFB meetings to be updated. https://docs.microsoft.com/en-us/SkypeForBu

[2019-12-18 15:04] Nyffe opened #3666 "Übersetzungsfehler"
"Wichtig: Archivierte Teams können wieder aktiviert werden, aber Sie können ein gelöschtes Team nicht direkt löschen." -&gt; anstatt direkt löschen sollte "wiederherstellen" verwendet werden

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 5bf689b7-a7c1-121f-578e-029e8a89c4f0
* Version In

[2019-12-18 16:08] aalejandroaraujo opened #3667 "Add more features that are not supported on VDI"
We have identified also these features not being currently available, so they should be added into the list.
These calling and meeting features are not currently supported:
- Enhanced emergency services
- HID buttons and LED controls between the Teams app and devices
- Background blur and effects
- Broadcast/live events
- Location-Based Routing (LBR)
- Call park
- Call queue

---
#### Document Det

[2019-12-18 18:21] DavidMtbg opened #3669 "Attendee Experience options switched?"
Under Attendee Experience (https://docs.microsoft.com/en-us/microsoftteams/teams-live-events/what-are-teams-live-events#attendee-experience), it reads "The attendee experience uses Azure Media Player (for events produced in Teams) and Stream Player (for events produced in an external app or device)", but I believe this should be "The attendee experience uses Azure Media Player (for events produced

[2019-12-18 19:12] dariomws306 commented on #3402
Hi @Petri-X, thank you for your feedback.

Could you please let me know what is the section of the document you are referencing?

[2019-12-19 07:32] Petri-X commented on #3402
This part:

invoke-command {Write-Host "VIDEO DEVICES:"....

[2019-12-19 10:25] JetzeMellema opened #3672 "Typo on page: on premise"
"on premise MDM"

Should be:

"on-premises MDM"

For reference, see https://docs.microsoft.com/en-us/style-guide/a-z-word-list-term-collections/term-collections/cloud-computing-terms

[2019-12-19 11:07] RayPering opened #3673 "Member updates with Guests"
Does the dynamic membership work with Guest users? My group updates with the B2B guests but the Team doesn't seem to add the new guests.

[2019-12-19 12:05] dariomws306 commented on #3402
Thanks @Petri-X.

We are here to receive feedback to improve documentation. I think that considering the nature of the issue, is a good idea to open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happ

[2019-12-19 15:40] mymebenha commented on #3492
I don't have this option when creating a team and the option is also missing from the team settings section.  How do we get this functionality?

[2019-12-19 15:47] mymebenha commented on #2444
I'm also missing this feature.

[2019-12-19 16:30] franciso opened #3674 "B2B Users Created via AADC not receiving invite email"
We create our guest users via AADC (as explained here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-change-the-configuration#enable-synchronization-of-usertype) to allow our partners access to both on-premises and cloud applications. All of them are Guest Mail Users in Exchange Online and have valid (external) email addresses and can access resources as "typic

[2019-12-19 16:30] Naz9mm commented on #2444
You need to update this setting under search by name from >Org wide Settinggs>Teams Settings

[cid:image001.png@01D5B689.98471DF0]

Thanks

Naz Momoniat  ::  Infrastructure Technician
t. 01675 466 477  ::   [image] <https://twitter.com/thinkcrimson>   [LinkedIn] <https://www.linkedin.com/company/crimson>   [image] <https://www.youtube.com/thinkcrimson>   [Facebook] <https://www.facebook.com/crimso

[2019-12-19 16:42] Naz9mm commented on #3492
Is this related to this setting Org wide Settings>Teams Settings> Search by Name - Scope Directory Search using an exchange address book policy.  Try it with this Off

[2019-12-19 17:15] jl242 opened #3675 "Teams 1.2.00.34161 installer not recognizing Horizon View installation"
Getting "Cannot install for all users when a VDI environment is not detected" message even though Horizon Agent is installed and running.

Using Process Monitor, it looks like Teams.exe is trying to look for:
HKLM\SOFTWARE\VMware, Inc.\VMware VDM\Agent\AgentInstallPath

However AgentInstallPath is located in:
HKLM\SOFTWARE\VMware, Inc.\VMware VDM\AgentInstallPath

---
#### Document Details

⚠ *Do

[2019-12-19 18:25] carmelovargas opened #3677 "Broken Link"
The link for "Compliance Framework for Industry Standards and Regulations" is broken.

This one:
https://download.microsoft.com/download/B/2/7/B27B3EF3-8849-4C18-8BA4-5AD755728620/Compliance%20Framework_customer%20guidance.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca579d63-182b-d6f5-8777-79248fa27ed9
* Version

[2019-12-19 19:56] Jay-NI commented on #3631
We are running Windows Pro 10 and do not have Teams available in Outlook as a default.

[2019-12-19 21:01] SerdarSoysal commented on #1861
@scanum This is going to require substantial rework on the backend. It is something that's on our backlog, but it keeps getting postponed due to higher priority work around Teams. Let's sync again by the end of February.

[2019-12-20 11:09] bybytaren opened #3679 "New video replaces the one on this page"
I believe the new video at https://www.youtube.com/watch?v=WkAVgNKn0hs replaces the top one on this page and I would appreciate if this page is updated because I am referring my powerusers to visit here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06059d07-6687-2924-7d0a-3c03220a1650
* Version Independent ID: bb293f

[2019-12-20 14:42] alemas7 commented on #3470
are there any update about the Teams Room autenthication?
In my environment the Exchange online doesn't work

[2019-12-20 14:57] codelux commented on #3576
any update on this?

[2019-12-20 15:35] mymebenha opened #3680 "Team to Group"
It's easy to create a Team from an existing group but if we have a Team and we want to Group enable it, where is the powershell command as mentioned above?

[2019-12-20 16:12] NelsonR3 opened #3681 "What about assigning meeting policies to a group?"
Hi! I saw that it's possible to assign teams policies to Office 365 groups, but not the same with meeting policies.
For example, my customer wants to turn off IP Video and Cloud Recording for a certain group of users (an Office 365 Group would be the most reasonable choice).
It takes a big load of work to assign the "AllOff" meeting policy to 35 users which are in a 365 Group selecting one by one

[2019-12-20 18:20] daurkin commented on #3514
Is this related to the Note that "Skype must be installed" to see presence when in Teams Only Mode?  If so, I would love to hear if there is an update.  Our company just recently removed Skype from majority of our users during the Office 365 upgrade and told people to use Teams.  They really don't want to push out Skype back to the users especially when it won't allow them to use it.  I'm trying t

[2019-12-21 00:16] TorrenManson opened #3685 "Edge or Front-End server?"
https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/configure-cloud-voicemail#configure-cloud-voicemail-as-the-hosting-provider-on-the-edge-server   is titled edge server, but the first line in the section says front-end server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b8afb-b9ca-8136-b907-5bbff4c9dcf1
*

[2019-12-22 07:01] CharlesYeomans opened #3687 "Out of Date, need update for Teams Users"
Very confusing.
Just want to subscribe to a calling plan to make calls out from Teams (Domestic and International).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b07cfcf-8f31-91ed-b1de-c7826a1ab91d
* Version Independent ID: dfbc4212-8f47-326a-f872-8186a915ae1e
* Content: [Country and region availability for Audio Con

[2019-12-23 01:39] imailink opened #3688 "broken links"
[Enter feedback here]

when I click the link in this page, "Details can be found in the Compliance Framework for Industry Standards and Regulations. ", it leads to "404 - File or directory not found."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca579d63-182b-d6f5-8777-79248fa27ed9
* Version Independent ID: b4c27d1b-

[2019-12-23 08:33] scanum commented on #3640
@bartvermeersch Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:33] scanum commented on #3643
@jameslear Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:33] scanum commented on #3647
@grtaylo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:33] scanum commented on #3649
@TorrenManson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:33] scanum commented on #3650
@TorrenManson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:33] scanum commented on #3651
@SinghGurd Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3653
@chenhua2000 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3655
@GaelleLeC Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3657
@bartvermeersch Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3663
@TorrenManson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3665
@StainlessSteele Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3666
@Nyffe Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3667
@aalejandroaraujo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3669
@DavidMtbg Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3672
@JetzeMellema Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:34] scanum commented on #3673
@RayPering Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3674
@franciso Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3675
@jl242 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3677
@carmelovargas Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3679
@bybytaren Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3680
@mymebenha Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3681
@NelsonR3 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3685
@TorrenManson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3687
@CharlesYeomans Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:35] scanum commented on #3688
@imailink Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-23 08:42] scanum commented on #3673
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-23 08:42] #3673 closed

[2019-12-23 08:43] scanum commented on #3674
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-23 08:43] #3674 closed

[2019-12-23 08:43] scanum commented on #3675
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-23 08:43] #3675 closed

[2019-12-23 08:44] scanum commented on #3680
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-23 08:44] #3680 closed

[2019-12-23 08:44] scanum commented on #3681
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-23 08:44] #3681 closed

[2019-12-23 08:48] douglee57 commented on #3594
I have found that if you enter a distribution list as the destination then the voicemail will be emailed to the members of that list.

[2019-12-23 19:19] StainlessSteele commented on #3665
Chatted with a colleague, and he suggested something as well :
Get-CsOnlineUser -Filter {TeamsUpgradePolicy -eq $null} | where TeamsUpgradeEffectiveMode -in "TeamsOnly","SfBWithTeamsCollabAndMeetings" | Start-CsExMeetingMigration -SourceMeetingType SfB -TargetMeetingType Teams.
This will do the following:
Find all users who don't have a manual upgrade policy assigned. And, after they are returned,

[2019-12-24 17:21] darwincr opened #3690 "SQL Server 2019 Cluster is supported or Not?"
In the below documentation it says it is supported:
https://docs.microsoft.com/en-us/SkypeForBusiness/plan/system-requirements#DBs

In the below documentation it says it isn't
https://docs.microsoft.com/en-us/SkypeForBusiness/plan-your-deployment/high-availability-and-disaster-recovery/back-end-server

[2019-12-24 18:34] taylorbouman commented on #3655
https://support.office.com/en-us/article/assign-a-new-owner-to-an-orphaned-group-86bb3db6-8857-45d1-95c8-f6d540e45732    This one says 100 Owners

[2019-12-24 18:35] GiantCrocodile opened #3692 "Badly formatted table"
All tables on this page are badly formatted. The columns aren't properly aligned and it doesn't make sense to have column headers for nearly every row. The page should be redesigned so it's easy to read it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa

[2019-12-24 18:40] GiantCrocodile opened #3693 "Provide a list of all error codes + description of them"
It would be great for debugging and troubleshooting reasons to have a list of all error codes and the meaning/error description for those codes. Right now you have to do researches on other sites to find out which error codes exist and how to fix specific error codes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae7c

[2019-12-24 18:54] GiantCrocodile opened #3694 "Change page to descending sort"
In the point of view of a reader it makes more sense to have the latest updates first and the oldest updates at the end of page. Thus December 2019 should be first, November 2019 last.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3081f70c-d927-ce5d-d957-ca7ba7e07a55
* Version Independent ID: 17704162-7ff9-015c-30a1-1

[2019-12-24 18:59] GiantCrocodile commented on #3196
An update on this regarding Android devices in general would be nice. Thank you!

[2019-12-24 22:37] TokyoScarab commented on #3571
@mobernberger Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:37] TokyoScarab commented on #3572
@Coldry  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:37] TokyoScarab commented on #3576
@codelux  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:37] TokyoScarab commented on #3578
@tmaheshwar  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:38] TokyoScarab commented on #3581
@Larryngolog  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:38] TokyoScarab commented on #3589
@joaolloureiro  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:38] TokyoScarab commented on #3590
@legooolas  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:38] TokyoScarab commented on #3592
@graugans  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:38] TokyoScarab commented on #3593
@spottedmahn  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:39] TokyoScarab commented on #3594
@callen-42  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:39] TokyoScarab commented on #3596
@AndrewFrants  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:39] TokyoScarab commented on #3598
@Joel-fogue  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:39] TokyoScarab commented on #3602
@evandimsby  Thank you for raising this issue! I'll be looking into it!

[2019-12-24 22:39] TokyoScarab commented on #3604
@neilmallon  Thank you for raising this issue! I'll be looking into it!

[2019-12-26 06:33] ikukoyoneda opened #3695 "please add a note to "Actions supported:" table"
From Teams client, you can access contacts in Outlook contact folder. But this functionality is limited to top-level contact folder. (If you create a contact in a subfolder of Outlook contact folder, you cannot access to the contact from Teams client.)

Outlook
  |--Top-level contact folder   <- you can access contacts in this folder
    |--sub folder   <- you cannot access contacts in this folder

[2019-12-26 15:13] diegoeliassantos opened #3696 "Convert public channel to a private one"
Hi,

How can I convert the channel type?

[2019-12-27 00:07] DavidMtbg opened #3697 "Will SMS Sign-In be a workaround for users in org with standalone subscriptions?"
This document mentions that "Users in your organization who have standalone Office 365 subscription plans only, such as Exchange Online Plan 2, cannot be invited as guests to your organization because Teams considers these users to belong to the same organization. For these users to use Teams, they must be assigned an Office 365 Business Premium, Office 365 Enterprise, or Office 365 Education subs

[2019-12-27 09:06] gobmh commented on #3495
@cschafft Hi, maybe we are facing a similar problem. We moved all users from SfB on prem to Teams a few weeks ago. Now, if a user records his personal VM greeting or uses the TTS option, the given greeting is played properly. But afterwards the standard voicemail greeting is played, too.

Does anyone have an idea how to fix this behavior?

[2019-12-27 13:36] mozilla0 commented on #3594
It's also working for O365 groups so you could distribute Voicemails to many users

[2019-12-27 16:20] KYTurp commented on #3594
For me it worked on some O365 groups but not all

On Fri, Dec 27, 2019 at 8:36 AM Matthias <notifications@github.com> wrote:

[2019-12-27 17:48] dwiller11 commented on #1529
Any update on this? I'm not able to escalate this as a tenant because I don't have tenant access. Seems like an issue with the installer, not a tenant-specific issue. It's a bit sloppy for the teams installer to be leaving this behind. Also, the path it leaves is not even valid because the files no longer exist but also because it puts double quotes right after the c:\program in the path

"C:\Prog

[2019-12-27 18:16] GiantCrocodile opened #3698 "How up2date are these issues?"
Hello,

are all of these known issues, even those from 2017, still valid? Please review this list and remove outdated information.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa5a49f-c440-95a8-83a1-9d38bdaeda39
* Content: [Known issues for M

[2019-12-27 18:18] emerzuc opened #3699 "Não estou em nenhum dos 3 perfis"
Não uso Skype e nem PSTN, o que acho que seria um caminho natural de adoção - do zero. Não há caminho sugerido neste caso?

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: b131c7fd-ec71-6b6f-4443-ddaf5cb44bf6
* Version Independent ID: 0c1fb61b-a6cc-e856-d969-54bc13ec699c
* Content: [Como implementar o Micro

[2019-12-30 01:45] scanum commented on #3690
@darwincr Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-30 01:45] scanum commented on #3692
@GiantCrocodile Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-30 01:45] scanum commented on #3693
@GiantCrocodile Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-30 01:46] scanum commented on #3694
@GiantCrocodile Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-30 01:46] scanum commented on #3696
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-30 01:46] #3696 closed

[2019-12-30 01:48] scanum commented on #3697
@DavidMtbg  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-30 01:50] scanum commented on #3699
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2019-12-30 01:50] #3699 closed

[2019-12-30 01:51] scanum commented on #3698
@GiantCrocodile  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-30 01:59] scanum commented on #3695
@ikukoyoneda  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2019-12-30 02:05] scanum commented on #1345
@SerdarSoysal @MicrosoftHeidi Following up on this issue. Thanks.

[2019-12-30 02:06] scanum commented on #1861
@SerdarSoysal Thanks for letting me know I will send a follow-up email at the end of February.

[2019-12-30 02:07] scanum commented on #1886
@kdspiess Following up on this issue. Thanks.

[2019-12-30 02:10] scanum commented on #2940
@CarolynRowe Following up on this issue. Please let me know if there are any updates. Thanks!

[2019-12-30 02:16] scanum commented on #3000
@NMuravlyannikov Any updates on this? Thanks.

[2019-12-30 02:17] scanum commented on #3077
@nidelius We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 02:17] #3077 closed

[2019-12-30 02:18] scanum commented on #3081
@LanaChin Could you please help us on this following issue? Just to confirm the following information. Thanks!

[2019-12-30 02:24] scanum commented on #3101
@dougand-MSFT Hi! Could you please help us confirm the following? Thanks.

[2019-12-30 02:34] scanum commented on #3140
@CarolynRowe Hi Carolyn, any updates on this? thanks!

[2019-12-30 02:35] scanum commented on #3160
@SCS-sysadmin Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 02:35] #3160 closed

[2019-12-30 02:36] scanum commented on #3163
@CarolynRowe Hi Carolyn, could you please help us out on next steps for this issue's resolution? Thanks!

[2019-12-30 02:36] scanum commented on #3170
@D-Jeffrey thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2019-12-30 02:36] #3170 closed

[2019-12-30 02:36] scanum commented on #3184
@LeoW-MS Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 02:36] #3184 closed

[2019-12-30 02:40] scanum commented on #3196
@LolaJacobsen Following up on this issue. Thanks!

[2019-12-30 02:40] scanum commented on #3206
@tonysmit Could you please assist us with the next steps on this issue? Thanks!

[2019-12-30 02:42] scanum commented on #3212
@sindharta thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2019-12-30 02:42] #3212 closed

[2019-12-30 02:45] scanum commented on #3215
@SerdarSoysal Following up on this issue. Could you please help us with next steps? Thanks!

[2019-12-30 02:45] scanum commented on #3227
@mjtart We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 02:45] #3227 closed

[2019-12-30 02:45] scanum commented on #3236
@CarolynRowe Could you please help out with this issue? Thanks!

[2019-12-30 02:46] scanum commented on #3242
@Erdem-Oz Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 02:46] #3242 closed

[2019-12-30 02:50] scanum commented on #3308
@CarolynRowe Could you please help us on this issue? thanks!

[2019-12-30 03:00] scanum commented on #3333
@ninadara Any updates on the following issue? Thanks!

[2019-12-30 03:02] scanum commented on #3340
@mtnsec Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:02] #3340 closed

[2019-12-30 03:03] scanum commented on #3342
@jeffangama We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.
****

[2019-12-30 03:03] #3342 closed

[2019-12-30 03:03] scanum commented on #3344
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:03] #3344 closed

[2019-12-30 03:03] scanum commented on #3345
@LolaJacobsen Following up on this issue. Please let us know if you can help us with next steps. Thanks!

[2019-12-30 03:05] scanum commented on #3349
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:05] #3349 closed

[2019-12-30 03:05] scanum commented on #3358
@shivtorov Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:05] #3358 closed

[2019-12-30 03:05] scanum commented on #3361
@LanaChin could you please help us with next steps? Thanks!

[2019-12-30 03:07] scanum commented on #3367
@Moun-surfer Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:07] #3367 closed

[2019-12-30 03:08] scanum commented on #3368
@moegitree Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:08] #3368 closed

[2019-12-30 03:08] scanum commented on #3369
@ddub555 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:08] #3369 closed

[2019-12-30 03:08] scanum commented on #3370
@Variedz97  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:08] #3370 closed

[2019-12-30 03:08] scanum commented on #3376
@butchmarshall Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:08] #3376 closed

[2019-12-30 03:08] scanum commented on #3377
@moegitree Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:08] #3377 closed

[2019-12-30 03:08] scanum commented on #3378
@Fru-LCF Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:08] #3378 closed

[2019-12-30 03:09] scanum commented on #3379
@LolaJacobsen Hi Lola, could you please help us with the following issue? Thanks!

[2019-12-30 03:11] scanum commented on #3385
@SvenBell Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:11] #3385 closed

[2019-12-30 03:11] scanum commented on #3390
@LanaChin Hi Lana, could you please help with this issue? Thanks!

[2019-12-30 03:11] scanum commented on #3391
@bmannetje Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:11] #3391 closed

[2019-12-30 03:12] scanum commented on #3402
@Petri-X Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:12] #3402 closed

[2019-12-30 03:18] scanum commented on #3403
@Larryngolog Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:18] #3403 closed

[2019-12-30 03:18] scanum commented on #3404
@Patrick959 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:18] #3404 closed

[2019-12-30 03:18] scanum commented on #3412
@Reeced40 Hi Reece, following up on this.

[2019-12-30 03:19] scanum commented on #3436
@LanaChin Following up on this issue. Could you please help us on this? thanks!

[2019-12-30 03:24] scanum commented on #3539
@LolaJacobsen Hi Lola, could you help us validating that the info should be added? Thanks!

[2019-12-30 03:25] scanum commented on #3540
@Reeced40

[2019-12-30 03:25] scanum commented on #3543
@MahendarReddyGujjula We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:25] #3543 closed

[2019-12-30 03:25] scanum commented on #3545
@Canis-Lupis We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:25] #3545 closed

[2019-12-30 03:26] scanum commented on #3546
@dstrome  Hi David, wondering if you could aid with the following issue? thanks!

[2019-12-30 03:26] scanum commented on #3547
@jedimaster1974 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:26] #3547 closed

[2019-12-30 03:27] scanum commented on #3549
@MrHaanMan We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:27] #3549 closed

[2019-12-30 03:27] scanum commented on #3550
@blakeloring We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-12-30 03:27] #3550 closed

[2019-12-30 03:33] scanum commented on #3618
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:33] scanum commented on #3619
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:33] scanum commented on #3620
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:33] scanum commented on #3621
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3622
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3623
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3624
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3626
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3630
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3631
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3632
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3633
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3634
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 03:34] scanum commented on #3635
@OfficeGlobal Any updates on this? Thanks!

[2019-12-30 16:50] LanaChin commented on #3354
@shivtorov, thank you for your input. @dariomws306, thanks for the fix, I've merged the changes.

[2019-12-30 16:50] #3354 closed

[2019-12-30 18:07] taylorbouman opened #3700 "Presence Fix?"
Has there been a published fix for this? We have many users who are missing presence outside of Teams.

To see presence in Outlook (and other Office apps), Skype for Business must be installed, even if you're running Teams in Teams Only mode. Microsoft is aware of this problem and is working on a fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-31 00:37] dariomws306 commented on #3693
Hi @GiantCrocodile, thank you for your feedback.

It's a good idea but I think I cannot provide this information now. Let me check.

@LanaChin could you kindly help?

[2019-12-31 00:52] dariomws306 commented on #3697
Hi @DavidMtbg, thank you for your feedback.

It will be in public preview next year, so I can't provide this information, but I think you'll still need the license.

[2019-12-31 02:38] fredericklin commented on #3473
I'm getting an error as well. Would be nice if the group owner automatically has access to all private channels. Can see private channels being ownerless after a while from users leaving/offboarding.

[2019-12-31 18:55] dgordonb opened #3703 "menu option instructions need updating"
My test tenant shows Devices and then phones.
All Devices and Configuration profiles are tabs in the main window.

Using the Microsoft Teams admin center
In the left navigation, go to Devices &gt; Manage Devices.
Select All devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5d65acb-f012-b05d-c871-69b8f187e537
* V

[2020-01-02 09:39] MrHaanMan commented on #3549
Hi @scanum
Sorry, I didn't see the notifications from this until now.
Is there an ETA on implementing the private channel - planner functionality?

[2020-01-02 10:21] yvesrosius commented on #3454
Hi, that would be because the module is not imported yet.

"Import-Module MicrosoftTeams" should do the trick. Or the -ListAvailable parameter should work also.

[2020-01-02 10:27] shurick81 opened #3704 "One more limitation to add"
Hi, I guess what might be worth adding on this page is mentioning that it is impossible to make a guest account an owner of a team. For example, as an employee, I use my native account in Teams and I can create new team and I can make some my colleagues co-owners of this team. But when I invite external people, I cannot make them owners of the same team, so I cannot delegate them such functions as

[2020-01-02 11:31] jaegerschnitzel commented on #3557
upvote this user request https://microsoftteams.uservoice.com/forums/555103-public/suggestions/33697582-microsoft-teams-windows-firewall-pop-up

[2020-01-02 12:37] JGezels opened #3705 "one tenant, multiple SBC configs"
Is it possible to connect multiple SBC's hosted by different third party vendors and have groups of users being routed through specific SBC's ? In essence: configure multiple SBC (different third parties) for single Tenant and manage usage per user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb0c2ef-6274-9167-ecc6

[2020-01-02 13:42] OfficeGlobal commented on #3635
@hyoshioka0128 , @scanum the text was updated and published live

[2020-01-02 13:44] OfficeGlobal commented on #3619
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:44] OfficeGlobal commented on #3620
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:46] OfficeGlobal commented on #3621
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:47] OfficeGlobal commented on #3622
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:48] OfficeGlobal commented on #3623
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:48] bilginbaldji opened #3706 "How does a user access or change his/her PIN?"
The section needs updating with the relevant ways for a user to reset PIN. The following articles have some information, I believe there are more ways, e.g. when creating a Skype for Business/Teams meeting in Outlook, there is a link "Forgot your dial-in PIN?" in the Audio Conference section of the meeting.

https://docs.microsoft.com/en-us/skypeforbusiness/audio-conferencing-in-office-365/reset-t

[2020-01-02 13:49] OfficeGlobal commented on #3624
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:50] OfficeGlobal commented on #3626
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:51] OfficeGlobal commented on #3627
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:52] OfficeGlobal commented on #3629
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:53] OfficeGlobal commented on #3630
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:54] OfficeGlobal commented on #3631
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:55] OfficeGlobal commented on #3632
@hyoshioka0128 , @scanum the article was updated and published live

[2020-01-02 13:58] OfficeGlobal commented on #3633
@hyoshioka0128 , @scanum the article has been updated and published live

[2020-01-02 13:59] OfficeGlobal commented on #3634
@hyoshioka0128 , @scanum the article has been updated and published live

[2020-01-02 14:54] hyoshioka0128 commented on #3633
@OfficeGlobal  - Corrected.
Closed #3633.
Thanks.

[2020-01-02 14:54] #3633 closed

[2020-01-02 14:55] dariomws306 commented on #3694
Hi @GiantCrocodile, thank you for your feedback.

I'm agree with you but this file is generated automatically each week and I don't have permissions to change the process.

[2020-01-02 14:57] hyoshioka0128 commented on #3635
@OfficeGlobal - Corrected.
Closed #3635.
Thanks.

[2020-01-02 14:57] #3635 closed

[2020-01-02 14:58] hyoshioka0128 commented on #3619
@OfficeGlobal - Corrected.
Closed #3619.
Thanks.

[2020-01-02 14:58] #3619 closed

[2020-01-02 15:06] hyoshioka0128 commented on #3620
?
![teams-and-skypeforbusiness-coexistence-and-interoperabilityteams-and-skypeforbusiness-coexistence-and-interoperability無題](https://user-images.githubusercontent.com/40815708/71673709-d2aee400-2dbc-11ea-98fe-bf00d204771f.png)

[2020-01-02 15:07] hyoshioka0128 commented on #3621
@OfficeGlobal - Corrected.
Closed #3621.
Thanks.

[2020-01-02 15:07] #3621 closed

[2020-01-02 15:09] hyoshioka0128 commented on #3622
@OfficeGlobal - Corrected.
Closed #3622.
Thanks.

[2020-01-02 15:09] #3622 closed

[2020-01-02 15:09] hyoshioka0128 commented on #3623
@OfficeGlobal - Corrected.
Closed #3623.
Thanks.

[2020-01-02 15:09] #3623 closed

[2020-01-02 15:11] hyoshioka0128 commented on #3624
@OfficeGlobal - Corrected.
Closed  #3624.
Thanks.

[2020-01-02 15:11] #3624 closed

[2020-01-02 15:12] hyoshioka0128 commented on #3626
@OfficeGlobal - Corrected.
Closed #3626.
Thanks.

[2020-01-02 15:12] #3626 closed

[2020-01-02 15:13] hyoshioka0128 commented on #3627
@OfficeGlobal - Corrected.
Closed #3627.
Thanks.

[2020-01-02 15:13] #3627 closed

[2020-01-02 15:13] hyoshioka0128 commented on #3629
@OfficeGlobal - Corrected.
Closed #3629.
Thanks.

[2020-01-02 15:13] #3629 closed

[2020-01-02 15:14] hyoshioka0128 commented on #3630
@OfficeGlobal - Corrected.
Closed  #3630.
Thanks.

[2020-01-02 15:14] #3630 closed

[2020-01-02 15:15] hyoshioka0128 commented on #3631
@OfficeGlobal - Corrected.
Closed #3631.
Thanks.

[2020-01-02 15:15] #3631 closed

[2020-01-02 15:16] hyoshioka0128 commented on #3632
@OfficeGlobal - Corrected.
Closed #3632.
Thanks.

[2020-01-02 15:16] #3632 closed

[2020-01-02 15:18] hyoshioka0128 commented on #3634
@OfficeGlobal - Corrected.
Closed #3634.
Thanks.

[2020-01-02 15:18] #3634 closed

[2020-01-02 15:24] hyoshioka0128 commented on #3620
@OfficeGlobal - Corrected.
Closed #3620.
Thanks.

[2020-01-02 15:24] #3620 closed

[2020-01-02 15:29] dariomws306 commented on #3672
Hi @JetzeMellema, thank you for your feedback.

Could you please kindly let me know in what article do you see this typo?

[2020-01-02 15:44] Mexicoder commented on #3492
Are there any updates on this?

[2020-01-02 16:24] kennybilko opened #3709 "Microsoft Surface Pro Support"
Any update on Microsoft Surface Pro Support? This page says it would be added in calendar year 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b06af4b9-8034-c287-b30c-ca009b8549c1
* Version Independent ID: bf2e1bd9-9b86-68a9-42dd-89001bedf0cd
* Content: [Manage a Microsoft Teams Rooms console settings remotely wit

[2020-01-02 17:05] BhaskinsWR commented on #3436
Any update? Need anything from me?

Bill Haskins
Wainhouse Research, LLC | Boulder, CO | USA
+1 303 902 6861
email: bhaskins@wainhouse.com<mailto:bhaskins@wainhouse.com> | web: www.wainhouse.com<http://www.wainhouse.com/>

[image001]<https://insight.wainhouse.com/>

From: Manuela Scanu <notifications@github.com>
Sent: Sunday, December 29, 2019 8:19 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness

[2020-01-02 17:40] prbond opened #3711 "Traduction en français / translate in french -> number format"
Vidéo	50,020 – 50039
Partage d’écran ou d’application	50,040 – 50059

Traduction en français

Vidéo	50020 – 50039
Partage d’écran ou d’application	50040 – 50059

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 470478ed-3b4e-ced8-0e28-6cda545b8400
* Version Independent ID: 95b4044b-3a47-a511-c726-b5ee7

[2020-01-02 18:10] dariomws306 commented on #3436
@BhaskinsWR no thank you. We are trying to get this information from Product Group.

[2020-01-02 18:20] dariomws306 commented on #3687
Hi @CharlesYeomans, thank you for your feedback.

Maybe what you are looking for is:
https://docs.microsoft.com/MicrosoftTeams/configuring-teams-calling-quickstartguide
https://docs.microsoft.com/MicrosoftTeams/calling-plans-for-office-365
https://docs.microsoft.com/MicrosoftTeams/set-up-calling-plans

[2020-01-02 18:22] dariomws306 commented on #3688
Hi @imailink, thank you for your feedback.

It's duplicated:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3677

[2020-01-02 19:04] BhaskinsWR commented on #3436
Thanks!

Bill Haskins
Wainhouse Research, LLC | Boulder, CO | USA
+1 303 902 6861
email: bhaskins@wainhouse.com<mailto:bhaskins@wainhouse.com> | web: www.wainhouse.com<http://www.wainhouse.com/>

[image001]<https://insight.wainhouse.com/>

From: Dario Woitasen <notifications@github.com>
Sent: Thursday, January 2, 2020 11:10 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusin

[2020-01-02 19:56] GiantCrocodile commented on #3694
Hi @dariomws306! Do you know who has necessary permissions and can do this? You might mention the person here or provide the person with a link to this. Thank you!

[2020-01-02 21:15] LanaChin commented on #3361
@markgort86, @kefujino, @dariomws306 - thanks for your input and feedback.  By design, private channel site collections aren't visible in the SharePoint admin center.  The private channels article, https://docs.microsoft.com/en-us/microsoftteams/private-channels#private-channel-sharepoint-sites, has been updated to clarify this.  Thank you.

[2020-01-02 21:15] #3361 closed

[2020-01-02 22:34] ndambrosio commented on #3709
@kennybilko This will work with Surface Pro as of [MTR version 4.3.23.0 (released 12/13/2019)](https://docs.microsoft.com/en-us/microsoftteams/room-systems/srs2-release-note#microsoft-teams-rooms-feature-introduction-and-issue-resolution)
Features introduced in this update:

- Auto-answer proximity based calls and admin setting to control this
- Device Admin Settings UI refresh with addition of de

[2020-01-03 05:28] neerajsaran commented on #3517
@kenwith @msbemba
Is there any update on this? We need this feature. Can we go ahead and buy this add-on?

[2020-01-03 09:58] mart-th opened #3715 "call to bot is rejected due to null user settings or user app settings"
I follow the this manual for create auto attendant with resource account but I try to test call to auto attendant they have message return "call to bot is rejected due to null user settings or user app settings". I'm not sure what is worng?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a42f9e2c-aeee-76c4-620a-668cce21

[2020-01-03 11:34] dariomws306 commented on #3694
Hi @GiantCrocodile, sorry but I couldn't find the author.

[2020-01-03 12:31] GiantCrocodile commented on #3694
Is this something you can help with @scanum @mypil @LolaJacobsen? I really appreciate it. Thank you!

[2020-01-03 12:35] dariomws306 commented on #3694
To be honest, I'm agree that it makes more sense but I think it's not something critical. It's more "looks better" than something to fix.

[2020-01-03 12:39] GiantCrocodile commented on #3694
Well, my own experience with Microsoft docs isn't too great and many customers spent many hours on wasting their time with issues with the docs so if I report stuff, I at least hope it gets improved for the future, especially for such pages which are likely to be checked regularly. Right now, I think there is quite some struggle about the docs according to what other customers say/face.

[2020-01-04 01:49] TokyoScarab commented on #3254
@StPhil Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:51] TokyoScarab commented on #3265
@ChrisAtMAF Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:51] TokyoScarab commented on #3267
@gitc-admin  Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:52] TokyoScarab commented on #3553
@microsoftsearch Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:53] TokyoScarab commented on #3554
@labanex Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:53] TokyoScarab commented on #3558
@smpettit Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:53] TokyoScarab commented on #3561
@KZebergs Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:53] TokyoScarab commented on #3562
@BenK89 Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:53] TokyoScarab commented on #3568
@TorrenManson Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:54] TokyoScarab commented on #3569
@TomoharuMisawa Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:54] TokyoScarab commented on #3605
@neilmallon Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:54] TokyoScarab commented on #3612
@JohanssonMarkus Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:54] TokyoScarab commented on #3613
@chilme Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:55] TokyoScarab commented on #3614
@CallMeByMyName Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:55] TokyoScarab commented on #3615
@TiggBloomz Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:55] TokyoScarab commented on #3636
@tmaheshwar Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:56] TokyoScarab commented on #3638
@gbollardgit Thank you for raising this issue! I'll be looking into it!

[2020-01-04 01:57] TokyoScarab commented on #3640
@bartvermeersch Thank you for raising this issue! I'll be looking into it!

[2020-01-04 08:32] AngusWarren commented on #3000
@NMuravlyannikov, do you have any updates on this?

[2020-01-05 15:07] lindspea commented on #3663
@TorrenManson thank you for pointing this out and helping improve MS Docs. I'll have a note added to the article soonest.

[2020-01-05 22:38] scanum commented on #3700
@taylorbouman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-05 22:38] scanum commented on #3703
@dgordonb Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-05 22:38] scanum commented on #3704
@shurick81 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-05 22:38] scanum commented on #3705
@JGezels Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-05 22:39] scanum commented on #3706
@bilginbaldji Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-05 22:39] scanum commented on #3709
@kennybilko Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-05 22:39] scanum commented on #3711
@prbond Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-05 22:39] scanum commented on #3715
@mart-th Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-06 01:58] GauravES opened #3716 "Document support (or lack of) for On-pemise Trusted Apps with SIP IDs in Hybrid Mode"
Documentation is lacking for support or lack of support for communication between Teams-only users and Skype Trusted Apps on-premise in the hybrid mode.

(We find that while SfB Online users are able to interact/chat with an on-premise Trusted Application using the trusted apps SIP address, Teams users are unable to search for the on-premise Trusted App SIP ID either by name, or by SIP ID (both in

[2020-01-06 08:18] VLG17 commented on #3523
@sho74 Ports 3478, 3479, 3480, 3481 are UDP. You can find [here](https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges?redirectSourcePath=%252fen-us%252farticle%252fOffice-365-URLs-and-IP-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2#skype-for-business-online-and-microsoft-teams) the list of needed ports.

50000-59999 is needed if you are in a hybrid scenario, with

[2020-01-06 09:21] VLG17 commented on #3518
@Canis-Lupis although [this option](https://support.office.com/en-us/article/decide-who-has-to-wait-in-the-lobby-to-get-in-to-a-skype-for-business-meeting-c6f26fc7-1f22-41b5-a775-33141e44d7f4) exists for Skype for Business, it does not for Teams, at the moment. There is a request on [UserVoice](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38309602--no-one-choice-in-the-lob

[2020-01-06 13:23] Coldry commented on #3663
Not sure if this is the right place to ask this, but I would like to know if there's a way to see who of the listed agents are currently opted in and who's not to a particular call queue.

[2020-01-06 15:44] donlassini opened #3719 "get-csonlinesipdomain affected by -ErrorAction parameter"
I establish a connection to my Skype Online configuration by running New-CsOnlineSession and Import-PsSession.
When running the Get-CsOnlineSipDomain command, the status of the $? variable is affected if I use the -ErrorAction parameter. See the example below.

The $? variable should always be $False if there was an error, no matter if it was hidden or not.
Using the $ErrorActionPreference variabl

[2020-01-06 17:14] iks170 commented on #3492
I am experiencing the same issue. Did anyone find a solution to this?

[2020-01-06 21:30] BeachDayCorp opened #3721 "GoDaddy Hosted Office 365 Business Premium Subscription - Admin Access Limits"
I am attempting to enable Guest access to TEAMS and related resources using this guide:

[https://docs.microsoft.com/en-us/microsoftteams/guest-access-checklist](url)

I'm unable to carry out steps 3-5 because GoDaddy says Microsoft doesn't allow them access to these options.

Any suggestions?

[2020-01-06 23:31] DraakUSA opened #3722 "Presence States"
It would be nice as to have definitions for the Presence States.  In particular, some of our team members are showing up as 'In a call' and others as 'In a meeting'.  How do these work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a162ef5c-3099-7f58-4178-d29e3ec2b5a7
* Version Independent ID: 6ca31e56-052d-6c62-1323-

[2020-01-07 00:32] LanaChin commented on #3153
@MySkypeLab, thanks for your input. The article has been updated to reflect the settings in the new SharePoint admin center. @j0rt3g4, I made some edits and merged your updates. Thank you.

[2020-01-07 00:32] #3153 closed

[2020-01-07 02:00] chenhua2000 commented on #3653
Any updates?

[2020-01-07 07:51] j0rt3g4 commented on #3153
@LanaChin  Thank you!

[2020-01-07 08:55] TorstHH commented on #3549
Hi,
I would also be interested to use the Planner App in private Channels.
Has anyone heared of a date by when this will be implemented?

[2020-01-07 09:13] PabReg opened #3723 "Find person who signed up for existing Teams free subscription"
We are planing to upgrade to full version of Microsoft teams. And it is written in documentation that you can do that if you are the person who signed up for existing Teams free subscription but we don't know which person started this trial so how can I find out?

[2020-01-07 11:23] Petri-X commented on #3402
@dariomws306
Strange, I already told what is wrong on your documentation and the workaround for this as well. Not sure why I need to also open support ticket for this. In my mind, the correct way is to contact to original writer and ask her/him to verify this.

[2020-01-07 13:15] darrmitchell opened #3725 "License allocation example"
Contoso, Inc. purchased 600 licenses that included Phone System (one for each employee). Contoso is allotted an initial 25 plus 60 Phone System–Virtual User licenses, 85 in total. Their organization has 90 call queues and auto attendants that have phone numbers. **They need to assign all the Phone System–Virtual User licenses and obtain five regular-priced Phone System licenses.**

Is this actuall

[2020-01-07 13:19] sglogovic opened #3726 "API"
Hi,

Is there any way to get this data through an API, Graph API doesn't have these reports and Teams PS is not very broad.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78ade1a4-092c-1132-44df-ee2c683fdd33
* Version Independent ID: 396b1aee-2f40-9895-9b00-07e38d11d31b
* Content: [Microsoft Teams analytics and reporti

[2020-01-07 13:51] OfficeGlobal opened #3727 "[LOC] Invalid link in an article"
There is an invalid link in an article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/microsoftteams/create-a-phone-system-call-queue?bc=/skypeforbusiness/breadcrumb/toc.json&toc=/skypeforbusiness/sfbotoc/toc.json
2. Search for "Assign Skype for Business licenses" link
3. Click on the link

**Actual results:**
Link does not work
**Expected results:**
Link should work

**GH article:**

[2020-01-07 13:58] OfficeGlobal opened #3728 "[LOC] Invalid link in an article"
There is an invalid link in an article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/skypeforbusiness/set-up-your-computer-for-windows-powershell/download-and-install-windows-powershell-5-1
2. Search for "Install and Configure WMF 5.1" link
3. Click on the link

**Actual results:**
Link does not work
**Expected results:**
Link should work

**GH article:**
https://github.com/Microsoft

[2020-01-07 15:10] tangx007 opened #3729 "Clarify more detail about the SBC domain name conventions"
In the SBC domain name session, suggest to clarify more detail of the SBC domain name's convention, since Underscore [ _ ] and other special characters are not allowed in either the local SBC domain name because it is not valid for SIP URI and TCP/IP host naming.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d964547-

[2020-01-07 15:15] codelux commented on #3576
Hello @TokyoScarab are you able to move forward with the merge?

[2020-01-07 15:17] VLG17 commented on #3073
@vekashi everything should be up-to-date after the PR gets merged.

[2020-01-07 16:53] kenwith commented on #3517
@ruizoscar - any update?

[2020-01-07 17:55] scanum commented on #3716
@GauravES  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-07 17:55] scanum commented on #3722
@DraakUSA  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-07 17:56] scanum commented on #3725
@darrmitchell Could you please link the documentation you are referring to? Thanks.

[2020-01-07 17:56] scanum commented on #3726
@sglogovic  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-07 17:57] scanum commented on #3727
@OfficeGlobal  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-07 17:57] scanum commented on #3728
@OfficeGlobal  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-07 17:57] scanum commented on #3729
@tangx007  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-07 18:02] scanum commented on #3719
@donlassini thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-07 18:02] #3719 closed

[2020-01-07 18:03] scanum commented on #3723
@PabReg thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-01-07 18:03] #3723 closed

[2020-01-07 18:03] scanum commented on #3721
@BeachDayCorp thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-01-07 18:03] #3721 closed

[2020-01-07 18:27] scanum commented on #3081
@LanaChin Could you please help us on this following issue? Just to confirm the following information. Thanks!

[2020-01-07 18:27] scanum commented on #3000
@NMuravlyannikov Any updates on this? Thanks.

[2020-01-07 18:27] scanum commented on #2940
@CarolynRowe Following up on this issue. Please let me know if there are any updates. Thanks!

[2020-01-07 18:28] scanum commented on #2671
@Ansuman777 Any updates on this? thanks!

[2020-01-07 18:28] scanum commented on #1936
@SerdarSoysal @NMuravlyannikov Following up on this issue. Thanks!

[2020-01-07 18:28] scanum commented on #1886
@kdspiess Following up on this issue. Thanks.

[2020-01-07 18:28] scanum commented on #1345
@SerdarSoysal @MicrosoftHeidi Following up on this issue. Thanks.

[2020-01-07 19:44] LanaChin commented on #3690
@darwincr, thanks for your feedback. @dariomws306, thanks for updating the article. I've merged your updates.

[2020-01-07 19:44] #3690 closed

[2020-01-07 21:00] HandyAndyOnGitHub opened #3733 "-MembershipType doesn't appear to be a valid parameter on Get-TeamChannelUser"
-MembershipType doesn't appear to be a valid parameter on Get-TeamChannelUser

In the section "List and update roles of owners and members in a private channel" there is an issue with the PowerShell command under "Using PowerShell &gt; Request".

This results in an error "Get-TeamChannelUser : A parameter cannot be found that matches parameter name 'MembershipType'":
Get-TeamChannelUser -GroupId &

[2020-01-07 21:08] HandyAndyOnGitHub commented on #3733
... same issue in "3. Promote a member to an owner."

[2020-01-07 21:27] JasonLinTW12 opened #3734 "Issue with Requirements"
1.Skype for Business Online (Plan 2, or an Enterprise-based plan) or higher in your Office 365 plan. The plan needs to allow dial-in conferencing capabilities.

suggest adding To enable "Teams" description

2.If you need dial-in capabilities from a meeting, you will need an audio conferencing and Phone System license. If you need dial-out capabilities from a meeting, you will need a domestic or do

[2020-01-07 23:35] skywalkerisnull opened #3735 "On-Prem only Exchange"
The table above indicates that we can setup Teams and On-Prem exchange (without a hybrid deployment) if the we are using Exchange 2016 CU3 or higher. However all of the linked support documents only describe how to deploy in a hybrid environment with Exchange Online.

Are there any documents describing how to setup Teams with an On-Prem only environment?

---
#### Document Details

⚠ *Do not edit

[2020-01-08 00:37] LolaJacobsen commented on #3539
Assigning to @tonysmit who owns licensing documentation.

[2020-01-08 00:48] LolaJacobsen commented on #3196
reassigned to @dstrome

[2020-01-08 00:49] NMuravlyannikov commented on #3000
Yes the failover works the same way as for regular scenario. Meaning carrier need to provision two trunks to every tenant (these trunks can be shared by multiple tenants).

[2020-01-08 00:53] LolaJacobsen commented on #3345
@vinbelms starting with you - since the Q involves granting/taking control during sharing with external users.

[2020-01-08 00:59] dariomws306 commented on #3694
We respect and consider all the feedback. In this case I am totally agree with you but I understand that it's a small improvement and I don't have the tools to update it.

@LolaJacobsen could you kindly review the process to check if you can see how to change the order?

[2020-01-08 03:04] sowjanya365 commented on #3494
Hi @weq

Thank you for your feedback.

When we check in the document now, the links are mapped to the correct URL. Kindly verify and let us know if you still see the same issue. Thank you!

[2020-01-08 03:05] sowjanya365 commented on #3496
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 03:06] sowjanya365 commented on #3499
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 03:12] sowjanya365 commented on #3506
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 03:13] sowjanya365 commented on #3512
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 03:14] sowjanya365 commented on #3513
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 03:16] sowjanya365 commented on #3518
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 03:19] sowjanya365 commented on #3525
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 03:29] sowjanya365 commented on #3523
Hi @scanum

This can be closed now. Thank you!

[2020-01-08 12:47] tonys2020 opened #3740 "incorrect Concurrent live events limit in an Office 365 tenant"
I assume the limit should be 15 instead of 1.5

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limites et spécifications de Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/fr-

[2020-01-08 16:10] SjoerdV opened #3741 "listing private channels is not working anymore"
Seems the cmdlet to list private channels is not working anymore in the 1.0.18 release, can somebody concur?

When running:
[code]

This is the error returned:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33e0ac38-cfff-8d8f-5345-2ae93a9fae2e
* Version Independent ID: bec44289-e9fa-4464-1601-0ca86d61e6ca
* Cont

[2020-01-08 20:56] SerdarSoysal commented on #3215
Looks like this was already fixed in https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/3488. Closing this issue as resolved.

[2020-01-08 20:56] #3215 closed

[2020-01-08 21:23] d1bjo0 opened #3742 "Incorrect powershell cmdlt in example"
See above on the example poweshell string:
 "$members | ForEach-Object { Grant-CsTeamsChannelsPolicy -PolicyName "Operations Emergency Calling Policy" -Identity $_.UserPrincipalName}"      The Grant-CsTeamChannelsPolicy should be Grant-CsTeamsEmergencyCallingPolicy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 665447

[2020-01-08 22:25] scanum commented on #3733
@HandyAndyOnGitHub Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-08 22:25] scanum commented on #3734
@JasonLinTW12 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-08 22:25] scanum commented on #3735
@skywalkerisnull Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-08 22:25] scanum commented on #3740
@tonys2020 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-08 22:25] scanum commented on #3741
@SjoerdV Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-08 22:25] scanum commented on #3742
@d1bjo0 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-09 04:40] CharlesYeomans opened #3743 "Calling Plans"
This all seems confusing.  So now it seems to say you can get Phone System one business premium but you cannot get calling plans, but you can get communications credits ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4526bb5-3b0b-87c9-0ed1-daac9280f81e
* Version Independent ID: e1bddd5e-8087-19d8-7cec-5ea958345665
*

[2020-01-09 05:29] sowjanya365 commented on #3480
Hi @szymonslipek

Thank you for submitting feedback. I think the best way forward is if you open a service ticket in your tenant so this can get addressed ASAP. Based on the outcome let me know if it is something that can
be called out in the docs.

Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2020-01-09 05:45] sowjanya365 commented on #3475
Hi @scanum

There is no issue with the content. It is a translation issue. Kindly assign it to the appropriate team/member. Thank you!

[2020-01-09 05:54] sowjanya365 commented on #3476
Hi @dgordonb

Thank you for reaching out to us!

Would you be so kind as to elaborate more on this? Are you suggesting us to update the current content? If yes, could you please let us know the content that you want us to update.

Looking forward to your response. Thank you!

[2020-01-09 06:00] sowjanya365 commented on #3514
Hi @ASloaneBLKB

Thank you for submitting feedback. I think the best way forward is if you open a service ticket in your tenant so this can get addressed ASAP. Based on the outcome let me know if it is something that can
be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Ple

[2020-01-09 06:20] sowjanya365 commented on #3492
Hi @Mexicoder

Thank you for submitting feedback. I think the best way forward is if you open a service ticket in your tenant so this can get addressed ASAP. Based on the outcome let me know if it is something that can
be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Pleas

[2020-01-09 06:24] sowjanya365 commented on #3440
Hi @markgort86

Thank you for submitting feedback. I think the best way forward is if you open a service ticket in your tenant so this can get addressed ASAP. Based on the outcome let me know if it is something that can
be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2020-01-09 06:32] OfficeGlobal commented on #3618
@hyoshioka0128 the article has been HumanTranslated and published live

[2020-01-09 06:32] OfficeGlobal commented on #3628
@hyoshioka0128 the article has been HumanTranslated and published live

[2020-01-09 06:46] sowjanya365 commented on #3446
Hi @kimiseeley

Thank you for reaching out!

Both the documents are correct. This document does not say that "Office 365 Personal" subscription enable users for team. Kindly let us know if you find it in the document anywhere. We will correct it.

Looking forward to your response. Thank you!

[2020-01-09 06:50] kimiseeley commented on #3446
Hiya

I think you got the wrong end of the stick. I stated that 365 for business
is not included. I don't recall mentioning anything about 365 personal.
I have a 365 for business account & I don't have access to teams.

Thanks
Kim

On Thu, 9 Jan 2020 at 17:46, sowjanya365 <notifications@github.com> wrote:

--
*Kim Seeley*

Director | Senior IT Consultant |

*Syntegrity Solutions*[image: mobile.vsm

[2020-01-09 06:56] sowjanya365 commented on #3446
Hi @kimiseeley

Thank you for submitting feedback. I think the best way forward is if you open a service ticket in your tenant so this can get addressed ASAP. Based on the outcome let me know if it is something that can
be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Plea

[2020-01-09 07:01] sowjanya365 commented on #3449
Hi @bebobebo

Thank you for reaching out! This feedback system is to update/correct the documentation if there is something missing or incorrect.

 I think the best way forward is if you open a service ticket in your tenant so this can get addressed ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business

[2020-01-09 07:24] sowjanya365 commented on #3487
Hi @shivtorov

Thank you for the feedback. Could you please confirm that you have set up the Cloud Voicemail with out assigning a phone number to the phone system?

Looking forward to your response. Thank you!

[2020-01-09 07:36] dgordonb commented on #3476
Business Voice is also supported on O365 Business Essentials.  Effectively any SKU that includes Teams.
my MS email is dobro@microsoft.com and I work on Business Voice in the Teams engineering team.

[2020-01-09 07:37] sowjanya365 commented on #3490
Hi @tmaheshwar

Thank you for reaching out!

Currently, we do not have an option to export these reports.

You can make a suggestion in [Teams User Voice](https://microsoftteams.uservoice.com/)

Hope this information helps you. Thank you!

[2020-01-09 07:41] sowjanya365 commented on #3476
Sure, @dgordonb

Thank you for your feedback! We will verify and update the content.

[2020-01-09 08:20] hyoshioka0128 commented on #3628
@OfficeGlobal - Corrected.
Closed #3628.
Thanks.

[2020-01-09 08:20] #3628 closed

[2020-01-09 08:20] hyoshioka0128 commented on #3618
@OfficeGlobal - Corrected.
Closed #3618.
Thanks.

[2020-01-09 08:20] #3618 closed

[2020-01-09 12:55] VLG17 commented on #3326
@troyphil "Meeting Room SKU" referes to Skype for Business online, not Skype for Business Server.

Step 5 from [the article you mentioned](https://docs.microsoft.com/en-us/microsoftteams/room-systems/with-exchange-online#feedback) refers to Skype for Business Server - "**Assign a Skype for Business Server license** to your Microsoft Teams Rooms account", so the corresponding license from the [seco

[2020-01-09 13:02] VLG17 commented on #3285
@USAFin0365 Are you still seeing this as an issue? According to the comment from Nemanja Pantelic posted on November 22 in the thread you mentioned, it should have been fixed by now.

"The fix for the issue is in late testing phase. It has been implemented to the last Microsoft ring of users which usually means we can expect it rolled out to all end-users in next few weeks. "

[2020-01-09 13:17] VLG17 commented on #3267
@gitc-admin Vielen Dank für das Feedback. Der Link zum Teams Admin-Center lautet: "https://admin.teams.microsoft.com"

Ich habe ein Pull Request erstellt, um diese Info im Artikel hinzuzufügen.

[2020-01-09 13:18] VLG17 commented on #3267
@OfficeGlobal I have create a PR for the original "en-us" article and added the link to the Teams Admin Center.

[2020-01-09 14:28] VLG17 commented on #3266
@bpwhitehouse According to the /help function in Teams, when searching after "contacts", you have all your organization's contacts imported in Teams.

![image](https://user-images.githubusercontent.com/41186174/72072362-6f5e0e00-32f6-11ea-8dac-04c0d9cd938f.png)

When i test with my mailbox hosted in Exchange Online, i can find in the Search bar within Teams anyone from my organization's GAL, but i

[2020-01-09 14:59] rickleye opened #3745 "Error"
Under Supported end Points
You can use as end point * any Teams cleintg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e26faf8c-529e-b317-5934-cd41cfe8fa24
* Version Independent ID: 3ddd5d0a-6dbb-4940-1814-8346e293701b
* Content: [Plan Direct Routing - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/di

[2020-01-09 19:02] GaelBSB opened #3751 "New-TeamChannel : Error occurred while executing Code: BadGateway"
Hi
I ran a script to create 140 channels. 10 of them are created without any problem and then nothing more. I can't create a channel anymore.

New-TeamChannel : Error occurred while executing
Code: BadGateway
Message: Failed to execute backend request.
InnerError:
  RequestId: d64aa648-680f-464a-a9b9-8f4a4f6e8215
  DateTimeStamp: 2020-01-09T18:54:16
HttpStatusCode: BadGateway
Au caractère C:\Users

[2020-01-09 22:44] SjoerdV commented on #3741
Seems to be working again, temporary issue as it seems. Thanks for finding out and your effort on this!

[2020-01-09 22:44] #3741 closed

[2020-01-10 01:02] HandyAndyOnGitHub commented on #3733
Just noticed this issue was raised (but not resolved) in closed ticket titled: "error when adding Teams Channel owner"

[2020-01-10 01:08] HandyAndyOnGitHub opened #3753 "BadGateway error when attempting to promote Member to Owner when I'm not an existing Owner on the Private Channel"
I'm getting a BadGateway error when attempting to promote a Member to Owner.  I have Global Admin permissions but I'm not existing Owner on the Private Channel.

PS C:\WINDOWS\system32&gt; Add-TeamChannelUser -GroupId $GroupID -DisplayName $ChannelName -User $UserUPN -Role Owner
Add-TeamChannelUser : Error occurred while executing
Code: BadGateway
Message: Failed to execute backend request.
InnerE

[2020-01-10 01:42] dariomws306 commented on #3402
@LanaChin could you kindly help me with this issue?

[2020-01-10 03:06] CharlesYeomans opened #3754 "No longer applicable"
It still references Skype for Business in Admin, but that has disappeared.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad07c2d-dc0c-faa4-9fde-0377c413dc0f
* Version Independent ID: e5a76596-eb09-88eb-46ca-4353061bd631
* Content: [Setting up Phone System in your organization - Microsoft Teams](https://docs.microsoft

[2020-01-10 08:32] OzakaMax commented on #3293
Hello. I think what the community needs is a method to extract the PSTN usage data grammatically, rather than through the console.
What does Microsoft recommend as a way to achieve this, ideally also as a schedule?

[2020-01-10 08:55] GaelBSB commented on #3751
We have reached the size limit, which is 30 private channels. Is it possible to set the same limit as for the public channels (200)?

[2020-01-10 10:08] lindspea commented on #3665
@StainlessSteele thank you for reaching out. I'm looking into this with the team and will revert soonest.

[2020-01-10 10:29] lindspea commented on #3649
@TorrenManson thank you for pointing this out and helping improve MS Docs.  I'll investigate and have the screenshot fixed soonest.

[2020-01-10 14:09] Dottn opened #3755 "Dark theme considerations"
The tick marks in the comparison table are very dark and hard to see when reading in dark mode or with high contrast.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048930a4-fdf2-9a90-3b47-46af66db3db4
* Version Independent ID: 8d6a2c84-94e9-b17e-f5c1-91191187ce4e
* Content: [What the guest experience is like - Microso

[2020-01-10 16:33] j0rt3g4 commented on #3007
Hello @scanum  I'm not sure if we could fix that type of translation error by modifying something on our end.
I've reviewed the md file but I was not able to find out what makes it translate or not, please contact the author for it. Thank you.

[2020-01-10 16:46] scanum commented on #3743
@CharlesYeomans  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-10 16:47] scanum commented on #3745
@rickleye  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-10 16:47] scanum commented on #3751
@GaelBSB  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-10 16:47] scanum commented on #3753
@HandyAndyOnGitHub  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-10 16:47] scanum commented on #3754
@CharlesYeomans  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-10 16:47] scanum commented on #3755
@Dottn  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-10 19:26] cleik59 commented on #3735
I am interested in the same documentation.

[2020-01-10 20:52] CarolynRowe commented on #3236
What is the ask specifically?  To update the troubleshooting article?  To configure Direct Routing, you should be following the instructions in Configure Direct Routing, which were correct?  Can you explain what sent you to the troubleshooting article?

[2020-01-10 21:02] CarolynRowe commented on #3140
This document has been updates and is currently in PM review.  It will go live soon.  Will go ahead and close this issue.

[2020-01-10 21:02] #3140 closed

[2020-01-10 21:14] CarolynRowe commented on #3163
Hello,
Is there a reason you cannot use the Teams admin center?

[2020-01-10 21:59] CarolynRowe commented on #3163
Please see the instructions in the topic:  https://docs.microsoft.com/en-us/MicrosoftTeams/phone-number-calling-plans/transfer-phone-numbers-to-teams.

Fill out an LOA for the country/region and for the type of numbers you are looking for. From this page select the country, then download, fill out and send in the PDF to the PSTN service desk.

https://docs.microsoft.com/en-us/microsoftteams/manage

[2020-01-10 21:59] #3163 closed

[2020-01-11 05:42] paulch7780 opened #3760 "Dial by extension Skype for Business on-premises support"
Cloud AA dial-by-extension requires transfer destination users to be in Teamsonly mode. Please re-work the article to reflect the correct configuration support as per https://docs.microsoft.com/en-us/microsoftteams/migration-interop-guidance-for-teams-with-skype
...
Dial by extension If you enable this option, callers can connect with users in your organization by entering their phone extension. Y

[2020-01-11 09:34] sowjanya365 commented on #3477
Hi @white-tim

Thank you for reaching out!

All the cmdlet reference documents(Teams and Skype for Business) are created under the root index node i.e., Skype. As specified in the following root overview document, the cmdlet references are for Skype for Business and Microsoft Teams.

https://docs.microsoft.com/powershell/module/skype/?view=skype-ps

Hope this clarifies your query. Kindly let us kn

[2020-01-11 10:04] sowjanya365 commented on #3470
Hi @Larryngolog

Thank you for reaching out! I think the best way forward is if you open a service ticket in your tenant so this can get addressed ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Thank you!

[2020-01-11 13:41] sowjanya365 commented on #3462
Hi @Michael-Sampson

Thank you for the feedback! Much appreciated!

This document explains the most of the operations surrounding the teams private channels, like creating private channels, who can create the channels, getting the list of private channels, retrieving and updating the role of owners and members in a private channels.

Considering the above operations, we feel that this document has

[2020-01-11 14:04] sowjanya365 commented on #3458
Hi @1068mark

Thank you for reaching out!

At the moment, it has been launched in the UK and Canada markets only. Over time, Business Voice will be rolled out to additional countries.

Hope this clarifies your query. Thank you!

[2020-01-11 14:11] sowjanya365 commented on #3454
Hi @DeanGross

Hope you are doing well!

Are you still facing this issue? Did you try importing the module? Kindly let us know. Thank you!

[2020-01-11 14:15] sowjanya365 commented on #3442
Hi @TheBluLion

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let us know if it is something that can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Thank you!

[2020-01-11 14:32] sowjanya365 commented on #3439
Hi @xNiklasJern

Thank you for reaching out!

Yes, private channel site collection inherits the permissions from the parent team site collection.

Hope this clarifies your query. Thank you!

[2020-01-11 17:52] sowjanya365 commented on #3474
Hi @white-tim

Thank you for reaching out!

Please refer to the following link for more details on the device configuration profile settings.

https://techcommunity.microsoft.com/t5/microsoft-teams-events-blog/how-to-choose-deploy-and-manage-the-right-teams-devices-brk3410/ba-p/267552

Hope this helps. Thank you!

[2020-01-11 18:11] sowjanya365 commented on #3511
Hi @adagioajanes

Thank you for reaching out!

Please refer to the following link for the requested details.

https://docs.microsoft.com/microsoftteams/teams-and-skypeforbusiness-coexistence-and-interoperability

Hope this helps. Thank you!

[2020-01-11 18:14] sowjanya365 commented on #3497
Hi @joshrpg

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Hope this helps. Thank you!

[2020-01-11 21:05] dariomws306 commented on #3698
Hi @GiantCrocodile, thank you for your feedback.

@LolaJacobsen Please could you confirm if you are agree to update this article? Or if you know that there is some update in process? I can do it but want to confirm with you first.

[2020-01-12 00:03] hyoshioka0128 commented on #3007
related:  #2927 "[LOC] Back-Translation "チームの追加ユーザー"→"Add-TeamUser""
 ↑ Similar mistranslation:"→"新しい-チーム"→"New-Team"

[2020-01-12 00:15] hyoshioka0128 opened #3763 "Over-translation again #2927 "チームの追加ユーザー"→"Add-TeamUser""
ja-jp:
![teams-powershell-overview_j](https://user-images.githubusercontent.com/40815708/72212250-d577aa80-351b-11ea-916e-b8e9807e3c15.png)

en-us:
![image](https://user-images.githubusercontent.com/40815708/72212197-f390db00-351a-11ea-8fc2-2921b89e1baf.png)

related: #2927 "[LOC] Back-Translation "チームの追加ユーザー"→"Add-TeamUser""

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ G

[2020-01-12 17:14] a113n commented on #3743
We recently bought the domestic calling plan but we failed to make outbound calls using teams app. There isn’t an option to assign numbers to users as well. The call queue and auto attendant functions work fine though.

How can I enable the outbound calling function in Teams?

[2020-01-12 21:37] white-tim commented on #3474
Thanks @sowjanya365   but this doesn't really give me what I am looking for.  Documentation for other policies and settings has detail of each setting, the options, and the impact of these settings.  I'm yet to find something like that for the device settings

[2020-01-13 04:31] scanum commented on #3760
@paulch7780 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-13 04:31] scanum commented on #3763
@hyoshioka0128 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-13 04:42] scanum commented on #1345
@SerdarSoysal @MicrosoftHeidi Following up on this issue. Thanks.

[2020-01-13 04:42] scanum commented on #1861
@SerdarSoysal @MicrosoftHeidi Following up on this issue. Thanks.

[2020-01-13 04:43] scanum commented on #1886
@SerdarSoysal wondering who this should be assigned to? I haven't got an answer from @kdspiess

[2020-01-13 04:43] scanum commented on #1936
@SerdarSoysal @NMuravlyannikov Following up on this issue. Thanks!

[2020-01-13 04:43] scanum commented on #2671
@Ansuman777 Any updates on this? thanks!

[2020-01-13 04:43] scanum commented on #2940
@CarolynRowe Following up on this issue. Please let me know if there are any updates. Thanks!

[2020-01-13 04:43] scanum commented on #3000
@j0rt3g4 See above comment by @NMuravlyannikov Thanks!

[2020-01-13 04:44] scanum commented on #3007
@officeglobal Hi! Is this something you can maybe help with this? Thanks!

[2020-01-13 04:44] scanum commented on #3101
@dougand-MSFT Hi! Could you please help us confirm the following? Thanks.

[2020-01-13 04:44] scanum commented on #3196
@dstrome Wondering if there is an update on this issue? Thanks!

[2020-01-13 04:44] scanum commented on #3206
@tonysmit Could you please assist us with the next steps on this issue? Thanks!

[2020-01-13 04:45] scanum commented on #3230
@fshields Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:45] #3230 closed

[2020-01-13 04:50] scanum commented on #3236
@lindspea Please see Carolyn's comment.

[2020-01-13 04:50] scanum commented on #3266
@bpwhitehouse Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:50] #3266 closed

[2020-01-13 04:50] scanum commented on #3267
@gitc-admin Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:50] #3267 closed

[2020-01-13 04:51] scanum commented on #3285
@USAFin0365 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:51] #3285 closed

[2020-01-13 04:51] scanum commented on #3306
@steverlabs Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:51] #3306 closed

[2020-01-13 04:51] scanum commented on #3308
@CarolynRowe Could you please help us on this issue? thanks!

[2020-01-13 04:51] scanum commented on #3326
@troyphil Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:51] #3326 closed

[2020-01-13 04:51] scanum commented on #3346
@bilginbaldji Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:51] #3346 closed

[2020-01-13 04:51] scanum commented on #3362
@tophee Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:51] #3362 closed

[2020-01-13 04:52] scanum commented on #3379
@LolaJacobsen Hi Lola, could you please help us with the following issue? Thanks!

[2020-01-13 04:52] scanum commented on #3390
@@LanaChin Hi Lana, could you please help with this issue? Thanks!

[2020-01-13 04:52] scanum commented on #3412
@Reeced40 Hi Reece, following up on this.

[2020-01-13 04:52] scanum commented on #3439
@xNiklasJern Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:52] #3439 closed

[2020-01-13 04:53] scanum commented on #3440
@markgort86 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:53] #3440 closed

[2020-01-13 04:53] scanum commented on #3442
@TheBluLion Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:53] #3442 closed

[2020-01-13 04:53] scanum commented on #3446
@kimiseeley Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:53] #3446 closed

[2020-01-13 04:53] scanum commented on #3448
@MSFTEfeedback Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:53] #3448 closed

[2020-01-13 04:53] scanum commented on #3449
@bebobebo Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:53] #3449 closed

[2020-01-13 04:53] scanum commented on #3454
@DeanGross We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:53] #3454 closed

[2020-01-13 04:53] scanum commented on #3457
@NeilPetersen Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:53] #3457 closed

[2020-01-13 04:54] scanum commented on #3458
@1068mark Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3458 closed

[2020-01-13 04:54] scanum commented on #3462
@Michael-Sampson Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3462 closed

[2020-01-13 04:54] scanum commented on #3470
@Larryngolog Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3470 closed

[2020-01-13 04:54] scanum commented on #3475
@REDS0255 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3475 closed

[2020-01-13 04:54] scanum commented on #3477
@white-tim Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3477 closed

[2020-01-13 04:54] scanum commented on #3480
@szymonslipek Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3480 closed

[2020-01-13 04:54] scanum commented on #3487
@shivtorov We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3487 closed

[2020-01-13 04:54] scanum commented on #3494
@weq We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:54] #3494 closed

[2020-01-13 04:55] scanum commented on #3492
@Mexicoder Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:55] #3492 closed

[2020-01-13 04:55] scanum commented on #3496
@tmaheshwar Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:55] #3496 closed

[2020-01-13 04:55] scanum commented on #3497
@joshrpg Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:55] #3497 closed

[2020-01-13 04:56] scanum commented on #3499
@SjoerdV Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:56] #3499 closed

[2020-01-13 04:57] scanum commented on #3505
@szymonslipek thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-01-13 04:57] #3505 closed

[2020-01-13 04:57] scanum commented on #3506
@dave-007 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:57] #3506 closed

[2020-01-13 04:57] scanum commented on #3507
@dave-007 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:57] #3507 closed

[2020-01-13 04:57] scanum commented on #3510
@momoski We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:57] #3510 closed

[2020-01-13 04:57] scanum commented on #3511
@adagioajanes Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:57] #3511 closed

[2020-01-13 04:57] scanum commented on #3512
@PaulBullivant Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:57] #3512 closed

[2020-01-13 04:57] scanum commented on #3513
@PaulBullivant Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:57] #3513 closed

[2020-01-13 04:58] scanum commented on #3514
@ASloaneBLKB Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:58] #3514 closed

[2020-01-13 04:58] scanum commented on #3517
@ruizoscar Hi Oscar! Any update on this? Thanks!

[2020-01-13 04:58] scanum commented on #3518
@Canis-Lupis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:58] #3518 closed

[2020-01-13 04:58] scanum commented on #3521
@MySkypeLab Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:58] #3521 closed

[2020-01-13 04:58] scanum commented on #3523
@sho74 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:58] #3523 closed

[2020-01-13 04:58] scanum commented on #3525
@Gweffs Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-13 04:58] #3525 closed

[2020-01-13 04:59] scanum commented on #3539
@tonysmit Hi Tony! Any updates on this? Thanks!

[2020-01-13 04:59] scanum commented on #3540
@Reeced40 Any update on this? Thanks!

[2020-01-13 04:59] scanum commented on #3546
@dstrome Hi David, wondering if you could aid with the following issue? thanks!

[2020-01-13 05:29] bebobebo commented on #3449
@sowjanya365 I am not clear about the point of your comment. It appears that my point that the documentation was incorrect is right as it has been updated to support that.  I cannot open a service ticket to address a feature that doesn't exist i.e. guest access to chat files.

[2020-01-13 05:30] SvenBell commented on #3594
When will this feature be availble on all tenants? i have checked 2 different tenants and redirect to voicemail does not appear.

[2020-01-13 06:26] PaulMaggs opened #3764 "Incorrectly spelt attribute"
From Powershell, when running 'Set-Get-CsOnlinePSTNGateway' (or related get/new powershell commands)  returns an incorrectly spelt attribute:

OutbundTeamsNumberTranslationRules

It should be

OutboundTeamsNumberTranslationRules

[2020-01-13 06:27] PaulMaggs opened #3765 "Attribute spelling issue"
From Powershell, when running 'Set-Get-CsOnlinePSTNGateway' (or related get/new powershell commands)  returns an incorrectly spelt attribute:

OutbundTeamsNumberTranslationRules

It should be

OutboundTeamsNumberTranslationRules

[2020-01-13 06:56] jadesolis opened #3766 "Symantics on Assigning app setup policies to users 'in a group'"
"Assign the FirstlineWorker app setup policy to users in a group" should be "Assign the FirstlineWorker app setup policy to users OF a group"
The members being assigned the policy does not need to be IN the group, as the policy is assigned only the individual members, and not the actual group itself.
This may send the wrong impression that the policy can actually be assigned to a group in itself,

[2020-01-13 07:07] lindspea commented on #3236
@Larryngolog please see @CarolynRowe comments above and elaborate please. Thank you for taking the time to help improve MS Docs.

[2020-01-13 07:36] lindspea commented on #3665
@StainlessSteele thank you once again for this. The team is currently doing a rewrite of these topics, so it should be updated in the near future, but unfortunately I cannot give you a timeframe for completion at the moment.

[2020-01-13 07:38] lindspea commented on #3651
@SinghGurd thank you for pointing this out.  I'll look into adding a note to the article soonest pending approval from the team.

[2020-01-13 09:02] areway opened #3768 "部分内容无法显示图片"
例如文中的：
:::image type="content" source="media/migrate-slack-to-teams-image3.png" alt-text="从 Slack 迁移到 Teams 的部署规划概述。":::

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 7a81e1e5-3fd5-ff19-4f13-30bc2dd4389e
* Version Independent ID: e90e3618-95e7-7dc6-d020-2d0f75fcb6ff
* Content: [从 Slack 迁移到 Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/zh-cn/microsof

[2020-01-13 09:14] RipRapRob commented on #3492
How can you close this without confirmation that it has been solved?

FYI: I still don't have this setting (just tested it on private Team I just created and 'old' Teams).

[2020-01-13 09:36] OfficeGlobal commented on #3007
Working on a fix

[2020-01-13 10:16] bastienczl opened #3769 "Access to data through an API"
Hello,

Is it possible to access the data through an API ? Or at least, a CSV export ?

If not, is it a part of the roadmap ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8107d4a3-a55e-4891-ee72-27f79f647a1e
* Version Independent ID: b71f24c6-b54d-8a0f-ea0e-8839ff5481a4
* Content: [Microsoft Teams PSTN minute

[2020-01-13 11:56] Larryngolog commented on #3236
Hi @CarolynRowe  as I mentioned we were trying to configure Direct Routing using the provided cmdlet and got an error. We searched for the error and found the troubleshooting article. I thought that there are contrary information in this article and the troubleshooting articles. So either article needs clarification as this article states that you should use the "Set-CsUser" cmdlet with -Enterpris

[2020-01-13 14:07] rickleye opened #3770 "Direct Routing is only supported with Microsoft Teams."
Is this statement correct ? I have seen a couple of tickets were in the client had Island coexistence mode. Which means that calls land on both Skype and Teams - And it appears to be a working solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d964547-6b38-cc5f-6b2b-7a50a1c7dae9
* Version Independent ID: fa5850f

[2020-01-13 14:36] TheBluLion commented on #3442
Static conference IDS are never available for Skype for Business Online- the document needs to be updated to indicate this.

﻿ -﻿ --
Eu Nice Loh
Premier Field Engineer
Office: (314) 872 5916
EuNice.Loh@microsoft.com<mailto:EuNice.Loh@microsoft.com>
IM:euloh@microsoft.com
8AM-5PM CT
[Microsoft]
﻿
If you have any feedback about my work, please let either me or my manager Annele Richards know at Anne

[2020-01-13 14:46] mcain1011 opened #3771 "Available in Free Edition?"
Are retention policies available in the free edition of Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb40cf43-557e-d443-578b-49edca4a3179
* Version Independent ID: f78c9566-767f-bfae-7ba0-4e81d313034e
* Content: [Retention policies in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsof

[2020-01-13 16:31] LanaChin commented on #3158
Merged updates by @j0rt3g4.

[2020-01-13 16:31] #3158 closed

[2020-01-13 17:59] dougand-MSFT commented on #3101
The subject mentions web application proxy servers, which is not something I’m involved in.

I found Gayatri Narayan listed as GEM for proxy server in a status report email thread.. @Gayatri Narayan<mailto:Gayatri.Narayan@microsoft.com> can you add someone to this thread that could answer docs related questions about proxy server support for SfB?

From: Manuela Scanu <notifications@github.com>
Sen