[2020-02-26 18:23] #3650 closed

[2020-02-26 18:23] scanum commented on #3653
@chenhua2000 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:23] #3653 closed

[2020-02-26 18:23] scanum commented on #3655
@GaelleLeC Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:23] #3655 closed

[2020-02-26 18:24] scanum commented on #3667
@LanaChin @dariomws Hi Lana, Dario is working on this issue. He might need some help. Dario could you please elaborate on what you need? thanks!

[2020-02-26 18:25] scanum commented on #3687
@CharlesYeomans Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:25] #3687 closed

[2020-02-26 18:25] scanum commented on #3700
@taylorbouman Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:25] #3700 closed

[2020-02-26 18:25] scanum commented on #3703
@dgordonb Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:25] #3703 closed

[2020-02-26 18:25] scanum commented on #3705
@JGezels Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:25] #3705 closed

[2020-02-26 18:25] scanum commented on #3711
@prbond Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:25] #3711 closed

[2020-02-26 18:25] scanum commented on #3722
@DraakUSA Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:25] #3722 closed

[2020-02-26 18:26] scanum commented on #3728
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:26] #3728 closed

[2020-02-26 18:27] scanum commented on #3743
@CharlesYeomans Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:27] #3743 closed

[2020-02-26 18:27] scanum commented on #3745
@rickleye Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:27] #3745 closed

[2020-02-26 18:27] scanum commented on #3754
@CharlesYeomans Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:27] #3754 closed

[2020-02-26 18:27] scanum commented on #3760
@paulch7780 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:27] #3760 closed

[2020-02-26 18:27] scanum commented on #3766
@jadesolis Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:27] #3766 closed

[2020-02-26 18:27] scanum commented on #3768
@areway Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:27] #3768 closed

[2020-02-26 18:28] scanum commented on #3775
@kefujino thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-26 18:28] #3775 closed

[2020-02-26 18:28] scanum commented on #3779
@Kentrepid  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:28] #3779 closed

[2020-02-26 18:28] scanum commented on #3782
@CharlesYeomans Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:28] #3782 closed

[2020-02-26 18:28] scanum commented on #3789
@thewrabbit Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:28] #3789 closed

[2020-02-26 18:29] scanum commented on #3792
@s1satya Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:29] #3792 closed

[2020-02-26 18:30] scanum commented on #3804
@cgskreddy Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:30] #3804 closed

[2020-02-26 18:30] scanum commented on #3809
@maspange Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:30] #3809 closed

[2020-02-26 18:31] scanum commented on #3811
@Jason-ACESGroup Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:31] #3811 closed

[2020-02-26 18:31] scanum commented on #3813
@yankeedoodlegandy83 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:31] #3813 closed

[2020-02-26 18:31] scanum commented on #3816
@hubbardw Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:31] #3816 closed

[2020-02-26 18:32] scanum commented on #3818
@Christian-e-S Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:32] #3818 closed

[2020-02-26 18:32] scanum commented on #3821
@SvenBell Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:32] #3821 closed

[2020-02-26 18:32] scanum commented on #3828
@todk Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:32] #3828 closed

[2020-02-26 18:33] scanum commented on #3833
@flinchbot Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:33] #3833 closed

[2020-02-26 18:33] scanum commented on #3834
@grahammw We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:33] #3834 closed

[2020-02-26 18:37] scanum commented on #3881
@dooleydo We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:37] #3881 closed

[2020-02-26 18:38] scanum commented on #3885
@maisiekocher We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:38] #3885 closed

[2020-02-26 18:38] scanum commented on #3886
@klstclair Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you

[2020-02-26 18:38] #3886 closed

[2020-02-26 18:38] scanum commented on #3888
@jamescussen Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you

[2020-02-26 18:38] #3888 closed

[2020-02-26 18:38] scanum commented on #3894
@Petri-X  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:38] #3894 closed

[2020-02-26 18:39] scanum commented on #3897
@dinocaputo Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:39] #3897 closed

[2020-02-26 18:39] scanum commented on #3899
@shivtorov Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:39] #3899 closed

[2020-02-26 18:41] scanum commented on #3925
@SJL-369 Thank you for submitting feedback. We understand that the information is included in the linked article above.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:41] #3925 closed

[2020-02-26 18:41] scanum commented on #3928
@Ovyone Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:41] #3928 closed

[2020-02-26 18:42] scanum commented on #3941
@cgskreddy Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:42] #3941 closed

[2020-02-26 18:42] scanum commented on #3947
@prashant1380 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:42] #3947 closed

[2020-02-26 18:42] scanum commented on #3950
@Petri-X Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:42] #3950 closed

[2020-02-26 18:42] scanum commented on #3952
@adagioajanes Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:42] #3952 closed

[2020-02-26 18:42] scanum commented on #3957
@dooleydo Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:42] #3957 closed

[2020-02-26 18:42] scanum commented on #3960
@Weishaupt Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:42] #3960 closed

[2020-02-26 18:43] scanum commented on #3962
@jmillerFLND Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:43] #3962 closed

[2020-02-26 18:44] scanum commented on #3963
@dstrome Following up on this request. Thanks!

[2020-02-26 18:44] scanum commented on #3966
@Don-Fuego2 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:44] #3966 closed

[2020-02-26 18:44] scanum commented on #3968
@ccasas87 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:44] #3968 closed

[2020-02-26 18:44] scanum commented on #3969
@sanjeev40084 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:44] #3969 closed

[2020-02-26 18:44] scanum commented on #3973
@andyjballgit Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-26 18:44] #3973 closed

[2020-02-26 18:48] J-Fedor opened #4041 "Missing ApplicationId param on step 3"
It is a mandatory parameter that you're missing.  While the 'more details' link below is handy, should have some indication on your copy/paste example that an application ID is required.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0703860-c3db-c723-317f-7fab164c006d
* Version Independent ID: c6384e2b-ac37-2

[2020-02-26 18:52] scanum commented on #4041
@J-Fedor  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 20:21] TokyoScarab commented on #3576
@CarolynRowe It appears what they have pointed out is correct. Are you aware of what processes are required to include SSL on the root list mentioned in the original post?

[2020-02-26 20:31] CarolynRowe commented on #3576
We need to get clarification from the PMs: @NMuravlyannikov or @FilippSe.  I will contact them.

[2020-02-26 20:36] rgsteele opened #4042 "Release notes for the Teams device app"
I'd like to see release notes for the Android app that runs on the Teams devices, so we know what the latest version is, when each version was released, what has changed, and if there are any known issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a627b5d-3edc-1add-b921-1dcd49c38653
* Version Independent ID: a2e2

[2020-02-26 20:46] CarolynRowe commented on #3647
No, please do not remove them yet. According to the hybrid PM who I checked with, those two record types are required for hybrid with SfBO, but not Teams.   I am following up with the PM about whether we need to add some explanatory text.

[2020-02-26 20:51] Canis-Lupis opened #4043 "Partners certified for Teams doesn't include Azure?"
So, only Citrix can support Teams on VDI?  What about Azure with Windows Virtual Desktop? I would think that Microsoft would 'certify' its own products.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version Independent ID: 643bcf2f-507b-e449-73db-923d8a368ad9
* Content: [Teams fo

[2020-02-26 21:02] grtaylo commented on #3647
Interesting.  I haven't seen it used in Skype for Business Online hybrid deployments.  Maybe it's worth adding an explanation of why it's required?

[2020-02-26 21:19] TokyoScarab commented on #3578
@tmaheshwar You should be able to set up a separate policy for anyone working remotely from home if that is a concern. Would you be able to go into a little more detail about the "or outside" area of your question? Are you referring to someone using a cell phone? Want to make sure I can address your question fully and hope to back from you on this, thanks!

[2020-02-26 21:33] TokyoScarab commented on #3589
@joaolloureiro Is this a documentation related issue or a general request? I can help in any capacity on documentation issues only. Hope to hear back from you, thanks!

[2020-02-26 21:43] TokyoScarab commented on #3590
@LolaJacobsen Would you happen to have any information on this or who to contact who might be able to provide some information that could be used to update the documentation?

[2020-02-26 21:53] TokyoScarab commented on #3592
@graugans Would you be able to link the documentation page you were referring to when you made this post? Without that, I won't be able to help in your issue, thank you!

[2020-02-26 21:55] TokyoScarab commented on #3593
@spottedmahn Following up saying the issue has been resolved.

[2020-02-26 22:01] MatthewSBZ commented on #2370
What was the resolution for this issue?

Also using Surface 4.
Using Microsoft Dock, dock is detecting the second screen, the finish is showing up gray.

[2020-02-26 22:04] DanBaumgartner opened #4044 "Maximum number of Teams a user can be a member of?"
I haven't found anything about a maximum number of O365 Groups a single user can be an owner of. Would this be the same as the maximum number a single user can create or is there no actual limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-

[2020-02-26 23:00] TokyoScarab commented on #3596
@AndrewFrants If you are referring to the quotes in “Conference Bridge”, those are needed because that parameter is a string. I presume you have the proper access requirements for using these commands. I cannot see anything wrong in the syntax of what is posted. Could you go into some more detail on your user case for this? Look forward to hearing back from you, thanks!

[2020-02-26 23:56] TokyoScarab commented on #3598
@Joel-fogue The reason apt / yum are used in the documentation instead of dpkg -i (dpkg) is because using dpkg will only install the package file but not handle any other dependency or package installation that might be needed in the installation of the original package file. The apt / yum commands will perform those tasks. I hope this answers your question, feel free to follow up if you had any o

[2020-02-27 00:15] NMuravlyannikov commented on #3576
Nope we first need to change code to support it. Please use drsbccertification@microsoft.com to submit the request

[2020-02-27 00:18] CarolynRowe commented on #3576
Thanks, Nikolay.  I am closing this issue,

[2020-02-27 00:18] #3576 closed

[2020-02-27 01:01] MichaelLaMontagne commented on #4024
The Invoke-CsBatchPolicyAssignment is showing in the MicrosoftTeams PowerShell module but documentation is lacking.

[2020-02-27 01:04] ucgeek opened #4047 "Conference Bridges no longer exist"
Meetings &gt; Conference Bridges doesn't appear to exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07eca314-7a40-c7ee-1d31-7a858adff741
* Version Independent ID: dede6892-d7e3-d44d-f8f6-eb4bd50c07f0
* Content: [Turn on or off entry and exit announcements for meetings in Microsoft Teams - Microsoft Teams](

[2020-02-27 01:11] JAK1047 commented on #4019
I've noticed that all the installers above 1.2.00.32462 give an install error of "Cannot install for all users when a VDI environment is not detected" which used to occur from ”HKEY_LOCAL_MACHINE\SOFTWARE\VMware, Inc.\VMware VDM\Agent” not existing, but this seems to have changed. There's also the URL to download from the main Teams page by specifying managedInstaller=true if that's perhaps a bett

[2020-02-27 06:36] moegitree commented on #3367
I have a team with over 1400 members and analytics tab shows the activity user count in last day is 1000+.
I am the owner of the team and I'm sure the number of user who has ever performed "intentional action" in this team is far less than 1000. So I have 2 questions:
1. Is reading message (with on reply) counted as "Intentional action"?
2. When viewing a team's Analytics tab, the number showed in

[2020-02-27 06:38] TokyoScarab commented on #3602
Thank you for providing this extra information. I'll make sure to pass this information along to the Sharepoint Online team.

@LanaChin do you have anything you could add onto this?

[2020-02-27 06:47] TokyoScarab commented on #3254
@bebobebo In addition to the meeting links, is there anything else you would like to see added to this documentation?

[2020-02-27 06:49] 7gegenTheben opened #4049 "Microsoft Teams - unable to send invitation to gmx email accounts"
I was trying to create a small Team in teams. One of the members I wanted to add as guests was having a gmx.net email account. She didn't receive an invitation email. I opened an email account at gmx.de to test whether this is actually true. Then I tried to send my new email address an invitation. This did not work either.

I'd wish for a possibility to send invitations to gmx users. If that is no

[2020-02-27 07:01] TokyoScarab commented on #3265
@LanaChin Would you be able to pass this information along to the appropriate group or tag them in here?

[2020-02-27 07:04] bebobebo commented on #3254
For those inside the tenancy it's really hard to see what the guest sees at each stage of the experience. We cannot support them as we have no experience to guide them with. So a series of screenshots or a video showing the actual guest journey would help enormously.

[2020-02-27 07:40] TokyoScarab commented on #3553
@LolaJacobsen Everything I can find points to 30 days still being the minimum retention policy for Teams. Can you confirm this or confirm a lower retention value that I can update in the documentation? Thanks!

[2020-02-27 07:50] ikukoyoneda opened #4050 "tables are corrupted in localized version of this page"
[フィードバックをこちらに入力してください]
all tables in this page (JPN version) are corrupted. Please see the attached PDFs (Japanese version and English version).
[Microsoft Teams の制限事項と仕様.pdf](https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/files/4260185/Microsoft.Teams.pdf)
[Limits and specifications for Microsoft Teams - Microsoft Teams _ Microsoft Docs.pdf](https://github.com/MicrosoftDocs/OfficeDo

[2020-02-27 07:52] aalejandroaraujo commented on #3667
Happy to assist in Teams if you wish. My corporate account is aaraujo@microsoft.com

Cheers,

Alejandro.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Manuela Scanu <notifications@github.com>
Sent: Wednesday, February 26, 2020 7:24:42 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: aalejandroaraujo <aale

[2020-02-27 08:18] TokyoScarab commented on #3554
@labanex There is a section of the Teams documentation that covers [security and data compliance](https://docs.microsoft.com/microsoftteams/security-compliance-overview). It appears to cover what is mentioned in the link shared. Is there anything in this section you thought was overlooked? Look forward to hearing back from you!

[2020-02-27 08:28] lindspea commented on #3740
@tonys2020 thanks for reaching out, but it seems like this has been updated in the interim. Please double check and let me know. @OfficeGlobal

[2020-02-27 08:31] lindspea commented on #3765
@PaulMaggs thank you for reaching out and helping improve MS Docs. I work on the writing side to correct issues in the actual content of the article. Can you confirm if the spelling error is in the actual article or in which link inside the article?

[2020-02-27 08:37] lindspea commented on #3780
@gregmilligan thank you for reaching out and helping improve MS Docs. @LolaJacobsen please can you assist. It seems the videos are 'private'. Please can you make them public. Thanks.

[2020-02-27 08:46] lindspea commented on #3909
@jpalarchio thank you for reaching out and helping improve MS Docs. It seems this documentation might have been updated in the interim. Please have a look and let me know, as I'm not finding the wording you mentioned above.

[2020-02-27 08:52] lindspea commented on #3913
@advancedpartnerships thank you for reaching out and helping improve MS Docs. I work on the writing side of the documentation, but I have an Android device and I use the Teams App with my login. Just to clarify - are you wanting to access it through a browser. If you are, it will automatically send you to the app.

[2020-02-27 08:57] lindspea commented on #3916
@LanaChin please could you assist?

[2020-02-27 08:59] lindspea commented on #3917
@rickleye thank you for reaching out and helping improve MS Docs. It seems the article has been updated recently so please let me know if you need further assistance.

[2020-02-27 09:04] lindspea commented on #3918
@Scott-som thank you for reaching out and helping improve MS Docs. Please clarify what your request is?

[2020-02-27 09:09] lindspea commented on #3920
@erictechtips thank you for reaching out and helping improve MS Docs. It seems the article has been updated in the interim with the various meeting types and their time limits. Please can you have another look and let me know if you have any further questions.

[2020-02-27 09:35] narismadz opened #4052 "Some browser can't do screen sharing, camera"
https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#browsers

I've tested on my chrome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99361a9a-edf3-c477-9bba-82a1462d60d8
* Version Independent ID: 407bf24e-e7a0-f2e7-d80f-ea609f80a040
* Content: [Microsoft Teams meetings on unsupported browsers -

[2020-02-27 09:36] narismadz commented on #4052
My typo " Some browsers CAN do screen sharing, camera "

[2020-02-27 10:13] TokyoScarab commented on #3561
@KZebergs FSLogix only supports a folder exclusion system. If you need to exclude individual files, you would have to manage them in such a way that would support a folder only system or, if possible, use a different manager solution to fit your needs.

[2020-02-27 10:27] kpropell commented on #4019
JAK1047: I also experienced this with the new versions on VDI image with Horizon Agent installed. I tried to add the Citrix registry key entry, and now it installs, so they probably changed the MSI installer to requrie this key also:
HKEY_LOCAL_MACHINE\SOFTWARE\Citrix\PortICA

[2020-02-27 10:32] TokyoScarab commented on #3569
@scanum Would we be able to get the Japanese language team to assist with this issue?

[2020-02-27 10:33] graugans commented on #3592
@TokyoScarab The link is already included in the initial issue. https://code.visualstudio.com/docs/setup/network#_proxy-server-support

[2020-02-27 10:44] TokyoScarab commented on #3614
@scanum Can we get the French language team to help on this? Thanks!

[2020-02-27 10:52] TokyoScarab commented on #3615
@TiggBloomz If I am understanding this correctly, you are suggesting a feature / improvement. Is that correct? If that is the case, Microsoft has a platform called UserVoice where your feedback can be seen and taken into consideration to help better Microsoft products and services! Here is the link for the [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com/). If you were suggesting a

[2020-02-27 11:21] TokyoScarab commented on #3636
@tmaheshwar To clarify, that section of the documentation is saying that files shared will be Multi-Geo whereas any Chats or conversations won't be Multi-Geo and instead be localized to their respective tenancy. I hope this clears up any confusion you might have had. If you have more questions about this, feel free to follow up and comment, thanks!

[2020-02-27 12:32] Petri-X opened #4057 "Basic architecture looks not so clear"
Hi,
When looking for the "Basic Architecture" diagram that confuse a bit. Where on that picture is O365/Teams? Citrix had a picture on here:
[Call establishment and media flow paths](https://docs.citrix.com/en-us/citrix-virtual-apps-desktops/multimedia/opt-ms-teams.html#call-establishment-and-media-flow-paths) (see architecture a bit later)
But they have also replaced Teams components by "Azure.."

[2020-02-27 13:12] spottedmahn commented on #3593
Look at that, nice!

![image](https://user-images.githubusercontent.com/14079228/75448284-eac45f00-5938-11ea-90d3-d7e1ebf5aeb4.png)

[2020-02-27 13:13] spottedmahn commented on #3593
Wonder where the PR or commit link is? 🤔

[2020-02-27 13:14] #3593 closed

[2020-02-27 13:30] lindspea commented on #3922
@briandahlincoyne Thank you for reaching out. Just to clarify, are you asking whether the option of MS Teams renewal or expiration is available yet? Please note the document has also been updated at the beginning of February so there might be updated information in the article. Please let me know if I can help further.

[2020-02-27 13:34] briandahlincoyne commented on #3922
I am looking for clarification on if the group expiration policies takes
into consideration active teams, this is on the roadmap, and mentioned in
this document, but when i test it in my tenant it does not appear to be
available for us yet.

On Thu, Feb 27, 2020 at 8:30 AM Lindsay <notifications@github.com> wrote:

[2020-02-27 13:35] lindspea commented on #3989
@Hitchcock3 thank you for reaching out to help improve MS Docs. I've just looked through the doc and seen that it has been updated 2 days ago and it looks like the limitation has been included under knows issues and limitations -
"Outgoing screen sharing:
Application sharing is not supported.
Give control and take control:
Not supported during a screen sharing or application sharing session."
Let

[2020-02-27 13:39] lindspea commented on #3991
@mymebenha thank you for reaching out and helping improve MS Docs. Please have a look at this link and let me know if it helps at all - https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-teams-ip-phones-and-intune-enrollment/ba-p/330432

[2020-02-27 13:46] lindspea commented on #3992
@premgan thank you for pointing this out and helping improve MS Docs. Should I have that information added to the article to help other users?

[2020-02-27 13:50] joaolloureiro commented on #3589
This is a documentation related issue. Please feel free to reach me directly.

[2020-02-27 14:17] tmaheshwar commented on #3578
Hi, Outside I am referring to working from Home, Airport, Starbucks
Is it supported for all Client types e.g. Teams on Desktop, or Mobile or via web browser.
so is it supported when "Outside" the corporate/office subnet,
Thanks!

[2020-02-27 15:05] Larryngolog opened #4058 "Link to Pricing for Audioconferencing is broken"
This link https://products.office.com/skype-for-business/audio-conferencing#Requirements redirects to https://products.office.com/en-us/404-error-page?aspxerrorpath=/skype-for-business/audio-conferencing#Requirements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fac515b-9c6b-c70c-330e-53557dc23fd2
* Version Independe

[2020-02-27 15:08] lindspea commented on #3922
@briandahlincoyne - https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-lifecycle - looks like it may be GA.

[2020-02-27 15:09] lindspea commented on #3922
@briandahlincoyne - https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-lifecycle - looks like it may be GA.

[2020-02-27 15:17] aamillerMSFT opened #4059 "Bad Link for Pricing for Audio Conferencing"
Pricing for Audio Conferencing points to https://products.office.com/skype-for-business/audio-conferencing#Requirements which results in a 404 response.

The new URL is here. https://products.office.com/en-us/microsoft-teams/online-meeting-solutions#customerstoryregion2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b

[2020-02-27 15:48] mymebenha commented on #3991
It was my enrollment restrictions causing the problem.  I basically need to allow android device admin enrollment but first add the corporate identifier so I can continue to keep personal devices blocked.  The article should at least be updated to say ....devices are automatically enrolled in Intune depending on your enrollment restrictions and conditional access policies.  Also, if enrollment fai

[2020-02-27 15:58] LanaChin commented on #3392
Looking into this, thanks.

[2020-02-27 16:12] dariomws commented on #3873
Hi @GiantCrocodile, thank you for your feedback.

Could you please paste the image here?

Are you talking about this image:
![image](https://user-images.githubusercontent.com/33589238/75462316-d4cb9400-5962-11ea-894c-57902246d579.png)

[2020-02-27 17:17] GiantCrocodile commented on #3873
I talk about this picture @dariomws: https://docs.microsoft.com/en-us/microsoftteams/media/overview_of_security_and_compliance_in_microsoft_teams_image5.png

[2020-02-27 17:56] dariomws commented on #3872
Hi @GiantCrocodile, thank you for your feedback.

For more information about Emergency service, please go to:
https://docs.microsoft.com/microsoftteams/what-are-emergency-locations-addresses-and-call-routing

[2020-02-27 18:00] LanaChin commented on #3667
@aalejandroaraujo, I've reached out to you in a chat with the PM in Teams. :-)

[2020-02-27 18:03] LanaChin commented on #3390
Looking into this, thank you.

[2020-02-27 18:05] LanaChin commented on #3726
Looking into this, thanks.

[2020-02-27 18:17] LanaChin commented on #3802
Looking into this, thanks.

[2020-02-27 18:27] LanaChin commented on #3826
Looking into this, thanks.

[2020-02-27 19:05] #3872 closed

[2020-02-27 19:07] techmastermike opened #4063 "Manage Apps is missing"
Manage Apps is missing in the Teams Dashboard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbcabee-fa96-2878-e983-3c966f84ee15
* Version Independent ID: 02fa4fd8-77e0-5cb2-a4af-576cbb68322f
* Content: [Manage your apps in the Microsoft Teams admin center - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftt

[2020-02-27 19:11] dariomws commented on #3667
Hi @LanaChin and @aalejandroaraujo, sorry but I think I don't understand. This list was added by Lana 5 months ago in the article.

How I can help you?

[2020-02-27 19:12] LanaChin commented on #3951
Looing into this, thank you.

[2020-02-27 19:46] LanaChin commented on #3884
Looking into this.

[2020-02-27 19:52] bendoty commented on #4036
I can confirm these same issues.  The only way to modify this is on a meeting-by-meeting basis through Meeting Options.

[2020-02-27 22:09] rickleye opened #4066 "Can we add the excluded list for Mac OS"
Could we include the excluded list for Mac OS systems. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3021fe9-1d0a-71ce-0748-41b9630c2bd7
* Version Independent ID: f8ac6ebb-a648-f364-73cb-5d69c8b19eef
* Content: [Teams files and folders to exclude from antivirus scanning - Microsoft Teams](https://docs.microsof

[2020-02-27 22:38] LanaChin commented on #3826
Hi @jamesbayliss. The extensions are only available through OEMs.  If you'd like this feature, you can submit a feature request on User Voice at https://microsoftteams.uservoice.com/forums/555103-public?category_id=324151.

[2020-02-27 22:46] dstrome commented on #3963
Thanks all for your feedback. We don't have any plans to add Exchange 2010 or Lync 2013-specific content.

[2020-02-27 22:46] #3963 closed

[2020-02-27 23:45] dstrome commented on #3735
hi all. Thanks for the question. I'm following up with one of our PMs to get an answer for you.

[2020-02-27 23:56] dstrome commented on #3546
yup, I heard back from the PM a couple days ago and I'm asking more follow-up questions to make sure I understand the answer.

[2020-02-28 00:21] LolaJacobsen commented on #3794
I'm killing that article.

[2020-02-28 00:21] #3794 closed

[2020-02-28 00:26] LolaJacobsen commented on #3901
@prvijay Can you review this issue and let us know how to respond please?

[2020-02-28 05:38] mrik23 commented on #3265
Yes choosing the 64 bit package it still all installed in 32 bit (x86), and so it's not working when calling %ProgramFiles%\Teams Installer\Teams.exe --checkInstall --source=default.

Also not sure why, but the package is set for installation "Per-user" instead of "Per-machine".

[2020-02-28 08:26] tonysmit commented on #3961
@TorrenManson - what status?

[2020-02-28 08:32] tonysmit commented on #3895
@CarolynRowe - you should check with Dave Lickorish about this. @LanaChin - did you do an article about Canadian Rate Centers for Dave a while back. I can't find it in the TOC anywhere.

[2020-02-28 12:07] dariomws commented on #3961
@tonysmit In the table, I think he says that we should add a new row with the value "manual" in the the first column (Status).

[2020-02-28 12:31] teomonda opened #4067 "Staffhub has been replaced by Shifts"
https://support.office.com/en-us/article/Getting-started-with-Microsoft-StaffHub-92e9480f-0a37-47d2-ac96-2d11ee5f0656

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f897ae9b-852a-b617-7de0-d76dbd9f1820
* Version Independent ID: 161b1845-53fd-8912-a5f9-737d3bcdaadc
* Content: [Manage the Microsoft Teams Exploratory expe

[2020-02-28 12:58] RobMac-really commented on #4018
@Sezotove, are you talking direct routing or Calling plans?  Basically nothing in the GUI of teams admin center has anything to do with Direct Routing.  Everything is configured from a powershell session.

Calling plans will utilize the same routes defined in this guide if you apply them to the user, but the dial plans in the gui seem to only apply to calling plans.

hope this helps, reach out if

[2020-02-28 15:23] #3826 closed

[2020-02-28 15:48] TorrenManson commented on #3961
The status of “manual” shows up from time to time, and it normally indicates that manual intervention is needed on MSFTs end, I think… but there’s no explanation of this status or what to do if your port ends up in “manual” unexpectedly.

From: Tony Smith (MSFT) <notifications@github.com>
Sent: Friday, February 28, 2020 12:26 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBus

[2020-02-28 16:08] dariomws commented on #3961
Thank you. Should we close this issue?

[2020-02-28 18:17] LanaChin commented on #3667
Thanks for the follow up, @dariomws. We sorted it out in a Teams chat with the PM and I've added an item to the Known issues and limitations list in the article.

[2020-02-28 18:17] #3667 closed

[2020-02-28 18:21] LanaChin commented on #3392
Hi @thomasbinder, I've updated the article to clarify the version support for CQD and SQL Server. Thank you.

[2020-02-28 18:21] #3392 closed

[2020-02-28 18:31] tonysmit commented on #3961
@dariomws - I'm checking with the dev and the PMs. This list is from SFBO and hasn't been validated for Teams. I will get it updated so it includes "Manual". I would suspect, you're right in your assumption that it means the PSTN service desk is needing to get with the carrier, but it's a manual submission or something like that. I created a task so I will follow up on this. For now, let's close t

[2020-02-28 18:31] #3961 closed

[2020-02-28 18:33] dariomws commented on #3961
Thank you!

[2020-02-28 18:41] LanaChin commented on #3693
Thanks for your input, @GiantCrocodile. Just want to let you know that I checked with the PM and this is in the queue. We'll keep this open until the documentation is available. Thank you.

[2020-02-28 18:51] rejohnson76 opened #4068 "Cannot re-install Teams with the system-wide msi after uninstalling"
If a user uninstalls Teams after it was installed with the MSI and we then uninstall for each profile as well as delete all the %localappdata%\Microsoft\Teams\ folders, a re-install of the MSI does not do anything.  There is no desktop icon, no references to Teams in Start, no way to run Teams.  So far the only way to recover is to install the standalone executable (via SCCM or Teams website).

--

[2020-02-28 19:15] CarolynRowe commented on #4018
So, just to clarify, you can use the Teams admin center to specify emergency call routing policies for Direct Routing,  See https://docs.microsoft.com/en-us/MicrosoftTeams/manage-emergency-call-routing-policies and https://docs.microsoft.com/en-us/MicrosoftTeams/what-are-emergency-locations-addresses-and-call-routing

[2020-02-28 20:07] scanum commented on #4043
@Canis-Lupis Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:08] dstrome commented on #3546
Thank you for your patience. I've updated the topic and the changes will be published later this afternoon.

[2020-02-28 20:08] #3546 closed

[2020-02-28 20:11] scanum commented on #4044
@DanBaumgartner Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:11] scanum commented on #4047
@ucgeek Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:13] scanum commented on #4050
@officeglobal Could you please help on this issue? Thanks!

[2020-02-28 20:13] scanum commented on #4050
@ikukoyoneda Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:15] scanum commented on #4052
@narismadz Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:16] scanum commented on #4057
@Petri-X Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:16] scanum commented on #4058
@Larryngolog Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:16] scanum commented on #4059
@aamillerMSFT Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:17] scanum commented on #4063
@techmastermike Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:17] scanum commented on #4066
@rickleye Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:18] scanum commented on #4042
@rgsteele Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:18] scanum commented on #4049
@7gegenTheben Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-28 20:19] scanum commented on #4049
@7gegenTheben thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-02-28 20:19] #4049 closed

[2020-02-28 20:20] TokyoScarab commented on #3578
@tmaheshwar For users working remotely from home, you could set up a site / location for that user's address. These emergency addresses and locations cannot be dynamically changed with a user's cell phone or laptop data, for example. It is recommended in those situations where you are outside the emergency address in your corporate/office subnet, to make the call instead directly from either a cel

[2020-02-28 20:22] scanum commented on #4067
@teomonda thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-28 20:22] #4067 closed

[2020-02-28 20:22] scanum commented on #4068
@rejohnson76 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-28 20:22] #4068 closed

[2020-02-28 20:59] cradixus opened #4069 "Why can't we hide Org-Wide member changes from General?"
Certainly, we aren't the only company who doesn't want the name & date of every person we terminate being disseminated to the entire company?  In our industry it's equally important that names of people we're in the process of rush onboarding be kept confidential until it's a 100% done deal.  That being said, how/why is there not an option after all this time to disable broadcasting this informati

[2020-02-28 21:07] CarolynRowe commented on #3316
This was fixed.  Closing this issue.

[2020-02-28 21:07] #3316 closed

[2020-02-28 21:10] CarolynRowe commented on #3613
This is fixed and will publish soon. Closing this issue.

[2020-02-28 21:10] #3613 closed

[2020-02-28 21:14] CarolynRowe commented on #3808
Edited the wording.  Will publish today.  Closing this issue.

[2020-02-28 21:14] #3808 closed

[2020-02-28 21:17] CarolynRowe commented on #4016
Thanks for the feedback. I've made the change, which will go live today. Closing this issue.

[2020-02-28 21:17] #4016 closed

[2020-02-28 21:20] DanBremner opened #4070 "Phonetic spelling for User Names"
This article recommends phonetic spelling for text entered for the text-to-speech engine to read. My question is for the confirmation prompt on dial-by-name or other places, either "I think you said John Smith, is that right?" or "Transferring to John Smith." For our users, obviously we can't spell their names phonetically in the First & Last name fields. Can we spell them phonetically in some hid

[2020-02-28 21:41] TokyoScarab commented on #3589
@joaolloureiro What page of the documentation does this pertain to?

[2020-02-28 22:44] ErsancMS commented on #3859
This is now fixed and wording has change to include other contact emails as well

[2020-02-28 22:52] dstrome commented on #4070
hi @DanBremner - I'm fairly certain the answer is no. However, I'm double checking with the product team to see if there's a user property that might allow phonetic spelling and whether Teams uses it.

[2020-02-28 23:32] Eillirand opened #4071 "Notification"
Does this send any kind of notification to the end user when setup? We are in process of rolling out Teams and would like this as part of the rollout but do not want any type of notifications sent to the end user at this point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Versio

[2020-02-29 15:32] joaolloureiro commented on #3589
Basically this should be changed in https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/requirements-for-your-environment/server-requirements

Original text:

(...)
• .NET 4.7.1 (for Skype for Business Server CU 5 or later releases)
• .NET 4.7.2 (for Skype for Business Server CU 6 or later releases)
(...)

Should be changed to:

(...)
• .NET 4.7.1 (for Skype for Business Server

[2020-02-29 16:25] StainlessSteele opened #4072 "Clarify how to use Union Function in CQD"
The method to use the "Union function" described here https://docs.microsoft.com/en-us/skypeforbusiness/management-tools/call-quality-dashboard/use#what-does-union-do is not clear. By putting 1 piece of common text into multiple filter fields, thereby you force an "or" to happen on those sets vs the default of each filter in the list being an "and" type.
For example, if I want to have a filter for

[2020-03-01 04:35] MellowYellow85 opened #4073 "Can't change existing public team to org-wide"
This implies I can change my public team to an org-wide (and stop folks from leaving it) but there doesn't seem to be the option in the Edit Team page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf
* Content: [Create an

[2020-03-01 04:36] MellowYellow85 commented on #4073
or add a new org-wide one. It's just an option yet, I guess.

[2020-03-01 05:16] MellowYellow85 commented on #4073
nm, it's a permissions thing

[2020-03-01 16:35] rgsteele commented on #4042
Thanks @scanum. I've found some release notes [here](https://support.office.com/en-us/article/what-s-new-in-microsoft-teams-d7092a6d-c896-424c-b362-a472d5f105de?ns=MSFTTEAMS&version=16&ui=en-US&rs=en-US&ad=US#PickTab=Desk_phones), but only the most recent version is listed (1449/1.0.94.2020020601). I currently have one Teams device (a Poly CCX 500) running 1449/1.0.94.2019110802, but the admin con

[2020-03-02 06:31] teomonda commented on #4067
Hello Manuela,
my point is the product was retired so it is not accurate to have it in the documentation of a product launched recently. Basically I think Staffhub should be renamed to Shifts or removed whatsoever.

[2020-03-02 07:24] Jerx88 commented on #3856
This issue is going to be a struggle for us, we don't want to use "Location" based CA policies. Is there a way for us to assist in this issue?

[2020-03-02 08:18] lindspea commented on #3995
@Ganym3de thank you for reaching out and helping improve MS Docs. Are you suggesting removing the note at the bottom of the article about tenant-level control?

[2020-03-02 08:21] lindspea commented on #3921
@CarolynRowe please can you have a look at this.

[2020-03-02 08:25] lindspea commented on #4012
@Craig-Humphrey thank you for reaching out. Please have a look at this article and let me know if it helps - https://docs.microsoft.com/microsoftteams/teams-app-permission-policies

[2020-03-02 08:37] lindspea commented on #4009
@annerajb Thank you for reaching out and helping improve MS Docs. Are you referring to this link - https://docs.microsoft.com/MicrosoftTeams/rooms/rooms-licensing ?

[2020-03-02 08:41] lindspea commented on #4005
@rickleye Thank you for your feedback. Please let me know if this link helps at all. - https://docs.microsoft.com/powershell/module/skype/get-csteamsupgradepolicy?view=skype-ps

[2020-03-02 08:46] lindspea commented on #4004
@ii-batman thank you for reaching out and helping improve MS Docs. From what I've investigated it seems like no further action is needed. I see the article was also just updated this week, but will ask @MicrosoftHeidi to confirm as well that no further action is needed for putting mailboxes on hold.

[2020-03-02 08:51] lindspea commented on #4001
@tonysmit could you please help clarify?

[2020-03-02 08:52] lindspea commented on #3997
@LanaChin please could you assist.

[2020-03-02 09:20] HenrikDamslund commented on #4071
I have tested this, and no notifications are send. Nice :-)

[2020-03-02 11:38] gkens opened #4076 "How can a guest log in online?"
Please explain how a user can access teams as a guest in windows using teams web access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048930a4-fdf2-9a90-3b47-46af66db3db4
* Version Independent ID: 8d6a2c84-94e9-b17e-f5c1-91191187ce4e
* Content: [What the guest experience is like - Microsoft Teams](https://docs.microso

[2020-03-02 12:05] Reeced40 commented on #3412
@LanaChin

[2020-03-02 15:04] scanum commented on #4076
@gkens Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-02 15:04] scanum commented on #4073
@MellowYellow85 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-02 15:10] scanum commented on #4072
@StainlessSteele Hi! Thanks for submitting feedback. Could you please link the article you would like this content to be included on? Thanks.

[2020-03-02 15:13] ivanja81 opened #4077 "Incorrect statement"
"There's no way to change the system language for only one person in your organization. You can only change the greeting language for everyone on your organization."

You can change it via  Set-CsOnlineVoicemailUserSettings  just fine.

[2020-03-02 15:16] StainlessSteele commented on #4072
This page https://docs.microsoft.com/en-us/skypeforbusiness/management-tools/call-quality-dashboard/use#what-does-union-do However, the content there should also be merged and updated here https://docs.microsoft.com/en-us/microsoftteams/turning-on-and-using-call-quality-dashboard

[2020-03-02 15:18] scanum commented on #4069
@cradixus thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-02 15:18] #4069 closed

[2020-03-02 15:20] scanum commented on #4071
@Eillirand thank you for submitting feedback. Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-02 15:20] #4071 closed

[2020-03-02 17:04] annerajb commented on #4009
Correct it's mentioned in the first paragraph roughly bullet 3.

But throught the document / page it keeps mentioning the old skype for
business licenses.
Could it be updated to also mention the Rooms License in addition to the
Legacy licenses.

On Mon, Mar 2, 2020 at 3:37 AM Lindsay <notifications@github.com> wrote:

[2020-03-02 19:28] rajkumardas2701 opened #4078 "Clarification on Teams Auto Attendant support with Lync server"
Hello Team,

Could you please confirm if Teams Auto Attendant is supported with Lync server as mentioned in the article or just with SFB 2015/2019.

Article states below,
 "Cloud auto attendants can be configured with Skype for Business Server 2019, 2015, and 2013."

[2020-03-02 19:35] rajkumardas2701 opened #4079 "Need Clarification on Cloud AA support with Lync server deployment"
Hello Team,

Could you please confirm if Cloud AA is supported with Lync server 2013 as per the requirement statement mentioned in the article. If not, please update the article accordingly.

"Cloud auto attendants can be configured with Skype for Business Server 2019, 2015, and 2013."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-03-02 20:08] munkiemanUK opened #4080 "Teams Exploratory Licence"
This appears to be only for 100 users but the Commercial Cloud it is replacing was unlimited, how to i add the remaining users who don't have a licence and the company cannot afford to pay for.  Can the 100 be extended to be unlimited?

[2020-03-03 00:54] LanaChin commented on #3853
Hi @tpmeredith - Thanks for taking the time to comment here to share your concerns about voice integration and suggestions for improving our documentation based on your adoption experiences. Your feedback is important to us. Want to let you know that we've forwarded your comments, concerns, and suggestions over to the product team.

[2020-03-03 01:03] #3853 closed

[2020-03-03 08:28] Craig-Humphrey commented on #4012
Thanks @lindspea, no, that relates to Teams apps -> Permission Policies menu item, in Teams Admin.

I was after the Teams apps -> Manage apps.

However, it has now appeared on the menu for both the tenants I admin.
I wonder if it just took longer to roll out to the Australian O365 tenants...

You can close this ticket and check with the other two similar tickets...

[2020-03-03 08:28] #4012 closed

[2020-03-03 09:27] ii-batman commented on #4004
How's it @lindspea ?
Thanks for looking into this, I am eager to enable my users to be able to edit/delete posts but I need to be sure that all posting is hold for compliance. Looking forward to your confirmation.

[2020-03-03 10:46] AlexSchwerzmann opened #4085 "Missing Browser List"
Hi
I'm not sure, but the list of mentioned browser does not seem to be complete. In our tests, Edge did not work either...

Could you please create a list of supported browser instead of an incomplete one of non-supported? Would be easier for us to give clear recomendations to customers.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-03 13:25] OfficeGlobal commented on #4050
@ikukoyoneda , @scanum the article was re-published, tables are displayed with scrollbar

![image](https://user-images.githubusercontent.com/47977325/75779866-bd254e80-5d5a-11ea-9d87-ae4995e43898.png)

[2020-03-03 17:44] fpdean-github commented on #4036
Same issue and the meeting-by-meeting workaround mentioned by bendoty worked. Less than ideal though, hopefully this can be fixed soon

[2020-03-03 19:42] LanaChin commented on #3733
Hi @HandyAndyOnGitHub - can you let us know what version of the Teams PowerShell module that you're using? Do you have the pre-release version from the PowerShell Test Gallery installed?  Thanks.

[2020-03-03 19:54] HandyAndyOnGitHub commented on #3733
Hi @LanaChin yes I followed the instructions to install the pre-release version from the Test Gallery.

PS C:\WINDOWS\system32> Get-Module -Name MicrosoftTeams

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Binary     1.0.18     MicrosoftTeams                      {Add-TeamChannelUser, Add-TeamU

[2020-03-03 20:30] scanum commented on #4085
@AlexSchwerzmann Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-03 20:30] scanum commented on #4079
@rajkumardas2701 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-03 20:31] scanum commented on #4078
@rajkumardas2701 Could you please link the article you are referring to? Thanks!

[2020-03-03 20:31] scanum commented on #4077
@ivanja81 Could you please link the article you are referring to? Thanks!

[2020-03-03 20:32] scanum commented on #4080
@munkiemanUK thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-03 20:32] #4080 closed

[2020-03-03 20:34] dariomws commented on #3867
Hi @GiantCrocodile, thank you for your feedback.

@tonysmit could you kindly help us to get this information? Thanks!

[2020-03-03 20:49] rajkumardas2701 commented on #4078
https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/plan-cloud-auto-attendant

[2020-03-03 21:29] dariomws commented on #3863
Hi @Mlavieri, thank you for your feeback.

@tonysmit could you kindly help me confirm this? I think it should be kbps and the minimum value is 50:
![image](https://user-images.githubusercontent.com/33589238/75821370-dfc85f00-5d7c-11ea-865b-b066d7f7b8df.png)

[2020-03-04 02:06] LanaChin commented on #3604
Merged the PR. Thanks @TokyoScarab and @neilmallon.

[2020-03-04 02:38] #3561 closed

[2020-03-04 02:42] LanaChin commented on #3733
Thanks @HandyAndyOnGitHub. We're currently looking into this.

[2020-03-04 05:06] CarolynRowe commented on #3558
We have followed up with the product team, but their approval is required before we make a change to this document.  I am closing this issue.

[2020-03-04 05:06] #3558 closed

[2020-03-04 08:33] Emsabare opened #4091 "Cloud voicemail runs only in split domain configuration but there is a line in this doc that might bring confusion."
Line "**If you have an on-premises only deployment—that is, only Exchange and Skype for Business on-premises servers—but you want to take advantage of Cloud Voicemail, you will not need additional licenses.**" might create confusion as in customer might think that you don't need to run a split domain / hybrid deployment. It is mentioned 3 paragraphs above that hybrid is required, but when you say

[2020-03-04 12:17] tmaheshwar opened #4092 "ATA"
This page mentions ATA-1 certification, what does that mean, can we register directly ATA-1 to Microsoft cloud without Audiocodes SBC in between; please confirm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1a1c01-10a9-7f69-1c7b-1a566b0f5112
* Version Independent ID: 329ee759-40fc-98fb-b91e-87786c63024b
* Content: [

[2020-03-04 14:22] blyakhmanv commented on #3856
Looks like MS is not going to provide an answer ((((

[2020-03-04 14:23] blyakhmanv commented on #4037
Please provide an update. Looks like a lot of people waiting for resolution of this issue.
Thank you,

[2020-03-04 16:35] #3605 closed

[2020-03-04 17:31] gabsto-ms opened #4094 "Incorrect PowerShell cmdlets"
In the section https://docs.microsoft.com/en-gb/MicrosoftTeams/retention-policies#using-powershell, all the PowerShell cmdlets are incorrect.
You need to remove the string  &lt;Teams&gt; for all the referenced cmdlets.
Example:
"New-TeamsRetentionCompliancePolicy" should be "New-RetentionCompliancePolicy"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-04 23:33] TokyoScarab commented on #3592
@graugans I did see the link. I was referring to the microsoft docs page where you would want this change to be made.

[2020-03-04 23:57] rejohnson76 commented on #4068
Thanks.  I’ve opened case:  ‎Cannot get Teams re-installed after uninstalling MSI version‎ (#‎19001411‎)

-Russell
From: Manuela Scanu <notifications@github.com>
Sent: Friday, February 28, 2020 12:23 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Russell Johnson <russell.johnson@a-dec.com>; Mention <mention@noreply.github.com>
Subject: Re: [Mi

[2020-03-05 03:51] JannJJG commented on #3390
Hi can we create a fixed default meeting link that can be copy and pasted in any calendar invite or pasted in an email to a client ? Or it has to be specific to "New MS Teams Meeting" when we click on our calendar only then the unique meeting link will be created.

[2020-03-05 07:45] moegitree opened #4099 "About active user"
I have a team with over 1400 members and analytics tab shows the activity user count in last day is 1000+.
I am the owner of the team and I'm sure the number of user who has ever performed "intentional action" in this team is far less than 1000. So I have 2 questions:
    1. Is reading message (with no reply) counted as "Intentional action"?
    When viewing a team's Analytics tab, the number show

[2020-03-05 12:50] OfficeGlobal opened #4100 "[LOC] Invalid link in an article"
There is an invalid link in an article

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/microsoftteams/create-a-phone-system-call-queue?bc=/skypeforbusiness/breadcrumb/toc.json&toc=/skypeforbusiness/sfbotoc/toc.json
2. Search for "Assign Skype for Business licenses" link
3. Click on the link

**Actual results:**
Link does not work
**Expected results:**
Link should work

**GH article:**

[2020-03-05 13:11] dariomws commented on #3860
Hi @i-windows, thank you for your feedback.

It isn't supported natively, it's achieved through interop escalation. This was added to the article when this feature was launched, so it's up to date.

In the same article you found the definition of "interop escalation" and "native interop":
https://docs.microsoft.com/microsoftteams/teams-and-skypeforbusiness-coexistence-and-interoperability#native-i

[2020-03-05 13:37] dariomws commented on #3856
Hi @Jerx88, thank you for your feedback.

@LolaJacobsen could you kindly help with this to provide more information? Thanks!

[2020-03-05 13:55] dariomws commented on #3819
Hi @Sezotove, thank you for your feedback.

This article was updated the last two months and it will be improved continuously. Also, there is a link in the article to the cmdlets reference:
[Manage emergency call routing policies](https://docs.microsoft.com/microsoftteams/manage-emergency-call-routing-policies)

[2020-03-05 14:24] dariomws commented on #3812
@Jason-ACESGroup, thank you for your feedback.

The article was updated the last 2 months and there is no reference to the Security and Compliance Admin Center, so looks that the issue was fixed. I have verified the instructions under Step 4 and they look good.

[2020-03-05 14:34] dariomws commented on #3657
Hi @bartvermeersch, thank you for your feedback.

I have verified this on my tenant and it seems that 15 minutes is ok:
![image](https://user-images.githubusercontent.com/33589238/75991408-33e65700-5ed5-11ea-9654-0285a571baaf.png)

[2020-03-05 15:45] LanaChin commented on #3733
@HandyAndyOnGitHub, thanks for bringing this to our attention. You are correct. Confirmed that the -MembershipType Private parameter isn't needed for Get-TeamChannelUser and Add-TeamChannelUser. The doc has been updated: https://docs.microsoft.com/en-us/MicrosoftTeams/private-channels-life-cycle-management#list-and-update-roles-of-owners-and-members-in-a-private-channel.

[2020-03-05 15:45] #3733 closed

[2020-03-05 16:00] LanaChin commented on #3390
@Larryngolog - You can use the **Preview invite** button to see a preview of your meeting invite. The article has been updated to reflect this feature.

[2020-03-05 18:19] chrisingraham00 opened #4101 "Unable to give user Montreal area phone number"
We have a remote user and we are unable to use their address as it says there is not an area code available.  This is the Greater Montreal area.  Any idea why this is happening?

[2020-03-05 18:26] anwara-ms commented on #3980
HI. Any update on this?

[2020-03-05 18:30] dariomws commented on #3643
Hi @jameslear, thank you for your feedback.

In this article I can read that a "service phone number" is a requieremet no assign a phone number to a Resource Account. User phone number aren't supported.

"Before you assign a phone number to a resource account, you need to get or port your existing toll or toll-free service numbers. After you get the toll or toll-free service phone numbers, they sh

[2020-03-05 19:06] chrisingraham00 opened #4102 "Unable to get area codes from the following locations"
Saskatoon
Montreal
St John's Newfoundland
Port Stanley Ontario (London area)

All of these remote users we have are unable to get an area code in teams.  Please advise this is a real problem for our organisation.

[2020-03-05 19:53] vnewbaker-bw commented on #3484
An Office 365 E1 license and a Phone System license is all that is required on the user.

[2020-03-05 22:16] Pa8dy opened #4104 "Trial and 30 day grace period over - we can still use the service"
We received notification that the trial would end more than one month ago however our users can still log in and there appear to be no ill effects from the end of of the trial period?

Also am I right in assuming that once the 12 months is up we cannot move on to the new Exploratory trial experience?

[2020-03-05 23:58] dariomws commented on #3074
Hi @dgancho, thank you for your feedback.

Maybe I don't understand you, but there is a chat size limit: "Approximately 28 KB per post":
https://docs.microsoft.com/microsoftteams/limits-specifications-teams#chat

[2020-03-06 03:11] JorgeALeitao commented on #2346
I must agree with @alexjmoore  the way the the article is write is confusing.
I suggest we reopen this and find a way to make it clear.

One one the sources of confusion is - mixing two different concepts in a single statement
There's no way to change the **system** language for only one person in your organization. You can only change the **greeting** language for everyone on your organization.

[2020-03-06 11:03] Redguytoo commented on #4068
From my own experience, if you install the MSI, you should uninstall the MSI first, this will place the uninstall command "Update.exe --uninstall --msiUninstall --source=default" from %localappdata% in the HKLM Run key, so after a restart this uninstall command will clean up the application itself. Running "Update --uninstall --source=default" only, will most likely place this key: [HKEY_CURRENT_U

[2020-03-06 11:24] DrLippert opened #4107 "Link to 'Network Readiness Assessment' is pointing to the old SoF portal"
Link to 'Network Readiness Assessment' is pointing to the old SoF portal, should be updated to live documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e8b2651-40bb-0d26-6126-d88689047f23
* Version Independent ID: 5be83c7d-ef7f-5582-4a6c-f0709fb2ec7b
* Content: [Prepare your network for Microsoft Teams - Micr

[2020-03-06 12:14] dariomws commented on #4038
Hi @dotnick365, thank you for your feedback.

They are two different things. If you prevent users to create Teams using this process:
https://docs.microsoft.com/microsoft-365/admin/create-groups/manage-creation-of-groups
They can create Private Channels if you don't prevent it using this process:
https://docs.microsoft.com/microsoftteams/private-channels-life-cycle-management#set-whether-team-memb

[2020-03-06 12:18] dariomws commented on #4037
Hi @blyakhmanv, thank you for your feedback.

It's the same as https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3856, please follow up this issue, hope we have a answer soon.

[2020-03-06 13:26] dariomws commented on #4036
@StephanGee Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the ou

[2020-03-06 15:51] dariomws commented on #4035
Hi @Petri-X, thank you for your feedback.

I confirm that these are the options in the Admin Center when you create or modify call queues. If you want to suggest this feature please go to:
https://microsoftteams.uservoice.com/

Thanks again!

[2020-03-06 16:03] Petri-X commented on #4035
Hi Dariomws,
Thank you for confirming this. I could then send DCR to get change for that.

User voice is waste of time and energy. Especially in cases like this.

[2020-03-06 16:03] #4035 closed

[2020-03-06 16:30] siboyd07 opened #4110 "Question about custom apps"
Is a Microsoft PowerApp considered a custom app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143108bb-d6e6-48a8-a7cb-d11b89ebeaab
* Version Independent ID: 145773e2-149e-1c1c-5797-433c13f13b22
* Content: [Admin settings for apps in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/ad

[2020-03-06 16:37] bartvermeersch commented on #3657
Cool, they changed the app to align with the documentation (in my tenant as well)!

[2020-03-06 16:37] #3657 closed

[2020-03-06 18:03] SerdarSoysal commented on #3980
@scanum the correct link should be: https://docs.microsoft.com/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licensing-guidance

[2020-03-06 18:09] dariomws commented on #4032
Hi @LotusPainter, thank you for your feedback.

I understand there is no way to change meeting recording location. There are your options:
https://support.office.com/article/play-and-share-a-meeting-recording-in-teams-7d7e5dc5-9ae4-4b94-8589-27496037e8fa

[2020-03-06 18:22] dariomws commented on #4033
Hi @DanStevensonMSFT, thank you for your feedback.

@chuckedmonson could you kindly help me to confirm the license requierements to watch/attend live events? Should we also remove any mention to "Go Local"?

Thanks!

[2020-03-06 18:25] scanum commented on #4092
@tmaheshwar Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 18:27] scanum commented on #4094
@gabsto-ms Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 18:28] scanum commented on #4100
@OfficeGlobal Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-06 18:28] scanum commented on #4091
@Emsabare thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-06 18:28] #4091 closed

[2020-03-06 18:28] scanum commented on #4099
@moegitree thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-06 18:28] #4099 closed

[2020-03-06 18:29] scanum commented on #4101
@chrisingraham00 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-03-06 18:29] #4101 closed

[2020-03-06 18:29] scanum commented on #4102
@chrisingraham00 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-03-06 18:29] #4102 closed

[2020-03-06 18:29] scanum commented on #4104
@Pa8dy thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-03-06 18:29] #4104 closed

[2020-03-06 18:29] scanum commented on #4110
@siboyd07 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-06 18:29] #4110 closed

[2020-03-06 18:35] dariomws commented on #4027
Hi @netresults-scott, thank you for your feedback.

It's working for me, could you try it again? Thanks!

[2020-03-06 18:36] chuckedmonson commented on #4033
@dariomws - Please contact the PM Ashwin Appiah for answers to your questions. Thank you.

[2020-03-06 18:49] dariomws commented on #4025
Hi @Petri-X, thank you for your feedback.

I tried to create a Dial Plan just adding the name ("Test") and I could save it. I understand that External Access Prefix is not mandatory.

[2020-03-06 20:09] dariomws commented on #4022
Hi @Petri-X, thank you for your feedback.

I understand it's supported. There are more articles which mention 1080p:
https://docs.microsoft.com/microsoftteams/prepare-network#bandwidth-requirements
https://docs.microsoft.com/microsoftteams/platform/bots/calls-and-meetings/real-time-media-concepts#video-format

[2020-03-06 20:54] rejohnson76 commented on #4068
Marvin,

You are a genius!  The key was to uninstall the machine-wide msi, restart the computer and let the HKLM Run key remove the app.  I still need work out a method in SCCM to delete that pesky HKCU key that might be there.  I tried changing it to “0” but that didn’t work; it must be deleted, it seems.  Maybe someone at MS knows another value that would disable the prevent function?  We could

[2020-03-06 23:47] scanum commented on #4107
@DrLippert Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-07 09:50] lindspea commented on #4004
@MicrosoftHeidi

[2020-03-07 13:47] dariomws commented on #4019
Hi @JAK1047, thank you for your feedback.

@LanaChin Could you help me to confirm this? What URL should we put in the article?

https://statics.teams.cdn.office.net/production-windows-x64/1.3.00.3564/Teams_windows_x64.msi
or
https://teams.microsoft.com/downloads/desktopurl?env=production&plat=windows&arch=x64&managedInstaller=true&download=true

(same for 32 bits)

I think the second URL is a bett

[2020-03-07 14:16] dariomws commented on #4015
Hi @trudolf-msft, thank you for your feedback.

@dstrome could you kindly help with this issue? Does the Calendar Tab use EWS? Thanks!

[2020-03-07 22:24] dariomws commented on #4013
Hi @flcev, thank you for your feedback.

When you pin an app using a Setup Policy, they are installed automatically. In this way, it forces the appearance in Teams clients.

[2020-03-08 09:42] dailywake opened #4111 "Manage Team"
Hi, We are school have Teachers and Students, i try found permission option to not let the students or teachers to create team . can please assisst.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20423b44-629b-1bee-280c-fb55680cd33e
* Version Independent ID: a60f6a48-89d7-98b6-4245-4be171fd06fd
* Content: [Assign team

[2020-03-08 14:26] patrichard opened #4112 "Download still goes to previous version"
I'm still getting 4.3.33.0 when downloading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1365f9b8-001c-daa7-592e-d88b9bb3a10e
* Version Independent ID: ffba1b4d-1f19-4dac-0b55-053d98fe26b7
* Content: [Release notes - Microsoft Teams](https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-release-note#43420-0302

[2020-03-08 21:46] guija opened #4113 "Wrong deb/rpm Download-Link for german page version"
Hi. In the german version of this page the links for rpm and deb are e.g. https://aka.ms/getteamsvon . The trailing "von" has to be separated by a space from the link.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Version Independent ID: f5d82846-

[2020-03-09 06:16] scanum commented on #4112
@patrichard Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-09 06:16] scanum commented on #4113
@guija Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-09 06:16] scanum commented on #4111
@dailywake thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-09 06:16] #4111 closed

[2020-03-09 08:15] Emsabare commented on #4091
Hi,

Thank you for your suggestion, indeed this would have been a right thing to do, if I would have been a customer “confused” about he documentation.
Thing is, I am MSFT employee, Support Escalation Engineer in Teams and Skype for Business team and this ambiguous requirement has been noticed in the specific doc without actually being impacted in any production environment.

Thank you,
Emanuel

F

[2020-03-09 08:36] Vaaceph opened #4114 "Message size limit - Error message"
I have configured Teams webhook to display my messages when my code breaks.
There was an exception and the trace was big enough to show me the following message:
"This message is too long to display here. Please visit the link to read the content."

It's okay to see this message, As I have read that I can not send a message greater than approx. 28 KB, [Limits and specifications for Teams](https://

[2020-03-09 10:20] gezakukoda opened #4115 "Wrong path to the option to turn on Teams on the old admin center"
The path to the option on the old Admin center is: Microsoft 365 admin center &gt; ! Settings ! &gt; Services and add-ins &gt; Microsoft Teams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5473bf0-ba2d-6c42-d57d-b61af64452d3
* Version Independent ID: 7195478d-3ef4-be8c-2920-3fdba3e70c7e
* Content: [Turn on Microsoft

[2020-03-09 12:23] matudose opened #4116 "Not setting Department to “Microsoft Communication Application Instance” will not provision on-prem phone no"

[2020-03-09 12:31] matudose opened #4117 "Not setting Department to “Microsoft Communication Application Instance” will not provision the on-prem phone number in online"
Step 4 should be added before the existing step 4 (Start-ADSyncSyncCycle -PolicyType Delta)
4. Set the Department to “Microsoft Communication Application Instance” by running
Get-ADUser -Filter {UserPrincipalName -eq 'testcq@contoso.com'} | Set-AdUser -Department “Microsoft Communication Application Instance”
https://docs.microsoft.com/en-us/microsoftteams/known-issues#phone-system
For now, this s

[2020-03-09 12:37] matudose opened #4118 "Hybrid resource accounts which sync their attributes from AD cannot be modified using Set-MsolUser"
Under the issue
Resource Account misconfigured Department
the fix is specified as follows
To mitigate this issue, you can run the following Cmdlet to set the department parameter. Set-MsolUser -ObjectId  -Department "Microsoft Communication Application Instance"
This cannot be done for Hybrid resource accounts which sync their attributes from AD
Instead, one of the following can be done:
1.	If the

[2020-03-09 14:06] dariomws commented on #4021
Hi @DanStevensonMSFT, thank you for your feedback.

I have added the word "compliance" to let the reader knows that this bullet is related to compliance search. According to the link provided, I understand this.

[2020-03-09 14:43] 12Knocksinna opened #4120 "Exchange backend."
Teams chat works on a Microsoft Exchange backend, so Exchange messaging limits apply to the chat function within Teams.
------------------
The only way Teams uses EXO is to store compliance records for the chat as items in the Team Chat folder of the participants' mailboxes. The actual chat data is stored in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-03-09 15:02] LanaChin commented on #3275
Updated (thanks for your input, @tiagoroxo), and merged (thanks @dariomws).

[2020-03-09 15:02] #3275 closed

[2020-03-09 15:06] LanaChin commented on #3589
Update merged, thank you @joaolloureiro and @TokyoScarab .

[2020-03-09 15:06] #3589 closed

[2020-03-09 15:18] LanaChin commented on #3866
Thanks @SimonSkotheimsvik. The doc has been updated (thanks @dariomws).

[2020-03-09 15:18] #3866 closed

[2020-03-09 15:57] StephanGee commented on #4036
My company decided to change autoadmit to "Everyone" so this issue is solved for me

[2020-03-09 15:57] #4036 closed

[2020-03-09 17:27] netresults-scott commented on #4027
@dariomws The link no longer ends in a 404 for me, however I'm not sure if the 'current' page it links too is the most appropriate.

The link on the docs page is titled: Pricing for Audio Conferencing.

The link then takes you thru to a fairly unclear 'Transform online meetings with Microsoft Teams' page (https://products.office.com/en-ca/microsoft-teams/online-meeting-solutions?rtc=1#customerstor

[2020-03-09 17:32] dariomws commented on #4027
@netresults-scott I understand your concern but unfortunately, there is no direct link to get this section.

[2020-03-10 03:37] MySkypeLab opened #4121 "Call Park for Teams Phone Devices"
This page says that Call Park is Coming Soon for Teams IP phones. This feature is now available in Teams Phones. Please update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e03ef3d-81d8-c98f-8427-fe7c008ea30f
* Version Independent ID: 17af3418-b94d-f233-60c0-778b2e8dc02b
* Content: [Call park and r

[2020-03-10 06:56] Playajay commented on #3000
@fowler9 The article https://docs.microsoft.com/en-us/microsoftteams/direct-routing-plan#public-trusted-certificate-for-the-sbc states the certificate uses RFC 2818
According to this, if you use a wildcard cert *.sbc1.contoso.com, then customer1.sbc1.contoso.com will match, but test.customer1.sbc1.contoso.com will NOT match.
Therefore, you need a new wildcard cert for each base domain. In other wo

[2020-03-10 07:36] cdhayward commented on #3000
That is correct you need a seperate wildcard cert per SBC if you have multiple super trunks & "carrier domains".

I've stuck to the old method as there's more flexibility in the solution on a per customer basis.

[2020-03-10 11:50] dariomws commented on #3616
Hi @benstegink, thank you for your feedback.

In the Admin Center, Flow has not changed its name to Power Automate yet. So, the article shouldn't be updated until it's renamed.

[2020-03-10 13:47] davmin opened #4122 "Enable-CsMeetingRoom not included in skype module/connector"
It does not seem that Enable-CsMeetingRoom or related cmdlets are included in the skype online connector. Is that the case?

Is this step unnecessary for a teams-only Tenant? If so the documentation should reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05282aa8-ae14-117b-5885-7d851ee66b89
* Version Indepe

[2020-03-10 14:42] danone1985 opened #4123 "Licensing guidance has broken link"
For more details, including plans and pricing, see Licensing Guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a288bc-9192-8c65-4ce9-b5abb260206e
* Version Independent ID: 1f953ea6-e6e5-5e71-d541-3962637f25f9
* Content: [Information barriers in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-u

[2020-03-10 16:11] scanum commented on #4123
@danone1985  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-10 16:11] scanum commented on #4122
@davmin  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-10 18:36] erictechtips commented on #3920
Is meeting expiration of 60 days the same as Teams meeting length limit?

[2020-03-10 18:54] jacoan opened #4124 "Enable Live Captions"
The Live Captions setting of "Disabled but the organizer can override" should be "Disabled but the user can override".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc665475-f843-e4c1-0ca6-0b83873abb54
* Version Independent ID: 95d32598-c920-ed5c-d665-69394528ca27
* Content: [Manage meeting policies - Microsoft Teams]

[2020-03-10 20:07] LanaChin commented on #3081
Hello @edeitz - following up on this and have question for you. Can you confirm whether you are deploying Teams on VDI?  Thank you.

[2020-03-10 22:16] ndambrosio commented on #4092
@tmaheshwar The ATA would be connected via SBC, see the following article for more detail:
**[How to use analog devices with Phone System Direct Routing](https://docs.microsoft.com/en-us/MicrosoftTeams/direct-routing-analog-devices)**

[2020-03-10 22:33] ChrisB-CS commented on #3812
I couldn't find the Settings anywhere on my M365 Admin home page.  Finally, after about 20 minutes of searching, I clicked on my Tenant name towards the top of the page to the left of the page's search bar and then the settings appeared.  Step #4 just needs to be updated to show this is how to access the Settings to get to the Security & Privacy tab where Sharing is located.

[2020-03-11 01:56] scanum commented on #4115
@gezakukoda Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 01:57] scanum commented on #4117
@matudose Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:00] scanum commented on #4121
@MySkypeLab Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-11 02:01] scanum commented on #4120
@12Knocksinna thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-03-11 02:01] #4120 closed

[2020-03-11 02:01] scanum commented on #4118
@matudose thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-11 02:01] #4118 closed

[2020-03-11 02:01] scanum commented on #4116
@matudose Duplicate

[2020-03-11 02:01] #4116 closed

[2020-03-11 02:01] scanum commented on #4114
@Vaaceph thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-11 02:01] #4114 closed

[2020-03-11 02:01] scanum commented on #4124
@jacoan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-03-11 02:01] #4124 closed

[2020-03-11 04:17] htu-mark opened #4125 "How to install Teams with Office 365 for Windows 10 (Endpoint Manager)"
Installing Teams as part of the Office 365 for Windows 10 deployment using XML configuration in Endpoint Manager. I have a group of devices set to required for install.

As per Microsoft's article, it is recommended to use the GPO method. The MSI install (separate) requires administrative install which we obviously can't do during white glove process. So how can I do the GPO method if it doesn't e

[2020-03-11 08:06] TokyoScarab commented on #3312
@kevincallanan I don't know if you had looked into [this](https://docs.microsoft.com/skypeforbusiness/management-tools/call-quality-dashboard/use) page, but I believe it should have the information you are looking for. If it does, please follow up and I can make clearer changes to the documentation directing to this information, thanks!

[2020-03-11 08:21] Vaaceph commented on #4114
Okay, thanks for replying.
I will keep you up to date here about this.

[2020-03-11 08:25] TokyoScarab commented on #3594
@callen-42 I see the "redirect to voicemail option" is included in the documentation page linked. Was there something specific you thought was missing in the documentation about it? Any info that could better help the documentation is welcome, thanks!

@SvenBell You are saying that the option to include a "redirect to voicemail" option is not available in some of your tenants, correct?

[2020-03-11 08:52] Petri-X opened #4126 "Is HostedMigrationOverrideUrl still valid comment?"
Your document says:
" _determine the prefix - XXXXXXX.online.lync.com_". Currently when going to legacy portal I get the following URL: https://webdir0e.online.lync.com/LSCP and I feel that is not the correct URL.

But isn't hosting provider URL better to get at begin?

[code]

Or even use the variable on the command itself?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-03-11 09:21] 12Knocksinna commented on #4120
Sorry, but how will opening a service ticket for my tenant resolve a documentation error that I have pointed out? The text is incorrect and needs to be fixed. Teams chat items are not stored in Exchange Online mailboxes. Teams compliance records are created in mailboxes by the Office 365 substrate to make sure that chats can be found by eDiscovery. Those compliance records are also used for retent

[2020-03-11 09:23] 12Knocksinna commented on #4120
See https://www.petri.com/teams-compliance-story. I have noted this problem on the Teams team for MVPs in the Microsoft tenant for the Teams PG to follow up.

[2020-03-11 10:11] SvenBell commented on #3594
It is all good now, the feature is finally showing up after 6 weeks.

[2020-03-11 11:09] lindspea commented on #3920
@erictechtips are you referring to the meet now in Teams?  In that instance it will be 8 hours as per the article. All the others are 60 days from start time.

[2020-03-11 12:15] lindspea commented on #3780
@LolaJacobsen please could you assist as the videos are still marked as 'private'.

[2020-03-11 12:28] dariomws commented on #3812
@ChrisB-CS I verified once more and it's there:
![image](https://user-images.githubusercontent.com/33589238/76416848-9e3a4400-637a-11ea-87ca-d73b1b055e27.png)

[2020-03-11 12:31] sgtdonny commented on #3231
I have the same problem. Script doesn'T work with this "Token exeption".
Adal.ps is installed.
The documentation gives no information what schould happen, login after starting or do you have to login before starting?

[2020-03-11 12:34] erictechtips commented on #3920
No, I am not referring to meet now.  I am referring to a traditional Microsoft Teams meeting that you create from Outlook.  https://support.office.com/en-us/article/schedule-a-teams-meeting-from-outlook-883cc15c-580f-441a-92ea-0992c00a9b0f

[2020-03-11 12:42] dewaltk opened #4127 "Auto Attendant dial by extension"
Any update on when the auto attendants will be able to dial by extension matching the lineuri attribute? The workaround provided works for regular users but not for analog devices and common area phone contacts created in a Skype for Business on prem environment. Is there any other recommended workaround for these endpoints other than creating regular user accounts and forwarding the calls to the

[2020-03-11 12:42] lindspea commented on #3920
@erictechtips thank you for clarifying that. I work on the writing side of the articles, improving the articles where we can, to help other users. This is not relating to the original article in question, so I'll tag @LolaJacobsen and see if she can help answer your question. Otherwise we will have to direct you to support.

[2020-03-11 12:44] lindspea commented on #3740
@scanum this can be closed thank you.

[2020-03-11 12:45] lindspea commented on #4009
@LanaChin can this information be added to the article?

[2020-03-11 12:49] erictechtips commented on #3920
Just to be clear, I could create a Microsoft Teams Meeting and have that Teams meeting stay open/running without interruption for 60 days?  We are trying to determine how long a Teams meeting can stay open without interruption.  In the past with Skype for Business there was a 90 minute limit we experienced. Some people have told us 4 hours is the limit for a Teams meeting, but this Microsoft docum

[2020-03-11 12:52] jacoan commented on #4124
This is not a tenant issue but a documentation issue. The wording above is incorrect, and needs to be changed to what I stated versus what it is.

[2020-03-11 12:58] lindspea commented on #4009
@annerajb thank you for clearing that up? Do you have the relevant links for the licenses you are referring to?  I see the Rooms License is already in the article.

[2020-03-11 13:05] kevincallanan commented on #3312
thanks @TokyoScarab  - this seems to provide the detail I was looking for.

[2020-03-11 13:06] kevincallanan commented on #3312
Looks like I closed this by accident. This has the detail if this can be pointed to in the main doc or if the SQL example can be adjusted to include subnet as an option that would help.

[2020-03-11 13:11] lindspea commented on #4011
@scanum this can be close thank you.

[2020-03-11 13:12] lindspea commented on #3884
@LanaChin any update yet?

[2020-03-11 13:40] lindspea commented on #3101
@gayatri any update on this?

[2020-03-11 13:44] lindspea commented on #3647
@CarolynRowe any update yet?

[2020-03-11 13:46] lindspea commented on #3883
@scanum this can be closed thank you.

[2020-03-11 13:52] lindspea commented on #3909
@scanum this can be closed thank you.

[2020-03-11 13:54] lindspea commented on #3913
@scanum this can be closed thank you.

[2020-03-11 15:17] oksanaMS opened #4128 "" Our commitment to customers during COVID-19" link does not work"
" Our commitment to customers during COVID-19" link does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4faeeb9b-7cf7-64db-1c0b-17fc4a21f422
* Version Independent ID: ee0660a9-3902-5ce2-c9ea-82e23bd99dcd
* Content: [FAQ - Support your remote workforce - Microsoft Teams](https://docs.microsoft.com/en-us/Microso

[2020-03-11 15:19] ChrisB-CS commented on #3812
@dariomws  - I am a Global Admin and my menu is missing the Settings as shown in your menu.  The Settings option is supposed to be between the Support and Setup on the menu, but it is missing in mine.  To get to it, I have to click on the company name (e.g. Contoso) just below where it says "Microsoft 365 admin center".  That's what I was saying.  I think this is the issue that others are having a

[2020-03-11 15:24] GymTheGeek opened #4129 "Certifying SBC's"
Could someone please point us in the direction of who we need to make contact with in order to certify our SBC technology for use with Microsoft Teams, have looked online but so far have been unsuccessful.

[2020-03-11 15:31] ArrowRaider commented on #3973
https://admin.teams.microsoft.com/dashboard

[2020-03-11 16:22] dariomws commented on #3812
I have verified in another tenant and it's there. It should be there at least in Enterprise and Business tenants.

Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-busi

[2020-03-11 16:41] DimaRazb opened #4130 "Users can send priority notifications on the bottom of the page."
Users can send priority notifications should be renamed to
"Send urgent messages using priority notifications"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34f3188-0af5-f972-9d28-959f5f7866a2
* Version Independent ID: fab26e11-a729-92a4-3ea6-8668dca55dd0
* Content: [Manage messaging policies in Teams - Microsoft Tea

[2020-03-11 16:57] ChrisB-CS commented on #3812
@dariomws I will try to open a ticket on this.  We are a Microsoft 365 E5 setup.  Not sure why it is missing in the menu.  Like I said, I can get to it, but you have to click on our Tenant name to open the settings.

[2020-03-11 18:02] jacqle331 opened #4135 "public preview"
is it possible to update the document to include public preview, rather than just preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c1b9711-5502-6194-98ed-ff17c4c4ec16
* Version Independent ID: bda458a2-8763-41d8-549d-65afc813e85a
* Content: [Use Advisor for Teams (preview) to help you roll out Microsoft Teams -

[2020-03-11 19:50] callen-42 commented on #3594
Yes, I believe the page has been updated to include info on the feature. Thanks

[2020-03-11 20:01] tpmeredith commented on #3853
@LanaChin  ok thanks.. may also want to let the product team know they're losing teams customers over this. We were on teams for 2+ years and got tired of waiting for a functional API so we have already begun moving our users away from teams calling.

[2020-03-11 20:22] giterdn opened #4137 "Broken URL"
New March 9, 2020: Work remotely with Microsoft Teams … this takes you nowhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdf3243-40dc-708c-cefc-8be68491a3be
* Version Independent ID: 0fc81593-de9a-c453-4a1c-ec1ebbfe2ecf
* Content: [Support remote workers using Microsoft Teams - Microsoft Teams](https://docs.micro

[2020-03-11 21:12] LanaChin commented on #3802
Hi @hosebei - We got confirmation that users who have the Teams service administrator role can manage app policies. We've updated the app policies documentation to clarify that global admins and Teams service admins can manage app policies in the Teams admin center.  Thanks for helping to improve our documentation. If your issue persists, the best way forward is to open a service request in your t

[2020-03-11 21:12] #3802 closed

[2020-03-12 01:28] scanum commented on #1886
@rjagiewich Hi Rebecca, wondering if there is an update on this issue?
Thanks!

[2020-03-12 01:29] scanum commented on #3074
@dgancho Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:29] #3074 closed

[2020-03-12 01:30] scanum commented on #3254
@TokyoScarab Wondering if there is an update for this issue? Thanks!

[2020-03-12 01:34] scanum commented on #3390
@Larryngolog Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:34] #3390 closed

[2020-03-12 01:34] scanum commented on #3412
@LanaChin could you please help in this issue? Thanks!

[2020-03-12 01:36] scanum commented on #3517
@ruizoscar Hi Oscar! Any update on this? Thanks!

[2020-03-12 01:36] scanum commented on #3539
@tonysmit Hi Tony! Any updates on this? Thanks!

[2020-03-12 01:36] scanum commented on #3540
@LolaJacobsen Could you please assist.

[2020-03-12 01:37] scanum commented on #3553
@LolaJacobsen Could you please help with this issue? Thanks!

[2020-03-12 01:37] scanum commented on #3554
@labanex  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:37] #3554 closed

[2020-03-12 01:37] scanum commented on #3568
@TorrenManson Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:37] #3568 closed

[2020-03-12 01:38] scanum commented on #3569
@officeglobal Hi! Could you please help with this issue? Thank!

[2020-03-12 01:39] scanum commented on #3578
@tmaheshwar Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:39] #3578 closed

[2020-03-12 01:39] scanum commented on #3590
Hi @LolaJacobsen Could you please help on this issue? Thanks!

[2020-03-12 01:40] scanum commented on #3592
@graugans  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:40] #3592 closed

[2020-03-12 01:41] scanum commented on #3594
@callen-42 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:41] #3594 closed

[2020-03-12 01:41] scanum commented on #3596
@AndrewFrants Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:41] #3596 closed

[2020-03-12 01:41] scanum commented on #3598
@Joel-fogue Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:41] #3598 closed

[2020-03-12 01:41] scanum commented on #3602
@LanaChin Could you please help on this issue? Thanks!

[2020-03-12 01:42] scanum commented on #3614
@officeglobal Hi! Could you please help on this issue? Thanks!

[2020-03-12 01:42] scanum commented on #3615
@TiggBloomz We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:42] #3615 closed

[2020-03-12 01:42] scanum commented on #3636
@TokyoScarab

[2020-03-12 01:42] scanum commented on #3638
@gbollardgit
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you

[2020-03-12 01:42] #3638 closed

[2020-03-12 01:43] scanum commented on #3643
@jameslear
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you

[2020-03-12 01:43] #3643 closed

[2020-03-12 01:44] scanum commented on #3706
@bilginbaldji
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you

[2020-03-12 01:44] #3706 closed

[2020-03-12 01:44] scanum commented on #3726
@LanaChin Any update on this issue? Thanks

[2020-03-12 01:44] scanum commented on #3735
@dstrome Hi David! Thank you. Any update on this?

[2020-03-12 01:44] scanum commented on #3740
@tonys2020
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you

[2020-03-12 01:44] #3740 closed

[2020-03-12 01:44] scanum commented on #3765
@PaulMaggs We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:44] #3765 closed

[2020-03-12 01:45] scanum commented on #3780
@LolaJacobsen Can you please help on this issue? Thanks!

[2020-03-12 01:47] scanum commented on #3812
@Jason-ACESGroup Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:47] #3812 closed

[2020-03-12 01:47] scanum commented on #3819
@Sezotove Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:47] #3819 closed

[2020-03-12 01:48] scanum commented on #3859
@krkutser Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:48] #3859 closed

[2020-03-12 01:48] scanum commented on #3860
@i-windows Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:48] #3860 closed

[2020-03-12 01:48] scanum commented on #3868
@GiantCrocodile Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:48] #3868 closed

[2020-03-12 01:48] scanum commented on #3883
@school4schools Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:48] #3883 closed

[2020-03-12 01:51] scanum commented on #3909
@jpalarchio Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:51] #3909 closed

[2020-03-12 01:51] scanum commented on #3913
@advancedpartnerships Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:51] #3913 closed

[2020-03-12 01:51] scanum commented on #3916
@LanaChin Hi Lana, could you please help with this issue? Thanks

[2020-03-12 01:51] scanum commented on #3917
@rickleye Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:51] #3917 closed

[2020-03-12 01:52] scanum commented on #3918
@Scott-som  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:52] #3918 closed

[2020-03-12 01:52] scanum commented on #3921
@CarolynRowe Could you please help on this issue? Thanks!

[2020-03-12 01:52] scanum commented on #3922
@briandahlincoyne Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:52] #3922 closed

[2020-03-12 01:53] scanum commented on #3935
@CarolynRowe Any updates on this? Thanks!

[2020-03-12 01:53] scanum commented on #3951
@LanaChin Any updates on this? Thanks!

[2020-03-12 01:53] scanum commented on #3989
@Hitchcock3 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:53] #3989 closed

[2020-03-12 01:54] scanum commented on #3991
@mymebenha Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:54] #3991 closed

[2020-03-12 01:54] scanum commented on #3992
@premgan We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:54] #3992 closed

[2020-03-12 01:54] scanum commented on #3995
@Ganym3de We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:54] #3995 closed

[2020-03-12 01:54] scanum commented on #3997
@LanaChin following up on this.

[2020-03-12 01:54] scanum commented on #4001
@tonysmit Following up on this. Thanks!

[2020-03-12 01:55] scanum commented on #4005
@rickleye We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:55] #4005 closed

[2020-03-12 01:55] scanum commented on #4011
@ryanruark
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:55] #4011 closed

[2020-03-12 01:56] scanum commented on #4013
@flcev We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:56] #4013 closed

[2020-03-12 01:56] scanum commented on #4018
@Sezotove We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:56] #4018 closed

[2020-03-12 01:57] scanum commented on #4022
@Petri-X Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:57] #4022 closed

[2020-03-12 01:58] scanum commented on #4025
@Petri-X Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:58] #4025 closed

[2020-03-12 01:58] #4026 closed

[2020-03-12 01:58] scanum commented on #4027
@netresults-scott Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:58] #4027 closed

[2020-03-12 01:58] scanum commented on #4032
@LotusPainter Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:58] #4032 closed

[2020-03-12 01:58] scanum commented on #4034
@MatthewSteeples Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:58] #4034 closed

[2020-03-12 01:58] scanum commented on #4038
@dotnick365 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 01:58] #4038 closed

[2020-03-12 01:59] scanum commented on #4042
@rgsteele thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-12 01:59] #4042 closed

[2020-03-12 02:00] scanum commented on #4050
@ikukoyoneda Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:00] #4050 closed

[2020-03-12 02:03] scanum commented on #4077
@ivanja81 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:03] #4077 closed

[2020-03-12 02:06] scanum commented on #4092
@tmaheshwar Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-12 02:06] #4092 closed

[2020-03-12 02:07] scanum commented on #4125
@htu-mark thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-12 02:07] #4125 closed

[2020-03-12 02:08] scanum commented on #4126
@Petri-X  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-12 02:08] scanum commented on #4128
@oksanaMS  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-12 02:08] scanum commented on #4130
@DimaRazb  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-12 02:08] scanum commented on #4135
@jacqle331  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-12 02:08] scanum commented on #4137
@4135  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-12 02:09] scanum commented on #4129
@GymTheGeek thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-12 02:09] #4129 closed

[2020-03-12 02:09] scanum commented on #4127
@dewaltk thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-12 02:09] #4127 closed

[2020-03-12 02:27] AnnTaeYoun opened #4138 "게스트 엑세스 기본 설정 값"
기본적으로 게스트 액세스가 꺼져 있습니다. 문구를 다음으로 변경 요청 합니다.
기본적으로 게스트 액세스가 켜져 있습니다.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 042d7ce6-ee22-690f-8188-ff8a4a585847
* Version Independent ID: 3e5bc99c-e08e-44e0-cda3-687ed3633175
* Content: [Microsoft 팀에 대 한 게스트 액세스 설정 또는 해제 - Microsoft Teams](https://docs.microsoft.com/ko-kr/microsoftteams/set-up-guests#feedback)
* Cont

[2020-03-12 05:36] akpasha opened #4139 "Manage channel moderation"
hi my organization is using Office 365 A1 licenses. our teams version does not show channel moderation feature is it discontinued or I need to make some changes to the setting ?

Regards
AK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 097ecd40-1157-98ae-f438-96f9208afc03
* Version Independent ID: ea36ff93-46dc-920d-8

[2020-03-12 05:43] neilwithdata opened #4140 "Very confusing"
I'm still finding the description of permissions and how they interact quite confusing. For example, the "Org-wide custom app setting" is described as "This setting overrides the user and team custom app policy and setting" but when you look at the summary table that's clearly not the case. This setting does not _override_ the other settings. When it's On there are still situations where the user

[2020-03-12 07:20] graugans commented on #3592
@scanum unfortunatly I can not reopen the issue. Only _organisation-members/contributors/people-with-write-access-to-repo/something-similar_ have the ability to reopen issues. The best place to put this information I do see at the moment is: https://docs.microsoft.com/en-us/microsoftteams/get-clients#linux Or: https://docs.microsoft.com/en-us/microsoftteams/known-issues#linux

It seems it is my fa

[2020-03-12 08:51] suoko opened #4141 "MS teams live events: switch from attendee to presenter"
I recently used a live event in teams and, in order to let an attendee speak to raise a question, I invited him as a presenter.
The problem was that the user didn't stop the stream he was watching, causing an echo effect.
It would be nice to have teams manage natively the switch, like, select the attendee and make him temporarly a presenter

[2020-03-12 10:30] Larryngolog commented on #3390
Thank you for your help.

[2020-03-12 12:25] Scott-som commented on #3918
On the page https://docs.microsoft.com/en-us/microsoftteams/rooms/with-office-365 is a link to a powershell script SkypeRoomProvisioningScript.ps1 which is not signed can causes some run issues.

[2020-03-12 14:28] LanaChin commented on #3895
@Tonysmit - I don't recall doing or updating an article on Canadian rate centers.

[2020-03-12 14:43] GitHokie commented on #3735
@dstrome @scanum I'm also interested in this if you have any more documentation. Thanks

[2020-03-12 14:59] LanaChin commented on #3916
Looking into this.

[2020-03-12 15:05] LanaChin commented on #3572
Looking into this.

[2020-03-12 15:07] LanaChin commented on #4019
Looking into this.

[2020-03-12 15:08] LanaChin commented on #3571
Looking into this.

[2020-03-12 15:12] LanaChin commented on #3265
Looking into this.

[2020-03-12 15:19] dotwhat commented on #4128
the link should be: https://www.microsoft.com/en-us/microsoft-365/blog/2020/03/05/our-commitment-to-customers-during-covid-19/

[2020-03-12 15:46] LanaChin commented on #3997
@sohailita - can you help?  thank you.

[2020-03-12 15:55] N8dog021 opened #4142 "Clarity on 'how long does it last' for non-EA customers"
So if a customer does not have an EA, rather CSP or direct subscriptions, what exactly determines "or renewal on or after January 2021" because they could have multiple renewal dates for various products... is it the earliest renewal for product that contains paid Teams?  Or furthest out renewal date? or something else that determines when the Team Exploratory ends?

---
#### Document Details

⚠ *

[2020-03-12 16:06] jfranki commented on #4142
Yes, please, we need to know where can we find the expiration date as our migration to Office 365 will not be completed until months from now.

[2020-03-12 16:07] Larryngolog opened #4143 "What does the "allow anonymous users" switch really do?"
Based on description the "Allow anonymous users to join meetings" switch just disables unauthorized users to join. But based on my experience it also disables signed in users that are not part of organizers AAD. What is the expected behavior of this switch? Will it allow blocking access of external users as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-12 17:22] shashank1320 commented on #3390
Yet to ant any response on this customization requirement.

[2020-03-12 17:58] pyoungberg commented on #3909
@scanum I'm not seeing a push to the article with the changes, is it pending approval?

[2020-03-12 18:02] LanaChin commented on #3916
Hi @SDkempf94 - Currently, you can't get service numbers through the Teams admin center for Nigeria. Please contact the PSTN service desk who will be able to help you out. See this article for contact info: https://docs.microsoft.com/microsoftteams/manage-phone-numbers-for-your-organization/contact-pstn-service-desk.  Thank you.

[2020-03-12 18:02] #3916 closed

[2020-03-12 18:42] timmernet commented on #4073
@MellowYellow85, could you elaborate on the required permissions? We seem to run into the same issue. Account is Global Admin, but no option to create a new Org-wide Team or upgrade an existing Public Team.

[2020-03-12 19:23] tonysmit commented on #4143
It is simply based on whether or not a user is logged into Teams/SFBO or a PIN if a PIN is enabled on the meeting for everyone, not just the organizer. Because it's Audio Conferencing, it one or the other. If a user isn't logged on to Teams/SBO, then they will be prompted for a PIN for the meeting (thus authenticating them). Hope that helps. Let me know. Tony

[2020-03-12 20:13] LanaChin commented on #3571
Hi @mobernberger. The client isn't running on the server. It's running on a VM that's running on the server. Hope that helps to clarify. Thanks!

[2020-03-12 20:13] #3571 closed

[2020-03-12 21:46] tonysmit commented on #3539
@Scanum For information on determining the licensing needs to implement features for security and compliance, please review Licensing for Office 365 or Microsoft 365.  Here is the link for the Microsoft 365 link text: http://download.microsoft.com/download/8/7/7/877B1713-671E-43AA-BB79-AF8478C64AFF/Licensing-Microsoft-365.pdf  Thanks. Tony

[2020-03-12 21:54] SunManMSFT opened #4146 "Please info on how Microsoft Teams MSI package works for "Existing User Profiles"?"
The doc doesn't talk about how it works for existing user profiles under "PC installation" section for topic "How the Microsoft Teams MSI package works". Request to add that information as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version Independent ID: 86172986-6cc8-ee

[2020-03-12 23:49] htu-mark commented on #4125
Issue was related to UAC prompt being enabled in Intune Device Configuration. For some reason, Microsoft has Teams running in admin mode during install unlike when installing Office apps, Visio, Project, Adobe Reader, or any other app we have being installed.

[2020-03-13 00:33] LanaChin commented on #4019
Hi @JAK1047  - Thanks for your feedback and helping us improve our docs.  Both the installer links are now updated (to 1.300.4461).  FYI @dariomws .

[2020-03-13 00:33] #4019 closed

[2020-03-13 02:54] scanum commented on #4138
@officeglobal Hi! Could you please help us out on this issue? Thanks!!

[2020-03-13 02:55] scanum commented on #4139
@akpasha thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-13 02:55] #4139 closed

[2020-03-13 03:06] kea-ven opened #4148 "It would be great if your team knew anything about this"
I have spoken to around 12 people over the past 3 days from Microsoft and partners trying to get this offer. NOBODY has heard of it and keep getting passed off to someone else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779619a7-95a8-c775-0538-4f07abb7067e
* Version Independent ID: cf930116-3d9d-2075-5291-f819cb17a

[2020-03-13 03:09] scanum commented on #4140
@neilwithdata Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-13 03:09] scanum commented on #4141
@suoko thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-03-13 03:09] #4141 closed

[2020-03-13 03:10] scanum commented on #4142
@N8dog021 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-13 03:10] #4142 closed

[2020-03-13 03:10] scanum commented on #4146
@SunManMSFT Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-13 03:13] scanum commented on #4148
@kea-ven thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-13 03:13] #4148 closed

[2020-03-13 03:25] scanum commented on #3539
@Reeced40 @lindspea

[2020-03-13 03:27] scanum commented on #3604
@neilmallon Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-03-13 03:27] #3604 closed

[2020-03-13 03:32] scanum commented on #3851
@MicrosoftHeidi Any updates on this? Thanks!

[2020-03-13 03:34] scanum commented on #3867
@tonysmit could you kindly help us to get this information? Thanks!

[2020-03-13 07:15] Reeced40 commented on #3799
@OfficeGlobal Please check, English version is reading correctly.

[2020-03-13 07:19] Reeced40 commented on #3800
@OfficeGlobal Please check, English version is reading correctly.

[2020-03-13 07:20] Reeced40 commented on #3797
@OfficeGlobal Please check, English version is reading correctly.

[2020-03-13 07:22] Reeced40 commented on #3798
@OfficeGlobal Please check, English version is reading correctly.

[2020-03-13 07:23] Reeced40 commented on #3801
@OfficeGlobal Please check, English version is reading correctly.

[2020-03-13 09:10] coco6969 opened #4151 "Teams Admin Center - Devices not Showing"
"As an admin, you can manage devices used with Teams in your organization from the Microsoft Teams admin center. You can view and manage the device inventory for your organization and do tasks such as update, restart, and monitor diagnostics for devices."

"You can manage any device that's certified for, and enrolled in, Teams. A device is automatically enrolled the first time a user signs in to T

[2020-03-13 09:31] TokyoScarab commented on #3581
@tonysmit Being the page author for this piece of documentation, I feel you might have a more detailed knowledge about this issue that could prove to be helpful.

[2020-03-13 11:09] oksanaMS commented on #4128
The link is still broken, it was working yesterday. What’s happening? Customers are using this page, this is very important.

From: Manuela Scanu <notifications@github.com>
Sent: 12 March 2020 02:09
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Oksana Meleshykhina <oksana.meleshykhina@microsoft.com>; Mention <mention@noreply.github.com>
Subject:

[2020-03-13 12:10] MrHinsh opened #4153 "Links"
It would be very useful to have the links to the features described in the content. I cant find the Teams Admin URL without going through the Office 365 admin portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9f904e5-d015-70b0-b809-9b0b62931ab5
* Version Independent ID: aa59fcc6-0a6d-c82f-6b5e-ffb85e08ea8a
* Cont

[2020-03-13 13:06] dotwhat commented on #4128
#4154

[2020-03-13 14:34] blyakhmanv commented on #3856
@dariomws  Could you please provide an update?

[2020-03-13 14:47] ashmsport opened #4155 "Channel Moderation Options Like Who Are Moderators Missing"
The only option in Channel Settings is:
Permissions
Set channel moderation preferences
General Channel:
Anyone can post messages
Anyone can post; show alert that posting will notify everyone (recommended for large teams)
Only owners can post messages
_______________________________________________________________________________________________________________________________________
I'm seeing th

[2020-03-13 15:11] David-COP opened #4156 "Issue with SRS processing XML"
Hello, I am working on creating a PS script for changing the password to our rooms remotely. I have created a script that is able to build the XML and write it to the correct location on the Room PC, on reboot it is however not changing the password. Is there anywhere you can check the logs to see why this was not processed?

Here is the SkypeSettings.xml that was used:
&lt;SkypeSettings&gt;
    &

[2020-03-13 15:11] LanaChin commented on #3572
Hi @Coldry - Thanks for your inquiry. I received info that currently, PowerShell cmdlets are not supported for actions on this page.

[2020-03-13 15:11] #3572 closed

[2020-03-13 15:14] rjagiewich commented on #3517
@RamlingaReddy and @scanum  - Per @ruizoscar, we updated the page you referenced to state that audio conferencing isn't available in India. The content should be live shortly. I'm closing this issue now. Thank you for bringing this to our attention!

[2020-03-13 15:14] #3517 closed

[2020-03-13 15:36] AlexHill90 opened #4157 "Page is OUTDATED"
Hi, the page has not been changed in 6 months. E.g. some features are evidenced as 'coming soon'. . . well they arrived e.g. guest/federated according to UV: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/36613579-guest-presenter-in-team-live-event-meeting

please update the table

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegam

[2020-03-13 16:35] LanaChin commented on #3997
Looking into this

[2020-03-13 16:36] LanaChin commented on #3602
Looking into this

[2020-03-13 16:36] LanaChin commented on #3412
Looking into this.

[2020-03-13 18:47] tonysmit commented on #3581
@TokyoScarab - I've been out of the content side for a while. I do probably have additional information, but things change very quickly. I've added the PM to see if he can help with this.

@ruizoscar - can you answer their question here please?

[2020-03-14 00:25] TokyoScarab commented on #3612
@LolaJacobsen Do you think that the changes made above would necessitate any changes to the poster in question?

[2020-03-14 03:07] MellowYellow85 commented on #4073
Oh, that's a bummer. I was under the impression that this would be available under global admin rights, which is the only role/permission I don't have.

Bummed to hear that your global admin can't see it either.

[2020-03-14 10:08] RobFullerGBHS commented on #987
@scanum why is this closed? This is still an issue support are unable to help with.

[2020-03-14 10:19] VLG17 commented on #4043
@Canis-Lupis Since Teams [is included](https://docs.microsoft.com/en-us/deployoffice/teams-install) in Office ProPlus, and [Office Pro Plus is supported on Windows Virtual Desktop](https://www.microsoft.com/en-us/microsoft-365/blog/2019/09/30/windows-virtual-desktop-generally-available-worldwide/), i would say that Teams is supported on Windows Virtual Desktop.

[2020-03-14 14:43] timmernet commented on #4073
Quick update on my personal issue, I got it working. It took 24h to sync
new global admin role to my account. After that the option to create
org-wide team was available

Op za 14 mrt. 2020 04:07 schreef MellowYellow85 <notifications@github.com>:

[2020-03-14 15:00] dariomws commented on #4137
Hi @giterdn, thank you for your feedback.

That was updated/fixed on March 10.

[2020-03-14 16:13] mgcharumilind opened #4161 "bad urls"
There is a bad urls in the customer success kit in the end user communication folder, in Countdown template at the second (youtube) video link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdf3243-40dc-708c-cefc-8be68491a3be
* Version Independent ID: 0fc81593-de9a-c453-4a1c-ec1ebbfe2ecf
* Content: [Support remote wor

[2020-03-14 16:18] mgcharumilind opened #4162 "Reference doesn't exist"
The page references a Your First Day in Teams email in the Customer Success Kit, but there isn't any such email template included in those files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdf3243-40dc-708c-cefc-8be68491a3be
* Version Independent ID: 0fc81593-de9a-c453-4a1c-ec1ebbfe2ecf
* Content: [Support remote w

[2020-03-14 18:08] HiroTsukamoto opened #4163 "Non-English Language setting will not be set in Stream side for Stream Auto Caption future"
When Teams web conference is recorded, Stream always gives "English auto caption".
I will not setup any language setting for the video, now user manually needs to setup non-English language
on Video edit page on Stream web.
If Spanish user records the web conference, the stream should show Spanish auto-caption as default without any manual operation.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 doc

[2020-03-14 18:31] VLG17 commented on #4044
@DanBaumgartner In the title you ask about the maximum number of Teams a user can be a member of. That's 1000 acording to [this article](https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams).

There is no public limit specified about the maximum number of Office 365 groups a single user can be an owner of. Keeping in mind that a user can be promoted to owner if he's a member

[2020-03-14 18:43] VLG17 commented on #4047
@ucgeek I checked in my tenant and the settings are still there. Are you seeing something different?

![image](https://user-images.githubusercontent.com/41186174/76688327-69f1ac80-6634-11ea-8cb4-c008e3709cd5.png)

[2020-03-14 23:57] MellowYellow85 commented on #4073
Thanks, I guess that answers that. I need to get global admin rights... which I'm not sure I want. Seems excessive. If you're a Teams admin, you should have this.

[2020-03-14 23:57] #4073 closed

[2020-03-15 18:48] davidplesinger commented on #3920
I'm just testing - now have open relation for 6 hours and it is still running - what amazing! (and still recording!)

[2020-03-15 21:58] bucketspodge commented on #987
I believe they closed it early but you can now set up policies to automatically assign to groups/security groups using powershell.
https://docs.microsoft.com/en-us/microsoftteams/teams-policies
They should have provided this information before closing it down.

[2020-03-15 22:05] RobFullerGBHS commented on #987
@bucketspodge that's a cheat as it's pulling users from a group and using ForEach-Object command to apply at a per user level.
Certainly wouldn't do it automatically if this command wasn't running periodically.

[2020-03-15 22:09] bucketspodge commented on #987
@RobFullerGBHS my apologises I did grab the wrong link. I believe this is the one I was thinking of.
https://docs.microsoft.com/en-us/microsoftteams/assign-policies

[2020-03-15 22:11] RobFullerGBHS commented on #987
@bucketspodge New-CsGroupPolicyAssignment looks interesting thanks for the link!

[2020-03-15 22:13] bucketspodge commented on #987
@RobFullerGBHS No problem, I'm still trying to work out the rankings for my workplace and will then test it myself but looks hopeful.

[2020-03-15 23:12] smnbldwn commented on #4155
I don't see these options just:

"Permissions
Set channel moderation preferences
General Channel:
Anyone can post messages
Anyone can post; show alert that posting will notify everyone (recommended for large teams)
Only owners can post messages"

Why can't I enable moderation, this is a tool for schools for goodness sake! Why is it so hard. This should be enabled by default in Teams for education,

[2020-03-16 01:27] ichkoj commented on #4142
open ticket with support..?! Seriously, what makes you think he will get reply in the next 3 weeks? Lets try your resources instead!

[2020-03-16 01:29] ichkoj commented on #4067
@scanum honestly whats your purpose here? Do you actually get paid to do that?

[2020-03-16 04:56] scanum commented on #4151
@coco6969 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:56] scanum commented on #4153
@MrHinsh Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:56] scanum commented on #4155
@ashmsport Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:58] scanum commented on #4156
@David-COP Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:59] scanum commented on #4157
@AlexHill90 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:59] scanum commented on #4161
@mgcharumilind Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:59] scanum commented on #4162
@mgcharumilind Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 04:59] scanum commented on #4163
@HiroTsukamoto Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-16 07:36] JensTrier opened #4166 "How to become Enterprise Voice enabled"
Throughout this page we talk about the need to be Enterprise Voice enabled and also discuss various ways to do that. However not all statements are correct. I suggest we create a specific doc page on how to enable users for Enterprise Voice and then link to that page from all other doc pages that needs this info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-16 08:17] Petri-X commented on #468
@CorbinMeek
Here is screen capture from Win10 machine;
![image](https://user-images.githubusercontent.com/43988151/76730668-66f5d980-6764-11ea-820a-a61aab62d994.png)

And on the same machine:
![image](https://user-images.githubusercontent.com/43988151/76730692-75dc8c00-6764-11ea-8cd1-962907f731cc.png)

The module I'm installing is: SkypeOnlinePowerShell - Ver. 2046.123.exe

IF you e.g. go to the d

[2020-03-16 11:56] MurtazK opened #4168 "Additional Information Required"
How do you contact a Microsoft Account Representative and how long does it take to receive the promo code? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779619a7-95a8-c775-0538-4f07abb7067e
* Version Independent ID: cf930116-3d9d-2075-5291-f819cb17a234
* Content: [Manage the free Office 365 E1 Trial - Micro

[2020-03-16 13:40] Reeced40 commented on #3831
@bf80 Hi there. Thank you for reaching out to improve MS Docs. Could you please point out which article you're referring to, as there is no article in the body?

[2020-03-16 13:47] Reeced40 commented on #3820
@MySkypeLab Hi there, thank you for reaching out. The problem seems to have been fixed in the interim. Could you please confirm. Thanks.

[2020-03-16 14:06] bf80 commented on #3831
@Reeced40 The article was https://docs.microsoft.com/en-us/microsoftteams/teams-for-vdi#install-or-update-the-teams-desktop-app-on-vdi, but the links at "Deploy the Teams desktop app to the VM" has been changed and now pointing to https://statics.teams.cdn.office.net/production-windows-x64/1.3.00.4461/Teams_windows_x64.msi

[2020-03-16 14:57] codelux commented on #3576
Hello @CarolynRowe ,

SSL.com will be included in the March 20 sprint per the email below:

[code]
Can we reopen this and do the merge after March 20?

[2020-03-16 16:19] ucgeek commented on #4047
I don't have access to the customer tenant I was originally looking for it in. However, I do see it in another tenant. Not sure how I could have missed it!! Consider it closed, thanks for taking a look.

[2020-03-16 16:19] #4047 closed

[2020-03-16 17:46] jasonwmartin commented on #4148
We (Partners) need more info on this!  Same as @kea-ven, I've spoke now with multiple different people including my supplier Ingram Micro whom I'm setup as a CSP and they said it's not available for partners/CSP.  I opened a ticket through the admin.microsoft.com and they're just copying/pasting this article as reference...at this point, I don't any has clue.  It's a noble gesture from Microsoft b

[2020-03-16 18:27] jasonwmartin opened #4170 "Opposite info...which one is correct?"
On this page, it says:
"This offer is intended for customers managed by a Microsoft account rep."

On this page, Corporate VP for Microsoft 365 Jared Spataro says:

"Contact your Microsoft partner or sales representative to get started today."

Is this available for customers through Microsoft Partners or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-03-16 20:51] ComputerHabit opened #4171 "The commands do not work"
I cannot get the commands for changing dial out restrictions to work.

Grant-CsDialoutPolicy -PolicyName 'tag:DialoutCPCandPSTNDomestic' -Identity 'user.identity@domain.com'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 305a21ef-6e99-3f0d-99a0-990489a93715
* Version Independent ID: 5edc67ee-0d68-50a3-fafd-f764d8762fa5

[2020-03-16 21:02] CarolynRowe commented on #3576
I will check with Nikolay.

[2020-03-16 21:04] NMuravlyannikov commented on #3576
@CarolynRowe @FilippSe will add once we have the support of SSL,com in production

[2020-03-16 22:41] Adithya-copart opened #4172 "Profile picture mismatch, missing metadata"
**Environment:**

`You have Microsoft Teams Version 1.3.00.362.` in a Mac.

**Issues:**
- Profile photo mismatch when viewing the tile of another user.
- No name/picture in a message thread. _(In a colleague's system with a similar setup.)_

**Resolution:**

A reboot of the application did not help.  The issue is fixed after running `rm -rf ~/Library/Application\ Support/Microsoft/Teams` and then

[2020-03-16 22:54] bhughesPND opened #4173 "Using both guest accounts and O365 accounts"
A client sent me a guest invitation, which I can access as a guest. From the guest account, there's a drop-down menu to return to my company's O365 Teams. There's no similar menu in the internal one to return to the guest. Since I used the same email address, logging in to teams always takes me to my company account. So the only way I can seem to return to the guest account is to find the email an

[2020-03-16 23:50] Larryngolog opened #4174 "Access of Microsoft to data"
Is this statement "Microsoft doesn’t have access to uploaded content" accurate? Microsoft engineers under very specific and regulated conditions can get access to uploaded content in order to provide uninterupted service - troubleshooting, etc + to address subpoemas.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca579

[2020-03-17 05:03] jackhammer84 opened #4175 "Link to "Compliance Framework for Industry Standards and Regulations" in section "Compliance standards" leads to a 404."
As per title above. Here is the mentioned section: https://docs.microsoft.com/en-us/microsoftteams/security-compliance-overview#compliance-standards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca579d63-182b-d6f5-8777-79248fa27ed9
* Version Independent ID: b4c27d1b-b2f1-41ac-b15c-d12b448a539e
* Content: [Overview of

[2020-03-17 05:09] JohnHarach commented on #4155
This is due to you attempting to change this setting on the General channel. This unfortunately does not work.

Please try on any other manually created channel.

[2020-03-17 07:45] awf commented on #3995
You do not need the original poster's interaction in order to fix this.  The original message is sufficient.  This line needs expanding to include Worldwide Sku: "
The exception to this change is Microsoft Teams for Education (EDU)"

[2020-03-17 08:28] kailashkalyani opened #4177 "Reporting on call queues"
There seems to to almost no information on this topic. Would you please include links to resources or articles covering this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b755d9ae-13ac-019f-f5f4-a95b1eee2989
* Version Independent ID: f7afd8ad-e6e0-6c79-aed1-4ee87d48ba12
* Content: [Create a call queue - Microsoft Tea

[2020-03-17 08:48] Reeced40 commented on #3871
@GiantCrocodile Thank you for reaching out to improve MS Docs. I'm currently investigating this.

[2020-03-17 08:49] Reeced40 commented on #3975
@norman-v Thank you for your feedback. I'm currently investigating this.

[2020-03-17 10:07] coco6969 opened #4178 "How to avail PROMO CODES?"
Who are the "Microsoft account rep" or "Microsoft Partners" mentioned here? The partners themselves don't know how to get the promo code for their clients. Please provide clearance and guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779619a7-95a8-c775-0538-4f07abb7067e
* Version Independent ID: cf930116-3d9d-2

[2020-03-17 11:55] G0B1IN5486 opened #4179 "Uninstallation Procedure Incomplete"
The uninstall procedure recommends uninstalling using a PowerShell script but does not go into more detail or even include a link to the script. Where is the script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version Independent ID: 643bcf2f-507b-e449-73db-923d8a368ad9
* Conte

[2020-03-17 12:28] jamie999x commented on #4128
Will the EOL for 1709 be extended due to the outbreak?

[2020-03-17 13:12] OfficeGlobal commented on #4138
Working on a fix

[2020-03-17 13:18] OfficeGlobal commented on #3614
Working on a fix

[2020-03-17 13:32] OfficeGlobal commented on #3569
@TomoharuMisawa I'm not sure what is exactly wrong, is the trouble with translation or the issue is in source (en-us) article related to Chrome support?

Thank you

[2020-03-17 13:50] OfficeGlobal commented on #3797
Working on a fix
Note: article redirected to https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/rooms-plan

[2020-03-17 13:50] OfficeGlobal commented on #3798
Working on a fix
Note: article redirected to https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/rooms-plan

[2020-03-17 13:52] OfficeGlobal commented on #3799
Working on a fix
Note: article redirected to https://docs.microsoft.com/cs-cz/MicrosoftTeams/rooms/rooms-lifecycle-support

[2020-03-17 13:53] OfficeGlobal commented on #3800
Working on a fix
Note: article redirected to https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/rooms-release-note

[2020-03-17 14:18] 24mu13 opened #4180 "How to convert a Team group to Office 365 group?"
Is possible to convert an existing team group to a more extended Office 365 group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43a2187e-570d-f235-3536-69df8eaa906a
* Version Independent ID: da949f22-1617-c737-d5a4-5c51704443e8
* Content: [Enhance existing Office 365 groups with Microsoft Teams - Microsoft Teams](htt

[2020-03-17 14:35] LAPSTEC commented on #4178
Aqui no Brasil também estamos tendo esse dilema, não sabemos como prosseguir.

[2020-03-17 15:13] haleyhackendale commented on #3367
@Moun-surfer and @moegitree - the way I interpreted the documentation was that Active User represents someone who is active in any Team within your broader enterprise ecosystem of the MS Teams application. Not necessarily active in your channel. I struggle from the same thing trying to report engagement for a group within my company who all are in one Team (with our broader enterprise ecosystem of

[2020-03-17 15:36] Matthew-Lyle opened #4181 "Unable to obtain Windows 10 Enterprise version 10.0.18362.356"
Hi, we are unable to obtain Windows 10 Enterprise version 10.0.18362.356 from our VLSC account.  instead we can only get the latest i.e. 10.0.18362.720.
Could you please update the  CreateSrsMedia.ps1 script to use this latest version, or help us in obtaining the previous version of Windows 10.

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-03-17 15:36] sgtdonny commented on #4180
Your question is confusing. A Team is based on an Office 365 group. Only the other way around is possible, a standalone Office365 group.

[2020-03-17 15:37] Matthew-Lyle commented on #4181
*didnt clarify, the script specifically wants version 10.0.18362.356 and wont accept older or newer versions that we have to hand.

[2020-03-17 15:43] sgtdonny opened #4182 "Script doesn't work"
This script could not connect the users that are prepared on the auxiliary script.

AADSTS90002: Tenant 'authorize' not found. This may happen if there are no active subscriptions for the tenant. Check to make sure you have the correct tenant ID. Check with your subscription administrator.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.micr

[2020-03-17 15:44] haleyhackendale opened #4183 "Measuring User Engagement within 1 Single Team in an Enterprise"
Hi,

I am managing 1 Team within my global enterprise of 30,000 users and *many* separate Microsoft Teams. I need to measure user engagement with my 1 single team, to report on "community activity."

Whether I look at the Analytics tab in the Teams application, or get my IT team to look at the Reports in Admin Center, either way it is still vague. It will tell me the number of Active Users in my T

[2020-03-17 15:56] weyCC81 opened #4184 "Related Powershell Commands"
As the Teams Web GUI is not working at the moment, I am missing the related PowerShell commands in this documentation.
* Enable and Disable External Access (not Guest Access)
* Editing Allow or Blocked Domains

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID:

[2020-03-17 16:29] brazilianthunder opened #4185 "Commercial MSI files"
The link to both commercial MSI files download files that end with .msi.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version Independent ID: 86172986-6cc8-eee5-1309-704d9de0dcd0
* Content: [Install Microsoft Teams using MSI via Microsoft Endpoint Configuration Manager - Micr

[2020-03-17 16:50] viksd opened #4186 "Mac Teams App won't display new chat messages on Chat tab"
If a message is received from a sender that you have not previously conversed with, a notification is received but a new conversation is not created in the Chat's tab.

The web application does create a new chat conversation and works as expected. See the screenshot for the same account signed into the Mac app as well as the web app. The web app shows newers chats that aren't displayed on the Mac

[2020-03-17 17:14] TomoharuMisawa commented on #3569
The browser support table states that Chrome is fully supported, but isn't the system audio output supported by the browser?

[2020-03-17 18:38] banesend opened #4187 "The Powershell command to get users based on skuid is mistyped."
$faculty = Get-AzureADUser -All $true | Where-Object (($_.assignedLicenses).SkuId -contains "e97c048c-37a4-45fb-ab50-922fbf07a370")
should be
$faculty = Get-AzureADUser -All $true | Where-Object {($_.assignedLicenses).SkuId -contains "e97c048c-37a4-45fb-ab50-922fbf07a370"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-17 18:53] Elecktrus opened #4188 "Powershell or Graph API available?"
Is it possible to get this information about Call Quality using powershell or programmatically with Graph?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9374347d-42cb-4955-6eac-3efd04eef66d
* Version Independent ID: 985dbd00-b456-13c3-5928-b423084d3a87
* Content: [Monitor and troubleshoot Direct Routing - Microsoft Te

[2020-03-17 19:27] banesend opened #4189 "How does one set the TeamsMeetingPolicy back to default using this?"
I attemtped to pass -PolicyName $null and it throws an invalid policyname error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fe8cc5e-0f33-d33a-6765-a3f3a33f1522
* Version Independent ID: 13cc4718-4967-695d-cd07-13c3021d8682
* Content: [Assign policies to large sets of users in your school - Microsoft Teams](https:/

[2020-03-17 19:35] olwigs opened #4190 "Video links are broken"
Video links are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e640245-6d25-2165-3792-9bb386a73184
* Version Independent ID: 28951938-7e00-16fd-c216-a569ba94b041
* Content: [Videos - Audio Conferencing in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/audio-conferencing-video

[2020-03-17 23:01] banesend commented on #4189
Global also shows Invalid PolicyName

[2020-03-18 00:12] adyst opened #4194 "Limits for tags not explicitly called out"
Can limits for tags (not default tags, which is called out) be explicitly called out? Trying to figure out if it's limitless or not.  I see a limit of 25 under default tags, but it's unclear if this extends to all tags.

It may belong in this document, as well: https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-03-18 00:59] Yoeeee opened #4195 "Teams Exploratory- Failed to upload file attachment"
It is confusing that based on the licensing there is a default 2gb personal storage for file attachment but then every time we try to attach a file we receive an error.

Based on my understanding for you to attach a file you should have a onedrive or any cloud related storage. Correct me if im wrong.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-03-18 01:14] Yoeeee opened #4196 "Teams - Upload file failed"
It is confusing that based on the licensing side by default there is a 2gb cloud storage for file attachment. But every time we try to attach a file we receive an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f897ae9b-852a-b617-7de0-d76dbd9f1820
* Version Independent ID: 161b1845-53fd-8912-a5f9-737d3bcdaadc
* C

[2020-03-18 07:18] scanum commented on #4166
@JensTrier thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-18 07:18] #4166 closed

[2020-03-18 07:18] scanum commented on #4168
@MurtazK thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-18 07:18] #4168 closed

[2020-03-18 07:19] scanum commented on #4171
@ComputerHabit thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-03-18 07:19] #4171 closed

[2020-03-18 07:19] scanum commented on #4172
@Adithya-copart thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-03-18 07:19] #4172 closed

[2020-03-18 07:19] scanum commented on #4173
@bhughesPND thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-18 07:19] #4173 closed

[2020-03-18 07:20] scanum commented on #4180
@24mu13 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-03-18 07:20] #4180 closed

[2020-03-18 07:20] scanum commented on #4183
@haleyhackendale thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-03-18 07:20] #4183 closed

[2020-03-18 07:20] scanum commented on #4186
@viksd thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-03-18 07:20] #4186 closed

[2020-03-18 07:20] scanum commented on #4188
@Elecktrus thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-03-18 07:20] #4188 closed

[2020-03-18 07:21] scanum commented on #4189
@banesend thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-18 07:21] #4189 closed

[2020-03-18 07:21] scanum commented on #4196
@Yoeeee thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-03-18 07:21] #4196 closed

[2020-03-18 07:21] scanum commented on #4195
@Yoeeee thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-03-18 07:21] #4195 closed

[2020-03-18 07:21] scanum commented on #4170
@jasonwmartin Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:21] scanum commented on #4174
@Larryngolog Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:22] scanum commented on #4175
@jackhammer84 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:22] scanum commented on #4177
@kailashkalyani Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:22] scanum commented on #4178
@coco6969 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:22] scanum commented on #4179
@G0B1IN5486 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:23] scanum commented on #4181
@Matthew-Lyle Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:23] scanum commented on #4182
@sgtdonny Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:23] scanum commented on #4184
@weyCC81 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:23] scanum commented on #4185
@brazilianthunder Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:23] scanum commented on #4187
@banesend Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:23] scanum commented on #4190
@olwigs Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 07:23] scanum commented on #4194
@adyst Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-18 08:10] weyCC81 commented on #4184
Part 1:
Enable and Disable External Access (not Guest Access)
= Get-CsTenantFederationConfiguration

[2020-03-18 09:46] skest3qc opened #4199 "Teams Machine Installer with ALLUSER=1 is not installing TeamsPresence status for ALL users in Outlook"
Hi,
we are using Teams Machine Installer with parameter ALLUSER=1 to perform a VDI installation.
Everything is working except Outlook presence status. After troubleshooting this i can see that the installer is creating several keys for the account which is running the setup for Microsoft Teams. These keys are going to HKEY_CURRENT_USER key and are only working for the logged on user, they should g

[2020-03-18 11:53] ComputerHabit commented on #4171
Maybe in the docs mention that changes are not reflected for hours after running the command?

________________________________
From: Manuela Scanu <notifications@github.com>
Sent: Wednesday, March 18, 2020 2:19:26 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: David L Jenkins <david@computerhabit.net>; Mention <mention@noreply.github.com>
Sub

[2020-03-18 12:49] adagioajanes opened #4200 "Collaboration Bars?"
What on earth is a Collaboration Bar? I did a web search for it, and can't find anything describing what it is...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5d65acb-f012-b05d-c871-69b8f187e537
* Version Independent ID: 06710d00-f076-11c4-3f69-cfd979c5554a
* Content: [Manage devices - Microsoft Teams](https://docs.

[2020-03-18 13:40] adrianwells opened #4201 "Skype for Business PowerShell module is required"
Please add notes that the Skype for Business PowerShell module is required for these cmdlets. Suggest referencing a URL link https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-skype-for-business-online-with-office-365-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb395f1-fce4-2d64-c66e

[2020-03-18 13:49] vseven commented on #4178
Would love to sign up for this but I contacted a rep at Microsoft.  They said I needed to contact my reseller (CDW).  Contacted CDW and they have no idea how to get any codes.  Can someone provide some guidance?

[2020-03-18 15:31] codelux commented on #3576
great, thank you!

[2020-03-18 16:03] Mlavieri opened #4202 "What's new in the Help section of the Teams app points to a page that cannot be found"
When navigating to What's new in Teams the page shows an error that the page cannot be found.

![image](https://user-images.githubusercontent.com/1187519/76980895-c5a78880-6907-11ea-99db-b9a7d2f8bb00.png)

I believe the page should point here: https://support.office.com/en-us/article/what-s-new-in-microsoft-teams-d7092a6d-c896-424c-b362-a472d5f105de

---
#### Document Details

⚠ *Do not edit this

[2020-03-18 16:06] LanaChin commented on #3312
Change merged. Thanks.

[2020-03-18 16:06] #3312 closed

[2020-03-18 17:49] dariomws commented on #4126
Hi @Petri-X, thank you for your feedback.

I removed the NOTE, you must follow these instructions:
"with the correct value as described in [Required administrative credentials](https://docs.microsoft.com/skypeforbusiness/hybrid/move-users-between-on-premises-and-cloud#required-administrative-credentials)"

[2020-03-18 18:51] dariomws commented on #4122
Hi @davmin, thank you for your feedback.

I have verified and *-CsMeetingRoom cmdlets are available in the Skype for Business Online PowerShell module.

You need to run these steps for a Teams only tenant too.

[2020-03-18 19:00] kevincallanan commented on #3312
Shouldn't the example SQL update have the subnet set to 24 not 32?
This is the example given:
VALUES ('172.16.254.0',32,0,1,'2015-11-11')

but it should be VALUES ('172.16.254.0'**_,24_**,0,1,'2015-11-11') as 32 would mean only a single Host not the full class C

[2020-03-18 19:32] itbland opened #4207 "Is 1:1 or 1:N Guest eDiscovery possible and how is it done?"
At the end of closed issue #1846, @jgoakley asked:

Please answer! Thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 840dd36b-8c29-9738-4adc-ea9a7d277fd0
* Version Independent ID: b12c43c3-ed81-ace5-dfeb-77cac0f97fe9
* Content: [Conduct an eDiscovery investigation of content in Microsoft Teams - Microsoft Teams](http

[2020-03-18 20:17] dariomws commented on #4117
Hi @matudose, thank you for your feedback.

Could you kindly elaborate your suggestion in more detail? Thanks!

[2020-03-18 20:42] geektbee opened #4208 "Reports Not Showing for Teams Communications Admin"
This article states that a "Teams Communications Admin" should be able to see Reports. We have a user with this role, but is unable to see reports. I'm assuming that's because the article is providing data that once was true, but is no longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78ade1a4-092c-1132-44df-ee2c6

[2020-03-18 20:54] dariomws commented on #4112
Hi @patrichard, thank you for your feedback.

Are you still experiencing this issue? Could you provide the link?

Thanks!

[2020-03-18 20:58] dariomws commented on #4113
Hi @guija, thank you for your feedback.

@OfficeGlobal could you kindly help? This link shouldn't be translated. Thanks!

[2020-03-18 21:06] #4128 closed

[2020-03-18 22:23] jantoney opened #4210 "Incorrect menu option for Billing"
The following path is not valid under the New Admin Center experience
"You can also see information about pricing by signing in to the Microsoft 365 admin center and going to Billing &gt; Subscriptions &gt; Add subscriptions."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52a9779-b72d-dea0-eac2-6c04a8c282eb
* Version

[2020-03-18 22:23] jantoney commented on #4210
It should be

Billing > Purchase Services

[2020-03-18 22:45] franklesniak commented on #3412
One person's opinion, but: if Microsoft supports Surface Pro hardware, then it's supported and should stay listed as such.

[2020-03-18 22:49] franklesniak opened #4211 "Surface Pro Dock Requirement is Misleading"
Hello, I read the following text:
"One of the following docking station options to secure a tablet to the meeting room table."
And because I'm spinning up a room system at home, I thought: hey, I don't need to secure the tablet to the meeting room table because I don't have a meeting room table. Therefore, I did not purchase a docking station for the Surface Pro.

Fast forward a few days, and I di

[2020-03-19 00:36] StPhil opened #4213 "250 meeting limit - please define"
What’s missing here: what is included in the 250? If a Teams user is logged in with one identity on two devices, it counts as one. If a user is logged in to the Teams meeting and dials in, that’s two. This information should be defined on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809

[2020-03-19 08:05] Akackk opened #4214 "Бесплатная версия (Free version)"
Можно ли получить полный список ограничений и возможностей бесплатной версии?
Сколько человек может принимать участие в одной видеоконференции, какова продолжительность конференций в часах за один раз и в целом в месяц и т.д.
Can I get a complete list of limitations and features of the free version?
How many people can take part in one videoconference, what is the duration of conferences in hours

[2020-03-19 08:06] OfficeGlobal commented on #4113
Working on a fix

[2020-03-19 08:31] i-windows commented on #3735
@dstrome @scanum also interested, I've also discussed it with a fastrack engineer and they are unclear as to why we don't see the calendar in Teams.

[2020-03-19 09:49] AlvagP commented on #4200
I was also wondering about the Collaboration Bars, and after a web search I found some information from Microsoft Ignite. It says:
Your Microsoft Teams Meeting rooms are set for a major upgrade. As part of this year’s Ignite Event, Microsoft announced the arrival of “collaboration bars”, a new selection of devices from Microsoft partners intended to convert huddle spaces into environments for onli

[2020-03-19 10:57] OfficeGlobal commented on #4138
@scanum The article was HumanTranslated, text follows the source

[2020-03-19 10:58] OfficeGlobal commented on #3614
@scanum The article was HumanTranslated, text follows the source

[2020-03-19 11:32] matudose commented on #4117
https://docs.microsoft.com/en-us/microsoftteams/known-issues

Resource Account misconfigured Department | On premise resource Accounts associated with an auto attendant or call queue created before January 2019 might not have the Department parameter set properly, which might cause a phone number assignment to fail. A fix is underway to resolve this issue.Resource Accounts configured using New-CsH

[2020-03-19 12:02] adagioajanes commented on #4200
Very interesting. Excited to see what whats in store for these devices...

[2020-03-19 12:04] adagioajanes commented on #3254
I would also like to see this added. It will make support the experience for external users alot easier.

[2020-03-19 12:41] karatedog commented on #3785
The "Team Discovery" menu is not available for me.

[2020-03-19 12:43] karatedog commented on #3785
"This team is searchable and discoverable." also missing, when creating new teams.

[2020-03-19 14:45] Rani86 opened #4217 "Question&Answer app development using MS Teams"
Hi Team,

As MS Teams is a community feature provided by Office 365 for a closed circle of 5000 members . Can we develop Question and Answer application similar to Quora using MS Teams ?

Thanks,
Rani

[2020-03-19 16:52] metroman976 commented on #4168
You'd have to contact your 'Microsoft solution provider' to get the promo code. Let me know if you need any help.

[2020-03-19 18:00] anwarmahmood1 opened #4221 "does Teams coexistence mode for the user matter? Do they need to be in TeamsOnly mode?"
specifying one way or another could be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-60a2cf999f69
* Version Independent ID: 6878c954-e248-94c2-7602-47437ec7a2dd
* Content: [Plan for live events in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/teams-l

[2020-03-19 18:01] anwarmahmood1 opened #4222 "how long after having the right licences and policies before it activates? Another person commented 24 hours."
Should I expect a delay before activation?  Is this specified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-60a2cf999f69
* Version Independent ID: 6878c954-e248-94c2-7602-47437ec7a2dd
* Content: [Plan for live events in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/micros

[2020-03-19 19:57] CarolynRowe commented on #3935
Please check with @dstrome  or @MicrosoftHeidi

[2020-03-19 19:58] CarolynRowe commented on #3647
Please do not remove until we hear back from the PM.

[2020-03-19 20:30] v-mihwan opened #4223 "Seat Count Confirmation"
Hi, I'm wondering if I could get clarification on the seat count for this offer. It's defaulted to 100 but it states it's available to anyone with an AAD domain. If they buy additional Azure Active Directory Plan 1 licenses will they be able to activate the offer for each of these users?

[2020-03-19 20:53] kelemvor33 opened #4224 ""Teams Discovery" not there?"
Howdy, When I go to: "On the Settings tab, expand Team discovery", I don't have a Team Discovery section for any of the teams that I'm an owner of.  Is there something else I need to turn on to get that setting to show up?
When I go to my Teams Policies, the Discover Private Teams option is ON for our Global policy.
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-03-19 21:15] oouk opened #4225 "Meeting expiration clarification"
Can you please clarify the expiration, is it applied towards the meeting link or is it applied to how long a meeting can be in session for?

https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#meeting-expiration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47

[2020-03-19 21:30] dariomws commented on #4117
Hi @matudose, my apologies I think still don't understand. It's in the article now:
![image](https://user-images.githubusercontent.com/33589238/77116511-11912500-6a0f-11ea-800b-f94910fa6ee3.png)

Are you talking about a hybrid environment? And in this case, instead of run:
Set-MsolUser -ObjectId <id> -Department "Microsoft Communication Application Instance"
They must run:
Set-AdUser -Identity "te

[2020-03-19 21:31] dariomws commented on #4117
@matudose Are you a Microsoft support engineer? Thanks.

[2020-03-19 21:42] matudose commented on #4117
Hi Dario,

You are right, even that article needs to be corrected, I mentioned it hastily and forgot in fact to specify:
Instead of set-msoluser they must run
Get-ADUser -Filter {UserPrincipalName -eq 'testaa@contoso.com'} | Set-AdUser -Department “Microsoft Communication Application Instance”
Get-ADUser -Filter {UserPrincipalName -eq 'testcq@contoso.com'} | Set-AdUser -Department “Microsoft Commu

[2020-03-19 21:43] matudose commented on #4117
Hello Dario,

I am Support Escalation Engineer in the Skype/Teams premier team.

With kind regards / Cordialement,
Matei Tudose
Support Escalation Eng
Unified Communications
Customer Services and Support Working hours: 9-18
Office: +40 (0)311 331 574
Mobile: +40 (0)749 268 982

matei.tudose@microsoft.com<mailto:matei.tudose@microsoft.com>
[cid:image001.jpg@01D5FE48.1FE724C0]
Team Manager | Mirela

[2020-03-19 22:35] testad opened #4228 "Clarify recommended licensing/config for Intune device management"
Hi, I would appreciate if the documentation could include a recommendation on how the room device is expected to be licensed for Intune. This article from the Intune team recommends using a DEM account to AAD join Windows on the MTR for Intune management: https://techcommunity.microsoft.com/t5/intune-customer-success/managing-teams-meeting-rooms-with-intune/ba-p/1069230

This DEM account can be co

[2020-03-19 22:38] iamalexmang commented on #4181
I too am facing the same blocker.

[2020-03-20 00:47] danmyhre opened #4229 "Missing Option"
This section says there is an option to manage users.  This does not exist in the UI
https://docs.microsoft.com/en-US/microsoftteams/create-and-manage-dial-plans#add-users-to-a-dial-plan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451b44cf-961a-5bf5-e4b3-16b96e008dd7
* Version Independent ID: 54e706e1-aaa2-3a03-b8c6

[2020-03-20 01:35] iamalexmang commented on #4181
I want to additionally clarify the problem: the request for 10.0.18362.356 seems to be unrealistic. Business editions for Windows 10 Enterprise 1909 were available in October, December, January and February. The specific version for each of these are 10.0.18362.418, 10.0.18362.535, 10.0.18362.592 and 10.0.18362.720 specifically.

[2020-03-20 03:16] TitaniumTbag opened #4230 "Opening paragraph error"
External access is a way for external Teams users from an entire domain to find...
should it not be:
External access is a way for external Teams users from an EXTERNAL domain to find...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID: 1e4d6b87-f57c-fa45-1630-

[2020-03-20 05:14] scanum commented on #4199
@skest3qc thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-20 05:14] #4199 closed

[2020-03-20 05:14] scanum commented on #4202
@Mlavieri thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-20 05:14] #4202 closed

[2020-03-20 05:15] scanum commented on #4217
@Rani86 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-03-20 05:15] #4217 closed

[2020-03-20 05:15] scanum commented on #4222
@anwarmahmood1 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-03-20 05:15] #4222 closed

[2020-03-20 05:15] scanum commented on #4223
@v-mihwan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-03-20 05:15] #4223 closed

[2020-03-20 05:15] scanum commented on #4224
@kelemvor33 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-03-20 05:15] #4224 closed

[2020-03-20 05:16] scanum commented on #4200
@adagioajanes  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:16] scanum commented on #4201
@adrianwells  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:16] scanum commented on #4207
@itbland  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:16] scanum commented on #4208
@geektbee  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:19] scanum commented on #4230
@TitaniumTbag  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:19] scanum commented on #4229
@danmyhre  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:19] scanum commented on #4228
@testad  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:19] scanum commented on #4225
@oouk  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:19] scanum commented on #4221
@anwarmahmood1  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:19] scanum commented on #4214
@Akackk  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:20] scanum commented on #4213
@StPhil  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:20] scanum commented on #4211
@franklesniak  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:20] scanum commented on #4210
@jantoney  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-03-20 05:20] scanum commented on #4214
@officeglobal could you please help on this issue? Thanks!

[2020-03-20 09:18] rz7k9k commented on #4184
i checked my organisations with = Get-CsTenantFederationConfiguration
result
Identity                            : Global
AllowedDomains                      : AllowAllKnownDomains
BlockedDomains                      : {}
AllowFederatedUsers                 : True
AllowPublicUsers                    : True
TreatDiscoveredPartnersAsUnverified : False
SharedSipAddressSpace               : False

but

[2020-03-20 09:46] RobFullerGBHS commented on #987
Getting, Set-CsGroupPolicyAssignment : Access Denied. How did you get on?

[2020-03-20 10:47] andshrew opened #4231 ""Clean up and redeployment procedure" is incomplete"
The current procedure for this seems to be a bit confusing and is missing steps.

From what I have tested the procedure to enable a re-installation of Teams for a user who has uninstalled it should be:- as the user...

- Delete ` %localappdata%\Microsoft\Teams\`
- Delete `HKEY_CURRENT_USER\Software\Microsoft\Office\Teams\PreventInstallationFromMsi`
- Log off and back on, and the system wide instal

[2020-03-20 11:39] thomasbinder opened #4232 "Limits for calling from Chat"
According to https://support.office.com/en-us/article/Start-a-call-from-a-chat-in-Teams-f5138c9d-df4c-43d8-9cf6-53400c1a7798#ID0EAABAAA=Desktop there is a limit on 50 users for calls from chat: "Up to 50 people can be on the same video call."

Is this information correct? If so, would you mind to add it on this page as well?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-03-20 12:56] Padavid opened #4233 "FAQ is incorrect"
I think this should be polices vs license.
Current FAQ - I want to make sure that all users that are students, staff, and educators automatically get licenses assigned.
Should be - Current FAQ - I want to make sure that all users that are students, staff, and educators automatically get policies assigned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-20 13:25] danmyhre commented on #4229
I did find that the option to assign a user to a dial plan is available under:
Users -> User -> Policies -> Edit -> Dial plan

[2020-03-20 13:34] pablovera100 opened #4234 "Guests Tenant change inconvenience"
As far as I experimented, whenever you are invited to an organization as a guest, and you already have an organization, yo need to change the Tenant organization, that is not convenient, notifications are not showing as they normally do, and having to change your Tentant EVERY time you need to interact at different organizations is time consuming and pretty annoying. Is there any plan to completel

[2020-03-20 14:23] MicrosoftHeidi commented on #3851
No update at this time.

[2020-03-20 14:26] coco6969 commented on #4151
Do you think there's something on the back end causing this? Any updates? Appreciate it, thanks.

[2020-03-20 15:15] KennyLogin opened #4237 "Account Requirements"
We just went through this process, and found out that if you have restricted group creation (in our case, an on-prem AD group, synced to AzureAD/Office 365), the account used to create/convert the org-wide Team needs to be *both* a global admin *and* be a member of the AD group that has group creation rights. We opened a case with MS and this is how we resolved it, when a regular global admin trie

[2020-03-20 15:40] gautam0107 commented on #4079
@scanum, Please help us to confirm whether Cloud AA is supported with Lync server 2013 or not. Waiting for your response.

[2020-03-20 15:51] ykuijs opened #4238 "Unclear policy setting in Messaging Policy"
The first item in the Messaging policy says:
Change set to 'off'

What is meant here? It looks like some text is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 700c34b6-87de-19e2-9821-bc35e290948e
* Version Independent ID: 86be2050-e149-7f03-d2a8-d64f6f912012
* Content: [Microsoft Teams resources for Education

[2020-03-20 16:29] kcsportal opened #4239 "Allow users to receive, but not place calls"
I would like my teachers to be able to initiate calls to students, but I do not want students to be able to place calls on their own. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 410fc30b-f530-8443-0602-9150c9cba115
* Version Independent ID: c5b33b25-147b-f7d4-056a-987088950e7c
* Content: [Calling p

[2020-03-20 17:38] NickDorak commented on #2540
Why was this closed without updating the out of date documentation?

[2020-03-20 18:16] derricksmith opened #4240 "Lock Meeting?"
The documentation indicates a user can lock a meeting.  Where is this configuration setting located in Teams?  Is this only a SfB setting?

[2020-03-20 18:22] LolaJacobsen commented on #3540
@MicrosoftHeidi - what do you know about this?

[2020-03-20 18:39] Heafou opened #4241 "Teams meeting OWA exchange on-prem"
Hello,
Is there any way to get the Teams meeting add-in for exchange 2016 OWA without using O365 Outlook ?
Thank you for your help

[2020-03-20 19:47] wayneforrester commented on #4231
Agree with this, ended up having to use to ProcMon to figure out why Teams was not re-installing. Cause was this user key: HKEY_CURRENT_USER\Software\Microsoft\Office\Teams\PreventInstallationFromMsi

After removing this key, re-installation was fine.

[2020-03-21 07:02] glenrmag opened #4243 "Guest authentication behavior"
On the video above starting 5:03, it shows that guests that clicks the "Open Microsoft Teams" link will only be required to sign in using the code that will be sent to the same email address. In my tests, adding either Microsoft Account registered or non-registered guests does NOT ask for a code, but rather asks for the MSA password (for MSA registered guest) and it asks to register non-registered