[2020-07-25 04:24] dariomws commented on #5231
Hi @iamnirajpandey, thank you for your feedback and help us to improve docs.microsoft.com.

The value in the table about the number of members in a team was updated on May 14:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/b758b83cfc331f33affd91171ebeb908b31a666c

[2020-07-25 04:47] dariomws commented on #5232
Hi @Gary620, thank you for your feedback and help us to improve docs.microsoft.com.

@tonysmit @garycentric could you kindly help to confirm this information? If you don't have a Stream license, where are the recordings stored?

Besides, about the second paragraph, I understand that recording is turned off if the Stream data is not available in the same region where the Teams data is stored:
https

[2020-07-25 13:52] dariomws commented on #5238
Hi @jdanner89, thank you for your feedback and help us to improve docs.microsoft.com.

Sorry but I don't understand. This article is related to the number of phone numbers that you can have available in your tenant, it's not related to minutes available.

[2020-07-25 14:02] dariomws commented on #5240
Hi @Air-Git, thank you again for your valuable feedback.

I'm working on the "How Exchange and Microsoft Teams interact" article with some colleagues as I commented on the following issues:
https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/2132
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/5399

[2020-07-25 14:22] dariomws commented on #5225
Hi @robinpoulose1, thank you for your feedback and help us to improve docs.microsoft.com.

I have a tenant with only Business licenses, and these are the add-ons I have available:
![image](https://user-images.githubusercontent.com/33589238/88459075-d3968880-ce68-11ea-95a7-2691d6778678.png)
![image](https://user-images.githubusercontent.com/33589238/88459079-dabd9680-ce68-11ea-993d-23e6ad945511.png

[2020-07-25 16:05] dariomws commented on #5224
Hi @CarissaB117, thank you for your feedback and help us to improve docs.microsoft.com.

In Microsoft Teams, if a user deletes either a message in a channel or in a chat, it can be undone if you regret it immediately:
![image](https://user-images.githubusercontent.com/33589238/88460055-d5b01580-ce6f-11ea-87d9-d4d4b27b6722.png)

After the Undo action disappears, you cannot recover it in/to Teams bu

[2020-07-26 18:39] Brennanm625 commented on #5342
The link has updated to the latest version now.

[2020-07-26 18:39] #5342 closed

[2020-07-26 22:06] sgrmart opened #5432 "Missing Meeting Rooms"
Hi All,

What makes a Teams Room appear in the admin panel?  We've got 9 or so Crestron and Logitech Tap devices and only 2 appear in the panel.  Does each unit have to ben on a certain version of Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ad37b23-8b85-a502-f176-d90586c0a1c1
* Version Independent ID: dcc4ab

[2020-07-26 22:54] EvgenyArtemyev opened #5433 "Creating Teams enabled events from Exchange on-prem OWA"
AFAIK it is impossible to plan Microsoft Teams events from OWA of any version exchange servers for users with on-prem mailboxes. It would be great to add the information about it in the article.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8456689d-6f04-fa5e-4f51-f413cb0b9d89
* Version Independe

[2020-07-27 07:06] EvgenyArtemyev opened #5434 "Remote or Local Mailbox"
Dear team,
Would you please clarify which type of Mailbox is required to set up.
The name of the section is "Enable the remote mailbox and set properties"
Meanwhile the cmdlet is about creating on-prem mailbox NOT remote.
Enable-Mailbox PROJECTRIGEL01@contoso.com -Room

Should it be Enable-remotemailbox?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-07-27 07:39] bitflusher opened #5435 "Add non powershell manual to the article"
It took me a while to set up an account especcially with basic auth requrements for exchange powershell modules and i was having mixed results. Only after one day I found a clear tutorial on youtube on how to do this in the office portal and exchange admin center. https://www.youtube.com/watch?v=E45VgcYweJc

My suggestion is to incorporate this in the article. This is great for initial testing of

[2020-07-27 10:45] Reeced40 commented on #5392
@patrickhwood Thank you for reaching out. Are you referring to the PowerShell right at the bottom of the document? I checked under Linux and I can't seem to find the command.

[2020-07-27 11:37] Reeced40 commented on #5398
@jesegher Thank you for reaching out. Please see if this link answers your question - https://support.microsoft.com/office/download-attendance-reports-in-teams-ae7cf170-530c-47d3-84c1-3aedac74d310

[2020-07-27 12:05] OfficeGlobal commented on #4542
@virginij the link text was updated at live page. Thank you

[2020-07-27 12:55] Larryngolog commented on #5030
Hello @dariomws . Thanks for your reply. Multiple customers I work with have strickt data sharing policies and require approval of the guests that are invited to the environment. I understand that "Existing guests" is not recommended, but I think it should be also listed as a supported option.

[2020-07-27 12:59] Reeced40 commented on #5354
@MicrosoftHeidi Please assist.

[2020-07-27 13:07] Goibs commented on #4181
@KristoferOlafsson updating the script works and allows you to use a different version of Windows, but editing the script does not work. The install media gets successfully created, but once you attempt to actually run the setup, you get an error saying "Windows could not apply unattend settings during pass [offlineServicing]" and cancels the installation

[2020-07-27 13:49] patrickhwood commented on #5392
This sentence appears twice under the "Linux" heading:

"You can launch Teams via Activities or via Terminal by typing Teams."

However, the correct command is "teams".  Note that file and therefore command names on linux are case-sensitive, so "Teams" is not the correct command.

[2020-07-27 13:50] dariomws commented on #5030
Hi @Larryngolog, thank you for your comment.

@MikePlumleyMSFT what do you think? Thanks!

[2020-07-27 14:29] MikePlumleyMSFT commented on #5030
"Existing guests" is certainly a supported feature if that works for your scenario. We don't list it as a mainstream setup option because guests can be invited to the tenant through a wide variety of means beyond a given SharePoint site, including Teams, groups, other SharePoint sites, and Azure AD.

[2020-07-27 15:48] dariomws commented on #5222
Hi @mcantin, thank you for your feedback and help us to improve docs.microsoft.com.

I'm currently investigating this, I'll give you more information in the next couple of days.

[2020-07-27 19:38] TracyGH commented on #5428
@scanum - Per the Microsoft support rep, the feature described in the article above was cancelled:  https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=44370.  So, the article is no longer accurate/relevant.

[2020-07-27 20:14] TomasCrha opened #5438 "Technet article correction - https://docs.microsoft.com/en-us/microsoftteams/teams-live-events/plan-for-teams-live-events"
Hello,
I wanted to comment on following article on Technet :
https://docs.microsoft.com/en-us/microsoftteams/teams-live-events/plan-for-teams-live-events
Section Exclusions and considerations in particular:
"China: Event team members and attendees will not be able to use Teams live events because Azure CDN is not accessible in China. A workaround is to use a company VPN connection, which gets the

[2020-07-27 21:27] oradcliffe commented on #5418
Just curious why you think I should open a ticket?  I am only asking on ETA for when switchport functionality will be available for E911.  I don't think a ticket will help me.

[2020-07-27 21:36] pnwnightowl opened #5440 "Include link to preventing Teams autostart"
With the instructions of doing a per-machine install for WVD, please include a note on preventing Teams from auto launching after installation with the link to : https://docs.microsoft.com/en-us/microsoftteams/msi-deployment#prevent-teams-from-starting-automatically-after-installation

I believe a lot of folks will want to do this in a WVD environment, furthermore, it solves the issue with Teams i

[2020-07-28 02:30] Gary620 commented on #5232
@dariomws Thank you Dario.

I agreed about the explanation about the second part.
For the first part, would you please let me know when it will be modified?

Thank you

[2020-07-28 03:49] scanum commented on #5432
@sgrmart Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-07-28 03:49] #5432 closed

[2020-07-28 03:51] scanum commented on #5435
@bitflusher Thanks for the feedback, we will consider adding this in documentation updates.

[2020-07-28 03:51] #5435 closed

[2020-07-28 03:52] scanum commented on #5440
@pnwnightowl Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-28 03:53] scanum commented on #5438
@TomasCrha Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-28 03:53] scanum commented on #5434
@EvgenyArtemyev Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-28 03:53] scanum commented on #5433
@EvgenyArtemyev Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-28 03:56] shanehoey opened #5442 "Network Requirements ports 80,443"
I think that ports  80 & 443  should be added to the table under prepare network section,  the description does mention that the "at a minimum, in addition to normal web traffic" and while this would should be obvious to most people that 80,443 is required,  however I do think it could get missed, and table would read better if they where added to table.

I can do a pull request if you want.

---

[2020-07-28 06:12] OfficeGlobal commented on #5273
@rafagranado , @scanum the article was HumanTranslated and published live

[2020-07-28 09:34] suresh-solomon opened #5443 "Skype for Business CU update KB number same for CU10, CU10HF1, CU11"
Hi I noted the CU updates CU10, CU10HF1 and CU11 are marked with the same KB 3061064

https://docs.microsoft.com/en-us/skypeforbusiness/sfb-server-updates#skype-for-business-server-2015-update-history

Suresh

[2020-07-28 10:43] OfficeGlobal commented on #5182
@walterax , @scanum the article was HumanTranslated and published live

[2020-07-28 11:01] Eric2XU commented on #5223
That is the smallest text ever. While I am thankful its bold I can tell you that I the Teams Admin, others on my team, and two of my end users didnt see it. It failed to do what was there for which was inform the reader. I would suggest you make that one of those purple note boxes to grab the attention required.

Also I know its a doc side issue but shame on MS DEV Teams Team for having a preview

[2020-07-28 11:20] Petri-X commented on #5296
@brandber  that is actually not true.

That was the Skype online CMDLet.

For Teams you do just regular
Connect-MicrosoftTeams
It ask your credentials and then ask also MFA.

[2020-07-28 11:36] Petri-X opened #5444 "GA, preview, test, do we have mess...? And support?"
Hi,

On the page you say:

How do I know what version is GA? Currently it looks that 1.1.4 GA and 1.1.3 is in preview?? Which sounds strange. How previous version could be in preview? :)

Then you do have tests available as well? Current test version is 1.0.25.

How shall we understood the differences on these versions?

GA is obviously which is supported to be run on production tenant, but how ab

[2020-07-28 11:45] m-wo opened #5445 "Troubleshooting section would be helpful"
A troubleshooting section would be helpful for this page - e.g. we have the Teams Rooms management feature now in our Tenant in the admin panel, however none of our (Logitech) MTR devices appear, even if we reset and re-enroll them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ad37b23-8b85-a502-f176-d90586c0a1c1
* V

[2020-07-28 13:26] Reeced40 commented on #5355
@tonysmit please could you provide some clarity with this issue regarding Microsoft Stream, meeting recording and downloading, if Microsoft Stream is not available in the region etc.

[2020-07-28 13:51] SDkempf94 opened #5450 "Required license?"
Please can you clarify the statement in the article below?
**'For Exchange On-Premises and Teams integration, the required license needs to be assigned for the AAD synced user**

What is the required license? Can this be added to the article as well please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8456689d-6f04-f

[2020-07-28 16:01] dariomws commented on #5223
Thanks for your comment @Eric2XU, if you give me your consent again I'll create a pull request with your suggestion to see if it's approved, but to be honest, I'm not fully convinced about this update as I think the preview message is clearly stated:
![image](https://user-images.githubusercontent.com/33589238/88690829-730a8400-d0d2-11ea-91a4-f40e673734a4.png)

[2020-07-28 16:04] tonysmit commented on #5355
@ashwinma14 - I know we have another thread about this. Can you add some notes here to explain? Also, can you do a PR to update this doc (since I'm not the content owner) and I will merge your changes. Thanks.

[2020-07-28 16:04] greganth1 opened #5451 "Specify port ranges also requires Insert Quality of Service Markers to be enabled to work properly"
Need clarification that in order for Specify Port ranges to work that Insert Quality of Service Markers also need to be enabled as they are interdependent.

To specify port ranges, next to Select a port range for each type of real-time media traffic, select Specify port ranges, and then enter the starting and ending ports for audio, video, and screen sharing. Selecting this option is required to i

[2020-07-28 17:57] LolaJacobsen commented on #5088
@juturu @voltarone - ping. Which is correct - allow or block?

[2020-07-28 18:16] KristoferOlafsson commented on #4181
Interesting! thanks for testing that.

[2020-07-28 19:09] nthoman opened #5452 "Provisioning Script Link Doesn't work"
The link to download the powershell script doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05282aa8-ae14-117b-5885-7d851ee66b89
* Version Independent ID: 85abe13c-d34c-f42c-e273-a69be8cd991e
* Content: [Deploy Microsoft Teams Rooms with Microsoft 365 or Office 365 - Microsoft Teams](https://docs.microsoft.

[2020-07-28 19:40] Eric2XU commented on #5223
Sure, consent granted. Yeah I guess it comes down to opinion then. I find "**This is a preview or early release feature**" to be misleading as its not. No one actually has these features and preview/ER features don't take over a year to progress. Now if you said "this is an unreleased upcoming feature" that might be a little more specific. Also its simply not prominent enough. I didn't catch nor d

[2020-07-28 20:41] SteveZerrSourced opened #5455 "CreateSrsMedia.ps1 cannot process if Microsoft.PowerShell_profile.ps1 is present and contains actionable content"
CreateSrsMedia.ps1 (1.5.1 and 1.6.0 tested) as provided here: https://docs.microsoft.com/en-us/microsoftteams/rooms/console#prepare-the-installation-media produces the following error if the user executing the script has Microsoft.PowerShell_profile.ps1 present in Documents\WindowsPowerShell and it contains actionable commands:

[code]

Full transcript:
[code]

---
#### Document Details

⚠ *Do not

[2020-07-29 01:23] scanum commented on #5444
@Petri-X Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-07-29 01:23] #5444 closed

[2020-07-29 01:24] scanum commented on #5445
@m-wo Thanks for the feedback. We will consider adding in the new documentation updates.

[2020-07-29 01:24] #5445 closed

[2020-07-29 01:24] scanum commented on #5450
@SDkempf94 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-07-29 01:24] #5450 closed

[2020-07-29 01:24] scanum commented on #5455
@SteveZerrSourced Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-07-29 01:24] #5455 closed

[2020-07-29 01:25] scanum commented on #5452
@nthoman  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-29 01:25] scanum commented on #5451
@greganth1  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-29 01:25] scanum commented on #5443
@suresh-solomon  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-29 01:37] scanum commented on #5442
@shanehoey  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-29 06:04] Petri-X commented on #5444
@scanum
That is a bit unexpected answer  :)
So basically you are asking me to pay money to Microsoft to get answer for these fundamental questions, and then ask me to give the answer back to Microsoft so that you could use the answer for improving Microsoft's own documentation.

I'm not sure why I must pay on this?

In my mind, it would be much more fair if Microsoft pays all of us who are doing r

[2020-07-29 06:23] cyberzhu opened #5457 "Please change the size limit of org-wide teams to 10K from current 5K"
[The up limit had been changed, please help change the Notes to avoid confusing]

![image](https://user-images.githubusercontent.com/64758362/88764122-fbf2ef80-d1a6-11ea-8db5-4f285025af26.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86

[2020-07-29 07:37] SanderSade commented on #5349
These also need to be added to https://docs.microsoft.com/en-us/skypeforbusiness/skype-for-business-online-reporting/pstn-usage-report, https://docs.microsoft.com/en-us/microsoftteams/teams-analytics-and-reports/pstn-minute-pools-report and https://docs.microsoft.com/en-us/skypeforbusiness/skype-for-business-online-reporting/pstn-minute-pools-report

[2020-07-29 07:39] SanderSade commented on #3293
Beta version of PSTN usage report in Graph is now available - see https://docs.microsoft.com/en-us/graph/api/callrecords-callrecord-getpstncalls?view=graph-rest-beta

[2020-07-29 07:56] SanderSade commented on #3769
Beta version of PSTN usage report in Graph is now available - see https://docs.microsoft.com/en-us/graph/api/callrecords-callrecord-getpstncalls?view=graph-rest-beta

[2020-07-29 08:56] macna opened #5458 "Clarify prerequisites for guest participation in a Live Event"
Hello, I think that the prerequisites for guest participation in a Live Event need further clarification. I think there are two pertinent bits of information:

"It's important to know that a Microsoft 365 or Office 365 license is required to participate in a live event as an authenticated user [...] For events produced in Teams The user must be assigned a Teams license."

Presumably that means gue

[2020-07-29 11:08] birdnathan opened #5459 "aka.ms for Teams?"
Can we get an aka.ms short url for Teams clients and Web Socket Service (for WVD)? As per FSLogix (https://aka.ms/fslogix_download)
This will great assist with the automated deployment of the latest versions of these .msi files from a WVD perspective.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98

[2020-07-29 16:40] brandber commented on #5444
Hi @Petri-X ,

Thanks for taking the time to submit your feedback regarding several aspects of our updated PowerShell documentation. As the author of this content, I understand your points and will work on updates to address.

Thanks again for taking the time to share your feedback with us!!

[2020-07-29 18:03] Matt-Mueller-MSFT opened #5460 "Why is the 4 hour limit of a recording segment not documented/ published?"
I had an ask from my customer about what the time limit for recording meetings was. I could not find a solid answer anywhere in the docs. I reached out to other Customer Engineers, and several tell me from experience there is a 4 hour per segment recording limit. Once the 4 hours is reached the recording stops, and a new one automatically starts. this will occur 6 times total for the 24 hour meeti

[2020-07-29 18:46] #5225 closed

[2020-07-29 20:54] AlexR888AMD opened #5461 "Change SfB numbers and location for multiple users using Set-CsOnlineVoiceUser"
Hi, is it possible to change the SfB number and location for multiple users using the Set-CsOnlineVoiceUser powershell cmdlet ?
users moving from one location to another, so existing number and location require to be changed.

Using - Set-CsOnlineVoiceUser -Identity user@user.com -TelephoneNumber +123456789  -LocationID abcdefg123456789
sets the user with their number at a location defined by the

[2020-07-30 03:08] scanum commented on #5457
@cyberzhu Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-30 03:08] scanum commented on #5458
@macna Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-30 03:09] scanum commented on #5461
@AlexR888AMD Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-07-30 03:09] #5461 closed

[2020-07-30 03:09] scanum commented on #5460
@Matt-Mueller-MSFT Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Pleas

[2020-07-30 03:09] #5460 closed

[2020-07-30 03:09] scanum commented on #5459
@birdnathan Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-07-30 03:09] #5459 closed

[2020-07-30 12:12] ClassANetwork opened #5464 "O365 group creation not consistent across all environments"
Not sure if this is an issue in GCC High at the moment or maybe I am misunderstanding the difference between SharePoint site/Document Library, but it does not appear that creating an O365 group in GCC High will also create the associated SharePoint Online document libraries.

For example, the documentation states:
https://docs.microsoft.com/en-us/microsoftteams/office-365-groups#how-microsoft-365-

[2020-07-30 18:00] Jrich1 opened #5466 "MTR Version for 1909 not listed in Release Notes"
MTR version highlighted as being the minimum required for 1909, is not a version that MS have provided any release notes for. How do you obtain MTR 4.5.33.0?

Another thing to point out is that some Lenovo Hub 500 devices have been reported as having 2004 as an available update for them, yet it is not recommended to use due to issues.

Why is 2004 showing as an available update if it is not suppor

[2020-07-30 18:01] J-Fedor opened #5467 "Link Broken in section "Step 4: Disable hybrid to complete your migration to the cloud""
Disable hybrid to complete migration to the cloud.
https://docs.microsoft.com/en-us/MicrosoftTeams/upgrade-to-teams-execute-skypeforbusinesshybridonprem
Which is the page it is on, doesn't provide any additional information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9d75e7-638b-1738-e102-b87d95b5b51d
* Version I

[2020-07-30 19:01] aamillerMSFT opened #5468 "Step 4 has a link to loops back to the same page"
Step for has a link for "Disable hybrid to complete migration to the cloud."  It should point to this URL, it current goes back to the top of the current document which provides no relevant details.
https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/cloud-consolidation-disabling-hybrid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-07-30 20:12] TorrenManson commented on #4450
Hi - are the fixes going to be published anytime soon?

[2020-07-30 23:18] anwara-ms commented on #5067
currently OOF. I will update the document when I am back from the break.

[2020-07-31 02:54] scanum commented on #5464
@ClassANetwork Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-07-31 02:54] #5464 closed

[2020-07-31 02:54] scanum commented on #5466
@Jrich1 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-07-31 02:54] #5466 closed

[2020-07-31 02:55] scanum commented on #5467
@J-Fedor  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-31 02:55] scanum commented on #5468
@aamillerMSFT  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-07-31 08:09] wru69 opened #5470 "Link not working"
[Enter feedback here]
Link under this name is not working Browse devices certified for Microsoft Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b118e0a7-1fef-feae-6c6d-e24c4485a5b9
* Version Independent ID: ae18e2db-fbbf-f30c-3c56-17dd0d2b85d1
* Content: [Phones and Devices for Microsoft Teams - Microsoft Teams]

[2020-07-31 10:17] lindspea commented on #4450
@CarolynRowe @FilippSe

[2020-07-31 12:56] CallMeByMyName opened #5471 "Powershell ??"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a627b5d-3edc-1add-b921-1dcd49c38653
* Version Independent ID: a2e2bd3a-31c0-471a-05fb-fd64bd942c4a
* Content: [Manage your devices in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/devices/device-management)
* Cont

[2020-07-31 14:57] npherson opened #5472 "Incorrect 'Number of members in a team' information for GCC"
The "Number of members in a team" section is incorrect for non-Commercial clouds where it is still only 5,000. Can you add a caveat to the entry similar to what was done elsewhere like with "Number of people in a private chat" and "Number of people in a meeting (can chat and call in)"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-07-31 14:58] npherson commented on #5472
To pile on to this, I think the limits in GCC were increased to match commercial with "Number of people in a private chat" and "Number of people in a meeting (can chat and call in)"...  Not sure about GCCH/DOD though. Might be worth confirming with the PG at the same time.

[2020-07-31 15:23] StuBeck32 opened #5474 "Resource account not able to be added until last step of setup"
The documentation is a little out of order. I've created several resource accounts, and they don't appear as available "Voice" options in the first two steps of the auto attendant setup process. What does work is ignoring the operator function early on the process, and then assigning the relevant resource account as the last step. This assigns the phone number to the AA.
[Enter feedback here]

---

[2020-08-02 07:28] tcjohnson71 opened #5479 "Teams to Skype"
I don't think the Teams App will connect to Skype users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de87096-6253-ba71-f27a-0b161a36f0e2
* Version Independent ID: 8b61b40d-496c-6069-8a60-38a6282e072a
* Content: [Teams and Skype interoperability - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/team

[2020-08-03 02:08] Gary620 opened #5480 "teams meeting recording prerequisite"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976b8a9b-5a3e-1f3b-b848-d1dfbfd3389d
* Version Independent ID: 2b13a471-3baf-0086-439a-f94abb162fd6
* Content: [Teams cloud meeting recording - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/cloud-recording#prerequisites-for-teams-cl

[2020-08-03 02:09] #5480 closed

[2020-08-03 02:09] scanum commented on #5470
@wru69 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-03 02:10] #5471 closed

[2020-08-03 02:10] scanum commented on #5472
@npherson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-03 02:10] scanum commented on #5474
@StuBeck32 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-08-03 02:10] #5474 closed

[2020-08-03 02:11] scanum commented on #5479
@tcjohnson71 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-03 02:11] #5479 closed

[2020-08-03 02:11] Gary620 commented on #5355
@tonysmit Tony, good day to you. Is there any update? Thanks。

[2020-08-03 06:21] VladimirGluten47 opened #5481 "Assign Resource Account to AA / Call Queue via PowerShell"
Hi,

I'm creating a script which runs through the distribution list / resource account / auto-attendant creation and configuration process. I need to assign a resource account to an existing Auto Attendant via PowerShell but don't see any documentation on this or any other page for the required commands. Could you please update this page or advise me where this can be found?

Thanks very much.

--

[2020-08-03 06:24] VladimirGluten47 commented on #5481
Hi,

Update: I have found the following page which I believe documents what I need.
https://docs.microsoft.com/en-us/powershell/module/skype/new-csonlineapplicationinstanceassociation?view=skype-ps
Could you please add a link to this page under "Related Information" or provide an example of this process on the Manage Resource Accounts in Teams documentation page?

Thanks!

[2020-08-03 07:30] lindspea commented on #5243
@scanum this can be closed thank you.

[2020-08-03 11:03] imanboukly opened #5482 "Private Channel - no owner"
I tested what you said in the article " If a private channel owner leaves your organization or if they are removed from the Microsoft 365 group associated with the team, a member of the private channel is automatically promoted to be the private channel owner." This doesn't seems to work.

[2020-08-03 11:05] imanboukly commented on #5482
Link to article is : https://docs.microsoft.com/en-us/microsoftteams/private-channels

[2020-08-03 11:20] StuBeck32 commented on #5474
I have a ticket. The documentation needs to be updated to indicate the current order of events, not how we wish it was working.

[2020-08-03 13:21] TheBluLion opened #5483 "Reference to static conference IDs needs to be removed"
Teams does not allow for static conference IDs
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f63c7ec-b784-d302-51e9-f359b2c8f89b
* Version Independent ID: 0442ca74-d4f0-e00f-714c-bcd5ad4161f1
* Content: [Reset a conference ID for a user in Microsoft Teams - Microsoft Teams](https://docs.microsof

[2020-08-03 16:55] dinocaputo opened #5485 "Voice Route has no associated PSTN Usage"
In step 3 we are creating a voice route but the cmdlet is incomplete.

`PS C:\> New-CsOnlineVoiceRoute -Identity analog-interop -NumberPattern "^\+1(425)(\d{7}])$" -OnlinePstnGatewayList sbc.contoso.com -Priority 1 -OnlinePstnUsages "`

We are missing a OnlinePstnUsages as show above.  I'm not even sure step 3 is required as Step 7 defines the specific analog range and assigns it to the PSTN usage

[2020-08-03 17:19] dstrome commented on #4181
hi everyone. I sincerely apologize for the delay in resolving this issue. I've sent another request to the product team to determine why this is happening and what the resolution is.

[2020-08-03 17:23] dstrome commented on #4989
Thanks for your feedback. We recently updated the supported SKU list and the unsupported SKUs are no longer listed.

[2020-08-03 17:23] #4989 closed

[2020-08-03 17:28] #5368 closed

[2020-08-03 17:33] dstrome commented on #5130
updated

[2020-08-03 17:33] #5130 closed

[2020-08-03 17:49] dstrome commented on #4181
hi everyone,

The product team has updated the script to Windows 10 1909 image we released last week. If you continue to have difficulty, please contact Microsoft Support for further assistance.

[2020-08-03 17:49] #4181 closed

[2020-08-03 18:01] dstrome commented on #4916
Thanks for your feedback. I've updated the footnote ordering and removed the link to the outdated blog article. I will need to investigate the OAuth issue so this will take longer.

[2020-08-03 18:01] #4916 closed

[2020-08-03 18:16] LanaChin commented on #5223
@Eric2XU - thanks for your input. Effective August 31, 2020, this feature will be disabled. We're updating the article with a blue "Important" note at the top to reflect this.  After August 31, 2020, private teams can longer be set to be discoverable and all existing and new private teams will no longer be discoverable.

[2020-08-03 18:16] #5223 closed

[2020-08-03 18:19] Borkason commented on #5337
I think you must ask your developers how they treat this XML file. I can only make assumptions and that should not go into a documentation.

[2020-08-03 19:43] LolaJacobsen commented on #5392
fixed: https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/5449

[2020-08-03 19:43] #5392 closed

[2020-08-03 19:44] #5227 closed

[2020-08-03 19:44] Eric2XU commented on #5223
Wow thats a big move for MS. I hope in this upcoming change they will figure out how to discover private channels (so they can ask for access). Hopefully while they are not moving in this direction they are moving in another direction. Having so many moving from Slack right now people are looking for the channel (Team) directory. Its one of the largest design concepts about teams that isn't mature

[2020-08-03 20:04] Pikkon06 opened #5487 "Unable to obtain Windows 10 Enterprise 18362.418"
Hello,

I'm working on setting up some Surface devices for our teams room consoles and we're having difficulties finding the versions of Windows the CreateSrsMedia.ps1 script is requiring. I was able to get a Surface Pro 4 image created but we are now working with a Surface Pro (2017) and the version it requires is 10.0.18362.418. I have downloaded the predecessor and successor builds in hopes tha

[2020-08-03 20:45] LolaJacobsen commented on #4707
Pinged both Ashwin Appiah and Bryan Nyce today.

[2020-08-04 00:52] kik0220 opened #5488 "KDDIの「Cloud Calling for Microsoft Teams」が記載されていない"
2020/7/28より提供開始されたKDDIの「Cloud Calling for Microsoft Teams」が記載されていません。
https://biz.kddi.com/service/cloud-data-center/cloud-calling/

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a26806ae-7525-7416-4b49-5ba49f563192
* Version Independent ID: eab3a3ee-deb6-3761-008b-cdd22e586176
* Content: [日本での利用可能性 - Microsoft Teams](https://docs.microsoft.com/ja-jp

[2020-08-04 06:57] ttheill commented on #4181
I have downloaded  SW_DVD9_Win_Pro_10_1903.1_64BIT_English_Pro_Ent_EDU_N_MLF_X22-14064.ISO however when I run the script today it says "Please enter the path to the root of your Windows install media: e:\srs\1903.1
Your Windows installation media is version 10.0.18362.356. Your SRSv2 kit requires version 10.0.18362.418.
Where can I find the right ISO?

[2020-08-04 07:16] OfficeGlobal commented on #5347
@kefujino , @scanum  String "Reaction" updated to リアクション

[2020-08-04 07:39] lindspea commented on #5319
@scanum this can be closed thank you.

[2020-08-04 07:46] lindspea commented on #5337
@LanaChin please could you assist?

[2020-08-04 08:36] hideokamine opened #5489 "Could you please correct the title?"
[フィードバックをこちらに入力してください]
このページのタイトルは ”Microsoft Teams でユーザーにライセンスを割り当てる” ですが、正しくは ”Microsoft Teams でユーザーにポリシーを割り当てる” ではないでしょうか。

英語ページでは、 ”Assign policies to your users in Microsoft Teams” となっています。

The title of this page is "Microsoft Teams でユーザーにライセンスを割り当てる”, but I think the correct title is "Microsoft Teams でユーザーにポリシーを割り当てる".

On the same page in English, It is displayed "Assign policies to your

[2020-08-04 13:07] #5319 closed

[2020-08-04 13:54] delahondes opened #5493 "Mistake in French translation"
The mistake is quite misleading because it is in the main table headers:

The English headers are "User configured/App configured" which meaning is very clear. The current French translation is "L'utilisateur est configuré/L'application est configurée"  which means "the user is configured/the app is configured" which is meaningless in this context (this mistake occurs very often alas). A proper tr

[2020-08-04 14:00] O365scripts opened #5494 "Licensing Requirements"
The business plan names should be adjusted with the new product names to prevent confusion.
The last 3 ones should be M365 Business Premium, M365 Business Standard and M365 Business Basic I believe.

"User has an Office 365 E1, E3, E5, A1, A3, A5, **M365 Business, Business Premium or Business Essentials**"
https://docs.microsoft.com/en-us/microsoftteams/cloud-recording#prerequisites-for-teams-clou

[2020-08-04 14:03] hideokamine opened #5495 "”$Get-CsBatchPolicyAssignmentOperation""
This cmdlet is correct?
”$Get-CsBatchPolicyAssignmentOperation -OperationId f985e013-0826-40bb-8c94-e5f367076044 | fl”
https://docs.microsoft.com/en-us/MicrosoftTeams/assign-policies#get-the-status-of-a-batch-assignment

It is not need the "$", Isn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888fe05b-1160-452f

[2020-08-04 14:58] pctec100 opened #5496 "Default Install Location"
The article says "The Teams MSI will place an installer in Program Files."

The default location is
C:\Program Files (x86)\Teams Installer
or
C:\Program Files\Teams Installer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version Independent ID: 86172986-6cc8-eee5-1309-704d9de0dcd

[2020-08-04 18:32] pnwnightowl opened #5498 "Need updated/improved requirements to include Teams workloads"
Since WVD supports Teams with the websocket client for A/V redirection and WVD pooled desktops is considered non-persistent, we need better guidance on number of users per vCPU for Teams workload.  From my own testing and from customer feedback, it appears you need 1-2 vCPU per user and 500MB to 1GB of memory to run Teams on a W10 multi-session VM when in a meeting with A/V going.

---
#### Docume

[2020-08-04 20:18] danmyhre opened #5499 "Hybrid"
Please add details on how this impacts (if any) hybrid connectivity with Skype for Business server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2cea1cc-731d-bfba-3ed5-63a6339ecf88
* Version Independent ID: 7681956e-e442-07a3-7f7b-f086a0aff173
* Content: [Skype for Business Online retirement - Microsoft Teams](https

[2020-08-04 20:48] scanum commented on #5481
@VladimirGluten47 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-04 20:48] scanum commented on #5483
@TheBluLion Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-04 23:19] jakefirman commented on #5398
I would echo the issue reported by @jesegher. The documentation suggests that an admin can access meeting attendance data (when a user joined and exited the meeting) through the admin "Analytics and Reports" page, which appears to be false. As a tech administrator for a school district facilitating distance learning through Microsoft teams during the COVID epademic, the ability for an admin to pul

[2020-08-05 01:58] Gary620 commented on #5355
@Reeced40 Morning. Is there any progress on it? It's been 1 week. Thank you.

[2020-08-05 02:22] TokyoScarab commented on #4817
@LanaChin Was wondering if there was any new info on this issue from the PM, thanks!

[2020-08-05 02:28] scanum commented on #5499
@danmyhre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-05 02:28] scanum commented on #5498
@pnwnightowl Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-05 02:28] scanum commented on #5496
@pctec100 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-05 02:29] scanum commented on #5494
@O365scripts Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-05 02:30] scanum commented on #5489
@officeglobal Could you kindly help on this issue? Thanks!

[2020-08-05 02:30] scanum commented on #5488
@officeglobal Could you kindly help on this issue. Thanks!

[2020-08-05 02:31] scanum commented on #5485
@dinocaputo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-05 02:31] scanum commented on #5482
@imanboukly Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-05 02:31] #5482 closed

[2020-08-05 02:31] scanum commented on #5487
@Pikkon06 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-05 02:31] #5487 closed

[2020-08-05 02:31] scanum commented on #5493
@delahondes Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-05 02:31] #5493 closed

[2020-08-05 02:32] scanum commented on #5495
@hideokamine Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-05 02:32] #5495 closed

[2020-08-05 03:39] zubisultan79 opened #5500 "Teams Support 1000 participants"
[the article shows 300 participants can join the audio/video calls in teams meetings, now it is changed to 1000 Participants]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Micro

[2020-08-05 04:17] scanum commented on #4485
@OfficeGlobal - Any updates on this issue? Thanks!

[2020-08-05 04:17] scanum commented on #4489
@OfficeGlobal - Any updates on this issue? Thanks!

[2020-08-05 04:17] scanum commented on #4490
@OfficeGlobal - Any updates on this issue? Thanks!

[2020-08-05 04:17] scanum commented on #4494
@estiller  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:17] #4494 closed

[2020-08-05 04:18] scanum commented on #4542
@virginij  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:18] #4542 closed

[2020-08-05 04:18] scanum commented on #4614
@jvolp  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:18] #4614 closed

[2020-08-05 04:18] scanum commented on #4651
@keijikomatsu We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:18] #4651 closed

[2020-08-05 04:19] scanum commented on #4727
@aamillerMSFT Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:19] #4727 closed

[2020-08-05 04:20] scanum commented on #4972
@makonig Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:20] #4972 closed

[2020-08-05 04:21] scanum commented on #5030
@Larryngolog Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:21] #5030 closed

[2020-08-05 04:21] scanum commented on #5050
@J-a-k-o-b Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:21] #5050 closed

[2020-08-05 04:22] scanum commented on #5182
@PerryWerneck Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:22] #5182 closed

[2020-08-05 04:22] scanum commented on #5211
@stefandoh Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:22] #5211 closed

[2020-08-05 04:22] scanum commented on #5212
@NickElniff Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-05 04:22] #5212 closed

[2020-08-05 05:07] TokyoScarab commented on #3562
@CarolynRowe Just following up on this. Thanks!

[2020-08-05 08:21] OfficeGlobal commented on #5489
Working on a fix

[2020-08-05 08:22] OfficeGlobal commented on #5488
Working on a fix

[2020-08-05 08:34] Reeced40 commented on #5398
@LolaJacobsen please could you assist with this issue?

[2020-08-05 08:36] Reeced40 commented on #5355
@ashwinma14 any update yet please?

[2020-08-05 08:37] Reeced40 commented on #5349
@LanaChin please see message above as well regarding capability types missing.

[2020-08-05 08:41] Reeced40 commented on #4782
@CarolynRowe any update yet?

[2020-08-05 08:44] Reeced40 commented on #4774
@dstrome do you have any update yet on this please?

[2020-08-05 08:59] Reeced40 commented on #5356
@yukon-cornelius thank you for reaching out and helping improve MS Docs. I see this article was updated yesterday. Please let me know if you still need assistance.

[2020-08-05 09:01] Reeced40 commented on #5393
@scanum this can be closed please.

[2020-08-05 09:03] OfficeGlobal commented on #4489
Working on a fix. (ETA 8/10/2020)

[2020-08-05 09:03] OfficeGlobal commented on #4490
Working on a fix. (ETA 8/10/2020)

[2020-08-05 09:03] OfficeGlobal commented on #4525
Working on a fix. (ETA 8/10/2020)

[2020-08-05 09:03] Reeced40 commented on #5404
@brandber please can you check and merge when you get a chance.

[2020-08-05 09:03] OfficeGlobal commented on #4540
Working on a fix. (ETA 8/10/2020)

[2020-08-05 09:03] OfficeGlobal commented on #4560
Working on a fix. (ETA 8/10/2020)

[2020-08-05 11:10] clark123456 opened #5505 "Non-functional link for Metaswitch SSO"
It could just be my setup, but I can't reach sso.metaswitch.com as linked in your webpage.

This site can’t be reachedsso.metaswitch.com’s server IP address could not be found.
Try:

Checking the connection
Checking the proxy, firewall, and DNS configuration
Running Windows Network Diagnostics
ERR_NAME_NOT_RESOLVED

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-08-05 12:28] lindspea commented on #5481
@VladimirGluten47 thank you for reaching out and helping improve MS Docs. I see that link is showing under Related Information so it might have been updated in the interim. Please let me know if you have any further questions.

[2020-08-05 12:31] lindspea commented on #5483
@TheBluLion thank you for reaching out and helping improve MS Docs. I see in the note section it does mention that it is unsupported. Please let me know if you need further help.

[2020-08-05 13:04] twilkin4 opened #5507 "Bahrain Phone System License"
Could I get clarification on the availability of Dial-In numbers/audio conference license availability for Bahrain? One part of the page says it is available while another section says that it is not. The option for Bahrain dial-in is no longer available as well.

[2020-08-05 13:05] lindspea commented on #5496
@pctec100 thank you for reaching out and helping improve MS Docs. Are you suggesting adding a note to the article showing the default?

[2020-08-05 13:27] lindspea commented on #5498
@pnwnightowl thank you for reaching out. I will have to ask the team about this, but in the meantime let me know if this article helps at all - https://docs.microsoft.com/windows-server/remote/remote-desktop-services/virtual-machine-recs

[2020-08-05 13:39] TheBluLion commented on #5483
The entire page is inaccurate since you cannot change the conference id in teams.
The instructions published on the page can’t be completed.

﻿ -﻿ --
Eu Nice Loh
Premier Field Engineer
Office: (314) 872 5916
EuNice.Loh@microsoft.com<mailto:EuNice.Loh@microsoft.com>
IM:euloh@microsoft.com
8AM-5PM CT
[Microsoft]
﻿
If you have any feedback about my work, please let either me or my manager Annele Rich

[2020-08-05 13:39] lindspea commented on #5499
@LanaChin please could you assist and let us know how this impacts hybrid connectivity with Skype for Business server.

[2020-08-05 13:52] J-Fedor commented on #4774
FYI:  Problem should be resolved by upgrading Azure AD Connect - the 1.2.65.0 version has a fix related to the issue.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

[2020-08-05 14:12] lindspea commented on #5483
@tonysmit please can you help?

[2020-08-05 14:17] lindspea commented on #5472
@npherson thank you for reaching out and helping improve MS Docs. The article is reading correctly and has been recently updated to 10,000 which is correct. See https://techcommunity.microsoft.com/t5/microsoft-teams-blog/what-s-new-in-microsoft-teams-3rd-anniversary-edition/ba-p/1234871

[2020-08-05 14:22] lindspea commented on #5470
@wru69 thank you for reaching out. I've just checked the link and it works from my side. Please confirm if it's working for you now.

[2020-08-05 14:29] lindspea commented on #5467
@J-Fedor thank you for pointing this out. I have done a PR correcting this and it should reflect in a few days. In the meantime here is the correct link - https://docs.microsoft.com/skypeforbusiness/hybrid/cloud-consolidation-disabling-hybrid

[2020-08-05 14:35] npherson opened #5509 "Email a channel section - Include callout that this is not available in government clouds"
https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#emailing-a-channel

'Email a channel' is not available in Teams for Office GCC/GCCH/DOD organizations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f39

[2020-08-05 14:35] lindspea commented on #5457
@cyberzhu thank you for reaching out. Please see related issue - https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/4820.  The membership limit increase to 10,000 applies only to standard teams.

[2020-08-05 14:38] wru69 commented on #5470
Hello,
Does not work for me.
When I’m here
https://docs.microsoft.com/en-us/microsoftteams/devices/usb-devices

And I click on the link here
[cid:image005.jpg@01D66B4F.24847FE0]

Or here
[cid:image006.jpg@01D66B4F.24847FE0]

I get this error
https://www.microsoft.com/library/errorpages/smarterror.aspx?correlationId=oNyQ/x2zPUmRL3Do.0.4.0
[cid:image007.jpg@01D66B4F.24847FE0]

Best regards,
Rytis Ma

[2020-08-05 14:39] lindspea commented on #5452
@nthoman thank you for reaching out. Are you referring to the link in the first paragraph? I've just checked it and it works from my side. Please confirm if it's now working on your side too.

[2020-08-05 14:44] npherson commented on #5472
Did you confirm that with the O365 GCC/GCC-H/DOD teams? We were told again just a few days ago from the GCC product group that the limit is still 5,000 in GCC.

[2020-08-05 14:58] copenhaus opened #5510 "yah, sure, make it complicated"
[Enter feedback here]

I haven't begun to read all the links, but it got me thinking:  Microsoft is asking all the mom-and-pop shops to read through all of the articles (and UNDERSTAND them) they can be forced to transition to Teams one year from now.

OK, understood.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 771d

[2020-08-05 14:58] Petri-X opened #5511 "Plans to have document updated for SBC's internal interface"
Hi,
Today SBC vendors has started to support a scenario where other Teams user have access to SBC's internal interface only. Will you update the documentation to support that scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b198f4-9576-a14d-4359-1e8cc0319cda
* Version Independent ID: ba7c3252-21d4-9be1-2a84-d

[2020-08-05 16:08] pctec100 commented on #5496
Yes, I recommend specifying the default location.
Since deploying Teams using the msi installer we have had several cases
where teams was not installed to a user's profile and we manually ran
teams.exe from the Teams Installer folder to correct the issue.  It would
have saved me a little time troubleshooting the issue had the default
folder location been specified within this article.

On Wed, Aug

[2020-08-05 16:46] mymebenha opened #5512 "What numbers are valid?"
The docs make it sound like we can use any phone number for the caller ID but doesn't it have to be a phone number that's already in Teams such as a service number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91203832-1661-291d-16ff-22ddf312b68b
* Version Independent ID: 03c3b60e-dbfd-e59d-8161-7485b49b1db3
* Conten

[2020-08-05 20:32] oradcliffe commented on #5418
Hi, I am still wondering if we can get some information as to when this will be supported.

[2020-08-05 21:29] Smartboss88 opened #5517 "Need to add a section to require Teams subnets inbound access to port 443 to Exchange on prem servers"
To get this feature to work Exchange on prem servers need to be accessible by the Teams services.  For customer that limit inbound connection from Internet to Exchange servers, they need to open firewall port 443 from Teams services to Exchange on prem.  There is no mention in the article that this is a requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-08-05 21:50] dstrome commented on #4181
hi @ttheill - I checked with our product team and it appears that the required build had to be taken down temporarily. They're working on getting a new build online as soon as possible but I don't have an estimate for that yet. It may unfortunately take several days to resolve the issue. I'm terribly sorry for the inconvenience.

[2020-08-06 00:13] LolaJacobsen commented on #4307
As of July 1, 2020, the Office 365 E1 Trial license is no longer available.

[2020-08-06 00:13] #4307 closed

[2020-08-06 07:30] Reeced40 commented on #4774
@J-Fedor thank you for the information. Let me know if it's okay to close this issue.

[2020-08-06 07:30] OfficeGlobal commented on #4560
@hyoshioka0128 , @scanum  , @TinaMcN The article was HumanTranslated and published live.
However I can't change translation from "Microsoft Teams ミーティング" to "Microsoft Teams Rooms"
This is an approved translation by Microsoft

![image](https://user-images.githubusercontent.com/47977325/89503864-720ade00-d7c7-11ea-975d-ad2bbbd2e6be.png)

[2020-08-06 07:33] OfficeGlobal commented on #4525
@hyoshioka0128 , @scanum  , @TinaMcN The article was HumanTranslated and published live.
However I can't change translation from "Microsoft Teams ミーティング" to "Microsoft Teams Rooms"
This is an approved translation by Microsoft

![image](https://user-images.githubusercontent.com/47977325/89504089-c8781c80-d7c7-11ea-8f20-3e9a212bd1c5.png)

[2020-08-06 07:37] OfficeGlobal commented on #4489
@hyoshioka0128 , @scanum  , @TinaMcN The article was HumanTranslated and published live.
However I can't change translation from "Microsoft Teams ミーティング" to "Microsoft Teams Rooms"
This is an approved translation by Microsoft

![image](https://user-images.githubusercontent.com/47977325/89504089-c8781c80-d7c7-11ea-8f20-3e9a212bd1c5.png)

[2020-08-06 07:37] OfficeGlobal commented on #4490
@hyoshioka0128 , @scanum  , @TinaMcN The article was HumanTranslated and published live.
However I can't change translation from "Microsoft Teams ミーティング" to "Microsoft Teams Rooms"
This is an approved translation by Microsoft

![image](https://user-images.githubusercontent.com/47977325/89504089-c8781c80-d7c7-11ea-8f20-3e9a212bd1c5.png)

[2020-08-06 09:23] lindspea commented on #5470
@wru69 thank you for coming back to me. Are you referring to the link in the document where it says - "Browse devices certified for Microsoft Teams."? The links you gave me below your explanation are JPEG images, so I'm a little confused. Please could you clarify.

[2020-08-06 09:26] lindspea commented on #5472
@LolaJacobsen please can you confirm?

[2020-08-06 10:06] OfficeGlobal commented on #4959
@ikukoyoneda , @scanum article was HumanTranslated and published live. The string "Direct Routing" was updated as requested

[2020-08-06 10:13] Satake-0099 opened #5522 "Modify user profile picture"
Modify user profile picture
---
There is described in contradiction. In the middle of this page, it is said that "Users with mailboxes hosted on-premises <cut> can also change the user profile picture (if the Outlook on the web mailbox policy allows them to do so), ". But in the following table , "Modify user profile picture" is described as "No" for on-premise MBX. Which is correct?

⚠ *Do not ed

[2020-08-06 10:55] JSHooper opened #5523 "Teams Telephony Solutions posters differ between PDF/Visio"
Hi,

Reading through the documentation on OfficeDocs-SkypeForBusiness/Teams/teams-architecture-solutions-posters.md and I have noticed that the PDF file differs to the Visio file.

There are 5 options in the PDF:
![image](https://user-images.githubusercontent.com/66498163/89523710-3974ff80-d7db-11ea-85a4-6f9ffc6fe312.png)

There are only 4 options in Visio:
![image](https://user-images.githubuserc

[2020-08-06 11:29] J-Fedor commented on #4774
Yep, that’s fine.  Not sure if worth adding a footnote on there regarding that issue or not, but you can close.
Thanks.

John Fedor
Principal Architect
Direct:
Support Desk
630.592.6240
630.592.6260
visit peters.com today!
​Stay up-to-date and follow us on social media!
0.5% of Office 365 accounts are compromised monthly, are you protected? Find out HERE.
The information transmitted is intended on

[2020-08-06 16:18] laughey opened #5525 "Multi-layered inaccuracies and confusion"
This page needs updating...

**_Tenant-level control for Teams was removed effective August 2018. Control access to Teams in your organization with user-level licensing. To learn more, see Manage user access to Teams._**

This is not at all accurate (to me anyways). I still have a slider to turn Teams on/off at the tenant level...in every one of our tenants. Perhaps this setting no longer accompli

[2020-08-06 16:32] Lolu8080 opened #5526 "Number of users in Org wide Team"
The Teams training page https://docs.microsoft.com/en-us/learn/modules/m365-teams-collab-manage-teams/organization-wide-team states the number of users in an org wide team is up to 10000 this page states 5000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: b

[2020-08-06 16:35] LanaChin commented on #4817
Waiting to hear back from the PM, thanks.

[2020-08-06 16:58] wru69 commented on #5470
Hello,
I thought it’s easy to understand…

Please head to
https://docs.microsoft.com/en-us/microsoftteams/devices/usb-devices

On that page please find and I click on the link here where the red arrow points in my screenshot, i.e. Teams store

[cid:image001.jpg@01D66C2B.E3D44060]

Or on the same page please find and I click on the link here where the red arrow points in my screenshot bellow, i.e.

[2020-08-06 17:10] lindspea commented on #5470
@wru69 Sorry for the confusion but the reason why I can't see the error is I can't see the screenshots you're sending. Are you able to open this link - https://www.microsoft.com/microsoft-365/microsoft-teams/across-devices/devices?rtc=1 for the devices?

[2020-08-06 17:20] wru69 commented on #5470
No, I get the error
We are sorry, the page you requested cannot be found.
The URL may be misspelled or the page you're looking for is no longer available.

From: Lindsay <notifications@github.com>
Sent: 2020 m. rugpjūčio 6 d., ketvirtadienis 20:11
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Rytis Majauskas <rmajauskas@elipsis.lt>; Mention <men

[2020-08-06 20:07] bahnjee commented on #5496
It appears that the Teams installer is copied to the x86 dir on both architectures.  I just downloaded the "Commercial" 64bit MSI from _https://docs.microsoft.com/en-us/MicrosoftTeams/msi-deployment_ and since I accepted the default file name (Teams_windows_x64.msi) I'm sure I got the right one.  When I installed it to a 64-bit PC,  the Teams installer file (Teams.exe) ended up in "C:\Program File

[2020-08-06 20:20] ndambrosio commented on #5500
Technically it's still 300.  With the Advanced Communications add-on license you can have up to 1000 interactive participants and 20k view-only participants in overflow.

[2020-08-06 21:40] TinaMcN commented on #4560
@OfficeGlobal please open a request for the linguistic experts to review the feedback from hyoshioka0128  + @ykasugai (https://github.com/MicrosoftDocs/feedback/issues/2865) . The approved term may need to be revised.

[2020-08-06 21:41] TinaMcN commented on #4525
@OfficeGlobal please open a request for the linguistic experts to review the feedback.  The approved term may need to be revised.

[2020-08-06 21:41] TinaMcN commented on #4489
@OfficeGlobal please open a request for the linguistic experts to review the feedback. The approved term may need to be revised.

[2020-08-06 21:41] TinaMcN commented on #4490
@OfficeGlobal please open a request for the linguistic experts to review the feedback. The approved term may need to be revised.

[2020-08-07 08:12] lindspea commented on #5470
@wru69 Apologies, please try this one, https://products.office.com/microsoft-teams/across-devices/devices - otherwise I'll have to investigate further.

[2020-08-07 09:03] wru69 commented on #5470
Does not work. The same error message

Rytis
From Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Lindsay <notifications@github.com>
Sent: Friday, August 7, 2020 11:13:05 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Rytis Majauskas <rmajauskas@elipsis.lt>; Mention <mention@noreply.github.com>
Subject: Re: [Micro

[2020-08-07 09:04] wru69 commented on #5470
P.S. Tried from iPhone this time.

Rytis
From Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Rytis Majauskas <rmajauskas@elipsis.lt>
Sent: Friday, August 7, 2020 12:03:32 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <reply@reply.github.com>; MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Mention <mention@noreply.git

[2020-08-07 09:07] lindspea commented on #3647
@CarolynRowe any update yet?

[2020-08-07 09:08] lindspea commented on #3884
@LanaChin any update yet?

[2020-08-07 09:21] lindspea commented on #4900
@tonysmit @fafan any update yet please?

[2020-08-07 09:25] lindspea commented on #4973
@heinrich-ulbricht it seems the article has been updates and it's showing correctly now. Please confirm.

[2020-08-07 09:29] lindspea commented on #4936
@CarolynRowe any news yet?

[2020-08-07 09:34] lindspea commented on #5470
@mattpennathe3rd please could you assist with this issue. I've checked the link from my side and all works okay, but it's not working for @wru69

[2020-08-07 09:41] hyoshioka0128 commented on #4560
@TinaMcN - "Microsoft Teams Rooms" is one-word as our service name.
"ミーティング" is incorrect as Japanese translation of Rooms. Thanks.

Ref:
(1) [【Japan Partner Conference 2019】チャットだけじゃない! Microsoft Teams Rooms で小会議室から役員会議室まで会議を徹底的に変革する方法](https://www.slideshare.net/microsoftjp/japan-partner-conference-2019-microsoft-teams-rooms)
(2) [Thinksmart hub 500 - Smart Support - Lenovo](https://download.leno

[2020-08-07 09:42] hyoshioka0128 commented on #4525
@TinaMcN - "Microsoft Teams Rooms" is one-word as our service name.
"ミーティング" is incorrect as Japanese translation of Rooms. Thanks.

Ref:
(1) [【Japan Partner Conference 2019】チャットだけじゃない! Microsoft Teams Rooms で小会議室から役員会議室まで会議を徹底的に変革する方法](https://www.slideshare.net/microsoftjp/japan-partner-conference-2019-microsoft-teams-rooms)
(2) [Thinksmart hub 500 - Smart Support - Lenovo](https://download.leno

[2020-08-07 09:43] hyoshioka0128 commented on #4489
@TinaMcN - "Microsoft Teams Rooms" is one-word as our service name.
"ミーティング" is incorrect as Japanese translation of Rooms. Thanks.

Ref:
(1) [【Japan Partner Conference 2019】チャットだけじゃない! Microsoft Teams Rooms で小会議室から役員会議室まで会議を徹底的に変革する方法](https://www.slideshare.net/microsoftjp/japan-partner-conference-2019-microsoft-teams-rooms)
(2) [Thinksmart hub 500 - Smart Support - Lenovo](https://download.leno

[2020-08-07 09:43] hyoshioka0128 commented on #4490
@TinaMcN - "Microsoft Teams Rooms" is one-word as our service name.
"ミーティング" is incorrect as Japanese translation of Rooms. Thanks.

Ref:
(1) [【Japan Partner Conference 2019】チャットだけじゃない! Microsoft Teams Rooms で小会議室から役員会議室まで会議を徹底的に変革する方法](https://www.slideshare.net/microsoftjp/japan-partner-conference-2019-microsoft-teams-rooms)
(2) [Thinksmart hub 500 - Smart Support - Lenovo](https://download.leno

[2020-08-07 12:31] clouditspace opened #5529 "PS correction"
The below script should be corrected: All  **Credentials** is not a valid PS command and modify as **Credential**
$credential = Get-Credentials

#Connect to Microsoft Teams
Connect-MicrosoftTeams -Credentials $credential

#Connection to Skype for Business Online and import into Ps session
$session = New-CsOnlineSession -Credentials $credential
Import-PsSession $session
----------------------------

[2020-08-07 13:35] lindspea commented on #5261
@scanum this can be closed thank you.

[2020-08-07 13:36] lindspea commented on #5263
@scanum this can be closed thanks.

[2020-08-07 13:40] lindspea commented on #5296
@brandber could you please assist?

[2020-08-07 13:41] lindspea commented on #5313
@scanum this can be closed thank you.

[2020-08-07 13:43] lindspea commented on #5345
@scanum this can be closed thank you.

[2020-08-07 17:53] bahnjee commented on #5391
@scanum is correct.  Improving the documentation is the point of these pages.

This doc clearly states the Teams installer is copied to Program Files.  So there's your detection.  Does that file exist or not?  (You could also add date/version checking if you like.)  Deploying this MSI will not install Teams; it will copy an installer to Program Files.  This installer will be kicked off later when

[2020-08-08 00:04] TinaMcN commented on #4560
@hyoshioka0128 thank you for the references.   I shared them with the linguistic experts who will review the feedback and make a decision.

[2020-08-09 14:50] 3novsan opened #5531 "Teams Meeting Add-Ins for On-premises Exchange User"
This Article doesn't provide calrity if HWA (Hybrid Exchange Wizard) is a must for Teams users with On-premises mailboxes to use "Teams Meeting Add-ins" in outlook to setup Teams Meeting. In Note it is mentioned "The Outlook Teams add-in can be used to schedule a Teams meeting for mailboxes hosted in Exchange on-premises." which means we don't need Exchage Hybrid But later in the article it talks

[2020-08-09 16:23] kefujino opened #5532 "The deleted column description remains in document."
The Columns Highlighted in the Image Does Not Exist in the Current Environment. They are not included in both the reports on the UI and the exported CSV. Could you please update, if this document is not up to date.

![image](https://user-images.githubusercontent.com/13634805/89736890-cbb12800-daa7-11ea-8409-3ce340c96df5.png)
![image](https://user-images.githubusercontent.com/13634805/89736893-d10e

[2020-08-09 16:25] kefujino commented on #5347
Perfect! Thank you for your quick work!! Very helpful for us,

[2020-08-09 23:07] nikki-c opened #5533 "The link to the roadmap does not work"
The link to the roadmap  (reference 44370) detailing the change in functionality to make private Teams non discoverable does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5920152-5fee-41ed-56df-ad7b51b25cc2
* Version Independent ID: 88cfc850-5e36-48ee-ba99-088b2b653f1e
* Content: [Manage discovery of private

[2020-08-10 03:47] sillysampiper commented on #4181
Hi @dstrome

Hoping for some clarity / a solution for deploying a MTR console from the latest CreateSrsMedia.ps1 script.

- What version of Windows 10 Enterprise is required for both the the Windows 10 machine used to create the Microsoft Teams Rooms installation media, and the Windows 10 media that will be used to deploy the MTR console onto the required 32GB USB / storage?

As of today [the curr

[2020-08-10 04:36] scanum commented on #5509
@npherson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:37] scanum commented on #5511
@Petri-X Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:37] scanum commented on #5517
@Smartboss88 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:38] scanum commented on #5522
@Satake-0099 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:38] scanum commented on #5523
@JSHooper Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:38] scanum commented on #5525
@laughey Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:39] scanum commented on #5526
@Lolu8080 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:39] scanum commented on #5529
@clouditspace Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:39] scanum commented on #5531
@3novsan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:40] scanum commented on #5532
@kefujino Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:40] scanum commented on #5533
@nikki-c Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-10 04:40] scanum commented on #5505
@clark123456 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-10 04:40] #5505 closed

[2020-08-10 04:41] scanum commented on #5507
@twilkin4 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-10 04:41] #5507 closed

[2020-08-10 04:41] scanum commented on #5510
@copenhaus Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-08-10 04:41] #5510 closed

[2020-08-10 04:41] scanum commented on #5512
@mymebenha Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-08-10 04:41] #5512 closed

[2020-08-10 04:41] scanum commented on #5523
@JSHooper Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-10 04:41] #5523 closed

[2020-08-10 04:41] scanum commented on #5500
@zubisultan79 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-10 04:41] #5500 closed

[2020-08-10 07:20] Reeced40 commented on #4774
@scanum this can be closed thank you.

[2020-08-10 09:53] lindspea commented on #5340
@scanum this can be closed thanks.

[2020-08-10 10:03] lindspea commented on #5104
@scanum this can be closed thanks.

[2020-08-10 10:32] Petri-X opened #5534 "More background information required"
Hi Microsoft,

What is the idea of this?? Why do you remove this from ALL instead of let companies to define if they like to get it be how they wish?

Just a simple global policy: PrivacyChannelsDiscoverabled: true/false.

Are you sure the feedback you have received is coherence/valid? Perhaps the feedback group has not been enough wide.

I do not support this. It is good that users can define how

[2020-08-10 11:30] ntziolis opened #5535 "How to certify a device"
Not sure where to ask this. How do we certify our device for Microsoft teams? Is there a specific SDK to be used to interact with the teams client? Could you point us to where we can find out more abut integration options / requirements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b118e0a7-1fef-feae-6c6d-e24c4485a5b

[2020-08-10 12:16] lindspea commented on #5458
@macna thank you for reaching out. Please have a look at this link and let me know if it helps at all. - https://answers.microsoft.com/msteams/forum/all/external-presenters-in-teams-live-events/a40251d0-dc01-4d48-8332-875cc3a9c6d5?auth=1

[2020-08-10 12:18] lindspea commented on #5457
@scanum this can be closed thanks.

[2020-08-10 12:19] lindspea commented on #5451
@greganth1 thank you for pointing this out. Are you suggesting adding a note in this article to clarify this?

[2020-08-10 12:22] lindspea commented on #5443
@suresh-solomon thank you for reaching out. Please see the note above stipulating "KB 3061064 contains all Cumulative Updates that have been released." Let me know if you need further assistance.

[2020-08-10 12:23] JAK1047 commented on #5389
Any update towards this?

[2020-08-10 12:24] lindspea commented on #5442
@shanehoey thank you for reaching out and helping improve MS Docs. I see this article was updated a few days ago. Please let me know if you still recommend adding your information.

[2020-08-10 12:27] lindspea commented on #5440
@pnwnightowl thank you for reaching out. I see the article was updated a few days ago. Please have a look and let me know if you still think the link needs to be added, and where?

[2020-08-10 12:28] greganth1 commented on #5451
Yes that is correct.  A note would be great.

[2020-08-10 12:30] lindspea commented on #5438
@TomasCrha thank you for pointing this out and helping improve MS Docs. Please could you clarify what I should put in the note that must be added to the article to help other users regarding the issue above.

[2020-08-10 13:01] thomphi2 opened #5536 "Documentation Issue"
The team template for "https://graph.microsoft.com/beta/teamsTemplates('retailManagerCollaboration')" is listed as generating the channels "Shift handoff" and "Learning"

When applying the template it create the channels "learning" and "operations"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24d884cb-c126-b5dc-ff90-

[2020-08-10 14:29] LordDelacroix opened #5538 "The actual Version"
So just WHAT the popsicle is going on here?  This page tells me version 4.blah.blech.blah is the latest and was released on 7/23/2020 - my Teams says I have version 1.3.00.19173 last updated on 7/23/2020!! So which is it and why can't you get your versioning straight??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 136

[2020-08-10 15:09] Jaredsfs1 opened #5539 "Missing Scenario: AD Group Based TeamsMeetingBroadcastPolicy"
The article: https://docs.microsoft.com/en-us/microsoftteams/teams-live-events/set-teams-live-events-policies-using-powershell
Should be updated to include a new scenario under the first three scenarios, probably titled: “You want to disable live event scheduling for a large number of the users and allow a group of users to schedule them”
With a link to the Teams New-CsGroupPolicyAssignment Suppor

[2020-08-10 19:55] lamich1 opened #5540 "Missing certfied headset(Jabra Evolve2 65 Mono)"
Reviewing documentation , found that there is a missing device from this list. According to the Microsoft store https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/across-devices/devices/product?deviceid=545

The Jabra Evolve2 65 Mono is Teams certified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b118e0a7

[2020-08-11 01:44] Gary620 commented on #5355
@ashwinma14 Hi, how are you doing? May I know is there anything new on this thread? The problem has been 2 month since I raised the first issue.
@Reeced40 Reece, can you also help on this?

[2020-08-11 02:56] ray-suncor opened #5541 "In the real deployment we had, the event ID 2000 is 3000 and event ID 3001 is 2001"
[In the real deployment we had, the event ID 2000 is 3000 and event ID 3001 is 2001.]

![2020-08-10_20-54-40](https://user-images.githubusercontent.com/62112707/89852321-d3c2a380-db4b-11ea-8312-7ee8b08a8aac.png)
---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c813d7c-1789-d0c9-c833-cbdd3f60e2b8
* Version Independent ID

[2020-08-11 03:29] matthewalkr opened #5542 "Documentation fault"
That setting is not team-wide: it is channel-specific. Instructions should be ...

[2020-08-11 04:07] scanum commented on #5534
@Petri-X Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-11 04:07] scanum commented on #5536
@thomphi2 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-11 04:09] scanum commented on #5539
@Jaredsfs1 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-11 04:10] scanum commented on #5540
@lamich1 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-11 04:10] scanum commented on #5541
@ray-suncor Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-11 04:10] scanum commented on #5542
@matthewalkr Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-11 04:10] #5542 closed

[2020-08-11 04:11] scanum commented on #5538
@LordDelacroix Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-08-11 04:11] #5538 closed

[2020-08-11 04:11] scanum commented on #5535
@ntziolis Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-11 04:11] #5535 closed

[2020-08-11 04:11] scanum commented on #5534
@Petri-X Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-11 04:11] #5534 closed

[2020-08-11 04:55] ntziolis commented on #5535
We are not a customer, we are a dev shop that want to build for the Microsoft UC platform, but could not find any point of contact to get information. We were hoping that you could reach out internally to find out what the best point of contact is.

[2020-08-11 08:40] macna commented on #5458
Hey @lindspea, that link generates a 404 unfortunately. I can see that @LanaChin has [already updated the page](https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/189a07e090de14064bdc30992d3219f3fe7318b6), which does help to clarify.

I think further clarification about how (or if) this works for guests using B2C accounts is still needed. Again, I'm presuming it doesn't work becau

[2020-08-11 13:43] kalalvishal opened #5544 "Credentials should be Credential"
[Enter feedback here]
Looks like there is typo "Credentials" it should be "Credential":

$credential = Get-Credential

#Connect to Microsoft Teams
Connect-MicrosoftTeams -Credential $credential

#Connection to Skype for Business Online and import into Ps session
$session = New-CsOnlineSession -Credential $credential
Import-PsSession $session

---
#### Document Details

⚠ *Do not edit this section.

[2020-08-11 14:32] pnwnightowl commented on #5440
I don’t see it…  Personally, I would add reference to preventing auto launch<https://docs.microsoft.com/en-us/microsoftteams/msi-deployment#prevent-teams-from-starting-automatically-after-installation> as a NOTE at the end or beginning of this section:
https://docs.microsoft.com/en-us/microsoftteams/teams-for-vdi#deploy-the-teams-desktop-app-to-the-vm

Jeff

From: Lindsay<mailto:notifications@gith

[2020-08-11 15:53] doggy-dog opened #5546 "Slovenia Calling plans"
[Enter feedback here]
There are available Calling plans in Slovenia, please modify the article. (You can get phone numbers for Slovenia from the Teams Admin center)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87d92b59-7977-5cb0-07b3-ae61d6c6f427
* Version Independent ID: 6bfc8c8e-3ad8-1e98-a0bf-2221173c42ce
* Conten

[2020-08-11 18:18] LanaChin commented on #3884
Thanks so much for raising this issue. The content in https://docs.microsoft.com/skypeforbusiness/management-tools/use-scom-management-pack/watcher-nodes applies and we're working to update the watcher-nodes-2019 article to reflect that.

[2020-08-11 18:18] #3884 closed

[2020-08-11 23:52] Michael-Sampson opened #5548 "No Preservation Lock for Retention Policies for Teams?"
[Enter feedback here]
Hi team ... can you please confirm if retention policies for Teams can have preservation lock enabled? From the screenshot, it looks like the answer is no since the Edit option is greyed out. Thanks - M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f55c52a5-5841-b9c9-1607-2013dc3f2e20
* Version

[2020-08-12 00:24] sophiasysun commented on #5327
Hi all - really appreciate the update in the docs! Much more clear!
https://docs.microsoft.com/en-us/microsoftteams/cloud-recording

[2020-08-12 01:35] Gary620 commented on #5327
@sophiasysun it has been modified? I still cannot see any difference. Still wrong information there.

[2020-08-12 04:44] scanum commented on #5544
@kalalvishal Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-12 04:44] scanum commented on #5546
@doggy-dog Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-12 04:45] scanum commented on #5548
@Michael-Sampson Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-08-12 04:45] #5548 closed

[2020-08-12 05:02] scanum commented on #4540
@officeglobal Any updates on this issue?

[2020-08-12 05:04] scanum commented on #4959
@ikukoyoneda  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:04] #4959 closed

[2020-08-12 05:04] scanum commented on #4973
@heinrich-ulbricht We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:04] #4973 closed

[2020-08-12 05:06] scanum commented on #5091
@dstrome Hi David! Any updates here? Thanks!

[2020-08-12 05:07] scanum commented on #5273
@rafagranado Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:07] #5273 closed

[2020-08-12 05:08] scanum commented on #5216
@trecee13 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:08] #5216 closed

[2020-08-12 05:08] scanum commented on #5224
@CarissaB117 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:08] #5224 closed

[2020-08-12 05:08] scanum commented on #5231
@iamnirajpandey Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:08] #5231 closed

[2020-08-12 05:09] scanum commented on #5238
@jdanner89 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:09] #5238 closed

[2020-08-12 05:09] scanum commented on #5243
@J-Fedor Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:09] #5243 closed

[2020-08-12 05:09] scanum commented on #5261
@drbree82 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:09] #5261 closed

[2020-08-12 05:09] scanum commented on #5263
@Larryngolog Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:09] #5263 closed

[2020-08-12 05:09] scanum commented on #5275
@bradrush Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:09] #5275 closed

[2020-08-12 05:09] scanum commented on #5283
@Sanjeev017 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:09] #5283 closed

[2020-08-12 05:10] scanum commented on #5284
@bubbletroubles Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:10] #5284 closed

[2020-08-12 05:18] scanum commented on #5309
@jake9000 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:18] #5309 closed

[2020-08-12 05:18] scanum commented on #5313
@rafagranado Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:18] #5313 closed

[2020-08-12 05:18] scanum commented on #5314
@expatmarcos Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:18] #5314 closed

[2020-08-12 05:18] scanum commented on #5318
@SimonJHudson We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:18] #5318 closed

[2020-08-12 05:19] scanum commented on #5320
@snickelfritz1024 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:19] #5320 closed

[2020-08-12 05:19] scanum commented on #5322
@cadasi Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:19] #5322 closed

[2020-08-12 05:19] scanum commented on #5324
@aalejandroaraujo We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:19] #5324 closed

[2020-08-12 05:20] scanum commented on #5340
@anthonysomerset Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:20] #5340 closed

[2020-08-12 05:20] scanum commented on #5345
@GrantErickson Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:20] #5345 closed

[2020-08-12 05:21] scanum commented on #5347
@kefujino Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:21] #5347 closed

[2020-08-12 05:22] scanum commented on #5356
@yukon-cornelius Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:22] #5356 closed

[2020-08-12 05:23] scanum commented on #5357
@erwinbierens Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:23] #5357 closed

[2020-08-12 05:23] scanum commented on #5362
@alanburchill We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:23] #5362 closed

[2020-08-12 05:23] scanum commented on #5393
@officedocspr Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:23] #5393 closed

[2020-08-12 05:25] scanum commented on #5442
@shanehoey Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:25] #5442 closed

[2020-08-12 05:25] scanum commented on #5443
@suresh-solomon Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:25] #5443 closed

[2020-08-12 05:25] scanum commented on #5452
@nthoman We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:25] #5452 closed

[2020-08-12 05:25] scanum commented on #5457
@cyberzhu Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:25] #5457 closed

[2020-08-12 05:25] scanum commented on #5467
@J-Fedor Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:25] #5467 closed

[2020-08-12 05:25] scanum commented on #5468
@aamillerMSFT Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:25] #5468 closed

[2020-08-12 05:26] scanum commented on #5481
@VladimirGluten47 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:26] #5481 closed

[2020-08-12 05:27] scanum commented on #5498
@pnwnightowl Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:27] #5498 closed

[2020-08-12 05:27] scanum commented on #5499
@danmyhre Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-12 05:27] #5499 closed

[2020-08-12 06:08] hyoshioka0128 commented on #4540
Ref:
[Microsoft Teams Rooms用 Logicool Tap - Logitech](https://www.logitech.com/assets/65652/22/tap-datasheet.pdf)

[2020-08-12 06:34] RytisGrig commented on #4181
Dear @dstrome, do you have any updated information regarding this issue?
It is really nightmare we can not upgrade our rooms and really waiting for script fixing

![image](https://user-images.githubusercontent.com/69571624/89982800-07521a80-dc7f-11ea-9c3f-33994f337c09.png)

[2020-08-12 06:38] hyoshioka0128 opened #5549 "[LOC]Back-Translation "Lenovo 思考センター M920 Tiny"→"Lenovo Think Center M920 Tiny""
ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/requirements
![requirements_j2](https://user-images.githubusercontent.com/40815708/89983055-da6b2b00-dcb1-11ea-9186-c9a4930c8a8d.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/requirements
![requirements_e2](https://user-images.githubusercontent.com/40815708/89983041-d2ab8680-dcb1-11ea-8b88-ae1fd46d2b17.png)

Ref: [Leno

[2020-08-12 06:46] hyoshioka0128 opened #5551 "[LOC]Back-Translation "ごみ箱"→"Yealink" (re-open:#4514)"
re-open:#4514

ja-jp:https://docs.microsoft.com/ja-jp/MicrosoftTeams/rooms/requirements
![requirements_j2](https://user-images.githubusercontent.com/40815708/89983571-b9570a00-dcb2-11ea-9e22-530ac048956c.png)

en-us:https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/requirements
![requirements_e2](https://user-images.githubusercontent.com/40815708/89983614-ca078000-dcb2-11ea-854d-6b6e70d4c468.p

[2020-08-12 07:54] OfficeGlobal commented on #4540
@scanum MT engine reprocessed the file with wrong translation. I'm on update and re-HandBack

[2020-08-12 09:22] lindspea commented on #5458
@macna thank you for letting me know. @LanaChin could you help with information about B2C accounts please.

[2020-08-12 10:47] magonzalezm opened #5553 "Change in the screens / titles"
Right now the screenshot is misleading, in "Step 3: Configure Microsoft 365 Groups", it should say Microsoft 365‎ Groups.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f737e278-7c89-e048-b60b-287615a829fb
* Version Independent ID: 1df35258-7360-74c4-680a-e154c54291fe
* Content: [Microsoft Teams

[2020-08-12 12:37] vT15 opened #5554 "Not clear details"
“ 4,6, or 8 It's important to understand the underlying non-uniform memory access (NUMA) configuration and configure your VM”

4,6 or 8 vCPU is it per user ? I need value per user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version Independent ID: 643bcf2f-507b-e449-73db-923d8a

[2020-08-12 14:07] nthoman commented on #5452
Sorry, I missed your reply. Yes I was but then realized our firewall might have been blocking it. Sorry for the wild goose chase.

Nick Thoman
Senior Systems Engineer | Information Services
Brethren Mutual Insurance Company

w: 301-739-0950; 1390<tel:301-739-0950;%201390>
m: 301-512-4554<tel:301-512-4554>
e: nthoman@bmic.com<mailto:nthoman@bmic.com>

For support requests please email: helpdesk@bmi

[2020-08-12 14:14] GrantErickson commented on #5345
I didn't see the change in the PR, but the docs site is now correct. Thanks.

[2020-08-12 14:39] #5161 closed

[2020-08-12 14:41] LanaChin commented on #5337
Microsoft Teams Rooms article. Reassigning to @dstrome.

[2020-08-12 14:47] LanaChin commented on #5349
Followed up with PM.

[2020-08-12 16:02] quentinhurdazure commented on #5349
hi @SanderSade  and @LanaChin  I'll get update the docs and create a requirement item in ADO to track this in our backlog.  We will not have a solution to report on this for this at least for a week.

[2020-08-12 17:58] kefujino commented on #5532
I found out a commit that added these columns from commit history. These have added recently to this article. According to commit message, there are still in preview.

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/e19a76174bea95c253cf65675a10cd64bbc03be3?short_path=fe0b52b#diff-fe0b52bf99168c1e149ec434a8c46e20

Reports in Microsoft 365 are essential for administrators to unde

[2020-08-12 19:28] cabailey commented on #5548
@Michael-Sampson  No need to open a service ticket - I can confirm that a retention policy for Teams supports Preservation Lock and you'll find supporting documentation here: https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide#lock-a-retention-policy-by-using-powershell

[2020-08-12 19:56] sophiasysun commented on #5327
@Gary620 yes, see the blue box that says "important."

[2020-08-12 20:25] erictechtips opened #5556 "Presentation duration limit"
Is there a limit for how long you can share your screen in a Teams meeting?  Or would that limit for sharing your screen be 24 hours?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications f

[2020-08-12 22:53] Gary620 commented on #5327
Really? I see no difference from the one 2 month ago. Can you clarify?

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Sophia Sun <notifications@github.com>
发送时间: Thursday, August 13, 2020 3:57:07 AM
收件人: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
抄送: Gary Zhang (bei jing di mei ce fang shi) <v-guazh@microsoft.com>; M

[2020-08-12 23:01] ekkonomix opened #5558 "Installer Links are Continually Wrong"
The download links to the installer on this page are wrong again.  Build 13565 is linked, but the latest build available elsewhere is 19173.  It's really tough on us admins when we're having to crosscheck links to see if what we're clicking on is really the latest build...or if other builds are available elsewhere.  This is the second time in recent months this has happened so it seems like this p

[2020-08-13 08:16] jaspreetjolly opened #5561 "Each user in your organization must have a Teams license before they can use Teams."
Article mentioned "Each user in your organization must have a Teams license before they can use Teams". However for joining Teams meetings, no licenses are required Refer: https://docs.microsoft.com/en-us/MicrosoftTeams/quick-start-meetings-live-events#get-licenses-for-meetings-and-live-events.
We should have an * marked next to this mentioning "for meetings refer the meetings article."

[2020-08-13 09:31] tiagoroxo commented on #5522
@scanum I have the same question, seems we have a contradiction in the documentation.

[2020-08-13 14:52] WillMartin58 opened #5564 "Possible missing close squiggle brace"
I believe the code for adding a private channel on behalf of a team owner using Graph may be missing a close } at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33e0ac38-cfff-8d8f-5345-2ae93a9fae2e
* Version Independent ID: bec44289-e9fa-4464-1601-0ca86d61e6ca
* Content: [Manage the life cycle of private chann

[2020-08-13 15:26] tonysmit commented on #5546
There are no subscriber (user) phone numbers available in Slovenia. However, there are phone numbers available for service numbers and toll free phone numbers. In the documentation, if there are all types of numbers (user, service and toll free) available for a specific country/region, then we say that Calling Plans are available. Calling plans are only supported currently in 10 countries/regions

[2020-08-13 15:26] #5546 closed

[2020-08-13 15:45] tonysmit commented on #4374
@ashwinma14 - can you assist here please?

My understanding is that everyone that enters a Live Event will enter muted.

[2020-08-13 16:12] dreeves14 commented on #4374
I will say recently I’ve noticed this feature working.

Again I just don’t know the threshold. I believe yesterday when I joined a group call and I was the 5th or 6th person I may have been auto muted and didn’t notice it – so again maybe this is finally in motion at after 4 ot 5 people.

-DR

    Dalton Reeves
    IT Infrastructure Support Analyst
    P (314) 655-5523 | F (314) 309-3103
    dreev

[2020-08-13 16:31] tonysmit commented on #4001
Update: I'm meeting with the PMs to discuss this.

[2020-08-13 16:31] tonysmit commented on #5355
Update: I'm meeting with the PMs to discuss this.

[2020-08-13 16:49] tonysmit commented on #5483
Rewrote it and removed the static ID issue.

[2020-08-13 16:49] #5483 closed

[2020-08-13 18:17] TheBluLion commented on #5483
Thanks Tony, would it be possible to remove the entire section that begins with the heading below? It does not apply to teams and does not exist in the teams admin center, and is not on the roadmap.

Resetting the conference ID for a user

﻿ -﻿ --
Eu Nice Loh
Technical Program Manager
Office: (314) 872 5916
EuNice.Loh@microsoft.com<mailto:EuNice.Loh@microsoft.com>
IM:euloh@microsoft.com
8AM-5PM CT

[2020-08-13 19:26] D-Jeffrey opened #5565 "Azure Voice Mail missing?"
[Enter feedback here]
The Teams Logical Architecture diagram should have a reference to Azure Voice Mail and the interlink to Exchange from Azure Voice Mail.

Thanks for publishing this, very helpful to understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3ad624-9792-91b7-c85f-09b839b1ea44
* Version Independent

[2020-08-13 21:09] ray-suncor commented on #5541
I did get 3001 event after force hardware failure, but I never got 2000 event. Is there a place to be configured on the client side?

[2020-08-13 21:41] NimaOghanian opened #5567 "Spell check"
[Enter feedback here]
On third paragraph Teams spelled as Teans.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a162ef5c-3099-7f58-4178-d29e3ec2b5a7
* Version Independent ID: 6ca31e56-052d-6c62-1323-b5aaaae1f04a
* Content: [User presence in Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/presen

[2020-08-13 23:50] XixiHuang333 opened #5569 "Teams MSI download version in VDI environment"
[Enter feedback here]

Hi Team,
Could you please check if the MSI version in this document is latest or right version here in VDI environment?
In below link, the MSI version is 1.3.0.13565 and i am worrying about if this is latest version for VDI  environment.
https://docs.microsoft.com/en-us/microsoftteams/teams-for-vdi#install-or-update-the-teams-desktop-app-on-vdi

But i found MSI version in be

[2020-08-14 05:37] MacKender opened #5571 ""These countries/regions and clouds aren't supported""
Under the section ”Regional availability" you are stating that "These countries/regions and clouds aren't supported" ==> What do you mean by "aren’t supported"? Are you saying that one will not be able to set up and hold a live event if one’s tenant is located in one of the unsupported countries/regions? Some clarification would have been nice.

---
#### Document Details

⚠ *Do not edit this secti

[2020-08-14 07:29] nidelius opened #5572 "Current limitation with private channel tags not working"
Full team tags are not available to use as @ mentions in private channel.
And tags in the private channel is not available:

https://microsoftteams.uservoice.com/forums/555103-public/suggestions/39895411-tagging-in-private-channels

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Ve

[2020-08-14 08:24] OfficeGlobal commented on #4540
@scanum , @hyoshioka0128 the translation for "Logitech" was reverted to ENG and published live

[2020-08-14 12:17] Jmartinez589 opened #5573 "Useful tip"
I'm facing this issue when attempting to help clients where Teams recording is not available in their region.

One useful command to consider adding to this article is,

Get-CsTeamsMeetingPolicy -Identity Global | FT AllowRecordingStorageOutsideRegion

and

Set-CsTeamsMeetingPolicy -Identity Global -AllowRecordingStorageOutsideRegion $true

---
#### Document Details

⚠ *Do not edit this section. I

[2020-08-14 12:44] JorgeALeitao opened #5575 "Conflicting information about Stream licensing and permissions X ability to Record"
The content under https://docs.microsoft.com/en-US/microsoftteams/cloud-recording#make-sure-users-have-upload-video-permissions-in-microsoft-stream  Section contradicts footnote 1 in https://docs.microsoft.com/en-US/microsoftteams/cloud-recording#prerequisites-for-teams-cloud-meeting-recording section.

**The users who are in this restricted list will not be able to record
X
 1 Important

**Users

[2020-08-14 12:58] xNiklasJern opened #5576 "clarification regarding this setting ' Anonymous users can join a meeting'"
Hi,

Anonymous users in this context is referred to as a non-guest users within tenant, right? Which means even if you send a teams meeting invite directly to a users, (and if they aren't added as guest) they are seen as a anonymous user?

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470478ed-3b4e-ced8-0e28-6

[2020-08-14 14:03] M365-DenzilFernandes opened #5577 "How to achieve this using PowerShell?"
Is there a cmdlet that can export the total minutes available and used via PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8107d4a3-a55e-4891-ee72-27f79f647a1e
* Version Independent ID: b71f24c6-b54d-8a0f-ea0e-8839ff5481a4
* Content: [Microsoft Teams PSTN minute pools report - Microsoft Teams](https://docs.m

[2020-08-14 16:32] SeaGT opened #5578 "Wrong information"
This is incorrect: in the Microsoft Teams admin center, go to Meetings > Conference bridges.

There is no Conference bridges option under Meetings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c6e2b61-656c-a4f8-94a7-ec3c14e4d65e
* Version Independent ID: 77932de0-0312-95c5-f356-89ece9b3aabd
* Content: [Phone numbers

[2020-08-14 20:38] dndmann opened #5580 "Review"
This is great but the direct reports do not show up in the output file. I can run the Get-AzureADUserDirectReport -ObjectId by itself and get the direct reports for the individual id. Looks like there is a user class that is being listed for the $direct or $directs values, listing all the reports for the given $user... line 55 through 65.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-08-14 22:40] chrisbardon opened #5581 "Documentation should highlight that it can take up to 24h the ApplicationInstance to show up online"
The instructions for DR AA work, but if you create the HybridApplicationEndpoint, it seems that it can take several hours for the application to show up as a valid instance (returned from Get-CsOnlineApplicationInstance).  I just spent a couple of hours trying to get this to work (trying to figure out why the application instance wasn't appearing), only to find out that it was because the instance

[2020-08-14 23:17] ruizoscar commented on #4569
As outlined in the documentation, the following information is accurate in regard to the purchasing availability of the audio conf. service in India:
- Is Audio Conferencing available for purchase? | Microsoft doesn’t sell Audio Conferencing in India. TATA Communications offers a dial-in and dial-out service that is compatible with Microsoft Teams Meetings. For more information, please visit TATA

[2020-08-15 02:33] scanum commented on #5549
@officeglobal could you kindly help with this issue? Thanks!

[2020-08-15 02:33] scanum commented on #5551
@officeglobal could you kindly help with this issue? Thanks!

[2020-08-15 02:33] scanum commented on #5553
@magonzalezm  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:33] scanum commented on #5554
@vT15  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:34] scanum commented on #5558
@ekkonomix  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:34] scanum commented on #5561
@jaspreetjolly  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:34] scanum commented on #5564
@WillMartin58  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:36] scanum commented on #5565
@D-Jeffrey  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:42] scanum commented on #5567
@NimaOghanian  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:42] scanum commented on #5569
@XixiHuang333  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:43] scanum commented on #5571
@MacKender  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:43] scanum commented on #5572
@nidelius  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:45] scanum commented on #5575
@JorgeALeitao  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:46] scanum commented on #5578
@SeaGT  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:47] scanum commented on #5580
@dndmann  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:47] scanum commented on #5581
@chrisbardon  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-15 02:51] scanum commented on #5577
@M365-DenzilFernandes Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Pl

[2020-08-15 02:51] #5577 closed

[2020-08-15 02:51] scanum commented on #5556
@erictechtips Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-08-15 02:51] #5556 closed

[2020-08-15 02:52] scanum commented on #5573
@Jmartinez589 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-08-15 02:52] #5573 closed

[2020-08-15 02:52] scanum commented on #5576
@xNiklasJern Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-15 02:52] #5576 closed

[2020-08-15 03:54] hyoshioka0128 commented on #5551
@scanum  @OfficeGlobal  - "Yealink" is Fixed. Thanks.
Closed #5551.

[2020-08-15 03:54] #5551 closed

[2020-08-15 03:55] hyoshioka0128 commented on #5549
@scanum  @OfficeGlobal  - "Lenovo 思考センター M920 Tiny" is Fixed. Thanks.
Closed #5549.

[2020-08-15 03:55] #5549 closed

[2020-08-15 04:49] hyoshioka0128 commented on #4540
@scanum  @OfficeGlobal  - "Logitech Tap" has been Fixed.
Closed #4540.

[2020-08-15 04:49] #4540 closed

[2020-08-15 06:33] petepig opened #5583 "Background video effects not allowed on old CPU without AVX2 running Windows 10"
In you paper you stated:
"The optional Background video effects are not supported on processors without an AVX2 instruction set **running on Windows 8.1 or below**."

I have an old laptop with
- Intel(R) Core(TM) i7-3610QM CPU @ 2.30GH CPU which does not have AVX2.
- Windows 10 Home installed

I still find I cannot use Background Video effects when using teams.

---
#### Document Details

⚠ *Do no

[2020-08-15 12:45] dndmann commented on #5580
What is there a new post with the resolution?

On Fri, Aug 14, 2020, 10:47 PM Manuela Scanu <notifications@github.com>
wrote:

[2020-08-17 01:30] kefujino opened #5584 "Supportability of "New Meeting Experience" on VDI"
Hello,

Microsoft Teams has released a variety of views (New Meeting Experience) to help communicate in remote work.

New Meeting and Calling Experience in Microsoft Teams!
https://techcommunity.microsoft.com/t5/microsoft-teams-blog/new-meeting-and-calling-experience-in-microsoft-teams/ba-p/1537581

AFAIK, this feature is not compatible with Virtual Desktop Infrastructure (VDI) environments. Howev

[2020-08-17 01:56] Gary620 commented on #5355
@tonysmit Thank you Tony. Is there any update from the discussion with PMs?

Thank you.

[2020-08-17 08:21] DevJonBirkett opened #5586 "List of possible "Blocked reason""
[Enter feedback here]
Hi,
Would be useful to have a list of all the possible the blocked reasons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d203675-1231-e284-acb3-1191058f651a
* Version Independent ID: 9a41d6e8-0f65-1823-6146-c08e7967ce1a
* Content: [Microsoft Teams PSTN blocked users report - Microsoft Teams](ht

[2020-08-17 10:46] RAJU2529 commented on #5583
@petepig . Since  You said , your ptocessor does not support AVX2, so you cannot use , still you can't find,

[2020-08-17 11:12] TechTrooper opened #5589 "MEM Endpoint Security - Defender Firewall - Allow Microsoft Teams ?"
Please update article with instructions on how to add Teams exception to Windows Defender Firewall with MEM (Intune) Windows 10 management.

It's counter intuitive that admins have to run powershell scripts to create firewall exceptions for Microsoft's own products.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6457d2

[2020-08-17 14:19] buildbod opened #5590 "Shifts Activities - Typo for RequestCanceled?"
The Office 365 Audit is returning activities for Microsoft Teams > Shifts > Request Cancelled as "RequestCancelled" yet the Docs page lists the activity as "RequestCanceled"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e51e97-ff97-c5eb-6517-21ce9a563ca4
* Version Independent ID: d3dc21b2-d90a-fbe7-8473-fff0b55feafb

[2020-08-17 15:28] cimares opened #5591 "URL linking to cmdlet help for New-CSOnlineSession is invalid"
The link to new-csonlinesession points to https://docs.microsoft.com/en-us/powershell/module/teams/new-csonlinesession?view=teams-ps which returns a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 173b5929-529b-938b-b6ab-59f05a5d69a8
* Version Independent ID: 0a3dfe5e-938f-933d-637e-b7449e3b8aa5
* Content: [M

[2020-08-17 15:37] henhof commented on #4181
Hi, I have tried also on different ways with a newer Win 10 Ent. or older versions but does not work. Every time they told me to specify a valid Version. In every test, both the Client and the install medium was the same version.
- SW_DVD9_Win_Pro_10_1909_64BIT_English_Pro_Ent_EDU_N_MLF_X22-17395
- SW_DVD9_Win_Pro_10_1909.6_64BIT_English_Pro_Ent_EDU_N_MLF_X22-32299
- SW_DVD9_Win_Pro_10_1903.1_64BI

[2020-08-17 16:11] markjjo commented on #5590
@buildbod Thanks for heads up. I'll fix the documentation.

[2020-08-17 16:11] #5590 closed

[2020-08-17 16:59] chrisbardon commented on #5581
The issue did resolve, but I'd suggest some changes to the docs that clarify that provisioning can be delayed.  I just submitted a PR to suggest a change.

[2020-08-17 16:59] #5581 closed

[2020-08-17 19:42] jzablin opened #5594 "Typo"
There is a typo under the chart that shows different statuses. It says Teans instead of Teams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a162ef5c-3099-7f58-4178-d29e3ec2b5a7
* Version Independent ID: 6ca31e56-052d-6c62-1323-b5aaaae1f04a
* Content: [User presence in Teams - Microsoft Teams](https://docs.microsoft.co

[2020-08-17 20:22] oradcliffe opened #5595 "Question about auto-assignment"
Is there any auto-assignment functionality built in?  If I have a user in one city, will MS attempt to give them the closest bridge?  I haven't seen any documentation to confirm this behavior but testing seems to indicate there is something going on behind the scenes for assignment.

[2020-08-17 21:22] tonysmit commented on #5355
@Gary620 - hey. I'm trying to get someone to answer me on this. Starting with a different PM this time.

[2020-08-17 22:13] sillysampiper opened #5596 "Unable to obtain Windows 10 Enterprise version 10.0.18362.418"
Piggy packing off an issue that was originally raised for Windows 10 Ent 10.0.18362.356 that has not been resolved:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/4181

Hi @dstrome

Hoping for some clarity / a solution for deploying a MTR console from the latest CreateSrsMedia.ps1 script.

- What version of Windows 10 Enterprise is required for both the the Windows 10 machine

[2020-08-18 00:47] njackson-matrix commented on #4181
We are also having this issue while trying to repair a Logitech SmartDock solution. Can either the correct version of the installation media be made available or the CreateSRSMedia script be updated to work with the version that is available please? The location we're working on has this single conference room that is down until we can get this done.

[2020-08-18 05:31] scanum commented on #5583
@petepig Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-18 05:31] #5583 closed

[2020-08-18 05:31] scanum commented on #5584
@kefujino We will consider adding this to the documentation. Thank you!

[2020-08-18 05:31] #5584 closed

[2020-08-18 05:32] scanum commented on #5586
@DevJonBirkett Thanks for the feedback, we are currently investigating this issue.

[2020-08-18 05:32] scanum commented on #5589
@TechTrooper  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-18 05:33] scanum commented on #5595
@oradcliffe Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-18 05:33] #5595 closed

[2020-08-18 05:33] scanum commented on #5596
@sillysampiper Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-08-18 05:33] #5596 closed

[2020-08-18 05:34] scanum commented on #5594
@jzablin  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-18 05:34] scanum commented on #5591
@cimares  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-18 05:35] sillysampiper commented on #5596
Damn.

[2020-08-18 10:18] lucderheld commented on #4181
I managed to get the Right Version.
I am using:

SRSDeploymentKit-4.5.35.0.msi
with
SW_DVD9_Win_Pro_10_1909_64BIT_German_Pro_Ent_EDU_N_MLF_X22-17400

which is listed as "Windows 10 Enterprise Version 1909 (released NOV 2019)" in the Microsoft Partner Center.
If someone want, I could upload both files somewhere.

[2020-08-18 10:22] RytisGrig commented on #4181
Does this mean, that after implementation we will have German version interface for Teams Room?

[2020-08-18 10:40] Petri-X opened #5597 "What is the new diagnostic logging information?"
Hi team,

Looks like you have no description of the new logging configuration on Teams:

![image](https://user-images.githubusercontent.com/43988151/90503613-653ba200-e158-11ea-80ae-a17236b05bc4.png)

Can you please explain, what does this means

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d5e6d3-b7e0-d79f-0dea-ed4

[2020-08-18 10:45] henhof commented on #4181
@lucderheld  Did has the parent system, where do you create the install media the same version?

[2020-08-18 10:48] RytisGrig commented on #4181
Sorry what do you mean parent media, operating system of my computer? then no it is not

[2020-08-18 11:13] NikitaSkitsko opened #5598 "Teams Room license doesn't give an option to dial out from a meeting"
The documentation says it's possible to “Initiate an ad hoc meeting and dial out from a meeting to phone numbers”. It's possible to initiate an ad hoc meeting using "Join Now" buttton, but it's not possible to invite someone to the meeting that is initiated by the organizer, who doesn't have an Audio Conferencing license.
---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-08-18 12:51] dndmann commented on #5580
I do not see where this was resolved. Has new code example been posted somewhere else?
This is great but the direct reports do not show up in the output file. I can run the Get-AzureADUserDirectReport -ObjectId by itself and get the direct reports for the individual id. Looks like there is a user class that is being listed for the $direct or $directs values, listing all the reports for the given $

[2020-08-18 15:37] lucderheld commented on #4181
Hi @henhof , @RytisGrig I updated my post:
- I used Windows 10 Enterprise 20.04 to create the media
- I think it will work with english media too. But if i remember correctly I was asked for the languange during teams setup.

[2020-08-18 15:46] RAJU2529 commented on #5567
@scanum . still  I can same typo error in this article

[2020-08-18 16:18] DavidSchrag opened #5600 "Misleading instructions"
The article suggests that you can either e-mail the PSTN service desk directly or create a support ticket through the M365 admin center. I chose to create a support ticket, and I received the following response:

CASE:
•	Request to port all of our existing numbers from Mitel to Teams.

PROPOSED SOLUTION:
•	For any Port order related issue, we highly recommend you to contact directly with our MS PS

[2020-08-18 17:06] #5558 closed

[2020-08-18 18:15] #4774 closed

[2020-08-18 18:33] dstrome commented on #5091
hi all - I'm researching this.

[2020-08-18 18:35] dstrome commented on #5337
Thanks for your feedback. I'm discussing this with the product team and will update when I know more.

[2020-08-18 18:39] dstrome commented on #5348
Teams Rooms support modern authentication - https://docs.microsoft.com/en-us/microsoftteams/rooms/rooms-authentication

[2020-08-18 18:39] #5348 closed

[2020-08-19 00:35] joelulrich opened #5602 "AudioCodes Analogue Device names"
Should the Audiocodes Analogue device names closer reflect the product name?

i.e
ATA-1 could be MP-1XX,
ATA-2 could be MP-20X

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1a1c01-10a9-7f69-1c7b-1a566b0f5112
* Version Independent ID: 329ee759-40fc-98fb-b91e-87786c63024b
* Content: [Session Border Controllers certifi

[2020-08-19 00:35] buildbod opened #5603 "Shifts activities - lists SchedulingGroupEdited but audit returns ScheduleGroupEdited"
There might be a typo in the Shifts activities list. It lists SchedulingGroupEdited but the Office Management Audit api returns ScheduleGroupEdited e.g.

![image](https://user-images.githubusercontent.com/13903544/90578843-33f4bd80-e1bc-11ea-825f-c503c212363e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e51e97

[2020-08-19 06:55] RytisGrig commented on #4181
OK this really works, I successfully passed media creation process with mentioned German win installation, now I will try installation of Teams Rooms, and will find out what will be language of windows :) many thanks for information sharing

[2020-08-19 07:56] vT15 commented on #5554
Unfortunately it’s not resolved yet and information on website is not
clear to me

On Sat, 15 Aug 2020 at 04:34, Manuela Scanu <notifications@github.com>
wrote:

[2020-08-19 10:13] denisrennes opened #5604 "Clean up and redeployment procedure: impossible for deployments"
https://docs.microsoft.com/en-us/microsoftteams/msi-deployment#clean-up-and-redeployment-procedure
"
Clean up and **redeployment** procedure
1.     Uninstall the Teams app installed for every user profile. For more information, see Uninstall Microsoft Teams.
2.     Delete the directory recursively under %localappdata%\Microsoft\Teams\.
3.     Delete the HKEY_CURRENT_USER\Software\Microsoft\Office\

[2020-08-19 11:35] SubbaReddi opened #5605 "Microsoft Teams Intranet Portal app - Links in page is opening in separate browser instead of opening in Teams app"
Created intranet portal app using the documentation: https://docs.microsoft.com/en-us/microsoftteams/teams-standalone-static-tabs-using-spo-sites . But some of the links(Site pages in same site collection) are opening in separate browser instead of opening in Teams app. Any known issue or solution for this case?

[2020-08-19 13:58] henhof commented on #4181
Hi, it worked for me as well and I passed the media creation process too, with Windows 10 Enterprise 20.04 (Build 19041.388) as host and the follow details:

- SRSDeploymentKit-4.5.37.0msi and
- SW_DVD9_Win_Pro_10_1909_64BIT_English_Pro_Ent_EDU_N_MLF_X22-17395.ISO (Build 18362.418) or
- SW_DVD9_Win_Pro_10_1909_64BIT_German_Pro_Ent_EDU_N_MLF_X22-17400.ISO (Build 18362.418)

Higher versions or Build

[2020-08-19 14:19] anomepani opened #5606 "How can we make App setup policies, App permission policies and assign to bulk user automatically in Microsoft Team"
How can we make App setup policies, App permission policies and assign to bulk user automatically in Microsoft Team ?

Is there any API or PowerShell available to create the Microsoft team app permission policy(which app is available to a specific set of users)?

If we have automated process for adding/removing users to policy it will be helpful.

In Org which has 1k, 5k, 10k or more users and wan

[2020-08-19 15:07] LanaChin commented on #5142
Hi @owenmpls - thanks for your feedback. The PM reviewed this and based on his feedback, we've updated the content in this section. While not recommended for information workers, this is technically a supported option.

[2020-08-19 15:07] #5142 closed

[2020-08-19 15:08] MrVP opened #5607 "private channels"
Show me the actual steps of making a private channel.
Images, not words.  I am in a hurry here!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Version Independent ID: 9ddeb6f4-f30a-1e72-fc94-ae66def91f40
* Content: [Private channels in Microsoft Teams - Microsoft Teams](https://do

[2020-08-19 16:35] tonysmit commented on #5483
@TheBluLion - The page is correct. Users > the user's Account tab > Reset Conference ID.

[2020-08-19 16:37] tonysmit commented on #5355
@SamChung-MS - Here is one of the issues that I spoke to you about.

[2020-08-19 16:38] tonysmit commented on #4001
@SamChung-MS - Here is one of the issues that I spoke to you about.

[2020-08-19 17:24] tonysmit commented on #4900
@ruizoscar and @fafan  - Can you help with this issue please?

[2020-08-19 17:57] ortiga88 opened #5608 "close session from cmd in teams"
How can I close the session with cmd with a command I have seen that it can be started ?

`  "% USERPROFILE% \ AppData \ Local \ Microsoft \ Teams \ Update.exe" --processStart "Teams.exe"`

[2020-08-19 18:51] dstrome commented on #4181
hi everyone,

I checked with the product team and the download that contains the correct Windows version is "Windows 10, version 1909 (released Nov 2019)"

Please let me know if that works or if you are still encountering difficulties.

[2020-08-19 18:58] JorgeALeitao commented on #5575
I'm sorry but I beg to differ.
The paragraph states
"For a Teams user's meetings to be recorded, Microsoft Stream must be enabled for the tenant. In addition, **the following prerequisites are required** for both the meeting organizer and the person who is initiating the recording:

User has Office 365 E1, E3, E5, A1, A3, A5, M365 Business Premium, M365 Business Standard, or M365 Business Basic.
_

[2020-08-19 19:16] tonysmit commented on #5575
@SamChung-MS - here is another thread on Cloud Recording.

[2020-08-19 19:36] tgskiman opened #5610 "Incorrect Command in code snippet"
In the https://docs.microsoft.com/en-us/MicrosoftTeams/teams-powershell-install#sign-in section the first line of code references "Get-Credentials" as opposed to the proper "Get-Credential" command.

Is: $credential = Get-Credentials
Should be: $credential = Get-Credential

Also, the subsequent commands reference the parameter "-Credentials" and it should be "-Credential".

Thanks!
Tim

---
#### D

[2020-08-19 21:32] buildbod commented on #5590
Fab. Thank you.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Mark Johnson - MSFT <notifications@github.com>
Sent: Monday, August 17, 2020 5:11:56 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Simon Denton <Simon.Denton@mottmac.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/Offi

[2020-08-19 21:36] cichur commented on #5594
Fixed and published. https://docs.microsoft.com/en-us/microsoftteams/presence-admins

[2020-08-19 21:36] #5594 closed

[2020-08-19 22:03] SinghHarveer commented on #3361
I guess this needs to be changed again now, private channel site collections are visible in sharepoint admin center now. There is a small delay though post creating a private channel.

[2020-08-20 00:46] SerdarSoysal commented on #5088
@scanum @lindspea yes the note should say "allow" that's an error. Please have the topic updated, assign the PR to me and I'll merge. We can then close this one and 5021.

[2020-08-20 00:52] SerdarSoysal commented on #5257
@anwara-ms can you pls take a look at this and comment?

[2020-08-20 01:20] Gary620 commented on #5355
@tonysmit Hi Tony, really appreciate your kind help. What do you mean by "the PR that I submitted?" I just found the issue and gave the feedback. And it's been over 2 month....

[2020-08-20 06:32] OfficeGlobal commented on #4489
@hyoshioka0128 we received a feedback from linguistic expert. The "Microsoft Teams Rooms" was reverted back to ENG and republished at live page

[2020-08-20 06:33] OfficeGlobal commented on #4525
@hyoshioka0128 we received a feedback from linguistic expert. The "Microsoft Teams Rooms" was reverted back to ENG and republished at live page

[2020-08-20 06:35] OfficeGlobal commented on #4560
@hyoshioka0128 we received a feedback from linguistic expert. The "Microsoft Teams Rooms" was reverted back to ENG and republished at live page

[2020-08-20 06:40] OfficeGlobal commented on #5489
@hideokamine , @scanum article was HumanTranslated and published live. The title was fixed

[2020-08-20 06:49] OfficeGlobal commented on #5488
**Bing Translate:** KDDI's Cloud Calling for Microsoft Teams, launched on July 28, 2020, is not listed.
___
@scanum it seems to be a request for an article update. I was not able to find information about KKDI's in English version

[2020-08-20 06:51] OfficeGlobal commented on #4485
@TakumaNakagame , @scanum article was HumanTranslated and published live

[2020-08-20 08:07] OfficeGlobal commented on #4559
@hyoshioka0128 we received a feedback from linguistic expert. The "Microsoft Teams Rooms" was reverted back to ENG and republished at live page

[2020-08-20 08:50] hyoshioka0128 opened #5612 "[LOC]Back-Translation "Microsoft Teams ミーティング"→"Microsoft Teams Rooms""
ja-jp: https://docs.microsoft.com/ja-jp/microsoftteams/rooms/rooms-prep
![rooms-prep_j](https://user-images.githubusercontent.com/40815708/90748708-81347480-e30d-11ea-8371-194c74fd7955.png)

en-us: https://docs.microsoft.com/en-us/microsoftteams/rooms/rooms-prep
![rooms-prep_e](https://user-images.githubusercontent.com/40815708/90748731-872a5580-e30d-11ea-8e8d-81bd3b551ed1.png)

---
#### ドキュメントの詳細

[2020-08-20 08:55] hyoshioka0128 commented on #4489
@OfficeGlobal  @TinaMcN  - "Microsoft Teams Rooms" has been Fixed.
Closed #4489.

[2020-08-20 08:55] #4489 closed

[2020-08-20 08:56] hyoshioka0128 commented on #4525
@OfficeGlobal  @TinaMcN  - "Microsoft Teams Rooms" has been Fixed.
Closed #4525.

[2020-08-20 08:56] #4525 closed

[2020-08-20 08:57] hyoshioka0128 commented on #4560
@OfficeGlobal  @TinaMcN  - "Microsoft Teams Rooms" has been Fixed.
Closed #4560.

[2020-08-20 08:57] #4560 closed

[2020-08-20 08:59] xNiklasJern commented on #5576
Hi @scanum ,
This isn't an issue more of general concern or question on the documentation? please reopen

[2020-08-20 09:01] hyoshioka0128 commented on #4559
@OfficeGlobal  @scanum  - "Microsoft Teams Rooms" has been Fixed.
Closed #4559.

[2020-08-20 09:01] #4559 closed

[2020-08-20 10:39] jaspreetjolly commented on #5561
Hi Manuela, the issue with document is still there. Here is the latest screenshot which still shows "Each user in your organization must have a Teams license before they can use Teams"

![Annotation 2020-08-20 160747](https://user-images.githubusercontent.com/47853237/90760346-58a57e00-e2ff-11ea-8c38-7d4ac7647460.jpg)

[2020-08-20 11:37] OfficeGlobal commented on #4490
@hyoshioka0128 we received a feedback from linguistic expert. The "Microsoft Teams Rooms" was reverted back to ENG and republished at live page

[2020-08-20 11:44] hyoshioka0128 commented on #4490
@OfficeGlobal @TinaMcN - "Microsoft Teams Rooms" has been Fixed.
Closed #4490.

[2020-08-20 11:44] #4490 closed

[2020-08-20 13:03] denisrennes opened #5614 "Is there any update system for the MSI product "Teams Machine-Wide Installer"?"
Is there any update system for the MSI product "Teams Machine-Wide Installer"?  It seems Squirrel will only update Teams per-user installations, not the MSI product "Teams Machine-Wide Installer".
This could be a problem: Long after its installation, if a new user logs on to a machine for the first time, or if the user's Windows profile directory is recreated because it has been corrupted, the sam

[2020-08-20 14:07] hideokamine commented on #5489
![image](https://user-images.githubusercontent.com/48910425/90779697-18fb8800-e339-11ea-82bf-748edd144798.png)

@OfficeGlobal Thank you! but, The title isn't fully fixed yet...

[2020-08-20 15:06] tiagoroxo opened #5615 "Headset Pro 930 MS Duo is a device certified for Teams"
Can you please confirm if the Headset Pro 930 MS Duo is a device certified for Teams?

Arcoding to the list below it's not certified:
https://docs.microsoft.com/en-us/microsoftteams/devices/usb-devices
Acording to the list below it's certified:
https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/across-devices/devices/product?deviceid=69
https://www.microsoft.com/en-us/microsoft-365/micr

[2020-08-20 15:51] brandber commented on #5544
Thank you for raising! Resolved in PR #5616

[2020-08-20 15:53] brandber commented on #5372
The instructions specify that an update to the PowerShellGet package is required, which adds this parameter. Hope this helps.

[2020-08-20 18:33] ruizoscar commented on #4900
Hi,
- By default, Microsoft assigns a toll number from the Manila region. Given number is the number specified as assigned to the tenant referenced in the original question.
- In addition to the support of toll numbers from Manila, Microsoft also supports toll-free numbers from the Philippines. The toll-free numbers are different from the toll numbers from Manila that were assigned to the customer

[2020-08-20 19:20] scanum commented on #4569
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-08-20 19:20] #4569 closed

[2020-08-20 20:35] HandyAndyOnGitHub opened #5621 "Phone System not supported in Teams Island mode?"
Hi guys, I don't believe the line;"Phone System is not supported in Teams in Islands mode; in this mode, the only Enterprise Voice client is Skype for Business" is correct.  We are successfully running Microsoft 365 Phone System with users in "Island" mode with calls being answered in the Teams client.  We do use direct routing for our external lines, through a hosted SIP gateway - perhaps that's

[2020-08-21 02:26] hyoshioka0128 opened #5623 "[LOC]Back-Translation "Microsoft Teams の会議室"→"Microsoft Teams Rooms""
ja-jp: https://docs.microsoft.com/ja-jp/microsoftteams/rooms/microsoft-teams-rooms-premium
![microsoft-teams-rooms-premium_j](https://user-images.githubusercontent.com/40815708/90845458-1765aa80-e3a1-11ea-9413-f9a0cf200f4e.png)

en-us: https://docs.microsoft.com/en-us/microsoftteams/rooms/microsoft-teams-rooms-premium
![microsoft-teams-rooms-premium_e](https://user-images.githubusercontent.com/408

[2020-08-21 02:30] hyoshioka0128 opened #5624 "[LOC]Back-Translation "Microsoft Teams の会議室"→"Microsoft Teams Rooms""
ja-jp: https://docs.microsoft.com/ja-jp/microsoftteams/rooms/microsoft-teams-rooms-premium-rbac
![microsoft-teams-rooms-premium-rbac_j](https://user-images.githubusercontent.com/40815708/90845731-a1157800-e3a1-11ea-9e98-f1185d60ba2a.png)

en-us: https://docs.microsoft.com/en-us/microsoftteams/rooms/microsoft-teams-rooms-premium-rbac
![microsoft-teams-rooms-premium-rbac_e](https://user-images.githu

[2020-08-21 04:01] scanum commented on #5597
@Petri-X Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-21 04:02] scanum commented on #5602
@joelulrich Thanks for the suggestion to the documentations. We will cosnider adding this.

[2020-08-21 04:02] #5602 closed

[2020-08-21 04:02] scanum commented on #5604
@denisrennes Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-21 04:02] #5604 closed

[2020-08-21 04:03] scanum commented on #5605
@SubbaReddi Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-21 04:03] #5605 closed

[2020-08-21 04:03] scanum commented on #5606
@anomepani Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-08-21 04:03] #5606 closed

[2020-08-21 04:06] scanum commented on #5607
@MrVP Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-08-21 04:06] #5607 closed

[2020-08-21 04:06] scanum commented on #5608
@ortiga88 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-08-21 04:06] #5608 closed

[2020-08-21 04:08] scanum commented on #5612
@officeglobal Could you please assist with this issue? Thanks!

[2020-08-21 04:08] scanum commented on #5614
@denisrennes Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-21 04:08] #5614 closed

[2020-08-21 04:09] scanum commented on #5615
@tiagoroxo Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-08-21 04:09] #5615 closed

[2020-08-21 04:10] scanum commented on #5623
@OfficeGlobal Could you please assist with this issue? Thanks!

[2020-08-21 04:10] scanum commented on #5624
@OfficeGlobal Could you please assist with this issue? Thanks!

[2020-08-21 04:10] scanum commented on #5621
@HandyAndyOnGitHub Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-21 04:11] scanum commented on #5610
@tgskiman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-21 04:11] scanum commented on #5603
@buildbod Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-21 04:11] scanum commented on #5600
@DavidSchrag Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-21 04:11] scanum commented on #5598
@NikitaSkitsko Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-21 06:23] OfficeGlobal commented on #5624
Working on a fix

[2020-08-21 07:42] Petri-X commented on #5597
@scanum
Unfortunately I need to say: I disagree your response.

This is a clear documentation issue. You have new configuration feature on Teams, which impacting directly to the topic of this page, which you are controlling.

So may I ask you to explain, why I need to pay money to Microsoft to get answer of missing documentation. And then I give the same answer back to Microsoft, so that they can

[2020-08-21 09:24] howardzhangmsft opened #5625 "Please add support stance for SIP and UPN mismatch scenario"
Please add a statement under this section <Prerequisites specific to Microsoft Teams Rooms> to mention that Microsoft Teams Room doesn't support SIP and UPN mismatch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f7e3603-9bec-acfc-1854-2c1275950cde
* Version Independent ID: 2aed2376-277a-3e93-5000-e509ff53434d
* Conte

[2020-08-21 21:10] michaelbunney opened #5629 "Procedure for Adding Teams Does Not Work"
The "Add" section says you can add a team by:

(1) going to the Teams admin center;
(2) navigating to **Teams** > **Manage teams**; and
(3) clicking **Add**.

But there is no **Add** button or link.  I am a Global Administrator so I have the necessary permissions, but all I see on the Manage Teams page is some user counts and the message "No teams are available in this organization."

The toolbar

[2020-08-21 23:24] rbalsleyMSFT opened #5631 "Put the latest updates at the beginning of the document"
Having the latest updates at the bottom of the document means having to scroll quite a bit to see what's changed. It'd be more helpful to put the latest updates at the top of the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3081f70c-d927-ce5d-d957-ca7ba7e07a55
* Version Independent ID: 17704162-7ff9-015c-30

[2020-08-22 00:20] michaelbunney opened #5632 ""Workload" Prerequisites Are Ambiguous"
This page implies—but does not clearly state—that deploying Microsoft 365 "workloads" is a prerequisite for deploying Teams, but the page it directs us to for details ("Getting Started") does not explain.  In fact, it doesn't even mention the word "workload".

Several things are unclear here:

1. Are M365 workloads, in fact, a prerequisite for Teams?  This page is ambiguous.  It says if you haven'

[2020-08-22 00:43] michaelbunney opened #5633 "Ambiguous: Is a Custom Domain Mandatory for Teams?"
The list of Teams "prerequisites" on this page is ambiguous about domains.  it says:

"If your organization hasn't added or configured a verified domain for Microsoft 365 or Office 365, see Domains FAQ."

This raises a number of questions:

1. What is a "verified domain"?  There is no other reference to this term either on this page or on the "Domains FAQ" page you link to.

2. Is a verified domai

[2020-08-22 16:32] lennarthoefer opened #5635 "Link 404"
The link for one slide deck linked on this page does not exist.
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/downloads/rooms/module-4-deployment.pdf?raw=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 752a6dc8-4018-88aa-faa4-c07c1c0a1719
* Version Independent ID: 7d6d29c5-f699-2abd-7

[2020-08-22 16:33] lennarthoefer opened #5636 "Link 404 #2"
This page has a link which's destination does not exist.
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/downloads/rooms/module-8b-one-touch-join-instructions.pdf?raw=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 752a6dc8-4018-88aa-faa4-c07c1c0a1719
* Version Independent ID: 7d6d29c5-

[2020-08-24 04:03] Gary620 commented on #5355
@tonysmit @SamChung-MS , Hi Tony and Sam, is there any update? Thank you.

[2020-08-24 07:17] OfficeGlobal commented on #5612
@hyoshioka0128 , @scanum article was HumanTranslated, reported string reverted to English

[2020-08-24 08:23] heinrich-ulbricht commented on #4973
Looking at the script I see no difference. The script still contains the error of not setting the channel owner correctly.
![image](https://user-images.githubusercontent.com/3469970/91021230-c6012980-e5f3-11ea-88c1-7dab34f026b2.png)

[2020-08-24 09:09] hyoshioka0128 commented on #5612
@OfficeGlobal @scanum - "Microsoft Teams Rooms" has been Fixed. Thanks.
Closed #5612.

[2020-08-24 09:09] #5612 closed

[2020-08-24 11:22] lindspea commented on #5494
@scanum this can be closed thank you.

[2020-08-24 13:21] scanum commented on #5625
@howardzhangmsft Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-24 13:21] scanum commented on #5631
@rbalsleyMSFT Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-24 13:21] scanum commented on #5632
@michaelbunney Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-24 13:21] scanum commented on #5635
@lennarthoefer Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-24 13:21] scanum commented on #5636
@lennarthoefer Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-24 13:22] scanum commented on #5633
@michaelbunney Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-24 13:23] scanum commented on #5629
@michaelbunney Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-08-24 13:23] #5629 closed

[2020-08-24 14:38] howardzhangmsft commented on #5625
Hi team,

per below DCR, SIP and UPN mismatch is not supported for Microsoft Teams Room

https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/898091<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdomoreexp.visualstudio.com%2FMSTeams%2F_workitems%2Fedit%2F898091&data=02%7C01%7Chowzhang%40microsoft.com%7Cb458dae815c4491c588408d845b23363%7C72f988bf86f141af91ab2d7cd011db47%7C1

[2020-08-24 15:23] liitimellison opened #5637 "no reference to the new license naming "Microsoft Teams Rooms Standard" implies there is a standard and maybe a premium"
Would like to see reference to the updated license naming...

no reference to the new license naming "Microsoft Teams Rooms Standard" implies there is a standard and maybe a premium but the only clue is that the name changed in my office admin portal.  What is coming or changing regarding this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-08-24 16:50] michaelbunney commented on #5629
Or you could document how to create a team in a tenant that does not yet have a team.

[2020-08-24 18:14] glenlewisdd commented on #4181
Just go into the folder SRSV2\Skype Room System Deployment Kit\AutoUnattend.xml, change the build from the version="10.0.18362.xxx" to your version.  Make sure the version you have is 10.0.18362.xxx otherwise you will have issues.

When the script is in process, you will see the folder when it ask for the driver pack you need.

Or I just modified the PS script to set the required version to your e

[2020-08-24 18:17] MrJadaml opened #5639 "Document which web browsers are not supported"
The unsupported-browsers should document which browsers are not supported, like Brave browser for instance. If there is a list of unsupported web clients it will be more clear to users which client they should use, when their preferred client may be supported, or stats on if there are plans to eventually provide support for a particular client.

[2020-08-25 03:17] scanum commented on #5639
@MrJadaml Could you please link the documentation you are referring to? Thanks!

[2020-08-25 03:20] scanum commented on #5637
@liitimellison Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-25 03:28] scanum commented on #5637
@JohanFreelancer9 Copy editing is needed for this PR. Thanks.

[2020-08-25 05:46] OfficeGlobal commented on #5489
@hideokamine We've updated the text in left navigation as well
![image](https://user-images.githubusercontent.com/47977325/91127674-04a3ec00-e6a7-11ea-8193-54e80163f26f.png)

[2020-08-25 05:49] OfficeGlobal commented on #5623
@hyoshioka0128 , @scanum the article was HumanTranslated. "Microsoft Teams Rooms" reverted to English

[2020-08-25 05:49] OfficeGlobal commented on #5624
@hyoshioka0128 , @scanum the article was HumanTranslated. "Microsoft Teams Rooms" reverted to English

[2020-08-25 07:16] hideokamine commented on #5489
@OfficeGlobal Thanks a lot.

[2020-08-25 09:44] hyoshioka0128 commented on #5624
@OfficeGlobal @scanum - "Microsoft Teams Rooms" has been Fixed. Thanks.
Closed #5624.

[2020-08-25 09:44] #5624 closed

[2020-08-25 09:44] hyoshioka0128 commented on #5623
@OfficeGlobal @scanum - "Microsoft Teams Rooms" has been Fixed. Thanks.
Closed #5623.

[2020-08-25 09:44] #5623 closed

[2020-08-25 10:21] dooleydo opened #5641 "Broken Link - One Touch Join"
This link is broken (404)

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/downloads/rooms/module-8b-one-touch-join-instructions.pdf?raw=true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 752a6dc8-4018-88aa-faa4-c07c1c0a1719
* Version Independent ID: 7d6d29c5-f699-2abd-71c2-7c49061dd068
*

[2020-08-25 11:46] willyyr opened #5642 "Remove / update privacy shield reference"
Change reference to obsolete Privacy Shield certification after SCHREMS II. Location: https://docs.microsoft.com/en-us/microsoftteams/teams-privacy#where-does-teams-transfer-and-store-personal-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e34f35bb-7d9c-0c7f-a1a1-6fd9fbe93dfa
* Version Independent ID: d123210a-ed2

[2020-08-25 11:54] Petri-X opened #5643 "Is Microsoft Teams ICE endpoint or not?"
Hi,
You are actively using a term "ICE Candidates" when speaking about call flows with Teams. But we have been told that Microsoft Teams client is **not** ICE endpoint. So, is this term correct or not on your text? Or has we been informed incorrectly and Teams is ICE endpoint?

Skype for Business was ICE endpoint and this was very clear on there.

---
#### Document Details

⚠ *Do not edit this sec

[2020-08-25 12:29] ervinbms opened #5644 "Information around CEC is not complete on this page"
The details around CEC support are not clear on this page. If you check the same information under these two pages:

https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-operations
and
https://docs.microsoft.com/en-us/microsoftteams/rooms/requirements

There is a more complete statement:

If you desire a front of room display to automatically switch to an active video source (such as an MTR

[2020-08-25 16:54] MicrosoftHeidi commented on #5354
I've pinged the article owners to see what their thoughts are.

[2020-08-25 17:37] markjjo commented on #5603
@buildbod Fixed. I also did a quick pass on all operation names for shift activities and made a few more updates. Please submit a pull request if you find any more errors in auditing operation names. Thanks in advance.

[2020-08-25 17:37] #5603 closed

[2020-08-25 17:38] markjjo commented on #5603
Updated topic should be published by this afternoon.

[2020-08-25 19:27] MicrosoftHeidi commented on #5175
I've emailed the PM responsible for this area (I hope), and I'm waiting on a response now.

[2020-08-25 20:06] MicrosoftHeidi commented on #3867
We have two existing articles that may be of some help, https://docs.microsoft.com/microsoftteams/location-of-data-in-teams and https://docs.microsoft.com/MicrosoftTeams/teams-privacy, but I concur that there's confusion in the article as it stands. I have looped in several people to have a discussion about this article and its contents. I hope to update here once that conversation's complete with

[2020-08-25 20:28] MicrosoftHeidi commented on #3851
I have no update yet, I'm checking with a resource on this now.

[2020-08-26 04:10] hyoshioka0128 opened #5646 "[LOC]Back-Translation "Microsoft Teams のルーム"→"Microsoft Teams Rooms""
ja-jp:https://docs.microsoft.com/ja-jp/microsoftteams/rooms/rooms-scale
![rooms-scale_j](https://user-images.githubusercontent.com/40815708/91254423-59c22980-e79d-11ea-8f60-b1864a674b0b.png)

en-us:https://docs.microsoft.com/en-us/microsoftteams/rooms/rooms-scale
![rooms-scale_e](https://user-images.githubusercontent.com/40815708/91254426-5c248380-e79d-11ea-9eb6-3d5f89d809a1.png)

---
#### ドキュメントの

[2020-08-26 05:02] khilker15 opened #5647 "Allow Transcription - only affects recording?"
In the Teams Admin Console, the Allow Transcription policy description says: "You can turn on or off transcription for a meeting."
In this document, it states this policy applies to meetings recordings.

Does this policy affect whether Live Captioning can be enabled/disabled by attendees during a meeting?  Or does it only affect whether captions are available to those watching a recording later?

[2020-08-26 07:47] Larryngolog opened #5648 "Recording settings vs reality"
Hello! From my tests of the recording settings to "never" does not disable recording. Even when this setting is set to "Never record" then meeting organizer can check "recording available to attendees" and even if it is not checked then after starting an event there is a notification in Teams client that recording has started and there is possibility to check the checkbox to make the recording ava

[2020-08-26 11:23] lindspea commented on #5636
@lennarthoefer thank you for pointing this out. Please can you clarify the title of the link as there are quite a few links in the article.

[2020-08-26 11:25] lindspea commented on #5635
@lennarthoefer thanks once again for helping to improve MS Docs. For me to better help you, please can you specify which deck you are referring to?

[2020-08-26 14:38] psazevedo1970 opened #5650 "Imagens da Página de visão geral de classe em Insights, não estão aparecendo"
As imagens da página abaixo e todas as suas subjacentes, não estão aparecendo  :
https://support.microsoft.com/pt-br/office/p%C3%A1gina-de-vis%C3%A3o-geral-de-classe-em-insights-1386d1b4-3641-4a23-9b9c-0c6c774c2b6c

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 3501fde1-69ef-1908-876c-4f50e90649f5
* Versi

[2020-08-26 14:50] lindspea commented on #5567
@NimaOghanian thank you for reaching out and helping improve MS Docs. I've just looked through the article and can't find the typo. Perhaps it was fixed in the interim. Please can you check and let me know. Thank you.

[2020-08-26 14:57] dariomws commented on #5240
@scanum this issue can be closed, it was addressed in the following PR:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/5645

@Air-Git thank you again for your feedback and contributing to docs.microsoft.com.

[2020-08-26 14:59] dariomws commented on #5399
@scanum this issue can be closed, it was addressed in the following PR:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/5645

@Air-Git thank you again for your feedback and contributing to docs.microsoft.com.

[2020-08-26 15:33] J-a-k-o-b opened #5652 "The RoadMap Link in the first "Important" Box is not working as expected"
Hi,

The Roadmap link:
https://www.microsoft.com/en-us/microsoft-365/roadmap?featureid=44370
mentioned in the first "important" Box at the top of the page is not right.
The ID 44370 which the link filters isn´t available anymore. Whats the right Roadmap ID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5920152-5fee-4

[2020-08-26 15:45] LanaChin commented on #4817
@TokyoScarab - please update the log location in the "When Teams is successfully installed,...." sentence from %AppData%\Microsoft\Teams to %LocalAppData%\Microsoft\Teams.  Thanks.

[2020-08-26 15:54] RAJU2529 commented on #5567
@SerdarSoysal . Typo error already fixed after analyzing this article. So you can close this issue.

[2020-08-26 16:33] bartvermeersch opened #5653 "License info"
According to this page, the licensing requirements for cloud teams recording are
- User has Office 365 E1, E3, E5, A1, A3, A5, M365 Business Premium, M365 Business Standard, or M365 Business Basic.
- User needs to be licensed for Microsoft Stream1

But according to https://docs.microsoft.com/en-us/stream/portal-upload-teams-meeting-recording at least A3/E3 is needed.

Info in the link above was co

[2020-08-26 17:57] scanum commented on #5641
@dooleydo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 17:58] scanum commented on #5642
@willyyr Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 17:58] scanum commented on #5643
@Petri-X Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 17:58] scanum commented on #5644
@ervinbms Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 18:00] scanum commented on #5646
@hyoshioka0128 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 18:01] scanum commented on #5647
@khilker15 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 18:01] scanum commented on #5647
@khilker15 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-08-26 18:01] #5647 closed

[2020-08-26 18:02] scanum commented on #5648
@Larryngolog Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-08-26 18:02] #5648 closed

[2020-08-26 18:02] scanum commented on #5650
@psazevedo1970 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 18:05] scanum commented on #5652
@J-a-k-o-b Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-08-26 18:05] #5652 closed

[2020-08-26 18:05] scanum commented on #5653
@bartvermeersch Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-26 18:22] DaveO365 opened #5654 "Error in directions for limiting posts to members"
The directions for limiting posts to members in the General channel are incorrect. They direct to the Team Settings, but should direct to the Channel Settings.

Now the text reads: "Reduce channel noise by having only team owners post to the General channel. Go to the team and click ˙˙˙ More options > Manage Team. On the Settings tab, click Member permissions > select Only owners can post messages

[2020-08-26 19:51] lindspea commented on #5571
@MacKender thank you for reaching out and helping improve MS Docs. As far as I know, yes, that is what is meant by the statement in the article. Let me know if you have any suggestions to add a note for clarification for other users.

[2020-08-26 19:57] lindspea commented on #5625
@howardzhangmsft thank you for reaching out and helping improve MS Docs. That link you provided seems broken. Please can you resend and also let me know under which heading you suggest adding the note.

[2020-08-26 20:37] lindspea commented on #5567
@scanum this can be closed thank you.

[2020-08-27 04:18] J-a-k-o-b commented on #5652
Hi @scanum,
i don´t think that a support case will help here. It´s more a kind ot typo. It has nothing to do with our tenant. The link in the docs is just wrong.
Regards

[2020-08-27 05:07] 1234y5678 opened #5656 "Adrik Dey"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143108bb-d6e6-48a8-a7cb-d11b89ebeaab
* Version Independent ID: 145773e2-149e-1c1c-5797-433c13f13b22
* Content: [Admin settings for apps in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/admin-settings)
* Content Sou

[2020-08-27 05:42] winderickxeli opened #5657 "Reference to an older preview version"
Hi

There seems to be a reference to a preview version 1.1.3. The most current version is 1.1.4 which is newer than the 1.1.3 preview. This should be omitted or altered to a newer preview version. This will confuse users who aren't familiar with powershell gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd283f6

[2020-08-27 10:15] SubbaReddi opened #5658 "Presedence on user pinning"
Allow user pinning is enabled on Global(Org-wide default) policy and newly created app setup policy. I changed the user's policy assignment from Global policy to newly created app setup policy. In this case, all user pinned apps are moved. Could you please record if this is an issue or please add documentation for this case.

[2020-08-27 10:37] EgoManiac opened #5659 "Duplicate Paragraph"
You have a duplicate paragraph in the advisor section

- However, you don't have to be a Teams admin to use Advisor for Teams - anybody in your organization can use it. We've set up special permissions so non-admin users can get to Advisor for Teams, even though it's in the Teams admin center. You DO have to be a Teams admin, Teams Service Administrator, or Global Administrator to open the tenant

[2020-08-27 13:46] DavidSchrag opened #5660 "Impact on Teams Meetings"
From my understanding of this article, even if external access is disabled there is no impact on external parties' ability to join Teams Meetings (the kind you arrange via an Outlook invitation). It would be helpful to clarify that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* V

[2020-08-27 17:17] scheblein opened #5661 "Where are meeting transcripts stored?"
Need to understand where meeting transcripts are stored (for legal purposes). Are they hosted in stream storage, or on the organizer's personal onedrive, or etc? The article mentions recordings but not transcripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976b8a9b-5a3e-1f3b-b848-d1dfbfd3389d
* Version Independent

[2020-08-27 21:34] TorrenManson opened #5663 "Typo in example"
Example SBC configuration has "onbound..." instead of "outbound...".

[2020-08-27 21:48] MicrosoftHeidi commented on #3851
Yes, this should be changed to SSAE 18.

[2020-08-27 22:31] TorrenManson opened #5664 "Typo in example"
This example:

New-CSOnlinePSTNGateway -Identity sbc1.contoso.com -SipSignalingPort 5061 –InboundTeamsNumberTranslationRulesList ‘AddPlus1’, ‘AddE164SeattleAreaCode’ -InboundPSTNNumberTranslationRulesList ‘AddPlus1’ -OnboundPSTNNumberTranslationRulesList ‘AddSeattleAreaCode’,  -OutboundTeamsNumberTranslationRulesList ‘StripPlus1’

Has typos.
"onbound..." instead of "outbound...".
The "list" at the

[2020-08-27 22:32] TorrenManson opened #5665 "Typos in command"
This example:

New-CSOnlinePSTNGateway -Identity sbc1.contoso.com -SipSignalingPort 5061 –InboundTeamsNumberTranslationRulesList ‘AddPlus1’, ‘AddE164SeattleAreaCode’ -InboundPSTNNumberTranslationRulesList ‘AddPlus1’ -OnboundPSTNNumberTranslationRulesList ‘AddSeattleAreaCode’,  -OutboundTeamsNumberTranslationRulesList ‘StripPlus1’

Has typos.
"onbound..." instead of "outbound...".
The "list" at the

[2020-08-27 22:32] #5664 closed

[2020-08-27 22:32] TorrenManson commented on #5664
Duplicate

[2020-08-27 22:32] TorrenManson commented on #5663
Duplicate

[2020-08-27 22:32] #5663 closed

[2020-08-28 00:00] scanum commented on #5654
@DaveO365 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-28 00:01] #5656 closed

[2020-08-28 00:03] scanum commented on #5657
@winderickxeli Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-28 00:03] #5658 closed

[2020-08-28 00:49] scanum commented on #5659
@EgoManiac Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-28 00:49] scanum commented on #5660
@DavidSchrag Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-28 00:50] scanum commented on #5661
@scheblein Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-28 00:52] scanum commented on #5665
@TorrenManson Please list the article you are referring to.

[2020-08-28 07:53] TokyoScarab commented on #4817
@LanaChin Thank you very much!

[2020-08-28 13:16] agallego-css opened #5668 "Exchange 2013 CU19+ also compatible with AutodiscoverV2"
[Enter feedback here]
Isn't Exchange 2013 CU19+ also compatible with AutodiscoverV2? I believe so based on: https://docs.microsoft.com/en-us/microsoftteams/troubleshoot/known-issues/teams-exchange-interaction-issue
"Exchange Autodiscover V2 is required to allow the Teams service to perform an unauthenticated discovery against the user's mailbox that's located in Exchange Server. Autodiscover V2 is

[2020-08-28 14:24] LanaChin commented on #4817
Article is updated. Thanks for your feedback!

[2020-08-28 14:24] #4817 closed

[2020-08-28 14:25] andersidahl commented on #4181
This is ridiculous! Only 1909 released Dec 2019 and later are available in the Microsoft Visual Studio portal at least.

Even with glenlewisdd good suggestion this does not seem to work... Still getting the "Windows could not apply unattend settings during pass [offlineServicing]".

[2020-08-28 15:06] TorrenManson commented on #5665
Hi - my bad, I clicked on the wrong link and so it's not tied to the article. It's this one https://docs.microsoft.com/en-us/microsoftteams/direct-routing-translate-numbers

[2020-08-28 17:38] jamesnhan commented on #4181
So 3 months ago, I was trying to work on this for a client. Several MS tickets and finding this GitHub issue did not help. I was finally able to find an ESD file and used a decryption tool to convert the ESD file to an ISO.

The ESD file can be found here: http://dl.delivery.mp.microsoft.com/filestreamingservice/files/6561740d-e542-478c-9fd7-85281d08573e/18362.356.190909-1636.19h1_release_svc_refr

[2020-08-28 21:02] c016smith opened #5671 "Zoom join can't come soon enough"
Please release from TAP asap (pretty please), as well as making this option available on Surface Hubs, not just MTRs. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c62081e-2421-80b9-8ba9-aaf8fd55e432
* Version Independent ID: 5df3c5e5-978f-cfa7-9e5c-3cd7f65fa8ff
* Content: [Enable Teams Rooms devices to join

[2020-08-29 00:13] asklar opened #5672 "Are system requirements up to date?"
The requirements for Teams for Windows seem way off. It lists 3 GB of RAM as the required amount (i.e. you should never need more than 3 GB) yet regularly I see Teams use way more than that.
![image](https://user-images.githubusercontent.com/22989529/91623788-c847e880-e951-11ea-95c7-f23435d3e61a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-08-29 05:15] winderickxeli commented on #5657
Hi, Thanks

It seems to be double confusing. The 1.3 is really the 'preview' version with extra functionality. The 1.4 does not contain these new functionalities. This is really confusing... :confused:

[2020-08-29 13:11] lindspea commented on #5631
@rbalsleyMSFT thank you for reaching out. Unfortunately, these updates are generated automatically each week and I don't have the permissions to update in the correct order. This is however on the teams radar to be fixed in the near future.

[2020-08-29 13:17] lindspea commented on #5564
@WillMartin58 thank you for reaching out and helping improve MS Docs. I've had a quick look through the article, but I can't see where it's missing. Could you please be a bit more specific about the location if possible.

[2020-08-29 13:23] lindspea commented on #5589
@TechTrooper Thank you for reaching out and helping improve MS Docs. Please have a look at this link and let me know if it helps
 - https://docs.microsoft.com/windows/security/threat-protection/windows-firewall/create-windows-firewall-rules-in-intune

[2020-08-31 02:26] Gary620 commented on #5355
@tonysmit Hi Tony, good day. I'm sending this message to follow up. Is there any response from Sam Chung? It's been another 10 days without any response and update..... Really appreciate if you could find the right person and speed it up.
@Reeced40 FYI.

[2020-08-31 09:16] lindspea commented on #5633
@michaelbunney thank you for reaching out and helping improve MS Docs.  Please let me know if the information in this article helps at all - https://docs.microsoft.com/microsoft-365/admin/get-help-with-domains/find-and-fix-issues?view=o365-worldwide

[2020-08-31 10:03] lindspea commented on #5572
@nidelius thank you for reaching out and helping improve MS Docs. Please have a look at this link and let me know if it helps at all  - https://docs.microsoft.com/microsoftteams/manage-tags

[2020-08-31 11:44] Brumaz opened #5673 "Delay on status of contacts"
While in Teams, a colleague user I want to contact has a Green status. So I type my message and hit Enter. Then immediately the status changes to the actual status and thus implied that the green status was not correct. Skype did this always correct, Teams is nearly always wrong!

[2020-08-31 11:54] WillMartin58 commented on #5564
I received an email shortly after I submitted my note saying that the issue had been resolved.  So I assume someone fixed it …

From: Lindsay <notifications@github.com>
Sent: Saturday, August 29, 2020 9:17 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Will Martin <willmart@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Mic

[2020-08-31 14:35] scanum commented on #5665
Thanks!

[2020-08-31 14:36] scanum commented on #5668
@agallego-css Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-31 14:36] scanum commented on #5671
@c016smith Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-31 14:37] scanum commented on #5672
@asklar Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-08-31 14:40] dariomws commented on #5171
Hi @SOM-Scott, thank you for your feedback and help us to improve docs.microsoft.com. Sorry for the delay.

@dstrome could you kindly help with this issue? Thanks!

[2020-08-31 14:41] scanum commented on #5673
@Brumaz Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-08-31 14:41] #5673 closed

[2020-08-31 14:41] scanum commented on #5672
@asklar Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-08-31 14:41] #5672 closed

[2020-08-31 14:51] dariomws commented on #5232
@tonysmit @garycentric could you kindly help to confirm this information? If you don't have a Stream license, where are the recordings stored?

[2020-08-31 18:53] cnbjacobsbd opened #5674 "Download link does not work. https://1drv.ms/f/s!ArcnbnREun0Vnp9Wps9MlWB-UJZw3g"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f256cd5b-3ec8-2d55-9ae4-ff9849d52eae
* Version Independent ID: 52c2271b-df38-5dc9-c2a1-553cdf3b5496
* Content: [Deploy Microsoft Teams for Surface Hub - Microsoft Teams](https://docs.microsoft.com/en-us/MicrosoftTeams/teams-surface-hub)
* Content Sour

[2020-08-31 19:54] MicrosoftHeidi commented on #5175
I have a response, the asterisk should be removed.

[2020-08-31 20:36] michaelbunney commented on #5633
Hi, Lindsay.

Unfortunately the article you reference has no information about whether a “verified domain” must be a custom domain or can be a <tenant>.onmicrosoft.com domain, nor does it define what it means by “verified domain” (verified by whom? how?) in either case.  It does contain a “Verify your Microsoft 365 domain” link, but this just leads to the “Domains FAQ” page, which does not, in fac

[2020-08-31 21:50] SamChung-MS commented on #5355
Hi @Gary620, sorry for jumping on late here. Are you basically asking if recording will work without Stream?

[2020-08-31 22:13] philliplyle opened #5676 "default values for user/locale"
The last section describes defaults for different user types (e.g. anonymous, Guest) and says "Default", but doesn't describe how these defaults can be changed.  The term Default suggests they can be changed, but no documentation exists on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2465e854-e3b1-6bd0-c834-c69

[2020-08-31 23:41] SerdarSoysal commented on #5597
@Petri-X thanks again for pointing this out. The setting controls what logs are captured for diagnosing meeting experiences. I need to validate a few things on our end (specifically exactly which logs this setting affects), and then we will revise this topic accordingly.

@scanum I'm going to reopen and assign this one to myself. Will respond back here and close once we have the PR to update the t

[2020-09-01 01:11] Gary620 commented on #5355
@SamChung-MS Hi, Sam. Absolutely right. I was able to record without enabling Stream license. But then I cannot. I opened a case, the tech support said "it is a must" to enable Stream license if you wanna record Teams meeting. This is exactly different from the saying in the official document. To avoid misleading customers, I raised a problem 3 month ago, and it has been delayed till today. Would

[2020-09-01 06:19] Petri-X commented on #5597
@SerdarSoysal
Is it possible to ask at the same time, if we could also convert the .blog files to text files? For example the *.blog files under "Teams\Media-Stack". So far I have understood those are ULOG2 format, but not success to make them readable again.

[2020-09-01 08:50] lindspea commented on #5564
@scanum this can be closed thanks.

[2020-09-01 08:54] lindspea commented on #5633
@LanaChin could you please assist.

@michaelbunney thanks for letting me know. I have asked the team for help on this. In the meantime here is an article added yesterday - https://docs.microsoft.com/microsoft-365/admin/setup/add-domain?view=o365-worldwide

[2020-09-01 09:02] lindspea commented on #5621
@HandyAndyOnGitHub thank you for pointing this out and helping improve MS Docs. @LanaChin please can you help answer this question. Should I change the wording in the doc? Is this capability only available in the instance for direct routing?

[2020-09-01 09:07] lindspea commented on #5610
@tgskiman thank you for reaching out and helping improve MS Docs. It looks like the error has been fixed in the interim. Please can you check and let me know from your side. Thanks again!

[2020-09-01 11:40] rdekramer opened #5679 "3 recently released features missing"
The recently released call merge, safe transfer and multiple number dialing features are missing. Could these be added?

Thanks,
Remco

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cfead3c-b0d8-c22a-aa22-63e79fe53ed3
* Version Independent ID: 10745875-3d3e-42bb-e324-ff4c83968ccf
* Content: [Her

[2020-09-01 12:02] lindspea commented on #5569
@XixiHuang333 thank you for reaching out and helping improve MS Docs. I see the article was updated a few days ago. Please can you check and let me know if the issue is resolved and the version is reflecting correctly.

[2020-09-01 12:05] lindspea commented on #5586
@LanaChin please can you let me know if this is possible?

[2020-09-01 12:07] lindspea commented on #5600
@DavidSchrag thank you for reaching out and helping improve MS Docs. I see the article was updated a few days ago. Does it help at all or is the same issue occurring?

[2020-09-01 12:09] lindspea commented on #5580
@SerdarSoysal can you help with this one please?

[2020-09-01 12:12] lindspea commented on #5565
@D-Jeffrey Thank you for reaching out and the positive feedback. Do you perhaps have the link you are referring to? Otherwise I'll investigate with the team.

[2020-09-01 12:17] lindspea commented on #5632
@michaelbunney thanks again for reaching out and for the positive feedback. I'm not sure if this link helps at all regarding workloads, but I have asked the team for assistance as well. Please let me know - https://docs.microsoft.com/en-us/microsoftteams/use-advisor-teams-roll-out
@LanaChin please can you help here.

[2020-09-01 12:21] lindspea commented on #5591
@cimares thank you for pointing this out. Is this the correct link that should be there ? https://docs.microsoft.com/powershell/module/skype/new-csonlinesession?view=skype-ps

[2020-09-01 13:49] DavidSchrag commented on #5600
The article still suggests that you can submit a service request through the Office 365 Admin Center. If my experience is typical, and the O365 support staff is simply going to reply by directing you back to the same documentation and advising you to e-mail the PSTN Service Desk, then I don't see what the benefit is of creating the service request. If there's no benefit, then the instruction shoul

[2020-09-01 14:28] S2AMC opened #5681 "Can the $4 audio conferencing be added to Teams within Microsoft 365 Business Standard? I'm finding conflicting information. This will only be used for a conference bridge."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59426612-8da4-be3e-f0c8-8c23e9178d7d
* Version Independent ID: bd2d7426-06d6-5c18-7776-a50fc05c9ce9
* Content: [Configure Audio Conferencing settings - Microsoft Teams](https://docs.microsoft.com/en-us/MicrosoftTeams/deploy-audio-conferencing-teams-la

[2020-09-01 15:53] dariomws commented on #5657
Hi @winderickxeli, thank you for your feedback and help us to improve docs.microsoft.com.

It's true, 1.3 is the latest public preview version and 1.4 is the latest stable version. This is why you need to run the command with "-RequiredVersion "1.1.3-preview"" to install the public preview version.

[2020-09-01 16:44] SamChung-MS commented on #5355
So it should work. My understanding is the same as yours, in that you don't need to have to Stream. The recordings will not be saved forever, but instead will only last for a few weeks before they're wiped. But the button should still be there. Have you checked with your tenant Admin to make sure that the recording policy is enabled?

[2020-09-01 18:28] cichur commented on #5676
I removed the mention of defaults for user types. The article is now live. Thank you for your help.

[2020-09-01 18:28] #5676 closed

[2020-09-01 18:37] philliplyle commented on #5676
Thanks.  So I am guessing you are confirming they can't be changed?  Too bad.  This becomes another half baked feature, then, if you can't use it with external participants.