[2020-05-14 23:19] #4895 closed

[2020-05-14 23:19] scanum commented on #4894
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-05-14 23:19] #4894 closed

[2020-05-14 23:19] scanum commented on #4890
@julianucci thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-14 23:19] #4890 closed

[2020-05-14 23:19] scanum commented on #4889
@Bart-Hoofd thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-14 23:19] #4889 closed

[2020-05-14 23:21] scanum commented on #4888
@aperezcortes thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-05-14 23:21] #4888 closed

[2020-05-14 23:21] scanum commented on #4878
@scanum Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-14 23:21] scanum commented on #4879
@scanum Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-14 23:21] scanum commented on #4882
@Air-Git Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-14 23:21] scanum commented on #4886
@skywalkerisnull Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-14 23:21] scanum commented on #4887
@solter Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-14 23:21] scanum commented on #4891
@3vi1 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-15 00:33] quentinhurdazure commented on #4545
@LanaChin  @KazuyDarklight Channel messages does include post and reply message types.  In the definition of Post messages it qualifies as "unique **post** messages", whereas, the Channel Message definition says only "unique messages" and this **_implies it includes all of the messages_**, both **the posts** and also **the replies**.  Similarly, for Reply Messages, it is qualified as "unique reply

[2020-05-15 03:47] droopycr opened #4898 "Upload Assigments"
Hello, i have a problem when a student need to upload the assigment work, there's an error message to upload a file,  - Ther's an error to upload a file, please remove and try again-. This error show on PC Teams App, Web Browser, and Iphone app.

I remove the user on the Azure AD, and create it again, and same problem,

[Escriba sus comentarios aquí]

---
#### Detalles del documento

⚠ *No edite e

[2020-05-15 05:10] lindspea commented on #4876
@pschneidermsft thank you for reaching out. As far as I understand it applies to all countries. @tonysmit please could you confirm.

[2020-05-15 05:18] lindspea commented on #4878
@Plymothian thank you for reaching out and helping to improve MS Docs. Please could you provide a bit more clarity on what you recommend needs to be changed in the article so I can assist further.

[2020-05-15 05:25] lindspea commented on #4879
@gabsto-ms thank you for reaching out and helping improve MS Docs. I see the article was updated this week with important information. Please let me know if you still need assistance.

[2020-05-15 05:26] hrfmjp commented on #4736
I also want to get graph data by csv and REST APIs.

[2020-05-15 05:36] lindspea commented on #4882
@Air-Git thank you for reaching out and helping improve MS Docs. I found this in another article. Would this provide more clarity? "Federation must be enabled for the external communications for the online tenant, which is configured by using the Skype for Business Online Control Panel."

[2020-05-15 05:43] lindspea commented on #4886
@skywalkerisnull Thank you for reaching out and helping improve MS Docs.  This article applies to standard channels. File permissions for members and guests reflect whatever your admin has set in your SharePoint settings. These can only be changed by your admin.
See also https://docs.microsoft.com/MicrosoftTeams/private-channels
Let me know if you need further assistance.

[2020-05-15 05:47] lindspea commented on #4887
@solter thank you for reaching out and helping improve MS Docs. This article links to the article you mentioned above. Please could you provide a bit more clarity as to what you recommend changing in this article.

[2020-05-15 05:52] lindspea commented on #4891
@3vi1 thank you for reaching out and helping improve MS Docs. Please see this link - https://support.microsoft.com/office/update-microsoft-teams-535a8e4b-45f0-4f6c-8b3d-91bca7a51db1

[2020-05-15 08:51] miguelvidex opened #4899 "Microsoft 365 Apps are not eligible plans to get this add-on"
Microsoft 365 Apps for Enterprise and Business do not include Teams service, so you cannot add this SKU to that licenses, so it should not appear in the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35057f71-792b-a4e2-a2ee-a4908c11f3a4
* Version Independent ID: 7e23f067-1dcd-16f0-3f9a-ff8d13c1f659
* Content: [Wh

[2020-05-15 09:17] abrahamdsl opened #4900 "Toll-free for Philippines"
Hi, as per

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blame/live/Teams/toll-free-dialing-limitations-and-restrictions/toll-free-dialing-restrictions-in-the-philippines.md#L36

there should be a toll-free number.

But I think, you only meant toll-free if within the Manila Area/National Capital Region ----same area code----. I have an expectation that it should be toll-free **anyw

[2020-05-15 09:54] lindspea commented on #4871
@LanaChin please can you have a look at this and let me know if you can provide the updated screenshots so I can do the PR (if this is applicable)?

[2020-05-15 10:04] pschneidermsft commented on #4876
But that doesn’t make sense.  For example, in the US toll-free numbers are regulated by the FCC under 47 FCR Part 52 Subpart D, which prohibits warehousing and hoarding, but does not mandate a minimum monthly usage rates.

From: Lindsay <notifications@github.com>
Sent: Friday, May 15, 2020 7:11 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Pa

[2020-05-15 11:32] Darrelo365 commented on #4895
Hi, I've done that already. Microsoft Premier Support advice (via a ticket) was to raise a Uservoice. And here's the link https://microsoftteams.uservoice.com/forums/555103-public/suggestions/39250318-teams-usage-report-shouldn-t-include-active-user

[2020-05-15 11:41] carolynblanding commented on #4343
@tonysmit @dstrome3 @roykuntz @lindspea

This is not correct. Phone System license is not required. Previously it was required for one user to have a Phone System license so that the Business Voice Directory would be created for the SfB Online Tenant. My understanding is that all tenants have been synchronized to BVD and newly provisioned tenants will be sync'd automatically.

[2020-05-15 12:01] goretz2 commented on #4112
@patichard hello. how to download 4.4.41? I have an issue with two Teams Rooms devices: HP Elite Slice G2 and Lenovo smarthub 500. Thank you

[2020-05-15 12:13] dariomws commented on #4112
Hi @goretz2, please check this article:
https://docs.microsoft.com/microsoftteams/rooms/console

[2020-05-15 12:43] goretz2 commented on #4112
hi, @dariomws . Yes I saw this article. What precisely I have to do? create usb stick and perform full installation? Is it the only way to update MTR verision? When I have versions before 4.3. I just downloaded SRS deployment kit, installed it and run a script in repair mode. after it MTR was updated.
P.S. I am looking for update because I have a problem with black screen at the second monitor whi

[2020-05-15 13:33] dariomws commented on #4112
@goretz2 I have verified the script and it download the MSI from this URL:
https://go.microsoft.com/fwlink/?linkid=851168
But you will get 4.3.42.0 version. Give me some time I will try to get more information. In the meantime, if you have some urgency, please open a support ticket.
If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/ad

[2020-05-15 15:08] MichelleLanguages opened #4904 "Chat options for Guests"
I have done all of the steps mentioned. I have also gone through all the settings in Teams. I have created Teams with some people who have free accounts, but they cannot chat with me. Why is this? Also, with a B2B major corporation, some of my clients within that corporation can chat with me, some can't. I am able to share documents and use apps with some, but why is it that on two paid accounts I

[2020-05-15 16:01] Air-Git commented on #4882
My point is that the sentence does not work, in English. It is simply incomprehensible. What does it mean?

[2020-05-15 16:30] Michal-Witwicki opened #4905 "Disable hybrid and decommissioning on-prem"
This article does not show the entire procedure of hybrid completion / server removal. I am sorry to say but it is useless.

You must use Disable-CsUser if you finish the hybrid and remove the on-prem environment.

If you do not remove the msRTCSIP attributes, it causes a problem after synchronizing to Azure AD

Disable-CsUser is required but generates two problems, the first is that it removes th

[2020-05-15 17:47] goretz2 commented on #4112
thank you @dariomws I will wait for your answer here because I haven't rights to create support ticket.

[2020-05-15 18:18] AndresLopez1982 opened #4906 "Share screen and present a video with audio using Teams via iOS 13.4.1"
Good afternoon.

I would like to know if I can share a screen and present a video with audio using Teams via iOS 13.4.1. I tested it in several ways but I haven't found a solution so far.

[2020-05-15 20:29] bjwhalen commented on #4309
this doc "https://docs.microsoft.com/en-us/archive/blogs/fasttracktips/decommissioning-skypelync-on-premises " is incorrect and needs to be fixed. Onprem attributes should not be removed. users may lose service if in various cases.

[2020-05-15 22:40] J-Fedor commented on #4309
OK, so how are we decommissioning on-prem servers while servers are still enabled on the servers?  Seems to be a gap missing.  Just yank and pretend they were never there?  Seems like leaving a debris field behind that wasn't fully planned.

[2020-05-16 01:14] bjwhalen commented on #4309
You must only do the decomm after you have moved all onprem users to online using move-csuser. Once you've done that, they are homed online and not serviced by onprem. there is no gap. Just wipe the server.

[2020-05-16 01:34] J-Fedor commented on #4309
You don't even check for any on-prem users in your process.
You don't clean up conference directories
You don't provide instructions on server removal
Etc.

There's a lot of things done that should be done that is on that other doc that this doc doesn't even hint at needing to be completed.

Based on the amount of details & effort involved, the one you don't like provided far more guidance to how

[2020-05-16 18:38] solter commented on #4887
The following information would have been helpful as I was working with teams on linux:
* which logs are generated by the teams client (by adding a new "linux" row to the table indicating which logs are created
* for the debug logs
** the keyboard shortcut to cause the linux client to dump out logs
** the directory into which the debug logs get dumped when created from the linux client
* similar i

[2020-05-17 00:28] v-edserr commented on #4858
I am currently with a user that has the exact same problems as OP has. Clear concise information would be immensely helpful.

[2020-05-17 15:01] danmyhre opened #4909 "Licensing information is out of date"
This section needs to be updated:

In the Assign licenses section, you need to select Skype for Business Online (Plan 2) or Skype for Business Online (Plan 3), depending on your licensing and what you've decided in terms of needing Enterprise Voice. You'll have to use a Plan 3 license if you want to use Cloud PBX on Microsoft Teams Rooms. Minimally you will need CloudPBX for voice connectivity. Th

[2020-05-17 15:01] danmyhre commented on #4677
This is one example:
Enable-CsMeetingRoom -Identity $rm -RegistrarPool "sippoolbl20a04.infra.lync.com" -SipAddressType EmailAddress

There is no $rm variable defined.

[2020-05-17 15:07] danmyhre opened #4910 "Step 6 and Licensing"
In order to enable a CSMeetingRoom, you need to have enabled licensing.  You also have to wait.  In my case, it was about 15 minutes.

In the steps above, step 6 adds licensing.  That is fine.  But then below it has another section on adding licensing.  Licensing can't come after the room setup, it has to happen during the account setup.  So this statement at the end need to be updated:

After you

[2020-05-18 04:50] scanum commented on #4899
@miguelvidex Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 04:50] scanum commented on #4900
@abrahamdsl Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 04:51] scanum commented on #4905
@scanum Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 04:52] scanum commented on #4909
@danmyhre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 04:52] scanum commented on #4910
@danmyhre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-18 04:53] scanum commented on #4904
@MichelleLanguages thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Pleas

[2020-05-18 04:53] #4904 closed

[2020-05-18 04:53] scanum commented on #4906
@AndresLopez1982 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-05-18 04:53] #4906 closed

[2020-05-18 06:12] MaratMussabekov commented on #4743
Hello, @tomdewing ,
yes, you are right, and also wording **subject, common name, or subject alternate name fields** doesn't make any sense since there is no such field as **common name**. Common name is the part of the subject field.
I will create a PR to add this info to the article.
Thank you

[2020-05-18 07:38] MaratMussabekov commented on #4606
Hello @Tricia911 ,
when  "Conferenced in but are muted" is chosen:
1. someone make an emergency call
2. the people you specified will receive a notification about this call via Teams chat
3. Notification contains the link to the call, so they can join the call, but their microphones will be muted during the call (so they can only listen).
Thank you

[2020-05-18 07:47] desmondgc opened #4914 "Removing members not possible with Azure AD Connect"
Please clarify: "Even though members can't leave an org-wide team, as a team owner, you can manage the team roster by removing accounts that don't belong." In our environment, manually-removed members they are re-added several hours later. Is this expected behavior with Azure AD Connect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-05-18 08:25] HenrikHL opened #4915 "Can't seem to add a Favorites in Contacts when you are a Guest"
I am a guest in another tennant. I know there are limitations to guest privileges. It would be nice if it is possible to save a contact as Favorite in order to quickly access them. The option does not seem to exist:
![image](https://user-images.githubusercontent.com/3489388/82190715-c0f45600-98f1-11ea-92c7-04d6181401de.png)

[2020-05-18 08:48] goretz2 commented on #4112
hi, @dariomws also I found that my colleagues from Germany used MTR 4.2.4.0 at the same equipment and they haven't any problems. they shared me the srsdeploymenttoolkit 4.2.4.0 but I don't know how to downgrade. is it possible? I tried to run the script at repair mode but this doesn't help.

[2020-05-18 08:52] lindspea commented on #4882
@Air-Git can you possibly recommend how you would change the sentence to make it more comprehensible?

[2020-05-18 08:56] lindspea commented on #4887
@LolaJacobsen please could you assist. Is this perhaps in the pipeline for an update to the article?

[2020-05-18 09:20] lindspea commented on #4899
@dstrome please can you confirm and I'll do a PR to fix.

[2020-05-18 09:27] lindspea commented on #4898
@Office Global

[2020-05-18 09:38] lindspea commented on #4900
@abrahamdsl thank you for reaching out and helping improve MS Docs. Please can you send me the link to the Microsoft article you are referring to so I can assist further.

[2020-05-18 09:41] lindspea commented on #4909
@danmyhre thank you for reaching out and helping improve MS Docs. Just to confirm, are you suggesting removing the 4 bullet points under Microsoft Team Room requirements and replacing with your suggestions?

[2020-05-18 09:44] causeway74 opened #4916 "Footnote numbering in table - incorrect"
Can you please update the footnote numbers in the table on this page. No1 is referenced below, but it doesn't appear in the table.
No3 is listed in footnote but doesn't appear in table.
No4 says retention is supported for the shadow mailbox but the article that is linked to says that holds nor retention is supported for shadow mailbox.

Additionally, can you please list for each column if OAuth is

[2020-05-18 09:49] lindspea commented on #4910
@danmyhre thanks again for your help improve MS docs. Would you recommend changing the statement to read as follows:  "You need to assign a license to Microsoft Teams Rooms device before completing the preceding steps to enable your Microsoft Teams Rooms account in Microsoft Teams or Skype for Business Online. Using the Office 365 administrative portal, assign either a Skype for Business Online (P

[2020-05-18 10:09] Air-Git commented on #4882
That's my point. I don't know what it is supposed to mean. I think it can be deleted.
The list of points above it specify that federation needs to be enabled. The confusing point is whether you need also to "federate" with the online tenant.
This page says explicitly that you need to federate with the Office 365 tenant: [Configure Skype for Business Hybrid](https://docs.microsoft.com/en-us/skypefo

[2020-05-18 10:12] lindspea commented on #4882
@CarolynRowe Could you please confirm?

[2020-05-18 10:40] abrahamdsl commented on #4900
Hi it's https://dialin.teams.microsoft.com/e5b24bd5-8a9d-490f-a988-5cde224ea698?id=718741352 , as mentioned in first comment.

[2020-05-18 10:44] lindspea commented on #4900
@tonysmit who would be able to help with this article?

[2020-05-18 10:50] Reeced40 commented on #4790
@LanaChin Hi Lana, please can you confirm if a Calling Plan License is also required to make or receive calls using the Room? Thanks.

[2020-05-18 11:17] MaratMussabekov commented on #4806
Hello @ChrisAtMAF, please have a look at the PR #4917 I have created.
Thank you

[2020-05-18 12:36] MaratMussabekov commented on #4697
Hello @khilker15 ,
The file from this article should be used, as it is the latest one.
There is no update required for the article.
The file on the download center should be updated, however, it is out of the scope of this forum.
Dear @scanum, could you please advise, is there a way we can communicate someone from [Download center](https://www.microsoft.com/en-us/download/default.aspx)?

Thank you

[2020-05-18 14:14] dariomws commented on #4112
Hi @goretz2,

I think the only option to downgrade is Factory Reset:
https://docs.microsoft.com/MicrosoftTeams/rooms/rooms-operations#microsoft-teams-rooms-reset-factory-restore

[2020-05-18 14:48] 3novsan opened #4918 "Diagram-Skype for Business Server 2015"
Looking at supported version, Shouldn't diagram mention Skype for Business Server 2019/2015? Right now, It mentions only Skype for Business Server 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469ac0c8-5c06-7f7f-fe1d-8cadb205572a
* Version Independent ID: 5c9987d5-4c98-8115-55c8-f629dbd25799
* Content: [Plan Clo

[2020-05-18 15:13] Icemanvw14 commented on #4870
Are there any estimate timelines when the increase to 350 will be implemented?

[2020-05-18 17:56] associa0 commented on #4713
Can a list of new features, fixed issues and known issues be provided for each version?

[2020-05-18 21:02] CreativeAmbiguity opened #4923 "Can Presenters Change settings in meeting options?"
I tried changing settings in meeting options as a presenter but not organiser of a meeting and was blocked with a message saying this could only be done by meeting organisers.  The table in Addressing Threats to Teams Meetings, option 2, does not appear to be correct or at least needs clarifying with regards to the meeting options that presenters can change.

---
#### Document Details

⚠ *Do not e

[2020-05-18 21:31] JeffBrownTech opened #4924 "Additional Licensing Requirements"
Under the "Using a Resource Account" section, it mentions that if you want to make or to receive calls to or from an external phone number that you'll need a phone system or business voice license. However, the Meeting Room license already has a phone system license associated with it. I believe this should be changed to needing a Calling Plan license instead, which would enable external calling.

[2020-05-18 22:56] tonysmit commented on #4876
I've contacted the PMs to get a confirmed response to this. Please hold and I will report back.

[2020-05-18 22:59] tonysmit commented on #4900
Can you send me your email address that's not GH please. I will put you in contact with the PM. She's not yet on GH (I don't think).

[2020-05-18 23:17] tonysmit commented on #2685
https://docs.microsoft.com/en-us/powershell/module/teams/new-csbatchpolicypackageassignmentoperation?view=teams-ps
New-CsBatchPolicyPackageAssignmentOperationThis cmdlet submits an operation that applies a policy package to a batch of users in a tenant. Provide one or more user identities to assign the package.

[2020-05-18 23:22] tonysmit commented on #2685
Content is being updated. Here is a doc as well that does this:  https://docs.microsoft.com/en-us/microsoftteams/assign-policies#assign-a-policy-package-to-a-batch-of-users

[2020-05-18 23:22] #2685 closed

[2020-05-18 23:39] tonysmit commented on #3581
I'm checking with the PMs on this. Please hold and I will report back here. @fafan @ruizoscar

[2020-05-18 23:39] sagy opened #4925 "Network Testing Companion is no longer available"
"You can use the Network Testing Companion to confirm that your network locations are ready for the voice and video traffic that will support your meetings experience."
https://www.powershellgallery.com/packages/NetworkTestingCompanion/1.5.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8485ffe7-52ea-ef91-4983-2f02d6e

[2020-05-19 06:12] lindspea commented on #4847
Thanks @flinchbot. @HenrikDamslund please can you let me know if this solves your issue. Thanks again for helping improve MS Docs.

[2020-05-19 06:36] lindspea commented on #4343
@carolynblanding would you like me to do another PR to revert back to original info?

[2020-05-19 09:50] domen62 opened #4927 "Teams for Mac .dmg download"
Could you give me the link to download the installation file for Mac in .dmg format?
Thanks

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Version Independent ID: f5d82846-41cb-3548-6997-ce23bd8f89c6
* Content: [Ottenere i client per Microsoft Te

[2020-05-19 10:57] SnappyFPV opened #4929 "Incomplete Information about needed licenses for guest attendees in authenticated live events (People & Groups)"
We had the experience that Live Events that has planned as authenticated for people and groups events - any external/guest user on the attendee list needs a teams license to see the live stream - without a valid license he cannot authenticate.

Please clarify these information for guests in authenticated events - we couldn't assign any license to external/guests users - so this functionality is ve

[2020-05-19 11:35] steveapples opened #4930 "Autodiscover"
If you use the http redirect method of Autodiscover, Teams cannot find your On-premises Calendar.
If you have many domains, or do not want to buy an expensive SAN-SSL just use SRV-records for Autodiscover instead. I struggled with this for many days. Microsoft Support was useless. However as soon as I switched to SRV-records for Autodiscover it worked in a few minutes. Http redirect passes Remote

[2020-05-19 12:37] DocUpdate opened #4931 "Emailing a channel- limits"
Can you please update the document to explain the sending / throttling limits of sending email to a channel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Teams - Micr

[2020-05-19 12:53] NickElniff opened #4932 "PSTN Usage report should refer to the report in the Teams Admin Center"
This section should be update to remove reference to Skype for Business Admin Center and instead reference the Teams Admin Center

"Organizations already using Skype for Business Online already as their service provider can get usage data by reviewing it in the Skype for Business admin center &gt; Reports &gt; PSTN usage details report.

When you are setting up Communications Credits, you will nee

[2020-05-19 14:19] DixonJones opened #4933 "What about the most common profile for a startup?"
Most businesses start with one person becoming two people. We used Skype personal before this and my version of office was friends and family... so I ended up with a new profile for the business. But now I have two onedrives. WHAT? So I assume I need to migrate... but apparently I cannot according to the help. I want an organization profile that says "I have a new business, but all the team has al

[2020-05-19 14:54] get-itips commented on #4626
@scanum PR has been merged and it reflects current UI, we can close this issue now.

[2020-05-19 15:21] ahamin01 opened #4934 "Shifts data location is missing"
As Shifts is part of Teams, this article is not mentioning anything about Shifts and where it's stored.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84f319aa-94de-bed1-2e5d-c6fe24436dac
* Version Independent ID: ee6daf32-7e03-801c-dd1b-50bf35e4635e
* Content: [Location of data in Microsoft Teams - Microsoft Teams](ht

[2020-05-19 15:49] mratner2000 opened #4935 "The PSTN department is non-existent!"
I got an email with an issue regarding 2 of my 3 port orders.  I send an email to the ptn@microsoft.com address and I have received NO CORRESPONDENCE from them.  I've opened a ticket with general support who has no clue and all they did was forward the ticket to the PTN email address.  Every other phone service on earth has a tech support department you can communicate with via phone or trouble ti

[2020-05-19 16:00] GiantCrocodile opened #4936 "Support PIN not visible"
Hello,

I can't see a support pin as described on this page. In which cases is it hidden/not available? What does a customer have to do to have/view a support pin?

Best Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510eda3b-90cf-4c84-4f15-2c2b3ae841f3
* Version Independent ID: 5fd1abf8-ec5d-3f82-afe3-78b57eb

[2020-05-19 17:25] johnhClarkWa opened #4937 "Dial-Out permission change requires 'Skype for Business Admin' Role, not Teams Service Admin"
Documentation needs to be more specific about what role is required to change settings, specifically the 'dial-out' policy setting.
At this time 'Dial-out' policy changes currently require 'Skype for Business Administrator' role, NOT the Teams Service Administrator role or any of the other Teams oriented roles.  Spent almost a month going back and forth with Microsoft support only to figure this o

[2020-05-19 18:05] scanum commented on #4898
@droopycr thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-19 18:05] #4898 closed

[2020-05-19 18:05] scanum commented on #4915
@HenrikHL thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-19 18:05] #4915 closed

[2020-05-19 18:08] scanum commented on #4918
@3novsan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-19 18:08] #4918 closed

[2020-05-19 18:08] scanum commented on #4923
@CreativeAmbiguity thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Pleas

[2020-05-19 18:08] #4923 closed

[2020-05-19 18:13] scanum commented on #4924
@JeffBrownTech thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-05-19 18:13] #4924 closed

[2020-05-19 18:13] scanum commented on #4927
@domen62 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-19 18:13] #4927 closed

[2020-05-19 19:26] LanaChin commented on #4871
I've updated the screenshots to remove the references to Microsoft 365 Apps for enterprise and Microsoft 365 Apps for business.

[2020-05-19 19:26] #4871 closed

[2020-05-19 19:39] scanum commented on #4935
@mratner2000 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-19 19:39] #4935 closed

[2020-05-19 19:42] scanum commented on #4933
@DixonJones thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-19 19:42] #4933 closed

[2020-05-19 19:47] scanum commented on #4929
@SnappyFPV thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-05-19 19:47] #4929 closed

[2020-05-19 19:49] scanum commented on #4914
@desmondgc  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 19:49] scanum commented on #4916
@causeway74  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 19:56] scanum commented on #4925
@sagy  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 19:57] scanum commented on #4930
@steveapples  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 19:57] scanum commented on #4931
@DocUpdate  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 20:14] scanum commented on #4932
@NickElniff  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 20:25] scanum commented on #4937
@johnhClarkWa  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 20:25] scanum commented on #4936
@GiantCrocodile  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 20:25] scanum commented on #4934
@ahamin01  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-19 20:41] joeljanke commented on #4747
Any update on the above?   Was the Outlook presence issue fixed or not?   This is a very important item to have accurate in this document.

[2020-05-20 00:07] SfBEngineer13 opened #4944 "Unable to move a user from SfB on-prem to Teams"
Hi, I was unable to move only 1 user using Move-CSUser -Identity user@company.com -Target sipfed.online.lync.com -MoveToTeams -BypassAudioConferencingCheck -BypassEnterpriseVoiceCheck A workaround I found was first move user to SfBO and then Teams... why does that happened if I verified all SfB 2015 CU8 requirements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-05-20 03:08] kcsportal opened #4946 "Pay per minute licence confusion"
Hello, Based on my understanding of this document, I can get a free license applied to all my users that will enable the pay per minute audio conferencing. My organization will rarely use this feature, so this would be ideal. I already bought communication credits.

However, my Microsoft partner gave this response, "Per my licensing specialist the Audio Conferencing pay per minute licenses are sol

[2020-05-20 03:35] Jmartinez589 opened #4947 "What exactly is Federated in Teams?"
This article assumes someone understands or has set up Federation. What exactly does that mean in Teams today?
"must be correctly set up for hybrid and moved to Skype for Business Online." Ok, so, if some is in Teams only then they are not in Hybrid and they didn't move to SfB then how can they make this work?

Then with this sentence "If you can only exchange text in your chat with an external us

[2020-05-20 04:18] Jmartinez589 commented on #4885
Alright, it may seem basic but it just is no where to be found and one simply and clearly written article would be great.

There are several complimentary articles but none is very clear. They all have technical information that may be accurate but for a lay person, the guidance is not very straight forward.

Here is one thread that I found. https://techcommunity.microsoft.com/t5/microsoft-teams/g

[2020-05-20 09:09] thowa1 opened #4948 "Can download but data is empty"
I have tried this feature today as meeting organizer. I find the option to download and did receive a csv file. That file, however, was empty except for the header line.
Is that an error?
It may be that we do not yet have the appropriate meeting policy in place for me to download attendance reports - but in that case I would expect a different behavious (greyed out button and not downloading an em

[2020-05-20 11:29] JeffBrownTech commented on #4924
This isn't a support issue, I opened this issue on the docs page to have the documentation verified if it is correct or not as it seems to be in conflict with what is already included in the Meeting Room license. Can we have someone verify it?

[2020-05-20 12:58] rkaravia commented on #4891
@lindspea This link is not working for me ("Sorry, the page you’re looking for can’t be found.")

[2020-05-20 13:33] danieldhudson opened #4949 "Teams Cloud Storage - TTL on recordings"
In the Important note at the beginning of the article, it states:

"Users won't need a Microsoft Stream license assigned if you want users to only record and download the recordings. This will mean that the recordings aren't stored in Microsoft Stream but are instead stored in Azure Media Services (AMS) with a 30 day limit before it's deleted."

But later on in the Where your meeting recordings ar

[2020-05-20 13:35] supersankary commented on #4181
Hey, i had the same problem.
To solve this on your own is a bit tricky but it worked for me.

Download Media Creation tool1903, you can still find it in the web.
Start an elevated console and navigate to the folder where you file is located.

MediaCreationTool1903.exe /Eula Accept /Retail /MediaLangCode de-DE /MediaArch x64 /MediaEdition Enterprise

!!Change the language in the code above for your

[2020-05-20 15:02] Michal-Witwicki commented on #4905
@scanum My topic concerns the article https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/cloud-consolidation-disabling-hybrid. Can it be attached to this article?

[2020-05-20 21:32] M365-DenzilFernandes commented on #4730
I havent yet deployed this. We went down the desktop-json file route

[2020-05-20 21:35] JorgeALeitao opened #4957 "Presenters and organizers"
When describing Presenters and Organizer roles this articles states:
....
"Presenters from other organizations (Live Events restriction) - this includes anonymous and external participants"

This statement is not clear and contradicts - https://docs.microsoft.com/en-us/MicrosoftTeams/teams-live-events/plan-for-teams-live-events - that states
Non-authenticated anonymous users can't be invited as pr

[2020-05-20 21:36] TokyoScarab commented on #4726
@jolleymd  Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:39] TokyoScarab commented on #4699
@jdmartinez36  Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:41] TokyoScarab commented on #4575
@rachoksh  Thanks for raising this issue! I will be looking into it and updating the page accordingly!

[2020-05-20 21:45] TokyoScarab commented on #4815
Hi @JoseLampreia  Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:45] TokyoScarab commented on #4817
Hi @RomanNG   Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:45] TokyoScarab commented on #4597
Hi @pamelamontes01  Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:48] TokyoScarab commented on #4140
Hi @neilwithdata  Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:48] TokyoScarab commented on #4302
Hi @Edocsyl  Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:52] TokyoScarab commented on #4657
Hi @rsoakford  Thanks for raising this issue! I will be looking into it!

[2020-05-20 21:53] TokyoScarab commented on #4494
Hi @estiller Thank you for raising this issue. I'll be looking into it!

[2020-05-20 22:50] cloudsafeer commented on #4311
Thanks for the detailed insight,  We have a Hybrid- Exchange 2013 SP1 CU21 and  we are able to create Team meetings from Outlook & Teams client without any issues.  We can see the meetings in each clients as well and the mailboxes are all onpremise.

As Microsoft says only 2016 CU3 is supported, is this undocumented feature, have you seen this scenario before.

it would be good to see your view if

[2020-05-21 02:08] ikukoyoneda opened #4959 "Japanese translation of "Direct Routing" is not correct"
currently "Direct Routing" is translated as "直接ルーティング" in Japanese, but it must be "ダイレクト ルーティング".

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: fb24d873-4507-3a2f-1d0f-a38a305b8ff5
* Version Independent ID: 6a927fb3-5cc9-91de-b9ce-d057156d3523
* Content: [Teams の連絡先センター - Microsoft Teams](https://docs.microsoft.com/ja-jp/MicrosoftTeams/teams-contac

[2020-05-21 03:22] NamuHong opened #4960 "Call count in report"
When a 1:1 call turns into a group call after inviting another user, does this call count as a 1:1 call or a group call in usage report?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2758a3d6-c646-dcb0-2a31-c7b9b84e780b
* Version Independent ID: 8704c9fe-f8b0-82d2-bd83-3fd1a9ad638d
* Content: [Microsoft Teams user act

[2020-05-21 04:12] scanum commented on #4944
@SfBEngineer13 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-05-21 04:12] #4944 closed

[2020-05-21 04:12] scanum commented on #4946
@kcsportal thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-05-21 04:12] #4946 closed

[2020-05-21 04:13] scanum commented on #4948
@thowa1 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-05-21 04:13] #4948 closed

[2020-05-21 04:13] scanum commented on #4959
@ikukoyoneda Thanks for submitting feedback. We are working on this issue.

[2020-05-21 04:13] scanum commented on #4959
@officeglobal Hi! Could you please help with this issue? Thanks!

[2020-05-21 04:14] scanum commented on #4960
@NamuHong thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-21 04:14] #4960 closed

[2020-05-21 04:14] scanum commented on #4947
@Jmartinez589 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-21 04:14] scanum commented on #4949
@danieldhudson Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-21 04:14] scanum commented on #4957
@JorgeALeitao Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-21 09:57] Pawel7471 commented on #4181
I downloaded Windows 10, version 1903 (updated Sept 2019) 64-bit Polish version from VLSC today, run it witch CreateSrsMedia.ps1 script (Polycom MSR  + Surface Pro (2017)), and...

Using SRSv2 kit:       C:\Users\pmaczka\Desktop\TEAMS\SRSDeploymentKit-4.4.41.0.msi
Using driver packs:
    C:\Users\pmaczka\Desktop\TEAMS\SurfacePro_Win10_16299_1806007_3.msi
Using Windows media:   f:
Using language pa

[2020-05-21 10:18] DanStevensonMSFT opened #4961 "please add NAT port preservation under network optimization"
[comment from dansteve@microsoft.com] In the table describing network optimizations, can you please add a note that any firewalls must be sure to persist the address/port assignment for client connections, to avoid dropped calls. This is an occasionally common problem and helpful to document in order to guide admins.

The task title could be "Maintain session persistence" and the detail text could

[2020-05-21 10:30] nicolasVaneberg opened #4962 "Validate step"
I have followed all steps, but the validation part is not ok... I can login into a teams client, but not a Skype for business Client. the Co-existance setting in Teams is set to "Teams Only"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05282aa8-ae14-117b-5885-7d851ee66b89
* Version Independent ID: 85abe13c-d34c-f42c-

[2020-05-21 10:41] Daleyon opened #4963 "Customize Shifts with new request type"
Hello,
As you are aware only Time off, Swap, Offer are the only available request types.
Within settings, I added Overtime as a custom request type reason, but I need the possibility to add as a main request type.
Is it possible or will it be possible to customize Shifts with a new request type?

Use case: internal customer wants to include Overtime requests within the Shifts process.

![image](ht

[2020-05-21 19:02] dariomws commented on #4112
@dstrome could you kindly help with this issue? Thanks!

[2020-05-21 21:22] Air-Git opened #4965 "Basic Conceptual Problem"
There is a basic conceptual problem with teams and channels in an organisation, which these pages do not attempt to answer.
What is a "team"? If members of a team are in another team (e.g. Accounts Payable are in Finance), then what is the "team"?
The illustration works in an organisation of about 100 people. What are the "teams" in an organisation of 100,000 people? Are there a) none, or b) rando

[2020-05-21 21:29] Air-Git opened #4966 "Nice idea"
This sounds like a good idea, but:
a) we can't create templates for our business, and
b) the templates don't exist except for a few cases in Education and Healthcare.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24d884cb-c126-b5dc-ff90-1a31aa61bf5b
* Version Independent ID: ed5054d7-d679-7fad-fd5d-9cd393644b9d
* Cont

[2020-05-21 22:06] TokyoScarab commented on #3602
@LanaChin Any follow up information on this?

[2020-05-21 22:36] ibawwad opened #4967 "Links in page are outdated"
The links in the page for Creating Teams from O365 is outdated and doesn't show the recent Teams application change
The Apply dynamic membership to an existing Team, has nothing to do with Teams at all!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a578ddb-6494-9bda-529e-0156e5ab7c30
* Version Independent ID: 57d519

[2020-05-22 02:35] danmyhre commented on #4909
Hi - no, I am saying the licensing section needs to be re-written.   There is a room system SKU now.  You can't buy SfB Plan 2 or 3 anymore for this purpose.

[2020-05-22 02:49] HandyAndyOnGitHub opened #4969 "Any cordless DECT IP phones certified for Microsoft Teams?"
Any cordless DECT IP phones certified for Microsoft Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaaef9e1-8f1c-ebf0-7856-4c007342a2c3
* Version Independent ID: 3eaf671f-375e-8787-9c66-3947c3606559
* Content: [Phones and Devices for Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/device

[2020-05-22 08:27] makonig opened #4972 "Link to LERR is broken?"
Current Document links to https://www.microsoft.com/about/corporate-responsibility/lerr/ which appears to be a 404.

Link should be to https://www.microsoft.com/en-us/corporate-responsibility/law-enforcement-requests-report

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e34f35bb-7d9c-0c7f-a1a1-6fd9fbe93dfa
* Version In

[2020-05-22 09:26] lindspea commented on #4909
@LanaChin please could you help.

[2020-05-22 10:12] heinrich-ulbricht opened #4973 "Private channel owners not set correctly?"
Looking at `CreateTeamsChannels.ps1` it seems that the private channel owner (as set in _teamsChannels.csv_) is being ignored:

The owner given here:

https://github.com/microsoft/MTC_FLWTeamsScale/blob/40d3d27dc60ba0af0c51e1c331d3979fe457acae/scripts/CreateTeamsChannels.ps1#L96

Should be used with an `-Owner` parameter here, which is currently missing:

https://github.com/microsoft/MTC_FLWTeamsS

[2020-05-22 10:18] lindspea commented on #4838
@scanum this can be closed thank you.

[2020-05-22 12:50] Nasherx opened #4974 "Version Numbers"
It would be useful to see a list of the version numbers with the latest being bold or highlighted similar to what we have for Office versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6da28da-eb7b-d3ae-4c2f-8f87803b1830
* Version Independent ID: 8c42d7a2-80c6-86dd-347a-ed6d8d909c41
* Content: [Teams updates - Mic

[2020-05-22 13:33] OfficeGlobal commented on #4959
Working on a fix

[2020-05-22 14:00] Larryngolog opened #4975 "Customer/confidential data in Media Logs"
Hi! Since the media logs can be inspected only by Microsoft is there any way for the customer to verify if they do not contain any confidential data that cannot be passed to support engineers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d5e6d3-b7e0-d79f-0dea-ed423186a157
* Version Independent ID: ec6e68aa-552f-ab4

[2020-05-22 14:55] CosmeSilva commented on #4858
I read instructions sent by @analugama and on "Screen sharing mode" I don't have the option "ON".
In my case, the value of the field is "Full screen".
Even though, I don't manage to have guest users as presenters.
Clear guidance on how to do that would be greatly appreciated.

[2020-05-22 17:19] cchambers-cap opened #4976 "Typo in the Channel names limit section?"
In the Channel Limits section it lists the following as Illegal Characters:
~ # % & * { } + / \ : &lt; &gt; ? | ' " ..
The last two characters are both periods, should one of those be a comma? Do these limits also apply to Team names?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
*

[2020-05-22 18:19] sevenlas opened #4977 "installer and instructions doesn't work"
The MSI_64 doesn't work.  the reg key is not pointing to the right teams installer folder.
%programfiles% = points to program files but the installer is copied to %programfiles(x86)%

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version Independent ID: 86172986-6cc8-eee5-1309-704

[2020-05-22 18:47] TokyoScarab commented on #4726
@jolleymd At the moment,  copying a team does not carry over private channels within that team. If you want, you can put in a suggestion for this in the UserVoice for Microsoft Teams located [here](https://microsoftteams.uservoice.com/). I will make a note of this in the documentation.

[2020-05-22 19:10] ibawwad commented on #4806
I have seen the same behavior, on the contrary they are hidden from Teams not Outlook

[2020-05-22 19:15] trecee13 commented on #3231
I too have the same error on muliple tenants on mulitple environments, i am installing the correct adal package but i just get get past GET https://api.pstnmonitoring.skype.com/v1/sip-tester/test-suites/14402277-6cf3-4eb8-99a3-8c9387829191 with 0-byte payload
Here are my results, Please if anyone has run this test successfully i would appreciate some more details on how you accomplilshed this?

VE

[2020-05-22 19:22] ibawwad opened #4978 "Ability to add group as attendee while scheduling meetings"
This isn't working in our tenant, I can't search any of the O365 groups either from inside a single team or from the main calendar app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d86301b-ce9c-388c-e563-9e5e5c27132e
* Version Independent ID: 07e4ae23-0966-e8f3-9b7c-4f6c02569eb0
* Content: [Microsoft 365 Groups and M

[2020-05-22 20:10] Botts85 opened #4980 "Peer to Peer versus connection to Microsoft Servers"
The article speaks to peer-to-peer bandwidth requirements, but also speaks to optimizing the connection to Microsoft's servers.

Is there a KBase article on how/when Teams connects peer-to-peer versus through a Microsoft server?  That would help to optimize limited connectivity from sites to Microsoft.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-23 14:56] danmyhre commented on #4910
Yes, but instead of SfBO P2 or P3, I think you should reference the new SKU for a Teams Room:
https://docs.microsoft.com/en-us/MicrosoftTeams/rooms/rooms-licensing

[2020-05-23 19:23] Daleyon commented on #4963
Is my original question not valid to apply here?

[2020-05-24 11:43] DEberhardt opened #4981 "Please clarify requried PhoneSystem licenses (does E5 count?)"
Hello,

do Microsoft E5 or Office 365 E5 licenses count towards a PhoneSystem license?
If so, would they follow the same 1:10 ratio or is it different?
Could you please add a second excaple breaking this down please?

Thanks,
David
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6891495-01c6-117b-c28b-28232782ba74
* Ver

[2020-05-24 12:26] GiantCrocodile commented on #4936
Now I can see the field but the support pin is unknown and a new one can't be generated.

[2020-05-25 05:00] scanum commented on #1861
@SerdarSoysal Hi! Following up on this issue, wondering if there are any updates. Thanks!

[2020-05-25 05:00] scanum commented on #1886
@rjagiewich Hi Rebecca, wondering if there is an update on this issue?

[2020-05-25 05:00] scanum commented on #3101
@gayatri any update on this?

[2020-05-25 05:01] scanum commented on #3562
@CarolynRowe Hope everything is going well. @TokyoScarab has provided the images.

[2020-05-25 05:02] scanum commented on #3590
@kenwith Hi! Wondering if there are any updates on this issue? Thanks.

[2020-05-25 05:02] scanum commented on #3602
@LanaChin Any follow up information on this?

[2020-05-25 05:02] scanum commented on #3612
@MikePlumleyMSFT Hi Mike, wondering if there are any updates on this issue? Thanks.

[2020-05-25 05:02] scanum commented on #3647
@CarolynRowe Any update on this issue? Thanks!

[2020-05-25 05:02] scanum commented on #3693
@LanaChin Any update on this issue? Thanks

[2020-05-25 05:03] scanum commented on #3810
@rjagiewich Could you please help with this issue in finding the right person to direct this to? Thanks!

[2020-05-25 05:03] scanum commented on #3851
@MicrosoftHeidi Hi! Wondering if there is an update on this issue? Thanks.

[2020-05-25 05:03] scanum commented on #3867
@MicrosoftHeidi Any update on this issue? Thanks.

[2020-05-25 05:03] scanum commented on #3884
@LanaChin any update yet?

[2020-05-25 05:03] scanum commented on #3951
@LanaChin any update yet?

[2020-05-25 05:05] supersankary commented on #4181
Normal Windows 10v1903 or Enterprise Version?

[2020-05-25 05:15] scanum commented on #4033
@Giraffaman thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-25 05:15] #4033 closed

[2020-05-25 05:16] scanum commented on #4037
@blyakhmanv A better place to request this change to Teams functionality is Teams UserVoice:
https://microsoftteams.uservoice.com/

The Teams product group monitors issues logged in UserVoice. Requests that get high votes are weighted heavily in prioritization for upcoming feature work.

[2020-05-25 05:16] #4037 closed

[2020-05-25 05:16] scanum commented on #4121
@MySkypeLab Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:16] #4121 closed

[2020-05-25 05:17] scanum commented on #4304
@Cogur We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:17] #4304 closed

[2020-05-25 05:17] scanum commented on #4308
@xponentia Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:17] #4308 closed

[2020-05-25 05:18] scanum commented on #4321
@LolaJacobsen Hi Lola, any updates here? Thanks!

[2020-05-25 05:21] scanum commented on #4332
@mgcharumilind Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:21] #4332 closed

[2020-05-25 05:21] scanum commented on #4338
@bartvermeersch Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:21] #4338 closed

[2020-05-25 05:22] scanum commented on #4342
@vieiradiego  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:22] #4342 closed

[2020-05-25 05:22] scanum commented on #4372
@CarolynRowe Wondering if there are any updates on the issue? Thanks.

[2020-05-25 05:22] scanum commented on #4397
@MIBadran Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:22] #4397 closed

[2020-05-25 05:22] scanum commented on #4481
@mcantin Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:22] #4481 closed

[2020-05-25 05:22] scanum commented on #4485
@OfficeGlobal - Any updates on this issue? Thanks!

[2020-05-25 05:22] scanum commented on #4489
@OfficeGlobal Could you please help with this issue? thanks!

[2020-05-25 05:22] scanum commented on #4490
@OfficeGlobal Could you please help with this issue? thanks!

[2020-05-25 05:23] scanum commented on #4510
@BTaino Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:23] #4510 closed

[2020-05-25 05:23] scanum commented on #4525
@OfficeGlobal Can you please help with this? Thanks!

[2020-05-25 05:23] scanum commented on #4540
@OfficeGlobal Any update here? Thanks!

[2020-05-25 05:23] scanum commented on #4542
@OfficeGlobal Could you please help with this issue? Thanks!

[2020-05-25 05:24] scanum commented on #4559
@OfficeGlobal Any updates here? Thanks!

[2020-05-25 05:24] scanum commented on #4560
@OfficeGlobal Any updates here? Thanks!

[2020-05-25 05:24] scanum commented on #4569
@rjagiewich @ruizoscar @tiburd Any update here? Thanks!

[2020-05-25 05:25] scanum commented on #4626
@dinocaputo Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:25] #4626 closed

[2020-05-25 05:25] scanum commented on #4651
@OfficeGlobal Hi! Could you please help with this issue? Thanks

[2020-05-25 05:26] scanum commented on #4670
@Jmartinez589 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:26] #4670 closed

[2020-05-25 05:26] scanum commented on #4688
@henningw We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:26] #4688 closed

[2020-05-25 05:27] scanum commented on #4697
@LolaJacobsen Hi Lola, wondering if you could guide us on the right direction to contact someone from the download center? Thanks.

[2020-05-25 05:28] scanum commented on #4743
@tomdewing Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:28] #4743 closed

[2020-05-25 05:30] scanum commented on #4767
@officedocspr Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:30] #4767 closed

[2020-05-25 05:31] scanum commented on #4778
@officedocspr We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:31] #4778 closed

[2020-05-25 05:31] scanum commented on #4783
@Larryngolog Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:31] #4783 closed

[2020-05-25 05:31] scanum commented on #4789
@savusca Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:31] #4789 closed

[2020-05-25 05:33] scanum commented on #4831
@Jmartinez589 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:33] #4831 closed

[2020-05-25 05:33] scanum commented on #4833
@officedocspr   We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:33] #4833 closed

[2020-05-25 05:33] scanum commented on #4838
@embj
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:33] #4838 closed

[2020-05-25 05:33] scanum commented on #4847
@HenrikDamslund We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:33] #4847 closed

[2020-05-25 05:34] scanum commented on #4878
@Plymothian We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:34] #4878 closed

[2020-05-25 05:35] scanum commented on #4879
@gabsto-ms Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:35] #4879 closed

[2020-05-25 05:35] scanum commented on #4886
@skywalkerisnull Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:35] #4886 closed

[2020-05-25 05:35] scanum commented on #4891
@3vi1 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-05-25 05:35] #4891 closed

[2020-05-25 05:37] scanum commented on #4962
@nicolasVaneberg thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-05-25 05:37] #4962 closed

[2020-05-25 05:37] scanum commented on #4963
@Daleyon thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:37] #4963 closed

[2020-05-25 05:38] scanum commented on #4965
@Air-Git thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:38] #4965 closed

[2020-05-25 05:38] scanum commented on #4966
@Air-Git thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:38] #4966 closed

[2020-05-25 05:38] scanum commented on #4969
@HandyAndyOnGitHub thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Pleas

[2020-05-25 05:38] #4969 closed

[2020-05-25 05:38] scanum commented on #4974
@Nasherx thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:38] #4974 closed

[2020-05-25 05:38] scanum commented on #4975
@Larryngolog thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-25 05:38] #4975 closed

[2020-05-25 05:38] scanum commented on #4977
@sevenlas thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:38] #4977 closed

[2020-05-25 05:38] scanum commented on #4978
@ibawwad thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:38] #4978 closed

[2020-05-25 05:39] scanum commented on #4980
@Botts85 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-05-25 05:39] #4980 closed

[2020-05-25 05:39] scanum commented on #4961
@DanStevensonMSFT Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:39] scanum commented on #4967
@ibawwad Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:39] scanum commented on #4972
@makonig Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:39] scanum commented on #4973
@bratsche Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:39] scanum commented on #4976
@bratsche Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 05:40] scanum commented on #4981
@bratsche Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-25 06:27] ivanja81 commented on #4833
Hi Manuela,

I think something went wrong. I never got an mail around this.

What was the question?

Ivan

From: Manuela Scanu <notifications@github.com>
Sent: Monday, May 25, 2020 7:34
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Ivan Jankovic (TEAMS SKYPE) <ivanja@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2020-05-25 09:24] lindspea commented on #4858
@deevincentday please let me know if this article helps at all. I see it's been updated recently. https://docs.microsoft.com/microsoftteams/manage-external-access. Please also note the info in this article - "Non-authenticated anonymous users can't be invited as producers or presenters in Teams live events." Let me know if you need anything further.

[2020-05-25 09:50] lindspea commented on #4910
@danmyhre I have updated the wording. I see your suggested link is showing in step 5 under "Assign a license to your account".

[2020-05-25 10:31] lindspea commented on #4873
@LanaChin please could you assist with the screenshot and I'll have the PR done.

[2020-05-25 10:37] virginij commented on #4542
What do you mean ? Tell me if my initial request is not clear ?

[2020-05-25 10:59] Nasherx commented on #4974
@scanum I don't have a service issue. It would just be beneficial to see something similar to this for Teams: [](https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date)

[2020-05-25 18:45] deevincentday commented on #4858
Not really.  I do not have admin access to add domains to teams or active directory.  I simply want to federate individuals who will have email addresses on various domains like Gmail, Hotmail, outlook and others.

I need to set up speaking events featuring different speakers each month.

Regards

Dee

Sent from my Windows 10 device

From: Lindsay<mailto:notifications@github.com>
Sent: 25 May 2020

[2020-05-25 22:45] paulypoteat opened #4983 "Can the documentation be updated to address Alphanumeric outbound caller ID"
Outbound caller ID being labeled with Alphanumeric for the tenant.  Either if it's possible, or not, it's not mentioned either way.

[2020-05-25 23:57] DCri opened #4984 "Enabling Shared mode"
The option to choose between Shared and Personal mode is not displayed when signing in to Teams on a certified IP phone (in this case Polycom Trio s/w version 5.9.3.7982 Teams 1499/1.0.94.2020020601).  Now required to be configured in IP Phone Policy: https://knowledgebase-iframe.polycom.com/kb/viewContent.do?externalId=39722

Article from Polycom implies it is a change dependent on their software

[2020-05-26 05:43] scanum commented on #4983
@paulypoteat Thanks for submitting feedback on the documentation. Could you please link the issue you are referring to? Thanks!

[2020-05-26 05:43] scanum commented on #4984
@DCri thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-05-26 05:43] #4984 closed

[2020-05-26 10:44] Lewis-Barry opened #4985 "Creating an Org-Wide team as an unlicensed Global Admin"
Many orgs don't have licenses on their Global Admin accounts, so it would be good to manage the creation of these in this situation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf
* Content: [Create an org-wide team in M

[2020-05-26 11:26] livaht commented on #3231
Hello @trecee13,

thank you for notifying. We have checked the logs for request https://api.pstnmonitoring.skype.com/v1/sip-tester/test-suites/14402277-6cf3-4eb8-99a3-8c9387829191
_AADSTS50126: Error validating credentials due to invalid username or password._

Can you please double check the test user credentials and let us know if that helped?
We are improving the error message displayed, so thi

[2020-05-26 11:40] lindspea commented on #4858
@deevincentday as far as I understand only people with admin access can do this. @LanaChin please could you assist?

[2020-05-26 13:48] DEberhardt opened #4987 "Conference Mode"
Hello,
the cmdlet has a parameter ConferenceMode which is described there rather cryptically:
_"The ConferenceMode parameter indicates whether or not Conference mode will be applied on calls for this Call queue. Conference mode significantly reduces the amount of time it takes for a caller to be connected to an agent, after the agent accepts the call."_

What exactly is this parmeter doing and sho

[2020-05-26 14:12] LanaChin commented on #4866
Reassigning to @dstrome

[2020-05-26 14:15] LanaChin commented on #4790
Reassigning to @dstrome as this is a Microsoft Teams Rooms article.

[2020-05-26 14:16] LanaChin commented on #4909
Reassigning to @dstrome as this is a Microsoft Teams Rooms article.

[2020-05-26 14:31] ivanja81 opened #4988 "Include MS Teams"
Include that this access policy is also applicable for MS Teams on user level native federation. It's unclear now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID: 1e4d6b87-f57c-fa45-1630-3c32b821d93c
* Content: [Manage external access (federation) - Microsof

[2020-05-26 15:13] jokruege opened #4989 "Bus Voice not available for Apps for Bus or Apps for Ent"
This pages states that you can add M365 Bus Voice to Apps for Business or Apps for Enterprise,but i do not believe that to be correct.

On the Service Description page of M365 Bus Voice those 2 licenses are not listed as compatible plans. https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-business-voice-service-description

Thank you

---
#### Document Details

⚠ *Do not

[2020-05-26 15:48] Petri-X commented on #4866
@flinchbot I was actually looking for this from different angle. It should not be so common action that we should send the XML files to the devices weekly based. So most likely the files start to be some steps behind. But when I do, I would like to easily to see if there are some new parameters to be added into it.

[2020-05-26 20:00] StainlessSteele opened #4992 "Data collection practices - can we control them for Teams?"
Teams/data-collection-practices.md - It mentions Teams, but really just talks about controlling them for Skype for Business on-premises. Are there controls for Teams?

[2020-05-26 21:43] tonysmit commented on #4876
Checking back. Getting in touch with another PM/dev. I need to add a list of those countries that require 100 minutes for toll free. Please hold again.

[2020-05-26 21:44] tonysmit commented on #4608
@nomorephones - Can you assist here please?

[2020-05-26 21:45] tonysmit commented on #4511
@fafan - can you assist here please?

[2020-05-26 22:04] nomorephones commented on #4608
Great question.  @williamlooney would need to provide commentary here, as this is really a question around the manner in which the data is being handled.  I don't think that we're using the external IP address (similar to what's configured for dynamic emergency calling support) but there can be other ways this is managed internally.

[2020-05-26 22:30] williamlooney commented on #4608
@nomorephones - The comment above is correct. The network address is based on the local/internal IP address. There is an issue if a customer's subnets overlap a home users, or if they are using multiple overlapping subnets within their enterprise. The right solution would to also use their external IP address to disambiguate the overlaps

[2020-05-26 22:57] paulypoteat commented on #4983
https://docs.microsoft.com/en-us/microsoftteams/set-the-caller-id-for-a-user

I was hoping the article could mention alphanumeric Outbound caller ID (not just numeric outbound caller ID).  Either that it's possible, or even if it's not.

[2020-05-27 02:33] LouisLouis3 opened #4993 "Known Issues"
It is very confusing that you have an incomplete list of known issues in the middle of the page (pasted below).  And then have another list of more complete known issues in the known issues section at the very bottom of the article.  This section pasted below needs to be removed from the middle of the article and added to the rest of the known issues list at the bottom.  You can reference the full

[2020-05-27 02:51] scanum commented on #4985
@Lewis-Barry

thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-05-27 02:51] #4985 closed

[2020-05-27 02:51] scanum commented on #4987
@DEberhardt thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-27 02:51] #4987 closed

[2020-05-27 02:51] scanum commented on #4992
@StainlessSteele thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please

[2020-05-27 02:51] #4992 closed

[2020-05-27 02:52] scanum commented on #4988
@officedocspr  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-27 02:52] scanum commented on #4989
@jokruege  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-27 02:52] scanum commented on #4993
@LouisLouis3  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-27 09:13] DEberhardt commented on #4987
Hello,
this is not an issue currently. If it were, I would have gone through the ticket already :)
All I want is to understand what ConferenceMode exactly does to best advise my customers whether they should or should not use it.
It is documented in New-CsCallQueue (https://docs.microsoft.com/en-us/powershell/module/skype/new-cscallqueue?view=skype-ps) but not here...

[2020-05-27 10:26] JelmerBarhorst opened #4995 "O/M365 F3"
[Voer hier feedback in]
Office 365 and M365 **F3** are not listed, while Office 365 F1 is. Please update

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 35057f71-792b-a4e2-a2ee-a4908c11f3a4
* Version Independent ID: 7e23f067-1dcd-16f0-3f9a-ff8d13c1f659
* Content: [What is Microsoft 365 Business Voice? -

[2020-05-27 11:38] tomko80 opened #4996 "Definition of authenticated user"
Is "having O365 license" and "authenticated" user as mentioned in this article the same as "signed in" user mentioned in the live event create dialog? E.g. for org-wide restricted live events it says "sign-in required".

Would be nice if the terminology was consistent as these things are tricky to test.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-27 12:12] MSTejas opened #4997 "Want to use PowerShell section should talk about the particular powershell command using which we can set phone number"
Want to use PowerShell section should talk about the particular powershell command using which we can set phone number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76dc173c-0c98-1b94-a2f7-0a34781c985a
* Version Independent ID: a1c44ccb-67f3-f98e-6569-f938e88ddc63
* Content: [Set the phone numbers included on invites

[2020-05-27 14:11] lindspea commented on #4988
@ivanja81 thank you for reaching out. Please can you clarify what you are asking to have changed in the article so I can assist further.

[2020-05-27 14:13] ivanja81 commented on #4988
Microsoft Teams needs to be added to applies to field.

[2020-05-27 14:14] lindspea commented on #4989
@dstrome please can you confirm which article is correct regarding business voice.

[2020-05-27 14:30] lindspea commented on #4973
@heinrich-ulbricht thank you for reaching out and helping improve MS Docs. I work on the editing/writing side of MS Docs. Please could you clarify what needs to be changed in this article?

[2020-05-27 14:33] MikePlumleyMSFT commented on #3612
@JohanssonMarkus updated poster is now live.

[2020-05-27 14:50] GiantCrocodile commented on #4936
According to support engineer in service request 20209024:

- the tenant has to have direct paid licenses (not CSP-only or free licenses)
- the support pin is for emergencies like calling Microsoft to reset access to a Global Admin account
- the support pin is NOT relevant/used for regular cases at Microsoft's phone hotline or service requests and it isn't mandatory
- if you don't have a support p

[2020-05-27 15:00] heinrich-ulbricht commented on #4973
The article actually is fine but the PowerShell the article is referring to needs to be fixed.
This link points to the PowerShell that needs fixing:
![image](https://user-images.githubusercontent.com/3469970/83036875-679bcd80-a03b-11ea-92cc-3dd7cf7b7d55.png)

Those scripts fail to set the private channel owner correctly.

[2020-05-27 16:21] stevenciu opened #4998 "Private Channel Membership Limit"
Would be good to add that private channels can have a maximum of 250 members.
Source: https://docs.microsoft.com/en-us/MicrosoftTeams/private-channels

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and

[2020-05-27 17:13] fafan commented on #4511
Hi @tonysmit, this is most likely a DTMF issue. You probably need to file a ticket to get help from Service Desk.

[2020-05-27 22:28] techlearner9 opened #5003 "Filter for Audio conferencing doesn't work."
[Enter feedback here]
It will only show first user with Audio conferencing enabled. The sort feature doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63999e48-1168-b6c6-cba2-d722e3d7a0da
* Version Independent ID: 4e34b210-1f46-c136-1238-7a3218c6d90b
* Content: [See a list of users enabled for Audio Conferen

[2020-05-28 00:29] jeffmparker opened #5005 "Error in admin url"
Hi, where it says:
"Using the Microsoft Teams admin center
"Go to the admin center at https://admin.microsoft.com."
The URL should be https://admin.teams.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470478ed-3b4e-ced8-0e28-6cda545b8400
* Version Independent ID: 95b4044b-3a47-a511-c726-b5ee75863441
* Con

[2020-05-28 00:35] jeffmparker opened #5006 "Hang-up anonymous guests"
Can the meeting owner force a guest user to be removed from a meeting, e.g. in the situation where an unwanted person joins by clicking on the meeting invitation? This should be documented.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470478ed-3b4e-ced8-0e28-6cda545b8400
* Version Independent ID: 95b4044b-3a47-a511-c7

[2020-05-28 00:40] jeffmparker opened #5007 "Still confusion about guest vs external vs anonymous"
It is still very confusing about how these various settings interact with each other. In my tenant, I have external and guest access enabled, and anonymous disabled. That should be all ok, as I want to be able to identify meeting participants. But I still have some guest invitees unable to join meetings, and I'm unsure if that is due to some issue with their account and/or having anonymous access

[2020-05-28 05:33] scanum commented on #4997
@officedocspr thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-05-28 05:33] #4997 closed

[2020-05-28 05:33] scanum commented on #5003
@techlearner9 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-05-28 05:33] #5003 closed

[2020-05-28 05:34] scanum commented on #5006
@jeffmparker thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-05-28 05:34] #5006 closed

[2020-05-28 05:34] scanum commented on #4995
@JelmerBarhorst Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-28 05:34] scanum commented on #4996
@tomko80 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-28 05:34] scanum commented on #4998
@stevenciu Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-28 05:34] scanum commented on #5005
@jeffmparker Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-28 05:34] scanum commented on #5007
@jeffmparker Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-05-28 05:48] jeffmparker commented on #5006
Hi, I'm not experiencing this problem in my tenant, so no need to raise a ticket. I raised it because it might be a consequence of enabling anonymous guest access (someone joins who shouldn't be there) and this management function should be available.

[2020-05-28 06:42] JohanssonMarkus commented on #3612
@MikePlumleyMSFT  awesome thanks

[2020-05-28 06:42] #3612 closed

[2020-05-28 09:59] lindspea commented on #4973
@MicrosoftHeidi please could you assist?

[2020-05-28 10:07] lindspea commented on #4988
@ivanja81 Thank you, but I think this article covers that information already, or am I missing something? Which part of this article are you suggesting updating?

[2020-05-28 10:48] ivanja81 commented on #4988
Set-CsExternalAccessPolicy
Module:
skype
Applies to:
**Lync Server 2010, Lync Server 2013, Skype for Business Online, Skype for Business Server 2015, Skype for Business Server 2019**

It's confusing for customer if they want to know if this also works on Teams.

[2020-05-28 10:57] lindspea commented on #4988
@ivanja81 thank you. Sorry for the confusion but the article in question where you opened the issue is "Manage external access (federation) - Microsoft Teams" and it already mentions that it applies to Microsoft Teams, so I'm a bit confused about what you're asking to have changed in this article and where?  Are you referring to this specific article or are you perhaps suggesting another article -

[2020-05-28 11:11] lindspea commented on #4983
@paulypoteat thank you for reaching out and helping improve MS Docs. I've done some research and found the following:  From a web browser on another device or computer go to https://microsoft.com/devicelogin and then enter the alphanumeric code displayed in the Enter Code field and then click Next. (the code is not case-sensitive.)  If the Pick an account window appears and the desired account app

[2020-05-28 11:19] lindspea commented on #4981
@DEberhardt thank you for reaching out. The article mentions this in a note - "Phone System is an add-on license available with Microsoft 365 and Office 365 E1 and E3. Phone System is also included as part of Microsoft 365 E5, Office 365 E5, and Microsoft 365 Business Voice licenses." Let me know if you need further assistance.

[2020-05-28 11:29] ivanja81 commented on #4988
Ah yes, sorry aboutt hat. I just noticed that. Not sure.

[2020-05-28 11:41] DEberhardt commented on #4981
Hello,
thank you for clarifying this. I still have to read between the lines on the ratio though, which means it could be worded more clearly :)
This is the reason why I was asking for an example mentioning a mixture of add-on and included licenses to better understand this.

[2020-05-28 12:18] lcansby opened #5009 "Wrong information"
Most of the information in this document is wrong, you don't have chat for viewers/participants in a Live Event. I think this document have only been copied from Teams meetings and not changed to reflect Live Events.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb468480-f733-9ee9-6ff8-cd45e2861869
* Version Independe

[2020-05-28 13:50] MSTejas commented on #4997
Not sure what you mean by opening case from my tenant?

Thank you,
Tejas Haria

From: Manuela Scanu <notifications@github.com>
Sent: May 28, 2020 11:04 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Tejas Haria (TEJAH) <Tejas.Haria@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-SkypeForBusiness] Want

[2020-05-28 15:14] StuBeck32 opened #5010 "Assigning number needs a better example"
I've been trying to setup a resource account for our autoattendent, and have run into a number of issues. The current biggest one is that the example given for assigning a number isn't very complete. It blurs out the number, so we don't see the formatting necessary, and documentation doesn't indicate the form required either.

There also appears to be a timeframe where you can't assign a number no

[2020-05-28 16:09] joeljanke opened #5011 "Microsoft Teams Update Process"
This page does not cover at all how features are released.   We have a single tenant...all MS Teams clients running the exact same version and yet individuals within our tenant have different features exposed at the same time.   Some have the popout window feature, some do not.  Some have custom backgrounds, some do not.  Some have the raise hand feature, some do not.

We have no means as an organ

[2020-05-28 18:49] StuBeck32 opened #5012 "Include cmdlets directly on this page for Teams/SkypeForBuiness module install"
Commands for installing Microsoft Teams and Skype for Business cmdlets should be on this page. They don't need to have a separate page to get to this. It took me 4 pages to get the right cmdlet necessary to install the Teams cmdlets, which is a bit ridiculous.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26362d70-cfce

[2020-05-28 23:32] get-itips commented on #5007
Hello @jeffmparker How are you?

As I do not know the error exactly faced by your guests users to join to try to reproduce and see if we have a documentation issue:

You can find troubleshooting guest access information [here](https://docs.microsoft.com/en-us/microsoftteams/troubleshoot-guest-access)

And probably you already started [here](https://docs.microsoft.com/en-us/microsoftteams/guest-acc

[2020-05-29 05:25] NWH-SAmin5 opened #5013 "Is there a Report functionality of call/chats to external domain?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID: 1e4d6b87-f57c-fa45-1630-3c32b821d93c
* Content: [Manage external access (federation) - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/manage-external-access)
* Content So

[2020-05-29 08:06] solarmon commented on #2954
@hsbsandrecv

I agree with @donlassini - I think steps 5, 6 and 7 and onwards should be for 'Customer Tenant', since you have the steps for 'Carrrier Tenant' in 1 to 4?

[2020-05-29 08:52] vidarak opened #5014 "Do you support Sectigo's CA (Comodo has been rebranded to Sectigo)"
Do you support Sectigo's CA (Comodo has been rebranded to Sectigo)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e26faf8c-529e-b317-5934-cd41cfe8fa24
* Version Independent ID: 3ddd5d0a-6dbb-4940-1814-8346e293701b
* Content: [Plan Direct Routing - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/direct-

[2020-05-29 10:03] SergGu opened #5015 "Update current low-res picture with better"
Hello Microsoft Team,

The first picture on the page is hard to read. This is the picture just under
https://docs.microsoft.com/en-us/microsoftteams/microsoft-teams-online-call-flows#teams-topology

Would it be possible to replace with better quality? All other pictures are fine.

Best regards,
Serg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-05-29 11:53] dariomws commented on #2954
Hi @donlassini and @solarmon, I cannot find the section you are talking. Could you please copy and paste it?

[2020-05-29 14:02] JorgeALeitao opened #5017 "Misleading reference"
[Enter feedback here]

Under the Web Client section the footnote 1 states:
..... This is due to a technical limitation that we're planning to fix. To learn more, read https://docs.microsoft.com/en-us/microsoftteams/meeting-policies-in-teams#allow-a-participant-to-give-or-request-control.

This is misleading as the article referred actually describes the Give and Request Control settings under Meet

[2020-05-29 14:31] LanaChin commented on #4545
Thank you @quentinhurdazure! Closing this issue.

[2020-05-29 14:31] #4545 closed

[2020-05-29 17:05] aamillerMSFT opened #5020 "Where is WVD?"
[Enter feedback here]
This doc only talks about Citrix.  Teams is supported on Windows Virtual Desktop as well.  Please add a reference to this fact and documentation found here: [https://docs.microsoft.com/en-us/azure/virtual-desktop/teams-on-wvd](https://docs.microsoft.com/en-us/azure/virtual-desktop/teams-on-wvd)

Alternatively, you could rebrand this doc to "Teams for Citrix", and make separat

[2020-05-29 17:28] bahnjee opened #5021 ""Allow" not "Block""
In the following note, it says that **Block** rules will be created.  However, the Powershell script lower down the page creates **Allow** rules.

_Windows Firewall configuration will be altered even when the prompt is dismissed by selecting “Cancel”. Two inbound rules for teams.exe will be created with Block action for both TCP and UDP protocols._

---
#### Document Details

⚠ *Do not edit this s

[2020-05-29 18:37] tonysmit commented on #4001
@ashwinma14 - this is the item that I pinged you about that we need your help on. Thanks!

[2020-05-29 18:46] tonysmit commented on #4900
@fafan - can you assist here please? Thanks, Tony

[2020-05-29 19:04] tonysmit commented on #4876
Checking back in. Still waiting on the PM. According to the first PM, they don't have a list and it was specific to a carrier. However, the next PM is working on creating a list. I will update the topic (I have other updates to do as well) and put a note on the parent article saying that some countries require a TF minimum. Then add a row for each country/region that will require this once I get t

[2020-05-29 19:10] pschneidermsft commented on #4876
Yes, I think that would work!

Patrick Schneider | Microsoft | Enterprise Search Group | Escalation Engineer | d: +47 2301 1339 | http://www.microsoft.com/enterprisesearch<https://emea.mail.microsoft.com/owa/redir.aspx?C=4085a32bcb274c738ef3359503168033&URL=http%3a%2f%2fwww.microsoft.com%2fenterprisesearch>
________________________________
From: Tony Smith (MSFT) <notifications@github.com>
Sent: F

[2020-05-30 12:32] greiginsydney opened #5022 ""Set Business hours" image & text is out of date"
Under "Call flow for after hours", the "set business hours" image and its descriptive text is out of date.

The default is 24x7, with all days starting and ending at 12am. (I see in the code that someone's already made note of this, but it's commented-out.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a42f9e2c-aeee-7

[2020-05-30 14:37] NickStillings opened #5023 "Incorrect PSTN Information"
This page has inaccurate information that's currently a huge customer sat issue for Live Events - the table implies that attendees can attend a Teams Live Event via dial-in.  Not possible, as it's streamed over Azure Media Services.  A **Presenter** can dial in, but not an attendee. Row 3 in the graphic needs edited ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-05-30 16:02] stormlights commented on #4713
Still an issue.  were up to 1.3.0.12508 while the link on this page is outdated

[2020-05-30 19:04] get-itips commented on #5005
Thanks for reporting @jeffmparker

[2020-05-30 19:13] get-itips commented on #4998
Thanks for your feedback @stevenciu Steven
I am proposing adding that information thru a pull request.

[2020-05-30 19:18] get-itips commented on #4996
@LanaChin Lana, how are you? Can you kindly help us here ? I appreciate.

[2020-05-30 19:30] get-itips commented on #4995
@LanaChin Hello Lana, Can you kindly confirm if we have to add _Office 365 F3_ as this article states? https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-business-voice-service-description
Thank you

[2020-05-30 22:24] Ranger-Z opened #5026 "Factors which influence presence"
The document discusses how to set status and meaning of these it does not discuss the factors which may influence status.  Specifically I am suffering from always available status even when the lid of my laptop is closed.  I also have Teams installed on IOS (phone) but generally not "ON".

I am of the opinion that there are items like sleep on the PC and background processing on the IOS that is le

[2020-06-01 02:47] scanum commented on #5009
@lcansby  Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-06-01 02:50] scanum commented on #5017
@JorgeALeitao  Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-06-01 02:50] scanum commented on #5020
@aamillerMSFT  Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-06-01 02:51] scanum commented on #5021
@bahnjee  Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-06-01 02:53] scanum commented on #5022
@greiginsydney  Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-06-01 02:53] scanum commented on #5023
@NickStillings  Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-06-01 02:54] scanum commented on #5026
@Ranger-Z thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-01 02:54] #5026 closed

[2020-06-01 03:00] scanum commented on #5014
@vidarak thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-01 03:00] #5014 closed

[2020-06-01 03:00] scanum commented on #5013
@NWH-SAmin5 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-01 03:00] #5013 closed

[2020-06-01 03:00] scanum commented on #5012
@StuBeck32 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-06-01 03:00] #5012 closed

[2020-06-01 03:01] scanum commented on #5010
@StuBeck32 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-06-01 03:01] #5010 closed

[2020-06-01 03:01] scanum commented on #5011
@joeljanke  Thank you for submitting feedback and contributing to the docs. We are currently investigating this

[2020-06-01 03:03] scanum commented on #5015
@SergGu Thank you for the feedback. We have reviewed the image and we might update in the future.

[2020-06-01 03:03] #5015 closed

[2020-06-01 03:04] scanum commented on #1861
@SerdarSoysal Hi! Following up on this issue, wondering if there are any updates. Thanks!

[2020-06-01 03:07] scanum commented on #3590
@kenwith Hi! Wondering if there are any updates on this issue? Thanks.

[2020-06-01 03:07] scanum commented on #3602
@LanaChin Any follow up information on this?

[2020-06-01 03:07] scanum commented on #3647
@CarolynRowe Any update on this issue? Thanks!

[2020-06-01 03:12] scanum commented on #4485
@OfficeGlobal - Any updates on this issue? Thanks!

[2020-06-01 03:12] scanum commented on #4489
@OfficeGlobal Could you please help with this issue? thanks!

[2020-06-01 03:12] scanum commented on #4490
@OfficeGlobal Could you please help with this issue? thanks!

[2020-06-01 03:14] scanum commented on #4525
@OfficeGlobal Can you please help with this? Thanks!

[2020-06-01 03:14] scanum commented on #4540
@OfficeGlobal Can you please help with this? Thanks!

[2020-06-01 03:14] scanum commented on #4542
Your request is clear - I am referencing this issue to someone that can help. Thanks.

[2020-06-01 03:14] scanum commented on #4559
@OfficeGlobal Any updates here? Thanks!

[2020-06-01 03:14] scanum commented on #4560
@OfficeGlobal Any updates here? Thanks!

[2020-06-01 03:15] scanum commented on #4575
@rachoksh Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 03:15] #4575 closed

[2020-06-01 03:15] scanum commented on #4606
@Tricia911 Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 03:15] #4606 closed

[2020-06-01 03:16] scanum commented on #4608
@danmyhre Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 03:16] #4608 closed

[2020-06-01 03:16] scanum commented on #4651
@OfficeGlobal Hi! Could you please help with this issue? Thanks

[2020-06-01 03:48] scanum commented on #5007
@jeffmparker Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-01 03:48] #5007 closed

[2020-06-01 06:00] dipinn26592 opened #5027 "Dialout and Adding participants working through Direct Routing SBC"
[Enter feedback here]

"When dialing out, the Microsoft Audio Conferencing service places the call using online calling capabilities, which requires proper licensing. (Note that dialing out does not route through Direct Routing.) For more information, see Online Meetings with Teams."

"Important : In the case that you would like to add external participants to scheduled meetings, either by dialing

[2020-06-01 07:39] solarmon commented on #2954
@dariomws

We are talking about the steps listed in the last post by @hsbsandrecv - https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/2954#issuecomment-547672717

[2020-06-01 09:31] lindspea commented on #4824
@calmco @jonwbstr thank you for reaching out and helping improve MS Docs. This doc set is being updated, but in the meantime here is a link that might be helpful. I can have it added to this article if you think it will be helpful to other users - https://docs.microsoft.com/stream/license-overview. Please let me know.

[2020-06-01 09:37] TheBaban opened #5028 "Do we support using per-user deployment on non-persistent VDI with FSLOGIX ?"
[Do we support using per-user deployment on non-persistent VDI with FSLOGIX ?
Customer still want to have automatic update and since TEAMS is installed in the user Profile, FSLOGIX will persist TEAMS installation on non-persistent VDI. But we need a clear statement if it work and be a supported scenario]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-01 09:38] lindspea commented on #4905
@Michal-Witwicki thank you for reaching out and helping improve MS Docs. It looks like the article was updated shortly after your message with some important notes. Please have a look and let me know.

[2020-06-01 10:45] Reeced40 commented on #4774
@dstrome Please assist.

[2020-06-01 12:44] danmyhre commented on #4608
The comments above should be incorporated into the content

[2020-06-01 12:56] jonwbstr commented on #4824
Nope, it also doesn't mention business basic. Good article otherwise ;)

On Mon, Jun 1, 2020, 5:31 AM Lindsay <notifications@github.com> wrote:

[2020-06-01 13:02] dariomws commented on #2954
Thanks @solarmon. I think step 2 is right, if you miss this step you will get an error. You must create a user and assign a license for the final activation of the base domain. It´s documented here:
https://docs.microsoft.com/MicrosoftTeams/direct-routing-sbc-multiple-tenants#activate-the-domain-name

[2020-06-01 14:25] Larryngolog opened #5030 "SPO settings for guest access in Teams"
Hi! Article mentions that SPO sharing needs to be set to "Everyone" or "New and existing guest". Can this also be "Existing guests only"? Since when user invites guest to Teams this will cause adding the external user to AAD as guest and to M365 group, so SPO will not need ability to add new guests from SPO interface. Is my thinking correct and any of the 3 settings will be sufficient?

---
#### D

[2020-06-01 15:12] greganth1 opened #5031 "Issue shows closed but changed still not reflected in the documentation."
This issue that was raised here in https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/4454 has been closed yet the documentation still has this now erroneous note under the Teams only section.

 Important

If you uninstall the Skype for Business client after you move a user to Teams Only mode, presence stops working in Outlook and other Office apps. Presence works fine in Teams. W

[2020-06-01 15:17] LanaChin commented on #4995
Reassigning to @dstrome.

[2020-06-01 16:59] Air-Git opened #5033 "Owner as non-Member"
It is not clear from this page whether an Owner is a privileged member, or owner and not member.
If a team has dynamic membership, can that membership not include the owner? Or must it also include the owner?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20423b44-629b-1bee-280c-fb55680cd33e
* Version Independent ID: a

[2020-06-01 17:22] cypheredout opened #5034 "Use of -UseOAuth should be mentioned"
Can there be a refer to the move-csuser doc showing that you may need to use -UseOAuth flag?

"If you are using Skype for Business Server 2015 with CU8 or later, we recommend you pass the `-UseOAuth` switch, which ensures the on-premises code authenticates using OAuth, instead of Legacy LiveID authentication. In Skype for Business Server 2019 and later versions, OAuth is always used hence the swit

[2020-06-01 19:33] StuBeck32 commented on #5010
Documentation for assigning a number per support is inaccurate. To enter the number in the US, you must enter 1 XXX-XXX-XXXX, not +1 and then have numbers show up.

Timeframe for not being able to assign a number seems to be half an hour.

[2020-06-01 19:35] StuBeck32 commented on #5012
This seems to be a copy pasta from my other comment. Support can't help with this as I'm asking for commands to be included here, or at minimum a direct link to the page showing how to install it versus requiring 4 links.

[2020-06-01 19:47] LanaChin commented on #4996
Hi @tomko80, have a look at the "Who can attend live events" section in this article, https://support.office.com/en-us/article/get-started-with-microsoft-teams-live-events-d077fec2-a058-483e-9ab5-1494afda578a, which discusses licensing.

[2020-06-01 19:48] #4996 closed

[2020-06-01 23:18] LolaJacobsen commented on #4961
I updated the article with the suggested new line item. It'll go live tomorrow late morning. Thanks so much, @DanStevensonMSFT

[2020-06-01 23:18] #4961 closed

[2020-06-01 23:32] LolaJacobsen commented on #4887
Checking with PMs Bill Weidenborner and Jatin Patel

[2020-06-01 23:33] LolaJacobsen commented on #4885
@vinbelms what content updates should we make, based on Jmartinez589's suggestions?

[2020-06-01 23:34] LolaJacobsen commented on #4697
@karuanag can you confirm which link is the latest? I'll update content to make sure we're no longer referencing the old one.

[2020-06-01 23:39] LolaJacobsen commented on #4697
@karuanag  I updated all links to the download center (outdated) success kit to https://aka.ms/TeamsCustomerSuccess (changes going live tomorrow morning).

[2020-06-01 23:39] #4697 closed

[2020-06-02 07:15] lindspea commented on #4824
@jonwbstr @calmco Would it be helpful to add this link to the article? https://www.microsoft.com/microsoft-365/microsoft-teams/compare-microsoft-teams-options

[2020-06-02 07:28] VLG17 commented on #4522
@taromielnaz Just to confirm, are you saying that although you update the "**Who can bypass the lobby**" setting in the **Global (Org-Wide default) policy** to "**Everyone in your organization and federated organizations**", external users (guest users and the users from trusted organizations) are still unable to bypass the lobby?

As mentioned above, there are a few things to keep in mind, which

[2020-06-02 07:44] VLG17 commented on #4521
@j0rt3g4 Just to confirm, are you interested in details about simultaneous live events hosted across a tenant or simultaneous videos within a live event?

The roadmap item you shared above talks about simultaneous videos within a teams meeting/live event. It was raised from 4 to 9 (a 3x3 screen). The user experience is described [here](https://support.office.com/en-us/article/using-video-in-micros

[2020-06-02 08:26] VLG17 commented on #4508
@wcvanzyl Do you think adding the below sentence to the note would help? If not, what exact wording would you like to see?

ALLUSER=1 parameter is used only in VDI environments to specify a per-machine installation, **which implies a shared environment subject to change (RDS/Pooled WVD) and not a persistent, dedicated one.**

[2020-06-02 09:22] calmco commented on #4824
If you could change that page for the part where it says “Host online and video conferencing meetings for up to 250 people5<https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/compare-microsoft-teams-options?rtc=1#coreui-contentrichblock-7wgyjux> and online events for up to 10,000”  to “Hold Teams Live Events” (and then the explanation), then it would be helpful. The commercial / marketi

[2020-06-02 10:32] lindspea commented on #4993
@LanaChin should these "calling and meeting" known issues and image be incorporated with the known issues at the bottom of the article?

[2020-06-02 10:41] lindspea commented on #4967
@ibawwad thank you for reaching out and helping improve MS Docs. I found these two links. Let me know if you think they would suffice and I'll do a PR to replace the current links - https://docs.microsoft.com/microsoftteams/dynamic-memberships and https://docs.microsoft.com/microsoftteams/teams-overview

[2020-06-02 11:43] lindspea commented on #4914
@desmondgc thank you for reaching out and helping improve MS Docs. I see this article has recently been updated. There is also information mentioning the following in the article - "Make sure you use Teams to remove users from your org-wide team. If you use another way to remove a user, such as the Microsoft 365 admin center or from a group in Outlook, the user might be added back to the org-wide

[2020-06-02 11:45] lindspea commented on #4916
@causeway74 thank you for reaching out and helping improve MS Docs. It looks like the article has been updated in the interim. Please let me know if you need further assistance.

[2020-06-02 11:46] desmondgc commented on #4914
Indeed, I saw this guidance and used Teams to remove users from my org-wide team. Nonetheless, the users we re-added several hours later.

[2020-06-02 11:53] causeway74 commented on #4916
@lindspea Hi, I don't see this reflected in the current article. The footnote numbering is still incorrect.

[2020-06-02 11:56] lindspea commented on #4930
@steveapples thank you for reaching out and helping improve MS Docs. Just for clarity where in this article would you suggest adding a note regarding this?

[2020-06-02 12:00] lindspea commented on #4931
@DocUpdate thank you for reaching out and helping improve MS Docs. I see the article was updated today and there are links that direct you to these limits . Please let me know if you need further information.

[2020-06-02 12:22] steveapples commented on #4930
Hello, as long as it is available under Feedback, that should probably do it. I believe very few will have this problem. But best would be if the Teams programming teams could check if this is an actual bug and if so, fix it. Thanks!

[2020-06-02 12:22] #4930 closed

[2020-06-02 12:24] lindspea commented on #4934
@ahamin01 thank you for reaching out and helping improve MS Docs. I'm not too sure that Shifts should be part of this article, but here is a link that relates. Let me know if it helps. https://docs.microsoft.com/microsoftteams/expand-teams-across-your-org/shifts/manage-the-shifts-app-for-your-organization-in-teams

[2020-06-02 12:28] lindspea commented on #4936
@CarolynRowe please confirm if article needs to be changed according to above comments.

[2020-06-02 12:35] lindspea commented on #4937
@johnhClarkWa thank you for pointing this out and helping improve MS Docs. This doc set is being updated frequently so the steps in the articles might look a little different from what you see.  Sorry for the inconvenience caused. I'll make a note for any further queries regarding this to help other users.

[2020-06-02 12:42] ibawwad commented on #4967
@lindspea Thank you for working on this, yes now the links reflect the proper relevant information.

[2020-06-02 12:43] lindspea commented on #4949
@danieldhudson thank you for reaching out and helping improve MS Docs. There is another similar related issue https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/4409. Please see the comments: ..."if the user is assigned E1/3/5, A3/5 then they will store recordings in Stream. And if they have the E1/3/5, A3/5, and want to share content, yes, they will need a Steams license. If they

[2020-06-02 12:56] wcvanzyl commented on #4508
That would make sense, thank you

Werner

On Tue, 2 Jun 2020 at 03:27, VLG17 <notifications@github.com> wrote:

--
Werner

[2020-06-02 13:26] leewegener commented on #4522
@MonroB This was the solution for us as well. I needed to create a new policy with the bypass settings I wanted and apply that to my users.

[2020-06-02 14:30] DEberhardt opened #5044 "Changing from PhoneSystem to PhoneSystem_VirtualUser"
Hello again,
still struggling with License assignment for Resource Accounts.
Please answer the following questions and update the documentation if you deem necessary:

a) What is a "Full Phone System license"?
I thought these were add-on licenses (for E1, S2 or E3) or part of a bigger license (like E5)?
When swapping from PhoneSystem to PhoneSystemVirtualUser - using  Powershell - I face a depende

[2020-06-02 15:05] hlbcode opened #5045 "Needs updating"
[Needs updating as new features are not displaying - specifically the new ability to add Skype for consumer comms in Teams]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2fc46c-d6fb-fd8b-e2aa-fdee7c742230
* Version Independent ID: e0d36a99-2823-68a2-7e97-0c1ba66efd51
* Content: [Teams Only mode considerations - Micr

[2020-06-02 16:18] johnhClarkWa commented on #4937
Thanks for making an update to the doc and notes.

[2020-06-02 17:04] seiferic opened #5046 "SRS App freezing Daily"
I am having an issue with an MTR freezing every day following the update to 4.4.41.

The configuration is as follows:
Lenovo Hub 500
Logi Rally Plus
Dual screens

Checking the Application logs I see the following:
"The program Microsoft.SkypeRoomSystem.exe version 4.4.41.0 stopped interacting with Windows and was closed. To see if more information about the problem is available, check the problem

[2020-06-02 18:46] LanaChin commented on #4873
Reached out to PMs.

[2020-06-02 21:21] jebalert commented on #2015
Having the same issue

[2020-06-02 21:59] fitzgeezy opened #5047 "Messaging limits for groups chats larger than 20 people"
It appears that the "Set Delivery Options" button (the !) is removed when private group chats contain mor than 20 members. Please update the Messaging section to reflect this fact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f

[2020-06-02 22:30] get-itips commented on #4681
Hello @NGOmarty How are you?
As here we are limited to documentation changes, I need to kindly redirect you to other resource, which is [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com) to make suggestions on changes to the application.
I searched, and I found [a suggestion](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/33745942-meeting-invitation-customizat

[2020-06-02 22:50] get-itips commented on #4614
Hello @jvolp
How are you? Hope you are doing good.
First of all, **thanks for your feedback.**
I do not know exactly what is happening in your scenario, to be able to fix or add information to the documentation, is this related to Modern Auth?, for example.

Did you already checked this resource ? https://docs.microsoft.com/en-us/MicrosoftTeams/troubleshoot/teams

In case you do not find the answe

[2020-06-02 23:04] jvolp commented on #4614
Thanks for your follow-up.  What we have discovered via trial and error is that Teams logins will not work if the users Time Zone is incorrect on their device.  This is a simple fox, but it's not documented anywhere and our Azure portal reports the logins as "successful" even though they are not.  Again, this is not something we should need to discover on our own. The documentation regarding Teams

[2020-06-02 23:30] tonysmit commented on #4374
@dreeves14 - can you send me some specifics on the type of meeting being held and client used? What's the scenario basically?

[2020-06-02 23:35] dreeves14 commented on #4374
Live Events and we had a 250 person Teams call with internal and external clients. I was told by our Marketing Exec that everyone came in unmuted.

Typically it would be a large call anywhere between 15-200 employees doing a remote lunch and learn or some sort of webinar.

-DR

Get Outlook for Android<https://aka.ms/ghei36>

    Dalton Reeves
    Senior Systems Administrator + Technology
    P (31

[2020-06-03 00:10] get-itips commented on #4614
Thanks for getting back and sharing that valuable feedback.
I will try to pass that message along as Teams Troubleshooting information is located on another repository where I am not currently a collaborator.
In case anyone else faces the same issue as you, they will be able to find your feedback here.
Thank you again

[2020-06-03 02:26] scanum commented on #5027
@dipinn26592 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-03 02:26] #5027 closed

[2020-06-03 02:26] scanum commented on #5028
@TheBaban thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-03 02:26] #5028 closed

[2020-06-03 02:26] scanum commented on #5031
@lindspea Hi Lindsay! Wondering if you can help here. Thanks!

[2020-06-03 02:28] scanum commented on #5033
@Air-Git thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-03 02:28] #5033 closed

[2020-06-03 02:28] scanum commented on #5044
@DEberhardt thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-03 02:28] #5044 closed

[2020-06-03 02:28] scanum commented on #5046
@seiferic thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-03 02:28] #5046 closed

[2020-06-03 02:28] scanum commented on #5047
@fitzgeezy thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-06-03 02:29] scanum commented on #5045
@hlbcode Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-03 02:29] scanum commented on #5034
@cypheredout Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-03 02:29] scanum commented on #5030
@Larryngolog Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-03 06:53] jvondermans opened #5048 "1 videostream in Teams VDI?"
Hi All,

May the 22nd I've seen a change in the known issues and limitations. One of the limitations in particular wondered me. With Teams expending from 2x2 to 3x3 simultaneous streams, the VDI version is reducing the streams to 1.
Is this just a temporary setting or does it stay this way?
We are struggling with users to keep using Teams instead of alternatives and this doesn't help us.

Kind reg

[2020-06-03 07:07] lindspea commented on #5031
@greganth1 @scanum Thanks for reaching out. The PR was done and merged to have the note removed, but it might take a few days for the change to show. I'll check in a few days time again to make sure.

[2020-06-03 07:54] lindspea commented on #4824
@LanaChin please can you clarify?

[2020-06-03 07:59] lindspea commented on #4914
@desmondgc thank you for clearing that up. I'll chat to the team and get back to you soonest.

[2020-06-03 08:04] lindspea commented on #4916
@dstrome please could you assist regarding footnotes.

[2020-06-03 09:50] J-a-k-o-b opened #5050 "Overview disappeared"
Hi,
in the past there was a big list off known limitations and issues here. This list has now disappeared, please make it viewable again.

It was similar to this rooms specific overview: https://docs.microsoft.com/en-us/microsoftteams/rooms/known-issues

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforder

[2020-06-03 13:26] omarmallat commented on #3785
I believe this issue should remain open until it is really solved. it is still not showing. and recently, they updated the admin page of Team, so when you create a private team, it will tell you CLEARLY that it will not show in the search!!! any changes in the roadmap?
<img width="199" alt="PrivateTeam" src="https://user-images.githubusercontent.com/8017412/83641934-41d47280-a5bf-11ea-9380-fa81938

[2020-06-03 13:29] Air-Git commented on #5033
What I mean is that it is not clear in the documentation. It might be assumed to be implicit that an owner is a member; or it might not.

[2020-06-03 13:33] Reeced40 commented on #4200
@adagioajanes Thank you for your feedback. Please let me know if there's anything else you want to know.

[2020-06-03 13:36] gkanel opened #5051 "Is the Offer still valid"
Hi is the offer still valid for June 2020 and onwards?

[2020-06-03 13:40] Reeced40 commented on #4310
@Camelonian Thank you for reaching out. It looks like it has been updated in the interim. Please can you confirm.

[2020-06-03 13:44] Reeced40 commented on #4322
@joturans Thank you for reaching out. It looks like it was fixed in the interim. Please confirm. Thanks.

[2020-06-03 13:49] adagioajanes commented on #4200
I think it would be useful if there was a link to collaboration bars, like their is for desk phones and conference phones. There still isn't any info in the documentation itself as to what this is.

[2020-06-03 13:53] Reeced40 commented on #4326
@strausy Thank you for reaching out. It looks like the time frame for change effect is 24 hours. Please let me know if that answers your question.

[2020-06-03 14:00] Reeced40 commented on #4181
@Matthew-Lyle Please let me know if the issue is resolved from your side as suggested above.

[2020-06-03 14:15] RomanNG opened #5052 "Delegate and EWS"
[Enter feedback here]
After contacting Microsoft support has given us the solution. Adding the user agent : **"SchedulingService"** in the EWSAllowList solve the problem for delegation.
It should be prefix and sufix with the "*" symbol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e10f52-d726-d29a-e0a8-93729a32dfae

[2020-06-03 14:16] RomanNG commented on #5052
must be added like this : *SchedulingService*

[2020-06-03 14:23] RomanNG commented on #5052
should be prefix and sufix with the "*" symbol

[2020-06-03 14:24] RomanNG commented on #5052
"*SchedulingService*"

[2020-06-03 14:59] strausy commented on #4326
The "looks like" is the issue and the reason for this post. The documentation on this page doesn't specify any time frame and the admin managing policies has no guidelines for getting an app policy refreshed. When you search for this issue in the Microsoft admin portal it will tell you to open a ticket if it has been longer than 48 hours. When I first had this issue, it was taking 6+ days to refre

[2020-06-03 15:17] Canis-Lupis opened #5054 "Wiki tab in private channels not enabled"
I notice when creating private channels that the Wiki tab is not enabled by default.  Is there a way to enable all created private channels to have Wiki enabled by default upon creation?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Version Independent ID: 9

[2020-06-03 16:21] iamalexmang commented on #4181
Just me or is that hacky solution of a workaround extremely far-fetched? I mean... C'mon! I have a bunch of Windows images which are supposed to work and yet a workaround to use the Media Creation Tool, download an image of the same version, unpack the iso, change files, use dism, not use a long-term support channel version etc. *really* considered a __ **solution** __ to this issue?!

[2020-06-03 17:32] #4876 closed

[2020-06-04 09:14] OfficeGlobal commented on #4750
@bsdmad arrows fixed and displayed properly

[2020-06-04 10:01] lindspea commented on #4957
@JorgeALeitao thank you for reaching out and helping improve MS Docs. The one mentions non-authenticated anonymous users and the other mentions anonymous so I think there is a difference. Please let me know if I'm misunderstanding.

[2020-06-04 10:45] Bozzl opened #5060 "Ik keep getting an error although I did everythng step-by-step: "Grant-CsTeamsChannelsPolicy : The term 'Grant-CsTeamsChannelsPolicy' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again. At line:1 char:29 + $members | ForEach-Object { Grant-CsTeamsChannelsPolicy -PolicyName " ... + ~~~~~~~~~~~~~~~~~~~~~~~~~~~ + CategoryInfo : ObjectNotFound: (Grant-CsTeamsChannelsPolicy:String) [], CommandNotFoundException + FullyQualifiedErrorId : CommandNotFoundException""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd13cd2b-3dca-1b7c-9970-c0f8c2348712
* Version Independent ID: 318c6208-531a-3600-e45b-c43ea845db86
* Content: [Manage teams policies in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/teams-policies)
* Content Sourc

[2020-06-04 11:21] bsdmad commented on #4750
I've confirmed they are correct. Thanks!

[2020-06-04 11:21] #4750 closed

[2020-06-04 12:43] AmahaShadow opened #5062 "delay"
Since, from experience, some of those settings (in particular app permission policy settings) might take quite a while to propagate, It might be worth to mention it as some new users might expect this to be effective immediately. Some other pages on the docs have a banner (such as the invite guest to teams page) indicating that changes might take a few hours before being active. I suggest this ban

[2020-06-04 12:48] AmahaShadow commented on #5062
also (nitpicking here) the link in the third paragraph is to the admin portal (https://admin.microsoft.com/) instead of the teams admin site (https://admin.teams.microsoft.com/)

[2020-06-04 13:12] Reeced40 commented on #5009
@lcansby Thank you for reaching out to improve MS Docs. Please let me know if this link helps - https://support.microsoft.com/office/get-started-with-microsoft-teams-live-events-d077fec2-a058-483e-9ab5-1494afda578a?ui=en-us&rs=en-us&ad=us

[2020-06-04 17:29] 12Knocksinna opened #5067 "Wrong description of Teams Chat and Conversation Data"
[Enter feedback here]

This information is wrong.
Teams compliance records are stored in the TeamChat subfolder of the user mailbox (for chats) or group mailbox (for channel conversations). SubstrateHolds is used for held copies. The compliance records are not perfect copies of the Teams message data stored in Azure and should not be represented as if the version in Exchange is the master. The EXO

[2020-06-04 18:55] JorgeALeitao commented on #4957
Sorry but the link above is broken.

[2020-06-04 19:12] j0rt3g4 commented on #4521
Simultaneous events across tenant.
50 it's a good number.
Thank you.

Previously it was 4,5 so I didn't quite understand if it was 4 or 5 .
I'd go ahead and close this one .. thank you  both

[2020-06-04 19:12] #4521 closed

[2020-06-04 19:29] cichur commented on #4957
Hi @JorgeALeitao Thank you for your comments. You're correct. An anonymous user can't present or organize a live event. I'll correct the document. - Cindy

[2020-06-04 20:20] scanum commented on #5048
@jvondermans thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-04 20:20] #5048 closed

[2020-06-04 20:21] scanum commented on #5050
@J-a-k-o-b Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-04 20:25] scanum commented on #5051
@gkanel thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-06-04 20:25] #5051 closed

[2020-06-04 20:26] scanum commented on #5052
@RomanNG Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-04 20:26] scanum commented on #5054
@Canis-Lupis
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-04 20:26] #5054 closed

[2020-06-04 20:26] scanum commented on #5060
@Bozzl
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us po

[2020-06-04 20:26] #5060 closed

[2020-06-04 20:38] billgatesfan opened #5069 "Win10 2004 supported version?"
Now that 2004 is released to consumers, is it possible to update this page with the latest infos about 2004?   Is it a "Supported, Recommended" version?

Thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ecd6ee6-8850-f346-5684-9c5d2444789f
* Version Independent ID: a55a7a01-211d-147a-5332-b68e1051a2a1
* Content: [Ve

[2020-06-04 20:54] rahulraj40 opened #5070 "Turn off the Allow members to upload custom apps for every team"
There is no option available to administrator to control this settings from Teams admin center for all Teams in organization.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d51bb7b1-801e-6801-dcaf-afa3e38e6941
* Version Independent ID: d8e726a1-cbf2-53c7-da4d-cc155b48612b
* Content: [Manage custo

[2020-06-04 21:10] rahulraj40 opened #5071 "App permission policies will not help to organisations in longer run"
We looked through article and understood how App permission policies are working, but these policies will not help organisations in long run.

Let’s say we have 100 users in Organization, out of which 10 users(Grp1) need one third party app and other 10 users(Grp2) need different third party app.
Here,
This could be managed by creating 2 separate custom policies for 2 groups and leaving remaining

[2020-06-04 21:18] rahulraj40 opened #5072 "Assign a custom app setup policy to users in a group"
This feature makes no sense actually, I would rather use below script
$userobjects = Import-CSV "C:\Appl\Test.csv"
foreach ($UO in $userobjects) {
    Grant-CsTeamsMeetingPolicy -Identity $UO.WindowsEmailAddress -PolicyName 'custom policy name'
 }

Why can't Microsoft provide options to **_apply policy on groups(security groups, O365 groups or DL)_**, so that addition or removal of users from grou

[2020-06-04 22:41] cichur commented on #5009
@lcansby Thank you for your feedback. I'll be revising the article.

[2020-06-05 01:27] scanum commented on #5069
@billgatesfan
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-06-05 01:27] #5069 closed

[2020-06-05 01:27] scanum commented on #5070
@rahulraj40
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-05 01:27] #5070 closed

[2020-06-05 01:27] scanum commented on #5071
@rahulraj40
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-05 01:27] #5071 closed

[2020-06-05 01:27] scanum commented on #5072
@rahulraj40
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-05 01:27] #5072 closed

[2020-06-05 01:27] scanum commented on #5067
@12Knocksinna Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 01:28] scanum commented on #5062
@AmahaShadow Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-05 05:49] a-watt opened #5075 "Why no "Microsoft 365 Nonprofit Business Premium"?"
[Under "Business Voice is right for you if your organization has 300 or fewer people and you have one the following Microsoft 365 subscriptions:" why isn't "Microsoft 365 Nonprofit Business Premium" listed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35057f71-792b-a4e2-a2ee-a4908c11f3a4
* Version Independent ID: 7e2

[2020-06-05 07:02] rahulraj40 commented on #5072
The is not the issue that I have reported, this is the product limitations or call it feature limitations.

[2020-06-05 08:12] TomasAEVI commented on #4856
Hi,

i will share this - at this moment MS Auditing is not able to look for "changes in organization settings" for MS Teams. Instead it is shown as either "Grant-CsTeamsUpgradePolicy" or "Get-CsTeamsUpgradePolicy" which is pretty unclear and users has to look for **all activities** instead narrowing the filter.

I hope this will be patched soon. Can it be somehow called to docs?
Thank you

[2020-06-05 08:54] Lewis-Barry opened #5076 "Limits for local Teams recording."
Could there be some information added about the time limits for local Teams meeting recording? There is an MVP that says it gets cut off at 4 hours, but I can't find anything in MS docs to confirm this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d3316

[2020-06-05 13:55] StuBeck32 commented on #5012
No update from you, but to be clear, support can't resolve this issue.

[2020-06-05 15:38] get-itips commented on #4820
Hello @LanaChin
Can you kindly confirm me if the _Number of members in an org-wide team_ has been raised from 5,000 to 10,000?
If positive, I would have to update this article and also this one https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams
Thank you.

[2020-06-05 17:25] get-itips commented on #4819
Hello @CarolynRowe can you kindly step in to clarify if we need to correct the article? Thank you

[2020-06-05 17:36] CarolynRowe commented on #4819
I will follow up with the PM.

[2020-06-05 18:08] get-itips commented on #4800
Hello @Petri-X How are you? Hope you are doing good. 👍

Using diagnostic logging we could see around 30 minutes back.
And I'm referring to the diagnostic log without any defination (e.g. ...calling, ....cdl, ....cdlWorker).

It seems you refer here to logs.txt file, that is the _Desktop log_ and as the article says:

(In my case the log file was much bigger.)

and

Those are the _Debug logs_ and a

[2020-06-05 18:44] get-itips commented on #4753
Hello @maggiori-git
Thanks for your feedback. I will propose clarifying this article based on it, if it gets approval by the author, it will be published.

[2020-06-05 18:44] trecee13 opened #5078 "THis needs to be updated to include version 4.4.41.0"
What is supported with this new release?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ecd6ee6-8850-f346-5684-9c5d2444789f
* Version Independent ID: a55a7a01-211d-147a-5332-b68e1051a2a1
* Content: [Version Support - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/rooms/rooms-lif

[2020-06-07 05:57] dstrome opened #5079 "test issue"
test test

[2020-06-07 05:58] dstrome commented on #5079
fuck

[2020-06-08 02:30] scanum commented on #5075
@a-watt Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-06-08 02:30] #5075 closed

[2020-06-08 02:31] scanum commented on #5076
@Lewis-Barry Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-08 02:31] scanum commented on #5078
@trecee13 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-08 08:24] JetzeMellema opened #5082 "Typo (Phone Systems)"
The document contains a table that lists "Phone Systems" as one of the licenses. This should be singular, Phone System without the s.

https://docs.microsoft.com/en-us/microsoftteams/set-up-common-area-phones?source=docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ab5215-f24f-75cf-bb92-16ac0ff5e5ca
* Version Indep

[2020-06-08 08:26] rkashinath opened #5083 "Can you please add cmdlet to run Microsoft Azure Popup silently - SIPTesterclient Script"
Can you please add cmdlet to run Microsoft Azure Popup run silently in this portion of script below? I want to schedule this hourly and it keeps asking this popup to enter the credentials.

if ($UseUserCredentials) {
            $pwd = ConvertTo-SecureString -AsPlainText $TeamsOutPassword -Force
            $authContext = New-Object "Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationCo

[2020-06-08 09:34] voutit opened #5084 ""account preparation is started two to three weeks before installation""
Why do you recommend 2-3 weeks for the account creation here? What are the actual technical sync times between Azure AD and Teams?

_"It is highly recommended that account creation be done well in advance of actual hardware installation. Ideally, account preparation is started two to three weeks before installation."_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-08 10:38] iborghoff opened #5085 "'Set-CsUser' is no longer recognised as a command"
The command doesn't appear to be valid anymore in this module. I've not been able to find a replacement or alternative yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb2a9717-6565-8443-8833-f7fdce562781
* Version Independent ID: db88c4d6-5864-a481-86cf-465feb452d75
* Content: [Enable users for Direct Routing - Mic

[2020-06-08 13:11] syntetic81 opened #5086 "Desktop icon is not created"
Hi,

you write that msiexec /i Teams_windows_x64.msi OPTIONS="noAutoStart=true" ALLUSERS=1
When a user logs in to Windows, Teams is installed with the MSI and a shortcut to start Teams is added to the user's desktop.

I use SCCM to rollout Teams exactly with the command above. Teams will be installed in c:\Program Files (x86)\Teams Installer - but no Link is created on Users Desktop.

Sincly
Frank

[2020-06-08 14:21] Air-Git opened #5087 "Clarification or Correction"
External Access Allowed Domains seems to restrict chat and calls (as expected) but not meetings (as documented here).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59900927-5e5f-77a4-04be-e05a91330fca
* Version Independent ID: 1e4d6b87-f57c-fa45-1630-3c32b821d93c
* Content: [Manage external access (federation) - Micro

[2020-06-08 15:03] chwilfing opened #5088 "Note Tells me it's creating an Block Rule / not an Allow Rule"
The Text in the Note below the screenshot tells me - to create block rules not allow. but the powershell script correctly creates an allow rule.

BG Christoph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Version Independent ID: f5d82846-41cb-3548-6997-ce23bd8f89c6
* Content: [Ge

[2020-06-08 15:50] khilker15 commented on #4697
Thanks for closing this out!

Ken Hilker - Microsoft
Sr. Customer Success Manager – FSI Modern Workplace

[See the source image]<https://teams.microsoft.com/l/chat/0/0?users=Kehilker@microsoft.com> Chat with me<https://teams.microsoft.com/l/chat/0/0?users=kehilker@microsoft.com> on Microsoft Teams!

From: Lola Jacobsen <notifications@github.com>
Sent: Monday, June 1, 2020 4:39 PM
To: MicrosoftDocs

[2020-06-08 16:53] jamesnhan commented on #4181
None of the workarounds work. Attempting to download the ISO using the MediaCreationTool1903.exe command given above by @supersankary does not work anymore. You are just prompted to download the latest version of the Media Creation Tool. I also have no option to change any language settings in the VLSC, so I can't test downloading a different language, which I think would cause other issues anyway

[2020-06-08 20:15] fitzgeezy commented on #5047
Hello, I contacted O365 Premier Support (Case #20335108) and they confirmed that this is expected behavior.  Please update the doc.

[2020-06-08 21:57] mikenri opened #5090 "You also need to enable users to add guests to Office 365 Groups in order for this to work"
This process does not work unless you also enable users to add guests to Office 365 Groups.

This should be referenced in this document that you also need to follow this process before users can add guests to Microsoft Teams:

https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/manage-guest-access-in-groups?view=o365-worldwide#manage-groups-guest-access

---
#### Document Details

⚠

[2020-06-09 04:38] scanum commented on #5082
@JetzeMellema Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:38] scanum commented on #5083
@rkashinath Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:38] scanum commented on #5085
@iborghoff Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:39] scanum commented on #5087
@Air-Git Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:39] scanum commented on #5088
@chwilfing Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:39] scanum commented on #5090
@mikenri Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-09 04:40] scanum commented on #5084
@voutit Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-06-09 04:40] #5084 closed

[2020-06-09 04:40] scanum commented on #5086
@syntetic81 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-06-09 04:40] #5086 closed

[2020-06-09 11:08] Petri-X commented on #4800
No, I'm referring to the diagnostic logs:
By pressing **Ctrl+Alt+Shift+1** I get this:
![image](https://user-images.githubusercontent.com/43988151/84139722-0e7b6300-aa59-11ea-986a-10b5b0064228.png)

Funny thing is of course that in download folder I have **six** files:
![image](https://user-images.githubusercontent.com/43988151/84139819-3c60a780-aa59-11ea-93e7-62b7528eaa22.png)

So one file which

[2020-06-09 11:33] get-itips commented on #4800
@Petri-X
Yes, they are named _Debug Logs_ in this article but the filename names them _Diagnostics Log_. We are talking of the same thing, and the description in the article that I shared here still applies.
If you would like an expanded explanation, other from what the filename states (chatListData, sync..) of each of them, We would need to ask @LolaJacobsen if she can get it.
Thank you

[2020-06-09 12:02] JeffBrownTech opened #5091 "Firewall Proxy Host Name/Port Examples"
[Enter feedback here]
Can someone review the **Firewall Proxy Host Name/Port Examples** table? The note at the bottom says that the wildcard for contoso.com represents nodes in Office 365, but this is a domain that is typically used as an example company. I find it surprising that this domain would be used for production systems in O365.

Also, the destination ports for Video and Desktop sharing m

[2020-06-09 12:27] get-itips commented on #4660
Hello @ddub555 how are you? Hope you are doing great
The article has been improved after you created this issue, did you review it currently?
Thank you

[2020-06-09 12:42] get-itips commented on #4666
Hello @KristofferCF How are you? I could review the history of the article and you are right, there was in the past a section about it, if it was removed, probably that is not offered anymore but I am not sure, I suggest you contact the [PSTN Service Desk](https://docs.microsoft.com/en-us/microsoftteams/manage-phone-numbers-for-your-organization/contact-pstn-service-desk)

[2020-06-09 14:11] Petri-X commented on #4800
@get-itips
Yes we speak about the same files. Unfortunately Teams seems to be full of confuses. Would be nice to see that these could be consistent. :)

It would be awesome if you or your team could share a little more details how to use those logs in a best way and what we are expected to be found from the files. I have played with some of the PowerShell CMDLets to get data out from there. But wo

[2020-06-09 15:47] anniecolonna commented on #4890
Hi @julianucci, tags in Teams do not have an email associated with them.

[2020-06-09 16:04] RomanNG opened #5094 "The RelatedGroupId property does not exist when using SPO Powershell"
[Tapez vos commentaires ici]
After several tries, the  **Get-SpoSite -Identity "<private channel spo url>" -Detail** does not return any property  named RelatedGroupId. I'm using sharepoint online management shell version 16.0.20122.12000. Are there any change with the module or is the documentation not up to date ?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire

[2020-06-09 16:51] CarolynRowe commented on #4819
The PM says the flows in the published doc are correct and have been validated by multiple people.  I'm going to close this issue.   If there are still concerns, I suggest contacting technical support.

[2020-06-09 16:51] #4819 closed

[2020-06-09 17:21] JorgeALeitao opened #5095 "Behavior when selecting BlurandDefaultBackgrounds is not clear"
[Enter feedback here]
Article states that:
.....
BlurandDefaultBackgrounds | User has the option to blur their video background or choose from a **set of images** to use as their background.

However the actual effect is that users have only the to blur the background or select from the **default set** of images.

that would leave no room for doubts.

---
#### Document Details

⚠ *Do not edit this

[2020-06-09 17:53] get-itips commented on #4677
Thanks for reporting @R4D10Active @danmyhre a fix is on the way.

[2020-06-09 20:51] TokyoScarab commented on #4657
@LanaChin Would you be able to provide some more detailed insight as to why the SKU mentioned above is omitted in the documentation? I wasn't able to turn up any information on it. So I'm not sure if it was just not included or if there is a specific reason for why it isn't there. Thanks!

[2020-06-09 21:18] danmyhre opened #5102 "Presence"
In Skype consumer, I able to see the presence of a Teams user.  This statement may be incorrect:

Limitations:
Teams users and Skype users can't see each other's presence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de87096-6253-ba71-f27a-0b161a36f0e2
* Version Independent ID: 8b61b40d-496c-6069-8a60-38a6282e072a
*

[2020-06-09 22:15] GitRomney opened #5103 "Microsoft Teams Meeting Duration"
The page lists the maximum duration of a single Microsoft Teams Live Event. It would be great if it also listed the maximum duration of a Microsoft Teams Meeting. The expiration listed of 60 days is for the lifespan of the virtual space itself, not the runtime of a meeting, I assume.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-06-09 22:47] LanaChin commented on #5095
Thanks for your feedback and helping to improve our docs, @JorgeALeitao. I've updated the BlurAndDefaultBackgrounds and AllFilters options to say "...from the default set of images."

[2020-06-09 22:47] #5095 closed

[2020-06-09 23:52] a-watt commented on #5075
Thanks Manuela,

Our tenant doesn’t have a problem. The documentation does. I’d suggest the
best way forward is fixing the obvious omission in the documentation. What
a ridiculous response!

Cheers
Andrew

On Mon, 8 Jun 2020 at 2:30 PM, Manuela Scanu <notifications@github.com>
wrote:

[2020-06-10 00:30] lachew opened #5104 "Missing features not called out for Web Clients"
[Enter feedback here]

There is a discrepancy in the documentation where it says that google chrome is fully supported with no call out of a missing feature. You can use the call me at function within Meeting details on Edge Chromium, but that feature is missing on Google Chrome. This is the ability to Enter phone number when you are in a meeting to call me by going through the ellipsis -> Meeting

[2020-06-10 02:28] scanum commented on #1861
@SerdarSoysal Hi! Following up on this issue, wondering if there are any updates. Thanks!

[2020-06-10 02:32] scanum commented on #3590
@kenwith Hi! Wondering if there are any updates on this issue? Thanks.

[2020-06-10 02:40] scanum commented on #4310
@viperfx We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:40] #4310 closed

[2020-06-10 02:40] scanum commented on #4322
@ndambrosio We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:40] #4322 closed

[2020-06-10 02:42] scanum commented on #4512
@challengelogic  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:42] #4512 closed

[2020-06-10 02:42] scanum commented on #4522
@michael-clover  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:42] #4522 closed

[2020-06-10 02:43] scanum commented on #4666
@KristofferCF  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:43] #4666 closed

[2020-06-10 02:43] scanum commented on #4681
@NGOmarty  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:43] #4681 closed

[2020-06-10 02:44] scanum commented on #4712
@JBHorne  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:44] #4712 closed

[2020-06-10 02:45] scanum commented on #4753
@maggiori-git  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:45] #4753 closed

[2020-06-10 02:52] scanum commented on #4905
@Michal-Witwicki  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:52] #4905 closed

[2020-06-10 02:52] scanum commented on #4914
@desmondgc  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:52] #4914 closed

[2020-06-10 02:52] scanum commented on #4925
@sagy  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:52] #4925 closed

[2020-06-10 02:53] scanum commented on #4931
@DocUpdate  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:53] #4931 closed

[2020-06-10 02:53] scanum commented on #4932
@NickElniff  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:53] #4932 closed

[2020-06-10 02:53] scanum commented on #4934
@ahamin01  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:53] #4934 closed

[2020-06-10 02:53] scanum commented on #4937
@johnhClarkWa  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:53] #4937 closed

[2020-06-10 02:54] scanum commented on #4949
@danieldhudson  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:54] #4949 closed

[2020-06-10 02:54] scanum commented on #4967
@ibawwad  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:54] #4967 closed

[2020-06-10 02:54] scanum commented on #4976
@cchambers-cap  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:54] #4976 closed

[2020-06-10 02:54] scanum commented on #4981
@DEberhardt  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:54] #4981 closed

[2020-06-10 02:54] scanum commented on #4983
@paulypoteat  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:54] #4983 closed

[2020-06-10 02:55] scanum commented on #4988
@officedocspr  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:55] #4988 closed

[2020-06-10 02:55] scanum commented on #4998
@stevenciu  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:55] #4998 closed

[2020-06-10 02:55] scanum commented on #5005
@jeffmparker  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:55] #5005 closed

[2020-06-10 02:55] scanum commented on #5009
@lcansby  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:55] #5009 closed

[2020-06-10 02:55] scanum commented on #5020
@aamillerMSFT  Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-06-10 02:55] #5020 closed

[2020-06-10 02:56] scanum commented on #5091
@JeffBrownTech Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-10 02:56] scanum commented on #5094
@RomanNG Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-10 02:56] #5094 closed

[2020-06-10 02:57] scanum commented on #5102
@danmyhre Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-10 02:57] scanum commented on #5103
@GitRomney Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-10 02:57] scanum commented on #5104
@lachew Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-10 05:12] tadanok opened #5105 "Teams Documents"

[2020-06-10 05:52] phanley10 opened #5106 "Personal Account vs. Business Account"
I'm looking to determine the trade-off between submitting a Teams app from a personal account vs. a business account. And if it is already up and running as a personal account, what the trade-offs would be converting it to a business account. Based on the documentation, this seems like the right spot for that information to be included.

Can you help me better understand a few questions:
- What wo

[2020-06-10 06:31] desmondgc commented on #4914
I'm not sure why this was closed. It is most definitely not resolved.

The documentation is misleading. It implies that there is a way to remove members from an org-wide team, but that is not the case in our environment. I suspect it's related to Azure AD Connect but have no way to verify this suspicion.

Consider adding a note to the "Remove accounts that might not belong" section that it might n

[2020-06-10 07:32] Air-Git commented on #5087
The solution is: the list of Allowed Domains or Blocked Domains is not evaluated for meetings if Anonymous access is allowed. To block authenticated users by domain when anonymous access is allowed would be nonsensical.

[2020-06-10 13:53] Larryngolog opened #5107 "Missing information about mailbox on Exchange Online"
Hello

We are missing an information that user needs to have mailbox hosted online in order to be able to schedule a live event.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b679199-caa5-4cc5-27e5-60a2cf999f69
* Version Independent ID: 6878c954-e248-94c2-7602-47437ec7a2dd
* Content: [Plan for live events in Microsof

[2020-06-10 15:23] kleb opened #5108 "File upload limit to a Teams chat"
Hi, I was unsuccessful at finding what the file size upload limit is for a Teams chat. Regards, Bil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Teams - Microsoft Tea

[2020-06-10 18:09] redmondChris opened #5109 "Max duration of meetings and meeting recordings"
This page does not seem to specify how long a meeting can be held (4 hours, like a Live Event?) nor the maximum duration of a Teams Meeting Recording (presumably the same as the meeting).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e

[2020-06-10 22:51] TokyoScarab commented on #4140
@neilwithdata The setting is an override of sorts. When it is on, it enables the other 2 settings (Team custom app setting and User custom app policy) to be active. If Org-Wide isn't enabled, then those settings will not work even if enabled.  It's probably easier to think of the Org-Wide setting as a big on/off switch for those policy settings. I hope this description helps to clarify things.

[2020-06-11 03:50] dstrome commented on #3810
hi @uberseehandel - Please have the NHS or UK government reach out to their respective Microsoft technical account managers to discuss these questions. We cannot discuss customer involvement of any nature on public forums.

thanks.

[2020-06-11 03:50] #3810 closed

[2020-06-11 04:43] edavel opened #5112 "typo"
IS this a typo? Current example says, "For example, if you have two domain names, contoso.com and contoso.on.microsoft.com, use sbc.contoso.com as the SBC name."

shouldn't it be, contoso.onmicrosoft.com, not contoso.on.microsoft.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7d5051-1177-c5cf-bf28-8639d7b6fbd1
*

[2020-06-11 05:47] scanum commented on #5107
@Larryngolog  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-11 05:48] scanum commented on #5109
@redmondChris  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-11 05:48] scanum commented on #5112
@edavel  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-11 05:48] scanum commented on #5105
@tadanok Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-06-11 05:48] #5105 closed

[2020-06-11 05:48] scanum commented on #5106
@phanley10 Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-06-11 05:48] #5106 closed

[2020-06-11 05:48] scanum commented on #5108
@kleb Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us pos

[2020-06-11 05:48] #5108 closed

[2020-06-11 13:02] get-itips commented on #4727
Thanks for your feedback @aamillerMSFT

[2020-06-11 13:09] ccsjnw opened #5116 "Section about deploying Teams, contains no technical details about deploying Teams."
Under the Deploy section of the Teams site, there are a few funky slides about approaches to integrating Teams within a business, but there is no technical information about the best way to deploy the Teams App in a managed environment. Indeed this subject is very sparsely covered across the whole Microsoft site.

Currently, Teams is a per user App (!). It installs and runs from every users' AppDa

[2020-06-11 13:38] get-itips commented on #4736
Hello @Craig-Humphrey
I could verify what you are telling here, however as here we are limited to documentation fixes, I need to kindly suggest informing this to [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com/), and also, wanted to tell you that I tried the report that is available from the `Admin center -> Reports -> Usage -> Microsoft Teams User Activity -> Export` and I could

[2020-06-11 13:56] jokruege opened #5117 "Audio Conferencing can be added to Business Basic"
Business Basic is not listed on the page as a qualifying plan for Audio Conferencing. However, you can add the Audio Conferencing plan to a Business Basic plan.

Please add Business Basic to the list of prereq plans.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59426612-8da4-be3e-f0c8-8c23e9178d7d
* Versio

[2020-06-11 14:33] RobFullerGBHS opened #5118 "Policy assignment to groups"
When will policy assignment to groups by GA? Still getting Access Denied on our tenant.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888fe05b-1160-452f-90ba-deb19adb740f
* Version Independent ID: 4091c5e4-7a90-7fe4-2741-16bbb1f297c1
* Content: [Assign policies to your users in Microsoft Teams - Microsoft Teams](https:

[2020-06-11 14:45] LanaChin commented on #4657
Hi @rsoakford. Thanks for your feedback. the SKU has been added in the linked PR.  Thanks @TokyoScarab.

[2020-06-11 14:45] #4657 closed

[2020-06-11 15:03] aamillerMSFT opened #5119 "Confusing Number Type options"
Confusing statement needs rewritten.  It occurs in 2 locations on the document.

Based on our explanation of Phone Number types [here](https://docs.microsoft.com/en-us/microsoftteams/different-kinds-of-phone-numbers-used-for-calling-plans):
There are only 2 types, User and Service, Subscription is not an option.

This should read:

Also, I would reference the Number Type explanation link closer to

[2020-06-11 15:05] rsoakford commented on #4657
I believe the two SKUs are distinct - now it looks as though the page incorrectly refers to
SkuPartNumber: STANDARDWOFFPACK_IW_STUDENT
SkuID: 314c4481-f395-4525-be8b-2ec4bb1e9d91

However, when I run the Get-MsolAccountSku PowerShell cmdlet on my tenant I see the following:

`SkuId                                SkuPartNumber
-----                                -------------
94763226-9b3c-4e75-a9

[2020-06-11 15:23] get-itips commented on #4744
Hello @LanaChin Lana, are we able to get that information, maybe to put a sentence in the _faq_ section of the article, for the expected times for the policy to apply to users?

[2020-06-11 17:27] tonysmit commented on #5119
Updated and merged. Thanks for the feedback!

[2020-06-11 17:27] #5119 closed

[2020-06-11 18:49] NickElniff opened #5122 ""Turn on or turn off recording transcription" section innacuracies"
[Enter feedback here]
The 'Turn on or turn off recording transcription' section is confusing and the wording of the feature is not accurate. A user that records a meeting does not have a choice whether transcripts or generated or not.

Suggestion would be that the section reads like the "Allow Transcription" section in the Meeting Policy Settings page - https://docs.microsoft.com/en-US/microsoftte

[2020-06-11 18:56] tonysmit commented on #5122
Suggested change merged.

[2020-06-11 18:56] #5122 closed

[2020-06-11 19:45] get-itips commented on #4742
@LolaJacobsen Lola, Can you kindly help us here? Can we get that information? I appreciate.

[2020-06-11 19:57] ma7mgte opened #5123 "Control guest access in Microsoft 365 Groups"
Control guest access in Microsoft 365 Groups section needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b05e642-c4e5-f1b5-5315-d3ef1690a0cd
* Version Independent ID: 01b7e0b5-3e50-3de0-e3e9-aeeeda43da12
* Content: [Authorize guest access in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com

[2020-06-11 19:57] scanum commented on #4752
@LanaChin Hi Lana! Wondering if you can help me with this? Thanks!

[2020-06-11 20:12] LanaChin commented on #4752
FYI @anniecolonna

[2020-06-11 20:32] Saml43 opened #5125 "Schedule a tag"
Is there a way to schedule using a tag? So under person's instead of having to list out each person we could use the @ tag mention and it would pull in all person's in that team with that tag.

[2020-06-12 00:32] jantoney opened #5130 "Issue with wording - FRONT END SERVER not EDGE SERVER"
This line should read FRONT END SERVER not EDGE SERVER
Configure Cloud Voicemail as the hosting provider on the **Edge Server** as described in this article

The first line in the paragraph it links to correctly shows Front End Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b8afb-b9ca-8136-b907-5bbff4c9dcf1

[2020-06-12 01:01] WilliamGarzonM opened #5131 "Cómo conectar PowerShell con Teams"
Para personalizar o modificar las directivas de reunión de Teams, se requiere hacerlo desde PowerShell. Instalé SkypeOnlinePowerShell, reinicié el equipo, introduje las credenciales desde Powershell (Ver 5.1) y después sólo salen errores. De que forma se pueden ejecutar los cmdlets si no existe el modo de ejecutar powershell en Teams?
---
#### Detalles del documento

⚠ *No edite esta sección. Se r

[2020-06-12 04:08] scanum commented on #5116
@ccsjnw Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-06-12 04:08] #5116 closed

[2020-06-12 04:08] scanum commented on #5118
@RobFullerGBHS Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-06-12 04:08] #5118 closed

[2020-06-12 04:09] scanum commented on #5125
Hi @LanaChin could you please help out with this one as well? Thanks!

[2020-06-12 04:09] scanum commented on #5131
@WilliamGarzonM Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-06-12 04:09] #5131 closed

[2020-06-12 04:10] scanum commented on #5117
@jokruege Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-12 04:10] scanum commented on #5123
@ma7mgte Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-12 04:10] scanum commented on #5130
@jantoney Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-12 09:55] sperantia opened #5134 "Teams phone support the delegation feature?"
I confirmed Teams IP phone support the delegation by the latest firmware.
Could you confirm this docs please

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8d3dd879-564e-62ca-2095-3ef6ae4fab2d
* Version Independent ID: 8ed3dff3-b2b8-b3db-6db9-6bbecdb6cf5c
* Content: [Microsoft Teams での回線共有機能 - Microsoft Teams](https://docs.microsoft.com/ja-jp/microso

[2020-06-12 12:25] lindspea commented on #5022
@greiginsydney thank you for reaching out and helping improve MS Docs. The default is 9am to 5pm as per the article?  Please clarify what you think needs to be changed in the article. Thanks so much.

[2020-06-12 14:16] LanaChin commented on #5125
FYI @anniecolonna

[2020-06-12 14:56] mgcharumilind opened #5135 "Live Event dial-in"
The image of the license info table at https://docs.microsoft.com/en-us/microsoftteams/quick-start-meetings-live-events#get-licenses-for-meetings-and-live-events
 on this page says "Any phone number can dial in to a Teams Live Event," however that does not seem to be accurate. See UserVoice status here https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38277844-pstn-for-live-eve

[2020-06-12 20:23] kenwith commented on #3590
@scanum - handing this over to Serdar who will be assigning someone to take over the Linux documentation. The latest information I have is that the product team is in the process of release a Snap and the documentation will be updated with that information as soon as it is available.

[2020-06-12 20:36] owenmpls opened #5142 "Don't recommend mailbox deprovisioning to hide personal lists"
The following content proposes mailbox deprovisioning as a means to hide personal lists, which is impractical. This should be replaced with a statement that personal lists will be visible for any user licensed for Exchange Online, and we don't currently support hiding them.

"If you don't want users to see Personal lists, you can hide it. To do this, remove the user's Exchange Online license. Note

[2020-06-12 20:40] owenmpls opened #5143 "Misleading statement regarding B2B access"
"To communicate with a guest, the guest has to be signed in to Teams using their guest account. This means that a guest may have to sign out of their own Teams account to sign in to your Teams account."

This statement is somewhat misleading. The principal use case for B2B collaboration is to allow guests to access other tenants using their primary Azure AD account (i.e. the account that's most li

[2020-06-12 23:12] vaibhavagarwaljss opened #5144 "Allow third-party apps in Teams"
[Enter feedback here]

Allow third-party apps in Teams - This heading under Org-wide app settings should rather be "Allow third-party apps". Remove "in Teams" as that's not displayed in the system

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbcabee-fa96-2878-e983-3c966f84ee15
* Version Independent ID: 02fa4fd8-77e0

[2020-06-13 00:16] anniecolonna commented on #5125
Hi @Saml43, thanks for your feedback! Are you asking about scheduling a meeting or setting up a calendar invite in Teams then adding tags into the attendee section? Or is this another experience?

[2020-06-13 09:50] gaurav-nelson opened #5145 "How to delete a team I created with a personal account?"
This page doesn't answer How to delete a team I created with a personal account?

When I use the provided steps I get:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bf689b7-a7c1-121f-578e-029e8a89c4f0
* Version Independent ID: 7e6b449e-bd77-2fc4-2c3d-1f2e364e1b76
* Content: [Archive or delete a team in Microsoft Team

[2020-06-14 00:50] MaratMussabekov commented on #4671
Issue is fixed by https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/3ac32fbb70cf2042e9976c2a973a2feaee458d85#diff-40581e7a4083387551a935e06f8c0646 and https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/117ebf4ba60ad7b5f42d0bc19a3b3dfa81483168#diff-40581e7a4083387551a935e06f8c0646
I believe the ticket could be closed.
Thank you

[2020-06-14 20:43] Craig-Humphrey commented on #4736
Hey @get-itips,
thanks for that, yeah that's close, but it's different columns.

Teams Admin:
Channel messages, Reply messages, Post messages, Chat messages, Meetings organized, Meetings participated, 1:1 calls, Group calls.

O365 Admin:
Team Chats, Private Chats, Calls, Meetings

Ideally I'd like to pull through all the fields that are available in the (Teams Admin) table under the graph (Urgent

[2020-06-14 21:39] scanum commented on #5134
@OfficeGlobal Could you please help with this issue? Thanks!

[2020-06-14 21:41] scanum commented on #5135
@mgcharumilind Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-14 21:43] scanum commented on #5142
@owenmpls Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-14 21:43] scanum commented on #5143
@owenmpls Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-14 21:44] scanum commented on #5144
@vaibhavagarwaljss Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-06-14 21:44] scanum commented on #5145
@gaurav-nelson Thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-06-14 21:44] #5145 closed

[2020-06-15 04:08] dstrome commented on #4866
hi @Petri-X As @flinchbot stated, this article reflects XML support of the currently available Teams Rooms app. We don't maintain a history of all XML values or fields for previous versions of the app.

[2020-06-15 04:08] #4866 closed

[2020-06-15 04:11] dstrome commented on #4899
Supported SKUs have been updated.

[2020-06-15 04:11] #4899 closed

[2020-06-15 04:16] dstrome commented on #4794
Hi @ThomasBIDAULT. We can only respond to product documentation feedback. Please contact Microsoft support for help with this specific question.

[2020-06-15 04:16] #4794 closed

[2020-06-15 13:09] Reeced40 commented on #5023
@LolaJacobsen Please assist.

[2020-06-15 18:33] TokyoScarab commented on #3581
@tonysmit Were you able to find anything from the PMs?

[2020-06-15 18:36] TokyoScarab commented on #3602
@LanaChin Just following up to see if there was any additional information on this. Thanks!

[2020-06-15 18:39] TokyoScarab commented on #3562
@CarolynRowe Just checking in on this and getting the images changed out. Thanks!

[2020-06-15 18:47] Dragonsong3k opened #5148 "Comodo CA is no longer issuing certificates signed by Comodo Secure Root CA."
Comodo CA is no longer issuing certificates signed by Comodo Secure Root CA.
They are being issued by Sectigo, UserTRUST or AAA.

Are these root CAs supported as a result of Comodo CA being changed to Sectigo?
Or is Comodo CA certs no longer supported?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e26faf8c-529e-b317-59

[2020-06-15 19:45] tonysmit commented on #4511
@giterdn - I'm checking with the client PMs on this. Did you open a support ticket? Thanks, Tony

[2020-06-15 19:49] tonysmit commented on #4374
@ashwinma14 - Can you help out here please? Thanks, Tony

[2020-06-15 19:51] tonysmit commented on #4001
Ping @ashwinma14 - this is another one we need help on.

[2020-06-15 19:53] giterdn commented on #4511
Hi - I did open a ticket and was told this is a known bug that is under development with no ETA

[2020-06-15 20:09] TokyoScarab commented on #4817
@LanaChin After looking into this I have noticed on my machine and others that what is pointed out here is also true on the machines I've looked at. The log.txt and SquirrelSetup.log are split up between local and roaming appdata folders as mentioned above. Do you know more about why this would be? Has there been a change in where these files are kept? If so, I will update the documentation to ref

[2020-06-15 20:16] dreeves14 commented on #4374
I did notice the other day the feature occurred. It told me 102 people were on the call and it turned my Mic to off with the tool tip advising why.

So now its just a matter of knowing at what head count does that tool tip and action become active for people joining.

[cid:image001.jpg@01D64327.F2E7C770]

    Dalton Reeves
    Senior Systems Administrator + Technology
    P (314) 655-5523 | F (314

[2020-06-15 21:06] TorrenManson opened #5150 "Requirements for one certificate for 2 SBCs would be useful"
A common deployment scenario is to have two SBCs for redundancy. It would be useful to have details on how one certificate can have the SN be the FQDN of one SBC, with the FQDNs for both SANs listed. I've seen a couple of people stuck with this issue, because they didn't know how to build the CSR for the cert for this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-06-15 21:41] LolaJacobsen commented on #4321
@powertumbling @Michel-NL @KashyapPatel-nbcuni Here's the documentation for private channelsl:
https://docs.microsoft.com/en-us/MicrosoftTeams/private-channels#what-you-need-to-know-about-private-channels

Each team can have a maximum of 30 private channels and each private channel can have a maximum of 250 members. The 30 private channel limit is in addition to the 200 standard channel limit per

[2020-06-15 21:41] #4321 closed

[2020-06-15 21:55] LolaJacobsen commented on #4885
@Jmartinez589 @vinbelms
WRT 1:1 chat with an external access user: Check out our external access article: https://docs.microsoft.com/en-us/MicrosoftTeams/manage-external-access

See this note, which explains why you may not be able to start a 1:1 chat with an external user:
Currently, to federate within the Microsoft Teams app to an external user outside of your organization who's not currently a

[2020-06-15 21:55] #4885 closed

[2020-06-15 22:13] TokyoScarab commented on #4597
@LanaChin I've searched around the github trying to find the template this is referring to and it doesn't seem to exist. Do you know if there is an official Microsoft template or what this link might have originally pointed to? Any help would be very much appreciated, thanks!

[2020-06-15 22:15] TokyoScarab commented on #3640
@LanaChin The video linked does indeed contain outdated information. The video linked is of a non-Microsoft YouTube channel. What would be the best course of action to take for this, remove the link or update the link? Is there a more up to date version of this from a Microsoft source? Appreciate any guidance on this, thanks!