[2020-01-13 18:05] ryanbuening opened #3772 "Access user presence in Teams via an API"
Is it possible to access a users Teams presence state (Online/Offline/etc.) from a custom web app via an API/Microsoft Graph?

[2020-01-13 18:48] LolaJacobsen commented on #3379
Checking with EDU PM to see who should handle this.

[2020-01-13 18:50] LolaJacobsen commented on #3345
Ping'd PM @vinbelms this morning.

[2020-01-14 00:50] arianasexton opened #3774 "Kollective pointing to broken URL"
Hello - When you click on 'Kollective' under Enterprise Content Delivery Network (eCDN), the link is broken. Can you change the link to: https://portal.kollective.app/

Thank you so much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: becbf3ca-b88c-b033-a145-9a1af201ced3
* Version Independent ID: 41a6a9b5-d3dd-d8c9-9e9

[2020-01-14 01:30] CharlesYeomans commented on #3743
A113N
It would be great if you could share getting the calling plan info and what and how you use Call Queue and Auto Attendant (i.e. a bit about your set up).
Did you have Enterprise E series ? to subscribe to phone system first ?

[2020-01-14 06:49] kefujino opened #3775 "There is an incomplete sentence"
![image](https://user-images.githubusercontent.com/13634805/72320390-ec1d2d80-36e4-11ea-857b-8877016eb48d.png)

https://docs.microsoft.com/en-us/microsoftteams/teams-analytics-and-reports/user-activity-report#definitions

The continuation of this appears as described in the Note at the bottom of the same article.

![image](https://user-images.githubusercontent.com/13634805/72320651-7796be80-36e5-1

[2020-01-14 07:38] JemmyWong opened #3776 "Is there any API to know whether a specific user is a guest or not, or some way can try?"
We are developing a Teams App which needs to know another participant's phone number in a chat, but the guest user's token doesn't have such privilege, so we're going to restrict the usage of our app for guests.

But don't find any API to know the current user's role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2492

[2020-01-14 13:50] StuBeck32 commented on #1919
Why isn't this code added to the main page?

[2020-01-14 16:10] scanum commented on #3764
@PaulMaggs Thank you for submitting feedback and contributing to the docs. We are currently investigating this. Could you please link the document you are referring to?

[2020-01-14 16:10] scanum commented on #3765
@PaulMaggs Could you please link the document you are referring to?

[2020-01-14 16:10] scanum commented on #3766
@jadesolis Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:10] scanum commented on #3768
@officeglobal Could you please check the following? Thanks!

[2020-01-14 16:11] scanum commented on #3769
@bastienczl Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:11] scanum commented on #3770
@rickleye Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:11] scanum commented on #3771
@mcain1011 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:11] scanum commented on #3772
@ryanbuening Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:11] scanum commented on #3774
@arianasexton Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:11] scanum commented on #3775
@kefujino Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 16:11] scanum commented on #3776
@JemmyWong Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-14 20:29] PaulMaggs commented on #3765
Here's the reference - https://docs.microsoft.com/en-us/MicrosoftTeams/direct-routing-configure

The attribute is correct in the documentation, however, the Powershell cmdlet has a misspelt attribute.

Hope that helps.

[2020-01-15 02:29] Kentrepid opened #3779 "Org Chart documentation missing"
There is no documentation anywhere mentioning where Org Chart configuration resides, maintaining Org Charts, who has access to configure this and why this feature is unavailable for some organisations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9b7f77-061d-a224-ff1c-8d3e15d21221
* Version Independent ID: 00fa9550

[2020-01-15 02:39] gregmilligan opened #3780 "YouTube video links are broken..."
All three videos are "null"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e640245-6d25-2165-3792-9bb386a73184
* Version Independent ID: 28951938-7e00-16fd-c216-a569ba94b041
* Content: [Videos - Audio Conferencing in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/MicrosoftTeams/audio-conferencing-

[2020-01-15 09:26] lindspea commented on #3653
@chenhua2000 thank you for reaching out and helping improve MS Docs. I see there have been some changes and PR's added to this article since you first mentioned it. Please let me know if your issue has been solved in the interim, otherwise I'll investigate further.

[2020-01-15 09:46] lindspea commented on #3651
@SinghGurd thank you for reaching out and helping improve MS Docs. Please have a look at this article. There are updates coming soon to this section.  Let me know if this helps. https://docs.microsoft.com/en-us/MicrosoftTeams/private-channels#what-you-need-to-know-about-private-channels

[2020-01-15 09:50] stefandoh commented on #3450
@scanum, @white-tim Video is public available. Issue can be closed.

[2020-01-15 09:52] lindspea commented on #3663
@TorrenManson I think this was possibly added to the article in the interim which will provide more clarity on agents:
Call agents selected must be one of the following:
Online users with a Phone System license and Enterprise Voice enabled
Online users with a Calling Plan
On-premises Skype for Business Server users
Hope this helps.

[2020-01-15 10:02] lindspea commented on #3647
@grtaylo thank you for reaching out and helping improve MS Docs. The article was updated this month and there are a few notes added which should provide more clarity. Please let me know if this helps.

[2020-01-15 10:38] Reeced40 commented on #3540
@scanum Thanks Manuela. Still investigating

[2020-01-15 10:42] Reeced40 commented on #3412
@scanum Looking into it, thanks Manuela.

[2020-01-15 10:53] OfficeGlobal commented on #3768
Investigating

[2020-01-15 12:45] grtaylo commented on #3647
It looks like the content I described as incorrect is still there.  See here:
![Wrong Info](https://user-images.githubusercontent.com/48136412/72434963-f1bd5680-376a-11ea-9aba-c7f984cf6985.PNG)

[2020-01-15 13:38] CharlesYeomans opened #3782 "Page should be updated, Skype for Business is no more."
Obviously the rush to move to teams from SfB has meant a lot of documentation is not really going to make sense.
It is critical that SMEs can get a method for calling out from teams, rather than having to go to ordinary Skype.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0b2993f-74b2-a59a-fee1-0a5ddcf9e9ff
* Version

[2020-01-15 16:49] mtnsec opened #3783 "Private Channels in the Government Cloud version of Teams?"
Does the Government Cloud version of Teams support private channels?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbfa-a1fb4bb79f8d
* Version Independent ID: 9ddeb6f4-f30a-1e72-fc94-ae66def91f40
* Content: [Private channels in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/micr

[2020-01-15 18:07] KatrinW opened #3784 "Search shows results to Teams I'm not in"
I created many Teams with my account prior to the rollout of the Teams admin center. I would create a Team, add the owners and members, and then "leave" the Team. I am noticing that search is showing results to Teams I am not a part of (but I did create initially). When I click, I cannot view the channel conversation, but I feel like search should not even show results to conversations where I hav

[2020-01-15 19:05] Mexicoder commented on #3492
@scanum I still don't see any change.
I am asking this issue to get reopening because I am not the only user that is being affected by this and because I am not able to reopen the issue myself.

As for improvement to the documentation, I can't suggest anything short of removing the public claim this feature exists when there are clearly people in the community experiencing this issue as well.
I no

[2020-01-15 21:56] skywalkerisnull commented on #3735
Ok, so what I have gathered so far you need:

- AD Sync working
- The domain that the users are using on-prem to authenticate has to match the email domain, so no .local as the sign-in domain
- Autodiscover setup and working, check it is working with this site: https://testconnectivity.microsoft.com/
- Autodiscover has to work with both the user name and email address being the same

This is as fa

[2020-01-16 01:56] scanum commented on #3779
@Kentrepid  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-16 01:56] scanum commented on #3780
@gregmilligan  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-16 01:56] scanum commented on #3782
@CharlesYeomans  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-16 01:56] scanum commented on #3783
@mtnsec  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-16 01:56] scanum commented on #3784
@KatrinW  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-16 01:57] scanum commented on #3784
@KatrinW thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-16 01:57] #3784 closed

[2020-01-16 01:57] scanum commented on #3783
@mtnsec thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-01-16 01:57] #3783 closed

[2020-01-16 05:41] omarmallat opened #3785 "Team Discovery is not showing anymore in the UI of Teams app"
if I follow this page, I get nothing to work. First, the "Team discovery" option is not available in the Teams Settings in the UI. additionally, if I run the mentioned PowerShell command, it succeeds, but still the private team is not showing while discovering teams, even if I search a specific team by name. You should consider updating this page, or clarify any special conditions that make this p

[2020-01-16 06:18] OfficeGlobal commented on #3007
@hyoshioka0128, @scanum article has been HumanTranslated and published live

[2020-01-16 06:24] lindspea commented on #3647
@CarolynRowe please could you assist. Should I remove the two report types in a PR?

[2020-01-16 08:58] cdhayward commented on #3000
Hello, I also need an answer to this as it's not clear.

"Yes the failover works the same way as for regular scenario. Meaning carrier need to provision two trunks to every tenant (these trunks can be shared by multiple tenants)."

So normal scenario I create:

**Carrier tenant**
Domain = customers.mydomain.com
PSTN Gateway = customers.mydomain.com:5068 (Derived trunk)

**Customer 1 Tenant**
Domai

[2020-01-16 09:08] hyoshioka0128 commented on #3007
@OfficeGlobal - Corrected.
Closed  #3007.
Thanks.

[2020-01-16 09:08] #3007 closed

[2020-01-16 09:21] Reeced40 commented on #3725
@darrmitchell Hi Darr, thank you for reaching out to improve MS Docs. Could you please add the link, so that I can investigate. Thanks.

[2020-01-16 09:36] Reeced40 commented on #3722
@DraakUSA Hi, thank you for reaching out and helping improve MS Docs. I have changed the wording to sound a bit better from 'In a call' to 'On a call'. You can also change your presence accordingly on the top right hand side by clicking on your profile picture and choosing from the options.

[2020-01-16 09:44] Reeced40 commented on #3726
@sglogovic Thank you for reaching out. Please have a look at these links to see if they help at all. https://docs.microsoft.com/graph/reportroot-concept-overview & https://docs.microsoft.com/microsoftteams/teams-activity-reports

[2020-01-16 12:10] thewrabbit opened #3789 "Retiral of ediscovery tools"
Can article be reviewed please in light of https://docs.microsoft.com/en-us/microsoft-365/compliance/legacy-ediscovery-retirement to ensure reflects correct information.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca579d63-182b-d6f5-8777-79248fa27ed9
* Version Independent ID: b4c27d1b-b2f1-41ac-b15c-d12b448a

[2020-01-16 16:16] edreux opened #3791 "slack to teams migration"
What a pain!
You should use third party tools that migrate and automate everything.

Just use https://cloudiway.com/resources/documentation/slack-to-microsoft-teams-migration-guide/

[2020-01-16 16:48] s1satya opened #3792 "Incorrect command in Powershell to assign a custom emergency call routing policy to users in a group"
$members | ForEach-Object { Grant-CsTeamsChannelsPolicy -PolicyName "HR Emergency Call Routing Policy" -Identity $_.UserPrincipalName}

Needs to be like below:

$members | ForEach-Object { Grant-CsTeamsEmergencyCallRoutingPolicy -PolicyName "HR Emergency Call Routing Policy" -Identity $_.UserPrincipalName}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-01-16 16:57] MikeDembek commented on #917
The "Rates for Calling" link bounces to https://products.office.com/en-us/microsoft-teams/online-meeting-solutions#Rates, and the "See plans & pricing" link there sends you to https://www.microsoft.com/en-us/microsoft-365/business/compare-more-office-365-for-business-plans, which just has a very broad overview of E1/E3/E5 licensing without any obvious information on calling rates.  Is there a bett

[2020-01-16 17:15] narismadz opened #3793 "There is no auto-favorites feature (replaced with show for members)"
I think they are get rid of "Favorites" and rename as "show" (for members)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76309c0b-2a9c-36a8-d7c7-f7d6f311d39b
* Version Independent ID: bc69c0e3-0fa7-c86e-5e8c-067c8811e9bf
* Content: [Create an org-wide team in Microsoft Teams - Microsoft Teams](https://docs.microsoft.c

[2020-01-16 19:58] davidbenjaminnz opened #3794 "None of the videos work"
Currently none of the videos on this page are working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e640245-6d25-2165-3792-9bb386a73184
* Version Independent ID: 28951938-7e00-16fd-c216-a569ba94b041
* Content: [Videos - Audio Conferencing in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsof

[2020-01-17 00:31] hnewmanca opened #3796 "App doesn't launch after installation as suggested in this article"
I deployed the Teams MSI using SCCM with the default configuration, no MST, and no MSI command line options. I was expecting it to launch when it finished so that the user install would finish. It didn't and I don't know why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2f71d9c-6b35-72c9-dd94-7f62319c1656
* Version

[2020-01-17 00:37] dstrome commented on #3546
hi all, thanks for your messages. This will take some research so it may take me a few days to get an answer.

[2020-01-17 01:28] scanum commented on #3785
@omarmallat Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-17 01:53] scanum commented on #3379
@LolaJacobsen Thanks!

[2020-01-17 01:53] scanum commented on #3390
@LanaChin Hi Lana, could you please help with this issue? Thanks!

[2020-01-17 01:53] scanum commented on #3450
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 01:53] #3450 closed

[2020-01-17 01:53] scanum commented on #3464
@Larryngolog
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 01:53] #3464 closed

[2020-01-17 01:54] scanum commented on #3474
@sowjanya365

[2020-01-17 01:54] scanum commented on #3476
@dgordonb
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 01:54] #3476 closed

[2020-01-17 01:54] scanum commented on #3490
@tmaheshwar
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 01:54] #3490 closed

[2020-01-17 01:54] scanum commented on #3517
@ruizoscar Hi Oscar! Any update on this? Thanks!

[2020-01-17 02:03] scanum commented on #3651
@SinghGurd
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:03] #3651 closed

[2020-01-17 02:03] scanum commented on #3653
@chenhua2000
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:03] scanum commented on #3663
@TorrenManson
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:03] #3663 closed

[2020-01-17 02:03] scanum commented on #3665
@StainlessSteele
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:03] #3665 closed

[2020-01-17 02:03] scanum commented on #3666
@Nyffe
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:03] #3666 closed

[2020-01-17 02:03] scanum commented on #3669
@DavidMtbg
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:03] #3669 closed

[2020-01-17 02:04] scanum commented on #3672
@JetzeMellema
We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:04] #3672 closed

[2020-01-17 02:04] scanum commented on #3677
@carmelovargas Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:04] #3677 closed

[2020-01-17 02:04] scanum commented on #3679
@bybytaren Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:04] #3679 closed

[2020-01-17 02:04] scanum commented on #3685
@TorrenManson Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:04] #3685 closed

[2020-01-17 02:04] scanum commented on #3688
@imailink Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:04] #3688 closed

[2020-01-17 02:04] scanum commented on #3692
@GiantCrocodile Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:04] #3692 closed

[2020-01-17 02:04] scanum commented on #3693
@LanaChin could you kindly help?

[2020-01-17 02:05] scanum commented on #3694
@LolaJacobsen could you kindly review the process to check if you can see how to change the order?

[2020-01-17 02:07] scanum commented on #3695
@ikukoyoneda Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:07] #3695 closed

[2020-01-17 02:07] scanum commented on #3697
@DavidMtbg Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:07] #3697 closed

[2020-01-17 02:13] scanum commented on #3698
@LolaJacobsen Please could you confirm if you are agree to update this article? Or if you know that there is some update in process? I can do it but want to confirm with you first.

[2020-01-17 02:15] scanum commented on #3764
@PaulMaggs We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-17 02:15] #3764 closed

[2020-01-17 03:07] hyoshioka0128 opened #3797 "[LOC]"Microsoft Teams のルーム" needs to be replaced with "Microsoft Teams Rooms""
ja-jp:"https://docs.microsoft.com/ja-jp/MicrosoftTeams/room-systems/skype-room-systems-v2-0"
![skype-room-systems-v2-0_j](https://user-images.githubusercontent.com/40815708/72581213-e3656b00-3921-11ea-8d52-008fbacd66cb.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1c25c286-2a25-19d1-6847-f2324b3deb73
* Version Independent ID: 0c82ef28-f9c8-1845

[2020-01-17 03:12] hyoshioka0128 opened #3798 "[LOC]"Microsoft Teams の会議室" needs to be replaced with "Microsoft Teams Rooms""
ja-jp:"https://docs.microsoft.com/ja-jp/MicrosoftTeams/room-systems/skype-room-systems-v2-0"
![skype-room-systems-v2-0_j2](https://user-images.githubusercontent.com/40815708/72581415-a057c780-3922-11ea-8d6e-f0e6f9fd7cb4.png)

em-us:
![skype-room-systems-v2-0_e2](https://user-images.githubusercontent.com/40815708/72581404-9766f600-3922-11ea-8086-2846c433b6db.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集し

[2020-01-17 03:26] danmyhre commented on #3149
#reopen - the important note still doesn't make sense.  It is making it sound like you can buy a calling plan add-on with the business O365 subscription.  You can't.  You have to switch to E3 or E5.

[2020-01-17 03:53] hyoshioka0128 opened #3799 "[LOC]"Microsoft Teams 室" needs to be replaced with "Microsoft Teams Rooms""
ja-jp:"https://docs.microsoft.com/ja-jp/MicrosoftTeams/room-systems/srs2-lifecycle-support"
![srs2-lifecycle-support_j](https://user-images.githubusercontent.com/40815708/72583028-14489e80-3928-11ea-9097-e984ca6bc1cc.png)

en-us:
![srs2-lifecycle-support_e](https://user-images.githubusercontent.com/40815708/72583083-478b2d80-3928-11ea-847e-71758f1eb679.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでくだ

[2020-01-17 08:39] hyoshioka0128 commented on #3797
en-us:"https://docs.microsoft.com/en-us/MicrosoftTeams/room-systems/skype-room-systems-v2-0"
![skype-room-systems-v2-0_e](https://user-images.githubusercontent.com/40815708/72597065-55ed3f80-3950-11ea-8197-0a7b9e02187e.png)

[2020-01-17 08:48] Reeced40 commented on #3729
@tangx007 Thanks for reaching out. I will investigate further with the team.

[2020-01-17 08:54] hyoshioka0128 opened #3800 "[LOC]"Microsoft Teams 室" needs to be replaced with "Microsoft Teams Rooms""
ja-jp:"https://docs.microsoft.com/ja-jp/MicrosoftTeams/room-systems/srs2-release-note"
![srs2-release-note_j](https://user-images.githubusercontent.com/40815708/72597878-0740a500-3952-11ea-9373-1f98a0651035.png)

en-us:
![srs2-release-note_e](https://user-images.githubusercontent.com/40815708/72598110-7b7b4880-3952-11ea-9ef1-6e1f9cb6b83a.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.micros

[2020-01-17 09:00] hyoshioka0128 opened #3801 "[LOC]"Microsoft Teams のルーム" needs to be replaced with "Microsoft Teams Rooms""
ja-jp:"https://docs.microsoft.com/ja-jp/MicrosoftTeams/room-systems/srs-v2-prep"
![srs-v2-prep_j](https://user-images.githubusercontent.com/40815708/72598478-386da500-3953-11ea-8983-0af6dd169005.png)

en-us:
![srs-v2-prep_e](https://user-images.githubusercontent.com/40815708/72598484-3acfff00-3953-11ea-9a72-1e0f760c6952.png)

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ Gi

[2020-01-17 10:21] hosebei opened #3802 "Which role is required?"
Can you please outline, which role is required to manage App policies? At the begininng of the article, it is stated "As an admin", but what Admin?
I have tried with Teams Service Administrator, but this does not allow me to manage the App Policies in the teams admin portal.
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-01-17 10:31] hosebei commented on #3802
as addition, the following message appears on top of the page:
We can't load the apps catalog data right now. Please try again. If it's still a problem, contact {SupportLink}.
----
And yes, the support link is not redacted or something, the message that appears is shown exactly like I have posted it.

[2020-01-17 14:14] cgskreddy opened #3804 "Looking for Power shell commands to manage Org-Wide Holidays"
I could not find any Microsoft K.B. Article about power-shell commands to manage Org-Wide holidays in Teams admin center for Auto-Attendants. Appreciate to share if any

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9908d77-78bc-ce88-ba84-4f1bd9fea504
* Version Independent ID: 37118dd4-d036-8da7-d750-4c9f503a370a
* Co

[2020-01-17 16:40] GiantCrocodile commented on #3692
This issue is not fixed @scanum. See the pull request which @dariomws306 did create. There are open questions and the changes weren't merged.

[2020-01-17 18:19] aacostab opened #3805 "SipTesterClient Script gives me an error"
I see this error when I try to runn the SipTesterClient.ps1 script:

**C:\Users\IDN CENTRAL\Downloads\TEAMS\SipTesterClient.ps1 : Parameter set cannot be resolved using the specified named
parameters.
    + CategoryInfo          : InvalidArgument: (:) [SipTesterClient.ps1], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : AmbiguousParameterSet,SipTesterClient.ps1**

---
#### Docume

[2020-01-17 21:07] nivdolgin opened #3806 "SkypeRoomProvisioningScript.ps1 skripts fails on ExO using MFA'protected Global admin"
tried using the script for a cloud-only environment (with ADConnect/ADDS on prem) but couldn't get past the mailbox provisioning ("#########" reaplce real data below):

*************************************
Provision O365 Exchange Room Mailbox
*************************************
Is the Exchange Online admin account different than the Global Administrator account?
Enter 1 for Yes and 2 for No: 2

[2020-01-17 21:57] chtartMSFT opened #3808 "The first sentence is very confusing"
The first sentence is very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ddf1c3c-7fb9-ff3c-e8cd-af75999c78cb
* Version Independent ID: 6178c672-003f-8f99-f4ab-cf9b06cf5ede
* Content: [Contact the PSTN service desk - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/manage-phone-numbers-for-y

[2020-01-18 04:21] maspange opened #3809 "There is no Windows Server 2019 Domain Functional Level"
Hi,

The article mentions Windows Server 2019 Domain Functional level as compatible with Skype for Business Server 2019 but there is no such level available at present. The highest Domain and Forest functional level you can set in a Windows Server 2019 Active Directory environment is 2016.

Thank you

[2020-01-18 15:29] JemmyWong commented on #3776
Hi @scanum Is there any update?

[2020-01-19 11:28] uberseehandel opened #3810 "NHS Action on FHIR compliance"
Is there any information about NHS Hospitals' involvement in this project? I continuously run into problems with information being stored in local silos, even when there are partnerships in place.

For example, it isn't very helpful to be able to access a scan image, without the accompanying report.

To quote an expert on these matters, "I'm undead, I'm not unreasonable".

---
#### Document Detail

[2020-01-19 21:44] Jason-ACESGroup opened #3811 "Step 3 Not Correct"
Step 3 #1 States: In the Microsoft 365 admin center, go to Settings &gt; Services & add-ins;
There is no longer a Services & add-ins link at this location.  Can't find where to go for this step now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f737e278-7c89-e048-b60b-287615a829fb
* Version Independent ID: 1df35258-73

[2020-01-19 21:49] Jason-ACESGroup opened #3812 "Step 4 Not Correct"
There is no more Security and Compliance link in the Office 365 admin section. The initial treasure hunt for this in the new Security and Compliance section came up empty.  Please update this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f737e278-7c89-e048-b60b-287615a829fb
* Version Independent ID: 1df35258-736

[2020-01-20 02:01] yankeedoodlegandy83 opened #3813 "Missing latest release"
Missing 4.3.33.0 which has been pushed out to all clients now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1365f9b8-001c-daa7-592e-d88b9bb3a10e
* Version Independent ID: ffba1b4d-1f19-4dac-0b55-053d98fe26b7
* Content: [Release notes - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/room-systems/srs2-

[2020-01-20 05:39] scanum commented on #3797
@hyoshioka0128 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:39] scanum commented on #3798
@hyoshioka0128 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:39] scanum commented on #3799
@hyoshioka0128 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:39] scanum commented on #3800
@hyoshioka0128 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:39] scanum commented on #3801
@hyoshioka0128 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3802
@hosebei Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3804
@cgskreddy Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3805
@aacostab Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3806
@nivdolgin Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3808
@chtartMSFT Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3809
@maspange Could you please link the article you are referring to? Thanks!

[2020-01-20 05:40] scanum commented on #3810
@uberseehandel Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3811
@Jason-ACESGroup Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3812
@Jason-ACESGroup Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 05:40] scanum commented on #3813
@yankeedoodlegandy83 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-20 06:35] maspange commented on #3809
Hi Manuala,

https://docs.microsoft.com/en-us/skypeforbusiness/plan/system-requirements

Section I'm referring to:

The domain functional level of any domain you deploy Skype for Business Server 2019 into, and the forest functional level of any forest you deploy Skype for Business Server 2019 into, must be one of the following:

Windows Server 2019

Windows Server 2016

Windows Server 2012 R2

Win

[2020-01-20 07:24] troyphil commented on #3326
So shouldn't step 5 of this article be updated with the appropriate license
names from the other article?

On Thu, Jan 9, 2020 at 8:55 PM VLG17 <notifications@github.com> wrote:

[2020-01-20 09:00] VLG17 commented on #3326
@troyphil you are right. I've added a note pointing to the article you mentioned, where the newer licenses are described. This way, people who have "older" licenses still can relate to the information about Plan 2 and 3.

[2020-01-20 09:14] OfficeGlobal commented on #3768
@scanum it seems, the problem is in the source file, I can see ::: notation there as well
![image](https://user-images.githubusercontent.com/47977325/72713348-2d8e5c80-3b6d-11ea-8418-92469dfafe54.png)
(https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/migrate-slack-to-teams.md)

Could you please update the source to "**!\[** ImageDescription **\]\(** ImagePath **\)**" ?

[2020-01-20 10:26] olasandness commented on #3785
This is still in "rolling out" phase, hence not available yet. Coming in second quarter of 2020 it seems. According to the roadmap: https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=discovery%2Cof%2Cprivate%2Cteams

[2020-01-20 10:33] kevmaitland commented on #3726
The Graph API reports contain different data from the reports run via the web console (both fields returned and data included), and this is not helpful.

E.g. the Graph API returns 335 records (but no users added within the past 7 days) with these fields: Report Refresh Date, User Principal Name, Last Activity Date, Is Deleted, Deleted Date, Assigned Products, Team Chat Message Count, Private Chat

[2020-01-20 11:52] EvgenyArtemyev opened #3815 "Read receipts features in Teams Client?"
Does the status of reading is available in MS Teams Client?
We see it on admin site only.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34f3188-0af5-f972-9d28-959f5f7866a2
* Version Independent ID: fab26e11-a729-92a4-3ea6-8668dca55dd0
* Content: [Manage messaging policies in Teams - Microsoft Teams](https:

[2020-01-20 12:48] hubbardw opened #3816 "Outdated"
This documentation seems to be outdated. When you go to the Teams Admin Center (at least under a Microsoft 365 license), the Users tab does not provide an "Edit" option. There is an Edit Settings button but that seems to take you to a different location than what's expressed above. Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-01-20 15:40] heymybru commented on #3368
Can you clarify the following statement in Step 2 - point 4

"For guest access to work at all in Teams, you must set Members can invite to Yes."

Does this mean that Guests accessing teams will not have a full experience unless Members can invite is set to Yes.

[2020-01-20 16:39] AnnaValo2020 opened #3817 "No support for other issues with numbers"
There is no possibility to log a ticket/ask for help for any issue with numbers. My company has an issue with assignment of toll-free number on the resource. We see "We can't get any phone numbers right now. Please try again. If you continue to have problems, contact Microsoft support." It redirects on this page and the only info I see is "If you need help with getting or transferring numbers..".

[2020-01-20 17:08] Christian-e-S opened #3818 "Confusing Statement in Step 2"
In step 2, there is a note: "For guest access to work at all in Teams, you must set Members can invite to Yes."

Does this mean, that guest access in Teams would not even work if admins are adding the guest to the group?
If this is really the case, then I could never have (i) guest access in teams, and a (ii) strictly controlled management (i.e., exclusively by the admin) of the AD at the ssame ti

[2020-01-20 20:35] Sezotove opened #3819 "Emergency Calling via Direct Routing"
This entire section needs a revision and further steps on how to properly set this up. The article is lacking links to commands mentioned and any kind of viable setup notes. I've attempted and am now a month into support trying to resolve this as well. They too have been confused by this and admit there is a lack of useful information on this article.

---
#### Document Details

⚠ *Do not edit thi

[2020-01-20 22:50] MySkypeLab opened #3820 "Typo"
"Any Teams cleintg."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e26faf8c-529e-b317-5934-cd41cfe8fa24
* Version Independent ID: 3ddd5d0a-6dbb-4940-1814-8346e293701b
* Content: [Plan Direct Routing - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/direct-routing-plan)
* Content Source: [Teams/direct-

[2020-01-21 02:14] scanum commented on #3815
@EvgenyArtemyev thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-01-21 02:14] #3815 closed

[2020-01-21 02:15] scanum commented on #3817
@AnnaValo2020 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-01-21 02:15] #3817 closed

[2020-01-21 02:15] scanum commented on #3820
@MySkypeLab  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-21 02:15] scanum commented on #3819
@Sezotove  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-21 02:15] scanum commented on #3818
@Christian-e-S  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-21 02:15] scanum commented on #3816
@hubbardw  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-21 04:38] SvenBell opened #3821 "Insert QoS markers setting"
Could you please add some clarification as to why the Teams Admin Portal&gt;Meeting settings setting: "Insert QoS markers for real-time traffic" is off by default?
Also, when this setting should not be turned on and reasoning why?
Why is this setting under "Meetings setting" and not Org-wide settings&gt;Teams settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-01-21 04:40] marcolsh opened #3822 "Deleted Message Inconsistent Across Devices / Software"
We tested across several devices and software for deleted message.

If user having a laptop always logged in with Apps-Microsoft Team, their message won't be deleted even the messages found deleted in MobileApps-Teams / Web Based Teams.

It just like keeping a local copy won't be deleted / sync deleted until user physically Logout / Re-Login.

It caused potential risk that user keep referencing th

[2020-01-21 06:12] patrichard opened #3823 "Will a change of license lose mailbox?"
Wouldn't moving from something like an E3 or E5 to a Meeting Room SKU remove the associated mailbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2070d20-21d1-c8bb-bbb4-697083efcd20
* Version Independent ID: f4998e3c-74ed-4a2b-fe7c-c55044b9a6b4
* Content: [Microsoft Teams Rooms licenses - Microsoft Teams](https://do

[2020-01-21 07:26] ZaneFan opened #3824 "make this policy can be assigned team by team"
Users might be added into different teams.  Please make the experience in different teams can be split.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b51eda6c-168c-7d99-7cc1-992b3d8feef2
* Version Independent ID: 118a1b8f-f4b7-a778-70b1-d3161fc548ab
* Content: [Manage app permission policies in Microsoft Teams - Micro

[2020-01-21 10:28] JamesG72 opened #3825 "Unassign process not working"
When I go to Voice, and phone numbers, then select the user, and click on the x to remove a number, and click 'apply', it asks me to click 'unassign' and then comes up with this error:

We can't unassign ‪+44 28 9592 NNNN‬ right now. Please try again later.

Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c

[2020-01-21 14:19] cdhayward commented on #3000
I think I've answered my own question.  Looks like you need a different DNS name for each derived trunk.

Whilst it's possible to create multiple PSTN Gateways in the Carrier tenant with different FQDNs and ports, it's not possible to specify a port with New-CsOnlineVoiceRoute in the customer tenants, only New-CsOnlinePSTNGateway can do this.

Therefore I think it would need to look like:

**Carri

[2020-01-21 14:28] fowler9 commented on #3000
@cdhayward

I think you're correct. I've been trying to work it out myself as the docs aren't great on this but that's the way I've planned it. I'm doing some testing in the next few days to test resilience so will confirm then.

My only query which I'm not sure is on wildcard certs. We currently have a wildcard certificate for our 1st SBC *.uk1.customers.mydomain.com, we also have a *.customers.m

[2020-01-21 16:13] jamesbayliss opened #3826 "No documentation on in-room controls for MTR."
It'd be cool if you documented on how we go about adding or developing in-room controls on a MTR system. We'd like to add features for controlling lighting, HVAC, etc. I really hope that is available and open rather than being locked down to vendor's hardware. Where can I find it if it exists?

[2020-01-21 16:35] richardb52 opened #3827 "Site Collection Sharing setting Overrides AD Manage external collaboration settings."
We have noticed that even if "Members can invite" is set to no in Manage External collaboration settings (Step 2), the site collection Sharing setting for "New and existing guests" overrides it and lets members invite external guests.

Can you let me know if this is by design or a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-01-22 01:29] todk opened #3828 "The instructions on this page could not be more wrong"
When I follow these instructions, I see NO add-on for Communications Credits in the admin portal. That is just great because we used all our minutes and cannot dial out, but there is NO way for me to add more credits.  I can find out phone numbers, and per minute charges and every other detail, but CANNOT FIND OR BUY ANY CREDITS.

Oh, well.  Only 10 days left in the month that we won't be able to

[2020-01-22 12:20] thomas414 opened #3829 "User for activating Domain"
After the release of the phonesystem - virtual user licenses, is it still needed to license the activation users with E1 / E3 / E5 or can they be licensed with the new licenses, both for the carrier domain and the customer domain?

I tried it with one of our customer domains a few weeks ago and it is still working, so i assume it works for customer domain, maybe the documentation should be updated

[2020-01-22 14:04] Petri-X opened #3830 "When we get more logs available?"
Hi,
What are the current plans to get the following limitation:

To get higher than 30 days?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dedf646c-c5dc-5645-54a2-1bca0d406f45
* Version Independent ID: 9a52f0b1-2970-559e-2d18-8e565662ca26
* Content: [Call Analytics and Call Quality Dashboard - Microsoft Te

[2020-01-22 14:08] bf80 opened #3831 "Wrong Version / links"
On the webpage for VDI the downloadlink for the MSI is:
https://statics.teams.cdn.office.net/production-windows-x64/1.2.00.32462/Teams_windows_x64.msi
(Version 1.2.00.32462)
Bute while searching for Version numbers and release Notes I found this:
https://statics.teams.cdn.office.net/production-windows-x64/1.3.00.362/Teams_windows_x64.msi
(Version 1.3.00.362)

On the Teams Webpage it is this link f

[2020-01-22 14:10] bf80 commented on #3559
I just found this by editing links manually, seems the current one:
https://statics.teams.cdn.office.net/production-windows-x64/1.3.00.362/Teams_windows_x64.msi

[2020-01-22 14:38] julie174 opened #3832 "hello everyone"
just wanted to let you all know that i have a lot of fun working here with you guys keep up the good work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a795a46e-52eb-c338-8bd2-fd0133cfcfd0
* Version Independent ID: 1d64ea4b-376b-4845-c5e0-ce90f8ed6089
* Content: [Welcome to Microsoft Teams - Microsoft Teams](https://d

[2020-01-22 14:39] docbt commented on #3785
Rollout phase? The missing search filed in the Teams UI is a new issue. It was there in the past!

If I run the "Set-Team" command, it fails with:
`Set-Team : Error occurred while executing
Code: BadGateway
Message: Failed to execute backend request.`

[2020-01-22 15:29] flinchbot opened #3833 "MSI Extract note is incorrect."
This command worked for me: msiexec /a c:\temp\SRSDeploymentKit-4.3.33.0.msi /qb TARGETDIR=c:\temp\MTR

The sample command starts with the option /qn (quiet, no UI) which conflicts with the /qb flag (quiet, basic UI). Further, no mandatory option is used (/i, /a, /x, etc. ). So every time you run the command as listed in the Note, it pops up the Windows Installer help window.

---
#### Document De

[2020-01-22 16:30] scanum commented on #3821
@SvenBell Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-22 16:30] scanum commented on #3824
@ZaneFan Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-22 16:31] scanum commented on #3826
@MOctopuso Hi, thanks for your feedback. Could you please link the document you are referring to? Thanks.

[2020-01-22 16:32] scanum commented on #3828
@todk Thanks for the feedback, could you please link the documentation you are referring to?

[2020-01-22 16:32] scanum commented on #3831
@bf80 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-22 16:33] scanum commented on #3832
@julie174 Hi Julie, thanks for the message!

[2020-01-22 16:33] #3832 closed

[2020-01-22 16:33] scanum commented on #3833
@flinchbot Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-22 16:36] scanum commented on #3829
@thomas414 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-01-22 16:36] scanum commented on #3830
@Petri-X thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-22 16:36] #3829 closed

[2020-01-22 16:36] #3830 closed

[2020-01-22 16:36] scanum commented on #3827
@richardb52 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-22 16:36] #3827 closed

[2020-01-22 16:36] scanum commented on #3824
@ZaneFan thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-22 16:36] #3824 closed

[2020-01-22 16:36] scanum commented on #3823
@patrichard thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-22 16:36] #3823 closed

[2020-01-22 16:36] scanum commented on #3822
@marcolsh thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-22 16:36] #3822 closed

[2020-01-22 16:37] scanum commented on #3825
@JamesG72 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-22 16:37] #3825 closed

[2020-01-22 17:11] grahammw opened #3834 "Software Updates section"
The PowerShell command under https://docs.microsoft.com/en-us/microsoftteams/room-systems/room-systems-v2-operations#software-updates does not work.  Please can it be corrected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd52fe62-457b-c9e1-ad13-a9b1f24c9c38
* Version Independent ID: 6a8c3285-30e1-15a8-6472-f0cfe5b30

[2020-01-22 17:21] todk commented on #3828
https://docs.microsoft.com/en-us/microsoftteams/set-up-communications-credits-for-your-organization

Someone must have updated these instructions in the middle of deploying the new admin center UI.  Part of the instructions are correct for the OLD admin center UI, and part are correct for the NEW, but the instructions are incorrect and highly confusing if you just try to follow them.

Only through

[2020-01-22 18:51] willislt opened #3835 "Max name length for teams and channels"
Is there a limit (such as 60 characters) for TEAM name and/or CHANNEL names?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specifications for Microsoft Teams - Microsoft Teams](https://docs.micros

[2020-01-22 19:14] jasonfare opened #3836 "Windows 10 Multisession WVD Install"
getting an error when trying to install this on windows 10 multisession:
Installation has failed
Cannot install for all users when a VDI environment is not detected.

How do I get it to tell that I'm installing this in WVD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17880b9d-6b98-3194-cc33-fe8067ce241e
* Version In

[2020-01-22 19:15] Chad-Campus opened #3837 "Opt out Section"
Says to go into your Skype Desktop Business Client, click Options - Call Forwarding.

There is no Edit Settings Online.  We have an On Prem-Server in Hybrid Mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b755d9ae-13ac-019f-f5f4-a95b1eee2989
* Version Independent ID: f7afd8ad-e6e0-6c79-aed1-4ee87d48ba12
* Content:

[2020-01-22 19:17] Chad-Campus commented on #3837
![optout](https://user-images.githubusercontent.com/52751067/72926106-d8477c00-3d21-11ea-9c50-9d41a445d1e4.PNG)

[2020-01-22 20:54] mobernberger commented on #3571
Do we have any news on this one? Thanks

[2020-01-23 06:22] kkazala commented on #3698
Regarding https://docs.microsoft.com/en-us/microsoftteams/known-issues#apps: "Assignments" can be hidden in EDU using Teams admin, Teams apps > Permission Policies > Org-wide app settings > Blocked apps

[2020-01-23 09:32] robhardman opened #3839 "Microsoft 365 E5"
Microsoft 365 E5 is missing from the subscription list on this page. If a tenant has 300 or fewer people, but at least one is licensed for Microsoft 365 E5, is that tenant excluded from the product?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35057f71-792b-a4e2-a2ee-a4908c11f3a4
* Version Independent ID: 7e23f067-1d

[2020-01-23 10:01] Larryngolog opened #3840 "Change of URLs to the MTR section"
Hi! Looks like overnight url to the MTR section of docs has changed from /microsoftteams/room-systems/ to /microsoftteams/rooms/ leading to broken URLs. Is it possible to deploy redirections to the old urls so we would have some time to get all the indexers to notice the new URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-23 11:09] MOctopuso commented on #3826
@scanum - We have seen images and documentation, such as this [blog post](https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-teams-rooms-december-update/ba-p/1069456) - Where you mention, **_Get to Room Controls / OEM extension with ease_** - But we cannot find any documentation on how we add our own room controls? We'd love to develop our own room controls, but cannot find any

[2020-01-23 14:52] lindspea commented on #3655
@LanaChin

[2020-01-23 15:47] BryanNyce commented on #3770
This statement is correct. Phone System is only supported in Microsoft Teams (Teams Only mode). Working does not mean supported; Islands is not a supported mode with Teams Direct Routing (and Phone System in general).

[2020-01-23 16:21] GiantCrocodile commented on #3828
@todk Replying via email with inserted images won't work. You have to do it via the Github website. The reply via email function of Github is a bit suboptimal.

[2020-01-23 16:25] GiantCrocodile commented on #3698
Microsoft support confirmed in service request #‎18296425‎ that they have no clue about a specific Microsoft Teams issue listed on the known issue page I talk about: They are not able to provide information if it's actively being worked on, what the current status is nor what a possible ETA for a fix could be. Seems like the page is quite useless because it's not linked to the proper internal bug

[2020-01-23 17:49] dgordonb opened #3841 "Include Business Voice in the content."
my MS email address is dobro@microsoft.com.   MS has recently released the Microsoft Business Voice product which has all the functionality of the enterprise phone system bundled together for the SMB customers and applicable to the "B" O365 SKUs.  .
Please update the documentation to include details on Business Voice to help reduce customer confusion.

---
#### Document Details

⚠ *Do not edit thi

[2020-01-23 17:53] daurkin opened #3842 "Has the Outlook Presence been fixed yet when in Teams Only mode and no Skype installed?"
I want to roll out Teams Only mode and I'm getting push back because it breaks the Outlook Presence Icon when Skype is uninstalled.  Is this fixed or still outstanding?  Is it still an issue if I upgrade the Tenant Wide setting to Teams Only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a162ef5c-3099-7f58-4178-d29e3e

[2020-01-23 18:39] scanum commented on #3834
@grahammw Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-23 18:39] scanum commented on #3839
@robhardman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-23 18:39] scanum commented on #3840
@Larryngolog Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-23 18:39] scanum commented on #3841
@dgordonb Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-23 18:42] scanum commented on #3842
@daurkin thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-23 18:42] #3842 closed

[2020-01-23 18:42] scanum commented on #3835
@thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted h

[2020-01-23 18:42] #3835 closed

[2020-01-23 18:42] scanum commented on #3836
@jasonfare thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-01-23 18:42] #3836 closed

[2020-01-23 18:42] scanum commented on #3837
@Chad-Campus thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-23 18:42] #3837 closed

[2020-01-23 18:48] todk commented on #3828
I figured it out.  I shared the info to correct your documentation, but I’ve already spent waaaaay more time on this than I need to.

On Jan 23, 2020, at 10:21 AM, Clemens Prill <notifications@github.com<mailto:notifications@github.com>> wrote:

@todk<https://github.com/todk> Replying via email with inserted images won't work. You have to do it via the Github website. The reply via email function

[2020-01-23 20:31] LanaChin commented on #2826
Merged changes by @VLG17.

[2020-01-23 20:31] #2826 closed

[2020-01-23 20:53] rickleye commented on #3770
Understood. Thanks for the clarification.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bryan Nyce <notifications@github.com>
Sent: Thursday, January 23, 2020 10:47:31 AM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Richard Ojeleye <richard@voltronlions.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-01-24 00:12] dstrome commented on #3841
Hi @dgordonb - we do have BV content available on Docs. You can access it here - http://docs.microsoft.com/en-us/microsoftteams/business-voice.

Please feel free to ping me (email alias is the same as my GH account) if you want to discuss further.

[2020-01-24 00:12] #3841 closed

[2020-01-24 00:43] skywalkerisnull commented on #3735
And a few more steps, you can setup the OAuth, however a number of the powershell commands will throw errors because you are not licenses in the cloud for exchange online.

[2020-01-24 03:38] shivtorov opened #3844 "wrong PowerShell cmd in Assign a hosted voicemail policy"
The following example is incorrect:
Get-CsUser -Identity "User1" | Grant-CsHostedVoicemailPolicy -Identity "Tag:CloudVoiceMailUsers"

Correct version:
Get-CsUser -Identity "User1" | Grant-CsHostedVoicemailPolicy -PolicyName "Tag:CloudVoiceMailUsers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b8afb-b9ca-8136-b907

[2020-01-24 07:35] olasandness commented on #3785
Ok, @docbt, probably I misunderstood. I'm trying to get the "discovery of private teams" to work as well - both from the UI and using Graph/Flow. In my contact with Microsoft support, I got this:

[2020-01-24 09:13] Reeced40 commented on #3716
@GuarevES thank you for reaching out. This documentation is in the process of being updated and might be reflecting correctly now.  Here is another link that could possibly help clarify - https://docs.microsoft.com/SkypeForBusiness/hybrid/configure-hybrid-connectivity.

[2020-01-24 09:18] Reeced40 commented on #3726
@LanaChin could you perhaps assist please.

[2020-01-24 09:19] Reeced40 commented on #3727
@scanum can be closed thank you.

[2020-01-24 09:21] Reeced40 commented on #3728
@scanum there is no option to edit this article. Please check with author @SerdarSoysal @tonysmit

[2020-01-24 09:40] lindspea commented on #3206
@Everett42 I see the article has been updated in January. Has the issue been solved?

[2020-01-24 09:53] DimitriBD commented on #3804
@cgskreddy Same, as far as I can tell they are non-existent...

[2020-01-24 13:29] AlexanderSaad opened #3847 "Serial routing not working as described in the docs"
Hi,
In the docs it's written that:
"Serial routing will skip agents who are Offline, have set their presence to Do not Disturb, or have opted out of getting calls from this queue."
**NB! This is not correct. Agents that are Offline or Do Not Disturbe are not skipped and the caller does have to wait a specific number of seconds (30 by default) until the call is transferred to the next agent.**
This

[2020-01-24 17:18] codelux commented on #3576
Hello @TokyoScarab any updates on this?

[2020-01-24 17:47] scanum commented on #3847
@AlexanderSaad Hi! Thanks for the feedback, could you please link the documentation you are reffering to? Thanks!

[2020-01-24 23:29] scanum commented on #3709
@kennybilko Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-24 23:29] #3709 closed

[2020-01-24 23:30] scanum commented on #3711
@officeglobal Hi! Could you please aid with this issue? Thanks

[2020-01-24 23:31] scanum commented on #3715
@mart-th thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-24 23:31] #3715 closed

[2020-01-24 23:31] scanum commented on #3716
@GauravES Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-24 23:31] #3716 closed

[2020-01-24 23:32] scanum commented on #3725
@darrmitchell We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-24 23:32] #3725 closed

[2020-01-24 23:32] scanum commented on #3727
@OfficeGlobal Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-24 23:32] #3727 closed

[2020-01-24 23:33] scanum commented on #3729
@CarolynRowe Hi Carolyn, wondering if there are any updates on this.

[2020-01-24 23:39] scanum commented on #3751
@GaelBSB thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-24 23:39] #3751 closed

[2020-01-24 23:39] scanum commented on #3753
@HandyAndyOnGitHub thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Pleas

[2020-01-24 23:39] #3753 closed

[2020-01-24 23:43] scanum commented on #3763
@officeglobal Could you please help on this issue? Thanks!

[2020-01-24 23:44] GauravES commented on #3716
How do I reopen this issue?   I cant see anywhere in the docs that this issue has been addressed.

[2020-01-24 23:48] scanum commented on #3769
@bastienczl thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-24 23:48] #3769 closed

[2020-01-24 23:49] scanum commented on #3770
@rickleye Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-24 23:49] #3770 closed

[2020-01-24 23:49] scanum commented on #3771
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-01-24 23:49] #3771 closed

[2020-01-24 23:49] scanum commented on #3772
@ryanbuening thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-24 23:49] #3772 closed

[2020-01-24 23:50] scanum commented on #3776
@JemmyWong thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-01-24 23:50] #3776 closed

[2020-01-24 23:51] scanum commented on #3785
@omarmallat Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-24 23:51] #3785 closed

[2020-01-24 23:54] dstrome commented on #3839
hi @robhardman - E5 licenses already include Phone System and Audio Conferencing so there's no need to buy additional Business Voice licenses for users with that license. That doesn't, however, prevent you from adding E3 licenses, for example, and adding Business Voice licenses to those users.

[2020-01-24 23:54] #3839 closed

[2020-01-25 00:03] scanum commented on #3805
@aacostab thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-25 00:03] #3805 closed

[2020-01-25 00:03] scanum commented on #3806
@nivdolgin thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-01-25 00:03] #3806 closed

[2020-01-25 08:57] AlexanderSaad commented on #3847
Hi @scanum, the document is the following:
https://docs.microsoft.com/en-us/microsoftteams/create-a-phone-system-call-queue
There is a pull request also open about the same issue:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/pull/3846#issue-366761193
Thank you for having a look at it, as there are multiple Microsoft customers complaining about the issue.

[2020-01-26 04:22] HandyAndyOnGitHub commented on #3753
I've already raised a Service Ticket and they won't look at it because the
feature is in Beta and told me to raise it here so the Product Team could
address the issue.

On Sat, Jan 25, 2020 at 12:39 PM Manuela Scanu <notifications@github.com>
wrote:

[2020-01-27 07:23] OfficeGlobal commented on #3711
Working on a fix

[2020-01-27 07:45] OfficeGlobal commented on #3763
Working on a fix

[2020-01-27 10:15] JonathanChristie-BHIT opened #3850 "SIP Signalling IPs and URLS"
SIP Signalling IPs and URLs are not list in the office 365 IPs and URLs page or .json feed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e26faf8c-529e-b317-5934-cd41cfe8fa24
* Version Independent ID: 3ddd5d0a-6dbb-4940-1814-8346e293701b
* Content: [Plan Direct Routing - Microsoft Teams](https://docs.microsoft.com/en-u

[2020-01-27 10:21] JonathanChristie-BHIT commented on #3850
Sorry - my subnet calcs arent what they used to be. IP covered under 52.112.0.0/14
I need coffee.

[2020-01-27 10:21] #3850 closed

[2020-01-27 10:49] nicolasmounition opened #3851 "and what about the SSAE 18? Does this post need to be updated?"
The SSAE 16 seems to be replaced by the SSAE 18 for any report published after may the 1rst of  2017...
Is Microsoft late on this?
Moreover I would like to know wich protocols are used for the videoconference (Teams or SKype)? SIP? H323? which videos and audios codecs are used within?

Thanks.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.co

[2020-01-27 10:54] fowler9 commented on #3000
@cdhayward Just to let you know, I tested this over the weekend and it worked well. Had load sharing between 2 SBC's. Then brought down 1st SBC and calls reverted to go out over the 2nd SBC, then reversed it and calls went out over working 1st SBC. Pretty immediate the response with no attempted failed calls.
Ended up using a certificate *.uk2.customers.mydomain.com rather than the original *.cust

[2020-01-27 13:41] viperscape opened #3852 "Invalid folder names"
The documentation mentions channel name requirements but the same requirements should be stated for folder names. It's currently possible to sync a folder with OneDrive to SharePoint that includes an invalid character, Teams app cannot handle such folder names and files inside will be inaccessible.

[2020-01-27 19:31] tpmeredith opened #3853 "Misleading"
It is highly misleading to say this:

Will you support third-party development opportunities in Teams?
Yes, app integration is one of the key benefits of adopting Teams. We currently support third-party bots, connectors, and extensions in Teams. In addition, we have a large ecosystem of add-ins available in the Microsoft Teams app store.

Years later there are still major functionality gaps with t

[2020-01-27 20:26] richeklund opened #3854 "Prepare the installation media out of date?"
The "Prepare the installation media" section is out of date as our new Logitech Tap device is not listed in the CreateSRSMedia.ps1 script when ran. No one can seem to tell me how to "image" this device in the event we can no longer boot into Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8b204f-9650-d268-856

[2020-01-27 22:14] SerdarSoysal commented on #3728
Here's a link to GitHub directly. You can edit the article there. https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Skype/SfbOnline/set-up-your-computer-for-windows-powershell/download-and-install-windows-powershell-5-1.md  @kenwith

[2020-01-27 22:18] LolaJacobsen commented on #3698
@marclauinger please respond.

[2020-01-27 22:20] #3844 closed

[2020-01-28 00:18] marclauinger commented on #3698
This article is reviewed periodically and issues added/removed as needed.  Another thorough review is underway.

[2020-01-28 00:35] dstrome commented on #3649
hi @TorrenManson The topic shows AA/CQ image updates. Please let us know if you still see discrepancies. thanks!

[2020-01-28 00:35] #3649 closed

[2020-01-28 07:32] sowjanya365 commented on #3474
Hi @white-tim

Thank you for your feedback!

At the moment, we do not have the field level description for all the settings. We will definitely consider to include the suggested settings in the upcoming documentation upgrade.

In the meantime, would you be so kind as to open a service ticket in your tenant and let the team know if you are looking for any specific field description. The team will c

[2020-01-28 09:15] agibsen opened #3855 "Where to find "Microsoft Teams admin center"?"
/eom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce30163-6327-899b-281d-d4ef982fce5e
* Version Independent ID: e61dcbb8-4877-ef6f-1987-981cdd7fc82f
* Content: [Configure desktop sharing in Microsoft Teams - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/configure-desktop-sharing#feedback)
* Conten

[2020-01-28 09:47] Jerx88 opened #3856 "Conditional Access issue"
Regarding the issue: "Conditional Access may not work when using the "Website" tab in the desktop app". Are there any plans in getting this fixed? I was wondering if the new Edge client could be used as the "browser" in Teams? Since this seems to support Conditional Access out of the box without the use of plugin (like Chrome does require).

---
#### Document Details

⚠ *Do not edit this section.

[2020-01-28 10:12] thomas414 commented on #3829
@scanum thank you for the suggestion.
Answer from the ms support team is following: "based on the documentation the virtual phone system license is only to be used for a resource account for auto attendants and call queues. Please review the documentation https://docs.microsoft.com/en-us/microsoftteams/teams-add-on-licensing/virtual-user . Also cannot be assigned to a user because would not replac

[2020-01-28 11:03] Manfred538 commented on #3265
while looking into that; also change the registy entry (reg81FF20B1B50A706C9CA188B86C189198) "#%%ProgramFiles%\Teams Installer\Teams.exe --checkInstall --source=[SOURCE]" to "#%[APPLICATIONROOTDIRECTORY]Teams.exe --checkInstall --source=[SOURCE]" to prevent the problem of changing install location breaks install as stated in the note above.

[2020-01-28 13:13] GiantCrocodile commented on #3855
I did create a pull request to improve the docs regarding your suggestion of adding a link to the Microsoft Teams admin center.

You can find the Microsoft Teams admin center here: https://admin.teams.microsoft.com/

[2020-01-28 13:28] GiantCrocodile commented on #3852
Hi @viperscape! Can you provide a link to the docs you are talking to improve about? I'm curious about this as I wasn't aware of this issue. Thank you!

[2020-01-28 14:13] gbeaudoin78 commented on #3796
@hnewmanca Did you got a better answer from a service ticket or another mean of communication with Microsoft?

[2020-01-28 15:03] krkutser opened #3859 "Need to also mention Canada when telling where to send request"
This should look something like this:

For help with phone numbers **inside** the U.S. or Canada, send your request.
For help with phone numbers **outside** the U.S. or Canada, send your request.

Both, US and CA are handled by the team behind PTN@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ddf1c3c-7f

[2020-01-28 15:33] Kweck commented on #3549
+1 here. Any ETA for this?
Currently the missing Planner in private channels are preventing us from using them at all.

[2020-01-28 15:46] i-windows opened #3860 "Teams s4b interop"
in the office roadmap Featured ID: 53934, the following is stated, however it doesnt seem to be reflected in the documentation above, please can you clarify?

Microsoft Teams - Screen sharing in Teams/Skype for Business interop

Enables a Teams user to share their screen in chat or VoIP call with a Skype for Business user

Featured ID: 53934
Added to Roadmap: 7/30/2019
Last Modified: 11/27/2019
Ta

[2020-01-28 16:31] scanum commented on #3851
@nicolasmounition Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-28 16:32] scanum commented on #3852
@viperscape Thank you for submitting feedback and contributing to the docs. We will investigate this once you provide the documentation. Thanks!

[2020-01-28 16:32] scanum commented on #3853
@tpmeredith Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-28 16:32] scanum commented on #3854
@richeklund Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-28 16:34] scanum commented on #3856
@Jerx88 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-28 16:34] scanum commented on #3859
@krkutser Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-28 16:34] scanum commented on #3860
@i-windows Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-28 18:04] arianasexton commented on #3774
Hello - Manuela
Can you provide an update on changing the Kollective link in this post to a non-broken url? The correct link is https://portal.kollective.app/
Thank you so much for your help.

[2020-01-28 21:36] scanum commented on #3073
@vekashi
Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-01-28 21:36] #3073 closed

[2020-01-28 22:37] Mlavieri opened #3863 "Clarification on Bit Rate"
What is the unit for Bit Rate when input into the Teams Admin Center. Both the documentation and the Admin center show KBs which conflicts with the guidance that shows a minimum of 30 Kbps. Additionally, when trying to input 30 KBs into the Teams admin center I am unable to save the Policy, it appears that 50 KBs, which would equate to 400 Kbps, is the actual minimum allowed in the Teams Admin cen

[2020-01-29 00:27] #3855 closed

[2020-01-29 01:09] #3698 closed

[2020-01-29 01:19] LolaJacobsen commented on #3379
Checking again with EDU PM.

[2020-01-29 01:22] LolaJacobsen commented on #3345
Ping'd PMs (vinbelms & Surbhi Lohia)

[2020-01-29 01:30] dstrome commented on #3694
hi @GiantCrocodile @dariomws306 The readability of the topic could definitely be improved by switching the order of the information. It's been a known issue for quite a while. Unfortunately it's not an easy change. The system that processes all the data to generate this topic does so in real time as changes are published live. Due to the way the data is stored, reversing the data when the weekly o

[2020-01-29 01:30] #3694 closed

[2020-01-29 05:03] sowjanya365 commented on #3474
@scanum Please close this issue. Thank you!

[2020-01-29 06:50] lindspea commented on #3650
@scanum this can be closed thank you.

[2020-01-29 06:56] lindspea commented on #3655
@scanum this can be closed thank you.

[2020-01-29 08:13] SimonSkotheimsvik opened #3866 "Wrong reference for powershell variable"
In the first powershell script there is a variable named $sess.
This is wrongly reffered in the following line of code:
Import-PSSession $Session -DisableNameChecking
This should be changed to
Import-PSSession $sess -DisableNameChecking

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: ee417633-3d52-646b-2ef0-94f71535d

[2020-01-29 11:39] OfficeGlobal commented on #3727
Hello,

The issue is not fixed, could you please check it ?

Thank you.

[2020-01-29 12:59] GiantCrocodile commented on #3540
Does that article apply to Microsoft Teams too, @Reeced40? It's for on premise Skype for Business Server.

[2020-01-29 13:18] GiantCrocodile opened #3867 "What about Data collection practices in Microsoft Teams?"
Hello,

according to my understanding this page is written for Microsoft Teams and Skype for Business. Yet I miss information for Microsoft Teams. I need some clarifications:

1. How can usage data and error reporting data be disabled/controlled for Microsoft Teams? Right now the doc just states Skype for Business .
2. Please add step by step explanations not just for Skype clients but also for Mi

[2020-01-29 13:19] GiantCrocodile opened #3868 "Broken link"
The link to 'Customer Experience Improvement Program' is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0e0f68-d088-d0b7-cbb7-56bb16e4026f
* Version Independent ID: 8a107028-31a6-6821-a150-1ebdd7a7d440
* Content: [Data collection practices - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/dat

[2020-01-29 13:21] OfficeGlobal opened #3869 "[LOC] Invalid link in an article"
There is an invalid link in an article
**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/microsoftteams/create-a-phone-system-call-queue?bc=/skypeforbusiness/breadcrumb/toc.json&toc=/skypeforbusiness/sfbotoc/toc.json
2. Search for "Assign Skype for Business licenses"
3. Click on the second link

**Actual results**:
Link is not working
**Expected results**:
Link should either work or be re

[2020-01-29 13:26] OfficeGlobal opened #3870 "[LOC] Invalid link in an article"
There is an invalid link in an article

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/microsoftteams/create-a-phone-system-call-queue?bc=/skypeforbusiness/breadcrumb/toc.json&toc=/skypeforbusiness/sfbotoc/toc.json
2. Search for "Assign Skype for Business licenses"
3. Click on the link

**Actual results**:
Link does not work
**Expected results**:
Link should either work or be removed

[2020-01-29 13:38] GiantCrocodile opened #3871 "Improve readability by using a table"
It would be nicer if the long sentences of 'To learn more about ...' and 'More information ...' etc. are replaced by a proper table for easier and quicker reading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84f319aa-94de-bed1-2e5d-c6fe24436dac
* Version Independent ID: ee6daf32-7e03-801c-dd1b-50bf35e4635e
* Content

[2020-01-29 13:41] GiantCrocodile opened #3872 "So what's the use case/valid scenario for emergency calling in Teams?"
Is there any? The doc just states non-use cases/scenarios when you shouldn't use emergency calling in Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f27be4a4-b19d-d7b7-f277-7e0c6f7a05d3
* Version Independent ID: 5101bb44-e48b-a125-353e-5783f8b69cb4
* Content: [Emergency calling terms and conditions - Microsoft T

[2020-01-29 13:45] GiantCrocodile opened #3873 "Picture at the bottom is useless"
The picture at the bottom of the article is nice but useless: It doesn't show every existing location nor is it valid for any or most customers. The image should be replaced by a more detailed picture or by a list of data locations and regions available or something like this. Right now it is easy to be misunderstood.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-01-29 16:17] ivanja81 opened #3875 "Guidance for modes"
"This is one of the reasons why Microsoft’s prescriptive guidance to on-prem/hybrid customers is to use a mode other than Islands (typically SfBWithTeamsCollab) as the starting point of their upgrade journey to Teams"

As per my understanding our guidance is that Island mode is preferred. Above shows SfbWithTeamscollab as preferred. Can you verify with PG and cycle back?

[2020-01-29 16:56] dschuette01 opened #3876 "External Dialing Prefix a "Required" field"
When editing dial plans in the Teams admin portal, in order to test (or even to save), the "External Dialing Prefix" is marked as a required field. We do not want to use an external dialing prefix and this should not be a required field as far as I can tell. Our dial plan was originally set up in PowerShell and does not have this requirement, but to edit in the Teams Admin portal, I would need to

[2020-01-29 17:14] nikmanzotti commented on #3812
@scanum to help your investigation, I suggested the same for a different doc (see [here](https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/issues/686)), and now the proper steps are aligned with the new navigation (see [here](https://docs.microsoft.com/en-us/office365/enterprise/microsoft-365-guest-settings#microsoft-365)).

[2020-01-29 19:54] weyCC81 commented on #3116
@scanum Has there been an update on this documentation (cant find anything in the file history)?

[2020-01-29 22:59] yemiade opened #3877 "Subject to a 250 object limit¹ for Teams Creation"
From my testing, Teams Service Admins are also exempt from the limit of how many Teams they can create. This document should reflect this fact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d33162-183d-fff8-32e9-a999f391ea51
* Content: [Limits and specif

[2020-01-30 02:24] phonemyatt opened #3878 "Deleting Zero Width Character With Backspace"
When you paste this

 and hold down backspace to delete, will hang microsoft team.
The sentence is encrypted with hidden words between zero width character, full sentence is

[2020-01-30 02:27] phonemyatt commented on #3878
the website to encrypt and decrypt https://love-letter.netlify.com/

[2020-01-30 06:30] rimroot commented on #3821
I have the same question. Looking forward to get more details.

[2020-01-30 07:50] OfficeGlobal commented on #3711
@prbond , @scanum the article has been HumanTranslated and published live

[2020-01-30 07:51] OfficeGlobal commented on #3763
@hyoshioka0128 , @scanum the article has been HumanTranslated and published live

[2020-01-30 08:19] hyoshioka0128 commented on #3763
@OfficeGlobal  - Corrected.
Closed #3763.
Thanks.

[2020-01-30 08:19] #3763 closed

[2020-01-30 10:26] TobieFysh commented on #3116
@weyCC81 - The line that was added was:
"_Note the certification granted to a major version. That means that firmware with any number in the SBC firmware following the major version is supported._"
Which fulfilled my ask.

[2020-01-30 15:06] sanabriapc opened #3879 "how to identify video resolution in conferences on different devices"
Videoconferencing tests are currently being conducted between Polycom Rooms and Teams Clients, it is pixelated and the video quality is poor, how to improve the quality ?, thanks for the contributions

[2020-01-30 17:55] LolaJacobsen commented on #3379
Confirmed that tenant-level control still exists for EDU. I'm adding a note to the article today.  Thank you for all your help tracking this down.

[2020-01-30 17:55] #3379 closed

[2020-01-30 20:08] tpmeredith commented on #3853
Thanks, there really should be a disclaimer for companies using voice so they don't fall into the same trap we have fallen into. We jumped on teams only 1-2 years ago since virtually no documents at microsoft care to mention there is not a working voice API (even the one release to GA still has major gaps in functionality making a simple CTI call popup integration almost impossible). There are hun

[2020-01-31 04:46] scanum commented on #3875
@ivanja81 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-01-31 04:46] #3875 closed

[2020-01-31 04:46] scanum commented on #3876
@dschuette01 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-31 04:46] #3876 closed

[2020-01-31 04:47] scanum commented on #3879
@sanabriapc thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-01-31 04:47] #3879 closed

[2020-01-31 04:47] scanum commented on #3863
@Mlavieri  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:47] scanum commented on #3866
@SimonSkotheimsvik  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3867
@GiantCrocodile  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3868
@GiantCrocodile  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3869
@OfficeGlobal  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3870
@OfficeGlobal  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3871
@GiantCrocodile  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3872
@GiantCrocodile  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3873
@GiantCrocodile  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:48] scanum commented on #3877
@yemiade  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-01-31 04:50] scanum commented on #3878
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-01-31 04:50] #3878 closed

[2020-01-31 09:16] ivanja81 commented on #3875
'm a MSFT employee. Mail me at ivanja@microsoft.com

[2020-01-31 10:36] Jonathan-Nuttall commented on #3379
Thank you, can you please also provide the powershell for turning this on/off for the groups listed.
i need to do this over 500 times, powershell is the only real way to deploy.

[2020-01-31 11:55] dooleydo opened #3881 "Continued mention of "Skype for Business""
In a teamsonly org the setup instructions are not helpful as there will be no Skype sign-in address or FQDN for a Skype server.  There should be more striaghtforward instructions related to Teams only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8b204f-9650-d268-8566-7a75ba0a1b6a
* Version Independent ID: 9a963e63

[2020-01-31 16:38] school4schools opened #3883 "unclear instructions"
This document is unclear, both to me and to numerous MS engineers:

"Your tenant dial-out minute pool size is based on assigned licenses and not purchased licenses."

Needs context and clearer explanation, as I have no idea what that means.
Also, that the dial-out minutes will be billed after using the allotted 60 minutes is also unclear (to me and numerous MS engineers I have spoke to about this)

[2020-01-31 17:40] neilcalgary opened #3884 "The content of this article is SCOM agent configuration. But the link/title is Watcher Node."
The content of this article is SCOM agent configuration. But the link is Watcher Node.
The link to this article is : https://docs.microsoft.com/en-us/skypeforbusiness/tools/watcher-nodes-2019
The content should be something like this article:
https://docs.microsoft.com/en-us/skypeforbusiness/management-tools/use-scom-management-pack/watcher-nodes

[2020-01-31 19:06] #3774 closed

[2020-01-31 19:37] maisiekocher opened #3885 "Outdated content"
Hello, I believe this outdated. When you go to the Security and compliance center, you are directed to Exchange auditing.

[2020-01-31 19:53] klstclair opened #3886 "Type: GCC is wrong"
In the section: "The use of Microsoft 365 for Government - GCC (government certificate of competency) is appropriate to meet the requirements of IT pros who are driving deployments of Office 365 in US federal, state, local, tribal, or territorial government entities or other entities that handle data that’s subject to government regulations and requirements." GCC stands for "Government Community C

[2020-01-31 21:57] dinocaputo commented on #3245
This is still an issue.  The following does NOT work in the Teams Admin Center
Assign a custom calling line ID policy to multiple users at a time
To assign a custom calling line Id policy to multiple users at a time, see Edit Teams user settings in bulk.

Or, you can also do the following:

Go to Microsoft Teams admin center > Voice > Caller ID policies.
Select the policy by clicking to the left o

[2020-01-31 22:11] CarolynRowe commented on #3729
This issue is referring to the Direct Routing landing page?  For information on SBC domain names, see https://docs.microsoft.com/en-us/MicrosoftTeams/direct-routing-plan#sbc-domain-names

[2020-01-31 22:11] #3729 closed

[2020-01-31 22:27] diegoriera commented on #3638
The record doesn't work well with PPT animations, when you look on the recorded video you can't see the PPT transition.

[2020-02-01 04:48] jamescussen opened #3888 "SipSignallingPort flag spelling change"
The New/Set/Get-CSOnlinePSTNGateway commands SipSignallingPort flag has now been changed to be spelt with only one 'L' (ie. SipSignalingPort). All of the documentation here needs to be updated to reflect this. You will see this change reflected in the PowerShell command docs here: https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinepstngateway?view=skype-ps

---
#### Document Deta

[2020-02-01 12:48] get-itips commented on #3793
Hello @narismadz
Thanks for noticing 👍 Created a pull request to update the article with this latest change.
Thank you for your contribution.

[2020-02-01 12:50] get-itips commented on #3794
Hello @LolaJacobsen
It seems the videos are marked as "private", can you please assist to make them public so they can be playable ?
Thank you

[2020-02-01 13:17] get-itips commented on #3802
Hello @hosebei
I could reproduce what you are reporting here, I would say that this might be only available for Global Admins, @LanaChin can you confirm so we can adjust the doc? Thank you

[2020-02-01 13:29] get-itips commented on #3804
Hello @cgskreddy
How are you?
Can you kindly share your idea to [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com/), Product Group is constantly watching this resource to evaluate the addition of new requested features.
Thank you

[2020-02-01 13:49] get-itips commented on #3809
Hello @maspange Thanks for noticing, created a pull request to correct the article.

[2020-02-01 13:56] get-itips commented on #3810
Hello @jambirk James, can you shed some light here? Thanks

[2020-02-01 14:06] get-itips commented on #3811
Hello @Jason-ACESGroup
Document has already been updated :) https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/bae9ca1e471638df851982b87059c1f539d4868e
Thank you!

[2020-02-01 14:09] get-itips commented on #3813
Hello @yankeedoodlegandy83
Thanks for noticing, document has already been updated, see https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/52e6d98cab137cd9588705d236afccd7f4fee0d0

[2020-02-01 14:29] get-itips commented on #3816
Hello @hubbardw
Thanks for noticing, created a pull request to update the article.

[2020-02-01 15:27] uberseehandel commented on #3810
@get-itips Unless there are multiple James Birkinshaws in the Seattle region, I think he started at Oracle in January, so may not be directly involved for the present. I'd like to know which MS person to talk to in the UK, as I know there is a lot of interest in this project from within No 10. Whether the appropriate MS person is in Cambridge(MS Research Lab / Healthcare Intelligence), London or L

[2020-02-02 12:52] get-itips commented on #3818
Hello @Christian-e-S
How are you?
Document has been updated after you added your inquiry, please see
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/9c5009b241a37498e1f033913cff12a4ae57fdd0

[2020-02-02 20:53] NMuravlyannikov commented on #3436
@BhaskinsWR  we don't store the data for more than 12 month. The reports also scrubbed (phone number obfuscated) after 30 days. This is to comply with regulations. If you need the reports for longer time, please download the reports. Sorry for inconvenience but this is the only way to comply with multiple regulations around the globe.

[2020-02-03 02:21] scanum commented on #3888
@jamescussen Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:22] scanum commented on #3881
@dooleydo Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:22] scanum commented on #3883
@school4schools Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:23] scanum commented on #3884
@neilcalgary Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:23] scanum commented on #3885
@maisiekocher Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:24] scanum commented on #3885
@maisiekocher Please link the documentation you are referring to.

[2020-02-03 02:25] scanum commented on #3886
@klstclair Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-03 02:38] scanum commented on #3206
@Everett42 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-03 02:38] #3206 closed

[2020-02-03 06:52] maspange commented on #3809
No worries Andres, thank you!

[2020-02-03 11:38] get-itips commented on #3821
Hello @SvenBell How are you? Hope you are doing good. 👍

I am afraid we can not help you on the reason behind design decisions taken by the product team, as to why some settings are under specific menus or why would you disable QoS*, as this issue resource is specifically to report issues in documentation like for example wrong steps or missing parameter descriptions. I recommend in this case you

[2020-02-03 11:50] Petri-X opened #3894 "Tiny error on Interoperability"
While running different modes I have found that following statement:
"These interop experiences are available to and between users who have one of the following coexistence modes assigned: Skype for Business with Teams Collaboration, Skype for Business with Teams Collaboration and meetings, Skype for Business Only, or Teams Only. **There is no interoperability to users in Islands mode.**"

Actuall

[2020-02-03 14:48] BhaskinsWR commented on #3436
Thanks for the follow-up. Honestly the response is a little weird – I’d think this data should be managed by my O365 security and compliance settings, not system-level global regulatory requirements. Not your issue, and I appreciate the clarity.

Bill Haskins
Wainhouse Research, LLC | Boulder, CO | USA
desk: +1 720 336 4966<tel:+17203364966> | mobile: +1 303 902 6861<tel:+13039026861>
email: bhask

[2020-02-03 16:21] LanaChin commented on #3436
Thank you @NMuravlyannikov. Closing this issue.

[2020-02-03 16:21] #3436 closed

[2020-02-03 17:30] the-hutch opened #3895 "List of available rate centres in Canada?"
How about adding a list of rate centres for Canada and US that are available? That would help us all understand if this service is viable for our enterprises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ddf1c3c-7fb9-ff3c-e8cd-af75999c78cb
* Version Independent ID: 6178c672-003f-8f99-f4ab-cf9b06cf5ede
* Content: [Co

[2020-02-03 18:53] get-itips commented on #3853
Hello @tpmeredith how are you? Hope you are doing good. 👍
Here, we can only limit to documentation improvements or corrections, I understand that you see positive to add some notes regarding the current state of the voice API.
 @LanaChin could you please step in to help us understand if you agree and how we could update this article to improve it? I appreciate.

[2020-02-03 19:58] tpmeredith commented on #3853
I'm doing well thanks. I understand it's not exactly thrilling for MS to detail real world limitations in an article that is supposed to cite all the advantages to switching... I just think Microsoft really should have some page, somewhere, that details Microsoft Teams shortcomings with voice compared to SfB/Lync. Like many orgs we literally fell into a microsoft "Trap" by adopting teams over a ye

[2020-02-03 20:43] get-itips commented on #3852
Hello @viperscape as @GiantCrocodile said here, can you please link to the article you are talking about? I do not want to assume, thank you! 👍

[2020-02-03 20:58] get-itips commented on #3851
Hello @nicolasmounition How are you ? Hope you are doing good.

About information about protocols and call flow please see https://docs.microsoft.com/en-us/microsoftteams/microsoft-teams-online-call-flows

@LolaJacobsen Can we confirm Microsoft is working on getting SSAE 18? Thank you

[2020-02-03 21:33] dariomws306 commented on #3789
Hi @thewrabbit, thank you for your feedback.

I have done a quick review of this article and I see that it only has a brief description about eDiscovery and some links for more information. I couldn't find any outdated information.

[2020-02-03 21:51] MicrosoftHeidi commented on #1345
This is completed, duplicate graphic has been removed.

[2020-02-03 21:51] #1345 closed

[2020-02-03 22:50] SerdarSoysal commented on #3728
@Reeced40 / @scanum has this been resolved in a PR?

[2020-02-04 00:11] rjagiewich commented on #3101
@v-bhagan-can you advise on how to handle this issue? Thanks!

[2020-02-04 02:05] dinocaputo opened #3897 "There is no more CodecPriority parameter"
https://docs.microsoft.com/en-us/microsoftteams/direct-routing-configure
The parameter -CodecPriority no longer works nor is returned when you issue a get-CsOnlinePstnGateway cmdlet.  Docs should be updated if parameter has been removed.

[2020-02-04 02:18] dinocaputo opened #3898 "-CodecPriority parameter no longer exists"
https://docs.microsoft.com/en-us/microsoftteams/direct-routing-configure
The parameter -CodecPriority no longer works nor is returned when you issue a get-CsOnlinePstnGateway cmdlet. Docs should be updated if parameter has been removed.

[2020-02-04 02:19] #3898 closed

[2020-02-04 04:41] shivtorov opened #3899 "confusing terminology"
Virtually every paragraph in this article using different terminology:

* "prompt language"
* "system language"
* "default language"
* "greeting language"
* "preferred language"

If all these terms refer to the same thing, you should not use different words

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5586a3f7-0a24-3

[2020-02-04 09:36] mwe-microsoft opened #3901 "Please make the statement clear, it is ambigious"
What is the main difference between using the Group mailbox location row and Teams channel messages location row in retention policies?
If you use the Group mailbox and User mailbox location rows for Exchange Online, Teams data will be deleted from the specified mailboxes. However, this only removes data from the mailbox. It doesn’t delete other Teams data, such as chats service. We recommend that

[2020-02-04 12:30] dariomws306 commented on #1345
Thank you @MicrosoftHeidi! Looks like it's not live yet, I will check in some days.

[2020-02-04 13:42] gobmh commented on #3390
Hi everyone. The information on the images' source is clear. It shouldn't be a problem to host an image file reachable in the web. ;-)

But have a question corresponding to this issue. Why do the settings need one hour to take effect of any changes? That is quite uncomfortable to check, if the design corresponds to our managers. Is it possible to test it different and faster?

Thanks :-)

[2020-02-04 14:01] dariomws306 commented on #3782
Hi @CharlesYeomans, thank you for your feedback.

Maybe I don't understand you but Phone System with Calling Plans or Direct Routing enables users to call out directly from Teams client.

[2020-02-04 14:20] dariomws306 commented on #3779
Hi @Kentrepid, thank you for your feedback.

Manager configuration is outside of the Teams scope. This information resides in Azure AD and the easier way to configure it is using Exchange tools. For example, for cloud only organizations:
https://docs.microsoft.com/exchange/recipients-in-exchange-online/manage-mail-users#organization

I don't have the information about in which organizations this t

[2020-02-04 18:28] dariomws306 commented on #3760
Hi @paulch7780, thank you for your feedback.

My apologies, maybe I am misunderstanding you but in the article you posted I cannot find any mention to auto attendants or dial by extension.

[2020-02-04 18:39] scanum commented on #3894
@Petri-X  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-04 18:39] scanum commented on #3895
@the-hutch  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-04 18:39] scanum commented on #3897
@dinocaputo  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-04 18:39] scanum commented on #3899
@shivtorov  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-04 18:39] scanum commented on #3901
@mwe-microsoft  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-04 23:48] #3793 closed

[2020-02-04 23:49] TheITRx commented on #3546
Hi Guys. Just checking in to see if anyone has any update on this. I"m currently working a project where we need a clarification regarding this certain topic. Thanks!

[2020-02-05 00:41] get-itips commented on #3834
Hello @grahammw Graham, how are you?
What is the error message -if any- you are receiving when running the Ps command?
Thanks

[2020-02-05 05:18] MySkypeLab opened #3906 "Typo"
In Exchange PowerShell, crate a mailbox - "create"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91cd0219-b3b0-da60-6416-c6b5a67623e3
* Version Independent ID: 983d08b5-4a2c-838a-52eb-821045d2c9df
* Content: [Deploy Microsoft Teams Rooms with Exchange on premises - Microsoft Teams](https://docs.microsoft.com/en-us/mic

[2020-02-05 06:42] Reeced40 commented on #3412
@LanaChin

[2020-02-05 07:12] Reeced40 commented on #3726
@LanaChin

[2020-02-05 07:15] Reeced40 commented on #3540
@LolaJacobsen Could you please assist.

[2020-02-05 07:44] CharlesYeomans commented on #3782
It seems you can only get Phone System with Enterprise versions.
With Office 365 Business Premium you cannot get Phone System, and that will affect a lot of SMEs
I am not sure why it is not just a paid service of some amount plus the telephone company charges for usage.

[2020-02-05 11:54] get-itips commented on #3833
Hello @flinchbot Michael, how are you?
Created a PR to correct the msiexec command, thank you.

[2020-02-05 12:12] dariomws306 commented on #3782
That is true. You need an Enterprise license/plan to enable Phone System.

docs.microsoft.com feedback is available to improve documentation. The best place to request features is https://microsoftteams.uservoice.com/. There, your suggestion will reach the product team.
I see there is an idea and I think you voted:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/36534148-need

[2020-02-05 12:38] get-itips commented on #3828
Hello @todk Hope you are doing good.
I created a pull request proposing some corrections to the current state of the article, if it gets approved, it will be reflected on the live version.
Thank You

[2020-02-05 13:53] lindspea commented on #3897
@dinocaputo thank you for reaching out and helping improve MS Docs.  I see the doc has been updated today, so please let me know if the section you mentioned has been updated. It's quite a lengthy article so I'll go through it shortly to check as well.

[2020-02-05 14:03] lindspea commented on #3899
@shivtorov thank you for reaching out and helping improve MS Docs. I've just had a look at the article and the language seems to read correctly regarding relevance. Please let me know if you need any further information or assistance.

[2020-02-05 14:39] jpalarchio opened #3909 "Licensing Requirements"
The line "Give the room a phone number and make or receive a calls from the room or join an audio conference using a phone number" is a bit misleading when it states that the license required is "Meeting Room SKU".  You also need either Direct Routing configured or a Calling Plan license; this should be noted as a footnote at a minimum.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-02-05 15:26] GiantCrocodile commented on #3906
Thank you for reporting this @MySkypeLab. I did create a pull request to fix this issue. When the pull request has been merged, the typo is fixed.

[2020-02-05 18:32] dstrome commented on #3840
hi @Larryngolog - We performed a large number of file renames in addition to the URL change from /room-systems/ to /rooms/. Links to original file names should automatically redirect to the new /rooms/ URL with new file names. Please let us know if you are still receiving errors when trying to get to the old URL with old file names.

[2020-02-05 18:32] #3840 closed

[2020-02-05 18:54] LanaChin commented on #3151
@mbroaders, thanks for your input. The article has been updated: https://docs.microsoft.com/en-us/microsoftteams/rooms/with-exchange-online.

[2020-02-05 18:54] #3151 closed

[2020-02-05 19:26] dariomws306 commented on #3700
Hi @taylorbouman, thank you for your feedback.

I don't have more detail about this feature. More information will be released at the appropriate time.

[2020-02-05 20:41] Larryngolog commented on #3840
Hello. This link https://docs.microsoft.com/en-us/microsoftteams/room-systems/xml-config-file does not redirect to https://docs.microsoft.com/en-us/microsoftteams/rooms/xml-config-file

[2020-02-05 20:44] dstrome commented on #3840
Are you saying you have a bookmark that points to https://docs.microsoft.com/en-us/microsoftteams/room-systems/xml-config-file? The original file name was https://docs.microsoft.com/en-us/microsoftteams/room-systems/with-xml-config-file

[2020-02-05 20:47] dariomws306 commented on #3745
Hi @rickleye, thank you for your feedback.

It was fixed on January 29.

[2020-02-05 20:52] dariomws306 commented on #3743
Hi @CharlesYeomans, thank you for your feedback.

This article is for Hong Kong. You can get Phone System there, but not Calling Plans. In this case you will get a Phone System license to configure Direct Routing. More information:
https://docs.microsoft.com/microsoftteams/direct-routing-landing-page

[2020-02-05 21:00] Larryngolog commented on #3840
Yes, I had sent a partner an e-mail with that link on Jan 22nd when it was working and on Jan 23rd it was not working anymore.

You can see that it existed - it's in on the Web Archive  sitehttps://web.archive.org/web/20191218114150/https://docs.microsoft.com/en-us/microsoftteams/room-systems/xml-config-file

[2020-02-05 21:16] dstrome commented on #3840
ok thanks. We'll get a redirect put in place for that file. thanks for the feedback!

[2020-02-05 21:18] advancedpartnerships opened #3913 "Another limitation to add"
One more limitation to add is that guests cannot login with their guest account username/password to the Android App. I am not sure if a guest with the same setup can login and use the iOS teams app, but for now, Android accessibility is not functional. If anyone has a workaround, I would love to hear it.  An issue that I've found is that trying to access Teams from an android device through a bro

[2020-02-06 11:41] SDkempf94 opened #3916 "Is this actually available in Nigeria?"
It says that we can get toll numbers, but there is no option in the teams admin or legacy portal - you can't even select Nigeria from the list, it's not even there? Does the article need to be amended or is there a prerequisite?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2695858-2551-817d-fae4-c7311e0585a6
* Versi

[2020-02-06 13:57] rickleye opened #3917 "Emergency Location"
Under emergency address, Could you include how to validate a location with Suite Numbers. For Example  " Suite A & B 12345 North Main Street, Redmond, WA 98052"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 634810fc-7a47-f794-7803-9f3941d664dd
* Version Independent ID: 52587955-5054-a003-6d03-948ce02838dd
* Content: [

[2020-02-06 14:53] Scott-som opened #3918 "Sign SkypeRoomProvisioningScript.ps1"
Please sign the SkypeRoomProvisioningScript.ps1 file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05282aa8-ae14-117b-5885-7d851ee66b89
* Version Independent ID: 85abe13c-d34c-f42c-e273-a69be8cd991e
* Content: [Deploy Microsoft Teams Rooms with Office 365 - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftt

[2020-02-06 15:13] phifdd4305 opened #3919 "Migrating Skype on-prem CAP's to Skype online/Teams"
I have a hybrid Skype (2015 server) environment with on-prem CAP's that I want to move to Skype online but to Teams ultimately. I've found posts that show how to move CAP's from on-prem pool to on-prem pool but nothing around moving them to online. I was able to create a new CAP in Teams with a dial plan and CAP license but is there a way to migrate from on-prem to online? We have hundreds on CAP'

[2020-02-06 15:18] erictechtips opened #3920 "Microsoft Teams Meeting Length limit?"
How long can a Microsoft Teams meeting be?  This page should specify the maximum length (duration) a Teams meeting can be in hours.  You have this specified for live events, but not a regular Teams meeting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e2c09-ef3e-07cc-0809-6ff171157c47
* Version Independent ID: c0d

[2020-02-06 15:31] get-itips commented on #3826
Hello @LanaChin can you help us here to understand if there will be such a documentation ?

[2020-02-06 16:38] rickleye opened #3921 "Call agents selected must be:"
3. On-premises Skype for Business Server users  - Is this valid, If the user is homed on premises how do they connect to Azure unless is Hybrid set up is involved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b755d9ae-13ac-019f-f5f4-a95b1eee2989
* Version Independent ID: f7afd8ad-e6e0-6c79-aed1-4ee87d48ba12
* Content

[2020-02-06 16:47] jgoakley commented on #1846
I think this issue should be re-opened.

sssseossss is correct that the second URL provided by sowjanya365 does not mention guest accounts at all and only mentions cloud-based mailboxes in the context of syncing on-premise accounts to the cloud.

The section titled "eDiscovery of guest-to-guest chats" is self contradicting because it states:

And then immediately following states:

From the text i

[2020-02-06 18:08] briandahlincoyne opened #3922 "Is this GA?"
Confusion on if this is GA or not, The roadmap says Q4 2019 with no new updates, and user voice has not been updated since 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b41d63bc-26f4-fd50-adc4-f665c1a4cd88
* Version Independent ID: 24248b2d-79a1-98a7-86dd-f6dbcf9e2ab3
* Content: [Team expiration and renewal in M

[2020-02-06 18:16] #3906 closed

[2020-02-06 19:29] dariomws306 commented on #3735
Hi @skywalkerisnull, thank you for your feedback.

@dstrome could you kindly help? I don't have this information.

[2020-02-06 22:06] LolaJacobsen commented on #3345
Checking with PM Rajiv Ramaiah.

[2020-02-06 22:14] LolaJacobsen commented on #3345
@aeb5005 we've updated our documentation to note the limitation around giving/taking control when participants are on Teams in the browser. See the note at the bottom of this section:
https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#browsers

1 To give and take control of shared content during sharing, both parties must be using the Teams desktop client. Control isn't su

[2020-02-06 22:14] #3345 closed

[2020-02-06 23:03] rjagiewich commented on #1886
@JonesMikael - I checked on the status of this issue. @kdspiess is currently working on this. We hope to have an update in a couple weeks.

[2020-02-06 23:40] dstrome commented on #3196
hi all,

A list of certified phones for Teams is located here - https://docs.microsoft.com/en-us/MicrosoftTeams/teams-ip-phones

A list of supported features on certified phones is located here - https://docs.microsoft.com/en-us/MicrosoftTeams/phones-for-teams

Please contact the device manufacturer for information about their update cadence.

If the above topics are lacking information you're loo

[2020-02-06 23:40] #3196 closed

[2020-02-06 23:53] dstrome commented on #2671
I can no longer see references to shadow mailboxes in the tech community blog post referenced in the original issue. If there's still confusion, please create a new comment with the specific text that's conflicting between the help article and the tech community post. thanks.

[2020-02-06 23:53] #2671 closed

[2020-02-07 00:21] dstrome commented on #3546
I've sent a question to one of our PMs and I hope to have an answer soon.

[2020-02-07 00:48] SJL-369 opened #3925 "Doesn't cover how guests use Teams"
This article needs to go over:
- what guests see when they first open Teams.
- the experience if guests have an existing Office365 account.
- the experience if guests don't have an existing Office365 account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048930a4-fdf2-9a90-3b47-46af66db3db4
* Version Independent ID: 8

[2020-02-07 01:10] dstrome commented on #917
The "Rates for calling" link does send you to the right page - you just need to scroll down to the bottom to find the rates wizard. I'll add a little bit of text to make that clear. thanks for the feedback!

[2020-02-07 01:10] #917 closed

[2020-02-07 03:06] dariomws306 commented on #3705
Hi @JGezels, thank you for your comments.

Yes, it's possible. You should add all these gateways and configure Voice Routing Policies, PSTN Usages and Voice Routes in some way to achieve this.
Docs.microsoft.com feedback is available to improve documentation. To get more help about this configuration, please try with:
https://techcommunity.microsoft.com/

[2020-02-07 03:40] scanum commented on #3909
@jpalarchio  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:40] scanum commented on #3913
@advancedpartnerships  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:40] scanum commented on #3916
@SDkempf94  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:40] scanum commented on #3917
@rickleye  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:40] scanum commented on #3918
@Scott-som  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:40] scanum commented on #3920
@erictechtips  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:41] scanum commented on #3921
@rickleye  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:41] scanum commented on #3922
@briandahlincoyne  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:41] scanum commented on #3925
@SJL-369  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-07 03:41] scanum commented on #3919
@phifdd4305 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-07 03:41] #3919 closed

[2020-02-07 15:53] Ovyone opened #3928 "Browser Meeting Video Capabilities Not Documented"
Start Video with Blur and Live Captions are missing from the browser. Documentation does not reflect this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6457d204-d229-9154-28fd-ca9bbb4bddcd
* Version Independent ID: f5d82846-41cb-3548-6997-ce23bd8f89c6
* Content: [Get clients for Microsoft Teams - Microsof

[2020-02-07 16:03] viperscape commented on #3852
Maybe it was fixed in a recent Teams update? Previously I could not do this but it looks resolved! Sorry for any confusion :-D
![Creating folder in Teams limits](https://user-images.githubusercontent.com/3178836/74044500-281c7900-4999-11ea-816f-b56f1fcb8f70.png)

[2020-02-07 16:03] #3852 closed

[2020-02-08 20:55] jstrong013 opened #3934 "Cloud Voicemail Requirements - On-Premises environment"
The section [Phone System with on-premises environments](https://docs.microsoft.com/en-us/microsoftteams/set-up-phone-system-voicemail#phone-system-with-on-premises-environments) should include a step for the network requirements for edge server to include all six geographic sites (countries, e.g. Hong Kong [APAC]). Also, the network [URLs and IP address ranges for SfBO and Teams](https://docs.mic

[2020-02-08 22:52] jstrong013 commented on #3934
This issue doesn't belong here.
Better fit for [here](https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/configure-cloud-voicemail) or [here](https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/plan-hybrid-connectivity)

[2020-02-08 22:52] #3934 closed

[2020-02-08 23:10] jstrong013 opened #3935 "Update Network considerations for better Cloud VM Support"
The [Network Considerations](https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/plan-hybrid-connectivity#network-considerations) section should be updated to include additional clarification on the subsection [Firewall considerations](https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/plan-hybrid-connectivity#firewall-considerations) to include Geo-Locations.

This is because this [doc

[2020-02-09 15:00] threecatsdigital opened #3936 "Small error"
Toward the start of the process, the directions state to "click Voice then select Auto Attendants, then click + New." Instead of "+ New" the text actually reads "+ Add".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afdd6102-e72f-63bb-77fc-8cfd4373e8db
* Version Independent ID: 4f073d07-8c3a-9ca9-7f16-5892953543dc
* C

[2020-02-09 20:02] jstrong013 commented on #3936
Content Source: [Teams/tutorial-org-aa.yml](https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/blob/live/Teams/tutorial-org-aa.yml)

[2020-02-10 04:34] scanum commented on #3928
@Ovyone Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-10 04:34] scanum commented on #3935
@jstrong013 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-10 08:25] hosebei commented on #3802
hi @scanum do you have any update on this topic? This is kind of a showstopper to give Global Admin permissions to our Teams Administration Team, just to handle App policies. If the requirement of Global Admin persisit, we need to build a process around that, because we can not assign GA role to them.

[2020-02-10 15:38] StefanW86 opened #3940 "HP slice g2 fail on deployment at oobe"
Hello,
we try since three weeks to deploy our HP Slice G2 device with teams room system. We created with the actual version of CreateSRSMedia.ps1 the installation medium successfully. Then boot the device from the stick. After the first phase of the windows installation we setup breaks with the error message "windows could not complete the installation. To install windows on this device, restart..

[2020-02-10 15:52] cgskreddy opened #3941 "Need PowerShell Commands"
Need PowerShell commands to export "list of phone numbers in your organization". Why there are no K.B.Articles on powershell commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b0537-e144-f5ed-6974-6e34733bceb2
* Version Independent ID: 4f1875c6-77ef-f636-669e-5f3af9691f7d
* Content: [See a list of phone number

[2020-02-10 16:06] LanaChin commented on #3734
Merged, thank you.

[2020-02-10 16:06] #3734 closed

[2020-02-10 16:11] LanaChin commented on #3742
@db1bj0, @dariomws306 - thank you! The change is merged.

[2020-02-10 16:11] #3742 closed

[2020-02-10 16:55] colbyMS opened #3942 "What happens if there is no supported Exchange"
I am looking at a scenario where Exchange is on-premises and will not be set up for Hybrid until later.  The table in the article does not mention this scenario.  Can we get it verified what will happen?  Is there a shadow mailbox created which may affect hybrid migrations in the future?

[2020-02-10 16:58] colbyMS commented on #3942
I just noticed that this is very similar to $3735.  Sorry for opening up a new issue

[2020-02-10 17:52] BSiefferman opened #3943 "Last set of updates is from a month ago, what happened to the weekly content updates?"
It looks like this page hasn't been updated in over a month now. Can we see the last month's worth of updates please?

[2020-02-10 17:53] #3943 closed

[2020-02-10 17:54] BSiefferman opened #3944 "Page hasn't been updated in a month"
This page hasn't been update in a full month. Can we please get the past month's worth of updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3081f70c-d927-ce5d-d957-ca7ba7e07a55
* Version Independent ID: 17704162-7ff9-015c-30a1-1cbc078f0782
* Content: [Microsoft Teams content updates - Microsoft Teams](https://doc

[2020-02-11 05:20] scanum commented on #3941
@cgskreddy Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-11 05:21] scanum commented on #3944
@BSiefferman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-11 05:21] scanum commented on #3940
@StefanW86 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-02-11 05:21] #3940 closed

[2020-02-11 05:21] scanum commented on #3942
@colbyMS thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-11 05:21] #3942 closed

[2020-02-11 05:26] scanum commented on #1886
@rjagiewich Thanks Rebecca!

[2020-02-11 05:28] scanum commented on #3236
@CarolynRowe Following up on this issue. Thanks!

[2020-02-11 05:29] scanum commented on #3474
@white-tim Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-11 05:29] #3474 closed

[2020-02-11 05:30] scanum commented on #3522
@NeilPetersen Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-11 05:30] #3522 closed

[2020-02-11 10:06] get-itips commented on #3802
Hello @hosebei how are you?
Here we are limited to Documentation changes, as we are waiting for the author's confirmation to update the article, I would also kindly suggest you to visit https://microsoftteams.uservoice.com/ to submit this as an idea so the Product Group receives the feedback.
Hope this info helps you.

[2020-02-11 10:11] hosebei commented on #3802
hi @get-itips fine and you?
yes I know about uservoice, thanks for the suggestion. But first I need the confirmation, that GA is required to do such workloads as App Policies. Maybe there is another option instead of GA, which is currently not outlined in the docs, as it states "As an admin".

[2020-02-11 11:12] shivtorov commented on #2940
closing the ticket due to no progress in 5 months

[2020-02-11 11:12] #2940 closed

[2020-02-11 12:55] lindspea commented on #3884
@neilcalgary Thanks for reaching out. Which article is the article in question? Please let me know soonest and I can investigate further.

[2020-02-11 12:57] lindspea commented on #3883
@school4schools Thank you for reaching out.  I'm looking through this document to see what I can change for more clarity. If you have any further suggestions in the meantime please let me know.

[2020-02-11 13:12] lindspea commented on #3888
@jamescussen Thank you for reaching out and helping improve MS Docs. It looks like the typo has been fixed in the interim. Please confirm from your side.

[2020-02-11 13:24] lindspea commented on #3885
@maisiekocher thank you for reaching out. I'd like to have a look at this issue but I'm not sure what article you are referring to.  Please send me the link so I can help you soonest.

[2020-02-11 13:37] prashant1380 opened #3947 "filter guests"
Is it possible to filter out guest users in a private channel members list using filter on roles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33e0ac38-cfff-8d8f-5345-2ae93a9fae2e
* Version Independent ID: bec44289-e9fa-4464-1601-0ca86d61e6ca
* Content: [Manage the life cycle of private channels in Microsoft Teams -

[2020-02-11 14:57] dbelling opened #3949 "Microsoft Teams - macOS Search Issue"
When using search on macOS for a particular term, initial search functions as expected. However - when using the search bar and navigating to a prior search term, the term is submitted as `object [Object]`. I've attached a screenshot for clarity:

<img width="826" alt="Screen Shot 2020-02-11 at 8 51 07 AM" src="https://user-images.githubusercontent.com/8824740/74247924-7210a200-4cac-11ea-9b5e-36d1

[2020-02-11 15:35] codelux commented on #3576
Hello I raised this over 2 months ago. Should we loop in members of the Microsoft Root CA Program to confirm this merge?

[2020-02-11 16:15] neilcalgary commented on #3884
The article in question is 🙂https://docs.microsoft.com/en-us/skypeforbusiness/tools/watcher-nodes-2019
The content of this article is as same as this one: https://docs.microsoft.com/en-us/skypeforbusiness/tools/configure-computers-to-monitor-2019

However, it should be something like this: https://docs.microsoft.com/en-us/skypeforbusiness/management-tools/use-scom-management-pack/watcher-nodes

Th

[2020-02-12 01:56] scanum commented on #3947
@prashant1380 Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-12 01:56] scanum commented on #3949
@dbelling thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-12 01:56] #3949 closed

[2020-02-12 07:43] lindspea commented on #3894
@Petri-X thank you for reaching out and helping improve MS Docs. Would you suggest adding that in a note in the article for clarity to help other users?

[2020-02-12 07:51] lindspea commented on #3895
@tonysmit is it possible to have this information added to the article?

[2020-02-12 07:59] lindspea commented on #3901
@mwe-microsoft thank you for reaching out and helping improve MS Docs. @LolaJacobsen please can you assist - related issue https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/2803

[2020-02-12 08:03] lindspea commented on #3881
@dooleydo Thank you for reaching out and helping improve MS Docs. Please have a look at this article and let me know if it helps at all. https://docs.microsoft.com/microsoftteams/teams-and-skypeforbusiness-coexistence-and-interoperability

[2020-02-12 10:24] Petri-X opened #3950 "Must or something else?"
Hi,

You are writing:
"_There must be 14 columns for each row,..._"
But on your example you have 15 columns as the last one (VPN) is the optional. So might be better if you write "14 or 15", or you totally skip "optional" and having VPN also as a mandatory. Then you could write "must have 15 columns in all cases".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-02-12 15:49] Arcass commented on #3412
Hi,
Just been investigating the option of re-using Surface Pros.
Apparently the Logitech Smart Dock is now EoL. The suggested replacement device (Logitech Tap) is only available as a complete unit, so can't be used as a dock for the Surface Pro.

[2020-02-12 16:12] Kazzan opened #3951 "Guest Users"
Article should mention if this apply also for external guest users or not, or how to change policy for them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f91604a-35b0-dfbb-55b2-b601cb0841b0
* Version Independent ID: 84bcd0d7-b4ed-f13e-c84b-2ec6a7661ae9
* Content: [Manage app setup policies in Microsoft Teams - Micro

[2020-02-12 17:19] adagioajanes opened #3952 "Remove a deleted group"
This page goes over how to restore a deleted group. What if I want to permanently delete a deleted group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bf689b7-a7c1-121f-578e-029e8a89c4f0
* Version Independent ID: 7e6b449e-bd77-2fc4-2c3d-1f2e364e1b76
* Content: [Archive or delete a team in Microsoft Teams - Microsoft

[2020-02-12 18:04] LanaChin commented on #3704
Thank you @shurick81  and @dariomws306 - I've merged the changes.

[2020-02-12 18:04] #3704 closed

[2020-02-12 22:23] mniccum opened #3955 "Is this a complete solution???"
Why does Teams need inbound ports open?

What if another user on the machine launches Teams after the script is executed?

What if a new user logs on?

What if it were deployed through ConfigMgr as part of a TS running as SYSTEM?

If ran as part of a logon script, then a user would have to launch Teams and the first call will fail.  The rules are placed after the exe is discovered which would be t

[2020-02-13 01:58] PeteHaigh-MSFT commented on #1490
Hi team why have we closed this off when this is still not mentioned in the documentation anywhere, and the Teams Rooms still don't support Modern Auth???
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/39361102-do-not-require-legacy-auth-for-microsoft-teams-roo

[2020-02-13 02:55] gregbari commented on #1490
Good question.  Who closed it?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: PeteHaigh-MSFT <notifications@github.com>
Sent: Wednesday, February 12, 2020 5:58:04 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Greg Baribault <Greg.Baribault@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [M

[2020-02-13 04:04] scanum commented on #3950
@Petri-X  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-13 04:04] scanum commented on #3951
@Kazzan  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-13 04:04] scanum commented on #3952
@adagioajanes  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-13 04:04] scanum commented on #3955
@mniccum  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-13 09:38] dooleydo opened #3957 "Clarity on future of hybrid deployments"
This article does not make it clear what the impact is on a hybrid deployment.

For example, after  July 31, 2021 does the hybrid need to be split away from SfBO (no longer a split SIP domain) and become on-prem only if you are keeping it?

If that is the case how will those who were homed online in SfBO join an on-premises meeting with a user who is now on-prem only because the hybrid is now spli

[2020-02-13 11:28] cvoigt opened #3958 "Broken link"
Factory restore link is broken and leads to a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13376c1b-df70-83de-8e6a-8ddc940774b5
* Version Independent ID: 6a2531ee-ac88-ee83-b858-1928d6cb4c65
* Content: [Use the Microsoft Teams Rooms recovery tool - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/

[2020-02-13 11:49] yetanothermark opened #3959 "Refine Recommendation within "When to create a private channel" section"
In the last row of https://docs.microsoft.com/en-us/microsoftteams/private-channels#when-to-create-a-private-channel, consider removing "or create a new private channel in an existing team." since that option contradicts the "No" in the first column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce34b12b-aa50-608b-bbf

[2020-02-13 12:56] Weishaupt opened #3960 "Pricing links to 404"
The Link to https://products.office.com/skype-for-business/audio-conferencing#Requirements doesn't seem to be valid anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dc121be-72fc-e1c7-628b-b0b293520be2
* Version Independent ID: 678ed844-653d-6ad3-c0f4-341b2f56de9d
* Content: [Audio Conferencing in Office 365 - M

[2020-02-13 17:53] TorrenManson opened #3961 "Port status of "manual""
Missing from the list of possible port statuses is "manual", I've had this on a couple of ports now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fd02a2-78ae-519f-ec11-f337debcaf9a
* Version Independent ID: a2a489c3-9204-2b63-85fa-ba9e535fdc94
* Content: [What's the status of your port orders? - Microsoft Teams](ht

[2020-02-13 19:07] jmillerFLND opened #3962 "OneNote Tab is now available in GCC tenants"
I believe the roll out of Microsoft Apps for Teams, including the OneNote tab is in-process. https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=OneNote%2Cintegration%2Cin%2CTeams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7faee29-6d56-f3bf-766c-6deaefe92e34
* Version Independent ID: 6029b6f

[2020-02-13 19:30] Smartboss88 opened #3963 "What is coming later in 2018? Does doc needs to be updated? Thank you!"
On-premises UM migration scenarios
We support the following scenarios that will enable you to migrate users both to Exchange 2019 and to Cloud Voicemail. Later in 2018 we'll support additional scenarios that will let you migrate from additional versions of Exchange and Skype for Business server. We'll also provide additional features such as Organizational Auto Attendant.

Exchange 2013/Exchange 2

[2020-02-13 19:45] kisnardonline opened #3964 "6th message"
What happens with the 6th message for E1?  Is it blocked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca3f7a45-e892-fbb3-baf1-c556fa8e3720
* Version Independent ID: 9c8b63e8-7320-ed8f-e560-ed478009dd57
* Content: [Priority Notifications in Teams Messaging  - Microsoft Teams](https://docs.microsoft.com/en-us/microsof

[2020-02-13 22:46] LanaChin commented on #3755
Thanks for your feedback, @Dottn. The doc has been updated. Thanks for making the changes, @dariomws306.

[2020-02-13 22:46] #3755 closed

[2020-02-14 01:31] Don-Fuego2 opened #3966 "Conditional Access - Device Compliance | Add Azure DevOps"
In the section : Issue title

Behavior / Symptom
Conditional Access may not work when using the "Website" tab in the desktop app
If a website, such as an intranet portal, has conditional access policies (such as browser or IP address restrictions) then that website may not render as a tab inside of Teams in the desktop app

Please add:
"(such as browser or IP address restrictions **or Device Compl

[2020-02-14 10:15] ccasas87 opened #3968 ""Manage availability for a user with a license that includes Teams" is confusing"
It's not clear for me this part:
"When the Teams service plan is turned on, the user can sign in and use Teams. If the service plan is disabled, the user can't sign in and the Teams Exploratory experience isn't available."

Shouldn't it be "... the user can't sign in and the Teams Exploratory experience IS available"? If not it doesn't make sense you provide the instructions below that paragraph t

[2020-02-14 10:37] shashank1320 commented on #3390
Is it possible to customize the Teams meeting invite to display the conference ID similar to Skype invite as
Join by Phone-
Toll Number
Conference ID

Current invite is as below
Teams Meeting URL
Toll Number
Conference ID

[2020-02-14 10:38] shashank1320 commented on #3390
Is it possible to customize the Teams meeting invite to display the conference ID similar to Skype invite (with Join by Phone Text) as-
Join by Phone-
Toll Number
Conference ID

![image](https://user-images.githubusercontent.com/15531481/74523960-28da7f80-4f44-11ea-8e8d-df5f6be3a0ba.png)

Current invite is as below
Teams Meeting URL
Toll Number
Conference ID

![image](https://user-images.githubuse

[2020-02-14 10:41] shashank1320 commented on #3390
Probably not that I am aware of. This is due to the Sync delays for O365 services which may take upto 24 hours sometime.

[2020-02-14 12:53] sanjeev40084 opened #3969 "Azure Boards for Microsoft Teams"
Any timeline when Azure Boards for Microsoft Teams will be availablen for GCC tenants?
https://appsource.microsoft.com/en-us/product/office/WA200000644?src=wnblogmar2018

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7faee29-6d56-f3bf-766c-6deaefe92e34
* Version Independent ID: 6029b6f8-7d49-6474-fa40-2793000c74a4
* C

[2020-02-14 19:41] oradcliffe commented on #3231
Using the updated script, installed adal.ps automatically worked, however I still get the above error as described.

[2020-02-14 21:46] scanum commented on #3935
@jstrong013  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:47] scanum commented on #3936
@threecatsdigital Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2020-02-14 21:47] #3936 closed

[2020-02-14 21:47] scanum commented on #3957
@dooleydo  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:47] scanum commented on #3958
@cvoigt  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:47] scanum commented on #3959
@yetanothermark  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:47] scanum commented on #3960
@Weishaupt  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:47] scanum commented on #3961
@TorrenManson  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:47] scanum commented on #3962
@jmillerFLND  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:48] scanum commented on #3963
@Smartboss88 Could you please link the documentation you are referring to. Thanks!

[2020-02-14 21:48] scanum commented on #3966
@Don-Fuego2  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:48] scanum commented on #3968
@ccasas87  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:48] scanum commented on #3969
@sanjeev40084  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-14 21:49] scanum commented on #3955
@mniccum thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-14 21:49] #3955 closed

[2020-02-14 21:49] scanum commented on #3964
@kisnardonline thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please ke

[2020-02-14 21:49] #3964 closed

[2020-02-14 22:02] Smartboss88 commented on #3963
https://docs.microsoft.com/en-us/SkypeForBusiness/hybrid/plan-um-migration

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Manuela Scanu <notifications@github.com>
Sent: Friday, February 14, 2020 4:48:15 PM
To: MicrosoftDocs/OfficeDocs-SkypeForBusiness <OfficeDocs-SkypeForBusiness@noreply.github.com>
Cc: Smartboss88 <Smartk@gmail.com>; Mention <mention@norep

[2020-02-15 00:37] #1936 closed

[2020-02-15 00:44] oradcliffe commented on #1936
Do we have an answer somewhere?

[2020-02-15 00:45] SerdarSoysal commented on #1936
We have a support statement added here https://docs.microsoft.com/en-us/microsoftteams/direct-routing-plan#supported-end-points  We also revised this topic as well and it's in the publishing pipeline right now. Changes should be live in 10-15 minutes.

Apologies to all for how long this took. This isn't typical.

[2020-02-15 01:05] oradcliffe commented on #1936
All good.  Thank you!

[2020-02-15 18:02] andyjballgit opened #3973 "Whats the url for Teams Admin center ?!"
cant see it !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b51b67a-d89c-723f-3520-87cb2dc93b90
* Version Independent ID: 78d10cbc-d75b-2b02-d49c-2c3fe1579807
* Content: [Manage teams in the Microsoft Teams admin center - Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/manage-teams-in-modern-portal)

[2020-02-15 21:12] TokyoScarab commented on #3571
@LanaChin Would you be able to offer some insight on this question?

[2020-02-15 23:16] TokyoScarab commented on #3572
@LanaChin After looking into the list of PS cmdlets for Teams, I don't see any commands that reference things on this page. I do know that another doc [page](https://docs.microsoft.com/microsoftteams/teams-powershell-overview) talks about Teams actions being split between the Teams module and the SFB module but wasn't able to find anything there either. Do you know if these cmdlets exist for the o

[2020-02-17 07:08] scanum commented on #3973
@andyjballgit  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-17 13:50] norman-v opened #3975 "No links to the required PS module?"
The 2 links in this doc and this doc itself does not indicate which module contains Grant-CsTeamsMessagingPolicy. There is a link to the Azure Powershell modules which are not related to Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dfe01e2-b14d-226d-de27-40cb2733a65d
* Version Independent ID: 09477e15-46e1-1a

[2020-02-17 15:02] markuslosco opened #3976 "CQD-Power-BI-query-templates - "call queues" and "Auto attendants"?"
Very nice idea and good Dashboards. But one questions about the microsoft teams "call queues" with "Auto attendants". I want to create a separate report with filters "second upn" and "total call count" as example for one month but all i get is the error message "index was outside the array. Is querying the "call queues" with "Auto attendants" not supported?

[2020-02-17 15:46] SylvM1 opened #3977 "Which apps can I control via app permission policies?"
Right now I am looking searching all over the internet for more information regarding which specific Microsoft apps I can allow or block. This because I cannot find any way to block Microsoft Stream from the available Microsoft Teams apps. The same goes for the apps Edu Class Notebook and Edu Staff Notebook. Can you be more specific on this page what you can allow/block and what can't be controlle

[2020-02-17 16:02] dariomws306 commented on #3928
Hi @Ovyone, thank you for your feedback.

Live captions are a preview feature in Microsoft Teams, and they're only available in English (US) and on the Teams desktop app for now. I think we cannot add some information here as it's not in GA yet.

I will add some information about blur background to see if it's approved.

[2020-02-17 17:52] DanBaumgartner opened #3980 "Broken link"
Under "Required licenses and permissions" - the link for Licensing Guidance returns a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85a288bc-9192-8c65-4ce9-b5abb260206e
* Version Independent ID: 1f953ea6-e6e5-5e71-d541-3962637f25f9
* Content: [Information barriers in Microsoft Teams - Microsoft Teams](https://doc

[2020-02-17 18:04] dariomws306 commented on #3944
Hi @BSiefferman, thank you for your feedback.

There is a system that processes all the data to generate this topic in real time as changes are published live.

@dstrome @LolaJacobsen could you kindly confirm that this process is still working?

[2020-02-17 18:36] dariomws306 commented on #3952
Hi @adagioajanes, thank you for your feedback.

These are Office 365 groups tasks, please check:
https://docs.microsoft.com/office365/admin/create-groups/restore-deleted-group#permanently-delete-an-office-365-group

[2020-02-17 19:23] dariomws306 commented on #3969
Hi @sanjeev40084, thank you for your feedback.

The place to check this information is Microsoft 365 Roadmap:
https://www.microsoft.com/microsoft-365/roadmap

For example, I think there is no timeline for Azure Boards as they are working on integration with OneNote:
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=GCC&searchterms=integration%2Cin%2Cteams

Please filter by GCC. 3rd par

[2020-02-17 19:50] dariomws306 commented on #3968
Hi @ccasas87, thank you for your feedback.

I think this sentence is ok as they are not eligible for the Teams Exploratory experience, and this make sense. Why you will enable Teams Exploratory experience if you have a paid Teams license.

Check here:
https://docs.microsoft.com/microsoftteams/teams-exploratory#whos-eligible
"Users who don't have an Office 365 license that includes Teams can initia

[2020-02-17 20:10] dariomws306 commented on #3947
Hi @prashant1380, thank you for your feedback.

When you go to "Manage Team" or "Manage Channel" you will see the list of members and each role (Owner, Member or Guest):
![image](https://user-images.githubusercontent.com/33589238/74683668-70614580-51a8-11ea-85af-88bc58e7de00.png)

[2020-02-17 20:41] dariomws306 commented on #3951
Hi @Kazzan, thank you for your feedback.

Policies like App Setup or Meeting cannot be assigned to guest users. So, they don't apply to guest users.

[2020-02-17 20:52] dariomws306 commented on #3963
Hi @Smartboss88, thank you for your feedback.

@dstrome could you kindly provide more information about this article? I remove all the reference about features coming later on 2018 as Cloud Auto Attendant is in GA.
Maybe we can add more information about Exchange 2010 or Lync Server 2013?
Thanks!

[2020-02-17 22:57] dariomws306 commented on #3962
Hi @jmillerFLND, thank you for your feedback.

Yes, it's not available yet. In the table I can see "On the Government backlog".

[2020-02-18 01:59] dariomws306 commented on #3951
Hi @Kazzan, thank you for your feedback.

@LanaChin could you kindly help with this? I have verified and "Global (Org-wide default)" apply to guest users. But you can apply other policies to Guests. Could you confirm this behavior?

Thanks!

[2020-02-18 02:08] dariomws306 commented on #3961
Hi @TorrenManson, thank you for your feedback.

@tonysmit, could you kindly help me te confirm and get more information about this status?

[2020-02-18 13:54] dariomws306 commented on #3957
Hi @dooleydo, thank you for your feedback.

I have added two article where you can find this information. For example:

If that is the case how will those who were homed online in SfBO join an on-premises meeting with a user who is now on-prem only because the hybrid is now split? What credentials would they be able to use to join a SfB meeting once they are a teamsonly user? Will they need moving

[2020-02-18 15:22] Kazzan commented on #3951
Thanks @dariomws306. This should be definitely need to be mentioned in article, and probable also ways how to solve that for externals (I see like Dynamic AAD Group with different Teams policy maybe).

[2020-02-18 15:29] dariomws306 commented on #3935
Hi @jstrong013, thank you for your feedback.

I really need more detail to try to help with this issue. For example, where did you find next sentence?

"The edge server needs access to six geographic sites (e.g. Hong Kong in China [APAC Region]) in order for Cloud Voicemail to work fully."

[2020-02-18 15:34] dariomws306 commented on #3951
Typo:
"But you CANNOT apply other policies to Guests"

[2020-02-18 16:53] Hitchcock3 opened #3989 "Update suggestions for known issues"
In the section where moving from SfB to Teams is discussed (https://docs.microsoft.com/en-us/microsoftteams/teams-for-vdi#migrate-from-skype-for-business-on-vdi-to-teams-on-vdi) there is a mention that "Screen share from chat without audio" is not currently supported. However this is not included in the list of Known Issues and Limitations (https://docs.microsoft.com/en-us/microsoftteams/teams-for

[2020-02-18 19:37] scanum commented on #3975
@norman-v  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-18 19:38] scanum commented on #3980
@DanBaumgartner  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-18 19:38] scanum commented on #3989
@Hitchcock3  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-18 19:38] scanum commented on #3977
@SylvM1 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us p

[2020-02-18 19:38] #3977 closed

[2020-02-18 19:38] scanum commented on #3976
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-02-18 19:38] #3976 closed

[2020-02-18 20:47] mymebenha opened #3991 "Intune enrollment"
"If you have Microsoft Intune, devices are automatically enrolled in Intune. After a device is enrolled, device compliance is confirmed and conditional access policies are applied to the device."

Need more information around this because my device did not enroll in Intune automatically like it says.  The device only appears in Teams.  It probably has something to do with existing Intune Condition

[2020-02-18 22:59] premgan opened #3992 "Missing work-around to prevent auto-populated UPN"
If users are signed in to a domain-joined computer and you don't want their user name pre-populated on the Teams sign-in screen, admins can set the following Windows registry to turn off pre-population of the user name (UPN):

Computer\HKEY_CURRENT_USER\Software\Microsoft\Office\Teams
SkipUpnPrefill(REG_DWORD)
0x00000001 (1)

 Note

Skipping user name pre-fill for user names that end in ".local" o

[2020-02-18 23:47] CarolynRowe commented on #3308
It is difficult for me to view what all the suggested changes are given how the changes were submitted.  I'm going to close this issue.  If the submitter would like to follow up with me, please contact crowe@microsoft.com.

[2020-02-18 23:47] #3308 closed

[2020-02-18 23:49] CarolynRowe commented on #3236
Please follow the instructions under Configure Direct Routing.  I will follow up with the PMs about whether we need to update the troubleshooting content.  If you continue to have problems configuring Direct Routing, please contact technical support.

[2020-02-18 23:49] #3236 closed

[2020-02-18 23:52] premgan commented on #3992
Basically this can be work-around for this listed issue:

Issue title	Behavior / Symptom	Known workaround	Discovery date
Microsoft Teams will always log into the Domain-joined PC account.
If a user has two different Teams accounts and has a machine with domain-joined enabled, Teams will use the domain-joined profile on the machine to automatically log the user into Teams. To switch to the other Te

[2020-02-19 02:33] CarolynRowe commented on #3000
I have followed up with Nikolay and updated the topic according to his recommendations.  Updates will go live tomorrow.  Closing this issue.

Considerations for setting up muti-tenant failover

To set up failover for a multi-tenant environment, you'll need to do the following:

For each tenant, add the FQDNs for two different SBCs. For example:
customer1.sbc1.contoso.com
customer2.sbc2.contoso.com

[2020-02-19 02:33] #3000 closed

[2020-02-19 02:56] jstrong013 commented on #3935
Hello @dariomws306, thanks for looking into.

That line was an example. It would probably read better like this, "For Example, the edge server for cloud voicemail to operate appropriately needs access to six geographic sites (e.g. Honk Kong in China [APAC Region]) in order for Cloud Voicemail to work fully. This was discovered by testing."

Maybe to simply the request and to word a different way,

[2020-02-19 12:21] FrankCarius commented on #3844
Why was this feedback closed? the doc is still wrong.

In Addition. I tried to "pipeline" the "Get-CSUser" into "Grant-cshostedVoicMailPolicy and got a
"Grant-CsHostedVoicemailPolicy : The input object cannot be bound to any
parameters for the command either because the command does not take pipeline
input or the input and its properties do not match any of the parameters that
take pipeline input.

[2020-02-19 14:07] dariomws306 commented on #3935
Ok, thank you, I need to confirm this information first.

@CarolynRowe could you kindly help me to confirm this information?

[2020-02-19 18:45] dstrome commented on #3944
Yes, this is a known issue. I'm working on getting this resolved.

[2020-02-19 19:09] blyakhmanv commented on #3856
Any updates regarding the fix?

[2020-02-19 19:20] Ganym3de opened #3995 "Turn Teams on or off for your entire organization"
It's stated that this is no longer an option for any tenant other than for ones with EDU licensing SKUs. But it's not, it's still available for Worldwide licensing SKU's We recently (needlessly) opened a Microsoft Premier case for an error "You're missing out ask your admin to enable Microsoft teams for &lt;orgname&gt;" where we omited this as a troubleshooting step due to this article and the fix

[2020-02-19 20:44] jackvdbuk opened #3996 "Required for EOL UM?"
HI There,

Can you confirm if these steps are required for on-prem skype 2015 but EOL mailbox users unified messaging/cloud voicemail setup?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4dedc2e-175c-f7df-89d8-db07869c0619
* Version Independent ID: 089ffad2-e85e-3653-fa29-20fc565406ed
* Content: [Configure hy

[2020-02-19 21:06] robhardman commented on #3876
Yeah I've been able to replicate this in my tenant. To workaround, open a Skype for Business Online Powershell session and run the cmdlet:

Set-CsTenantDialPlan -Identity "<Dial Plan Identity>" -ExternalAccessPrefix $null

This will remove the External Access Prefix from the tenant dial plan, and you'll even be able to run tests from a refreshed webpage in the Teams Admin Portal.

[2020-02-19 21:54] bfnewman opened #3997 "AD FS for authentication"
The language in this article seems to preclude the use of AD FS or other identity providers for hybrid environments.

"In hybrid environments the account used for Microsoft Teams Rooms must have password [hash] sync enabled in AAD Sync because Microsoft Teams Rooms authentication requires Office 365 authentication."

However, in testing and in discussion my MS TAM/PFE resources, AD FS and at least

[2020-02-19 22:35] Parroman commented on #3996
Hi There, this appears to have nothing to do with CloudVM which this URL is linked to from:

https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/plan-cloud-voicemail

Please confirm the correct information for CloudUM and Skype for Business 2019 configuration with cloudUM. Currently my users can't set their own voicemails since moving to 2019

[2020-02-19 22:40] CarolynRowe commented on #3996
Are you looking for this topic:  https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/integrate-with-exchange/deployment-overview?toc=/SkypeForBusiness/toc.json&bc=/SkypeForBusiness/breadcrumb/toc.json

[2020-02-20 10:15] lindspea commented on #3973
@andyjballgit thank you for reaching out and helping improve MS Docs. Please have a look here - https://answers.microsoft.com/msoffice/forum/all/teams-admin-center/35f61cd0-d69e-4db0-a94f-1489b5807f43

[2020-02-20 10:51] rito2k commented on #3925
Maybe you want to have a look at: https://docs.microsoft.com/en-us/microsoftteams/guest-experience

[2020-02-20 11:06] andyjballgit commented on #3973
Hi,

I get page not found for that link - my point really was , it should be on the page where i logged this issue , i spent a while faffing around trying to find the url and it made me mildly grumpy

cheers
Andy

[2020-02-20 11:50] lindspea commented on #3973
@andyjballgit are you on the free version or paid version?  The free version has limitations and does not have access to the Admin Center. Guest access is disabled by default. Here are some articles for reference.https://support.office.com/article/add-guests-to-a-team-in-teams-fccb4fa6-f864-4508-bdde-256e7384a14f?ui=en-US&rs=en-US&ad=US, https://support.office.com/article/differences-between-micro

[2020-02-20 19:10] scanum commented on #3997
@bfnewman  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:10] scanum commented on #3996
@jackvdbuk  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:11] scanum commented on #3995
@Ganym3de  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:11] scanum commented on #3992
@premgan  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 19:11] scanum commented on #3991
@mymebenha  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-20 20:00] jackvdbuk commented on #3996
just managed to get this working, requires federation setup as per the guide. all good.

[2020-02-20 20:00] #3996 closed

[2020-02-20 21:00] SergePoint opened #4001 "Future configuration change"
On the top of the page the following text is marked as important:
"In the future, we're making a configuration change in which the Teams meeting recording feature will be turned on for customers whose Teams data is stored in-country even if Microsoft Stream isn't available in the in-country data residency region"
My understanding is that if this is enabled, if Stream is not available in your count

[2020-02-21 01:49] LanaChin commented on #3958
Thanks @cvoigt  for bringing this to our attention.  @dariomws306, I've merged your updates. Thanks!

[2020-02-21 01:49] #3958 closed

[2020-02-21 14:39] ii-batman opened #4004 "So... are holds now in place automatically or do I still need to hold mailboxes?"
This part:
 Note

In Feb 2020, we turned on legal hold or case hold on private channels (private channel chats are stored in user mailboxes, normal channel chats are stored in that Teams’ group mailboxes). If there is already a legal hold in place for a user mailbox, the hold policy will now automatically apply to private channel messages stored in that mailbox. There is no further action needed f

[2020-02-21 15:03] rickleye opened #4005 "Pls validate this statement"
To use Microsoft Phone System with Teams, users must be in TeamsOnly mode.
I have 2 user on 2 different tenants - set for Island mode in which i can place phone calls from both Teams/Skype for Business. Now when I get a call, It appears that the Skype End point gets the call. Is this what you mean that to use MS Phone System users must be in TeamsOnly mode ?

[Enter feedback here]

---
#### Docume

[2020-02-21 15:04] Patel1984 opened #4006 "Allow Pin apps - not working"
The Team apps setup policy has 'Allow user pinning' set to ON, which is a presumption that users are allowed to pin apps.

However we have had a few issues around this where users pin an app e.g. Planner or OneNote and it successfully pins the app in the pane but after a few minutes the user receives the following message - "Your admin has updated your settings. Some of your pinned apps may have m

[2020-02-21 20:21] scanum commented on #4001
@SergePoint Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:22] scanum commented on #4004
@ii-batman Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:22] scanum commented on #4005
@rickleye Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-21 20:22] scanum commented on #4006
@Patel1984 thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep u

[2020-02-21 20:22] #4006 closed

[2020-02-21 22:48] annerajb opened #4009 "Please update to reflect new Teams Meeting Room License SKU"
There is a new Teams Meeting Room SKU
The documents make no mention of it and makes reference to old versions of the licenses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05282aa8-ae14-117b-5885-7d851ee66b89
* Version Independent ID: 85abe13c-d34c-f42c-e273-a69be8cd991e
* Content: [Deploy Microsoft Teams Rooms with

[2020-02-21 23:16] thomsenhub opened #4010 "Setting up Surface but can't get a Windows 10 Enterprise license"
I have talked to what seems like every department at Microsoft about getting a Windows 10 Enterprise license in order to configure the Surface per the instructions, but cannot get a standalone license. The minimum purchase is 5 licenses via the volume licensing.

It appears small businesses cannot set up a console device piece by piece but must purchase it all together through a third party vendor

[2020-02-22 03:36] ryanruark opened #4011 "Puerto Rico"
Hello - Puerto Rico is part of the United States and is not a separate sovereignty. I recommend you update this document to use the phrase 'United States (including Puerto Rico)' instead of 'United States (and Puerto Rico).'

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1778d5e3-1cd3-9323-d7f0-6ee14aa69f24

[2020-02-24 05:05] Craig-Humphrey opened #4012 "Manage Apps is missing"
I'm a global admin (and a Teams Service Admin), but I don't get the Manage Apps menu item in the Team Admin Centre.
I have Permission policies and Setup policies, but no Manage Apps.
Am I missing something somewhere?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbcabee-fa96-2878-e983-3c966f84ee15
* Version Independe

[2020-02-24 06:01] scanum commented on #4009
@annerajb Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-24 06:01] scanum commented on #4011
@ryanruark Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-24 06:02] scanum commented on #4012
@Craig-Humphrey Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-24 06:02] scanum commented on #4010
@thomsenhub thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-24 06:02] #4010 closed

[2020-02-24 08:28] flcev opened #4013 "Manage Apps is missing"
Manage Apps is missing.
Where can you manage what apps are deployed automatically? Setup policies mention pinned apps, but does a pinned app also mean that it is automatically installed for all users that have the policy, or does it just state the order?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbcabee-fa96-2878

[2020-02-24 09:08] KaaNee opened #4014 "Microsoft Teams - React-icons missing in WebView"
Since a few days, the "react" icons are missing in the webview of microsoft teams, and "reaction" can't be used - the link to react is also missing.
Many of my colleagues have this issue with different OS/Browsers.

<img width="242" alt="grafik" src="https://user-images.githubusercontent.com/3414703/75139407-d5f38b80-56ec-11ea-8538-aaf27d49927d.png">

[2020-02-24 10:34] trudolf-msft opened #4015 "Hybrid communication flows"
It would be great to have some communication flows for Hybrid scenarios.
e.g. Teams client uses EWS to gather data from Exchange OnPrem mailbox

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8456689d-6f04-fa5e-4f51-f413cb0b9d89
* Version Independent ID: e9b85126-0db7-4378-ad44-514e52f9fde1
* Content: [How Exchange and

[2020-02-24 13:16] paul-lange opened #4016 "Name of step 7"
The name of step 7 is misleading in my opinion. It should be something like "Create a voice route for an analog device"
A voice route is not assigned to an analog device. There is no object in Teams for the analog device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea0bc170-d9d9-c17a-adc8-d37cb5fe3df5
* Version Inde

[2020-02-24 17:36] lindspea commented on #3884
@LanaChin please could you have a look at this issue and let me know if there is anything I can do to help from my side. The team mentioned that there could be work going on with this doc set.

[2020-02-24 17:40] Sezotove opened #4018 "Tenant Dial Plans"
I've been working with Support for close to 6+months now on deploying this correctly and I'm now being told that we must use Tenant Dial Plans. Is this the case? Can we get clarification on this and perhaps some extra info on using those? I've checked the Translate Phone Numbers page and I don't believe this answers my questions or confirms for me what support is saying.

---
#### Document Details

[2020-02-24 17:42] Sezotove commented on #4018
Maybe I should elaborate, perhaps they're not needed but as I'm trying to setup 911 and international calling, I'm being instructed to do so via TenantDialPlans and support seems to believe this is the only way to do it.

[2020-02-24 18:23] toddjohnson39 commented on #3856
Please provide an update

[2020-02-24 18:50] JAK1047 opened #4019 "Update Installer Links"
I see Machine Wide Installer Teams is already up to version 1.3.00.4155 and can be downloaded from https://statics.teams.cdn.office.net/production-windows-x64/1.3.00.4155/Teams_windows_x64.msi but the links here still point to https://statics.teams.cdn.office.net/production-windows-x64/1.2.00.32462/Teams_windows_x64.msi which was the November version. Can we get the links updated or point to an ac

[2020-02-24 19:15] dstrome commented on #3944
This issue has been resolved.

[2020-02-24 19:15] #3944 closed

[2020-02-24 19:45] thomsenhub commented on #4010
@scanum yep tried that on all fronts. Called, entered tickets etc. Just very surprised SMB's potentially cannot take advantage of something like the console without having volume licensing.

[2020-02-24 20:55] Mlavieri commented on #3863
Hello, any update on this? Thank you

[2020-02-24 23:27] LolaJacobsen commented on #3333
I'm going to delete this script. The owner has moved to a different role.

[2020-02-24 23:27] #3333 closed

[2020-02-25 03:08] Lijiaoa opened #4020 "[Microsoft teams] visitor couldn't see teams message in iphone 13.3.1"
I'm a visitor in teams. Manager put me to a XXX teams. I could see messages in windows but couldn't see anything in my Iphone. my phone's system is 13.3.1. It's a bug?

[2020-02-25 03:25] Parroman commented on #2558
https://chrishayward.co.uk/2020/02/06/skype-for-business-server-cloud-voicemail-configuration-tenant-or-tenantid/

It actually looks like you have taken out -tenant or -tenantID now from Set-CsHostedVoicemailPolicy -Identity Global -Description "Global Cloud Voicemail Policy" -Destination exap.um.outlook.com -Organization YourDefaultDomain.onmicrosoft.com -Tenant “11111111-1111-1111-1111-111111111

[2020-02-25 06:31] DanStevensonMSFT opened #4021 "search is not content search"
For most Teams users and admins, when they talk about "search" in Teams, they mean searching for chat messages and files inside the Teams client. That is not the same as "Content Search", which is a compliance feature.  They often get confused about the Exchange dependency because in the old Skype for Business world, message search was based on a folder on Exchange.  That is 100% false for Teams,

[2020-02-25 07:53] Petri-X opened #4022 "Is 1080p 30fps really supported?"
Hi,
You wrote:
"

"
Correct me if I'm wrong, but I have not heard yet that Teams supports Full HD (1080p) on video meetings, except on screen/application sharing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e8b2651-40bb-0d26-6126-d88689047f23
* Version Independent ID: 5be83c7d-ef7f-5582-4a6c-f0709fb2ec7b
* Content:

[2020-02-25 09:20] thomasbinder opened #4024 "New-CsBatchPolicyAssignmentOperation not available yet?"
I just installed the latest "Skype for Business Online PowerShell module" but it seems the cmdlet "New-CsBatchPolicyAssignmentOperation" is not included yet. Any idea how I can use the new cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e53b353e-fe89-00f1-e0c9-7c597dd38eb7
* Version Independent ID: 5a4c9e41-a0f4

[2020-02-25 10:58] Petri-X opened #4025 "But is there an option for External Dialing prefix?"
Hi,

You are writing:

But on the Admin portal the External Access Prefix is a mandatory, so in my mind you cannot say "if user..." as it seems to be a mandatory, which is a bit strange.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 847c0505-3441-b5db-1f81-c7759bffd1e3
* Version Independent ID: 3c6b3820-349f-caf5-c510

[2020-02-25 13:24] BurgerhoutJ opened #4026 "Error while running the SkypeRoomProvisioningScript.ps1"
When I run this script and choose for option 4, I'm getting the following error.

CaptureSkypeCreds : The term 'CaptureSkypeCreds' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At C:\Temp\TeamsRoomProvisioningScript.ps1:940 char:7
+       CaptureSkypeCr

[2020-02-25 13:26] get-itips commented on #3853
Hello @LanaChin Lana, can you help us here? thanks

[2020-02-25 13:28] get-itips commented on #3851
@LolaJacobsen Lola, can you please step in? :) thanks

[2020-02-25 13:30] get-itips commented on #3834
Hello @grahammw 👍 how are you? hope you are doing good.
I wonder if you could see my last message, where I ask, if you can kindly share the error message received, thanks

[2020-02-25 13:32] get-itips commented on #3833
@scanum please close this thread. Thanks

[2020-02-25 13:32] get-itips commented on #3828
@scanum please close this thread, pr was merged.

[2020-02-25 13:48] get-itips commented on #3826
Hello @LanaChin Lana 👍 can you help us here ? Thanks

[2020-02-25 13:48] get-itips commented on #3821
Hello @scanum Manuela please close this thread.

[2020-02-25 13:49] get-itips commented on #3818
@scanum please close this thread

[2020-02-25 13:50] get-itips commented on #3816
@scanum please close this thread, PR was merged.

[2020-02-25 13:50] get-itips commented on #3813
@scanum please close this thread

[2020-02-25 13:51] get-itips commented on #3811
@scanum please close this thread.

[2020-02-25 13:51] get-itips commented on #3810
Hello @scanum can you help finding the right person to ask here? Thanks

[2020-02-25 13:52] get-itips commented on #3809
@scanum please close this thread

[2020-02-25 13:52] get-itips commented on #3804
@scanum please close this thread. thanks

[2020-02-25 13:53] get-itips commented on #3802
@LanaChin Lana, can you shed some light here? Thanks

[2020-02-25 13:53] get-itips commented on #3794
@LolaJacobsen 👍 Lola, can you help? Thanks

[2020-02-25 15:13] netresults-scott opened #4027 "Link to 'Pricing for Audio Conferencing' returns a 404"
The link for Pricing (https://products.office.com/skype-for-business/audio-conferencing#Requirements ) dead-ends at a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c6c2e6-a1c7-dd0c-dbe3-0072497282d5
* Version Independent ID: 1b09ca3d-f45e-5540-40b4-8c3b7176fc81
* Content: [Try or purchase Audio Conferencing in

[2020-02-25 15:24] johnbam21 commented on #3436
So just to be clear, we are able to check PSTN Usage reports for upto 12 months? Is there anyway to manage this retention period i.e. reduce it or is 12 months by default?

Many Thanks
John

[2020-02-25 16:51] LanaChin commented on #3959
Thanks for your input. This has been updated.

[2020-02-25 16:53] Markus-Hanisch opened #4028 "Private Teams channel SharePoint Site - SharingPolicy"
In my dev tenant, I disabled Guest Access for group-connected SharePoint Sites by default via PowerShell, i.e. for Microsoft Teams and its SharePoint TeamSites as well:
[code]

Furthermore, I created a alert policy to send alerts if the SharingPolicy settings of a SharePoint site have been changed. An excerpt of the alert policy information are stated below:

Workload:SharePoint

When I create a n

[2020-02-25 18:44] ii-batman commented on #4004
@scanum
Hi - Do you have an update on this one? :)
Thanks, II

[2020-02-25 19:46] prashant1380 commented on #3947
Sorry I missed to mention graph API. So I am looking for a solution to filter guests using graph API

[2020-02-25 19:56] dariomws306 commented on #3947
@prashant1380 docs.microsoft.com feedback is available to help us improve documentation. I think you can filter guests using graph API since Teams PowerShell is based on Graph, but I kindly ask you to go to following place for these type of questions:
https://techcommunity.microsoft.com/

[2020-02-26 00:58] pyoungberg commented on #3909
Is there any way to use Calling Credits instead of buying an entire calling plan for each and every Teams Room System?

[2020-02-26 01:46] LotusPainter opened #4032 "Save meeting recordings to a channel"
By default, meeting recordings are not put in any channel. Is it possible to change the default channel the recording is put into at creation? I don't want to have to manually move the location after the fact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc665475-f843-e4c1-0ca6-0b83873abb54
* Version Independent ID:

[2020-02-26 10:24] DanStevensonMSFT opened #4033 "confusing points"
1) It is unclear if a user needs a Teams license to attend (view) a Live Event if the event is set to company only or specific people/groups. The text talks about license requirements for "participate" which is not the same as "produce" or "attend"

2) the doc uses the Microsoft internal jargon term GoLocal. there are standard ways of describing Microsoft data centers

---
#### Document Details

⚠

[2020-02-26 11:07] MatthewSteeples opened #4034 "Video won't load"
The video under `Take three minutes to check out this go-to-guide video for team owners:` says

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06059d07-6687-2924-7d0a-3c03220a1650
* Version Independent ID: bb293f92-9394-b156-2e08-0baead5c3bbe
* Content: [Overview of teams and channels in Microsoft Teams - Microsoft Team

[2020-02-26 11:45] Petri-X opened #4035 "Route calls out from tenant possible?"
Hi,
On here: "**When the maximum number of calls is reached**" there is only two options:
- Disconnect
- Redirect to a) Person in your company b) Voice application

Is it really so, it is not possible to route call out from the tenant? That would be helpful when other customer management services are in use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-02-26 14:28] StephanGee opened #4036 "Allow dial-in users to bypass the lobby does not work"
I activated this setting in the global policy to smooth our migration from Skype for Business last week.
But it does not work as expected. If "true" all dial in participants are still in the lobby.

Also the description seems to be wrong - on "false" - everyone can join directly?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com

[2020-02-26 14:55] blyakhmanv commented on #3856
Please provide an update on this issue.Because of this issue we can't use apps in the Teams desktop which is very disappointing and prevent us to extensively use Teams.

[2020-02-26 15:00] blyakhmanv opened #4037 "Conditional Access may not work when using the "Website" or "Azure DevOps" tab in the desktop app - timeline to fix"
When this issue which was reported 7/1/18 is going to be fixed? because of this issue we can't use apps in the Teams.
Thank you,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ddf8ce-fda9-ee9d-d96a-801f9a2f66b7
* Version Independent ID: 9aa5a49f-c440-95a8-83a1-9d38bdaeda39
* Content: [Known issues for Microsoft Teams

[2020-02-26 17:53] dotnick365 opened #4038 "Restricted Team Creation"
Can we clarify in this article how creation of private channels will interact where organizations have restricted creation of Team/O365-Groups/SP-Sites? Will that also impact creation of private channels?

It is clear that you can restrict creation of private channels using the above methods, but not clear if the private channel creation policy also inherits from the Group/Team/Site creation polic

[2020-02-26 18:02] scanum commented on #4013
@flcev  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:02] scanum commented on #4015
@trudolf-msft  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:03] scanum commented on #4016
@paul-lange  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:04] scanum commented on #4018
@Sezotove  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:04] scanum commented on #4019
@JAK1047  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:05] scanum commented on #4021
@DanStevensonMSFT  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:05] scanum commented on #4022
@Petri-X  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:05] scanum commented on #4025
@Petri-X  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:05] scanum commented on #4027
@netresults-scott  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:05] scanum commented on #4032
@LotusPainter  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:06] scanum commented on #4033
@DanStevensonMSFT  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:06] scanum commented on #4034
@MatthewSteeples  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:06] scanum commented on #4035
@Petri-X  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:06] scanum commented on #4036
@StephanGee  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:06] scanum commented on #4037
@blyakhmanv  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:07] scanum commented on #4038
@dotnick365  Thank you for submitting feedback and contributing to the docs. We are currently investigating this.

[2020-02-26 18:07] scanum commented on #4026
@BurgerhoutJ thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep

[2020-02-26 18:07] scanum commented on #4020
@Lijiaoa thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us

[2020-02-26 18:07] #4020 closed

[2020-02-26 18:07] scanum commented on #4028
@Markus-Hanisch thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please k

[2020-02-26 18:07] #4028 closed

[2020-02-26 18:07] scanum commented on #4024
@thomasbinder thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please kee

[2020-02-26 18:07] #4024 closed

[2020-02-26 18:09] scanum commented on #4014
thank you for submitting feedback.
I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome let me know if it is something that can be called out in the docs.
Please follow this link to contact support for business products:https://docs.microsoft.com/office365/admin/contact-support-for-business-products
Please keep us posted he

[2020-02-26 18:09] #4014 closed

[2020-02-26 18:10] scanum commented on #1861
@SerdarSoysal Hi! Following up on this issue, wondering if there are any updates. Thanks!

[2020-02-26 18:17] scanum commented on #3392
@LanaChin Hi Lana, is this an issue that you can help us with? Thanks!

[2020-02-26 18:19] scanum commented on #3484
@sowjanya365 Could you please aid with this issue? Thanks

[2020-02-26 18:20] scanum commented on #3546
@dstrome Any updates on this? Thanks!

[2020-02-26 18:23] scanum commented on #3650
@TorrenManson Thank you for submitting feedback. We understand that this issue has been resolved.
Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.